Repository lbds137/tzurot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["prettier --write", "eslint --fix --max-warnings=0 --no-warn-ignored"],
  "*.{md,json,yml,yaml}": ["prettier --write"],
  "*.{ts,tsx,js,jsx,json}": ["secretlint"]
}

feat(bot-client): kind→slot/capability vocabulary + capability-agnostic preset pickers (S4b-2b)
  packages/common-types/src/constants/ai.ts
  packages/common-types/src/constants/index.ts
  packages/common-types/src/generated/commandOptions.ts
  packages/common-types/src/utils/autocompleteFormat.ts
  services/bot-client/command-manifest.json
  services/bot-client/src/commands/preset/autocomplete.test.ts
  services/bot-client/src/commands/preset/autocomplete.ts
  services/bot-client/src/commands/preset/browse.test.ts
  services/bot-client/src/commands/preset/browse.ts
  services/bot-client/src/commands/preset/browseFilter.test.ts
  services/bot-client/src/commands/preset/browseFilter.ts
  services/bot-client/src/commands/preset/create.test.ts
  services/bot-client/src/commands/preset/create.ts
  services/bot-client/src/commands/preset/global/free-default.test.ts
  services/bot-client/src/commands/preset/global/free-default.ts
  services/bot-client/src/commands/preset/global/set-default.test.ts
  services/bot-client/src/commands/preset/global/set-default.ts
  services/bot-client/src/commands/preset/index.ts
  services/bot-client/src/commands/settings/index.ts
  services/bot-client/src/commands/settings/preset/autocomplete.test.ts
  services/bot-client/src/commands/settings/preset/autocomplete.ts
  services/bot-client/src/commands/settings/preset/clear-default.ts
  services/bot-client/src/commands/settings/preset/clear.test.ts
  services/bot-client/src/commands/settings/preset/clear.ts
  services/bot-client/src/commands/settings/preset/set-default.test.ts
  services/bot-client/src/commands/settings/preset/set-default.ts
  services/bot-client/src/commands/settings/preset/set.test.ts
  services/bot-client/src/commands/settings/preset/set.ts
  services/bot-client/src/handlers/__snapshots__/CommandHandler.component.test.ts.snap
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): mark S2b shipped (#1379), point Next → S2c
  CURRENT.md
  backlog/active-epic.md
Due: prettier --write

fix(bot-client): forward-aware voice detection in reference-dedup diagnostics
  services/bot-client/src/services/contextBuilder/ReferenceExtractor.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): consolidate UX-system idea into a theme + 5-dim audit findings
  backlog/cold/ideas.md
  backlog/cold/queue.md
  backlog/cold/themes/platform-portable-ux-layer.md
Due: prettier --write

fix(bot-client): /settings preset set + set-default send the chosen slot
  services/bot-client/src/commands/settings/preset/handlers.test.ts
  services/bot-client/src/commands/settings/preset/set-default.test.ts
  services/bot-client/src/commands/settings/preset/set-default.ts
  services/bot-client/src/commands/settings/preset/set.test.ts
  services/bot-client/src/commands/settings/preset/set.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

chore(bot-client): remove dead LinkExtractor.extractLinkReferences
  backlog/cold/follow-ups.md
  services/bot-client/src/handlers/MessageReferenceExtractor.ts
  services/bot-client/src/handlers/references/LinkExtractor.test.ts
  services/bot-client/src/handlers/references/LinkExtractor.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

feat(api-gateway): global/free defaults via AdminSettings pointers
  packages/config-resolver/src/LlmConfigResolver.test.ts
  packages/config-resolver/src/LlmConfigResolver.ts
  packages/config-resolver/src/VisionConfigResolver.test.ts
  packages/config-resolver/src/VisionConfigResolver.ts
  packages/test-utils/schema/pglite-schema.sql
  prisma/migrations/20260629132250_add_admin_settings_default_pointers/migration.sql
  prisma/schema.prisma
  services/api-gateway/src/index.ts
  services/api-gateway/src/routes/admin/llm-config.test.ts
  services/api-gateway/src/routes/admin/llm-config.ts
  services/api-gateway/src/services/LlmConfigService.component.test.ts
  services/api-gateway/src/services/LlmConfigService.test.ts
  services/api-gateway/src/services/LlmConfigService.ts
  services/api-gateway/src/services/VisionConfigBootstrap.test.ts
  services/api-gateway/src/services/VisionConfigBootstrap.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): track S4b-1 review follow-ups (browse perf + kind-column nuance)
  backlog/cold/follow-ups.md
Due: prettier --write

docs(backlog): mark S2a shipped (#1378), reshape S2 → S2a/S2b/S2c
  CURRENT.md
  backlog/active-epic.md
  backlog/cold/follow-ups.md
  backlog/cold/themes/model-configuration-overhaul.md
Due: prettier --write

docs(repo): reset CURRENT.md + backlog for the beta.142 release
  CURRENT.md
  backlog/cold/follow-ups.md
  backlog/now.md
Due: prettier --write

refactor(api-gateway): gateway model-config cleanup (beta.142 review follow-ups)
  CURRENT.md
  backlog/cold/follow-ups.md
  packages/clients/src/routes/user/configs.ts
  packages/common-types/src/schemas/api/llm-config.ts
  packages/config-resolver/src/LlmConfigResolver.test.ts
  packages/config-resolver/src/LlmConfigResolver.ts
  packages/config-resolver/src/VisionConfigResolver.test.ts
  packages/config-resolver/src/VisionConfigResolver.ts
  services/api-gateway/src/routes/admin/configResponseContract.test.ts
  services/api-gateway/src/routes/admin/llm-config.test.ts
  services/api-gateway/src/routes/admin/llm-config.ts
  services/api-gateway/src/routes/user/llm-config.ts
  services/api-gateway/src/services/LlmConfigService.test.ts
  services/api-gateway/src/services/LlmConfigService.ts
  services/api-gateway/src/utils/llmConfigValidation.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(api-gateway): clear-default reports a fallback per cleared slot, not just chat
  CURRENT.md
  backlog/cold/follow-ups.md
  packages/common-types/src/schemas/api/model-override.test.ts
  packages/common-types/src/schemas/api/model-override.ts
  packages/test-factories/src/factories.test.ts
  packages/test-factories/src/model-override.ts
  services/api-gateway/src/routes/user/model-override.test.ts
  services/api-gateway/src/routes/user/model-override.ts
  services/bot-client/src/commands/settings/preset/clear-default.test.ts
  services/bot-client/src/commands/settings/preset/clear-default.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): fold the write-only-pointer wiring into Phase 4 (deferred PR3)
  backlog/active-epic.md
Due: prettier --write

test: close the beta.142 model-config coverage gaps
  CURRENT.md
  backlog/cold/follow-ups.md
  services/ai-worker/src/services/ModelCapabilityChecker.test.ts
  services/api-gateway/src/routes/admin/llm-config.test.ts
  services/bot-client/src/commands/settings/preset/handlers.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

feat(bot-client): make the owner /preset global picker capability-agnostic
  CURRENT.md
  backlog/cold/follow-ups.md
  packages/clients/src/routes/admin.ts
  services/api-gateway/src/routes/admin/llm-config.test.ts
  services/api-gateway/src/routes/admin/llm-config.ts
  services/bot-client/src/commands/preset/autocomplete.test.ts
  services/bot-client/src/commands/preset/autocomplete.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

perf(api-gateway): coalesce concurrent cold OpenRouterModelCache fetches
  backlog/cold/follow-ups.md
  services/api-gateway/src/services/OpenRouterModelCache.test.ts
  services/api-gateway/src/services/OpenRouterModelCache.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(repo): close out the beta.142 review-followup sweep in CURRENT.md
  CURRENT.md
Due: prettier --write

fix(bot-client): ack-first in 3 dashboard handlers (defer before Redis/gateway)
  services/bot-client/src/commands/deny/detailEdit.test.ts
  services/bot-client/src/commands/deny/detailEdit.ts
  services/bot-client/src/commands/persona/dashboard.test.ts
  services/bot-client/src/commands/persona/dashboard.ts
  services/bot-client/src/utils/dashboard/closeHandler.test.ts
  services/bot-client/src/utils/dashboard/closeHandler.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): track settings-dashboard session-fetch dedup follow-up
  backlog/cold/follow-ups.md
Due: prettier --write

fix(bot-client): ack-first the settings dashboard component handlers
  services/bot-client/src/commands/admin/settings.test.ts
  services/bot-client/src/commands/channel/settings.test.ts
  services/bot-client/src/commands/character/overrides.test.ts
  services/bot-client/src/commands/character/settings.test.ts
  services/bot-client/src/commands/settings/defaults/edit.test.ts
  services/bot-client/src/utils/dashboard/settings/SettingsDashboardHandler.test.ts
  services/bot-client/src/utils/dashboard/settings/SettingsDashboardHandler.ts
  services/bot-client/src/utils/dashboard/settings/settingsInputParser.test.ts
  services/bot-client/src/utils/dashboard/settings/settingsInputParser.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): track edit-path 10062 protection symmetry follow-up
  backlog/cold/follow-ups.md
Due: prettier --write

fix(bot-client): make trigger-message persist non-fatal in submitChatJob
  services/bot-client/src/services/character/PersonalityChatManager.test.ts
  services/bot-client/src/services/character/PersonalityChatManager.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix: drop unused message_metadata GIN index (write-overhead, no reads)
  packages/test-utils/schema/pglite-schema.sql
  prisma/migrations/20260630223919_drop_unused_message_metadata_gin_index/migration.sql
  prisma/schema.prisma
Due: none

docs(backlog): file Database Performance Audit theme
  backlog/cold/queue.md
  backlog/cold/themes/database-performance-audit.md
Due: prettier --write

docs(backlog): file /admin usage Top-Models cross-provider duplication
  backlog/cold/follow-ups.md
Due: prettier --write

fix: make openrouter/free a first-class free model + the last-resort fallback
  packages/common-types/src/constants/ai.test.ts
  packages/common-types/src/constants/ai.ts
  services/api-gateway/src/routes/admin/llm-config.ts
  services/bot-client/src/commands/preset/autocomplete.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): track openrouter/free vision-capability misreport risk
  backlog/cold/follow-ups.md
Due: prettier --write

fix(bot-client): ack-first handleSettingsModal — defer before the Redis read
  services/bot-client/src/utils/dashboard/settings/SettingsDashboardHandler.test.ts
  services/bot-client/src/utils/dashboard/settings/SettingsDashboardHandler.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): file ack-first sweep edges (safe-defer + context handlers)
  backlog/cold/follow-ups.md
Due: prettier --write
