Repository lbds137/tzurot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["prettier --write", "eslint --fix --max-warnings=0 --no-warn-ignored"],
  "*.{md,json,yml,yaml}": ["prettier --write"],
  "*.{ts,tsx,js,jsx,json}": ["secretlint"]
}

docs: the digest first_person failures are single-quoted spans; owner ruled the validator fix
  CURRENT.md
  backlog/now.md
Due: prettier --write

fix(ai-worker): strip single-quoted spans before the first-person check
  services/ai-worker/src/services/archiveSummary/archiveSummaryValidation.test.ts
  services/ai-worker/src/services/archiveSummary/archiveSummaryValidation.ts
  services/ai-worker/src/services/recentDaysDigest/recentDaysDigestValidation.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): file TASK-1012, the leading-elision over-strip declined in PR #2449 round 2
  tracker/tasks/task-1012 - Quote-stripper-a-leading-elision-opens-a-single-quoted-span-and-can-over-strip-to-a-later-word-boundary-quote.md
Due: prettier --write

docs: close out PR #2449 — board, handoff; TASK-1012 widened
  CURRENT.md
  backlog/now.md
  tracker/tasks/task-1012 - Quote-stripper-a-leading-elision-opens-a-single-quoted-span-and-can-over-strip-to-a-later-word-boundary-quote.md
Due: prettier --write

docs: slice 1 gate met on dev — the owner pair generated at the 12:36Z tick after #2449
  CURRENT.md
  backlog/now.md
Due: prettier --write

docs: record the feed-flip ruling and the exact dashboard path; the trace read follows the click
  CURRENT.md
Due: prettier --write

docs: the post-flip trace read — OFF-arm register back with the digest; owner keeps the dev flip
  CURRENT.md
  backlog/now.md
  docs/proposals/backlog/recent-days-digest.md
Due: prettier --write

docs: owner ruled — cut beta.226 now with the digest lane and carry the Emily flip to prod
  CURRENT.md
  backlog/now.md
Due: prettier --write

chore: bump version to 3.0.0-beta.226
  package.json
  packages/cache-invalidation/package.json
  packages/clients/package.json
  packages/common-types/package.json
  packages/config-resolver/package.json
  packages/conversation-history/package.json
  packages/embeddings/package.json
  packages/identity/package.json
  packages/test-factories/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  services/website/package.json
  tests/package.json
Due: prettier --write, secretlint

docs(legal): retention row for the recent-days digest; file its sweep and export gaps
  docs/legal/PRIVACY_POLICY.md
  tracker/tasks/task-1013 - Recent-days-digest-a-stale-row-is-never-swept-so-unused-digest-text-outlives-its-7-day-window.md
  tracker/tasks/task-1014 - Recent-days-digest-the-account-data-export-omits-`persona_personality_digests`.md
Due: prettier --write

docs(backlog): close task 996, merged as #2443
  tracker/tasks/task-996 - Standing-register-telemetry-log-per-reply-exclamations-per-1k-chars-reply-length-and-completion-tokens.md
Due: prettier --write

docs(backlog): file doc-104 — persist channel and guild metadata for offline readers
  tracker/docs/doc-104 - Idea-Persist-channel-and-guild-metadata-for-offline-readers.md
Due: prettier --write

docs: close out PR #2445 (doc-97 Phase 4 slice 1b) — board, design row, handoff, deploy note
  CURRENT.md
  backlog/now.md
  docs/proposals/backlog/recent-days-digest.md
Due: prettier --write

docs: close out PR #2444 (doc-97 Phase 4 slice 1a) — board and handoff updated
  CURRENT.md
  backlog/now.md
Due: prettier --write

docs: close out PR #2446 (doc-97 Phase 4 slice 2) — board, design row, handoff; file TASK-1010
  CURRENT.md
  backlog/now.md
  docs/proposals/backlog/recent-days-digest.md
  tracker/tasks/task-1010 - voiceArms-eval-harness-renders-neither-characterBlurbs-nor-recentDaysDigest.md
Due: prettier --write

docs: close out PR #2443 (TASK-996) — board and handoff updated
  CURRENT.md
  backlog/now.md
Due: prettier --write

docs(backlog): doc-106 records both owner rulings on flag retirement
  tracker/docs/doc-106 - Theme-Feature-flag-lifecycle-for-system-settings.md
Due: prettier --write

docs(backlog): file TASK-997, the dashboard follow keyword for the cross-channel cap
  tracker/tasks/task-997 - Dashboard-numeric-input-cannot-express-the-terminal-null-explicit-follow-for-crossChannelMaxMessages.md
Due: prettier --write

docs: record the 07:46Z tick rejection and the three-sample dry-run read
  CURRENT.md
  backlog/now.md
Due: prettier --write

docs(backlog): archive TASK-999 — ruled out by owner, cross-env reply IS the assistant turn
  tracker/archive/tasks/task-999 - Dev-extended-context-ingests-a-PROD-webhook-reply-as-its-own-assistant-turn.md
Due: prettier --write

feat(ai-worker): render the recent-days digest as a <recent_days> volatile section
  docs/proposals/backlog/prompt-assembly-architecture.md
  docs/proposals/backlog/recent-days-digest.md
  docs/reference/architecture/system-model.md
  packages/common-types/src/constants/recentDaysDigest.ts
  packages/common-types/src/utils/promptSanitizer.ts
  prisma/schema.prisma
  services/ai-worker/src/jobs/handlers/pipeline/steps/ContextStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/ContextStep.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/conversationContextBuilder.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/recentDaysSeam.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/types.ts
  services/ai-worker/src/services/ConversationalRAGTypes.ts
  services/ai-worker/src/services/PromptBuilder.test.ts
  services/ai-worker/src/services/PromptBuilder.ts
  services/ai-worker/src/services/context/PrismaContextDataSource.test.ts
  services/ai-worker/src/services/context/PrismaContextDataSource.ts
  services/ai-worker/src/services/context/types.ts
  services/ai-worker/src/services/prompt/RecentDaysFormatter.test.ts
  services/ai-worker/src/services/prompt/RecentDaysFormatter.ts
  services/ai-worker/src/services/recentDaysDigest/recentDaysDigestRenderGate.test.ts
  services/ai-worker/src/services/recentDaysDigest/recentDaysDigestRenderGate.ts
  services/ai-worker/src/services/recentDaysDigest/recentDaysDigestStore.component.test.ts
  services/ai-worker/src/services/recentDaysDigest/recentDaysDigestStore.test.ts
  services/ai-worker/src/services/recentDaysDigest/recentDaysDigestStore.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: mark slice 1a shipped in the digest design's phasing row; record 1b's carried items
  docs/proposals/backlog/recent-days-digest.md
Due: prettier --write

docs: record the G1/G2 prod readings in the recent-days digest artifact
  docs/proposals/backlog/recent-days-digest.md
Due: prettier --write

feat(ai-worker): register telemetry on the generated-response log line
  services/ai-worker/src/services/cacheObservability.test.ts
  services/ai-worker/src/services/cacheObservability.ts
  services/ai-worker/src/services/modelInvocation.test.ts
  services/ai-worker/src/services/modelInvocation.ts
  services/ai-worker/src/services/registerMetrics.test.ts
  services/ai-worker/src/services/registerMetrics.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: beta.225 cut — CURRENT.md reset and the beta.226 plan on the board
  CURRENT.md
  backlog/now.md
Due: prettier --write

feat(prisma): add persona_personality_digests for the recent-days digest
  packages/test-utils/schema/pglite-schema.sql
  prisma/migrations/20260917174226_add_persona_personality_digests/migration.sql
  prisma/migrations/20260917184311_add_persona_personality_digests_personality_idx/migration.sql
  prisma/schema.prisma
  services/api-gateway/src/services/sync/config/syncTables.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix: a digest refresh stamp buys one cycle and a dead pair is not re-admitted by a stale stamp
  docs/reference/tooling/OPS_CLI_REFERENCE.md
  packages/common-types/src/services/recentDaysDigestSelection.component.test.ts
  packages/common-types/src/services/recentDaysDigestSelection.ts
  packages/tooling/src/commands/digest.ts
  packages/tooling/src/digest/refresh.ts
  services/ai-worker/src/services/recentDaysDigest/recentDaysDigestStore.component.test.ts
  services/ai-worker/src/services/recentDaysDigest/recentDaysDigestStore.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): file the owner's settings-UX intake (2026-09-17)
  tracker/docs/doc-15 - Theme-Preset-Cascade-Standardization-multi-PR-epic.md
  tracker/docs/doc-72 - Idea-Dashboard-index-navigation-—-hub-page-jump-to-select-back-to-index.md
  tracker/tasks/task-1001 - Reset-to-defaults-button-on-every-settings-page.md
Due: prettier --write

docs(backlog): stamp the memory-prune pass (2026-09-16)
  backlog/cadence-ledger.json
Due: prettier --write, secretlint

docs: record slice 2 (#2446) and the dev gate read — handoff, board, TASK-1007
  CURRENT.md
  backlog/now.md
  tracker/tasks/task-1007 - Recent-days-digest-a-refresh-on-a-never-succeeded-pair-re-admits-it-every-tick-forever-dead-included.md
Due: prettier --write

docs: record PR #2445 (slice 1b) and its monitor in the handoff; open the doc-55 emoji revisit
  CURRENT.md
  tracker/docs/doc-55 - Idea-Vision-describe-stickers-and-custom-emoji-via-a-write-once-asset-cache.md
Due: prettier --write

docs: record the stale agent-worktree removal in the beta.225 handoff
  CURRENT.md
Due: prettier --write

feat: recent-days digest settings pair and the clear/purge lifecycle hooks
  packages/common-types/src/schemas/api/systemSettings.ts
  packages/common-types/src/schemas/api/systemSettingsRegistry.test.ts
  packages/common-types/src/schemas/api/systemSettingsRegistryOperations.test.ts
  packages/common-types/src/schemas/api/systemSettingsRegistryOperations.ts
  packages/common-types/src/schemas/api/systemSettingsRegistryTypes.ts
  services/api-gateway/src/routes/user/history.test.ts
  services/api-gateway/src/routes/user/history.ts
  services/bot-client/src/commands/admin/settings.test.ts
  services/bot-client/src/utils/dashboard/settings/systemSettingsConfig.test.ts
  services/bot-client/src/utils/dashboard/settings/systemSettingsConfig.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

feat: cross-channel history render mode, its own cap knob, and newest-first budgeting
  packages/common-types/src/schemas/api/configOverrides.test.ts
  packages/common-types/src/schemas/api/configOverrides.ts
  packages/common-types/src/types/conversationMessage.ts
  packages/common-types/src/utils/crossChannelEnvironment.test.ts
  packages/common-types/src/utils/crossChannelEnvironment.ts
  packages/config-resolver/src/ConfigCascadeResolver.test.ts
  packages/config-resolver/src/ConfigCascadeResolver.ts
  packages/conversation-history/src/ConversationHistoryService.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/ConfigStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/GenerationStep.test.ts
  services/ai-worker/src/jobs/utils/conversationUtils.ts
  services/ai-worker/src/services/MemoryRetriever.test.ts
  services/ai-worker/src/services/context/ContextAssembler.test.ts
  services/ai-worker/src/services/context/ContextAssembler.ts
  services/ai-worker/src/services/context/CrossChannelSerializer.test.ts
  services/ai-worker/src/services/context/CrossChannelSerializer.ts
  services/bot-client/src/commands/admin/settings.test.ts
  services/bot-client/src/commands/channel/settings.test.ts
  services/bot-client/src/commands/character/overrides.test.ts
  services/bot-client/src/commands/character/settings.test.ts
  services/bot-client/src/commands/settings/defaults/edit.test.ts
  services/bot-client/src/utils/dashboard/settings/SettingsDashboardBuilder.test.ts
  services/bot-client/src/utils/dashboard/settings/SettingsDashboardBuilder.ts
  services/bot-client/src/utils/dashboard/settings/settingsConfig.ts
  services/bot-client/src/utils/dashboard/settings/settingsDataBuilder.test.ts
  services/bot-client/src/utils/dashboard/settings/settingsDataBuilder.ts
  services/bot-client/src/utils/dashboard/settings/settingsUpdate.test.ts
  services/bot-client/src/utils/dashboard/settings/settingsUpdate.ts
  services/bot-client/src/utils/dashboard/settings/settingsUpdateFactory.test.ts
  services/bot-client/src/utils/dashboard/settings/types.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

feat: recent-days digest generator — sweep, validators, store, usage rows, ops commands
  docs/reference/tooling/OPS_CLI_REFERENCE.md
  packages/common-types/src/constants/recentDaysDigest.test.ts
  packages/common-types/src/constants/recentDaysDigest.ts
  packages/common-types/src/services/recentDaysDigestSelection.component.test.ts
  packages/common-types/src/services/recentDaysDigestSelection.test.ts
  packages/common-types/src/services/recentDaysDigestSelection.ts
  packages/common-types/src/utils/deterministicUuid.test.ts
  packages/common-types/src/utils/deterministicUuid.ts
  packages/tooling/src/cli.ts
  packages/tooling/src/commands/digest.ts
  packages/tooling/src/dev/check-boundaries.ts
  packages/tooling/src/dev/check-ops-doc.ts
  packages/tooling/src/digest/candidates.test.ts
  packages/tooling/src/digest/candidates.ts
  packages/tooling/src/digest/refresh.test.ts
  packages/tooling/src/digest/refresh.ts
  prisma/schema.prisma
  services/ai-worker/src/index.ts
  services/ai-worker/src/jobs/scheduledJobSchedule.test.ts
  services/ai-worker/src/jobs/scheduledJobSchedule.ts
  services/ai-worker/src/services/recentDaysDigest/makeRecentDaysDigestInvoker.test.ts
  services/ai-worker/src/services/recentDaysDigest/makeRecentDaysDigestInvoker.ts
  services/ai-worker/src/services/recentDaysDigest/recentDaysDigestInput.test.ts
  services/ai-worker/src/services/recentDaysDigest/recentDaysDigestInput.ts
  services/ai-worker/src/services/recentDaysDigest/recentDaysDigestPrompt.test.ts
  services/ai-worker/src/services/recentDaysDigest/recentDaysDigestPrompt.ts
  services/ai-worker/src/services/recentDaysDigest/recentDaysDigestStore.component.test.ts
  services/ai-worker/src/services/recentDaysDigest/recentDaysDigestStore.test.ts
  services/ai-worker/src/services/recentDaysDigest/recentDaysDigestStore.ts
  services/ai-worker/src/services/recentDaysDigest/recentDaysDigestSweep.test.ts
  services/ai-worker/src/services/recentDaysDigest/recentDaysDigestSweep.ts
  services/ai-worker/src/services/recentDaysDigest/recentDaysDigestUsageLog.test.ts
  services/ai-worker/src/services/recentDaysDigest/recentDaysDigestUsageLog.ts
  services/ai-worker/src/services/recentDaysDigest/recentDaysDigestValidation.test.ts
  services/ai-worker/src/services/recentDaysDigest/recentDaysDigestValidation.ts
  services/api-gateway/src/routes/user/history.test.ts
  services/api-gateway/src/routes/user/history.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): file doc-106 — feature-flag lifecycle for system settings (owner intake)
  backlog/cold/queue.md
  tracker/docs/doc-106 - Theme-Feature-flag-lifecycle-for-system-settings.md
Due: prettier --write
