Repository lbds137/tzurot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["prettier --write", "eslint --fix --max-warnings=0 --no-warn-ignored"],
  "*.{md,json,yml,yaml}": ["prettier --write"],
  "*.{ts,tsx,js,jsx,json}": ["secretlint"]
}

fix(common-types): make normalizeSlugForUser idempotent for non-owners
  packages/common-types/src/utils/slugUtils.test.ts
  packages/common-types/src/utils/slugUtils.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

feat(api-gateway): add computeNameForPromotion route helper
  services/api-gateway/src/utils/normalizeConfigNameOnPromote.test.ts
  services/api-gateway/src/utils/normalizeConfigNameOnPromote.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

feat(api-gateway): suffix user-promoted global config names with username
  services/api-gateway/src/routes/user/llm-config.test.ts
  services/api-gateway/src/routes/user/llm-config.ts
  services/api-gateway/src/routes/user/tts-config.test.ts
  services/api-gateway/src/routes/user/tts-config.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): close normalizeSlugForUser entry (shipped in PR #965), file P2002 collision edge case
  backlog/inbox.md
Due: prettier --write

fix(ai-worker): unify audio post-processing into single ffmpeg pass (loudnorm + Opus)
  services/ai-worker/src/jobs/handlers/pipeline/steps/TTSStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/TTSStep.ts
  services/ai-worker/src/services/voice/VoiceEngineClient.test.ts
  services/ai-worker/src/services/voice/VoiceEngineClient.ts
  services/ai-worker/src/services/voice/audioNormalizer.test.ts
  services/ai-worker/src/services/voice/audioNormalizer.ts
  services/ai-worker/src/services/voice/ttsSynthesizer.test.ts
  services/ai-worker/src/services/voice/ttsSynthesizer.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(husky): align pglite regen with canonical generator (matches CI)
  .husky/pre-commit
Due: none

perf(api-gateway): parallelize fetchAllTzurotVoices via Promise.allSettled
  services/api-gateway/src/routes/user/voices.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(api-gateway): translate cross-user global P2002 to friendly nameCollision
  services/api-gateway/src/routes/user/llm-config.ts
  services/api-gateway/src/routes/user/tts-config.ts
  services/api-gateway/src/services/LlmConfigService.test.ts
  services/api-gateway/src/services/LlmConfigService.ts
  services/api-gateway/src/services/TtsConfigService.test.ts
  services/api-gateway/src/services/TtsConfigService.ts
  services/api-gateway/src/utils/normalizeConfigNameOnPromote.test.ts
  services/api-gateway/src/utils/normalizeConfigNameOnPromote.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

chore(voice-engine): remove dead /v1/audio/transcode endpoint + Opus encoding
  services/voice-engine/server.py
  services/voice-engine/tests/test_openai_compat.py
  services/voice-engine/tests/test_transcode.py
  services/voice-engine/tests/test_tts.py
Due: none

feat(common-types): add mockClearTtsDefaultConfigResponse factory for parity
  packages/common-types/src/factories/factories.test.ts
  packages/common-types/src/factories/index.ts
  packages/common-types/src/factories/tts-override.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

chore(bot-client): use validated factory in tts/clear-default.test
  services/bot-client/src/commands/settings/tts/clear-default.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(repo): close PR #966 — 4 inbox items shipped, file factory JSDoc consistency
  CURRENT.md
  backlog/inbox.md
Due: prettier --write

chore: bump version to 3.0.0-beta.115
  package.json
  packages/common-types/package.json
  packages/embeddings/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  tests/package.json
Due: prettier --write, secretlint

docs(backlog): file 5 PR #967 release-gate review observations
  backlog/inbox.md
Due: prettier --write

docs(backlog): file 2 PR #968 round-4 review observations
  backlog/inbox.md
Due: prettier --write

feat(api-gateway,prisma): wire tts_configs into db-sync + add global-name unique index
  prisma/drift-ignore.json
  prisma/migrations/20260504062203_tts_config_global_name_unique/migration.sql
  prisma/migrations/20260504065151_make_tts_default_fk_deferrable/migration.sql
  services/api-gateway/src/services/DatabaseSyncService.int.test.ts
  services/api-gateway/src/services/DatabaseSyncService.test.ts
  services/api-gateway/src/services/DatabaseSyncService.ts
  services/api-gateway/src/services/sync/config/syncTables.test.ts
  services/api-gateway/src/services/sync/config/syncTables.ts
  services/api-gateway/src/services/sync/utils/ttsConfigSingletons.test.ts
  services/api-gateway/src/services/sync/utils/ttsConfigSingletons.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(repo): refresh CURRENT.md for PR 3b in-progress status
  CURRENT.md
Due: prettier --write

chore(prisma): make implicit ON DELETE SET NULL explicit on UserPersonalityConfig FKs
  prisma/schema.prisma
Due: none

fix(ai-worker): invalidate ElevenLabs voice cache on synthesize 404
  services/ai-worker/src/services/voice/providers/ElevenLabsTtsProvider.test.ts
  services/ai-worker/src/services/voice/providers/ElevenLabsTtsProvider.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

refactor(api-gateway): split apiKeyValidation.ts per provider
  services/api-gateway/src/utils/apiKeyValidation.test.ts
  services/api-gateway/src/utils/apiKeyValidation.ts
  services/api-gateway/src/utils/apiKeyValidation/elevenlabs.test.ts
  services/api-gateway/src/utils/apiKeyValidation/elevenlabs.ts
  services/api-gateway/src/utils/apiKeyValidation/mistral.test.ts
  services/api-gateway/src/utils/apiKeyValidation/mistral.ts
  services/api-gateway/src/utils/apiKeyValidation/openrouter.test.ts
  services/api-gateway/src/utils/apiKeyValidation/openrouter.ts
  services/api-gateway/src/utils/apiKeyValidation/types.ts
  services/api-gateway/src/utils/apiKeyValidation/zaiCoding.test.ts
  services/api-gateway/src/utils/apiKeyValidation/zaiCoding.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

ci(husky): add guard:duplicate-exports to pre-push (catch CI failures locally)
  .husky/pre-push
Due: none

fix(common-types): break TtsProvider/TtsProviderError circular import
  packages/common-types/src/services/tts/TtsProvider.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

feat(common-types): add newEffectiveDefault to clear-default response schemas
  packages/common-types/src/factories/factories.test.ts
  packages/common-types/src/factories/model-override.ts
  packages/common-types/src/schemas/api/model-override.test.ts
  packages/common-types/src/schemas/api/model-override.ts
  packages/common-types/src/schemas/api/tts-override.test.ts
  packages/common-types/src/schemas/api/tts-override.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(ai-worker): introduce MistralResponseShapeError for 2xx malformed body
  services/ai-worker/src/services/voice/MistralTtsClient.test.ts
  services/ai-worker/src/services/voice/MistralTtsClient.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix: handle AIProvider.Mistral in remaining exhaustive switches
  services/ai-worker/src/jobs/handlers/pipeline/steps/AuthStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/types.ts
  services/ai-worker/src/services/ApiKeyResolver.ts
  services/ai-worker/src/services/KeyValidationService.ts
  services/ai-worker/src/services/ModelFactory.ts
  services/ai-worker/src/services/voice/audioNormalizer.test.ts
  services/ai-worker/src/services/voice/audioNormalizer.ts
  services/api-gateway/src/utils/apiKeyValidation.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint
