Repository lbds137/tzurot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): file security-audit idea (Verba breach — token/credential exfil surface)
  backlog/cold/ideas.md
Due: prettier --write

docs(docs): amend admin-runtime-settings - all four floor models configurable
  docs/proposals/backlog/admin-runtime-settings.md
Due: prettier --write

docs(backlog): file RAGUtils dead-slice-guard cleanup follow-up (#1610)
  backlog/cold/follow-ups.md
Due: prettier --write

docs(backlog): file goldens-miner apportionment follow-up (current corpus verified unaffected)
  backlog/cold/follow-ups.md
Due: prettier --write

docs(backlog): retrieval A/B result — RRF~=dense, pivot to query-side (1c)
  backlog/active-epic.md
  backlog/now.md
Due: prettier --write

docs(backlog): 1c honest re-baseline RESULT — fold is neutral-to-negative, rung-2 refuted
  backlog/active-epic.md
Due: prettier --write

docs(backlog): file conversation-goldens miner polish follow-up (#1611)
  backlog/cold/follow-ups.md
Due: prettier --write

chore: bump version to 3.0.0-beta.161
  package.json
  packages/cache-invalidation/package.json
  packages/clients/package.json
  packages/common-types/package.json
  packages/config-resolver/package.json
  packages/conversation-history/package.json
  packages/embeddings/package.json
  packages/identity/package.json
  packages/test-factories/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  tests/package.json
Due: prettier --write, secretlint

feat(ai-worker): goldens pooling runner + RRF/recall scoring (retrieval A/B instrument)
  package.json
  services/ai-worker/src/services/eval/goldensPooling.eval.test.ts
  services/ai-worker/src/services/eval/poolScoring.test.ts
  services/ai-worker/src/services/eval/poolScoring.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(docs): update session state for the settings-plumbing + goldens day
  CURRENT.md
Due: prettier --write

docs(repo): beta.161 shipped — reset unreleased, session log, release-review follow-ups
  CURRENT.md
  backlog/cold/follow-ups.md
Due: prettier --write

docs(backlog): sweep beta.161-shipped items — 1c quick win removed, lock-guard live
  backlog/now.md
Due: prettier --write

feat(bot-client): paged settings dashboards + system-settings pages
  backlog/cold/follow-ups.md
  packages/common-types/src/schemas/api/systemSettings.test.ts
  packages/common-types/src/schemas/api/systemSettings.ts
  services/api-gateway/src/routes/admin/systemSettings.ts
  services/bot-client/src/commands/admin/settings.test.ts
  services/bot-client/src/commands/admin/settings.ts
  services/bot-client/src/commands/admin/settingsSet.test.ts
  services/bot-client/src/commands/admin/settingsSet.ts
  services/bot-client/src/commands/admin/settingsSystemUpdate.test.ts
  services/bot-client/src/commands/admin/settingsSystemUpdate.ts
  services/bot-client/src/commands/channel/settings.test.ts
  services/bot-client/src/commands/character/settings.test.ts
  services/bot-client/src/commands/settings/defaults/edit.test.ts
  services/bot-client/src/commands/settings/defaults/edit.ts
  services/bot-client/src/utils/dashboard/settings/SettingsDashboardBuilder.test.ts
  services/bot-client/src/utils/dashboard/settings/SettingsDashboardBuilder.ts
  services/bot-client/src/utils/dashboard/settings/SettingsDashboardHandler.test.ts
  services/bot-client/src/utils/dashboard/settings/SettingsDashboardHandler.ts
  services/bot-client/src/utils/dashboard/settings/SettingsModalFactory.ts
  services/bot-client/src/utils/dashboard/settings/createSettingsCommandHandlers.test.ts
  services/bot-client/src/utils/dashboard/settings/createSettingsCommandHandlers.ts
  services/bot-client/src/utils/dashboard/settings/index.ts
  services/bot-client/src/utils/dashboard/settings/settingsButtonBuilders.test.ts
  services/bot-client/src/utils/dashboard/settings/settingsButtonBuilders.ts
  services/bot-client/src/utils/dashboard/settings/settingsConfig.ts
  services/bot-client/src/utils/dashboard/settings/settingsDataBuilder.test.ts
  services/bot-client/src/utils/dashboard/settings/settingsDataBuilder.ts
  services/bot-client/src/utils/dashboard/settings/settingsModalSubmit.test.ts
  services/bot-client/src/utils/dashboard/settings/settingsModalSubmit.ts
  services/bot-client/src/utils/dashboard/settings/systemSettingsConfig.test.ts
  services/bot-client/src/utils/dashboard/settings/systemSettingsConfig.ts
  services/bot-client/src/utils/dashboard/settings/types.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(repo): admin-runtime PR 2 shipped — dashboards live on develop; PR 3 staged next
  CURRENT.md
Due: prettier --write

docs(repo): admin-runtime pr3 shipped — boards, env-var doc sweep, floor-vs-default follow-up
  CURRENT.md
  backlog/cold/follow-ups.md
  docs/reference/architecture/model-selection-pipeline.md
  docs/reference/deployment/RAILWAY_OPERATIONS.md
Due: prettier --write

feat(ai-worker): runtime text fallback descent to the floors (D12)
  backlog/cold/follow-ups.md
  packages/common-types/src/constants/discord.test.ts
  packages/common-types/src/constants/discord.ts
  packages/common-types/src/constants/error.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/autoPromotionFallback.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/autoPromotionFallback.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/quotaFallbackRunner.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/quotaFallbackRunner.ts
  services/ai-worker/src/services/LLMInvoker.ts
  services/ai-worker/src/services/quotaFallback.test.ts
  services/ai-worker/src/services/quotaFallback.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(repo): admin-settings epic code-complete — all four slices shipped; queue → memory 1b
  CURRENT.md
  backlog/cold/follow-ups.md
Due: prettier --write

docs(backlog): file dev bag mis-seed spend leak + prod release gate (seed ran w/ gateway env)
  CURRENT.md
  backlog/now.md
Due: prettier --write

docs(backlog): dev haiku leak self-terminated at 956 calls — repair + release gate still open
  backlog/now.md
Due: prettier --write

docs(backlog): dev bag repaired via dashboard; prod gate now includes gateway key reference
  backlog/now.md
Due: prettier --write

docs(backlog): prod bag repaired via authorized SQL — release gate cleared; manifest follow-up filed
  backlog/cold/follow-ups.md
  backlog/now.md
Due: prettier --write

docs(backlog): prod gateway key reference added by owner — bag mis-seed incident fully resolved
  backlog/cold/follow-ups.md
  backlog/now.md
Due: prettier --write

chore: bump version to 3.0.0-beta.162
  package.json
  packages/cache-invalidation/package.json
  packages/clients/package.json
  packages/common-types/package.json
  packages/config-resolver/package.json
  packages/conversation-history/package.json
  packages/embeddings/package.json
  packages/identity/package.json
  packages/test-factories/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  tests/package.json
Due: prettier --write, secretlint

fix(ai-worker): enforce the free-model firewall at every free-floor read
  services/ai-worker/src/jobs/handlers/pipeline/steps/guestModeOverrides.ts
  services/ai-worker/src/services/freeFloors.test.ts
  services/ai-worker/src/services/freeFloors.ts
  services/ai-worker/src/services/multimodal/VisionProcessor.ts
  services/ai-worker/src/services/multimodal/describeImageWithFallback.ts
  services/ai-worker/src/services/multimodal/visionAuthResolver.ts
  services/ai-worker/src/services/quotaFallback.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): file prod retention transaction-expiry finding + db-sync slowness data point
  backlog/cold/follow-ups.md
  backlog/now.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{md,json,yml,yaml})
  eslint --fix --max-warnings=0 --no-warn-ignored: any of: *.{ts,tsx}
  secretlint: any of: *.{ts,tsx,js,jsx,json}
