Repository lbds137/tzurot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["prettier --write", "eslint --fix --max-warnings=0 --no-warn-ignored"],
  "*.{md,json,yml,yaml}": ["prettier --write"],
  "*.{ts,tsx,js,jsx,json}": ["secretlint"]
}

refactor(common-types): relocate memory token schemas out of routes/types (PR-2m step 1)
  packages/common-types/src/routes/types.test.ts
  packages/common-types/src/routes/types.ts
  packages/common-types/src/schemas/api/memory.test.ts
  packages/common-types/src/schemas/api/memory.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): file import/no-duplicates enforcement follow-up (PR #1139)
  backlog/icebox.md
Due: prettier --write

docs(backlog): close PR-2m extraction epic; file api-gateway tsconfig-ref follow-up (#1139)
  backlog/inbox.md
  backlog/quick-wins.md
Due: prettier --write

chore(api-gateway): add @tzurot/clients project reference to tsconfig
  services/api-gateway/tsconfig.json
Due: prettier --write, secretlint

docs(backlog): re-scope import/no-duplicates + barrel-kill follow-ups with measured findings
  backlog/icebox.md
Due: prettier --write

docs(backlog): remove shipped import/no-duplicates item (PR #1141)
  backlog/icebox.md
Due: prettier --write

docs(backlog): file PR-2n epic — slim common-types (factories + services extraction)
  backlog/future-themes.md
Due: prettier --write

docs(backlog): close PR-2n Phase 1; file #1142 follow-ups
  CURRENT.md
  backlog/deferred.md
  backlog/future-themes.md
  backlog/quick-wins.md
Due: prettier --write

docs(backlog): record PR-2n Phase 2 council design + Phase 2.5 (bot-client Prisma fix)
  backlog/future-themes.md
Due: prettier --write

docs(backlog): defer test-utils typecheck:spec turbo cache-staleness
  backlog/deferred.md
Due: prettier --write

docs(backlog): generalize structure-test growth-gap entry to both test-infra packages
  backlog/deferred.md
Due: prettier --write

chore(test-utils): bring @tzurot/test-utils up to quality parity
  packages/common-types/src/structure.test.ts
  packages/test-utils/package.json
  packages/test-utils/tsconfig.spec.json
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

chore(deps): bump 7 production deps (supersedes #1136, holds pglite at 0.4.6)
  package.json
  packages/common-types/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  pnpm-lock.yaml
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
Due: prettier --write, secretlint

docs(backlog): icebox the pglite 0.5 + pgvector migration
  backlog/icebox.md
Due: prettier --write

docs(backlog): quick-win to remove dead redis (node-redis) dependency
  backlog/quick-wins.md
Due: prettier --write

fix(bot-client): copy @tzurot/clients dist into Docker runtime stage
  services/bot-client/Dockerfile
Due: none

docs(backlog): quick-win guard for Dockerfile runtime dist copies
  backlog/quick-wins.md
Due: prettier --write

docs(backlog): rotate epics — close typed-client, promote PR-2n; reframe focus to beta.127
  backlog/active-epic.md
  backlog/current-focus.md
  backlog/future-themes.md
Due: prettier --write

chore: bump version to 3.0.0-beta.127
  package.json
  packages/clients/package.json
  packages/common-types/package.json
  packages/embeddings/package.json
  packages/test-factories/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  tests/package.json
Due: prettier --write, secretlint

fix(bot-client): surface partial failures honestly in deny-edit and shapes-status
  services/bot-client/src/commands/deny/detailEdit.test.ts
  services/bot-client/src/commands/deny/detailEdit.ts
  services/bot-client/src/commands/shapes/status.test.ts
  services/bot-client/src/commands/shapes/status.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(skills): document fast-forward fallback for large release PRs
  .claude/skills/tzurot-git-workflow/SKILL.md
Due: prettier --write

refactor(api-gateway): unravel persona legacy route-registration (1/2)
  services/api-gateway/src/routes/user/persona/crud.test.ts
  services/api-gateway/src/routes/user/persona/crud.ts
  services/api-gateway/src/routes/user/persona/default.test.ts
  services/api-gateway/src/routes/user/persona/default.ts
  services/api-gateway/src/routes/user/persona/index.test.ts
  services/api-gateway/src/routes/user/persona/index.ts
  services/api-gateway/src/routes/user/persona/override.test.ts
  services/api-gateway/src/routes/user/persona/override.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): clear shipped quick-wins + deferred items; file extractOwnerId follow-up
  backlog/deferred.md
  backlog/quick-wins.md
Due: prettier --write

test(api-gateway): pass next stub to directly-invoked handlers (RequestHandler arity)
  services/api-gateway/src/routes/user/persona/crud.test.ts
  services/api-gateway/src/routes/user/persona/default.test.ts
  services/api-gateway/src/routes/user/persona/override.test.ts
  services/api-gateway/src/routes/user/shapes/auth.test.ts
  services/api-gateway/src/routes/user/shapes/export.test.ts
  services/api-gateway/src/routes/user/shapes/import.test.ts
  services/api-gateway/src/routes/user/shapes/list.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): swap shipped extractOwnerId consolidation for its follow-up
  backlog/quick-wins.md
Due: prettier --write

refactor(api-gateway): unravel shapes legacy route-registration (2/2)
  services/api-gateway/src/routes/user/shapes/auth.test.ts
  services/api-gateway/src/routes/user/shapes/auth.ts
  services/api-gateway/src/routes/user/shapes/export.test.ts
  services/api-gateway/src/routes/user/shapes/export.ts
  services/api-gateway/src/routes/user/shapes/import.test.ts
  services/api-gateway/src/routes/user/shapes/import.ts
  services/api-gateway/src/routes/user/shapes/list.test.ts
  services/api-gateway/src/routes/user/shapes/list.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint
