Repository lbds137/tzurot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["prettier --write", "eslint --fix --max-warnings=0 --no-warn-ignored"],
  "*.{md,json,yml,yaml}": ["prettier --write"],
  "*.{ts,tsx,js,jsx,json}": ["secretlint"]
}

docs(backlog): resolve-cascade UUID-gate gap from PR #1518 review
  backlog/cold/follow-ups.md
Due: prettier --write

test(repo): stryker rollout — cache-invalidation joins the mutation ratchet
  .github/baselines/mutation-baseline.json
  .github/workflows/ci.yml
  backlog/cold/themes/deterministic-test-quality-tooling.md
  packages/cache-invalidation/package.json
  packages/cache-invalidation/src/ApiKeyCacheInvalidationService.test.ts
  packages/cache-invalidation/src/BaseCacheInvalidationService.test.ts
  packages/cache-invalidation/src/CacheInvalidationService.test.ts
  packages/cache-invalidation/src/ChannelActivationCacheInvalidationService.test.ts
  packages/cache-invalidation/src/ConfigCascadeCacheInvalidationService.test.ts
  packages/cache-invalidation/src/DenylistCacheInvalidationService.test.ts
  packages/cache-invalidation/src/LlmConfigCacheInvalidationService.test.ts
  packages/cache-invalidation/src/PersonaCacheInvalidationService.test.ts
  packages/cache-invalidation/src/SttResolverCacheInvalidationService.test.ts
  packages/cache-invalidation/src/TtsConfigCacheInvalidationService.test.ts
  packages/cache-invalidation/stryker-logger-ignorer.mjs
  packages/cache-invalidation/stryker.config.mjs
  packages/tooling/src/test/mutation-check.test.ts
  packages/tooling/src/test/mutation-check.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(docs): beta.151 shipped — release reset
  CURRENT.md
Due: prettier --write

docs(rules): indexes ship with their query — db-audit phase 1
  .claude/rules/03-database.md
  backlog/cold/themes/database-performance-audit.md
Due: prettier --write

docs(backlog): promote memory system overhaul to active epic
  backlog/active-epic.md
  backlog/cold/queue.md
  backlog/cold/themes/memory-system-overhaul.md
  backlog/now.md
  backlog/references.md
Due: prettier --write

docs(backlog): re-link ingestion proposal orphaned by the theme absorption
  backlog/active-epic.md
Due: prettier --write

docs(rules): working-posture rule — how to drive a session
  .claude/rules/10-working-posture.md
  CLAUDE.md
Due: prettier --write

docs(rules): handoff-audit round 2 — encode today's doctrine for weaker drivers
  .claude/rules/02-code-standards.md
  .claude/rules/05-tooling.md
  .github/baselines/lines-baseline.json
  CLAUDE.md
  packages/tooling/src/audits/check-claude-content-refs.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): memory phase 2 plan deferred-scope entries
  backlog/cold/follow-ups.md
  backlog/cold/ideas.md
Due: prettier --write

feat(common-types): memory_facts schema + fact-extraction types (phase 2 slice 1)
  backlog/cold/follow-ups.md
  docs/reference/database/PRISMA_DRIFT_ISSUES.md
  packages/common-types/src/constants/ai.ts
  packages/common-types/src/constants/queue.ts
  packages/common-types/src/constants/redis-keys.ts
  packages/common-types/src/schemas/api/fact.test.ts
  packages/common-types/src/schemas/api/fact.ts
  packages/common-types/src/schemas/api/index.ts
  packages/common-types/src/types/jobs.test.ts
  packages/common-types/src/types/jobs.ts
  packages/common-types/src/utils/deterministicUuid.test.ts
  packages/common-types/src/utils/deterministicUuid.ts
  packages/test-utils/schema/pglite-schema.sql
  packages/tooling/src/db/check-migration-safety.test.ts
  packages/tooling/src/db/check-migration-safety.ts
  packages/tooling/src/db/inspect-database.ts
  packages/tooling/src/topology/coverageTopology.ts
  prisma/drift-ignore.json
  prisma/migrations/20260707024943_add_memory_facts_table/migration.sql
  prisma/schema.prisma
  services/api-gateway/src/services/sync/config/syncTables.ts
  services/api-gateway/src/utils/validatedQueue.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): phase 2 slice 1 shipped — epic row
  backlog/active-epic.md
Due: prettier --write

docs(backlog): intake external fable review brief — 8 items + riders filed
  backlog/active-epic.md
  backlog/cold/follow-ups.md
  backlog/cold/ideas.md
  backlog/now.md
Due: prettier --write

feat(ai-worker): async fact-extraction worker in shadow mode (phase 2 slice 2)
  .gitignore
  backlog/cold/follow-ups.md
  package.json
  packages/common-types/src/config/config.ts
  packages/common-types/src/constants/queue.ts
  packages/common-types/src/utils/deterministicUuid.test.ts
  packages/common-types/src/utils/deterministicUuid.ts
  packages/common-types/src/utils/redis.ts
  packages/tooling/src/dev/find-dead-files.ts
  services/ai-worker/src/index.ts
  services/ai-worker/src/jobs/AIJobProcessor.ts
  services/ai-worker/src/jobs/factExtractionSetup.test.ts
  services/ai-worker/src/jobs/factExtractionSetup.ts
  services/ai-worker/src/services/ConversationalRAGService.test.ts
  services/ai-worker/src/services/ConversationalRAGService.ts
  services/ai-worker/src/services/LongTermMemoryService.test.ts
  services/ai-worker/src/services/LongTermMemoryService.ts
  services/ai-worker/src/services/eval/extraction-goldens.json
  services/ai-worker/src/services/eval/factEquivalence.test.ts
  services/ai-worker/src/services/eval/factEquivalence.ts
  services/ai-worker/src/services/eval/memoryExtraction.eval.test.ts
  services/ai-worker/src/services/extraction/ExtractionBudget.test.ts
  services/ai-worker/src/services/extraction/ExtractionBudget.ts
  services/ai-worker/src/services/extraction/ExtractionTrigger.test.ts
  services/ai-worker/src/services/extraction/ExtractionTrigger.ts
  services/ai-worker/src/services/extraction/FactExtractionService.component.test.ts
  services/ai-worker/src/services/extraction/FactExtractionService.test.ts
  services/ai-worker/src/services/extraction/FactExtractionService.ts
  services/ai-worker/src/services/extraction/FactStore.test.ts
  services/ai-worker/src/services/extraction/FactStore.ts
  services/ai-worker/src/services/extraction/extractionPrompt.test.ts
  services/ai-worker/src/services/extraction/extractionPrompt.ts
  services/ai-worker/src/test/mocks/LongTermMemoryService.mock.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): slice 2 shipped — epic row + post-rebase review follow-ups
  backlog/active-epic.md
  backlog/cold/follow-ups.md
Due: prettier --write

fix(ai-worker): unwrap markdown-fenced extraction responses + eval baseline
  services/ai-worker/src/services/eval/memoryExtraction.eval.test.ts
  services/ai-worker/src/services/eval/phase2-extraction-baseline.json
  services/ai-worker/src/services/extraction/FactExtractionService.ts
  services/ai-worker/src/services/extraction/extractionPrompt.test.ts
  services/ai-worker/src/services/extraction/extractionPrompt.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(docs): session ledger — phase 2 slices 1+2 shipped, brief intaken
  CURRENT.md
Due: prettier --write

fix(ai-worker): joint memory/history allocation — end starvation under history pressure
  backlog/cold/follow-ups.md
  packages/common-types/src/constants/ai.ts
  services/ai-worker/src/services/context/MemoryBudgetManager.test.ts
  services/ai-worker/src/services/context/MemoryBudgetManager.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): memory starvation fix shipped — strike production issue
  backlog/now.md
Due: prettier --write

fix(ai-worker): demote doomed z.ai promotions to their OpenRouter passthrough
  services/ai-worker/src/jobs/handlers/pipeline/steps/AuthStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/AuthStep.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/autoPromotionFallback.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/autoPromotionFallback.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/promotionDemotion.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/promotionDemotion.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

chore: bump version to 3.0.0-beta.152
  package.json
  packages/cache-invalidation/package.json
  packages/clients/package.json
  packages/common-types/package.json
  packages/config-resolver/package.json
  packages/conversation-history/package.json
  packages/embeddings/package.json
  packages/identity/package.json
  packages/test-factories/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  tests/package.json
Due: prettier --write, secretlint

fix(ai-worker): degrade to free default on system key when paid retarget lacks a user key
  services/ai-worker/src/jobs/handlers/pipeline/steps/AuthStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/AuthStep.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/quotaFallbackRunner.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/quotaFallbackRunner.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/retargetRoute.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/retargetRoute.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): fold release-review revival valid_from note into factstore row
  backlog/cold/follow-ups.md
Due: prettier --write
