Repository lbds137/tzurot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["prettier --write", "eslint --fix --max-warnings=0 --no-warn-ignored"],
  "*.{md,json,yml,yaml}": ["prettier --write"],
  "*.{ts,tsx,js,jsx,json}": ["secretlint"]
}

refactor(bot-client): narrow the reset handler param to ButtonInteraction
  services/bot-client/src/commands/channel/settings.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

test(bot-client): colocate handleSetButton tests with its new home
  services/bot-client/src/utils/dashboard/settings/settingsUpdate.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

feat(bot-client): add tier-A confirm on reset; review nits; file TASK-352
  services/bot-client/src/commands/channel/settings.test.ts
  services/bot-client/src/commands/channel/settings.ts
  services/bot-client/src/utils/dashboard/settings/SettingsDashboardHandler.test.ts
  services/bot-client/src/utils/dashboard/settings/SettingsDashboardHandler.ts
  services/bot-client/src/utils/dashboard/settings/index.ts
  tracker/tasks/task-352 - Channel-settings-dashboard-no-live-permission-recheck-on-button-clicks.md
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(bot-client): refresh the session TTL on the reset confirm prompt
  services/bot-client/src/utils/dashboard/settings/SettingsDashboardHandler.ts
  tracker/tasks/task-353 - Settings-update-handlers-catch-branch-error-text-composes-redundantly-4-sites.md
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

feat(bot-client): reset-to-defaults button on the channel settings dashboard
  services/bot-client/src/commands/channel/settings.test.ts
  services/bot-client/src/commands/channel/settings.ts
  services/bot-client/src/utils/dashboard/settings/SettingsDashboardBuilder.test.ts
  services/bot-client/src/utils/dashboard/settings/SettingsDashboardBuilder.ts
  services/bot-client/src/utils/dashboard/settings/SettingsDashboardHandler.test.ts
  services/bot-client/src/utils/dashboard/settings/SettingsDashboardHandler.ts
  services/bot-client/src/utils/dashboard/settings/createSettingsCommandHandlers.test.ts
  services/bot-client/src/utils/dashboard/settings/createSettingsCommandHandlers.ts
  services/bot-client/src/utils/dashboard/settings/settingsUpdate.ts
  services/bot-client/src/utils/dashboard/settings/types.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): record #1854 merge; close TASK-126
  CURRENT.md
  tracker/tasks/task-126 - Wire-clearChannelConfigOverrides-close-settingstestts-coverage-gaps.md
Due: prettier --write

fix(ai-worker): free-model router always reports vision-capable
  services/ai-worker/src/services/ModelCapabilityChecker.test.ts
  services/ai-worker/src/services/ModelCapabilityChecker.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): record #1855 merge; close TASK-194
  CURRENT.md
  tracker/tasks/task-194 - modelSupportsVisionopenrouterfree-can-misreport-non-vision-on-a-catalog-cache-mi.md
Due: prettier --write

fix(api-gateway): bound the reconcile-off-db sweep to batches
  packages/common-types/src/schemas/api/internal.test.ts
  packages/common-types/src/schemas/api/internal.ts
  packages/tooling/src/retention/purge.test.ts
  packages/tooling/src/retention/reconcile-off-db.test.ts
  packages/tooling/src/retention/reconcile-off-db.ts
  services/api-gateway/src/routes/conformance/fixtures/internal.ts
  services/api-gateway/src/routes/internal/retentionReconcileOffDb.test.ts
  services/api-gateway/src/services/retention/RetentionPurgeService.test.ts
  services/api-gateway/src/services/retention/RetentionPurgeService.ts
  services/api-gateway/src/services/retention/purgeAudit.test.ts
  services/api-gateway/src/services/retention/purgeAudit.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(tooling): distinct cap-exhaustion message; purge surfaces remaining
  packages/tooling/src/retention/purge.test.ts
  packages/tooling/src/retention/purge.ts
  packages/tooling/src/retention/reconcile-off-db.test.ts
  packages/tooling/src/retention/reconcile-off-db.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): record #1856 merge; close TASK-327
  CURRENT.md
  tracker/tasks/task-327 - RetentionPurgeServicereconcileOffDb-and-its-internalretentionreconcile-off-db-ro.md
Due: prettier --write

chore: bump version to 3.0.0-beta.185
  package.json
  packages/cache-invalidation/package.json
  packages/clients/package.json
  packages/common-types/package.json
  packages/config-resolver/package.json
  packages/conversation-history/package.json
  packages/embeddings/package.json
  packages/identity/package.json
  packages/test-factories/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  services/website/package.json
  tests/package.json
Due: prettier --write, secretlint

docs(bot-client): review follow-ups — repoint stale comments, rename, OR pins
  services/bot-client/src/commands/history/index.test.ts
  services/bot-client/src/commands/history/index.ts
  services/bot-client/src/utils/confirmation/confirmDestructive.ts
  services/bot-client/src/utils/customIds.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): record #1850 merge; close TASK-177
  CURRENT.md
  tracker/tasks/task-177 - testaudit-misses-Loaderts-Prisma-services-naming-convention-gap.md
Due: prettier --write

test: widen test:audit to *Loader.ts; add PersonalityLoader component test
  .github/baselines/test-coverage-baseline.json
  packages/identity/src/personality/PersonalityLoader.component.test.ts
  packages/tooling/src/test/audit-unified.ts
  packages/tooling/src/test/audit-version.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(bot-client): move the purge slug out of the customId into the footer
  services/bot-client/src/commands/history/index.test.ts
  services/bot-client/src/commands/history/index.ts
  services/bot-client/src/commands/history/purge.test.ts
  services/bot-client/src/commands/history/purge.ts
  services/bot-client/src/utils/confirmation/confirmDestructive.test.ts
  services/bot-client/src/utils/confirmation/confirmDestructive.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(bot-client): deliver errored slots in a PARTIAL multi-tag batch
  services/bot-client/src/services/MultiTagCoordinator.test.ts
  services/bot-client/src/services/MultiTagCoordinator.ts
  services/bot-client/src/services/multiTagCoordinatorHelpers.test.ts
  services/bot-client/src/services/multiTagCoordinatorHelpers.ts
  services/bot-client/src/services/multiTagDeliveryFlow.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): record #1852 merge; close TASK-236, file TASK-351
  CURRENT.md
  tracker/tasks/task-236 - Submit-failure-errored-slots-dropped-in-a-PARTIAL-success-multi-tag-batch.md
  tracker/tasks/task-351 - Multi-tag-partial-batch-errored-delivery-debug-log-shutdown-window-drop-class.md
Due: prettier --write

fix(bot-client): log the raw customId in the purge fail-closed warn
  services/bot-client/src/commands/history/index.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: reset CURRENT.md for v3.0.0-beta.184 (unreleased cleared)
  CURRENT.md
Due: prettier --write

test(ai-worker): pin the name-routed job dispatch in AIJobProcessor
  services/ai-worker/src/jobs/AIJobProcessor.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(tooling): close the missing-entry gap in bot-client's Prisma ban list
  packages/common-types/src/services/prisma.ts
  packages/tooling/src/dev/check-boundaries.test.ts
  packages/tooling/src/dev/check-boundaries.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): record #1849 merge; close TASK-50, archive TASK-54 as obsolete
  CURRENT.md
  tracker/archive/tasks/task-54 - guardboundaries---summary-mode-not-yet-wired.md
  tracker/tasks/task-50 - Drift-guard-the-ban-list-against-NEW-Prisma-re-exports-catch-missing-entries.md
Due: prettier --write

docs(tooling): sync check-boundaries.WHY.md with the widened guard
  packages/tooling/src/dev/check-boundaries.WHY.md
Due: prettier --write
