Repository lbds137/tzurot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

chore: bump version to 3.0.0-beta.146
  package.json
  packages/cache-invalidation/package.json
  packages/clients/package.json
  packages/common-types/package.json
  packages/config-resolver/package.json
  packages/conversation-history/package.json
  packages/embeddings/package.json
  packages/identity/package.json
  packages/test-factories/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  tests/package.json
Due: prettier --write, secretlint

docs(backlog): sweep the shipped workflow-sync narrowing (#1457)
  backlog/active-epic.md
  backlog/cold/follow-ups.md
  backlog/now.md
Due: prettier --write

feat(tooling): ops:health aggregator + weekly audit cron
  .github/workflows/weekly-audit.yml
  backlog/cold/follow-ups.md
  docs/reference/audit-enforcement.md
  package.json
  packages/tooling/src/audits/health.test.ts
  packages/tooling/src/audits/health.ts
  packages/tooling/src/commands/guard.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

feat(api-gateway): enforce human-users-only at the auth boundary
  packages/clients/src/clients/_generated/user-client.ts
  packages/clients/src/clients/generated-encoding.test.ts
  packages/common-types/src/types/gateway-context.ts
  packages/tooling/src/codegen/method-builder.test.ts
  packages/tooling/src/codegen/method-builder.ts
  services/api-gateway/src/services/AuthMiddleware.test.ts
  services/api-gateway/src/services/AuthMiddleware.ts
  services/bot-client/src/utils/gatewayClients.test.ts
  services/bot-client/src/utils/gatewayClients.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): gap-closing shipped (#1461); ratchet design notes recorded
  backlog/active-epic.md
  backlog/cold/themes/deterministic-test-quality-tooling.md
Due: prettier --write

docs(backlog): re-reconcile the periodic-audit theme annotation (layers 1-3 shipped)
  backlog/cold/queue.md
Due: prettier --write

feat(tooling): mutation-score ratchet — logger-ignorer tuning + CI gate
  .github/baselines/mutation-baseline.json
  .github/workflows/ci.yml
  packages/config-resolver/package.json
  packages/config-resolver/stryker-logger-ignorer.mjs
  packages/config-resolver/stryker.config.mjs
  packages/tooling/src/audits/audit-tool-registry.ts
  packages/tooling/src/audits/canary.test.ts
  packages/tooling/src/commands/test.ts
  packages/tooling/src/test/mutation-check.WHY.md
  packages/tooling/src/test/mutation-check.test.ts
  packages/tooling/src/test/mutation-check.ts
  packages/tooling/test-fixtures/audit-canaries/mutation-check/README.md
  packages/tooling/test-fixtures/audit-canaries/mutation-check/reports/mutation/config-resolver/mutation.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): close the railway-log-search-dx theme (#1465)
  backlog/active-epic.md
  backlog/cold/queue.md
  backlog/cold/themes/railway-log-search-dx-for-incident-digs.md
Due: prettier --write

feat(tooling): incident-dig correlation flags for ops logs
  .claude/skills/tzurot-deployment/SKILL.md
  docs/reference/tooling/OPS_CLI_REFERENCE.md
  packages/tooling/src/commands/commands.test.ts
  packages/tooling/src/commands/deploy.ts
  packages/tooling/src/deployment/logs.test.ts
  packages/tooling/src/deployment/logs.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: reshape the beta.146 board — z.ai diagnosis + spinoff-theme sweep
  CURRENT.md
  backlog/active-epic.md
  backlog/cold/follow-ups.md
  backlog/cold/queue.md
  backlog/now.md
Due: prettier --write

feat: add Stryker mutation-testing pilot on config-resolver (report-only)
  .gitignore
  packages/config-resolver/package.json
  packages/config-resolver/stryker.config.mjs
  pnpm-lock.yaml
Due: prettier --write, secretlint

docs: close the beta.145 watch-items — lifecycle + TTS pointer runtime-verified
  CURRENT.md
  backlog/active-epic.md
  backlog/now.md
Due: prettier --write

docs: update CURRENT.md — beta.146 knockout + finishing-push session log
  CURRENT.md
Due: prettier --write

docs(backlog): finish_reason prod bug fixed (#1462) + two review follow-ups
  backlog/cold/follow-ups.md
  backlog/now.md
Due: prettier --write

docs(backlog): mark PGLite theme Phase 1 shipped (#1458) + dedup-key follow-up
  backlog/active-epic.md
  backlog/cold/follow-ups.md
  backlog/cold/themes/pglite-fidelity-real-postgres-integration-tier.md
Due: prettier --write

docs(backlog): sweep the shipped footer-chain fix (#1456)
  backlog/active-epic.md
  backlog/cold/follow-ups.md
  backlog/now.md
Due: prettier --write

docs: queue the beta.146 board — z.ai routing bug + epic pick + quick wins
  CURRENT.md
  backlog/now.md
Due: prettier --write

fix: render the full route chain on both-routes-failed error footers
  packages/common-types/src/constants/discord.test.ts
  packages/common-types/src/constants/discord.ts
  packages/common-types/src/types/schemas/generation.test.ts
  packages/common-types/src/types/schemas/generation.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/GenerationStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/GenerationStep.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/autoPromotionFallback.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/autoPromotionFallback.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/generationFailureResult.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/generationFailureResult.ts
  services/bot-client/src/handlers/MessageHandler.ts
  services/bot-client/src/services/DiscordResponseSender.test.ts
  services/bot-client/src/services/DiscordResponseSender.ts
  services/bot-client/src/services/SlotDeliveryService.test.ts
  services/bot-client/src/services/SlotDeliveryService.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(tooling): narrow guard:workflow-sync to the claude workflow files
  .claude/rules/05-tooling.md
  .claude/skills/tzurot-git-workflow/SKILL.md
  .github/workflows/ci.yml
  packages/tooling/src/commands/guard.ts
  packages/tooling/src/dev/check-workflow-sync.test.ts
  packages/tooling/src/dev/check-workflow-sync.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): close the enforce-human-users-only theme (#1464)
  backlog/active-epic.md
  backlog/cold/queue.md
  backlog/cold/themes/enforce-human-users-only-at-auth-middleware.md
Due: prettier --write

docs(backlog): confirm the 402 sample interpretation by remedy
  backlog/cold/themes/zai-402-error-shape-verification.md
Due: prettier --write

docs: reset CURRENT.md for v3.0.0-beta.145
  CURRENT.md
Due: prettier --write

docs(backlog): file prod bug — finish_reason 'error' processed as success
  backlog/now.md
Due: prettier --write

test(config-resolver): close the mutation-testing assertion gaps
  packages/config-resolver/src/BaseConfigResolver.test.ts
  packages/config-resolver/src/ConfigCascadeResolver.test.ts
  packages/config-resolver/src/LlmConfigResolver.test.ts
  packages/config-resolver/src/SttResolver.test.ts
  packages/config-resolver/src/TtsConfigResolver.test.ts
  packages/config-resolver/src/VisionConfigResolver.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(ai-worker): summarize the unwrapped provider error in the fallback story
  services/ai-worker/src/jobs/handlers/pipeline/steps/autoPromotionFallback.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/autoPromotionFallback.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): close the periodic-audit-enforcement theme (#1466)
  backlog/active-epic.md
  backlog/cold/follow-ups.md
  backlog/cold/queue.md
  backlog/cold/themes/periodic-audit-enforcement-architecture.md
Due: prettier --write

docs(backlog): decline the 402 max_tokens auto-reduction (item 2 tombstone)
  backlog/active-epic.md
  backlog/cold/themes/zai-402-error-shape-verification.md
Due: prettier --write

docs(backlog): remove the declined max_tokens item — declined is not parked
  backlog/active-epic.md
  backlog/cold/themes/zai-402-error-shape-verification.md
Due: prettier --write

fix(ai-worker): treat finish_reason 'error' as a retryable failure
  packages/common-types/src/constants/error.ts
  packages/common-types/src/constants/finishReasons.test.ts
  packages/common-types/src/constants/finishReasons.ts
  services/ai-worker/src/services/LLMInvoker.test.ts
  services/ai-worker/src/services/LLMInvoker.ts
  services/ai-worker/src/services/modelFactory/extractOpenRouterReasoning.test.ts
  services/ai-worker/src/services/modelFactory/extractOpenRouterReasoning.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): stryker arc complete (#1463) + branch-protection follow-up
  backlog/active-epic.md
  backlog/cold/follow-ups.md
  backlog/cold/themes/deterministic-test-quality-tooling.md
Due: prettier --write

docs(backlog): file Stryker pilot results + captured 402/429 samples
  backlog/active-epic.md
  backlog/cold/themes/deterministic-test-quality-tooling.md
  backlog/cold/themes/zai-402-error-shape-verification.md
Due: prettier --write

feat(tooling): harvest DEFERRABLE-constraint ALTERs into the PGLite schema
  packages/test-utils/schema/pglite-schema.sql
  packages/tooling/src/test/generate-schema.test.ts
  packages/tooling/src/test/generate-schema.ts
  services/api-gateway/src/services/DatabaseSyncService.component.test.ts
  services/api-gateway/src/services/sync/utils/alignTtsGlobalsRecovery.component.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): finishing-first ordering — theme-closers outrank starters
  backlog/active-epic.md
Due: prettier --write

docs: post-release board update — beta.146 shipped, cron verified live
  CURRENT.md
  backlog/cold/follow-ups.md
  backlog/now.md
Due: prettier --write

docs(backlog): correct the Stryker record — pilot arc shipped, suite-wide expansion NOT started
  CURRENT.md
  backlog/active-epic.md
  backlog/cold/themes/deterministic-test-quality-tooling.md
  backlog/now.md
Due: prettier --write

docs(rules): operationalize the friction-mining findings for the model handoff
  .claude/hooks/pr-monitor-reminder.sh
  .claude/rules/00-critical.md
  .claude/rules/05-tooling.md
  .claude/rules/06-backlog.md
  .claude/rules/07-documentation.md
  .claude/rules/08-review-response.md
  .claude/rules/09-interaction-style.md
  .claude/skills/tzurot-council-mcp/SKILL.md
  .claude/skills/tzurot-deployment/SKILL.md
  .claude/skills/tzurot-git-workflow/SKILL.md
  .claude/skills/tzurot-testing/SKILL.md
  CLAUDE.md
Due: prettier --write

docs(rules): add the snowflake-fixture gotcha to the testing skill
  .claude/skills/tzurot-testing/SKILL.md
Due: prettier --write

docs(rules): sync the first monitor snippet to the canonical sleep-prefixed pattern
  .claude/rules/05-tooling.md
Due: prettier --write

docs(rules): drop the adoption date from the Merge Approval grant
  .claude/rules/00-critical.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{md,json,yml,yaml})
  eslint --fix --max-warnings=0 --no-warn-ignored: any of: *.{ts,tsx}
  secretlint: any of: *.{ts,tsx,js,jsx,json}
