Repository lbds137/tzurot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(docs): add static analysis & DRY detection as next PR priority
  BACKLOG.md
Due: prettier --write

docs: add root cause analysis for /character chat bug
  BACKLOG.md
Due: prettier --write

fix: address PR feedback - add tests and input sanitization
  packages/common-types/src/constants/discord.test.ts
  packages/common-types/src/constants/discord.ts
  services/bot-client/src/utils/nsfwVerification.test.ts
  services/bot-client/src/utils/permissions.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: update BACKLOG.md and CI step naming per review
  .github/workflows/ci.yml
  BACKLOG.md
Due: prettier --write

fix: continue bot-client typecheck:spec fixes (557→378 errors)
  BACKLOG.md
  services/bot-client/src/commands/persona/config.test.ts
  services/bot-client/src/handlers/references/LinkExtractor.test.ts
  services/bot-client/src/handlers/references/SnapshotFormatter.test.ts
  services/bot-client/src/test/mocks/Discord.mock.ts
  services/bot-client/src/utils/dashboard/DashboardBuilder.test.ts
  services/bot-client/src/utils/dashboard/ModalFactory.test.ts
  services/bot-client/src/utils/paginationBuilder.test.ts
  services/bot-client/src/utils/personalityMentionParser.test.ts
  services/bot-client/src/utils/subcommandRouter.test.ts
  services/bot-client/src/utils/userGatewayClient.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

chore(repo): add debug/ to gitignore
  .gitignore
Due: none

fix: /character chat uses command invoker's identity for BYOK
  services/bot-client/src/commands/character/chat.ts
  services/bot-client/src/services/MessageContextBuilder.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(ai-worker): clean chimera model stutter artifacts from responses
  services/ai-worker/src/utils/thinkingExtraction.test.ts
  services/ai-worker/src/utils/thinkingExtraction.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix: continue bot-client typecheck:spec fixes (330→228 errors)
  services/bot-client/src/commands/persona/profileSections.test.ts
  services/bot-client/src/commands/preset/autocomplete.test.ts
  services/bot-client/src/commands/preset/browse.test.ts
  services/bot-client/src/handlers/MessageHandler.test.ts
  services/bot-client/src/handlers/references/LinkExtractor.test.ts
  services/bot-client/src/services/ConversationPersistence.test.ts
  services/bot-client/src/services/MessageContextBuilder.test.ts
  services/bot-client/src/services/PersonalityMessageHandler.test.ts
  services/bot-client/src/services/ReferenceEnrichmentService.test.ts
  services/bot-client/src/utils/browse/browse.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix: address PR review feedback
  packages/common-types/src/utils/permissions.ts
  services/ai-worker/src/utils/thinkingExtraction.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(docs): update backlog with bug investigation progress
  BACKLOG.md
Due: prettier --write

fix: resolve remaining ai-worker typecheck:spec violations
  BACKLOG.md
  services/ai-worker/src/jobs/AIJobProcessor.test.ts
  services/ai-worker/src/jobs/AudioTranscriptionJob.test.ts
  services/ai-worker/src/jobs/CleanupDiagnosticLogs.test.ts
  services/ai-worker/src/jobs/ImageDescriptionJob.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/ContextStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/DependencyStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/GenerationStep.test.ts
  services/ai-worker/src/jobs/utils/conversationUtils.test.ts
  services/ai-worker/src/services/ApiKeyResolver.test.ts
  services/ai-worker/src/services/ContentBudgetManager.test.ts
  services/ai-worker/src/services/ConversationalRAGService.test.ts
  services/ai-worker/src/services/DiagnosticCollector.test.ts
  services/ai-worker/src/services/DuplicateDetectionFlow.int.test.ts
  services/ai-worker/src/services/LLMInvoker.test.ts
  services/ai-worker/src/services/LlmConfigResolver.test.ts
  services/ai-worker/src/services/LongTermMemoryService.int.test.ts
  services/ai-worker/src/services/LongTermMemoryService.test.ts
  services/ai-worker/src/services/MemoryRetriever.test.ts
  services/ai-worker/src/services/ModelCapabilityChecker.test.ts
  services/ai-worker/src/services/MultimodalProcessor.test.ts
  services/ai-worker/src/services/PgvectorMemoryAdapter.test.ts
  services/ai-worker/src/services/PromptBuilder.test.ts
  services/ai-worker/src/services/RAGUtils.test.ts
  services/ai-worker/src/services/ReferencedMessageFormatter.test.ts
  services/ai-worker/src/services/prompt/EnvironmentFormatter.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(docs): add footer handling DRY refactor to backlog
  BACKLOG.md
Due: prettier --write

test: remove invalid ownerId null scenarios from tests
  packages/common-types/src/utils/permissions.test.ts
  services/api-gateway/src/routes/user/llm-config.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: update backlog with static analysis follow-up items
  BACKLOG.md
Due: prettier --write

docs: add clear default preset VALIDATION_ERROR bug to backlog
  BACKLOG.md
Due: prettier --write

feat(bot-client): add brief format option to /admin debug command
  services/bot-client/src/commands/admin/debug.test.ts
  services/bot-client/src/commands/admin/debug.ts
  services/bot-client/src/commands/admin/index.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix: resolve more typecheck:spec violations in bot-client tests
  services/bot-client/src/commands/admin/debug.test.ts
  services/bot-client/src/commands/admin/index.test.ts
  services/bot-client/src/commands/character/dashboard.test.ts
  services/bot-client/src/commands/preset/export.test.ts
  services/bot-client/src/commands/preset/import.test.ts
  services/bot-client/src/commands/settings/index.test.ts
  services/bot-client/src/commands/settings/preset/default.test.ts
  services/bot-client/src/handlers/MessageReferenceExtractor.test.ts
  services/bot-client/src/handlers/references/ReferenceFormatter.test.ts
  services/bot-client/src/processors/VoiceMessageProcessor.test.ts
  services/bot-client/src/services/ReplyResolutionService.test.ts
  services/bot-client/src/utils/WebhookManager.test.ts
  services/bot-client/src/utils/api/gatewayFetcher.test.ts
  services/bot-client/src/utils/autocomplete/autocompleteCache.test.ts
  services/bot-client/src/utils/configValidation.test.ts
  services/bot-client/src/utils/dashboard/deleteConfirmation.test.ts
  services/bot-client/src/utils/dashboard/permissionChecks.test.ts
  services/bot-client/src/utils/destructiveConfirmation.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: mark /character chat bug as fixed
  BACKLOG.md
Due: prettier --write

fix: address PR review feedback
  services/bot-client/src/commands/character/chat.test.ts
  services/bot-client/src/commands/character/chat.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: clean up completed items from BACKLOG.md
  BACKLOG.md
Due: prettier --write

docs: confirm webhook confusion bug in prod
  BACKLOG.md
Due: prettier --write

fix: clear default preset idempotent + global preset owner permissions
  packages/common-types/src/utils/permissions.test.ts
  packages/common-types/src/utils/permissions.ts
  services/api-gateway/src/routes/user/model-override.test.ts
  services/api-gateway/src/routes/user/model-override.ts
  services/bot-client/src/utils/userGatewayClient.test.ts
  services/bot-client/src/utils/userGatewayClient.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

feat: add bot owner override for server permission checks
  services/bot-client/src/utils/permissions.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: add backlog item for including tests in typecheck
  BACKLOG.md
Due: prettier --write

fix: remove unused imports in bot-client test files
  services/bot-client/src/services/ResponseOrderingService.test.ts
  services/bot-client/src/utils/HistoryLinkResolver.test.ts
  services/bot-client/src/utils/listSorting.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix: resolve remaining bot-client typecheck:spec violations
  services/bot-client/src/commands/admin/index.test.ts
  services/bot-client/src/commands/persona/index.test.ts
  services/bot-client/src/commands/preset/import.test.ts
  services/bot-client/src/commands/preset/index.test.ts
  services/bot-client/src/commands/preset/presetValidation.test.ts
  services/bot-client/src/handlers/references/MessageFormatter.test.ts
  services/bot-client/src/handlers/references/ReferenceFormatter.test.ts
  services/bot-client/src/processors/ActivatedChannelProcessor.test.ts
  services/bot-client/src/processors/BotMessageFilter.test.ts
  services/bot-client/src/processors/DMSessionProcessor.test.ts
  services/bot-client/src/processors/EmptyMessageFilter.test.ts
  services/bot-client/src/processors/PersonalityMentionProcessor.test.ts
  services/bot-client/src/processors/ReplyMessageProcessor.test.ts
  services/bot-client/src/services/MentionResolver.test.ts
  services/bot-client/src/services/ResponseOrderingService.test.ts
  services/bot-client/src/services/ResultsListener.test.ts
  services/bot-client/src/services/VerificationMessageCleanup.test.ts
  services/bot-client/src/services/VoiceTranscriptionService.test.ts
  services/bot-client/src/services/serviceRegistry.test.ts
  services/bot-client/src/test/mocks/Discord.mock.ts
  services/bot-client/src/utils/MessageLinkParser.test.ts
  services/bot-client/src/utils/api/gatewayFetcher.test.ts
  services/bot-client/src/utils/autocomplete/autocompleteCache.test.ts
  services/bot-client/src/utils/autocomplete/personalityAutocomplete.test.ts
  services/bot-client/src/utils/avatarProcessor.test.ts
  services/bot-client/src/utils/commandContext/factories.test.ts
  services/bot-client/src/utils/customIds.test.ts
  services/bot-client/src/utils/dashboard/ModalFactory.test.ts
  services/bot-client/src/utils/dashboard/refreshHandler.test.ts
  services/bot-client/src/utils/dashboard/settings/SettingsModalFactory.test.ts
  services/bot-client/src/utils/modelAutocomplete.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: add webhook hypothesis to /character chat bug
  BACKLOG.md
Due: prettier --write

chore: optimize Claude Code configuration for reduced context
  .claude/commands/pr-feedback.md
  .claude/commands/quality.md
  .claude/commands/session-end.md
  .claude/commands/test-file.md
  .claude/settings.json
  .claude/skills/tzurot-architecture/SKILL.md
  .claude/skills/tzurot-async-flow/SKILL.md
  .claude/skills/tzurot-caching/SKILL.md
  .claude/skills/tzurot-code-quality/SKILL.md
  .claude/skills/tzurot-council-mcp/SKILL.md
  .claude/skills/tzurot-db-vector/SKILL.md
  .claude/skills/tzurot-deployment/SKILL.md
  .claude/skills/tzurot-docs/SKILL.md
  .claude/skills/tzurot-git-workflow/SKILL.md
  .claude/skills/tzurot-observability/SKILL.md
  .claude/skills/tzurot-security/SKILL.md
  .claude/skills/tzurot-skills-guide/SKILL.md
  .claude/skills/tzurot-slash-command-ux/SKILL.md
  .claude/skills/tzurot-testing/SKILL.md
  .claude/skills/tzurot-tooling/SKILL.md
  .claude/skills/tzurot-types/SKILL.md
  .claudeignore
  CLAUDE.md
  Claude Code mastery - A solo developer's complete optimization guide.md
Due: prettier --write, secretlint

docs: add PR #558 review feedback items to backlog
  BACKLOG.md
Due: prettier --write

chore: bump version to 3.0.0-beta.64
  package.json
  packages/common-types/package.json
  packages/embeddings/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/data/import-personality/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  tests/package.json
Due: prettier --write, secretlint

fix: centralize bot footer constants to prevent model hallucination
  BACKLOG.md
  packages/common-types/src/constants/discord.test.ts
  packages/common-types/src/constants/discord.ts
  packages/common-types/src/constants/index.ts
  services/ai-worker/src/utils/apiErrorParser.test.ts
  services/bot-client/src/commands/character/chat.ts
  services/bot-client/src/services/DiscordResponseSender.ts
  services/bot-client/src/utils/permissions.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix: address additional PR review feedback
  BACKLOG.md
  services/bot-client/src/commands/character/chat.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(common-types): add missing footer patterns for Focus/Incognito modes
  packages/common-types/src/constants/discord.ts
  packages/common-types/src/utils/discord.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix: address PR review feedback for static analysis
  .husky/pre-push
  docs/reference/STATIC_ANALYSIS.md
Due: prettier --write

feat: add static analysis tooling for code quality
  .github/workflows/ci.yml
  .gitignore
  .husky/pre-push
  .jscpd.json
  CLAUDE.md
  docs/reference/STATIC_ANALYSIS.md
  eslint.config.js
  package.json
  packages/common-types/package.json
  packages/common-types/tsconfig.spec.json
  packages/embeddings/package.json
  packages/embeddings/tsconfig.spec.json
  pnpm-lock.yaml
  services/ai-worker/package.json
  services/ai-worker/tsconfig.spec.json
  services/api-gateway/package.json
  services/api-gateway/tsconfig.spec.json
  services/bot-client/package.json
  services/bot-client/tsconfig.spec.json
  turbo.json
Due: prettier --write, secretlint

test(bot-client): update admin command snapshot for brief format
  services/bot-client/src/handlers/__snapshots__/CommandHandler.int.test.ts.snap
Due: none

fix: continue bot-client typecheck:spec fixes (378→339 errors)
  services/bot-client/src/commands/settings/preset/autocomplete.test.ts
  services/bot-client/src/utils/MessageContentBuilder.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

ci: make typecheck:spec blocking in pre-push and CI
  .github/workflows/ci.yml
  .husky/pre-push
Due: prettier --write

fix: continue bot-client typecheck:spec fixes (143→125 errors)
  services/bot-client/src/commands/preset/api.test.ts
  services/bot-client/src/commands/preset/config.test.ts
  services/bot-client/src/commands/preset/create.test.ts
  services/bot-client/src/commands/preset/dashboard.test.ts
  services/bot-client/src/commands/preset/dashboardButtons.test.ts
  services/bot-client/src/commands/preset/edit.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{md,json,yml,yaml})
  eslint --fix --max-warnings=0 --no-warn-ignored: any of: *.{ts,tsx}
  secretlint: any of: *.{ts,tsx,js,jsx,json}
