Repository lbds137/tzurot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["prettier --write", "eslint --fix --max-warnings=0 --no-warn-ignored"],
  "*.{md,json,yml,yaml}": ["prettier --write"],
  "*.{ts,tsx,js,jsx,json}": ["secretlint"]
}

fix: outbound-dm allowlist — dev bot must never reach beyond its real users
  .env.example
  CURRENT.md
  packages/common-types/src/config/config.ts
  packages/common-types/src/utils/outboundDmAllowlist.test.ts
  packages/common-types/src/utils/outboundDmAllowlist.ts
  services/api-gateway/src/routes/internal/usersRecent.test.ts
  services/api-gateway/src/routes/internal/usersRecent.ts
  services/api-gateway/src/services/releaseBroadcast.test.ts
  services/api-gateway/src/services/releaseBroadcast.ts
  services/bot-client/src/services/StartupDMPrewarmer.test.ts
  services/bot-client/src/services/StartupDMPrewarmer.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(repo): close out #1650 — allowlist live on dev, r3 nits filed
  CURRENT.md
  backlog/cold/follow-ups.md
Due: prettier --write

feat(common-types): env + schema plumbing for release pipeline
  .env.example
  packages/common-types/src/config/config.ts
  packages/common-types/src/constants/index.ts
  packages/common-types/src/constants/releaseNotes.ts
  packages/common-types/src/constants/timing.ts
  packages/common-types/src/schemas/api/broadcast.test.ts
  packages/common-types/src/schemas/api/broadcast.ts
  packages/common-types/src/schemas/api/index.ts
  packages/tooling/src/release/notes-format.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

feat(api-gateway): changelog classifier/formatter + announce core
  services/api-gateway/src/services/releaseAnnounce.test.ts
  services/api-gateway/src/services/releaseAnnounce.ts
  services/api-gateway/src/services/releaseNotes.test.ts
  services/api-gateway/src/services/releaseNotes.ts
  services/api-gateway/src/utils/githubSignature.test.ts
  services/api-gateway/src/utils/githubSignature.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

feat(api-gateway): github release webhook endpoint
  services/api-gateway/src/index.ts
  services/api-gateway/src/routes/public/githubWebhook.test.ts
  services/api-gateway/src/routes/public/githubWebhook.ts
  services/api-gateway/src/routes/public/index.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

feat(api-gateway): release reconcile sweep + internal trigger route
  packages/clients/src/clients/_generated/service-client.ts
  packages/clients/src/routes/internal.ts
  packages/tooling/src/codegen/handler-paths.ts
  services/api-gateway/src/routes/_generated/mounts.ts
  services/api-gateway/src/routes/conformance/fixtures/internal.ts
  services/api-gateway/src/routes/internal/releaseReconcile.test.ts
  services/api-gateway/src/routes/internal/releaseReconcile.ts
  services/api-gateway/src/services/releaseReconcile.test.ts
  services/api-gateway/src/services/releaseReconcile.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): file vision-description misattribution follow-up
  backlog/cold/follow-ups.md
Due: prettier --write

feat(ai-worker): hourly release-reconcile scheduled job
  services/ai-worker/src/index.ts
  services/ai-worker/src/jobs/releaseReconcile.test.ts
  services/ai-worker/src/jobs/releaseReconcile.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): file BullMQ factory standardization idea (owner-requested)
  backlog/cold/ideas.md
Due: prettier --write

chore: regenerate coverage topology for the reconcile route
  packages/tooling/coverage-topology.json
Due: prettier --write, secretlint

docs(repo): close out #1651 — PR-3 shipped, smoke + deploy steps staged
  CURRENT.md
  backlog/cold/follow-ups.md
  backlog/cold/themes/user-feedback-solicitation-revive-v2-release-notes-delivery.md
  backlog/now.md
Due: prettier --write

docs(repo): record PR-3 dev smoke — pipeline pass, DM blocked by quarantine
  CURRENT.md
Due: prettier --write

docs(backlog): widen vision-injection follow-up to full format restructure
  backlog/cold/follow-ups.md
Due: prettier --write

docs(backlog): file searchQuery pollution + envelope-assembly findings
  backlog/cold/follow-ups.md
Due: prettier --write

docs(backlog): name the searchQuery-pollution mechanism (code-confirmed)
  backlog/cold/follow-ups.md
Due: prettier --write

fix(ai-worker): stop leaking prompt scaffolding into retrieval queries
  backlog/now.md
  services/ai-worker/src/services/ConversationInputProcessor.test.ts
  services/ai-worker/src/services/ConversationInputProcessor.ts
  services/ai-worker/src/services/ConversationalRAGService.test.ts
  services/ai-worker/src/services/ReferencedMessageFormatter.test.ts
  services/ai-worker/src/services/ReferencedMessageFormatter.ts
  services/ai-worker/src/test/mocks/ReferencedMessageFormatter.mock.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(repo): close out #1652 — shipped row removed, quarantine watch corrected
  CURRENT.md
  backlog/cold/follow-ups.md
Due: prettier --write

docs(backlog): website hosting decision — Railway static service over Pages
  backlog/now.md
Due: prettier --write

docs(backlog): delete-my-data command decided — confirm double-key, gates policy
  backlog/now.md
Due: prettier --write

docs(backlog): export-all-my-data added — one design unit with delete-all
  backlog/now.md
Due: prettier --write

docs(repo): draft privacy policy + terms of service (code-grounded)
  docs/legal/PRIVACY_POLICY.md
  docs/legal/TERMS_OF_SERVICE.md
Due: prettier --write

docs(repo): legal drafts — owner accuracy corrections (free tier, voice providers, UGC liability)
  docs/legal/PRIVACY_POLICY.md
  docs/legal/TERMS_OF_SERVICE.md
Due: prettier --write

docs(repo): legal drafts — verification fixes (feedback pending, soft-delete)
  docs/legal/PRIVACY_POLICY.md
  docs/legal/TERMS_OF_SERVICE.md
Due: prettier --write

docs(backlog): file z.ai free-tier legibility dig
  backlog/cold/follow-ups.md
Due: prettier --write

feat: /settings data export — full-account data export (data rights)
  packages/clients/src/clients/_generated/user-client.ts
  packages/clients/src/routes/user/account.test.ts
  packages/clients/src/routes/user/account.ts
  packages/clients/src/routes/user/index.test.ts
  packages/clients/src/routes/user/index.ts
  packages/common-types/src/constants/queue.ts
  packages/common-types/src/schemas/api/account.test.ts
  packages/common-types/src/schemas/api/account.ts
  packages/common-types/src/schemas/api/index.ts
  packages/common-types/src/types/account-export.ts
  packages/common-types/src/types/jobs.test.ts
  packages/tooling/coverage-topology.json
  packages/tooling/src/codegen/handler-paths.ts
  packages/tooling/src/topology/coverageTopology.ts
  services/ai-worker/src/jobs/AIJobProcessor.ts
  services/ai-worker/src/jobs/AccountExportAssembler.component.test.ts
  services/ai-worker/src/jobs/AccountExportAssembler.test.ts
  services/ai-worker/src/jobs/AccountExportAssembler.ts
  services/ai-worker/src/jobs/AccountExportJob.test.ts
  services/ai-worker/src/jobs/AccountExportJob.ts
  services/api-gateway/src/routes/_generated/mounts.ts
  services/api-gateway/src/routes/conformance/fixtures/registry.ts
  services/api-gateway/src/routes/conformance/fixtures/userAccount.ts
  services/api-gateway/src/routes/user/account/export.test.ts
  services/api-gateway/src/routes/user/account/export.ts
  services/api-gateway/src/utils/validatedQueue.ts
  services/bot-client/command-manifest.json
  services/bot-client/src/commands/settings/data/export.test.ts
  services/bot-client/src/commands/settings/data/export.ts
  services/bot-client/src/commands/settings/index.ts
  services/bot-client/src/handlers/__snapshots__/CommandHandler.component.test.ts.snap
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(repo): close out #1653 — export shipped, review follow-ups filed
  CURRENT.md
  backlog/cold/follow-ups.md
  backlog/now.md
Due: prettier --write

docs(repo): export cooldown decided — 24h off completedAt, rides PR-B
  CURRENT.md
Due: prettier --write

docs(repo): export v2 directed — ZIP, both formats, absorbs riders
  CURRENT.md
Due: prettier --write

docs(backlog): shapes export zip-retrofit follow-up
  backlog/cold/follow-ups.md
Due: prettier --write

feat: account export v2 — zip archive with per-section json+markdown files
  packages/common-types/src/schemas/api/account.test.ts
  packages/common-types/src/schemas/api/account.ts
  packages/test-utils/schema/pglite-schema.sql
  pnpm-lock.yaml
  prisma/migrations/20260715172213_add_export_job_file_data/migration.sql
  prisma/schema.prisma
  services/ai-worker/package.json
  services/ai-worker/src/jobs/AccountExportAssembler.component.test.ts
  services/ai-worker/src/jobs/AccountExportAssembler.test.ts
  services/ai-worker/src/jobs/AccountExportAssembler.ts
  services/ai-worker/src/jobs/AccountExportFiles.test.ts
  services/ai-worker/src/jobs/AccountExportFiles.ts
  services/ai-worker/src/jobs/AccountExportJob.test.ts
  services/ai-worker/src/jobs/AccountExportJob.ts
  services/ai-worker/src/jobs/AccountExportMarkdown.test.ts
  services/ai-worker/src/jobs/AccountExportMarkdown.ts
  services/api-gateway/src/routes/conformance/fixtures/userAccount.ts
  services/api-gateway/src/routes/public/exports.test.ts
  services/api-gateway/src/routes/public/exports.ts
  services/api-gateway/src/routes/user/account/export.test.ts
  services/api-gateway/src/routes/user/account/export.ts
  services/bot-client/src/commands/settings/data/export.test.ts
  services/bot-client/src/commands/settings/data/export.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint
