Repository lbds137/tzurot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["prettier --write", "eslint --fix --max-warnings=0 --no-warn-ignored"],
  "*.{md,json,yml,yaml}": ["prettier --write"],
  "*.{ts,tsx,js,jsx,json}": ["secretlint"]
}

docs(backlog): beta.210 riders 791/804/790, drain bundling, failure-surface routing
  backlog/now.md
Due: prettier --write

docs(backlog): file TASK-808 — vision path retains __raw_response, extractor never runs there
  tracker/tasks/task-808 - Vision-path-never-deletes-__raw_response-—-200-500KB-raw-payload-retained-per-message.md
Due: prettier --write

feat(hooks): merge gate scans added comments for claim-shaped assertions
  .claude/hooks/pr-merge-review-check.probe.sh
  .claude/hooks/pr-merge-review-check.sh
Due: none

docs(rules): driver-agnostic round dispatch, docs/local search, hedged-value trigger
  .claude/rules/10-working-posture.md
Due: prettier --write

docs(skills): review-round dispatch applies under any driver
  .claude/skills/tzurot-orchestration/SKILL.md
  .claude/skills/tzurot-review-response/SKILL.md
Due: prettier --write

docs(backlog): file TASK-809 — /inspect Served line compares the requested model to itself
  tracker/tasks/task-809 - inspect-Served-line-cannot-reveal-a-router-substitution-—-compares-the-requested-model-to-itself.md
Due: prettier --write

docs(backlog): file TASK-810 — watch the claim-scan false-positive rate
  tracker/tasks/task-810 - Watch-claim-scan-false-positive-rate-—-vocabulary-overlaps-the-recommended-phrasing-for-VERIFIED-comments.md
Due: prettier --write

feat(ai-worker): capture the routed model on vision and text response paths
  packages/common-types/src/types/diagnostic.ts
  services/ai-worker/src/services/DiagnosticCollector.test.ts
  services/ai-worker/src/services/DiagnosticCollector.ts
  services/ai-worker/src/services/LLMInvoker.test.ts
  services/ai-worker/src/services/LLMInvoker.ts
  services/ai-worker/src/services/diagnostics/DiagnosticRecorders.test.ts
  services/ai-worker/src/services/diagnostics/DiagnosticRecorders.ts
  services/ai-worker/src/services/diagnostics/DiagnosticTypes.ts
  services/ai-worker/src/services/modelFactory/extractOpenRouterReasoning.canary.test.ts
  services/ai-worker/src/services/modelFactory/extractOpenRouterReasoning.test.ts
  services/ai-worker/src/services/modelFactory/extractOpenRouterReasoning.ts
  services/ai-worker/src/services/multimodal/VisionProcessor.test.ts
  services/ai-worker/src/services/multimodal/VisionProcessor.ts
  services/ai-worker/src/services/multimodal/describeImageWithFallback.test.ts
  services/ai-worker/src/services/multimodal/describeImageWithFallback.ts
  services/ai-worker/src/services/multimodal/readRoutedModel.test.ts
  services/ai-worker/src/services/multimodal/readRoutedModel.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): file TASK-811 — text-path failure diagnostics drop routedModel
  tracker/tasks/task-811 - Text-path-failure-diagnostics-drop-routedModel-—-thrown-Errors-are-untyped.md
Due: prettier --write

docs: night close-out — mining operationalizations shipped, TASK-791 instrumented
  CURRENT.md
Due: prettier --write

docs(backlog): amend TASK-804 acceptance to the shipped scope; TASK-160 trigger fired
  tracker/tasks/task-160 - Audit-the-OUTPUTCONSTRAINTS-scaffolding-ban-list-for-completeness.md
  tracker/tasks/task-804 - Image-descriptions-are-attributed-to-the-speaker-—-no-provenance-framing-on-any-render-path.md
Due: prettier --write

docs(backlog): file TASK-812 — orchestration spec template omits the format gate
  tracker/tasks/task-812 - Orchestration-spec-template-omits-the-format-gate-letting-a-CI-failure-through.md
Due: prettier --write

fix(ai-worker): frame image descriptions as platform-generated, not participant-written
  packages/common-types/src/utils/promptSanitizer.test.ts
  services/ai-worker/src/services/RAGUtils.ts
  services/ai-worker/src/services/__snapshots__/PromptBuilder.test.ts.snap
  services/ai-worker/src/services/eval/__snapshots__/legacyPromptAssembly.test.ts.snap
  services/ai-worker/src/services/prompt/HardcodedConstraints.test.ts
  services/ai-worker/src/services/prompt/HardcodedConstraints.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): file TASK-813 — uploaded audio files escape the provenance constraint
  tracker/tasks/task-813 - Uploaded-audio-files-are-framed-as-voice-messages-so-their-transcripts-escape-the-provenance-constraint.md
Due: prettier --write

docs(backlog): close the TASK-160 ban-list audit, file TASK-814 for the owner call
  tracker/tasks/task-160 - Audit-the-OUTPUTCONSTRAINTS-scaffolding-ban-list-for-completeness.md
  tracker/tasks/task-814 - Re-derive-the-OUTPUT_CONSTRAINTS-scaffolding-ban-list-from-mined-echo-evidence.md
Due: prettier --write

docs(backlog): file TASK-815 — cut the ambient session-start context load
  tracker/tasks/task-815 - Cut-the-ambient-session-start-context-load-~150k-tokens-before-the-first-prompt.md
Due: prettier --write

docs(ai-worker): record the scaffolding-ban criterion and pin the audit outcome
  services/ai-worker/src/services/prompt/HardcodedConstraints.test.ts
  services/ai-worker/src/services/prompt/HardcodedConstraints.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): record PR 2249 findings on TASK-810, 814, and 611
  tracker/tasks/task-611 - z.ai-direct-path-logs-a-spurious-OpenRouterReasoning-__raw_response-warning-on-every-request.md
  tracker/tasks/task-810 - Watch-claim-scan-false-positive-rate-—-vocabulary-overlaps-the-recommended-phrasing-for-VERIFIED-comments.md
  tracker/tasks/task-814 - Re-derive-the-OUTPUT_CONSTRAINTS-scaffolding-ban-list-from-mined-echo-evidence.md
Due: prettier --write

docs(backlog): close flash-vision retest from prod logs, intake RAGFlow to doc-8
  backlog/now.md
  tracker/docs/doc-8 - Theme-Memory-System-Overhaul-—-PARKED-MID-EPIC-2026-07-17.md
  tracker/tasks/task-789 - Paid-path-vision-invocation-sends-prefixed-z-ai-model-id-to-the-z.ai-API-—-400-code-1214.md
Due: prettier --write

docs(backlog): record owner decisions — flash default, 804 waived, ratchet gap
  CURRENT.md
  backlog/now.md
  tracker/archive/tasks/task-805 - Blind-vision-description-comparison-glm-5.3-flash-vs-qwen3.7-plus-~10-images.md
  tracker/tasks/task-804 - Image-descriptions-are-attributed-to-the-speaker-—-no-provenance-framing-on-any-render-path.md
  tracker/tasks/task-805 - Blind-vision-description-comparison-glm-5.3-flash-vs-qwen3.7-plus-~10-images.md
  tracker/tasks/task-816 - Ratchets-do-not-bank-improvement-no-named-trigger-tightens-a-quality-floor.md
Due: prettier --write

docs(backlog): approve 814/809, file footer semantics, decline the override sweep
  tracker/tasks/task-809 - inspect-Served-line-cannot-reveal-a-router-substitution-—-compares-the-requested-model-to-itself.md
  tracker/tasks/task-814 - Re-derive-the-OUTPUT_CONSTRAINTS-scaffolding-ban-list-from-mined-echo-evidence.md
  tracker/tasks/task-817 - Footer-conflates-routing-structural-substitution-and-genuine-fallback-into-one-arrow.md
Due: prettier --write

docs(backlog): file the duplicate-task-id gap observed filing from a branch
  tracker/tasks/task-818 - tracker-task-create-on-a-feature-branch-issues-a-duplicate-id.md
Due: prettier --write

fix(ai-worker): gate the raw-response warning on the builder, not the model id
  docs/reference/REASONING_MODEL_FORMATS.md
  packages/common-types/src/constants/ai.test.ts
  packages/common-types/src/constants/ai.ts
  services/ai-worker/src/services/ConversationalRAGService.test.ts
  services/ai-worker/src/services/LLMInvoker.test.ts
  services/ai-worker/src/services/LLMInvoker.ts
  services/ai-worker/src/services/ModelFactory.test.ts
  services/ai-worker/src/services/ModelFactory.ts
  services/ai-worker/src/services/ProviderRouter.ts
  services/ai-worker/src/services/modelFactory/extractOpenRouterReasoning.test.ts
  services/ai-worker/src/services/modelFactory/extractOpenRouterReasoning.ts
  services/ai-worker/src/services/modelFactory/types.ts
  services/ai-worker/src/services/modelInvocation.test.ts
  services/ai-worker/src/services/modelInvocation.ts
  services/ai-worker/src/services/multimodal/describeImageWithFallback.integration.test.ts
  services/ai-worker/src/services/systemModel/systemModelCall.test.ts
  services/ai-worker/src/services/systemModel/systemModelCall.ts
  services/ai-worker/src/test/mocks/LLMInvoker.mock.ts
  services/api-gateway/src/routes/admin/systemSettings.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): close TASK-611/703 and 789 clause 3 on the #2250 merge
  backlog/now.md
  tracker/tasks/task-611 - z.ai-direct-path-logs-a-spurious-OpenRouterReasoning-__raw_response-warning-on-every-request.md
  tracker/tasks/task-703 - detectVisionProvider-routes-non-catalog-z-ai-ids-to-the-coding-plan-decide-catalog-gating.md
  tracker/tasks/task-789 - Paid-path-vision-invocation-sends-prefixed-z-ai-model-id-to-the-z.ai-API-—-400-code-1214.md
Due: prettier --write

chore: bump version to 3.0.0-beta.210
  package.json
  packages/cache-invalidation/package.json
  packages/clients/package.json
  packages/common-types/package.json
  packages/config-resolver/package.json
  packages/conversation-history/package.json
  packages/embeddings/package.json
  packages/identity/package.json
  packages/test-factories/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  services/website/package.json
  tests/package.json
Due: prettier --write, secretlint

docs(backlog): file TASK-793 — tests/ imports into service src/ escape depcruise
  tracker/tasks/task-793 - tests-imports-into-service-src-are-invisible-to-dependency-cruiser.md
Due: prettier --write

docs(backlog): add the ErrorChannelReporter member to TASK-704, hedge TASK-798
  tracker/tasks/task-704 - Enumerate-every-bot-client-embed-build-site-for-unclamped-dynamic-strings.md
  tracker/tasks/task-798 - Cap-max_tokens-on-the-system-model-extraction-call-path.md
Due: prettier --write

docs: beta.209 close-out — SHIPPED summary, beta.210 plan, TASK-789 remainder recorded
  CURRENT.md
  backlog/now.md
  tracker/tasks/task-789 - Paid-path-vision-invocation-sends-prefixed-z-ai-model-id-to-the-z.ai-API-—-400-code-1214.md
Due: prettier --write

docs(backlog): file TASK-794 — integration-tier CI wiring gaps from #2241
  tracker/tasks/task-794 - Integration-tier-CI-wiring-gaps-left-by-the-doc-13-Phase-2-standup.md
Due: prettier --write

test(tests): stand up the real-Postgres integration tier with the pg_notify trigger chain
  .github/workflows/ci.yml
  docker-compose.yml
  docs/reference/guides/TESTING.md
  eslint.config.js
  packages/tooling/src/test/tier-report.test.ts
  pnpm-lock.yaml
  tests/e2e/cacheInvalidationTriggers.integration.test.ts
  tests/package.json
  vitest.integration.config.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint
