Repository lbds137/tzurot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["prettier --write", "eslint --fix --max-warnings=0 --no-warn-ignored"],
  "*.{md,json,yml,yaml}": ["prettier --write"],
  "*.{ts,tsx,js,jsx,json}": ["secretlint"]
}

fix(bot-client): fix double body consumption in updateGlobalPreset error path
  services/bot-client/src/commands/preset/api.test.ts
  services/bot-client/src/commands/preset/api.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix: address session follow-ups from PR reviews
  packages/tooling/src/xray/analyzer.test.ts
  services/bot-client/src/commands/preset/api.ts
  services/bot-client/src/commands/preset/create.test.ts
  services/bot-client/src/commands/preset/create.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(repo): add hallucinated footer duplication bug to backlog
  BACKLOG.md
Due: prettier --write

chore: bump version to 3.0.0-beta.96
  package.json
  packages/common-types/package.json
  packages/embeddings/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  tests/package.json
Due: prettier --write, secretlint

docs(repo): add Pocket TTS intermittent failure to backlog
  BACKLOG.md
Due: prettier --write

docs(repo): session-end CURRENT.md update for 2026-04-13
  CURRENT.md
Due: prettier --write

fix(bot-client): surface API error messages in preset operations
  services/bot-client/src/commands/preset/create.ts
  services/bot-client/src/commands/preset/dashboard.test.ts
  services/bot-client/src/commands/preset/dashboard.ts
  services/bot-client/src/commands/preset/dashboardButtons.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(ai-worker): address review nits on thinking tag JSDoc
  services/ai-worker/src/utils/thinkingExtraction.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(ai-worker): add tag constraint note + readonly annotation
  services/ai-worker/src/utils/thinkingExtraction.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(repo): session-end CURRENT.md update for 2026-04-12
  CURRENT.md
Due: prettier --write

fix(api-gateway): map ParameterError to 400 in asyncHandler + restore JSDoc
  services/api-gateway/src/utils/asyncHandler.test.ts
  services/api-gateway/src/utils/asyncHandler.ts
  services/api-gateway/src/utils/routeHelpers.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(api-gateway): add warn log for ParameterError in asyncHandler
  services/api-gateway/src/utils/asyncHandler.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

refactor(bot-client): extract BrowseActionRow type + trim duplicate guard tests
  services/bot-client/src/commands/admin/servers.ts
  services/bot-client/src/commands/channel/settings.test.ts
  services/bot-client/src/commands/character/browse.ts
  services/bot-client/src/commands/character/overrides.test.ts
  services/bot-client/src/commands/character/settings.test.ts
  services/bot-client/src/commands/deny/browse.ts
  services/bot-client/src/commands/memory/browse.ts
  services/bot-client/src/commands/persona/browse.ts
  services/bot-client/src/commands/preset/browse.ts
  services/bot-client/src/utils/browse/index.ts
  services/bot-client/src/utils/browse/types.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(bot-client): address review — stale comment, multi-word possessive test
  services/bot-client/src/processors/ReplyMessageProcessor.ts
  services/bot-client/src/utils/personalityMentionParser.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(repo): add flaky xray analyzer test to backlog
  BACKLOG.md
Due: prettier --write

fix(deps): regenerate pnpm-lock.yaml to fix broken lockfile
  pnpm-lock.yaml
Due: prettier --write

docs(bot-client): restore followUp comment + clarify MAX_DISCORD_CONTENT
  services/bot-client/src/commands/preset/api.ts
  services/bot-client/src/commands/preset/dashboard.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

refactor(bot-client): extract extractApiErrorMessage helper + add tests
  services/bot-client/src/commands/preset/api.test.ts
  services/bot-client/src/commands/preset/api.ts
  services/bot-client/src/commands/preset/create.test.ts
  services/bot-client/src/commands/preset/create.ts
  services/bot-client/src/commands/preset/dashboard.test.ts
  services/bot-client/src/commands/preset/dashboard.ts
  services/bot-client/src/commands/preset/dashboardButtons.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

refactor(ai-worker): data-driven thinking tag patterns from KNOWN_THINKING_TAGS
  services/ai-worker/src/utils/thinkingExtraction.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(repo): add TTS engine upgrade to Current Focus + update ElevenLabs bug status
  BACKLOG.md
Due: prettier --write

fix(bot-client): skip forwarded messages in personality processors
  services/bot-client/src/processors/PersonalityMentionProcessor.test.ts
  services/bot-client/src/processors/PersonalityMentionProcessor.ts
  services/bot-client/src/processors/ReplyMessageProcessor.test.ts
  services/bot-client/src/processors/ReplyMessageProcessor.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(bot-client): tighten extractApiErrorMessage regex to require HTTP status
  services/bot-client/src/commands/preset/api.test.ts
  services/bot-client/src/commands/preset/api.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(repo): add pre-existing preset bugs to backlog from PR #799 review
  BACKLOG.md
Due: prettier --write

revert(ci): revert pnpm/action-setup v6 back to v5
  .github/workflows/ci.yml
Due: prettier --write

fix(bot-client): handle possessive forms in personality mentions
  services/bot-client/src/utils/personalityMentionParser.test.ts
  services/bot-client/src/utils/personalityMentionParser.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(repo): update BACKLOG.md — clear 8 completed items, add action-setup v6
  BACKLOG.md
Due: prettier --write

fix(bot-client): allow apostrophes in personality mention names
  services/bot-client/src/utils/personalityMentionParser.test.ts
  services/bot-client/src/utils/personalityMentionParser.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

chore: address final review nits from PRs #795-797
  services/api-gateway/src/utils/asyncHandler.test.ts
  services/bot-client/src/processors/PersonalityMentionProcessor.ts
  services/bot-client/src/processors/ReplyMessageProcessor.ts
  services/bot-client/src/utils/personalityMentionParser.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

chore(deps): bump all dependencies + pnpm/action-setup v5→v6
  .github/workflows/ci.yml
  package.json
  packages/common-types/package.json
  packages/embeddings/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  pnpm-lock.yaml
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  tests/package.json
Due: prettier --write, secretlint

refactor(api-gateway): split routeHelpers from configOverrideHelpers + tighten configId
  services/api-gateway/src/routes/admin/llm-config.ts
  services/api-gateway/src/routes/user/config-overrides.ts
  services/api-gateway/src/routes/user/llm-config.ts
  services/api-gateway/src/routes/user/model-override.ts
  services/api-gateway/src/routes/user/nsfw.ts
  services/api-gateway/src/routes/user/personality-config-overrides.ts
  services/api-gateway/src/routes/user/shapes/auth.ts
  services/api-gateway/src/routes/user/shapes/export.ts
  services/api-gateway/src/routes/user/shapes/import.ts
  services/api-gateway/src/routes/user/timezone.ts
  services/api-gateway/src/routes/wallet/setKey.ts
  services/api-gateway/src/utils/configOverrideHelpers.test.ts
  services/api-gateway/src/utils/configOverrideHelpers.ts
  services/api-gateway/src/utils/routeHelpers.test.ts
  services/api-gateway/src/utils/routeHelpers.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(repo): add unused createPreset _config parameter to backlog
  BACKLOG.md
Due: prettier --write

docs(repo): evening investigation — vision-pipeline triage + 6 new inbox items
  BACKLOG.md
  CURRENT.md
Due: prettier --write

fix(ai-worker): vision classifier + retry cap + telemetry
  BACKLOG.md
  packages/common-types/src/constants/error.test.ts
  packages/common-types/src/constants/error.ts
  packages/tooling/src/deployment/logs.test.ts
  packages/tooling/src/deployment/logs.ts
  services/ai-worker/src/jobs/ImageDescriptionJob.test.ts
  services/ai-worker/src/jobs/ImageDescriptionJob.ts
  services/ai-worker/src/services/multimodal/VisionProcessor.ts
  services/ai-worker/src/utils/apiErrorParser.test.ts
  services/ai-worker/src/utils/apiErrorParser.ts
  services/ai-worker/src/utils/retry.test.ts
  services/ai-worker/src/utils/retry.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(ai-worker): address PR #802 review feedback
  services/ai-worker/src/jobs/ImageDescriptionJob.test.ts
  services/ai-worker/src/jobs/ImageDescriptionJob.ts
  services/ai-worker/src/utils/apiErrorParser.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint
