Repository lbds137/tzurot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): file TASK-857 on the cwd-drift-guard blind spot
  tracker/tasks/task-857 - cwd-drift-guard-misses-the-cd-inside-the-same-command-shape-which-is-the-one-that-strands-canary-mutations.md
Due: prettier --write

test(identity): close validator, resolver and defaults mutation gaps
  packages/common-types/src/utils/TTLCache.ts
  packages/identity/src/personality/PersonalityDefaults.test.ts
  packages/identity/src/personality/PersonalityValidator.test.ts
  packages/identity/src/personality/PersonalityValidator.ts
  packages/identity/src/resolvers/BaseConfigResolver.test.ts
  packages/identity/stryker.config.mjs
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): record identity slice 2 and the combined 90.58
  backlog/now.md
  tracker/tasks/task-816 - Ratchets-do-not-bank-improvement-no-named-trigger-tightens-a-quality-floor.md
Due: prettier --write

docs(backlog): file TASK-846 — early-return subscriber can go silent
  tracker/tasks/task-846 - A-caller-that-registers-via-the-already-subscribed-early-return-goes-permanently-silent-if-the-connecting-subscribe-fails.md
Due: prettier --write

test(cache-invalidation): pin the failed-subscribe cleanup guard
  packages/cache-invalidation/src/BaseCacheInvalidationService.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): close TASK-854 (shipped #2287), file TASK-855 coupling watch
  backlog/now.md
  tracker/tasks/task-854 - Watchdog-Arm-A-false-positives-on-quiet-guilds-dev-restart-looping-every-32min.md
  tracker/tasks/task-855 - Re-verify-GUILD_MEMBERS_CHUNK-reaches-Events.Raw-on-discord.js-bumps-past-14.27.0.md
Due: prettier --write

chore(ci): raise mutation floors for beta.213 (identity 78.97 -> 95.51)
  .github/baselines/mutation-baseline.json
Due: prettier --write, secretlint

test(identity): close UserService mutation gaps, 72.49 to 89.96
  packages/identity/src/UserService.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix: drain batch 1 — cwd-drift guard, temporal marker, merge gate, branch-aware tracker ids
  .claude/hooks/cwd-drift-guard.probe.sh
  .claude/hooks/cwd-drift-guard.sh
  .claude/hooks/husky-pre-commit.probe.sh
  .claude/hooks/lib/shell_quotes.py
  .claude/hooks/pr-merge-review-check.probe.sh
  .claude/hooks/pr-merge-review-check.sh
  .husky/pre-commit
  backlog.config.yml
  packages/tooling/src/dev/backlogConfigGate.test.ts
  packages/tooling/src/dev/backlogConfigGate.ts
  packages/tooling/src/dev/backlogLint.test.ts
  packages/tooling/src/dev/backlogLint.ts
  packages/tooling/src/dev/shellQuotes.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): record the TASK-791 recurrence + PR #2295, file TASK-860 on the guest vision chain
  tracker/tasks/task-791 - Vision-fallback-tiers-fail-in-prod-openrouter-auto-returns-empty-openrouter-free-has-no-eligible-endpoint.md
  tracker/tasks/task-860 - Guest-vision-chain-has-one-real-attempt-pick-an-eligible-free-vision-model-for-fallbackVisionModelFree-or-add-a-transient-only-same-tier-retry.md
Due: prettier --write

docs(backlog): record measured prettier drift on TASK-849
  tracker/tasks/task-849 - No-format-gate-exists-in-pnpm-quality-or-CI-so-unstaged-files-drift-indefinitely.md
Due: prettier --write

docs(backlog): record the TASK-291 crash probe, restarted event confirmed
  tracker/tasks/task-291 - bot-client-has-ZERO-Discord-shard-lifecycle-observability-no….md
Due: prettier --write

docs(cache-invalidation): record why first-match removal is safe
  packages/cache-invalidation/src/BaseCacheInvalidationService.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): close out #2289/#2290, record the drain batches and the context-cost pass
  CURRENT.md
  backlog/now.md
  tracker/tasks/task-541 - Bound-the-remaining-unbounded-execFileSync-shell-outs-in-packages-tooling.md
  tracker/tasks/task-598 - Pre-push-should-rebuild-tooling-dist-when-eslint-plugin-entry-is-missing-in-a-worktree.md
  tracker/tasks/task-846 - A-caller-that-registers-via-the-already-subscribed-early-return-goes-permanently-silent-if-the-connecting-subscribe-fails.md
  tracker/tasks/task-847 - Duplicated-subscriber-connection-has-no-error-listener-so-Redis-connection-errors-bypass-structured-logging.md
  tracker/tasks/task-858 - cache-invalidation-subscribe-unsubscribe-are-not-idempotent-under-concurrent-or-repeated-calls.md
Due: prettier --write

docs(backlog): close TASK-789 — retry-classification clause shipped
  tracker/tasks/task-789 - Paid-path-vision-invocation-sends-prefixed-z-ai-model-id-to-the-z.ai-API-—-400-code-1214.md
Due: prettier --write

test(identity): close PersonalityService mutation gaps
  packages/identity/src/personality/PersonalityService.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(bot-client): probe the gateway before calling a quiet guild a wedge
  services/bot-client/src/services/GatewayWatchdog.test.ts
  services/bot-client/src/services/GatewayWatchdog.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): record identity slice 3 and re-shape slice 4
  backlog/now.md
  tracker/tasks/task-816 - Ratchets-do-not-bank-improvement-no-named-trigger-tightens-a-quality-floor.md
Due: prettier --write

docs(backlog): ground TASK-291's gateway-resilience design in the code
  tracker/tasks/task-291 - bot-client-has-ZERO-Discord-shard-lifecycle-observability-no….md
Due: prettier --write

docs(backlog): ratify TASK-846 option b into beta.213
  backlog/now.md
  tracker/tasks/task-846 - A-caller-that-registers-via-the-already-subscribed-early-return-goes-permanently-silent-if-the-connecting-subscribe-fails.md
Due: prettier --write

docs(backlog): file TASK-856 on the gitguardian config gap
  tracker/tasks/task-856 - Verify-whether-.gitguardian.yaml-ignored_paths-apply-to-the-GitHub-App-check-at-all.md
Due: prettier --write

docs(backlog): file TASK-845 — provider-refusal copy assumes an image
  tracker/tasks/task-845 - PROVIDER_CONTENT_REFUSED-user-message-assumes-an-image-but-the-category-now-reaches-text-only-turns.md
Due: prettier --write

docs(rules): economy pass on 00-critical, 06-backlog, 05-tooling (-10.3k bytes)
  .claude/rules/00-critical.md
  .claude/rules/05-tooling.md
  .claude/rules/06-backlog.md
  .github/baselines/lines-baseline.json
  tracker/docs/doc-69 - doc-64-Phase-0-portability-inventory-rules-hooks-skills-ops-root-surfaces.md
Due: prettier --write, secretlint

docs(backlog): close out beta.213 — cut recorded, beta.214 provisional plan, TASK-861 filed
  CURRENT.md
  backlog/now.md
  tracker/tasks/task-861 - Port-the-single-flight-subscribe-and-identity-guarded-cleanup-from-BaseCacheInvalidationService-to-the-standalone-CacheInvalidationService.md
Due: prettier --write

docs(backlog): record the first prod retention purge, schedule the mining PRs, file task 862
  CURRENT.md
  backlog/now.md
  tracker/tasks/task-862 - lossy-pipe-guard-false-positive-quoted-prose-inside-a-heredoc-that-merely-describes-a-blocked-command-shape-is-blocked.md
Due: prettier --write

chore(deps): override browserslist to >=4.28.7 for GHSA-c83g-rgw3-j3cx and GHSA-73wf-gq98-2v4g
  package.json
  pnpm-lock.yaml
Due: prettier --write, secretlint

docs(backlog): close task 791 on two prod observations, file 863 and 864, promote 863 into beta.214
  backlog/now.md
  tracker/tasks/task-791 - Vision-fallback-tiers-fail-in-prod-openrouter-auto-returns-empty-openrouter-free-has-no-eligible-endpoint.md
  tracker/tasks/task-863 - OpenRouter-custom-fetch-is-never-installed-on-vision-calls-so-the-200-with-error-surfacing-from-PR-2295-is-inert-on-the-path-it-was-built-for.md
  tracker/tasks/task-864 - inspect-log-records-the-text-model-but-not-which-vision-model-produced-each-attachment-description.md
Due: prettier --write

feat(hooks): premise-ledger gate, turn-end gate, edit-size hard block, head-based worktrees
  .claude/hooks/dispatch-posture-gate.probe.sh
  .claude/hooks/dispatch-posture-gate.sh
  .claude/hooks/dispatch-spec-ledger-gate.probe.sh
  .claude/hooks/dispatch-spec-ledger-gate.sh
  .claude/hooks/turn-end-shape-gate.probe.sh
  .claude/hooks/turn-end-shape-gate.sh
  .claude/rules/09-interaction-style.md
  .claude/rules/10-working-posture.md
  .claude/settings.json
  .claude/skills/tzurot-orchestration/SKILL.md
  .claude/skills/tzurot-review-response/SKILL.md
  packages/tooling/src/dev/check-hook-probes-registry.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): record session mining, the first prod purge, and the vision-tier residuals
  CURRENT.md
Due: prettier --write

fix(ai-worker): attach the OpenRouter custom fetch to every client
  services/ai-worker/src/services/ModelFactory.test.ts
  services/ai-worker/src/services/ModelFactory.ts
  services/ai-worker/src/services/modelFactory/OpenRouterFetch.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): record #2299 (TASK-863 code half) and flip the task to a prod watch
  CURRENT.md
  backlog/now.md
  tracker/tasks/task-863 - OpenRouter-custom-fetch-is-never-installed-on-vision-calls-so-the-200-with-error-surfacing-from-PR-2295-is-inert-on-the-path-it-was-built-for.md
Due: prettier --write

fix(cache-invalidation): unify the personality invalidator onto the base, idempotent teardown
  packages/cache-invalidation/src/BaseCacheInvalidationService.test.ts
  packages/cache-invalidation/src/BaseCacheInvalidationService.ts
  packages/cache-invalidation/src/CacheInvalidationService.test.ts
  packages/cache-invalidation/src/CacheInvalidationService.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): close TASK-861 + TASK-858 (shipped #2300), record beta.214 item 1
  CURRENT.md
  backlog/now.md
  tracker/tasks/task-858 - cache-invalidation-subscribe-unsubscribe-are-not-idempotent-under-concurrent-or-repeated-calls.md
  tracker/tasks/task-861 - Port-the-single-flight-subscribe-and-identity-guarded-cleanup-from-BaseCacheInvalidationService-to-the-standalone-CacheInvalidationService.md
Due: prettier --write

docs(backlog): record the seven decided owner calls, file TASK-865/866/867, note PR #2301
  CURRENT.md
  backlog/cold/queue.md
  backlog/now.md
  tracker/docs/doc-86 - Theme-Character-initiated-messages-the-shapes.inc-free-will-feature.md
  tracker/docs/doc-87 - Idea-deny-subcommand-names-mix-two-axes-—-location-vs-target.md
  tracker/tasks/task-730 - Inspect-redact-header-id-tags-for-non-owner-viewers.md
  tracker/tasks/task-844 - Channel-dashboard-Current-Value-shows-the-viewing-moderator-personal-override-not-channel-scoped-state.md
  tracker/tasks/task-845 - PROVIDER_CONTENT_REFUSED-user-message-assumes-an-image-but-the-category-now-reaches-text-only-turns.md
  tracker/tasks/task-865 - 05-tooling-cut-the-Ops-CLI-command-tables-to-a-pointer-at-OPS_CLI_REFERENCE.md-plus-decision-point-triggers.md
  tracker/tasks/task-866 - lines-check-add-a-skills-surface-so-skill-body-bytes-are-measured-and-ratcheted.md
  tracker/tasks/task-867 - Skills-economy-pass-apply-the-four-question-cut-test-to-the-largest-skill-bodies.md
Due: prettier --write

docs(docs): prior art for character-initiated messaging (doc-86)
  backlog/references.md
  docs/research/README.md
  docs/research/character-initiated-messaging-prior-art.md
  tracker/docs/doc-86 - Theme-Character-initiated-messages-the-shapes.inc-free-will-feature.md
Due: prettier --write

docs(rules): pr monitoring names both head-drift causes and the gate refusal
  .claude/hooks/pr-monitor-reminder.sh
  .claude/rules/05-tooling.md
  .github/baselines/lines-baseline.json
  packages/tooling/src/gh/ci-gate.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{md,json,yml,yaml})
  eslint --fix --max-warnings=0 --no-warn-ignored: any of: *.{ts,tsx}
  secretlint: any of: *.{ts,tsx,js,jsx,json}
