Repository lbds137/tzurot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): file TASK-1191, ProviderRouter undefined-as-key test sharp edge
  tracker/tasks/task-1191 - ProviderRouter-z.ai-key-check-reads-a-bare-vi.fn-undefined-as-a-key.md
Due: prettier --write

docs(repo): record in-flight PR #2583 in CURRENT.md, trim stale release blurbs
  CURRENT.md
Due: prettier --write

docs(backlog): file TASK-1192, bare-URL render gap in the modelUsed footer field
  tracker/tasks/task-1192 - Model-footer-link-gap-bare-URLs-in-free-text-model-ids-render-live-modelUsed-class.md
Due: prettier --write

feat(bot-client): note when the z.ai piggyback model is denied for guests
  packages/common-types/src/constants/discord.test.ts
  packages/common-types/src/constants/discord.ts
  packages/common-types/src/types/schemas/generation.test.ts
  packages/common-types/src/types/schemas/generation.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/AuthStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/AuthStep.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/GenerationStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/GenerationStep.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/generationFailureResult.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/generationFailureResult.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/guestModeOverrides.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/guestModeOverrides.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/piggybackFooterSeam.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/types.ts
  services/bot-client/src/services/DiscordResponseSender.test.ts
  services/bot-client/src/services/DiscordResponseSender.ts
  services/bot-client/src/utils/resultMetadataPassthrough.test.ts
  services/bot-client/src/utils/resultMetadataPassthrough.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): file TASK-1193, pin the piggyback pair through proactive retarget
  tracker/tasks/task-1193 - Pin-test-piggyback-denial-pair-survives-a-proactive-quota-retarget-in-AuthStep.md
Due: prettier --write

docs(repo): record PR 2583 merge, dependabot state, and the pending cut call
  CURRENT.md
Due: prettier --write

docs(backlog): correct TASK-1182 area label to api-gateway
  tracker/tasks/task-1182 - Detect-admin-global-LLM-configs-whose-model-id-left-the-OpenRouter-catalog.md
Due: prettier --write

chore(repo): track turbo's AGENTS.md agent-guidance block
  AGENTS.md
Due: prettier --write

feat(bot-client): add a Both slot choice to the preset default commands
  docs/commands.md
  packages/clients/src/routes/admin.ts
  packages/clients/src/routes/user/configs.ts
  packages/common-types/src/constants/ai.ts
  packages/common-types/src/schemas/api/model-override.ts
  services/api-gateway/src/routes/admin/llm-config.test.ts
  services/api-gateway/src/routes/admin/llm-config.ts
  services/api-gateway/src/routes/user/model-override.test.ts
  services/api-gateway/src/routes/user/model-override.ts
  services/api-gateway/src/routes/user/modelOverrideShared.test.ts
  services/api-gateway/src/routes/user/modelOverrideShared.ts
  services/api-gateway/src/services/LlmConfigService.ts
  services/api-gateway/src/utils/configRouteHelpers.test.ts
  services/api-gateway/src/utils/configRouteHelpers.ts
  services/bot-client/command-manifest.json
  services/bot-client/src/commands/preset/default/clear.test.ts
  services/bot-client/src/commands/preset/default/clear.ts
  services/bot-client/src/commands/preset/default/set.test.ts
  services/bot-client/src/commands/preset/default/set.ts
  services/bot-client/src/commands/preset/global/default.test.ts
  services/bot-client/src/commands/preset/global/default.ts
  services/bot-client/src/commands/preset/global/free-default.test.ts
  services/bot-client/src/commands/preset/global/free-default.ts
  services/bot-client/src/commands/preset/index.test.ts
  services/bot-client/src/commands/preset/index.ts
  services/bot-client/src/handlers/__snapshots__/CommandHandler.component.test.ts.snap
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): file TASK-1194/1195 from the 2587 review rounds
  tracker/tasks/task-1194 - Add-surface-inventory-check-to-the-pre-push-gate.md
  tracker/tasks/task-1196 - coverageTopology-bullmq-MECHANISM_PRESENT-Record-keyed-refactor.md
Due: prettier --write

feat(api-gateway): alert the owner when a configured model leaves the OpenRouter catalog
  docs/reference/conformance/discord-surface.json
  docs/reference/conformance/discord-surface.md
  packages/common-types/src/constants/queue.ts
  packages/common-types/src/types/jobs.test.ts
  packages/common-types/src/types/jobs.ts
  packages/test-utils/fixtures/contracts/catalog-drift-alert/batch.json
  packages/tooling/coverage-topology.json
  packages/tooling/src/topology/coverageTopology.test.ts
  packages/tooling/src/topology/coverageTopology.ts
  services/api-gateway/src/index.ts
  services/api-gateway/src/queue.ts
  services/api-gateway/src/services/CatalogDriftChecker.test.ts
  services/api-gateway/src/services/CatalogDriftChecker.ts
  services/api-gateway/src/services/CatalogDriftContract.producer.test.ts
  services/api-gateway/src/services/LlmConfigService.test.ts
  services/api-gateway/src/services/LlmConfigService.ts
  services/api-gateway/src/services/ModelCatalogRefresher.test.ts
  services/api-gateway/src/services/ModelCatalogRefresher.ts
  services/api-gateway/src/utils/validatedQueue.ts
  services/bot-client/src/index.ts
  services/bot-client/src/serviceFactory.test.ts
  services/bot-client/src/serviceFactory.ts
  services/bot-client/src/services/catalogAlert/setupCatalogDriftAlertWorker.test.ts
  services/bot-client/src/services/catalogAlert/setupCatalogDriftAlertWorker.ts
  tests/e2e/contracts/CatalogDriftAlert.contract.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

chore: bump version to 3.0.0-beta.235
  package.json
  packages/cache-invalidation/package.json
  packages/clients/package.json
  packages/common-types/package.json
  packages/config-resolver/package.json
  packages/conversation-history/package.json
  packages/embeddings/package.json
  packages/identity/package.json
  packages/test-factories/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  services/website/package.json
  tests/package.json
Due: prettier --write, secretlint

docs(repo): open the beta.235 release state, smoke checklist into CURRENT.md
  CURRENT.md
Due: prettier --write

docs(backlog): record the beta.234 release, draft beta.235, file TASK-1179
  CURRENT.md
  backlog/now.md
  tracker/tasks/task-1179 - Track-GHSA-ch52-4w7c-c8xp-http-cache-semantics-high-no-patched-version-yet.md
Due: prettier --write

docs(docs): link the conversation-history sync design from system-model.md
  docs/reference/architecture/system-model.md
Due: prettier --write

docs(backlog): file TASK-1190, stale per-release cadence line in git-workflow skill
  tracker/tasks/task-1190 - tzurot-git-workflow-still-names-session-per-release-as-the-owners-preferred-cadence.md
Due: prettier --write

docs(backlog): add TASK-1185 to the beta.235 plan
  backlog/now.md
Due: prettier --write

docs(backlog): beta.235 plan reflects the TASK-1178 keep ruling
  backlog/now.md
Due: prettier --write

docs(backlog): record zaiHeadroomPercent reversal, 75 to 90
  docs/proposals/backlog/free-tier-zai-piggyback.md
Due: prettier --write

docs(backlog): record owner rulings on TASK-1178 and TASK-1180
  tracker/archive/tasks/task-1180 - Swap-the-Rotzot-website-logo-from-the-superseded-purple-cube-to-red.md
  tracker/tasks/task-1178 - Decide-the-IVFFlat-vector-indexes-future-now-that-searches-run-exact.md
Due: prettier --write

docs(backlog): add TASK-1182 to the beta.235 plan
  backlog/now.md
Due: prettier --write

docs(backlog): mark TASK-1188 done, shipped in PR 2582
  tracker/tasks/task-1188 - Reactive-quota-retarget-re-runs-the-same-model-when-the-failing-model-was-auto-promoted-to-z.ai-direct.md
Due: prettier --write

docs(backlog): widen TASK-1166 to the global default and free-default commands
  tracker/tasks/task-1166 - preset-default-add-a-both-option-to-set-text-and-vision-defaults-in-one-command.md
Due: prettier --write

docs(backlog): point task-1110 paths at the renamed seyag harness repo
  tracker/tasks/task-1110 - Drift-check-for-the-harness-core.md-section-pointers-in-.claude-rules-skills-and-hooks.md
Due: prettier --write

docs(backlog): stamp memory-prune 2026-10-08
  backlog/cadence-ledger.json
Due: prettier --write, secretlint

docs(backlog): file TASK-1185, clear-default embed names the free fallback for keyed users
  tracker/tasks/task-1185 - preset-default-clear-names-the-free-default-as-the-fallback-even-for-BYOK-users.md
Due: prettier --write

docs(backlog): close TASK-1177, file TASK-1181 (lexical retrieval leg)
  tracker/tasks/task-1177 - Memory-retrieval-misses-most-of-the-best-matches-IVFFlat-probes1-with-persona-personality-post-filtering.md
  tracker/tasks/task-1181 - Add-a-lexical-leg-to-memory-retrieval-so-rare-names-Haida-Inui-are-found.md
Due: prettier --write

fix(ai-worker): never retarget onto a route the job already tried
  services/ai-worker/src/jobs/handlers/pipeline/steps/GenerationStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/GenerationStep.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/autoPromotionFallback.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/autoPromotionFallback.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/hopOneFloorTarget.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/hopOneFloorTarget.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/quotaFallbackRunner.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/quotaFallbackRunner.ts
  services/ai-worker/src/services/quotaFallback.test.ts
  services/ai-worker/src/services/quotaFallback.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): file TASK-1188/1189, add the Lilith 18-min timeout to TASK-822
  tracker/tasks/task-1188 - Reactive-quota-retarget-re-runs-the-same-model-when-the-failing-model-was-auto-promoted-to-z.ai-direct.md
  tracker/tasks/task-1189 - Reasoning-model-detection-misses-GLM-5.x-so-maxTokens-is-not-scaled-by-the-thinking-level.md
  tracker/tasks/task-822 - Retry-ladder-worst-case-makes-a-user-wait-~10-minutes-before-the-fallback-reply-lands.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{md,json,yml,yaml})
  eslint --fix --max-warnings=0 --no-warn-ignored: any of: *.{ts,tsx}
  secretlint: any of: *.{ts,tsx,js,jsx,json}
