Repository lbds137/tzurot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["prettier --write", "eslint --fix --max-warnings=0 --no-warn-ignored"],
  "*.{md,json,yml,yaml}": ["prettier --write"],
  "*.{ts,tsx,js,jsx,json}": ["secretlint"]
}

feat(repo): add user config override API and character settings dashboard
  services/api-gateway/src/index.ts
  services/api-gateway/src/routes/user/config-overrides.ts
  services/api-gateway/src/routes/user/index.ts
  services/bot-client/src/commands/character/settings.test.ts
  services/bot-client/src/commands/character/settings.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

feat(repo): migrate focusModeEnabled into config cascade JSONB
  prisma/migrations/20260214222958_migrate_focus_mode_to_cascade/migration.sql
  services/api-gateway/src/routes/user/memory.test.ts
  services/api-gateway/src/routes/user/memory.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

test(api-gateway): add tests for config-overrides routes
  services/api-gateway/src/routes/user/config-overrides.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

test(api-gateway): update llm-config integration test for cascade split
  services/api-gateway/src/routes/user/llm-config.int.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(api-gateway): resolve user UUID for admin settings updatedBy and address PR feedback
  services/api-gateway/src/routes/admin/settings.test.ts
  services/api-gateway/src/routes/admin/settings.ts
  services/api-gateway/src/routes/user/config-overrides.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

feat(ai-worker): wire configOverrides through generation pipeline
  services/ai-worker/src/jobs/handlers/pipeline/steps/GenerationStep.ts
  services/ai-worker/src/services/ConversationalRAGService.test.ts
  services/ai-worker/src/services/ConversationalRAGService.ts
  services/ai-worker/src/services/ConversationalRAGTypes.ts
  services/ai-worker/src/services/MemoryRetriever.test.ts
  services/ai-worker/src/services/MemoryRetriever.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

refactor(common-types): soft-deprecate non-LLM fields from LlmConfig resolver
  packages/common-types/src/schemas/llmAdvancedParams.test.ts
  packages/common-types/src/schemas/llmAdvancedParams.ts
  packages/common-types/src/services/LlmConfigResolver.test.ts
  packages/common-types/src/services/LlmConfigResolver.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

feat(repo): add data migration to copy LlmConfig values into cascade JSONB
  prisma/migrations/20260214154529_migrate_llmconfig_to_cascade/migration.sql
Due: none

feat(bot-client): consume cascade overrides for context settings
  packages/common-types/src/services/LlmConfigResolver.ts
  services/bot-client/src/services/PersonalityMessageHandler.test.ts
  services/bot-client/src/services/PersonalityMessageHandler.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

refactor(bot-client): remove context/memory fields from preset dashboard
  services/bot-client/src/commands/preset/api.test.ts
  services/bot-client/src/commands/preset/config.test.ts
  services/bot-client/src/commands/preset/config.ts
  services/bot-client/src/commands/preset/create.test.ts
  services/bot-client/src/commands/preset/dashboard.test.ts
  services/bot-client/src/commands/preset/dashboardButtons.test.ts
  services/bot-client/src/commands/preset/edit.test.ts
  services/bot-client/src/commands/preset/export.test.ts
  services/bot-client/src/commands/preset/export.ts
  services/bot-client/src/commands/preset/import.test.ts
  services/bot-client/src/commands/preset/import.ts
  services/bot-client/src/commands/preset/presetSections.test.ts
  services/bot-client/src/commands/preset/presetSections.ts
  services/bot-client/src/commands/preset/presetValidation.test.ts
  services/bot-client/src/commands/preset/template.ts
  services/bot-client/src/commands/preset/types.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(repo): fix admin settings dashboard to use config cascade
  packages/common-types/src/schemas/api/adminSettings.test.ts
  packages/common-types/src/schemas/api/adminSettings.ts
  services/api-gateway/src/index.ts
  services/api-gateway/src/routes/admin/index.ts
  services/api-gateway/src/routes/admin/settings.test.ts
  services/api-gateway/src/routes/admin/settings.ts
  services/bot-client/src/commands/admin/settings.test.ts
  services/bot-client/src/commands/admin/settings.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

chore: bump version to 3.0.0-beta.74
  BACKLOG.md
  CURRENT.md
  package.json
  packages/common-types/package.json
  packages/embeddings/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/data/import-personality/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  tests/package.json
Due: prettier --write, secretlint

chore(repo): update backlog for v3.0.0-beta.73 release
  BACKLOG.md
Due: prettier --write

refactor(api-gateway): extract shared configOverrideMerge utility
  CURRENT.md
  services/api-gateway/src/routes/admin/settings.ts
  services/api-gateway/src/routes/user/config-overrides.ts
  services/api-gateway/src/utils/configOverrideMerge.test.ts
  services/api-gateway/src/utils/configOverrideMerge.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

feat(bot-client): add thread inheritance for denylist and channel activation
  services/bot-client/src/commands/deny/browse.ts
  services/bot-client/src/commands/deny/detailTypes.test.ts
  services/bot-client/src/commands/deny/detailTypes.ts
  services/bot-client/src/processors/ActivatedChannelProcessor.test.ts
  services/bot-client/src/processors/ActivatedChannelProcessor.ts
  services/bot-client/src/processors/DenylistFilter.test.ts
  services/bot-client/src/processors/DenylistFilter.ts
  services/bot-client/src/services/DenylistCache.test.ts
  services/bot-client/src/services/DenylistCache.ts
  services/bot-client/src/services/MessageContextBuilder.ts
  services/bot-client/src/utils/discordChannelTypes.test.ts
  services/bot-client/src/utils/discordChannelTypes.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

refactor(bot-client): consolidate channel denial checks in DenylistFilter
  services/bot-client/src/processors/DenylistFilter.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

chore(deps): bump LangChain and OpenAI SDK to latest patches
  pnpm-lock.yaml
  services/ai-worker/package.json
Due: prettier --write, secretlint

feat(repo): skip LTM retrieval and storage for weigh-in pokes
  packages/common-types/src/types/jobs.ts
  packages/common-types/src/types/schemas/personality.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/GenerationStep.ts
  services/ai-worker/src/services/ConversationalRAGService.test.ts
  services/ai-worker/src/services/ConversationalRAGService.ts
  services/ai-worker/src/services/ConversationalRAGTypes.ts
  services/ai-worker/src/services/MemoryRetriever.test.ts
  services/ai-worker/src/services/MemoryRetriever.ts
  services/bot-client/src/commands/character/chat.test.ts
  services/bot-client/src/commands/character/chat.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

feat(repo): preserve reply-to context for deduplicated references
  packages/common-types/src/types/api-types.test.ts
  packages/common-types/src/types/schemas/message.ts
  services/ai-worker/src/jobs/utils/conversationUtils.test.ts
  services/ai-worker/src/jobs/utils/xmlMetadataFormatters.test.ts
  services/ai-worker/src/jobs/utils/xmlMetadataFormatters.ts
  services/ai-worker/src/services/ReferencedMessageFormatter.test.ts
  services/ai-worker/src/services/ReferencedMessageFormatter.ts
  services/ai-worker/src/services/ResponsePostProcessor.test.ts
  services/ai-worker/src/services/ResponsePostProcessor.ts
  services/bot-client/src/handlers/MessageReferenceExtractor.test.ts
  services/bot-client/src/handlers/references/ReferenceCrawler.test.ts
  services/bot-client/src/handlers/references/ReferenceCrawler.ts
  services/bot-client/src/handlers/references/ReferenceFormatter.test.ts
  services/bot-client/src/handlers/references/ReferenceFormatter.ts
  services/bot-client/src/handlers/references/types.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

refactor(repo): extract shared dedup stub formatter and constant
  packages/common-types/src/constants/discord.ts
  services/ai-worker/src/jobs/utils/xmlMetadataFormatters.test.ts
  services/ai-worker/src/jobs/utils/xmlMetadataFormatters.ts
  services/ai-worker/src/services/ReferencedMessageFormatter.ts
  services/ai-worker/src/services/prompt/QuoteFormatter.ts
  services/bot-client/src/handlers/references/ReferenceFormatter.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint
