Repository lbds137/tzurot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

feat(ai-worker): populate usage attribution + add telemetry:inference report
  docs/legal/PRIVACY_POLICY.md
  docs/reference/tooling/OPS_CLI_REFERENCE.md
  packages/tooling/src/commands/telemetry.ts
  packages/tooling/src/telemetry/discoverability-report.test.ts
  packages/tooling/src/telemetry/discoverability-report.ts
  packages/tooling/src/telemetry/inference-report-render.test.ts
  packages/tooling/src/telemetry/inference-report-render.ts
  packages/tooling/src/telemetry/inference-report.test.ts
  packages/tooling/src/telemetry/inference-report.ts
  packages/tooling/src/telemetry/reportRunner.test.ts
  packages/tooling/src/telemetry/reportRunner.ts
  prisma/schema.prisma
  services/ai-worker/src/jobs/AIJobProcessor.test.ts
  services/ai-worker/src/jobs/AIJobProcessor.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/GenerationStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/GenerationStep.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/autoPromotionFallback.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/autoPromotionFallback.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/quotaFallbackRunner.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/quotaFallbackRunner.ts
  services/ai-worker/src/jobs/rosterBlurbSweep.test.ts
  services/ai-worker/src/jobs/rosterBlurbSweep.ts
  services/ai-worker/src/services/extraction/FactExtractionService.test.ts
  services/ai-worker/src/services/extraction/FactExtractionService.ts
  vitest.component.config.ts
  vitest.config.ts
  vitest.eval.config.ts
  vitest.integration.config.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: doc-12 full P1 tier shipped — board + session close-out
  CURRENT.md
  backlog/now.md
  tracker/docs/doc-12 - Theme-Observability-Telemetry.md
Due: prettier --write

chore: bump version to 3.0.0-beta.208
  package.json
  packages/cache-invalidation/package.json
  packages/clients/package.json
  packages/common-types/package.json
  packages/config-resolver/package.json
  packages/conversation-history/package.json
  packages/embeddings/package.json
  packages/identity/package.json
  packages/test-factories/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  services/website/package.json
  tests/package.json
Due: prettier --write, secretlint

docs(backlog): file TASK-767 — recovery rehydrates delivered slots as pending
  tracker/tasks/task-767 - Recovery-rehydrates-already-delivered-slots-as-pending-safety-flush-sends-a-spurious-timeout-after-the-real-reply.md
Due: prettier --write

docs(backlog): file TASK-774 — export-smoke sentinel snapshot bound will eventually false-positive
  tracker/tasks/task-774 - Sentinel-export-smoke-SENTINEL_QUERY_BOUND500-will-eventually-false-positive-as-re-homed-characters-accumulate.md
Due: prettier --write

fix(ai-worker): classify openrouter invalid-model 400s and veto unlisted retargets
  packages/common-types/src/constants/error.ts
  services/ai-worker/src/jobs/AIJobProcessor.component.test.ts
  services/ai-worker/src/jobs/handlers/LLMGenerationHandler.test.ts
  services/ai-worker/src/jobs/handlers/LLMGenerationHandler.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/guestModeOverrides.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/promotionDemotion.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/quotaFallbackRunner.test.ts
  services/ai-worker/src/redis.ts
  services/ai-worker/src/services/ModelCapabilityChecker.test.ts
  services/ai-worker/src/services/ModelCapabilityChecker.ts
  services/ai-worker/src/services/quotaFallback.test.ts
  services/ai-worker/src/services/quotaFallback.ts
  services/ai-worker/src/utils/apiErrorParser.test.ts
  services/ai-worker/src/utils/apiErrorParser.ts
  services/bot-client/src/handlers/MessageHandler.test.ts
  services/bot-client/src/handlers/MessageHandler.ts
  services/bot-client/src/handlers/messageJobContextToSlotContext.test.ts
  services/bot-client/src/handlers/messageJobContextToSlotContext.ts
  services/bot-client/src/observability/ErrorChannelReporter.test.ts
  services/bot-client/src/observability/ErrorChannelReporter.ts
  services/bot-client/src/services/multiTagDeliveryFlow.test.ts
  services/bot-client/src/services/multiTagDeliveryFlow.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): file TASK-768 — ci-gate review-round counter overcounts
  tracker/tasks/task-768 - ci-gate-REVIEW_ROUND_CAP-counter-printed-an-implausible-588-cycles-on-PR-2213.md
Due: prettier --write

docs(backlog): file TASK-770 — NSFW-block messaging reads as a moderation denial
  tracker/tasks/task-770 - NSFW-verification-block-posts-the-generic-unavailable-message-and-prompt-cleanup-leaves-it-as-the-only-visible-explanation.md
Due: prettier --write

docs(backlog): task-763 shipped in #2219; board state for 760/761
  backlog/now.md
  tracker/tasks/task-763 - Re-point-reply-references-at-the-parent-voice-message-when-the-reply-targets-our-transcript-reply.md
Due: prettier --write

feat(bot-client): weekly export-path smoke against the sentinel account
  packages/clients/src/clients/_generated/service-client.ts
  packages/clients/src/routes/internal.ts
  packages/common-types/package.json
  packages/common-types/src/schemas/api/internal.test.ts
  packages/common-types/src/schemas/api/internal.ts
  packages/common-types/src/schemas/export/accountExportAccountSchemas.test.ts
  packages/common-types/src/schemas/export/accountExportAccountSchemas.ts
  packages/common-types/src/schemas/export/accountExportConfigSchemas.test.ts
  packages/common-types/src/schemas/export/accountExportConfigSchemas.ts
  packages/common-types/src/schemas/export/accountExportCoreSchemas.test.ts
  packages/common-types/src/schemas/export/accountExportCoreSchemas.ts
  packages/common-types/src/schemas/export/accountExportManifest.test.ts
  packages/common-types/src/schemas/export/accountExportManifest.ts
  packages/tooling/coverage-topology.json
  packages/tooling/src/codegen/handler-paths.ts
  pnpm-lock.yaml
  services/api-gateway/src/routes/_generated/mounts.ts
  services/api-gateway/src/routes/conformance/fixtures/internal.ts
  services/api-gateway/src/routes/internal/exportSmoke.test.ts
  services/api-gateway/src/routes/internal/exportSmoke.ts
  services/api-gateway/src/routes/user/account/export.ts
  services/api-gateway/src/routes/user/shapes/export.ts
  services/api-gateway/src/utils/exportDownloadUrl.test.ts
  services/api-gateway/src/utils/exportDownloadUrl.ts
  services/bot-client/package.json
  services/bot-client/src/index.ts
  services/bot-client/src/services/ExportSmokeScheduler.test.ts
  services/bot-client/src/services/ExportSmokeScheduler.ts
  services/bot-client/src/services/exportSmokeCountChecks.test.ts
  services/bot-client/src/services/exportSmokeCountChecks.ts
  services/bot-client/src/services/exportSmokeManifestChecks.test.ts
  services/bot-client/src/services/exportSmokeManifestChecks.ts
  services/bot-client/src/services/exportSmokeSchemaChecks.test.ts
  services/bot-client/src/services/exportSmokeSchemaChecks.ts
  services/bot-client/src/services/exportSmokeTypes.ts
  services/bot-client/src/services/exportSmokeValidator.test.ts
  services/bot-client/src/services/exportSmokeValidator.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

feat(tooling): add telemetry:report — command discoverability over command_events
  docs/reference/tooling/OPS_CLI_REFERENCE.md
  packages/tooling/src/cli.ts
  packages/tooling/src/commands/telemetry.ts
  packages/tooling/src/telemetry/discoverability-report.test.ts
  packages/tooling/src/telemetry/discoverability-report.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

feat(prisma): add usage_logs attribution columns — latency_ms, byok, personality_id
  packages/test-utils/schema/pglite-schema.sql
  prisma/migrations/20260825204841_add_usage_attribution/migration.sql
  prisma/migrations/20260825225949_add_usage_personality_index/migration.sql
  prisma/schema.prisma
Due: none

docs: beta.208 released — boards reset, beta.209 plan drafted
  CURRENT.md
  backlog/now.md
Due: prettier --write

docs: record retention purge — 11 never-used accounts erased, userbase 212→201
  CURRENT.md
Due: prettier --write

docs: retention fully caught up — bounced warning DM, final unreachable purged
  CURRENT.md
Due: prettier --write

docs: beta.209 theme decided (doc-78 + deny pair); Opus-driver week posture
  CURRENT.md
  backlog/now.md
Due: prettier --write

docs: operationalize usage-audit levers — flip trigger, per-model caveat, batching
  .claude/rules/10-working-posture.md
  .claude/skills/tzurot-usage-audit/SKILL.md
Due: prettier --write

docs: usage-audit operationalization shipped (#2226) — update posture pointer
  CURRENT.md
Due: prettier --write

feat(common-types): add DM context isolation via shareHistoryAcrossPersonalities
  packages/common-types/src/schemas/api/configOverrides.test.ts
  packages/common-types/src/schemas/api/configOverrides.ts
  packages/config-resolver/src/ConfigCascadeResolver.test.ts
  packages/config-resolver/src/ConfigCascadeResolver.ts
  packages/conversation-history/src/ConversationHistoryService.component.test.ts
  packages/conversation-history/src/ConversationHistoryService.test.ts
  packages/conversation-history/src/ConversationHistoryService.ts
  packages/conversation-history/src/ConversationMessageMapper.test.ts
  packages/conversation-history/src/ConversationMessageMapper.ts
  packages/tooling/src/memory/mine-conversation-goldens.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/ConfigStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/GenerationStep.test.ts
  services/ai-worker/src/services/MemoryRetriever.test.ts
  services/ai-worker/src/services/context/ContextAssembler.test.ts
  services/ai-worker/src/services/context/ContextAssembler.ts
  services/ai-worker/src/services/context/channelHistoryHydration.test.ts
  services/ai-worker/src/services/context/channelHistoryHydration.ts
  services/bot-client/src/commands/admin/settings.test.ts
  services/bot-client/src/commands/channel/settings.test.ts
  services/bot-client/src/commands/character/overrides.test.ts
  services/bot-client/src/commands/character/settings.test.ts
  services/bot-client/src/commands/settings/defaults/edit.test.ts
  services/bot-client/src/utils/dashboard/settings/settingsConfig.ts
  services/bot-client/src/utils/dashboard/settings/settingsDataBuilder.test.ts
  services/bot-client/src/utils/dashboard/settings/settingsDataBuilder.ts
  services/bot-client/src/utils/dashboard/settings/settingsUpdate.ts
  tracker/docs/doc-78 - Idea-DM-Context-Isolation-per-character-history-scoping-in-DMs.md
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: record doc-78 shipped (#2227) and the three-surfaces scope finding
  CURRENT.md
  backlog/now.md
Due: prettier --write

fix(bot-client): stop recovery rehydrating already-delivered slots as pending
  packages/common-types/src/constants/queue.ts
  services/bot-client/src/services/MultiTagPersistence.ts
  services/bot-client/src/services/MultiTagRecovery.test.ts
  services/bot-client/src/services/MultiTagRecovery.ts
  services/bot-client/src/services/multiTagCoordinatorHelpers.test.ts
  services/bot-client/src/services/multiTagCoordinatorHelpers.ts
  services/bot-client/src/services/multiTagDeliveryFlow.test.ts
  services/bot-client/src/services/multiTagDeliveryFlow.ts
  services/bot-client/src/services/multiTagRecoveryHelpers.test.ts
  services/bot-client/src/services/multiTagRecoveryHelpers.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): close out #2228 — TASK-767 Done, TASK-775 filed
  CURRENT.md
  backlog/now.md
  tracker/tasks/task-767 - Recovery-rehydrates-already-delivered-slots-as-pending-safety-flush-sends-a-spurious-timeout-after-the-real-reply.md
  tracker/tasks/task-775 - Pin-the-markStale-confirmDelivery-jobId-overlap-in-discardRecoveredEntry.md
Due: prettier --write

docs(backlog): record the confirmed TASK-598 mechanism, keep the task open
  tracker/tasks/task-598 - Pre-push-should-rebuild-tooling-dist-when-eslint-plugin-entry-is-missing-in-a-worktree.md
Due: prettier --write

docs(backlog): record the partial on TASK-653 and correct its stale sibling list
  tracker/tasks/task-653 - Merge-time-hook-should-demand-re-derivation-of-numeric-claims-in-a-PR-body.md
Due: prettier --write

fix(tooling): declare root turbo.json and eslint.config.js as tooling test cache inputs
  packages/tooling/src/turbo-inputs-coverage.test.ts
  packages/tooling/turbo.json
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(tooling): order turbo lint after the tooling build its ESLint plugin comes from
  packages/tooling/src/turbo-lint-build-edge.test.ts
  turbo.json
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): record the probed Stryker semantics and measured cost on TASK-673
  tracker/tasks/task-673 - Core-Principle-9-has-no-mechanical-trigger-and-Stryker-cannot-substitute-for-it.md
Due: prettier --write

docs(backlog): close out #2229 and the drain pass around it
  CURRENT.md
  backlog/now.md
Due: prettier --write

feat: extend diagnostic-log retention from 24h to 7 days
  docs/legal/PRIVACY_POLICY.md
  docs/reference/REASONING_MODEL_FORMATS.md
  docs/reference/tooling/OPS_CLI_REFERENCE.md
  services/ai-worker/src/jobs/CleanupDiagnosticLogs.test.ts
  services/ai-worker/src/jobs/CleanupDiagnosticLogs.ts
  services/api-gateway/src/routes/admin/diagnostic.ts
  services/api-gateway/src/routes/user/historyReasoning.ts
  services/api-gateway/src/services/sync/config/syncTables.ts
  services/bot-client/src/services/ConversationPersistence.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

feat: sweep the remaining diagnostic-retention claims from 24h to 7 days
  docs/proposals/backlog/agentic-scaffolding.md
  docs/proposals/backlog/message-actions.md
  packages/common-types/src/schemas/api/internal.ts
  packages/common-types/src/types/diagnostic.ts
  packages/tooling/src/cache/prefix-diff.ts
  services/ai-worker/src/jobs/CleanupDiagnosticLogs.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/diagnosticStorage.ts
  services/api-gateway/src/routes/user/historyReasoning.component.test.ts
  services/bot-client/src/commands/inspect/browse.test.ts
  services/bot-client/src/commands/inspect/browse.ts
  services/bot-client/src/commands/inspect/lookup.test.ts
  services/bot-client/src/commands/inspect/lookup.ts
  services/bot-client/src/commands/inspect/viewContext.test.ts
  services/bot-client/src/commands/viewReasoning.test.ts
  services/bot-client/src/commands/viewReasoning.ts
  services/bot-client/src/services/SlotDeliveryService.test.ts
  services/bot-client/src/services/SlotDeliveryService.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix: delete the inert redis reconnect policy and route cache clients through the factory
  packages/common-types/src/constants/timing.ts
  packages/common-types/src/utils/redis.test.ts
  packages/common-types/src/utils/redis.ts
  services/ai-worker/src/index.ts
  services/bot-client/src/index.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): record TASK-612 clause verdicts and its close-when trigger
  tracker/tasks/task-612 - bot-client-and-ai-worker-cacheRedis-clients-still-bypass-createIORedisClient.md
Due: prettier --write

docs(backlog): file TASK-776 — the one unbuilt idea in the Redis timeout analysis
  tracker/tasks/task-776 - Redis-circuit-breaker-was-proposed-in-the-2025-timeout-analysis-and-never-built.md
Due: prettier --write

docs(backlog): close TASK-613 — the inert reconnect policy is deleted
  tracker/tasks/task-613 - reconnectStrategy-is-a-node-redis-option-name-that-ioredis-ignores-so-the-bounded-reconnect-policy-has-never-applied.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{md,json,yml,yaml})
  eslint --fix --max-warnings=0 --no-warn-ignored: any of: *.{ts,tsx}
  secretlint: any of: *.{ts,tsx,js,jsx,json}
