Repository lbds137/tzurot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

refactor(bot-client): delete CONTEXT_MODE — service write/sync/routing is unconditional
  services/bot-client/src/index.ts
  services/bot-client/src/processors/PersonalityTriggerProcessor.ts
  services/bot-client/src/services/ConversationPersistence.test.ts
  services/bot-client/src/services/ConversationPersistence.ts
  services/bot-client/src/services/DiscordChannelFetcher.test.ts
  services/bot-client/src/services/DiscordChannelFetcher.ts
  services/bot-client/src/services/HttpPersonalityLoader.ts
  services/bot-client/src/services/MessageContextBuilder.ts
  services/bot-client/src/services/PersonalityIdCache.test.ts
  services/bot-client/src/services/PersonalityIdCache.ts
  services/bot-client/src/services/channelFetcher/SyncExecutor.test.ts
  services/bot-client/src/services/channelFetcher/SyncExecutor.ts
  services/bot-client/src/services/serviceRegistry.ts
  services/bot-client/src/types/IPersonalityLoader.ts
  services/bot-client/src/utils/contextWritePath.test.ts
  services/bot-client/src/utils/contextWritePath.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(bot-client): refresh comments referencing the removed CONTEXT_MODE distinction
  services/bot-client/src/services/ConversationPersistence.ts
  services/bot-client/src/utils/contextWritePath.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): track post-CONTEXT_MODE-removal cleanup (PR #1268 review)
  backlog/cold/follow-ups.md
Due: prettier --write

refactor(ai-worker): require kind:'envelope', fail loud (delete promote scaffolding)
  backlog/cold/follow-ups.md
  services/ai-worker/src/jobs/AIJobProcessor.int.test.ts
  services/ai-worker/src/jobs/handlers/LLMGenerationHandler.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/ContextStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/ContextStep.ts
  services/ai-worker/src/services/context/contextFlags.test.ts
  services/ai-worker/src/services/context/contextFlags.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): drop shipped promote-path scaffolding follow-up (PR #1269)
  backlog/cold/follow-ups.md
Due: prettier --write

refactor(bot-client): make thin envelope unconditional, delete RAW_ENVELOPE/THIN_PAYLOAD
  backlog/cold/follow-ups.md
  services/bot-client/src/handlers/MessageReferenceExtractor.ts
  services/bot-client/src/services/MessageContextBuilder.test.ts
  services/bot-client/src/services/MessageContextBuilder.ts
  services/bot-client/src/services/contextBuilder/RawEnvelopeBuilder.test.ts
  services/bot-client/src/services/contextBuilder/RawEnvelopeBuilder.ts
  services/bot-client/src/services/contextBuilder/ReferenceExtractor.test.ts
  services/bot-client/src/services/contextBuilder/ReferenceExtractor.ts
  services/bot-client/src/services/contextBuilder/contextVariant.test.ts
  services/bot-client/src/services/contextBuilder/contextVariant.ts
  services/bot-client/src/utils/contextWritePath.test.ts
  services/bot-client/src/utils/contextWritePath.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: forbid "logs rolled off" excuse; document Railway log-query gotchas
  .claude/rules/00-critical.md
  .claude/skills/tzurot-deployment/SKILL.md
Due: prettier --write

debug(bot-client): log embed image URL raw vs proxy fields
  services/bot-client/src/utils/embedImageExtractor.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(ai-worker): exclude the trigger message from assembled history
  services/ai-worker/src/services/context/ContextAssembler.test.ts
  services/ai-worker/src/services/context/ContextAssembler.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(ai-worker): download images for vision instead of handing the provider a URL
  backlog/cold/follow-ups.md
  backlog/cold/ideas.md
  services/ai-worker/src/jobs/handlers/pipeline/steps/DownloadAttachmentsStep.ts
  services/ai-worker/src/services/multimodal/VisionProcessor.test.ts
  services/ai-worker/src/services/multimodal/VisionProcessor.ts
  services/ai-worker/src/utils/imageToDataUrl.test.ts
  services/ai-worker/src/utils/imageToDataUrl.ts
  services/bot-client/src/utils/embedImageExtractor.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): file image_fetch_fallback camelCase rename follow-up (PR #1274)
  backlog/cold/follow-ups.md
Due: prettier --write

chore: bump version to 3.0.0-beta.135
  package.json
  packages/clients/package.json
  packages/common-types/package.json
  packages/embeddings/package.json
  packages/test-factories/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  tests/package.json
Due: prettier --write, secretlint

fix(bot-client): tag @Name's typed with a typographic apostrophe
  services/bot-client/src/utils/personalityMentionParser.test.ts
  services/bot-client/src/utils/personalityMentionParser.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(api-gateway): converge the two gateway LlmConfigResolver instances + pub/sub
  backlog/now.md
  services/api-gateway/src/index.ts
  services/api-gateway/src/routes/user/llm-config.ts
  services/api-gateway/src/routes/user/llmConfigResolve.test.ts
  services/api-gateway/src/routes/user/llmConfigResolve.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): file release:finalize --dry-run false-no-op tooling bug
  backlog/cold/follow-ups.md
Due: prettier --write

docs(backlog): file file-naming-convention + resolveSummonAnonymity-sync follow-ups
  backlog/cold/follow-ups.md
Due: prettier --write

fix(clients): flip the gateway read-timeout default to DEFERRED + invert the guard
  packages/clients/src/clients/_generated/user-client.ts
  packages/clients/src/clients/transport.test.ts
  packages/clients/src/clients/transport.ts
  packages/clients/src/routes/admin.ts
  packages/clients/src/routes/manifest.test.ts
  packages/clients/src/routes/types.ts
  packages/clients/src/routes/user/diagnostics.ts
  packages/common-types/src/constants/discord.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: reset CURRENT.md for the v3.0.0-beta.134 release
  CURRENT.md
Due: prettier --write

docs: refresh comments that referenced the deleted shadow machinery
  services/ai-worker/src/services/context/types.ts
  services/bot-client/src/utils/contextWritePath.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

chore: remove defaultMode override from .claude/settings.json
  .claude/settings.json
Due: prettier --write, secretlint

refactor(bot-client): adopt replyError() in component handlers; widen for modals
  services/bot-client/src/commands/character/view.test.ts
  services/bot-client/src/commands/character/view.ts
  services/bot-client/src/commands/inspect/index.ts
  services/bot-client/src/commands/memory/detail.test.ts
  services/bot-client/src/commands/memory/detail.ts
  services/bot-client/src/commands/persona/view.test.ts
  services/bot-client/src/commands/persona/view.ts
  services/bot-client/src/commands/preset/create.test.ts
  services/bot-client/src/commands/preset/create.ts
  services/bot-client/src/commands/settings/apikey/modal.test.ts
  services/bot-client/src/commands/settings/apikey/modal.ts
  services/bot-client/src/utils/dashboard/replyError.test.ts
  services/bot-client/src/utils/dashboard/replyError.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

refactor(ai-worker): delete the shadow context-assembly instrumentation
  services/ai-worker/src/jobs/handlers/LLMGenerationHandler.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/ContextStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/ContextStep.ts
  services/ai-worker/src/services/context/shadowAssembly.test.ts
  services/ai-worker/src/services/context/shadowAssembly.ts
  services/ai-worker/src/services/context/shadowHydration.test.ts
  services/ai-worker/src/services/context/shadowHydration.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

refactor(bot-client): meaningful apikey log message + defensive followUp mocks
  services/bot-client/src/commands/preset/create.test.ts
  services/bot-client/src/commands/settings/apikey/modal.test.ts
  services/bot-client/src/commands/settings/apikey/modal.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

test(bot-client): cover inspect handleSelectMenu replyError error paths
  services/bot-client/src/commands/inspect/index.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{md,json,yml,yaml})
  eslint --fix --max-warnings=0 --no-warn-ignored: any of: *.{ts,tsx}
  secretlint: any of: *.{ts,tsx,js,jsx,json}
