Repository lbds137/tzurot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(bot-client): ack-first the persona create/override modal submits
  services/bot-client/src/commands/persona/create.test.ts
  services/bot-client/src/commands/persona/create.ts
  services/bot-client/src/commands/persona/override/set.test.ts
  services/bot-client/src/commands/persona/override/set.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): track handleOverrideCreateModalSubmit mapOverrideError gap
  backlog/cold/follow-ups.md
Due: prettier --write

docs(backlog): track branch-aware component-handler-ack-first follow-up
  backlog/cold/follow-ups.md
Due: prettier --write

feat(tooling): add component-handler-ack-first ESLint rule
  docs/research/ack-first-lint-rule-redesign.md
  eslint.config.js
  packages/tooling/src/eslint/component-handler-ack-first.test.ts
  packages/tooling/src/eslint/component-handler-ack-first.ts
  packages/tooling/src/eslint/index.ts
  services/bot-client/src/commands/character/dashboardActions.ts
  services/bot-client/src/commands/memory/detailActionRouter.ts
  services/bot-client/src/commands/memory/purge.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): file C7 — union-param rule extension + 6-site triage
  backlog/cold/follow-ups.md
Due: prettier --write

docs(backlog): fold #1409 round-3 minors into C7
  backlog/cold/follow-ups.md
Due: prettier --write

fix(bot-client): 10062-harden + dedup the settings dashboard session guards
  services/bot-client/src/utils/dashboard/settings/SettingsDashboardHandler.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): file model-footer mis-attribution bug + Phase-4 fallback data point
  backlog/cold/follow-ups.md
Due: prettier --write

docs(backlog): phase-4 fallback is tier-aware (paid uses paid global default)
  backlog/cold/follow-ups.md
Due: prettier --write

docs(backlog): couple the model-footer bug fix to Phase 4
  backlog/cold/follow-ups.md
Due: prettier --write

fix(bot-client): ack-first the persona override context handlers
  services/bot-client/src/commands/persona/override/set.test.ts
  services/bot-client/src/commands/persona/override/set.ts
  services/bot-client/src/utils/dashboard/ackWithTimeoutCatch.ts
  services/bot-client/src/utils/dashboard/showModalWithTimeoutCatch.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): fold context-param rule guard into C7
  backlog/cold/follow-ups.md
Due: prettier --write

feat: extend the ack-first rule to union params + remove a dead anti-pattern
  .claude/rules/04-discord.md
  packages/tooling/src/eslint/component-handler-ack-first.test.ts
  packages/tooling/src/eslint/component-handler-ack-first.ts
  services/bot-client/src/utils/dashboard/index.ts
  services/bot-client/src/utils/dashboard/sessionHelpers.test.ts
  services/bot-client/src/utils/dashboard/sessionHelpers.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): track stale getSessionDataOrReply mock residue (post-C7)
  backlog/cold/follow-ups.md
Due: prettier --write

docs(backlog): correct the isDefault/isFreeDefault column-drop entry
  backlog/cold/follow-ups.md
Due: prettier --write

refactor: drop isDefault/isFreeDefault from the llm-config detail shape (S4a)
  packages/common-types/src/schemas/api/llm-config.test.ts
  packages/common-types/src/schemas/api/llm-config.ts
  packages/test-factories/src/factories.test.ts
  packages/test-factories/src/llm-config.ts
  services/api-gateway/src/services/LlmConfigService.component.test.ts
  services/api-gateway/src/services/LlmConfigService.test.ts
  services/api-gateway/src/services/LlmConfigService.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): file the override supportsVision Promise.all follow-up (#1419 review)
  backlog/cold/follow-ups.md
Due: prettier --write

feat(api-gateway): enrich ModelOverrideSummary with supportsVision (S4b-gateway)
  packages/common-types/src/schemas/api/model-override.test.ts
  packages/common-types/src/schemas/api/model-override.ts
  packages/test-factories/src/model-override.ts
  services/api-gateway/src/routes/user/model-override.test.ts
  services/api-gateway/src/routes/user/model-override.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

feat(bot-client): override-browse 👁 badge reads supportsVision, not kind (S4b)
  services/bot-client/src/commands/settings/preset/browse.test.ts
  services/bot-client/src/utils/overrideBrowse.test.ts
  services/bot-client/src/utils/overrideBrowse.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): mark Phase 3 S4 complete + correct the column-drop-prep scope
  backlog/active-epic.md
  backlog/cold/follow-ups.md
Due: prettier --write

refactor(api-gateway): stop selecting/writing the dead isDefault/isFreeDefault columns
  packages/common-types/src/schemas/api/llm-config.ts
  services/api-gateway/src/services/LlmConfigService.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: delete the ack-first lint-rule research doc (epic closed)
  backlog/cold/follow-ups.md
  docs/research/ack-first-lint-rule-redesign.md
Due: prettier --write

docs(backlog): file PersonalityLoader stale-isDefault read (PR #1421 review)
  backlog/cold/follow-ups.md
Due: prettier --write

fix: read the global-default pointer in PersonalityLoader, not the stale isDefault column
  packages/identity/src/personality/PersonalityLoader.test.ts
  packages/identity/src/personality/PersonalityLoader.ts
  services/ai-worker/src/jobs/ShapesImportHelpers.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): disambiguate the persist-timeout — dead-conn, NOT the GIN index
  backlog/now.md
Due: prettier --write

docs(backlog): watch the tightened fast-pool ladder's label rates post-deploy (#1423 review)
  backlog/cold/follow-ups.md
Due: prettier --write

fix: retry every fast-pool op once on a dead/stale connection + tighten the ladder
  packages/common-types/src/services/poolConfig.test.ts
  packages/common-types/src/services/poolConfig.ts
  services/api-gateway/src/index.ts
  services/api-gateway/src/utils/dbTimeout.test.ts
  services/api-gateway/src/utils/dbTimeout.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): file the read-path self-label asymmetry (#1423 round-4 review)
  backlog/cold/follow-ups.md
Due: prettier --write

chore: bump version to 3.0.0-beta.143
  package.json
  packages/cache-invalidation/package.json
  packages/clients/package.json
  packages/common-types/package.json
  packages/config-resolver/package.json
  packages/conversation-history/package.json
  packages/embeddings/package.json
  packages/identity/package.json
  packages/test-factories/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  tests/package.json
Due: prettier --write, secretlint

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{md,json,yml,yaml})
  eslint --fix --max-warnings=0 --no-warn-ignored: any of: *.{ts,tsx}
  secretlint: any of: *.{ts,tsx,js,jsx,json}
