Repository lbds137/tzurot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(ai-worker): update stale /wallet command refs to /settings apikey set
  services/ai-worker/src/jobs/ImageDescriptionJob.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/DependencyStep.test.ts
  services/ai-worker/src/services/multimodal/VisionProcessor.test.ts
  services/ai-worker/src/services/multimodal/VisionProcessor.ts
  services/ai-worker/src/services/multimodal/visionAuthResolver.test.ts
  services/ai-worker/src/services/multimodal/visionAuthResolver.ts
  services/bot-client/src/commands/settings/apikey/remove.ts
  services/bot-client/src/commands/settings/apikey/set.ts
  services/bot-client/src/commands/settings/apikey/test.ts
  services/bot-client/src/utils/defineCommand.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(api-gateway): z.ai-key-required message + admin-route z.ai-only coverage
  services/api-gateway/src/routes/admin/llm-config.test.ts
  services/api-gateway/src/utils/modelValidation.test.ts
  services/api-gateway/src/utils/modelValidation.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): reframe moot z.ai-autocomplete item as a model-browser command
  backlog/icebox.md
Due: prettier --write

docs(backlog): design proposal for free-tier z.ai piggyback (GLM-4.5-Air)
  backlog/icebox.md
  docs/proposals/backlog/free-tier-zai-piggyback.md
Due: prettier --write

docs(backlog): file HIGH-priority rate-limit guard fast-follow for vision fallback
  backlog/inbox.md
Due: prettier --write

feat(bot-client): "requires z.ai key" badge on preset dashboard
  packages/common-types/src/schemas/api/llm-config.test.ts
  packages/common-types/src/schemas/api/llm-config.ts
  services/api-gateway/src/routes/user/llm-config.test.ts
  services/api-gateway/src/routes/user/llm-config.ts
  services/api-gateway/src/utils/modelValidation.test.ts
  services/api-gateway/src/utils/modelValidation.ts
  services/bot-client/src/commands/preset/config.test.ts
  services/bot-client/src/commands/preset/config.ts
  services/bot-client/src/commands/preset/presetSections.test.ts
  services/bot-client/src/commands/preset/presetSections.ts
  services/bot-client/src/commands/preset/types.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): sweep shipped z.ai items (#1202, #1203)
  backlog/icebox.md
  backlog/inbox.md
  backlog/quick-wins.md
Due: prettier --write

feat(ai-worker): broad free-vision fallback for cross-provider auth gaps
  services/ai-worker/src/jobs/ImageDescriptionJob.test.ts
  services/ai-worker/src/jobs/ImageDescriptionJob.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/DependencyStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/DependencyStep.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/extendedContextVisionProcessor.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/extendedContextVisionProcessor.ts
  services/ai-worker/src/services/MultimodalProcessor.ts
  services/ai-worker/src/services/multimodal/VisionProcessor.test.ts
  services/ai-worker/src/services/multimodal/VisionProcessor.ts
  services/ai-worker/src/services/multimodal/visionAuthResolver.test.ts
  services/ai-worker/src/services/multimodal/visionAuthResolver.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): remove shipped vision-fallback item (#1204)
  backlog/inbox.md
Due: prettier --write

feat(ai-worker): per-user daily cap on system-key free-vision fallback
  packages/common-types/src/constants/redis-keys.test.ts
  packages/common-types/src/constants/redis-keys.ts
  services/ai-worker/src/jobs/ImageDescriptionJob.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/DependencyStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/extendedContextVisionProcessor.test.ts
  services/ai-worker/src/redis.ts
  services/ai-worker/src/services/VisionFallbackQuota.test.ts
  services/ai-worker/src/services/VisionFallbackQuota.ts
  services/ai-worker/src/services/multimodal/visionAuthResolver.test.ts
  services/ai-worker/src/services/multimodal/visionAuthResolver.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): remove shipped rate-limit guard item (#1205)
  backlog/inbox.md
Due: prettier --write

feat(ai-worker): raise system-fallback vision cap 20→100/day
  backlog/inbox.md
  services/ai-worker/src/services/VisionFallbackQuota.test.ts
  services/ai-worker/src/services/VisionFallbackQuota.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: log z.ai backlog sweep + unreleased-on-develop section (beta.131 delta)
  CURRENT.md
Due: prettier --write

docs(backlog): sweep 3 deferred items resolved/mooted by #1204
  backlog/deferred.md
Due: prettier --write

chore: bump version to 3.0.0-beta.131
  package.json
  packages/clients/package.json
  packages/common-types/package.json
  packages/embeddings/package.json
  packages/test-factories/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  tests/package.json
Due: prettier --write, secretlint

fix(bot-client): add 6 missing /help categories (channel/deny/inspect/preset/shapes/voice)
  backlog/inbox.md
  services/bot-client/src/commands/help/index.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): refresh current-focus for 2.5d — iii-b/iii-cleanup all shipped
  backlog/current-focus.md
Due: prettier --write

docs(backlog): inbox FIX — z.ai-only users degrade to free vision default
  backlog/inbox.md
Due: prettier --write

docs: beta.130 release close-out — CURRENT.md reset + 2 release-review follow-ups
  CURRENT.md
  backlog/inbox.md
  backlog/quick-wins.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{md,json,yml,yaml})
  eslint --fix --max-warnings=0 --no-warn-ignored: any of: *.{ts,tsx}
  secretlint: any of: *.{ts,tsx,js,jsx,json}
