Repository lbds137/tzurot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["prettier --write", "eslint --fix --max-warnings=0 --no-warn-ignored"],
  "*.{md,json,yml,yaml}": ["prettier --write"],
  "*.{ts,tsx,js,jsx,json}": ["secretlint"]
}

chore(repo): compress multi-line ReDoS comments + unify 8 MiB JSDocs
  packages/common-types/src/constants/discord.ts
  packages/common-types/src/constants/media.ts
  services/ai-worker/src/services/voice/VoiceEngineClient.ts
  services/ai-worker/src/utils/apiErrorParser.ts
  services/ai-worker/src/utils/responseArtifacts.ts
  services/api-gateway/src/services/AttachmentStorageService.ts
  services/bot-client/src/utils/errorSanitization.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

refactor(repo): refine pino_logger_rules selector arity to eliminate spread workaround
  BACKLOG.md
  eslint.config.js
  services/ai-worker/src/jobs/handlers/pipeline/steps/RetryDecisionHelper.ts
  services/ai-worker/src/services/LLMInvoker.ts
  services/ai-worker/src/services/PromptBuilder.ts
  services/ai-worker/src/services/context/ContextWindowManager.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

chore(repo): bump version to 3.0.0-beta.103
  package.json
  packages/common-types/package.json
  packages/embeddings/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  tests/package.json
Due: prettier --write, secretlint

fix(ai-worker): add <understanding> to known thinking tags (glm 4.5 air)
  services/ai-worker/src/utils/thinkingExtraction.test.ts
  services/ai-worker/src/utils/thinkingExtraction.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

chore(voice-engine): log transcode fallback at warning level for clearer triage
  services/voice-engine/server.py
  services/voice-engine/tests/test_transcode.py
Due: none

chore(bot-client): apply post-merge review follow-ups from pr #860
  services/bot-client/src/commands/admin/presence.ts
  services/bot-client/src/commands/settings/preset/guestModeValidation.test.ts
  services/bot-client/src/commands/settings/preset/set.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

chore(common-types): extract TimeoutError + error utils, backfill SSRF encoding tests
  packages/common-types/src/index.ts
  packages/common-types/src/utils/errors.test.ts
  packages/common-types/src/utils/errors.ts
  services/ai-worker/src/utils/retry.ts
  services/bot-client/src/commands/admin/usage.test.ts
  services/bot-client/src/commands/preset/api.test.ts
  services/bot-client/src/services/VoiceTranscriptionService.ts
  services/bot-client/src/utils/userGatewayClient.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

chore: three backlog bites — partial unique index, SSRF encode sweep, dashboard 3-sec fix
  .claude/rules/03-database.md
  BACKLOG.md
  prisma/drift-ignore.json
  prisma/migrations/20260421164630_llm_config_global_name_unique/migration.sql
  services/bot-client/src/commands/character/api.ts
  services/bot-client/src/commands/character/dashboardDeleteHandlers.test.ts
  services/bot-client/src/commands/character/dashboardDeleteHandlers.ts
  services/bot-client/src/commands/character/export.ts
  services/bot-client/src/commands/character/overrides.ts
  services/bot-client/src/commands/character/settings.ts
  services/bot-client/src/commands/character/view.ts
  services/bot-client/src/commands/memory/detailApi.ts
  services/bot-client/src/commands/persona/api.ts
  services/bot-client/src/commands/persona/default.ts
  services/bot-client/src/commands/persona/view.ts
  services/bot-client/src/commands/preset/api.ts
  services/bot-client/src/commands/preset/dashboardButtons.ts
  services/bot-client/src/commands/preset/export.ts
  services/bot-client/src/commands/settings/apikey/remove.ts
  services/bot-client/src/commands/settings/preset/reset.ts
  services/bot-client/src/utils/api/gatewayFetcher.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

refactor(api-gateway): address PR #858 review — missed wallet/setKey + simplify helper signature
  BACKLOG.md
  services/api-gateway/src/routes/user/config-overrides.ts
  services/api-gateway/src/routes/user/llm-config.ts
  services/api-gateway/src/routes/user/model-override.ts
  services/api-gateway/src/routes/user/nsfw.ts
  services/api-gateway/src/routes/user/personality-config-overrides.ts
  services/api-gateway/src/routes/user/shapes/auth.ts
  services/api-gateway/src/routes/user/shapes/export.ts
  services/api-gateway/src/routes/user/shapes/import.ts
  services/api-gateway/src/routes/user/timezone.ts
  services/api-gateway/src/routes/wallet/setKey.ts
  services/api-gateway/src/utils/resolveProvisionedUserId.test.ts
  services/api-gateway/src/utils/resolveProvisionedUserId.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(api-gateway): migrate all shell-path callers to req.provisionedUserId (phase 5c PR C)
  BACKLOG.md
  services/api-gateway/src/routes/user/channel/activate.ts
  services/api-gateway/src/routes/user/config-overrides.ts
  services/api-gateway/src/routes/user/llm-config.ts
  services/api-gateway/src/routes/user/model-override.ts
  services/api-gateway/src/routes/user/nsfw.ts
  services/api-gateway/src/routes/user/persona/crud.ts
  services/api-gateway/src/routes/user/persona/default.ts
  services/api-gateway/src/routes/user/persona/override.ts
  services/api-gateway/src/routes/user/personality-config-overrides.ts
  services/api-gateway/src/routes/user/personality/create.ts
  services/api-gateway/src/routes/user/shapes/auth.ts
  services/api-gateway/src/routes/user/shapes/export.ts
  services/api-gateway/src/routes/user/shapes/import.ts
  services/api-gateway/src/routes/user/timezone.ts
  services/api-gateway/src/routes/user/userHelpers.test.ts
  services/api-gateway/src/routes/user/userHelpers.ts
  services/api-gateway/src/utils/resolveProvisionedUserId.test.ts
  services/api-gateway/src/utils/resolveProvisionedUserId.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

chore(ci): exclude service entry points from codecov patch gate
  codecov.yml
Due: prettier --write

docs(repo): move 7 icebox-bound items from inbox
  BACKLOG.md
Due: prettier --write

docs(repo): session-end housekeeping for 2026-04-20 session 2 (beta.102 shipped)
  BACKLOG.md
  CURRENT.md
Due: prettier --write

fix(bot-client): pr #866 review — rename misleading test, restore redos why
  BACKLOG.md
  services/bot-client/src/utils/errorSanitization.test.ts
  services/bot-client/src/utils/errorSanitization.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(repo): remove 7 backlog entries shipped in tech-debt sweep
  BACKLOG.md
Due: prettier --write

fix(voice-engine): re-encode multi-chunk TTS output to opus so long replies fit in 8 MiB
  services/ai-worker/src/services/voice/VoiceEngineClient.test.ts
  services/ai-worker/src/services/voice/VoiceEngineClient.ts
  services/ai-worker/src/services/voice/ttsSynthesizer.test.ts
  services/ai-worker/src/services/voice/ttsSynthesizer.ts
  services/voice-engine/server.py
  services/voice-engine/tests/test_transcode.py
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

refactor(bot-client): address PR #857 review — default.ts log, configs fail-open, doc date
  services/bot-client/src/commands/settings/preset/default.ts
  services/bot-client/src/commands/settings/preset/guestModeValidation.test.ts
  services/bot-client/src/commands/settings/preset/guestModeValidation.ts
  services/bot-client/src/utils/apiCheck.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(repo): move 5 epic-scoped items from inbox to future themes
  BACKLOG.md
Due: prettier --write

docs(repo): correct three-layer placement for Railway auto-deploy doc
  .claude/skills/tzurot-deployment/SKILL.md
  .claude/skills/tzurot-git-workflow/SKILL.md
  docs/reference/deployment/RAILWAY_OPERATIONS.md
Due: prettier --write

docs(repo): backlog Promise.all optimization in checkGuestModePremiumAccess
  BACKLOG.md
Due: prettier --write

docs(repo): consolidate 5 phase 5c/6 work items from inbox into active epic
  BACKLOG.md
Due: prettier --write

fix(bot-client): stop treating gateway API errors as definitive entitlement denials
  BACKLOG.md
  services/bot-client/src/commands/settings/preset/guestModeValidation.test.ts
  services/bot-client/src/commands/settings/preset/guestModeValidation.ts
  services/bot-client/src/commands/settings/preset/set.ts
  services/bot-client/src/processors/DMSessionProcessor.test.ts
  services/bot-client/src/processors/DMSessionProcessor.ts
  services/bot-client/src/services/PersonalityMessageHandler.test.ts
  services/bot-client/src/utils/apiCheck.test.ts
  services/bot-client/src/utils/apiCheck.ts
  services/bot-client/src/utils/nsfwVerification.test.ts
  services/bot-client/src/utils/nsfwVerification.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(repo): track 2 pino rule gaps from pr #865 review
  BACKLOG.md
Due: prettier --write

ci: fail pipeline on depcruise violations
  .github/workflows/ci.yml
Due: prettier --write

refactor(bot-client): address PR #857 r2 review — stale comment + doc fixes
  services/bot-client/src/commands/settings/preset/guestModeValidation.ts
  services/bot-client/src/processors/BotMentionProcessor.test.ts
  services/bot-client/src/utils/apiCheck.test.ts
  services/bot-client/src/utils/apiCheck.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

chore(repo): adopt eslint-plugin-regexp for redos defense-in-depth
  eslint.config.js
  package.json
  pnpm-lock.yaml
  services/ai-worker/src/services/voice/VoiceEngineClient.ts
  services/ai-worker/src/utils/apiErrorParser.ts
  services/ai-worker/src/utils/responseArtifacts.ts
  services/ai-worker/src/utils/thinkingExtraction.ts
  services/api-gateway/src/services/AttachmentStorageService.ts
  services/bot-client/src/utils/WebhookManager.ts
  services/bot-client/src/utils/errorSanitization.ts
  services/bot-client/src/utils/personalityMentionParser.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(bot-client): break five circular dependencies in deny/ and character/
  services/bot-client/src/commands/character/characterTypes.ts
  services/bot-client/src/commands/character/config.ts
  services/bot-client/src/commands/character/sections.ts
  services/bot-client/src/commands/deny/browse.test.ts
  services/bot-client/src/commands/deny/browse.ts
  services/bot-client/src/commands/deny/browseRebuilder.test.ts
  services/bot-client/src/commands/deny/browseRebuilder.ts
  services/bot-client/src/commands/deny/browseTypes.ts
  services/bot-client/src/commands/deny/detail.ts
  services/bot-client/src/commands/deny/detailEdit.ts
  services/bot-client/src/commands/deny/detailTypes.ts
  services/bot-client/src/commands/deny/index.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(repo): expand API-error silent-block backlog entry + add PR #856 follow-up
  BACKLOG.md
Due: prettier --write

chore(bot-client): pr #866 round 3 — compress errorsanitization comment per task b
  services/bot-client/src/utils/errorSanitization.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(bot-client, ai-worker): convert missed `{ error: err-instance }` sites to `err:` key
  services/ai-worker/src/services/UserReferenceResolver.ts
  services/bot-client/src/services/contextBuilder/ExtendedContextPersonaResolver.ts
  services/bot-client/src/utils/dashboard/SessionManager.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(repo): track pr #862 and pr #863 reviewer follow-ups in backlog
  BACKLOG.md
Due: prettier --write

test(repo): regression tests for PR #864 bounded ReDoS quantifiers
  services/ai-worker/src/utils/apiErrorParser.test.ts
  services/ai-worker/src/utils/responseArtifacts.test.ts
  services/bot-client/src/utils/WebhookManager.test.ts
  services/bot-client/src/utils/errorSanitization.test.ts
  services/bot-client/src/utils/personalityMentionParser.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(repo): flag commit-message / code-comment tracking as non-substitute for BACKLOG.md
  .claude/rules/06-backlog.md
Due: prettier --write

docs(repo): post-release housekeeping for v3.0.0-beta.102
  CURRENT.md
  docs/reference/deployment/RAILWAY_OPERATIONS.md
Due: prettier --write
