Repository lbds137/tzurot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

feat(bot-client): add shared pagination utility
  services/bot-client/src/utils/paginationBuilder.test.ts
  services/bot-client/src/utils/paginationBuilder.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

feat(bot-client): add /memory list command with pagination
  services/api-gateway/src/routes/user/memory.ts
  services/api-gateway/src/routes/user/memoryList.ts
  services/bot-client/src/commands/memory/index.ts
  services/bot-client/src/commands/memory/list.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

test(tests): add tests for memory list command and endpoint
  services/api-gateway/src/routes/user/memory.test.ts
  services/bot-client/src/commands/memory/list.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

feat(bot-client): add pagination to /memory search command
  services/bot-client/src/commands/memory/search.test.ts
  services/bot-client/src/commands/memory/search.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(bot-client): address PR review feedback for memory pagination
  services/bot-client/src/commands/memory/list.ts
  services/bot-client/src/commands/memory/search.ts
  services/bot-client/src/utils/paginationBuilder.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: add slash command UX skill and update memory plan
  .claude/skills/README.md
  .claude/skills/tzurot-slash-command-ux/SKILL.md
  CLAUDE.md
  docs/proposals/active/MEMORY_MANAGEMENT_COMMANDS.md
Due: prettier --write

fix(bot-client): improve memory pagination UX and performance
  services/api-gateway/src/routes/user/memorySearch.ts
  services/bot-client/src/commands/memory/index.ts
  services/bot-client/src/commands/memory/list.ts
  services/bot-client/src/commands/memory/search.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

feat(bot-client): add master-detail pattern and dev workflow commands
  .claude/skills/tzurot-testing/SKILL.md
  .claude/skills/tzurot-tooling/SKILL.md
  package.json
  packages/tooling/src/cli.ts
  packages/tooling/src/commands/dev.ts
  packages/tooling/src/dev/focus-runner.test.ts
  packages/tooling/src/dev/focus-runner.ts
  packages/tooling/src/dev/test-summary.test.ts
  packages/tooling/src/dev/test-summary.ts
  pnpm-lock.yaml
  services/api-gateway/src/routes/user/memory.test.ts
  services/api-gateway/src/routes/user/memory.ts
  services/api-gateway/src/routes/user/memorySearch.ts
  services/api-gateway/src/routes/user/memorySingle.ts
  services/api-gateway/src/services/EmbeddingService.test.ts
  services/bot-client/src/commands/memory/detail.ts
  services/bot-client/src/commands/memory/index.ts
  services/bot-client/src/commands/memory/list.ts
  services/bot-client/src/commands/memory/search.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

test(tests): increase coverage and fix memory command edge cases
  services/api-gateway/src/routes/user/memorySearch.ts
  services/api-gateway/src/routes/user/memorySingle.test.ts
  services/bot-client/src/commands/memory/detail.test.ts
  services/bot-client/src/commands/memory/index.test.ts
  services/bot-client/src/commands/memory/list.test.ts
  services/bot-client/src/commands/memory/list.ts
  services/bot-client/src/commands/memory/search.test.ts
  services/bot-client/src/commands/memory/search.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

test(bot-client): add collector behavior tests for memory pagination
  services/bot-client/src/commands/memory/list.test.ts
  services/bot-client/src/commands/memory/search.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

test(bot-client): add detail action tests for memory collectors
  services/bot-client/src/commands/memory/list.test.ts
  services/bot-client/src/commands/memory/search.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

chore(tooling): auto-cleanup stale git lock files in pre-commit hook
  .husky/pre-commit
Due: none

refactor: address PR review feedback for code quality
  packages/tooling/src/dev/focus-runner.test.ts
  packages/tooling/src/dev/focus-runner.ts
  services/api-gateway/src/routes/user/memorySingle.ts
  services/bot-client/src/commands/memory/detail.ts
  services/bot-client/src/commands/memory/list.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(api-gateway): prevent edit/delete of locked memories
  services/api-gateway/src/routes/user/memorySingle.test.ts
  services/api-gateway/src/routes/user/memorySingle.ts
  services/api-gateway/src/utils/errorResponses.ts
  services/bot-client/src/commands/memory/detail.ts
  services/bot-client/src/commands/memory/list.ts
  services/bot-client/src/commands/memory/search.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

refactor(bot-client): extract memory command modules per PR review
  .claude/skills/tzurot-testing/SKILL.md
  services/bot-client/src/commands/memory/detail.test.ts
  services/bot-client/src/commands/memory/detail.ts
  services/bot-client/src/commands/memory/detailApi.test.ts
  services/bot-client/src/commands/memory/detailApi.ts
  services/bot-client/src/commands/memory/detailModals.test.ts
  services/bot-client/src/commands/memory/detailModals.ts
  services/bot-client/src/commands/memory/formatters.test.ts
  services/bot-client/src/commands/memory/formatters.ts
  services/bot-client/src/commands/memory/list.ts
  services/bot-client/src/commands/memory/search.ts
  services/bot-client/src/commands/memory/stats.ts
  vitest.config.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: update memory command plan status after PR #462 merge
  CURRENT_WORK.md
  docs/proposals/active/MEMORY_MANAGEMENT_COMMANDS.md
Due: prettier --write

chore(deps): consolidate dependency updates from PRs #463-#468
  package.json
  packages/common-types/package.json
  packages/tooling/package.json
  pnpm-lock.yaml
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/api-gateway/src/routes/admin/llm-config.ts
  services/api-gateway/src/routes/admin/updatePersonality.ts
  services/api-gateway/src/routes/ai/confirmDelivery.ts
  services/api-gateway/src/routes/ai/jobStatus.ts
  services/api-gateway/src/routes/user/channel/extendedContext.ts
  services/api-gateway/src/routes/user/channel/get.ts
  services/api-gateway/src/routes/user/llm-config.ts
  services/api-gateway/src/routes/user/memorySingle.ts
  services/api-gateway/src/routes/user/model-override.ts
  services/api-gateway/src/routes/user/persona/crud.ts
  services/api-gateway/src/routes/user/persona/default.ts
  services/api-gateway/src/routes/user/persona/override.ts
  services/api-gateway/src/routes/user/personality/delete.ts
  services/api-gateway/src/routes/user/personality/get.ts
  services/api-gateway/src/routes/user/personality/update.ts
  services/api-gateway/src/routes/user/personality/visibility.ts
  services/api-gateway/src/utils/requestParams.test.ts
  services/api-gateway/src/utils/requestParams.ts
  services/api-gateway/src/utils/validators.test.ts
  services/api-gateway/src/utils/validators.ts
  services/bot-client/package.json
  tests/package.json
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

refactor(api-gateway): add ParameterError class and improve test coverage
  docs/reference/standards/HANDLER_FACTORY_PATTERN.md
  services/api-gateway/src/routes/admin/updatePersonality.test.ts
  services/api-gateway/src/routes/user/persona/crud.test.ts
  services/api-gateway/src/utils/requestParams.test.ts
  services/api-gateway/src/utils/requestParams.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

chore: address PR #469 code review minor suggestions
  CLAUDE.md
  docs/proposals/active/TECH_DEBT.md
  services/api-gateway/src/utils/requestParams.test.ts
  services/api-gateway/src/utils/requestParams.ts
  services/api-gateway/src/utils/validators.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: track route files and enhancements from PR #469 review
  docs/proposals/active/TECH_DEBT.md
Due: prettier --write

chore(deps): remove unused ora dependency from tooling
  packages/tooling/package.json
  pnpm-lock.yaml
Due: prettier --write, secretlint

feat(bot-client): add memory batch delete, purge, and focus mode indicator
  packages/common-types/src/types/schemas.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/GenerationStep.ts
  services/ai-worker/src/services/ConversationalRAGService.test.ts
  services/ai-worker/src/services/ConversationalRAGService.ts
  services/ai-worker/src/services/ConversationalRAGTypes.ts
  services/ai-worker/src/services/MemoryRetriever.test.ts
  services/ai-worker/src/services/MemoryRetriever.ts
  services/ai-worker/src/test/mocks/MemoryRetriever.mock.ts
  services/api-gateway/src/routes/user/memory.ts
  services/api-gateway/src/routes/user/memoryBatch.ts
  services/bot-client/src/commands/memory/batchDelete.ts
  services/bot-client/src/commands/memory/index.ts
  services/bot-client/src/commands/memory/purge.ts
  services/bot-client/src/handlers/MessageHandler.ts
  services/bot-client/src/services/DiscordResponseSender.ts
  services/bot-client/src/utils/commandHelpers.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

test(bot-client): add systematic indicator combination tests
  CLAUDE.md
  services/bot-client/src/services/DiscordResponseSender.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{md,json,yml,yaml})
  eslint --fix --max-warnings=0 --no-warn-ignored: any of: *.{ts,tsx}
  secretlint: any of: *.{ts,tsx,js,jsx,json}
