Repository lbds137/tzurot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

feat: blocking questions must surface via a formal channel (rule + stop-hook)
  .claude/hooks/blocking-question-channel-check.probe.sh
  .claude/hooks/blocking-question-channel-check.sh
  .claude/rules/09-interaction-style.md
  .claude/settings.json
  packages/tooling/src/dev/check-hook-probes-registry.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): doc-72 refined — two-level navigation model (owner addition)
  tracker/docs/doc-72 - Idea-Dashboard-index-navigation-—-hub-page-jump-to-select-back-to-index.md
Due: prettier --write

docs: record the owner-approved resume sequence for the next session
  CURRENT.md
Due: prettier --write

docs(backlog): doc-8 design input — venue-scoped memory (per-server silos, DMs as venue)
  tracker/docs/doc-8 - Theme-Memory-System-Overhaul-—-PARKED-MID-EPIC-2026-07-17.md
Due: prettier --write

docs(backlog): file doc-67 — tag-scoped sharing theme (owner idea) + queue bullet
  backlog/cold/queue.md
  tracker/docs/doc-67 - Theme-Tag-scoped-sharing-of-context-memories-and-facts-across-characters.md
Due: prettier --write

feat(bot-client): tag-filtered /random and /chime-in with tag autocomplete
  packages/common-types/src/generated/commandOptions.ts
  packages/common-types/src/schemas/api/personality.ts
  packages/common-types/src/schemas/api/systemSettings.ts
  services/bot-client/command-manifest.json
  services/bot-client/src/commands/chime-in/index.test.ts
  services/bot-client/src/commands/chime-in/index.ts
  services/bot-client/src/commands/random/index.test.ts
  services/bot-client/src/commands/random/index.ts
  services/bot-client/src/handlers/__snapshots__/CommandHandler.component.test.ts.snap
  services/bot-client/src/services/character/characterTurn.test.ts
  services/bot-client/src/services/character/characterTurn.ts
  services/bot-client/src/services/character/chimeInTag.test.ts
  services/bot-client/src/services/character/chimeInTag.ts
  services/bot-client/src/services/character/randomPick.test.ts
  services/bot-client/src/services/character/randomPick.ts
  services/bot-client/src/services/character/tagPool.test.ts
  services/bot-client/src/services/character/tagPool.ts
  services/bot-client/src/utils/autocomplete/index.ts
  services/bot-client/src/utils/autocomplete/tagAutocomplete.test.ts
  services/bot-client/src/utils/autocomplete/tagAutocomplete.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

chore: promote 8 sweep-flagged memories into rules and skills
  .claude/rules/00-critical.md
  .claude/rules/02-code-standards.md
  .claude/rules/09-interaction-style.md
  .claude/rules/10-working-posture.md
  .claude/settings.json
  .claude/skills/tzurot-git-workflow/SKILL.md
  .claude/skills/tzurot-testing/SKILL.md
  tracker/tasks/task-470 - Assertions-that-cannot-fail-three-shapes-three-sightings-in-one-session.md
Due: prettier --write, secretlint

docs: stamp doc-60 COMPLETE (PR #2034 merged) + file TASK-499
  CURRENT.md
  tracker/tasks/task-499 - handleChatError-channel-send-fallback-bypasses-sharedReplyContext-ephemeral-redirect.md
Due: prettier --write

docs(backlog): file prod issue — glm-4.5-air reply mis-channeled into reasoning_content
  backlog/now.md
Due: prettier --write

docs(backlog): doc-70 — tag-group command UX idea (user count option + message-to-a-group)
  tracker/docs/doc-70 - Idea-Tag-group-command-UX-—-user-count-option-message-to-a-group.md
Due: prettier --write

docs: write the tag-flow dev smoke checklist into CURRENT.md (4 needs-smoke items)
  CURRENT.md
Due: prettier --write

feat: admin-configurable multi-character cap via system settings (pr 2 of 3)
  docs/proposals/backlog/admin-runtime-settings.md
  packages/common-types/src/schemas/api/adminSettings.ts
  packages/common-types/src/schemas/api/systemSettings.test.ts
  packages/common-types/src/schemas/api/systemSettings.ts
  services/api-gateway/src/routes/admin/settings.test.ts
  services/api-gateway/src/routes/admin/settings.ts
  services/bot-client/src/commands/admin/settings.test.ts
  services/bot-client/src/commands/admin/settingsSet.test.ts
  services/bot-client/src/commands/admin/settingsSet.ts
  services/bot-client/src/commands/admin/settingsSystemUpdate.test.ts
  services/bot-client/src/commands/admin/settingsSystemUpdate.ts
  services/bot-client/src/processors/PersonalityTriggerProcessor.test.ts
  services/bot-client/src/processors/PersonalityTriggerProcessor.ts
  services/bot-client/src/services/MultiTagCoordinator.test.ts
  services/bot-client/src/services/MultiTagCoordinator.ts
  services/bot-client/src/services/MultiTagPersistence.test.ts
  services/bot-client/src/services/MultiTagPersistence.ts
  services/bot-client/src/services/MultiTagRecovery.test.ts
  services/bot-client/src/services/MultiTagRecovery.ts
  services/bot-client/src/services/SlotDeliveryService.ts
  services/bot-client/src/services/SlotResolver.ts
  services/bot-client/src/services/multiTagCoordinatorHelpers.test.ts
  services/bot-client/src/services/multiTagCoordinatorHelpers.ts
  services/bot-client/src/services/multiTagDeliveryFlow.test.ts
  services/bot-client/src/services/multiTagDeliveryFlow.ts
  services/bot-client/src/services/multiTagRecoveryHelpers.test.ts
  services/bot-client/src/services/multiTagRecoveryHelpers.ts
  services/bot-client/src/utils/dashboard/settings/systemSettingsConfig.test.ts
  services/bot-client/src/utils/dashboard/settings/systemSettingsConfig.ts
  services/bot-client/src/utils/gatewayServiceCalls.test.ts
  services/bot-client/src/utils/gatewayServiceCalls.ts
  services/bot-client/src/utils/personalityMentionParser.test.ts
  services/bot-client/src/utils/personalityMentionParser.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): doc-60 owner decisions recorded; TASK-494 filed
  tracker/docs/doc-60 - Idea-character-tags-and-tag-filtered-random-and-chime-in.md
  tracker/tasks/task-494 - Stop-hooks-filter-sidechain-entries-from-transcript-scans.md
Due: prettier --write

docs(backlog): file task-502 — owner filter for random/chime-in pools, AND semantics recorded
  tracker/tasks/task-502 - Owner-filter-for-random-and-chime-in-pools-AND-composed-with-tag.md
Due: prettier --write

docs: stamp doc-60 pr state — #2032 round-2 fixup pushed, #2033 opened
  CURRENT.md
Due: prettier --write

docs: stamp doc-60 state — PRs 1+2 merged, dev migrated, PR 3 worker in flight
  CURRENT.md
Due: prettier --write

docs: commands.md rows for /random and /chime-in mention the new tag flows
  docs/commands.md
Due: prettier --write

docs(backlog): file TASK-498 — codify the pre-commit review panel after the PR 3 trial
  tracker/tasks/task-498 - Codify-pre-commit-review-panel-in-orchestration-skill.md
Due: prettier --write

docs(backlog): doc-72 — council pass required at pickup (owner instruction)
  tracker/docs/doc-72 - Idea-Dashboard-index-navigation-—-hub-page-jump-to-select-back-to-index.md
Due: prettier --write

docs: reset CURRENT.md for beta.198 — release procedure step 9
  CURRENT.md
Due: prettier --write

docs: record the 2026-08-09 retention run (3 purged, 2 warned, books at 221)
  CURRENT.md
Due: prettier --write

ci: add workflow_dispatch trigger as webhook-outage escape hatch
  .github/workflows/ci.yml
Due: prettier --write

docs(backlog): mark task-501 done — dev-to-prod tag copy ran post-beta.198
  tracker/tasks/task-501 - Copy-character-tags-dev-to-prod-after-the-tags-migration-lands.md
Due: prettier --write

docs(backlog): close task-492 as shipped; record the 453 remainder
  tracker/tasks/task-453 - Tracker-task-ids-are-allocated-from-the-working-tree-so-concurrent-branches-collide-silently.md
  tracker/tasks/task-492 - Backlog-gate-fail-on-duplicate-task-ids.md
Due: prettier --write

docs(backlog): mark task-446 done — workflow_dispatch shipped in #2037
  tracker/tasks/task-446 - Add-workflow_dispatch-to-ci.yml-so-CI-can-be-triggered-without-a-webhook.md
Due: prettier --write

feat: detect and surface a prerelease-flagged newest release (TASK-500)
  packages/common-types/src/schemas/api/broadcast.test.ts
  packages/common-types/src/schemas/api/broadcast.ts
  packages/common-types/src/schemas/github/release.test.ts
  packages/common-types/src/schemas/github/release.ts
  packages/tooling/src/deployment/setup-railway-variables.test.ts
  packages/tooling/src/deployment/setup-railway-variables.ts
  services/api-gateway/src/routes/internal/releaseReconcile.test.ts
  services/api-gateway/src/routes/public/githubWebhook.ts
  services/api-gateway/src/services/releaseAnnounce.test.ts
  services/api-gateway/src/services/releaseAnnounce.ts
  services/api-gateway/src/services/releaseReconcile.test.ts
  services/api-gateway/src/services/releaseReconcile.ts
  services/bot-client/src/index.ts
  services/bot-client/src/services/ReleaseFlagNagScheduler.test.ts
  services/bot-client/src/services/ReleaseFlagNagScheduler.ts
  services/bot-client/src/utils/ownerChannel.test.ts
  services/bot-client/src/utils/ownerChannel.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): file task-503 — sibling scheduler delivered-gated cooldown
  tracker/tasks/task-503 - SecretRotationNagScheduler-arm-the-nag-cooldown-only-on-confirmed-embed-delivery.md
Due: prettier --write

docs(backlog): widen task-503 to both nag-scheduler siblings
  tracker/tasks/task-503 - SecretRotationNagScheduler-arm-the-nag-cooldown-only-on-confirmed-embed-delivery.md
Due: prettier --write

docs(backlog): mark task-500 done — prerelease-flag guard shipped in #2038
  tracker/tasks/task-500 - Guard-newest-GitHub-release-flagged-prerelease-silently-kills-release-DMs.md
Due: prettier --write

feat: chunk the weekly health webhook post instead of truncating (TASK-491)
  .github/workflows/weekly-audit.yml
  docs/reference/tooling/OPS_CLI_REFERENCE.md
  packages/tooling/src/audits/health-webhook-post.test.ts
  packages/tooling/src/audits/health-webhook-post.ts
  packages/tooling/src/commands/guard.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): file task-504 — webhook inter-chunk pacing watch
  tracker/tasks/task-504 - health-post-webhook-inter-chunk-pacing-429-handling-if-the-report-outgrows-a-few-chunks.md
Due: prettier --write

docs(backlog): task-504 absorbs two same-file members from the round-3 review
  tracker/tasks/task-504 - health-post-webhook-inter-chunk-pacing-429-handling-if-the-report-outgrows-a-few-chunks.md
Due: prettier --write

docs(backlog): mark task-491 done — health-webhook chunking shipped in #2039
  tracker/tasks/task-491 - Weekly-health-webhook-truncates-mid-word-no-message-chunking.md
Due: prettier --write

refactor(bot-client): dedupe the catalogModel test fixture (TASK-435)
  services/bot-client/src/commands/models/autocomplete.test.ts
  services/bot-client/src/commands/models/browse.test.ts
  services/bot-client/src/commands/models/card.test.ts
  services/bot-client/src/commands/models/view.test.ts
  services/bot-client/src/commands/preset/autocomplete.test.ts
  services/bot-client/src/test/catalogModel.test.ts
  services/bot-client/src/test/catalogModel.ts
  services/bot-client/src/utils/modelCatalog.test.ts
  services/bot-client/src/utils/modelCatalogAutocomplete.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: close out the mechanical drain batch — CURRENT.md + tasks + pilot notes
  CURRENT.md
  tracker/tasks/task-435 - Dedupe-the-catalogModel-test-fixture-3-copies-into-a-shared-builder.md
  tracker/tasks/task-487 - Sonnet-worker-tier-pilot-record-per-unit-outcomes.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{md,json,yml,yaml})
  eslint --fix --max-warnings=0 --no-warn-ignored: any of: *.{ts,tsx}
  secretlint: any of: *.{ts,tsx,js,jsx,json}
