Repository lbds137/tzurot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix: remove unused imports in bot-client test files
  services/bot-client/src/services/ResponseOrderingService.test.ts
  services/bot-client/src/utils/HistoryLinkResolver.test.ts
  services/bot-client/src/utils/listSorting.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix: continue bot-client typecheck:spec fixes (378→339 errors)
  services/bot-client/src/commands/settings/preset/autocomplete.test.ts
  services/bot-client/src/utils/MessageContentBuilder.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix: partial bot-client typecheck:spec fixes (845→610 errors)
  services/bot-client/src/handlers/references/MessageFormatter.test.ts
  services/bot-client/src/handlers/references/SnapshotFormatter.test.ts
  services/bot-client/src/services/DiscordResponseSender.test.ts
  services/bot-client/src/services/MessageContextBuilder.test.ts
  services/bot-client/src/test/mocks/Discord.mock.ts
  services/bot-client/src/utils/EmbedParser.test.ts
  services/bot-client/src/utils/MessageLinkParser.test.ts
  services/bot-client/src/utils/commandFileUtils.test.ts
  services/bot-client/src/utils/dashboard/settings/SettingsDashboardBuilder.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix: continue bot-client typecheck:spec fixes (330→228 errors)
  services/bot-client/src/commands/persona/profileSections.test.ts
  services/bot-client/src/commands/preset/autocomplete.test.ts
  services/bot-client/src/commands/preset/browse.test.ts
  services/bot-client/src/handlers/MessageHandler.test.ts
  services/bot-client/src/handlers/references/LinkExtractor.test.ts
  services/bot-client/src/services/ConversationPersistence.test.ts
  services/bot-client/src/services/MessageContextBuilder.test.ts
  services/bot-client/src/services/PersonalityMessageHandler.test.ts
  services/bot-client/src/services/ReferenceEnrichmentService.test.ts
  services/bot-client/src/utils/browse/browse.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix: continue bot-client typecheck:spec fixes (143→125 errors)
  services/bot-client/src/commands/preset/api.test.ts
  services/bot-client/src/commands/preset/config.test.ts
  services/bot-client/src/commands/preset/create.test.ts
  services/bot-client/src/commands/preset/dashboard.test.ts
  services/bot-client/src/commands/preset/dashboardButtons.test.ts
  services/bot-client/src/commands/preset/edit.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix: continue bot-client typecheck:spec fixes (557→378 errors)
  BACKLOG.md
  services/bot-client/src/commands/persona/config.test.ts
  services/bot-client/src/handlers/references/LinkExtractor.test.ts
  services/bot-client/src/handlers/references/SnapshotFormatter.test.ts
  services/bot-client/src/test/mocks/Discord.mock.ts
  services/bot-client/src/utils/dashboard/DashboardBuilder.test.ts
  services/bot-client/src/utils/dashboard/ModalFactory.test.ts
  services/bot-client/src/utils/paginationBuilder.test.ts
  services/bot-client/src/utils/personalityMentionParser.test.ts
  services/bot-client/src/utils/subcommandRouter.test.ts
  services/bot-client/src/utils/userGatewayClient.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix: resolve more typecheck:spec violations in bot-client tests
  services/bot-client/src/commands/admin/debug.test.ts
  services/bot-client/src/commands/admin/index.test.ts
  services/bot-client/src/commands/character/dashboard.test.ts
  services/bot-client/src/commands/preset/export.test.ts
  services/bot-client/src/commands/preset/import.test.ts
  services/bot-client/src/commands/settings/index.test.ts
  services/bot-client/src/commands/settings/preset/default.test.ts
  services/bot-client/src/handlers/MessageReferenceExtractor.test.ts
  services/bot-client/src/handlers/references/ReferenceFormatter.test.ts
  services/bot-client/src/processors/VoiceMessageProcessor.test.ts
  services/bot-client/src/services/ReplyResolutionService.test.ts
  services/bot-client/src/utils/WebhookManager.test.ts
  services/bot-client/src/utils/api/gatewayFetcher.test.ts
  services/bot-client/src/utils/autocomplete/autocompleteCache.test.ts
  services/bot-client/src/utils/configValidation.test.ts
  services/bot-client/src/utils/dashboard/deleteConfirmation.test.ts
  services/bot-client/src/utils/dashboard/permissionChecks.test.ts
  services/bot-client/src/utils/destructiveConfirmation.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix: resolve remaining bot-client typecheck:spec violations
  services/bot-client/src/commands/admin/index.test.ts
  services/bot-client/src/commands/persona/index.test.ts
  services/bot-client/src/commands/preset/import.test.ts
  services/bot-client/src/commands/preset/index.test.ts
  services/bot-client/src/commands/preset/presetValidation.test.ts
  services/bot-client/src/handlers/references/MessageFormatter.test.ts
  services/bot-client/src/handlers/references/ReferenceFormatter.test.ts
  services/bot-client/src/processors/ActivatedChannelProcessor.test.ts
  services/bot-client/src/processors/BotMessageFilter.test.ts
  services/bot-client/src/processors/DMSessionProcessor.test.ts
  services/bot-client/src/processors/EmptyMessageFilter.test.ts
  services/bot-client/src/processors/PersonalityMentionProcessor.test.ts
  services/bot-client/src/processors/ReplyMessageProcessor.test.ts
  services/bot-client/src/services/MentionResolver.test.ts
  services/bot-client/src/services/ResponseOrderingService.test.ts
  services/bot-client/src/services/ResultsListener.test.ts
  services/bot-client/src/services/VerificationMessageCleanup.test.ts
  services/bot-client/src/services/VoiceTranscriptionService.test.ts
  services/bot-client/src/services/serviceRegistry.test.ts
  services/bot-client/src/test/mocks/Discord.mock.ts
  services/bot-client/src/utils/MessageLinkParser.test.ts
  services/bot-client/src/utils/api/gatewayFetcher.test.ts
  services/bot-client/src/utils/autocomplete/autocompleteCache.test.ts
  services/bot-client/src/utils/autocomplete/personalityAutocomplete.test.ts
  services/bot-client/src/utils/avatarProcessor.test.ts
  services/bot-client/src/utils/commandContext/factories.test.ts
  services/bot-client/src/utils/customIds.test.ts
  services/bot-client/src/utils/dashboard/ModalFactory.test.ts
  services/bot-client/src/utils/dashboard/refreshHandler.test.ts
  services/bot-client/src/utils/dashboard/settings/SettingsModalFactory.test.ts
  services/bot-client/src/utils/modelAutocomplete.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: update BACKLOG.md and CI step naming per review
  .github/workflows/ci.yml
  BACKLOG.md
Due: prettier --write

docs: clean up completed items from BACKLOG.md
  BACKLOG.md
Due: prettier --write

chore: optimize Claude Code configuration for reduced context
  .claude/commands/pr-feedback.md
  .claude/commands/quality.md
  .claude/commands/session-end.md
  .claude/commands/test-file.md
  .claude/settings.json
  .claude/skills/tzurot-architecture/SKILL.md
  .claude/skills/tzurot-async-flow/SKILL.md
  .claude/skills/tzurot-caching/SKILL.md
  .claude/skills/tzurot-code-quality/SKILL.md
  .claude/skills/tzurot-council-mcp/SKILL.md
  .claude/skills/tzurot-db-vector/SKILL.md
  .claude/skills/tzurot-deployment/SKILL.md
  .claude/skills/tzurot-docs/SKILL.md
  .claude/skills/tzurot-git-workflow/SKILL.md
  .claude/skills/tzurot-observability/SKILL.md
  .claude/skills/tzurot-security/SKILL.md
  .claude/skills/tzurot-skills-guide/SKILL.md
  .claude/skills/tzurot-slash-command-ux/SKILL.md
  .claude/skills/tzurot-testing/SKILL.md
  .claude/skills/tzurot-tooling/SKILL.md
  .claude/skills/tzurot-types/SKILL.md
  .claudeignore
  CLAUDE.md
  Claude Code mastery - A solo developer's complete optimization guide.md
Due: prettier --write, secretlint

fix: backlog triage and quick wins
  BACKLOG.md
  packages/common-types/src/constants/error.test.ts
  packages/common-types/src/constants/error.ts
  services/ai-worker/src/jobs/utils/conversationUtils.ts
  services/ai-worker/src/services/ConversationalRAGService.test.ts
  services/ai-worker/src/services/ConversationalRAGService.ts
  services/bot-client/src/utils/nsfwVerification.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

feat: add bot owner override for server permission checks
  services/bot-client/src/utils/permissions.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: add root cause analysis for /character chat bug
  BACKLOG.md
Due: prettier --write

fix: /character chat uses command invoker's identity for BYOK
  services/bot-client/src/commands/character/chat.ts
  services/bot-client/src/services/MessageContextBuilder.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: mark /character chat bug as fixed
  BACKLOG.md
Due: prettier --write

fix: centralize bot footer constants to prevent model hallucination
  BACKLOG.md
  packages/common-types/src/constants/discord.test.ts
  packages/common-types/src/constants/discord.ts
  packages/common-types/src/constants/index.ts
  services/ai-worker/src/utils/apiErrorParser.test.ts
  services/bot-client/src/commands/character/chat.ts
  services/bot-client/src/services/DiscordResponseSender.ts
  services/bot-client/src/utils/permissions.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix: address PR feedback - add tests and input sanitization
  packages/common-types/src/constants/discord.test.ts
  packages/common-types/src/constants/discord.ts
  services/bot-client/src/utils/nsfwVerification.test.ts
  services/bot-client/src/utils/permissions.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix: address PR review feedback
  services/bot-client/src/commands/character/chat.test.ts
  services/bot-client/src/commands/character/chat.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix: address additional PR review feedback
  BACKLOG.md
  services/bot-client/src/commands/character/chat.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

chore: bump version to 3.0.0-beta.64
  package.json
  packages/common-types/package.json
  packages/embeddings/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/data/import-personality/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  tests/package.json
Due: prettier --write, secretlint

fix: address ReDoS vulnerability and reduce cognitive complexity
  services/ai-worker/src/utils/thinkingExtraction.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(api-gateway): update llm-config test to reflect owner permissions
  services/api-gateway/src/routes/user/llm-config.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix: resolve typecheck:spec baseline violations (common-types + partial ai-worker)
  BACKLOG.md
  packages/common-types/src/config/config.test.ts
  packages/common-types/src/services/BaseCacheInvalidationService.test.ts
  packages/common-types/src/services/ConversationSyncService.ts
  packages/common-types/src/services/LlmConfigCacheInvalidationService.test.ts
  packages/common-types/src/services/VisionDescriptionCache.int.test.ts
  packages/common-types/src/services/VoiceTranscriptCache.int.test.ts
  packages/common-types/src/services/personality/PersonalityDefaults.test.ts
  packages/common-types/src/services/resolvers/ExtendedContextSettingsResolver.test.ts
  packages/common-types/src/utils/logger.test.ts
  packages/common-types/src/utils/textChunker.test.ts
  services/ai-worker/src/jobs/AIJobProcessor.int.test.ts
  services/ai-worker/src/jobs/AIJobProcessor.test.ts
  services/ai-worker/src/services/UserReferenceResolver.test.ts
  services/ai-worker/src/services/context/ContextWindowManager.test.ts
  services/ai-worker/src/services/multimodal/AudioProcessor.test.ts
  services/ai-worker/src/services/multimodal/VisionProcessor.test.ts
  services/ai-worker/src/services/prompt/MemoryFormatter.test.ts
  services/ai-worker/src/services/prompt/PersonalityFieldsFormatter.test.ts
  services/ai-worker/src/utils/apiErrorParser.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: add /character chat bugs to backlog
  BACKLOG.md
Due: prettier --write

docs: add rule for verifying reviewer feedback against schema
  CLAUDE.md
Due: prettier --write

fix: address PR review - make typecheck:spec non-blocking in CI
  .github/workflows/ci.yml
  .husky/pre-push
  BACKLOG.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{md,json,yml,yaml})
  eslint --fix --max-warnings=0 --no-warn-ignored: any of: *.{ts,tsx}
  secretlint: any of: *.{ts,tsx,js,jsx,json}
