Repository lbds137/tzurot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

refactor(bot-client): extract resolveCharacterSectionContext helper
  services/bot-client/src/commands/character/dashboard.ts
  services/bot-client/src/commands/character/sectionContext.test.ts
  services/bot-client/src/commands/character/sectionContext.ts
  services/bot-client/src/commands/character/truncationWarning.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(bot-client): warn before truncating over-length character fields
  services/bot-client/src/commands/character/dashboard.ts
  services/bot-client/src/commands/character/truncationWarning.test.ts
  services/bot-client/src/commands/character/truncationWarning.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(bot-client): address PR #825 R3 review items
  BACKLOG.md
  services/bot-client/src/commands/character/dashboard.ts
  services/bot-client/src/commands/character/truncationWarning.test.ts
  services/bot-client/src/commands/character/truncationWarning.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(repo): backlog — widen preset configId blocker to all preset consumers
  BACKLOG.md
Due: prettier --write

fix(bot-client): pr #825 r9 — button order + eliminate double config build
  services/bot-client/src/commands/character/sectionContext.test.ts
  services/bot-client/src/commands/character/sectionContext.ts
  services/bot-client/src/commands/character/truncationWarning.test.ts
  services/bot-client/src/commands/character/truncationWarning.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(bot-client): pr #825 r10 post-merge — drop sonarjs suppression + backlog stale button
  BACKLOG.md
  services/bot-client/src/commands/character/dashboard.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

feat(repo): make circular not-null fks deferrable for db-sync ouroboros pattern
  prisma/drift-ignore.json
  prisma/migrations/20260418010642_make_circular_fks_deferrable/migration.sql
Due: prettier --write, secretlint

test(api-gateway): add failing int test reproducing db-sync 23502 blocker
  services/api-gateway/src/services/DatabaseSyncService.int.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(api-gateway): ouroboros insert pattern for db-sync — unblocks beta.100
  services/api-gateway/src/services/DatabaseSyncService.test.ts
  services/api-gateway/src/services/DatabaseSyncService.ts
  services/api-gateway/src/services/sync/ForeignKeyReconciler.test.ts
  services/api-gateway/src/services/sync/ForeignKeyReconciler.ts
  services/api-gateway/src/services/sync/SyncUpsertBuilder.ts
  services/api-gateway/src/services/sync/config/syncTables.test.ts
  services/api-gateway/src/services/sync/config/syncTables.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(repo): backlog — remove db-sync blocker entry (fixed via ouroboros)
  BACKLOG.md
Due: prettier --write

fix(api-gateway): pr #826 r1 review items
  services/api-gateway/src/services/DatabaseSyncService.int.test.ts
  services/api-gateway/src/services/DatabaseSyncService.test.ts
  services/api-gateway/src/services/DatabaseSyncService.ts
  services/api-gateway/src/services/sync/SyncUpsertBuilder.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(api-gateway): pr #826 r2 review items
  services/api-gateway/src/services/DatabaseSyncService.int.test.ts
  services/api-gateway/src/services/DatabaseSyncService.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(api-gateway): pr #826 r3 review items
  services/api-gateway/src/services/DatabaseSyncService.int.test.ts
  services/api-gateway/src/services/DatabaseSyncService.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(api-gateway): pr #826 r4 polish — dynamic migration seed + stale comment
  services/api-gateway/src/services/DatabaseSyncService.int.test.ts
  services/api-gateway/src/services/DatabaseSyncService.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(repo): add "don't present speculation as fact" rule to 00-critical
  .claude/rules/00-critical.md
Due: prettier --write

fix(repo): repair 4 non-rfc-4122 uuids in llm_configs (beta.100 blocker)
  BACKLOG.md
  scripts/migrations/repair-llm-config-rfc-uuids.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(repo): pr #827 r1 polish — schema tighten + script hygiene
  packages/common-types/src/factories/factories.test.ts
  packages/common-types/src/factories/llm-config.ts
  packages/common-types/src/schemas/api/llm-config.test.ts
  packages/common-types/src/schemas/api/llm-config.ts
  scripts/migrations/repair-llm-config-rfc-uuids.ts
  services/bot-client/src/commands/preset/autocomplete.test.ts
  services/bot-client/src/commands/preset/browse.test.ts
  services/bot-client/src/commands/settings/preset/autocomplete.test.ts
  services/bot-client/src/commands/settings/preset/default.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

chore: bump version to 3.0.0-beta.100
  package.json
  packages/common-types/package.json
  packages/embeddings/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  tests/package.json
Due: prettier --write, secretlint

fix(bot-client): cast sourceData in cloneName tests to satisfy typecheck:spec
  services/bot-client/src/commands/preset/cloneName.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(bot-client): explain lastError fallback invariant in clone loop
  services/bot-client/src/commands/preset/dashboardButtons.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

test(tooling): rename suppressions test to reflect dual assertion
  packages/tooling/src/xray/analyzer.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

test(bot-client): address pr #824 round-4 review — callGatewayApi + test refactor
  services/bot-client/src/commands/preset/api.test.ts
  services/bot-client/src/utils/userGatewayClient.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

chore(bot-client): review cleanups — test name, log prefix, +16s comment
  packages/common-types/src/services/resolvers/PersonaResolver.test.ts
  services/bot-client/src/services/JobTracker.test.ts
  services/bot-client/src/services/JobTracker.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(bot-client): pr #825 r5 — cancel emoji, label-based filenames, doc completeness
  services/bot-client/src/commands/character/truncationWarning.test.ts
  services/bot-client/src/commands/character/truncationWarning.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

perf(common-types): collapse PersonaResolver focus-mode two-query hop into one
  packages/common-types/src/services/resolvers/PersonaResolver.test.ts
  packages/common-types/src/services/resolvers/PersonaResolver.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(bot-client): pr #825 r4 — two-click edit-with-truncation flow
  BACKLOG.md
  services/bot-client/src/commands/character/dashboard.test.ts
  services/bot-client/src/commands/character/dashboard.ts
  services/bot-client/src/commands/character/truncationWarning.test.ts
  services/bot-client/src/commands/character/truncationWarning.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(repo): log typing-indicator dropout investigation
  BACKLOG.md
Due: prettier --write

fix(bot-client): use SectionStatus enum in truncationWarning test stub
  services/bot-client/src/commands/character/truncationWarning.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{md,json,yml,yaml})
  eslint --fix --max-warnings=0 --no-warn-ignored: any of: *.{ts,tsx}
  secretlint: any of: *.{ts,tsx,js,jsx,json}
