Repository lbds137/tzurot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["prettier --write", "eslint --fix --max-warnings=0 --no-warn-ignored"],
  "*.{md,json,yml,yaml}": ["prettier --write"],
  "*.{ts,tsx,js,jsx,json}": ["secretlint"]
}

docs: reset CURRENT.md for beta.195 — release procedure step 9
  CURRENT.md
Due: prettier --write

docs(backlog): mark TASK-451 and TASK-454 Done
  tracker/tasks/task-451 - The-canonical-CI-monitor-command-is-hand-synced-across-three-surfaces.md
  tracker/tasks/task-454 - An-unknown-ops-subcommand-exits-0-silently-instead-of-erroring.md
Due: prettier --write

chore(ci): guard the CI-monitor command against cross-surface drift
  .claude/rules/05-tooling.md
  .claude/skills/tzurot-git-workflow/SKILL.md
  .github/workflows/ci.yml
  docs/reference/tooling/OPS_CLI_REFERENCE.md
  package.json
  packages/tooling/src/audits/check-claude-content-refs.test.ts
  packages/tooling/src/commands/guard.ts
  packages/tooling/src/dev/check-monitor-command.test.ts
  packages/tooling/src/dev/check-monitor-command.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): mark TASK-456 Done (#1994 merged)
  tracker/tasks/task-456 - Canonical-monitor-invocation-should-embed-git-rev-parse-HEAD-not-a-SHA-placeholder.md
Due: prettier --write

fix: exclude git plumbing subcommands from the python-side commit guards
  .claude/hooks/claim-shape-guard.sh
  .claude/hooks/develop-code-commit-guard.probe.sh
  .claude/hooks/develop-code-commit-guard.sh
  .claude/hooks/fixup-rider-check.sh
  .claude/hooks/git-commit-filter-guard.probe.sh
  .claude/hooks/git-commit-filter-guard.sh
  .claude/skills/tzurot-session-mining/SKILL.md
Due: prettier --write

docs: record the triage pass and the four PRs in the handoff surface
  CURRENT.md
Due: prettier --write

docs: refresh the drain query and drop the resolved TASK-460 finding
  CURRENT.md
Due: prettier --write

docs(backlog): history trimming is dormant in prod — measured, don't build hysteresis
  backlog/active-epic.md
  docs/proposals/backlog/prompt-assembly-architecture.md
  tracker/tasks/task-447 - Watch-historyMessagesDropped-0-in-prod-means-history-trimming-has-begun.md
  tracker/tasks/task-448 - chat_log-role-legend-ships-in-every-prompt-charged-to-no-budget.md
  tracker/tasks/task-449 - Context-window-silently-unclamps-when-the-model-capability-cache-misses.md
  tracker/tasks/task-450 - Record-systemPromptBaseTokens-in-the-diagnostic-payload-—-budget-inputs-are-not-recoverable-once-trimming-starts.md
Due: prettier --write

feat(tooling): own the CI gate in pnpm ops instead of a pasted bash one-liner
  .claude/hooks/pr-monitor-reminder.sh
  .claude/rules/05-tooling.md
  .claude/skills/tzurot-git-workflow/SKILL.md
  docs/reference/tooling/OPS_CLI_REFERENCE.md
  packages/tooling/src/commands/gh.test.ts
  packages/tooling/src/commands/gh.ts
  packages/tooling/src/dev/check-monitor-command.test.ts
  packages/tooling/src/dev/check-monitor-command.ts
  packages/tooling/src/gh/ci-gate.test.ts
  packages/tooling/src/gh/ci-gate.ts
  packages/tooling/src/gh/github-api.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): file TASK-446 — workflow_dispatch escape hatch for ci.yml
  tracker/tasks/task-446 - Add-workflow_dispatch-to-ci.yml-so-CI-can-be-triggered-without-a-webhook.md
Due: prettier --write

docs(backlog): add state:ready to tonight's filings so the drain query sees them
  tracker/tasks/task-453 - Tracker-task-ids-are-allocated-from-the-working-tree-so-concurrent-branches-collide-silently.md
  tracker/tasks/task-455 - Session-mining-only-sees-user-turns-so-agent-side-misses-the-owner-never-noticed-are-invisible.md
  tracker/tasks/task-457 - An-unknown-GLOBAL-flag-on-a-bare-ops-invocation-prints-help-and-exits-0.md
  tracker/tasks/task-458 - PostToolUse-hook-output-may-never-reach-the-agent-so-several-documented-enforcement-hooks-are-inert.md
Due: prettier --write

docs(backlog): file TASK-456 — embed $(git rev-parse HEAD) in the canonical monitor line
  tracker/tasks/task-456 - Canonical-monitor-invocation-should-embed-git-rev-parse-HEAD-not-a-SHA-placeholder.md
Due: prettier --write

docs(backlog): close TASK-442 (three-way git-commit regex guard, #1996)
  tracker/tasks/task-442 - Three-copies-of-the-git-commit-detection-regex-must-agree-—-add-a-sync-guard.md
Due: prettier --write

test(tooling): register gh:ci-gate in the content-refs command allowlist
  packages/tooling/src/audits/check-claude-content-refs.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): close the four #1986 items
  tracker/tasks/task-279 - Rename-MemoryActionTokenService-ActionTokenService.md
  tracker/tasks/task-348 - Gateway-maintenance-503-JSON-hardcodes-the-Tzurot-brand.md
  tracker/tasks/task-400 - messageMetadata.attachmentDescriptions-is-schema-only-—-no-producer-no-reader.md
  tracker/tasks/task-75 - discordCdnGuard-non-https-failure-reason-variant.md
Due: prettier --write

docs(backlog): file TASK-454 — unknown ops subcommand exits 0 silently
  tracker/tasks/task-454 - An-unknown-ops-subcommand-exits-0-silently-instead-of-erroring.md
Due: prettier --write

docs: reset CURRENT.md for beta.194 — release procedure step 9
  CURRENT.md
Due: prettier --write

docs(rules): head_sha index lags; a zero-step job never got a runner
  .claude/rules/05-tooling.md
Due: prettier --write

docs(backlog): file doc-60 — character tags idea from a user request
  tracker/docs/doc-60 - Idea-character-tags-and-tag-filtered-random-and-chime-in.md
Due: prettier --write

docs(backlog): close the five #1984 items, file TASK-443, reclassify TASK-272
  tracker/tasks/task-121 - Migrate-the-3-remaining-local-err-arrow-builders-to-makeErr.md
  tracker/tasks/task-128 - Zod-safeParse-on-SyntheticTimeoutContext-read-back-in-getSyntheticTimeout.md
  tracker/tasks/task-152 - Standardize-replyError-test-mocks-to-state-flipping-deferReply.md
  tracker/tasks/task-156 - VoiceTranscriptionServicehasVoiceAttachment-keeps-a-parallel-forwarded-snapshot….md
  tracker/tasks/task-229 - character-command-option-access-idiom-drift-avatarts-raw-vs-importts-typed-acces.md
  tracker/tasks/task-272 - Allowlist-path-perf-polish-1650-r3-nit-item-2-of-2.md
  tracker/tasks/task-443 - Collapse-hasVoiceAttachment-onto-forwardedMessageUtils.hasVoiceAttachments.md
Due: prettier --write

docs(backlog): close TASK-368 — both remaining blockers shipped
  tracker/tasks/task-368 - Load-bearing-invariants-live-in-docstrings-where-nothing-executes-them.md
Due: prettier --write

docs(backlog): file TASK-458 — PostToolUse hook output never observed in agent context
  tracker/tasks/task-458 - PostToolUse-hook-output-may-never-reach-the-agent-so-several-documented-enforcement-hooks-are-inert.md
Due: prettier --write

docs(backlog): record TASK-441(e) shipped in #1999; only (d) remains
  tracker/tasks/task-441 - Backport-commit-tree-exclusion-to-python-side-git-commit-guards-hook-nits-from-1980-review.md
Due: prettier --write

fix(tooling): make an unknown ops command fail loudly instead of exiting 0
  packages/tooling/src/cli.ts
  packages/tooling/src/memory/backfill-facts.ts
  packages/tooling/src/utils/unknown-command.test.ts
  packages/tooling/src/utils/unknown-command.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

feat(tooling): refuse to arm gh:ci-gate on a SHA that is not the PR head
  .claude/rules/05-tooling.md
  packages/tooling/src/gh/ci-gate.test.ts
  packages/tooling/src/gh/ci-gate.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(rules): gate the CI monitor on run completion, not a fixed sleep
  .claude/hooks/pr-monitor-reminder.sh
  .claude/rules/05-tooling.md
  .claude/skills/tzurot-git-workflow/SKILL.md
  tracker/tasks/task-451 - The-canonical-CI-monitor-command-is-hand-synced-across-three-surfaces.md
Due: prettier --write

docs(backlog): close the four #1985 items, rule out TASK-225, file TASK-444
  tracker/archive/tasks/task-225 - Extract-AtomicDailyCounter-from-ExtractionBudget-VisionFallbackQuota.md
  tracker/tasks/task-11 - pre-commit-temporal-marker-regex-misses-hyphenated-round-refs-two-shipped-archae.md
  tracker/tasks/task-19 - generate-schemats-harvester-comment-stripping-is-a-blind-whole-file-regex-fine-f.md
  tracker/tasks/task-196 - Harvester-dedup-keys-on-bare-constraintindex-name-not-table-name.md
  tracker/tasks/task-22 - tooling-CLI-commands-coerce-numeric-flags-with-bare-Numberoptionsx-deployts-and….md
  tracker/tasks/task-302 - the-claudehooksprobesh-exit-code-harnesses-cwd-drift-promise-ledger….md
  tracker/tasks/task-444 - Unify-ops-CLI-numeric-flag-error-reporting-a-throw-becomes-an-unhandled-rejection.md
Due: prettier --write

fix(ai-worker): five small items whose only trigger was "next time we touch this"
  services/ai-worker/src/jobs/handlers/pipeline/steps/GenerationStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/autoPromotionFallback.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/generationFailureResult.test.ts
  services/ai-worker/src/jobs/utils/participantUtils.ts
  services/ai-worker/src/services/MultimodalProcessor.ts
  services/ai-worker/src/services/context/ContextAssembler.component.test.ts
  services/ai-worker/src/services/eval/factPoolScoring.test.ts
  services/ai-worker/src/services/eval/factPoolScoring.ts
  services/ai-worker/src/services/eval/factPooling.eval.test.ts
  services/ai-worker/src/services/eval/poolingArms.ts
  services/ai-worker/src/services/eval/qrelsReconciliation.ts
  services/ai-worker/src/services/prompt/referenceRole.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(tooling): four items whose only trigger was "next time we touch this"
  .husky/pre-commit
  packages/config-resolver/src/VisionConfigResolver.test.ts
  packages/test-utils/schema/pglite-schema.sql
  packages/tooling/src/commands/cache.test.ts
  packages/tooling/src/commands/cache.ts
  packages/tooling/src/commands/deploy.test.ts
  packages/tooling/src/commands/deploy.ts
  packages/tooling/src/commands/dev.test.ts
  packages/tooling/src/commands/dev.ts
  packages/tooling/src/commands/gh.test.ts
  packages/tooling/src/commands/gh.ts
  packages/tooling/src/commands/memory.ts
  packages/tooling/src/commands/prompt.test.ts
  packages/tooling/src/commands/prompt.ts
  packages/tooling/src/commands/secrets.test.ts
  packages/tooling/src/commands/secrets.ts
  packages/tooling/src/secrets/rotation.test.ts
  packages/tooling/src/test/generate-schema.test.ts
  packages/tooling/src/test/generate-schema.ts
  packages/tooling/src/utils/cli-args.test.ts
  packages/tooling/src/utils/cli-args.ts
  services/ai-worker/src/services/prompt/referenceRole.test.ts
  services/api-gateway/src/utils/stampResolvedConfig.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: record batches 4 and 5; the do-now sweep is closed
  CURRENT.md
  tracker/tasks/task-214 - Maintenance-mode-runbook-Redis-down-during-window-fail-open-gap.md
  tracker/tasks/task-264 - Deployment-skill-railway-redeploy-acts-on-the-LINKED-environment.md
  tracker/tasks/task-59 - Enforce-round-trip-contract-registration-for-new-fetch-edit-PUT-dashboards.md
Due: prettier --write

docs: back up the voice-consistency artifacts, record the restore path
  CURRENT.md
Due: prettier --write

refactor(tooling): render ops CLI usage errors as one line, not a stack trace
  packages/tooling/src/cli.ts
  packages/tooling/src/commands/cache.ts
  packages/tooling/src/commands/deploy.ts
  packages/tooling/src/commands/gh.test.ts
  packages/tooling/src/commands/gh.ts
  packages/tooling/src/commands/memory.ts
  packages/tooling/src/commands/prompt.ts
  packages/tooling/src/commands/release.ts
  packages/tooling/src/commands/secrets.ts
  packages/tooling/src/memory/backfill-cli-helpers.test.ts
  packages/tooling/src/memory/backfill-cli-helpers.ts
  packages/tooling/src/utils/cli-args.test.ts
  packages/tooling/src/utils/cli-args.ts
  packages/tooling/src/utils/env-runner.ts
  packages/tooling/src/utils/errors.test.ts
  packages/tooling/src/utils/errors.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): close TASK-443 (hasVoiceAttachment collapsed, #1997)
  tracker/tasks/task-443 - Collapse-hasVoiceAttachment-onto-forwardedMessageUtils.hasVoiceAttachments.md
Due: prettier --write

docs: record batch 3 (#1985) and the remaining do-now grouping
  CURRENT.md
Due: prettier --write

docs(ci): record the real branch protection; move develop to a ruleset
  .github/rulesets/README.md
  .github/rulesets/branch-protection-no-bypass.json
  .github/rulesets/branch-protection-no-checks.json
  .github/rulesets/develop-protection.json
  .github/rulesets/solo-developer-minimal.json
  .github/workflows/ci.yml
Due: prettier --write, secretlint

docs(backlog): mark the five #1983 do-now items Done
  tracker/tasks/task-13 - estimator-disambiguation-drift-self-variant-comment-direction-1599-round-4-nits-.md
  tracker/tasks/task-179 - Pre-assert-the-cross-channel-group-before-checking-its-env-name-test-diagnostic-.md
  tracker/tasks/task-266 - withPolicyArms-0-fallback-poisons-partially-ranking-arms.md
  tracker/tasks/task-29 - Comment-withParallelRetry-is-a-no-op-on-the-vision-fallback-path.md
  tracker/tasks/task-33 - Align-resulterrors-compose-base-with-errorInfotechnicalMessage-RetryError-wrappe.md
Due: prettier --write

docs(backlog): close TASK-198, TASK-262, TASK-445 (#1988)
  tracker/tasks/task-198 - Decide-whether-CI-jobs-beyond-unit-testslint-become-required-status-checks.md
  tracker/tasks/task-262 - Add-docker-build-smoke-ok-to-the-develop-rulesets-required-contexts.md
  tracker/tasks/task-445 - Decide-the-disposition-of-three-orphaned-.github-rulesets-JSON-variants.md
Due: prettier --write

docs: record the completed monitor-tooling arc (#1991-#1995)
  CURRENT.md
Due: prettier --write

docs: record the monitor-tooling arc (#1991/#1992/#1993) in CURRENT.md
  CURRENT.md
Due: prettier --write

docs(backlog): carry PR #1992's round-5 riders into TASK-456
  tracker/tasks/task-456 - Canonical-monitor-invocation-should-embed-git-rev-parse-HEAD-not-a-SHA-placeholder.md
Due: prettier --write
