Repository lbds137/tzurot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["prettier --write", "eslint --fix --max-warnings=0 --no-warn-ignored"],
  "*.{md,json,yml,yaml}": ["prettier --write"],
  "*.{ts,tsx,js,jsx,json}": ["secretlint"]
}

fix(api-gateway): add the UUID gate to the resolve-cascade route
  services/api-gateway/src/routes/user/config-overrides.test.ts
  services/api-gateway/src/routes/user/config-overrides.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix: divert snowflake-shaped usernames to the shell placeholder persona
  packages/common-types/src/constants/discord.ts
  packages/identity/src/UserService.component.test.ts
  packages/identity/src/UserService.ts
  services/ai-worker/src/services/reference/UserReferencePatterns.test.ts
  services/ai-worker/src/services/reference/UserReferencePatterns.ts
  services/bot-client/src/commands/inspect/lookup.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): close TASK-220 (#1834) and TASK-332 (#1835)
  tracker/tasks/task-220 - Resolve-cascade-route-lacks-the-UUID-gate-its-sibling-mutators-have.md
  tracker/tasks/task-332 - ContextAssemblers-userName-userId-fallback-crashes-first-provision-for-a-nameles.md
Due: prettier --write

docs: record drain round 2 in CURRENT.md unreleased section
  CURRENT.md
Due: prettier --write

refactor(api-gateway): retire the legacy bare /ai/* dual-mount
  docs/proposals/backlog/api-contract-enforcement.md
  docs/reference/architecture/system-model.md
  packages/clients/src/routes/admin.ts
  packages/clients/src/routes/internal.ts
  packages/common-types/src/constants/timing.ts
  packages/common-types/src/schemas/api/ai.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/DownloadAttachmentsStep.ts
  services/api-gateway/src/index.ts
  services/api-gateway/src/routes/ai/AIRoutes.component.test.ts
  services/api-gateway/src/routes/ai/confirmDelivery.ts
  services/api-gateway/src/routes/ai/generate.ts
  services/api-gateway/src/routes/ai/index.ts
  services/api-gateway/src/routes/ai/jobStatus.ts
  services/api-gateway/src/routes/ai/transcribe.ts
  services/api-gateway/src/services/AuthMiddleware.ts
  services/bot-client/src/utils/gatewayServiceCalls.test.ts
  services/bot-client/src/utils/gatewayServiceCalls.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(bot-client): stop rendering key-test failures as API Key Valid
  packages/common-types/src/schemas/api/wallet.test.ts
  packages/common-types/src/schemas/api/wallet.ts
  services/api-gateway/src/routes/wallet/testKey.test.ts
  services/api-gateway/src/routes/wallet/testKey.ts
  services/api-gateway/src/utils/apiKeyValidation/types.ts
  services/bot-client/src/commands/settings/apikey/test.test.ts
  services/bot-client/src/commands/settings/apikey/test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): close TASK-333 + TASK-334 (#1836); file TASK-343
  tracker/tasks/task-333 - the-bare-ai-routes-are-a-legacy-dual-mount-of-the-internal-AI-four-one-mount-is….md
  tracker/tasks/task-334 - route-manifest-comment-drift-packagesclientssrcroutesinternalts-carries-stale-th.md
  tracker/tasks/task-343 - Lower-AI_GENERATE_SUBMIT-now-that-submit-is-enqueue-only.md
Due: prettier --write

fix(bot-client): omit authorRole stamp when client identity is unknown
  services/bot-client/src/handlers/references/authorRole.test.ts
  services/bot-client/src/handlers/references/authorRole.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): close TASK-105 (#1837); file TASK-344
  tracker/tasks/task-105 - Audit-api-gateway-key-validators-for-5xx-as-transient-classification.md
  tracker/tasks/task-344 - MISSING_PERMISSIONS-key-test-result-renders-under-the-generic-Invalid-title.md
Due: prettier --write

docs(backlog): close TASK-170 (#1838)
  tracker/tasks/task-170 - classifyReferenceAuthorRole-mislabels-own-persona-as-bot-when-clientUserId-is-un.md
Due: prettier --write

docs: record drain round 3 in CURRENT.md unreleased section
  CURRENT.md
Due: prettier --write

docs(backlog): task-248 grounding — class is wider (6 derive sites), resized M
  tracker/tasks/task-248 - Forced-system-key-rate-limit-pre-check-reads-the-wrong-cache-identity.md
Due: prettier --write

chore: bump version to 3.0.0-beta.183
  package.json
  packages/cache-invalidation/package.json
  packages/clients/package.json
  packages/common-types/package.json
  packages/config-resolver/package.json
  packages/conversation-history/package.json
  packages/embeddings/package.json
  packages/identity/package.json
  packages/test-factories/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  services/website/package.json
  tests/package.json
Due: prettier --write, secretlint

docs: rewrite REASONING_MODEL_FORMATS extraction mechanics against current code
  docs/reference/REASONING_MODEL_FORMATS.md
  tracker/tasks/task-23 - docsreferenceREASONINGMODELFORMATSmd-is-stale-on-extraction-mechanics-describes-.md
  tracker/tasks/task-342 - Remove-fossil-openai-dependency-from-common-types-api-gateway.md
Due: prettier --write

docs(backlog): close TASK-36 — shipped in #1832
  tracker/tasks/task-36 - Promote-invokeVisionModels-undefined-provider-warn-to-a-hard-throw.md
Due: prettier --write

fix(api-gateway): split UNAUTHORIZED (401) from FORBIDDEN (403) in error responses
  services/api-gateway/src/routes/_generated/mounts.component.test.ts
  services/api-gateway/src/routes/admin/createPersonality.ts
  services/api-gateway/src/routes/admin/llm-config.test.ts
  services/api-gateway/src/routes/admin/settings.test.ts
  services/api-gateway/src/routes/admin/settings.ts
  services/api-gateway/src/routes/admin/tts-config.test.ts
  services/api-gateway/src/routes/protected/metrics.test.ts
  services/api-gateway/src/routes/protected/voiceReferences.test.ts
  services/api-gateway/src/routes/user/channel/activate.test.ts
  services/api-gateway/src/routes/user/channel/activate.ts
  services/api-gateway/src/routes/user/llm-config.ts
  services/api-gateway/src/routes/user/personality/get.ts
  services/api-gateway/src/routes/user/personality/helpers.ts
  services/api-gateway/src/routes/user/personality/update.ts
  services/api-gateway/src/routes/user/shapes/export.test.ts
  services/api-gateway/src/routes/user/shapes/list.test.ts
  services/api-gateway/src/routes/user/tts-config.test.ts
  services/api-gateway/src/routes/user/tts-config.ts
  services/api-gateway/src/routes/user/voiceModels.test.ts
  services/api-gateway/src/routes/wallet/setKey.test.ts
  services/api-gateway/src/services/AuthMiddleware.test.ts
  services/api-gateway/src/services/AuthMiddleware.ts
  services/api-gateway/src/types.ts
  services/api-gateway/src/utils/configRouteHelpers.test.ts
  services/api-gateway/src/utils/configRouteHelpers.ts
  services/api-gateway/src/utils/errorResponses.test.ts
  services/api-gateway/src/utils/errorResponses.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

refactor(ai-worker): require explicit provider at the vision invoke seam
  services/ai-worker/src/services/multimodal/VisionProcessor.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: reset CURRENT.md for v3.0.0-beta.182 (unreleased cleared; beta.182 smoke checklist)
  CURRENT.md
Due: prettier --write

docs(backlog): close TASK-108 (#1833) and TASK-94 (verified shipped)
  tracker/tasks/task-108 - ErrorCodeUNAUTHORIZED-HTTP-403-mapping-probably-should-be-401-split-from….md
  tracker/tasks/task-94 - Resolve-personalityTone-UIAPI-cap-mismatch-UI-255-API-1000.md
Due: prettier --write

docs: reset CURRENT.md for v3.0.0-beta.183 (unreleased cleared; smoke checklist)
  CURRENT.md
Due: prettier --write

docs: smoke item 1 PASS (voice transcript on migrated URL; covers old item 9)
  CURRENT.md
Due: prettier --write

fix(ai-worker): quota viability checks read the target's cache identity
  services/ai-worker/src/jobs/handlers/pipeline/steps/AuthStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/AuthStep.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/autoPromotionFallback.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/promotionDemotion.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/quotaFallbackRunner.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/quotaFallbackRunner.ts
  services/ai-worker/src/services/RateLimitCache.ts
  services/ai-worker/src/services/quotaFallback.test.ts
  services/ai-worker/src/services/quotaFallback.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint
