Repository lbds137/tzurot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(ai-worker): joint memory/history allocation — end starvation under history pressure
  backlog/cold/follow-ups.md
  packages/common-types/src/constants/ai.ts
  services/ai-worker/src/services/context/MemoryBudgetManager.test.ts
  services/ai-worker/src/services/context/MemoryBudgetManager.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): phase 2 slice 1 shipped — epic row
  backlog/active-epic.md
Due: prettier --write

fix(ai-worker): demote doomed z.ai promotions to their OpenRouter passthrough
  services/ai-worker/src/jobs/handlers/pipeline/steps/AuthStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/AuthStep.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/autoPromotionFallback.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/autoPromotionFallback.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/promotionDemotion.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/promotionDemotion.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

feat(common-types): memory_facts schema + fact-extraction types (phase 2 slice 1)
  backlog/cold/follow-ups.md
  docs/reference/database/PRISMA_DRIFT_ISSUES.md
  packages/common-types/src/constants/ai.ts
  packages/common-types/src/constants/queue.ts
  packages/common-types/src/constants/redis-keys.ts
  packages/common-types/src/schemas/api/fact.test.ts
  packages/common-types/src/schemas/api/fact.ts
  packages/common-types/src/schemas/api/index.ts
  packages/common-types/src/types/jobs.test.ts
  packages/common-types/src/types/jobs.ts
  packages/common-types/src/utils/deterministicUuid.test.ts
  packages/common-types/src/utils/deterministicUuid.ts
  packages/test-utils/schema/pglite-schema.sql
  packages/tooling/src/db/check-migration-safety.test.ts
  packages/tooling/src/db/check-migration-safety.ts
  packages/tooling/src/db/inspect-database.ts
  packages/tooling/src/topology/coverageTopology.ts
  prisma/drift-ignore.json
  prisma/migrations/20260707024943_add_memory_facts_table/migration.sql
  prisma/schema.prisma
  services/api-gateway/src/services/sync/config/syncTables.ts
  services/api-gateway/src/utils/validatedQueue.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(rules): indexes ship with their query — db-audit phase 1
  .claude/rules/03-database.md
  backlog/cold/themes/database-performance-audit.md
Due: prettier --write

docs(backlog): fold release-review revival valid_from note into factstore row
  backlog/cold/follow-ups.md
Due: prettier --write

docs(docs): beta.151 shipped — release reset
  CURRENT.md
Due: prettier --write

fix(ai-worker): unwrap markdown-fenced extraction responses + eval baseline
  services/ai-worker/src/services/eval/memoryExtraction.eval.test.ts
  services/ai-worker/src/services/eval/phase2-extraction-baseline.json
  services/ai-worker/src/services/extraction/FactExtractionService.ts
  services/ai-worker/src/services/extraction/extractionPrompt.test.ts
  services/ai-worker/src/services/extraction/extractionPrompt.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(docs): session ledger — phase 2 slices 1+2 shipped, brief intaken
  CURRENT.md
Due: prettier --write

docs(rules): working-posture rule — how to drive a session
  .claude/rules/10-working-posture.md
  CLAUDE.md
Due: prettier --write

docs(backlog): re-link ingestion proposal orphaned by the theme absorption
  backlog/active-epic.md
Due: prettier --write

docs(backlog): promote memory system overhaul to active epic
  backlog/active-epic.md
  backlog/cold/queue.md
  backlog/cold/themes/memory-system-overhaul.md
  backlog/now.md
  backlog/references.md
Due: prettier --write

fix(ai-worker): degrade to free default on system key when paid retarget lacks a user key
  services/ai-worker/src/jobs/handlers/pipeline/steps/AuthStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/AuthStep.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/quotaFallbackRunner.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/quotaFallbackRunner.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/retargetRoute.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/retargetRoute.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): intake external fable review brief — 8 items + riders filed
  backlog/active-epic.md
  backlog/cold/follow-ups.md
  backlog/cold/ideas.md
  backlog/now.md
Due: prettier --write

docs(docs): beta.152 shipped — release reset + premigrate detector follow-up
  CURRENT.md
  backlog/cold/follow-ups.md
Due: prettier --write

docs(backlog): fair-share quota design answers filed
  backlog/now.md
Due: prettier --write

fix(api-gateway): drain in-flight HTTP before teardown in the shutdown sequence
  services/api-gateway/src/index.ts
  services/api-gateway/src/shutdownHandler.test.ts
  services/api-gateway/src/shutdownHandler.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(ai-worker): close the guest paid-vision leak + restore the vision failure signal
  services/ai-worker/src/jobs/ImageDescriptionJob.test.ts
  services/ai-worker/src/jobs/ImageDescriptionJob.ts
  services/ai-worker/src/services/multimodal/VisionProcessor.test.ts
  services/ai-worker/src/services/multimodal/VisionProcessor.ts
  services/ai-worker/src/services/multimodal/visionDescriptionValidity.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

feat(ai-worker): null-vector memory self-healing sweep + dead-letter backlog visibility
  .claude/rules/03-database.md
  prisma/drift-ignore.json
  prisma/migrations/20260707150036_add_null_embedding_sweep_index/migration.sql
  services/ai-worker/src/index.ts
  services/ai-worker/src/jobs/NullVectorReembedder.component.test.ts
  services/ai-worker/src/jobs/NullVectorReembedder.test.ts
  services/ai-worker/src/jobs/NullVectorReembedder.ts
  services/ai-worker/src/services/PgvectorMemoryAdapter.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(common-types): trim provider error text before quoting in the spoiler
  packages/common-types/src/constants/error.test.ts
  packages/common-types/src/constants/error.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(prisma): document idx_memories_null_embedding + file sweep follow-ups
  backlog/cold/follow-ups.md
  docs/reference/database/PRISMA_DRIFT_ISSUES.md
Due: prettier --write

docs(backlog): strike shipped brief items (2,4,5,6) + session ledger
  CURRENT.md
  backlog/cold/follow-ups.md
  backlog/now.md
Due: prettier --write

fix(ai-worker): close prompt-injection breakout seams + guard tag classification
  .github/workflows/ci.yml
  backlog/cold/follow-ups.md
  package.json
  packages/common-types/src/utils/promptSanitizer.test.ts
  packages/common-types/src/utils/promptSanitizer.ts
  packages/tooling/src/commands/guard.ts
  packages/tooling/src/dev/check-prompt-tags.test.ts
  packages/tooling/src/dev/check-prompt-tags.ts
  services/ai-worker/src/jobs/utils/conversationUtils.test.ts
  services/ai-worker/src/jobs/utils/xmlMetadataFormatters.test.ts
  services/ai-worker/src/jobs/utils/xmlMetadataFormatters.ts
  services/ai-worker/src/services/PromptBuilder.test.ts
  services/ai-worker/src/services/PromptBuilder.ts
  services/ai-worker/src/services/RAGUtils.ts
  services/ai-worker/src/services/ReferencedMessageFormatter.test.ts
  services/ai-worker/src/services/__snapshots__/PromptBuilder.test.ts.snap
  services/ai-worker/src/services/prompt/HardcodedConstraints.test.ts
  services/ai-worker/src/services/prompt/HardcodedConstraints.ts
  services/ai-worker/src/services/prompt/ParticipantFormatter.test.ts
  services/ai-worker/src/services/prompt/ParticipantFormatter.ts
  services/ai-worker/src/services/prompt/PersonalityFieldsFormatter.test.ts
  services/ai-worker/src/services/prompt/QuoteFormatter.test.ts
  services/ai-worker/src/services/prompt/QuoteFormatter.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(ai-worker): rescue the failing turn on a rate-limit (429), not just later turns
  backlog/cold/follow-ups.md
  packages/common-types/src/constants/discord.test.ts
  packages/common-types/src/constants/discord.ts
  packages/common-types/src/types/schemas/generation.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/quotaFallbackRunner.test.ts
  services/ai-worker/src/services/quotaFallback.test.ts
  services/ai-worker/src/services/quotaFallback.ts
  services/bot-client/src/services/DiscordResponseSender.ts
  services/bot-client/src/utils/resultMetadataPassthrough.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

chore: bump version to 3.0.0-beta.153
  package.json
  packages/cache-invalidation/package.json
  packages/clients/package.json
  packages/common-types/package.json
  packages/config-resolver/package.json
  packages/conversation-history/package.json
  packages/embeddings/package.json
  packages/identity/package.json
  packages/test-factories/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  tests/package.json
Due: prettier --write, secretlint

docs(backlog): file beta.154 character-definition-privacy epic
  backlog/cold/ideas.md
Due: prettier --write

feat(bot-client): voice-at-import + /character UX consistency sweep
  packages/common-types/src/generated/commandOptions.ts
  packages/common-types/src/schemas/api/personality.ts
  services/api-gateway/src/routes/user/personality/create.test.ts
  services/api-gateway/src/routes/user/personality/create.ts
  services/api-gateway/src/routes/user/personality/update.test.ts
  services/api-gateway/src/routes/user/personality/update.ts
  services/bot-client/command-manifest.json
  services/bot-client/src/commands/character/autocomplete.ts
  services/bot-client/src/commands/character/avatar.test.ts
  services/bot-client/src/commands/character/avatar.ts
  services/bot-client/src/commands/character/import.test.ts
  services/bot-client/src/commands/character/import.ts
  services/bot-client/src/commands/character/index.ts
  services/bot-client/src/commands/character/mediaValidation.test.ts
  services/bot-client/src/commands/character/mediaValidation.ts
  services/bot-client/src/commands/character/voice.test.ts
  services/bot-client/src/commands/character/voice.ts
  services/bot-client/src/handlers/__snapshots__/CommandHandler.component.test.ts.snap
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): file #1541 review follow-ups (admin-route voice gap, option-idiom drift)
  backlog/cold/follow-ups.md
Due: prettier --write

docs(backlog): file NullVectorReembedder updated_at side-effect (release review)
  backlog/cold/follow-ups.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{md,json,yml,yaml})
  eslint --fix --max-warnings=0 --no-warn-ignored: any of: *.{ts,tsx}
  secretlint: any of: *.{ts,tsx,js,jsx,json}
