Repository lbds137/tzurot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["prettier --write", "eslint --fix --max-warnings=0 --no-warn-ignored"],
  "*.{md,json,yml,yaml}": ["prettier --write"],
  "*.{ts,tsx,js,jsx,json}": ["secretlint"]
}

docs(backlog): track barrel-kill codemod-quality follow-ups from PR #1472 review
  backlog/cold/themes/kill-common-types-root-barrel.md
Due: prettier --write

refactor(common-types): kill root barrel — tooling + exports map + clients slice
  .gitignore
  packages/clients/src/clients/_generated/user-client.ts
  packages/clients/src/clients/errors.test.ts
  packages/clients/src/clients/errors.ts
  packages/clients/src/clients/generated-encoding.test.ts
  packages/clients/src/clients/transport.test.ts
  packages/clients/src/clients/transport.ts
  packages/clients/src/routes/admin.ts
  packages/clients/src/routes/internal.ts
  packages/clients/src/routes/manifest.test.ts
  packages/clients/src/routes/user/config-overrides.ts
  packages/clients/src/routes/user/configs.ts
  packages/clients/src/routes/user/diagnostics.ts
  packages/clients/src/routes/user/memory.ts
  packages/clients/src/routes/user/ownership.ts
  packages/clients/src/routes/user/resources.ts
  packages/clients/src/routes/user/shapes.ts
  packages/clients/tsconfig.json
  packages/common-types/package.json
  packages/tooling/src/codegen/client-builder.test.ts
  packages/tooling/src/codegen/client-builder.ts
  scripts/migrations/barrel-kill/build-symbol-map.ts
  scripts/migrations/barrel-kill/codemod.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): remove shipped temporal-archaeology sweep follow-up (#1473)
  backlog/cold/follow-ups.md
Due: prettier --write

docs(backlog): barrel-kill PR 2 status + fold import-type restore into PR 3
  backlog/cold/themes/kill-common-types-root-barrel.md
Due: prettier --write

docs(backlog): mark PR #1474 merged; add scripts-hardening plan + PR-3 codemod-deletion
  backlog/cold/themes/kill-common-types-root-barrel.md
Due: prettier --write

docs(backlog): file the xray suppressions fail-mode follow-up (gate-parity CI_ONLY)
  backlog/cold/follow-ups.md
Due: prettier --write

chore(repo): delete 15 stale/dead dev scripts + pin @tzurot/scripts node types
  packages/tooling/README.md
  packages/tooling/src/commands/run.ts
  packages/tooling/src/db/run-with-env.ts
  scripts/audit-middleware-side-effects.ts
  scripts/debug/README.md
  scripts/debug/check-conversation-ordering.ts
  scripts/debug/check-db-state.cjs
  scripts/debug/check-user-persona-state.ts
  scripts/debug/persona-bug-scope.ts
  scripts/migrations/README.md
  scripts/migrations/fix-migration-checksums.ts
  scripts/migrations/migrate-error-messages.ts
  scripts/migrations/verify-migration-checksums.ts
  scripts/package.json
  scripts/src/db/fix-phantom-migration.ts
  scripts/src/inspect-leaked-request.ts
  scripts/src/openrouter-gen.ts
  scripts/tsconfig.json
  scripts/utils/README.md
  scripts/utils/set-default-llm-config.ts
  scripts/utils/update-deps.ts
  scripts/utils/verify-llm-default-constraint.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

chore(repo): relocate command-types codegen to ops + typecheck-cover the rest
  .github/workflows/ci.yml
  docs/reference/tooling/OPS_CLI_REFERENCE.md
  package.json
  packages/common-types/src/generated/commandOptions.ts
  packages/tooling/src/codegen/command-types.test.ts
  packages/tooling/src/codegen/command-types.ts
  packages/tooling/src/commands/codegen.ts
  scripts/audit-route-auth-matrix.ts
  scripts/tsconfig.json
  services/bot-client/package.json
  services/bot-client/tsconfig.typecheck.json
  turbo.json
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): mark scripts-hardening (#1475) shipped; drop resolved migration-scripts follow-up
  backlog/cold/follow-ups.md
  backlog/cold/themes/kill-common-types-root-barrel.md
Due: prettier --write

fix(ci): scope ai-worker-no-discord depcruise rule to the discord.js library
  .dependency-cruiser.cjs
Due: none

docs(backlog): file pre-release knip audit + tooling-lint gap (barrel-kill finale)
  backlog/cold/follow-ups.md
  backlog/now.md
Due: prettier --write

docs: fix stale bare-barrel examples + extend guard to scripts/ (review nits)
  .github/workflows/ci.yml
  docs/proposals/backlog/api-contract-enforcement.md
  docs/reference/caching/PUBSUB_INVALIDATION_GUIDE.md
  docs/reference/guides/TESTING.md
  docs/reference/operations/REDIS_TIMEOUT_ANALYSIS.md
  docs/reference/standards/HANDLER_FACTORY_PATTERN.md
  docs/reference/standards/INTERACTION_PATTERNS.md
  docs/reference/standards/SLASH_COMMAND_IMPLEMENTATION.md
  packages/common-types/src/types/schemas/index.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): tooling-lint gap is a pre-release gate too (user directive)
  backlog/cold/follow-ups.md
  backlog/now.md
Due: prettier --write

docs(backlog): barrel-kill epic shipped (#1476) — close out the theme
  CURRENT.md
  backlog/cold/follow-ups.md
  backlog/cold/queue.md
  backlog/cold/themes/kill-common-types-root-barrel.md
Due: prettier --write

chore: gate-lint @tzurot/tooling (add lint script + clear 16 eslint errors)
  packages/tooling/package.json
  packages/tooling/src/context/session-context.ts
  packages/tooling/src/eslint/no-singleton-export.ts
  packages/tooling/src/xray/file-parser.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(tooling): preserve ts-expect-error justification with an internal -- (review)
  packages/tooling/src/xray/file-parser.test.ts
  packages/tooling/src/xray/file-parser.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): file un-enforced reasoning-token constraint (barrel audit finding)
  backlog/cold/follow-ups.md
Due: prettier --write

refactor: prune 7 verified-dead functions + de-export 7 redundant guards
  packages/cache-invalidation/src/ApiKeyCacheInvalidationService.test.ts
  packages/cache-invalidation/src/ApiKeyCacheInvalidationService.ts
  packages/cache-invalidation/src/ChannelActivationCacheInvalidationService.test.ts
  packages/cache-invalidation/src/ChannelActivationCacheInvalidationService.ts
  packages/cache-invalidation/src/ConfigCascadeCacheInvalidationService.test.ts
  packages/cache-invalidation/src/ConfigCascadeCacheInvalidationService.ts
  packages/cache-invalidation/src/LlmConfigCacheInvalidationService.test.ts
  packages/cache-invalidation/src/LlmConfigCacheInvalidationService.ts
  packages/cache-invalidation/src/PersonaCacheInvalidationService.test.ts
  packages/cache-invalidation/src/PersonaCacheInvalidationService.ts
  packages/cache-invalidation/src/SttResolverCacheInvalidationService.test.ts
  packages/cache-invalidation/src/SttResolverCacheInvalidationService.ts
  packages/cache-invalidation/src/TtsConfigCacheInvalidationService.test.ts
  packages/cache-invalidation/src/TtsConfigCacheInvalidationService.ts
  packages/clients/src/clients/resultHelpers.test.ts
  packages/clients/src/clients/resultHelpers.ts
  packages/clients/src/clients/transport.test.ts
  packages/clients/src/clients/transport.ts
  packages/clients/src/routes/types.test.ts
  packages/clients/src/routes/types.ts
  packages/common-types/src/schemas/api/shared.test.ts
  packages/common-types/src/schemas/api/shared.ts
  packages/common-types/src/schemas/llmAdvancedParams.test.ts
  packages/common-types/src/schemas/llmAdvancedParams.ts
  packages/identity/src/personality/PersonalityValidator.test.ts
  packages/identity/src/personality/PersonalityValidator.ts
  packages/tooling/src/codegen/method-builder.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

feat(tooling): xray --suppressions --check gate (retire CI bash wrapper)
  .github/workflows/ci.yml
  package.json
  packages/tooling/src/commands/xray.ts
  packages/tooling/src/dev/check-gate-parity.ts
  packages/tooling/src/xray/formatters/suppressions.test.ts
  packages/tooling/src/xray/formatters/suppressions.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

style: restore blank-line separation after the type prune + drop stale comment
  packages/common-types/src/schemas/api/admin-operations.ts
  packages/common-types/src/schemas/api/ai.ts
  packages/common-types/src/schemas/api/configOverrides.ts
  packages/common-types/src/schemas/api/denylist.ts
  packages/common-types/src/schemas/api/diagnostic.ts
  packages/common-types/src/schemas/api/history.ts
  packages/common-types/src/schemas/api/internal.ts
  packages/common-types/src/schemas/api/memory.ts
  packages/common-types/src/schemas/api/model-override.ts
  packages/common-types/src/schemas/api/persona.ts
  packages/common-types/src/schemas/api/shapes.ts
  packages/common-types/src/schemas/api/tts-override.ts
  packages/common-types/src/schemas/api/usage.ts
  packages/common-types/src/schemas/api/voices.ts
  packages/common-types/src/schemas/api/wallet.ts
  services/api-gateway/src/services/ShapesPreflight.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

test(tooling): cover the suppression-gate output logic + restore CI trend count
  packages/tooling/src/commands/xray.test.ts
  packages/tooling/src/commands/xray.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

style: complete the blank-line sweep (section dividers too) + prettier-normalize
  packages/common-types/src/schemas/api/admin.ts
  packages/common-types/src/schemas/api/adminSettings.ts
  packages/common-types/src/schemas/api/channel.ts
  packages/common-types/src/schemas/api/configOverrides.ts
  packages/common-types/src/schemas/api/denylist.ts
  packages/common-types/src/schemas/api/diagnostic.ts
  packages/common-types/src/schemas/api/history.ts
  packages/common-types/src/schemas/api/internal.ts
  packages/common-types/src/schemas/api/llm-config.ts
  packages/common-types/src/schemas/api/memory.ts
  packages/common-types/src/schemas/api/memoryIncognito.ts
  packages/common-types/src/schemas/api/model-override.ts
  packages/common-types/src/schemas/api/nsfw.ts
  packages/common-types/src/schemas/api/persona.ts
  packages/common-types/src/schemas/api/personality.ts
  packages/common-types/src/schemas/api/shapes.ts
  packages/common-types/src/schemas/api/stt-override.ts
  packages/common-types/src/schemas/api/timezone.ts
  packages/common-types/src/schemas/api/tts-config.ts
  packages/common-types/src/schemas/api/tts-override.ts
  packages/common-types/src/schemas/api/usage.ts
  packages/common-types/src/schemas/api/voice-resolution.ts
  packages/common-types/src/schemas/api/voices.ts
  packages/common-types/src/schemas/api/wallet.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(tooling): fix xray WHY.md self-contradiction + dedup flatten + document --check
  docs/reference/tooling/OPS_CLI_REFERENCE.md
  packages/tooling/src/commands/xray.ts
  packages/tooling/src/xray/WHY.md
  packages/tooling/src/xray/formatters/suppressions.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint
