Repository lbds137/tzurot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["prettier --write", "eslint --fix --max-warnings=0 --no-warn-ignored"],
  "*.{md,json,yml,yaml}": ["prettier --write"],
  "*.{ts,tsx,js,jsx,json}": ["secretlint"]
}

refactor(ai-worker): vision pipeline cleanup post PR #938
  services/ai-worker/src/jobs/ImageDescriptionJob.test.ts
  services/ai-worker/src/jobs/ImageDescriptionJob.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/DependencyStep.ts
  services/ai-worker/src/services/ProviderRouter.test.ts
  services/ai-worker/src/services/ProviderRouter.ts
  services/ai-worker/src/services/multimodal/VisionProcessor.ts
  services/ai-worker/src/services/multimodal/visionAuthResolver.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(repo): post-PR-#940 backlog cleanup + CURRENT update
  CURRENT.md
  backlog/inbox.md
Due: prettier --write

chore(ci): make guard:duplicate-exports + knip blocking
  .github/workflows/ci.yml
  knip.json
  packages/tooling/src/dev/check-duplicate-exports.test.ts
  packages/tooling/src/dev/check-duplicate-exports.ts
  services/ai-worker/src/jobs/cleanupStuckExportJobs.ts
  services/ai-worker/src/jobs/cleanupStuckImportJobs.ts
  services/ai-worker/src/services/context/PromptContext.ts
  services/api-gateway/src/test/shared-route-test-utils.ts
  services/bot-client/src/commands/inspect/types.ts
  services/bot-client/src/handlers/references/types.ts
  services/bot-client/src/services/serviceRegistry.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): track PromptContext.ts rename follow-up
  backlog/inbox.md
Due: prettier --write

docs(repo): post-PR-#941 backlog cleanup + CURRENT update
  CURRENT.md
  backlog/quick-wins.md
Due: prettier --write

docs(backlog): track ignoreExportsUsedInFile monitoring follow-up
  backlog/inbox.md
Due: prettier --write

docs(rules): distinguish Dismissed from Backlog candidates by future trigger
  .claude/rules/08-review-response.md
Due: prettier --write

docs(repo): record PR #942 (rule update) in Unreleased section
  CURRENT.md
Due: prettier --write

docs(backlog): track Discord URL embed-suppression follow-up
  backlog/inbox.md
Due: prettier --write

feat(ai-worker): cache OpenRouter rate-limit state in Redis
  backlog/inbox.md
  packages/common-types/src/types/schemas/generation.ts
  services/ai-worker/src/redis.ts
  services/ai-worker/src/services/ConversationalRAGService.test.ts
  services/ai-worker/src/services/ConversationalRAGService.ts
  services/ai-worker/src/services/LLMInvoker.test.ts
  services/ai-worker/src/services/LLMInvoker.ts
  services/ai-worker/src/services/RateLimitCache.test.ts
  services/ai-worker/src/services/RateLimitCache.ts
  services/ai-worker/src/utils/apiErrorParser.test.ts
  services/ai-worker/src/utils/apiErrorParser.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(repo): post-PR-#943 backlog + CURRENT updates
  CURRENT.md
  backlog/inbox.md
Due: prettier --write

refactor(ai-worker): consolidate duplicate MemoryDocument type
  services/ai-worker/src/services/context/ContextWindowManager.ts
  services/ai-worker/src/services/context/PromptContext.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(common-types): wrap URLs in error spoilers to suppress Discord embeds
  packages/common-types/src/constants/error.test.ts
  packages/common-types/src/constants/error.ts
  packages/common-types/src/constants/index.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(repo): post-PR-#944 backlog + CURRENT updates
  CURRENT.md
  backlog/inbox.md
Due: prettier --write

feat(common-types): add CREDIT_EXHAUSTION error category
  packages/common-types/src/constants/error.test.ts
  packages/common-types/src/constants/error.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

feat(ai-worker): sub-classify 402s into account-level vs request-level
  services/ai-worker/src/utils/apiErrorParser.test.ts
  services/ai-worker/src/utils/apiErrorParser.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

feat(ai-worker): cache OpenRouter credit-exhaustion 402s in Redis
  services/ai-worker/package.json
  services/ai-worker/src/redis.ts
  services/ai-worker/src/services/CreditExhaustionCache.test.ts
  services/ai-worker/src/services/CreditExhaustionCache.ts
  services/ai-worker/src/services/LLMInvoker.test.ts
  services/ai-worker/src/services/LLMInvoker.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

feat(tooling): add cache:clear-credit-exhaustion operator escape valve
  packages/tooling/package.json
  packages/tooling/src/cache/clear-credit-exhaustion.test.ts
  packages/tooling/src/cache/clear-credit-exhaustion.ts
  packages/tooling/src/commands/cache.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(repo): post-PR-#945 backlog + CURRENT updates
  CURRENT.md
  backlog/inbox.md
Due: prettier --write

chore: bump version to 3.0.0-beta.112
  package.json
  packages/common-types/package.json
  packages/embeddings/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  tests/package.json
Due: prettier --write, secretlint

docs(repo): post-release reset for v3.0.0-beta.111
  CURRENT.md
Due: prettier --write
