Repository lbds137/tzurot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

feat(ai-worker): parameterize fold turn-count for retrieval eval sweep
  services/ai-worker/src/services/RAGUtils.test.ts
  services/ai-worker/src/services/RAGUtils.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): file RAGUtils dead-slice-guard cleanup follow-up (#1610)
  backlog/cold/follow-ups.md
Due: prettier --write

feat(tooling): mine conversation goldens for the retrieval re-baseline
  packages/tooling/src/commands/memory.ts
  packages/tooling/src/memory/mine-conversation-goldens.test.ts
  packages/tooling/src/memory/mine-conversation-goldens.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): file conversation-goldens miner polish follow-up (#1611)
  backlog/cold/follow-ups.md
Due: prettier --write

refactor(tooling): fold conversation-goldens miner review nits
  packages/tooling/src/commands/memory.ts
  packages/tooling/src/memory/mine-conversation-goldens.test.ts
  packages/tooling/src/memory/mine-conversation-goldens.ts
  packages/tooling/src/memory/mine-goldens.ts
  packages/tooling/src/memory/sampling.test.ts
  packages/tooling/src/memory/sampling.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

feat(ai-worker): fold-aware retrieval re-baseline runner + non-circularity guard
  package.json
  services/ai-worker/src/services/eval/foldAwarePooling.eval.test.ts
  services/ai-worker/src/services/eval/nonCircularityGuard.test.ts
  services/ai-worker/src/services/eval/nonCircularityGuard.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): 1c re-baseline machinery merged (PRs 1610/1611/1612)
  backlog/active-epic.md
  backlog/cold/follow-ups.md
Due: prettier --write

docs(backlog): 1c honest re-baseline RESULT — fold is neutral-to-negative, rung-2 refuted
  backlog/active-epic.md
Due: prettier --write

test(ai-worker): fold-aware poolScoring + A/B scoring glue
  package.json
  services/ai-worker/src/services/eval/foldAwarePooling.eval.test.ts
  services/ai-worker/src/services/eval/foldAwareScoring.eval.test.ts
  services/ai-worker/src/services/eval/poolScoring.test.ts
  services/ai-worker/src/services/eval/poolScoring.ts
  services/ai-worker/src/services/eval/qrelsReconciliation.test.ts
  services/ai-worker/src/services/eval/qrelsReconciliation.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): 1c close-out — 4/4 merged, CURRENT.md re-baseline result + next-step reshuffle
  CURRENT.md
  backlog/active-epic.md
  backlog/cold/follow-ups.md
Due: prettier --write

feat(ai-worker): conditional query-fold gate — fold LTM search context only for content-poor turns
  services/ai-worker/src/services/ConversationInputProcessor.test.ts
  services/ai-worker/src/services/ConversationInputProcessor.ts
  services/ai-worker/src/services/eval/foldAwareScoring.eval.test.ts
  services/ai-worker/src/services/prompt/queryFoldGate.test.ts
  services/ai-worker/src/services/prompt/queryFoldGate.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): fold policy decided + shipped (#1614); queue beta.161 release prep
  CURRENT.md
  backlog/active-epic.md
Due: prettier --write

chore: bump version to 3.0.0-beta.161
  package.json
  packages/cache-invalidation/package.json
  packages/clients/package.json
  packages/common-types/package.json
  packages/config-resolver/package.json
  packages/conversation-history/package.json
  packages/embeddings/package.json
  packages/identity/package.json
  packages/test-factories/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  tests/package.json
Due: prettier --write, secretlint

docs(backlog): lock-incident probe results, pool-guard entry, extraction quick-win drained
  backlog/cold/follow-ups.md
  backlog/now.md
Due: prettier --write

docs(docs): amend admin-runtime-settings - D12 runtime text fallback descent
  docs/proposals/backlog/admin-runtime-settings.md
Due: prettier --write

fix(common-types): reap wedged transactions - main-pool idle-in-tx timeout GUC
  packages/common-types/src/services/poolConfig.test.ts
  packages/common-types/src/services/poolConfig.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

feat(tooling): goldens mining + anonymization for retrieval-eval corpus
  docs/reference/tooling/OPS_CLI_REFERENCE.md
  packages/tooling/src/commands/memory.ts
  packages/tooling/src/memory/goldens-anonymize.test.ts
  packages/tooling/src/memory/goldens-anonymize.ts
  packages/tooling/src/memory/mine-goldens.test.ts
  packages/tooling/src/memory/mine-goldens.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): sweep shipped intermissions; lock-incident entry reflects shipped guard
  backlog/now.md
Due: prettier --write

chore(bot-client): hide db-sync detail report behind a Show details button
  backlog/cold/follow-ups.md
  backlog/references.md
  services/bot-client/command-manifest.json
  services/bot-client/src/commands/admin/db-sync.test.ts
  services/bot-client/src/commands/admin/db-sync.ts
  services/bot-client/src/commands/admin/dbSyncReportStore.test.ts
  services/bot-client/src/commands/admin/dbSyncReportStore.ts
  services/bot-client/src/commands/admin/index.test.ts
  services/bot-client/src/commands/admin/index.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): correct 1c — context-fold already ships, re-baseline honestly
  backlog/active-epic.md
  backlog/cold/epic-log.md
  backlog/cold/follow-ups.md
  backlog/now.md
Due: prettier --write

feat(api-gateway): system settings plumbing + slash setter (admin-runtime PR 1)
  backlog/now.md
  packages/cache-invalidation/src/SystemSettingsCacheInvalidationService.test.ts
  packages/cache-invalidation/src/SystemSettingsCacheInvalidationService.ts
  packages/cache-invalidation/src/index.ts
  packages/clients/src/clients/_generated/owner-client.ts
  packages/clients/src/routes/admin.ts
  packages/common-types/src/constants/ai.test.ts
  packages/common-types/src/constants/ai.ts
  packages/common-types/src/constants/queue.ts
  packages/common-types/src/generated/commandOptions.ts
  packages/common-types/src/schemas/api/systemSettings.test.ts
  packages/common-types/src/schemas/api/systemSettings.ts
  packages/common-types/src/services/SystemSettingsService.component.test.ts
  packages/common-types/src/services/SystemSettingsService.test.ts
  packages/common-types/src/services/SystemSettingsService.ts
  packages/test-utils/schema/pglite-schema.sql
  packages/tooling/coverage-topology.json
  packages/tooling/src/codegen/handler-paths.ts
  prisma/migrations/20260712152644_add_system_settings_column/migration.sql
  prisma/schema.prisma
  services/ai-worker/src/cacheInvalidation.test.ts
  services/ai-worker/src/cacheInvalidation.ts
  services/api-gateway/src/bootstrap/systemSettingsSeed.test.ts
  services/api-gateway/src/bootstrap/systemSettingsSeed.ts
  services/api-gateway/src/index.ts
  services/api-gateway/src/routes/_generated/mounts.ts
  services/api-gateway/src/routes/admin/systemSettings.component.test.ts
  services/api-gateway/src/routes/admin/systemSettings.test.ts
  services/api-gateway/src/routes/admin/systemSettings.ts
  services/api-gateway/src/routes/conformance/fixtures/admin.ts
  services/api-gateway/src/routes/routeDeps.ts
  services/api-gateway/src/shutdownHandler.test.ts
  services/api-gateway/src/shutdownHandler.ts
  services/bot-client/command-manifest.json
  services/bot-client/src/commands/admin/index.ts
  services/bot-client/src/commands/admin/settingsSet.test.ts
  services/bot-client/src/commands/admin/settingsSet.ts
  services/bot-client/src/handlers/__snapshots__/CommandHandler.component.test.ts.snap
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): goldens storage local-only (owner call) + query-sophistication candidate 1c
  backlog/active-epic.md
  backlog/now.md
Due: prettier --write

docs(backlog): file #1605 round-3 polish pair for the dashboards slice
  backlog/cold/follow-ups.md
Due: prettier --write

docs(docs): admin-runtime-settings ACCEPTED - trio council + owner sign-off, absorption wired
  CURRENT.md
  backlog/cold/ideas.md
  docs/proposals/backlog/admin-runtime-settings.md
Due: prettier --write

docs(backlog): record owner decisions — hybrid stays parked, 1c is next retrieval build
  backlog/active-epic.md
  backlog/now.md
Due: prettier --write

docs(repo): beta.160 shipped - reset unreleased + clear released prod-bug entry
  CURRENT.md
  backlog/now.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{md,json,yml,yaml})
  eslint --fix --max-warnings=0 --no-warn-ignored: any of: *.{ts,tsx}
  secretlint: any of: *.{ts,tsx,js,jsx,json}
