Repository lbds137/tzurot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["prettier --write", "eslint --fix --max-warnings=0 --no-warn-ignored"],
  "*.{md,json,yml,yaml}": ["prettier --write"],
  "*.{ts,tsx,js,jsx,json}": ["secretlint"]
}

perf: optimize persona resolution and improve error resilience
  services/ai-worker/src/services/UserReferenceResolver.ts
  services/bot-client/src/services/MessageContextBuilder.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(bot-client): keep voice and forwarded messages with empty content in extended context
  services/bot-client/src/services/DiscordChannelFetcher.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: add LTM summarization and memories migration to tech debt
  docs/proposals/active/TECH_DEBT.md
Due: prettier --write

docs: update roadmap - pipeline refactor is now top priority
  CURRENT_WORK.md
  ROADMAP.md
Due: prettier --write

refactor: consolidate workflow to two-file system (CURRENT + BACKLOG)
  .claude/skills/tzurot-docs/SKILL.md
  BACKLOG.md
  CLAUDE.md
  CURRENT.md
  CURRENT_WORK.md
  ROADMAP.md
  docs/proposals/active/TECH_DEBT.md
Due: prettier --write

test(bot-client): add tests for persona coverage gaps
  services/bot-client/src/commands/persona/api.test.ts
  services/bot-client/src/commands/persona/config.test.ts
  services/bot-client/src/commands/persona/dashboard.test.ts
  services/bot-client/src/commands/persona/profileSections.test.ts
  services/bot-client/src/commands/persona/view.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

feat(bot-client): implement date sorting for persona browse
  BACKLOG.md
  services/bot-client/src/commands/persona/browse.ts
  services/bot-client/src/commands/persona/types.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

chore(deps): update all dependencies
  package.json
  packages/common-types/package.json
  packages/embeddings/package.json
  packages/tooling/package.json
  pnpm-lock.yaml
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  tests/package.json
Due: prettier --write, secretlint

fix(bot-client): resolve persona button interaction failures
  BACKLOG.md
  CURRENT.md
  services/bot-client/src/commands/persona/dashboard.test.ts
  services/bot-client/src/commands/persona/dashboard.ts
  services/bot-client/src/commands/persona/view.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(bot-client): fix persona button routing and option name issues
  services/bot-client/src/commands/persona/browse.ts
  services/bot-client/src/commands/persona/dashboard.ts
  services/bot-client/src/commands/persona/default.test.ts
  services/bot-client/src/commands/persona/default.ts
  services/bot-client/src/commands/persona/types.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: add command definition validation to slash command UX backlog
  BACKLOG.md
Due: prettier --write

docs: add autocomplete UX to slash command standardization epic
  BACKLOG.md
Due: prettier --write

fix(bot-client): update user-facing /wallet and /me references to new commands
  CLAUDE.md
  README.md
  RELEASE_TEST_PLAN.md
  docs/reference/standards/SLASH_COMMAND_UX.md
  docs/reference/testing/BYOK_MANUAL_TESTING.md
  services/bot-client/src/commands/preset/browse.ts
  services/bot-client/src/commands/settings/apikey/browse.ts
  services/bot-client/src/commands/settings/apikey/modal.ts
  services/bot-client/src/commands/settings/apikey/remove.ts
  services/bot-client/src/commands/settings/apikey/test.ts
  services/bot-client/src/commands/settings/index.ts
  services/bot-client/src/commands/settings/preset/default.ts
  services/bot-client/src/commands/settings/preset/list.ts
  services/bot-client/src/commands/settings/preset/set.test.ts
  services/bot-client/src/commands/settings/preset/set.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

refactor(bot-client): eliminate componentPrefixes hack for apikey modals
  BACKLOG.md
  CURRENT.md
  docs/reference/standards/INTERACTION_PATTERNS.md
  services/bot-client/src/commands/settings/apikey/modal.test.ts
  services/bot-client/src/commands/settings/apikey/modal.ts
  services/bot-client/src/commands/settings/apikey/set.test.ts
  services/bot-client/src/commands/settings/apikey/set.ts
  services/bot-client/src/commands/settings/index.test.ts
  services/bot-client/src/commands/settings/index.ts
  services/bot-client/src/utils/customIds.test.ts
  services/bot-client/src/utils/customIds.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

chore: bump version to 3.0.0-beta.52
  package.json
  packages/common-types/package.json
  packages/embeddings/package.json
  packages/tooling/package.json
  scripts/data/import-personality/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  tests/package.json
Due: prettier --write, secretlint

fix: address PR review feedback
  services/bot-client/src/commands/persona/create.ts
  services/bot-client/src/commands/persona/list.test.ts
  services/bot-client/src/commands/persona/list.ts
  services/bot-client/src/commands/persona/share-ltm.ts
  services/bot-client/src/commands/persona/view.ts
  services/bot-client/src/commands/settings/apikey/browse.ts
  services/bot-client/src/commands/settings/apikey/remove.ts
  services/bot-client/src/commands/settings/apikey/test.ts
  services/bot-client/src/commands/settings/preset/autocomplete.ts
  services/bot-client/src/commands/settings/preset/clear-default.ts
  services/bot-client/src/commands/settings/preset/default.ts
  services/bot-client/src/commands/settings/preset/list.ts
  services/bot-client/src/commands/settings/preset/reset.ts
  services/bot-client/src/commands/settings/preset/set.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

feat(api-gateway): implement self-cleaning versioned avatar filesystem cache
  services/api-gateway/src/migrations/sync-avatars.ts
  services/api-gateway/src/routes/public/avatars.test.ts
  services/api-gateway/src/routes/public/avatars.ts
  services/api-gateway/src/routes/user/personality/delete.test.ts
  services/api-gateway/src/routes/user/personality/delete.ts
  services/api-gateway/src/routes/user/personality/update.test.ts
  services/api-gateway/src/routes/user/personality/update.ts
  services/api-gateway/src/utils/avatarPaths.test.ts
  services/api-gateway/src/utils/avatarPaths.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

refactor(api-gateway): two-level directory structure with glob for avatars
  services/api-gateway/src/migrations/sync-avatars.ts
  services/api-gateway/src/routes/public/avatars.test.ts
  services/api-gateway/src/routes/public/avatars.ts
  services/api-gateway/src/routes/user/personality/delete.test.ts
  services/api-gateway/src/routes/user/personality/update.test.ts
  services/api-gateway/src/utils/avatarPaths.test.ts
  services/api-gateway/src/utils/avatarPaths.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

test(api-gateway): add tests for sync-avatars migration
  services/api-gateway/src/migrations/sync-avatars.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix: address PR review feedback
  services/api-gateway/src/migrations/sync-avatars.ts
  services/api-gateway/src/utils/avatarPaths.test.ts
  services/api-gateway/src/utils/avatarPaths.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

refactor(api-gateway): add cursor-based pagination for avatar sync
  services/api-gateway/src/migrations/sync-avatars.test.ts
  services/api-gateway/src/migrations/sync-avatars.ts
  services/api-gateway/src/utils/avatarPaths.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint
