Repository lbds137/tzurot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(ai-worker,common-types): fix maxTokens regression and GLM parameter filtering
  BACKLOG.md
  packages/common-types/src/services/personality/PersonalityDefaults.test.ts
  packages/common-types/src/services/personality/PersonalityDefaults.ts
  packages/common-types/src/types/schemas.ts
  services/ai-worker/src/services/ModelFactory.test.ts
  services/ai-worker/src/services/ModelFactory.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(bot-client): fix preset clone losing context/memory settings
  services/bot-client/src/commands/preset/config.test.ts
  services/bot-client/src/commands/preset/config.ts
  services/bot-client/src/commands/preset/dashboardButtons.test.ts
  services/bot-client/src/commands/preset/dashboardButtons.ts
  services/bot-client/src/commands/preset/presetValidation.test.ts
  services/bot-client/src/commands/preset/types.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(ai-worker,bot-client): fix forwarded image-only messages and reasoning loss on retry
  services/ai-worker/src/jobs/handlers/pipeline/steps/GenerationStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/GenerationStep.ts
  services/ai-worker/src/jobs/utils/conversationLengthEstimator.ts
  services/ai-worker/src/jobs/utils/conversationUtils.test.ts
  services/ai-worker/src/jobs/utils/conversationUtils.ts
  services/ai-worker/src/services/RAGUtils.test.ts
  services/ai-worker/src/services/RAGUtils.ts
  services/bot-client/src/services/channelFetcher/HistoryMerger.test.ts
  services/bot-client/src/services/channelFetcher/HistoryMerger.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

feat(ai-worker,common-types): add negative caching for vision processing failures
  BACKLOG.md
  packages/common-types/src/constants/queue.ts
  packages/common-types/src/constants/timing.ts
  packages/common-types/src/index.ts
  packages/common-types/src/services/PersistentVisionCache.test.ts
  packages/common-types/src/services/PersistentVisionCache.ts
  packages/common-types/src/services/VisionDescriptionCache.ts
  packages/test-utils/schema/pglite-schema.sql
  prisma/migrations/20260206230729_add_vision_failure_category/migration.sql
  prisma/schema.prisma
  services/ai-worker/src/jobs/ImageDescriptionJob.test.ts
  services/ai-worker/src/jobs/ImageDescriptionJob.ts
  services/ai-worker/src/services/MultimodalProcessor.test.ts
  services/ai-worker/src/services/MultimodalProcessor.ts
  services/ai-worker/src/services/multimodal/VisionProcessor.test.ts
  services/ai-worker/src/services/multimodal/VisionProcessor.ts
  services/ai-worker/src/utils/retry.test.ts
  services/ai-worker/src/utils/retry.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(ai-worker,common-types): address PR review feedback for negative caching
  packages/common-types/src/services/VisionDescriptionCache.test.ts
  packages/common-types/src/services/VisionDescriptionCache.ts
  services/ai-worker/src/services/multimodal/VisionProcessor.test.ts
  services/ai-worker/src/services/multimodal/VisionProcessor.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(bot-client): skip reference extraction in weigh-in mode
  BACKLOG.md
  CURRENT.md
  services/bot-client/src/services/MessageContextBuilder.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(ai-worker,common-types,bot-client): improve error handling, content recovery, and diagnostics
  packages/common-types/src/constants/error.test.ts
  packages/common-types/src/constants/error.ts
  packages/common-types/src/types/schemas.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/GenerationStep.ts
  services/ai-worker/src/services/ModelFactory.test.ts
  services/ai-worker/src/services/ModelFactory.ts
  services/ai-worker/src/utils/apiErrorParser.ts
  services/bot-client/src/utils/buildErrorContent.test.ts
  services/bot-client/src/utils/buildErrorContent.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: update CURRENT.md and BACKLOG.md for PR #587 completion
  BACKLOG.md
  CURRENT.md
Due: prettier --write

chore: bump version to 3.0.0-beta.68
  package.json
  packages/common-types/package.json
  packages/embeddings/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/data/import-personality/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  tests/package.json
Due: prettier --write, secretlint

fix(ai-worker): add diagnostic logging to reasoning interception
  services/ai-worker/src/services/ModelFactory.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

feat(ai-worker): add model compatibility fixes
  services/ai-worker/src/services/LLMInvoker.test.ts
  services/ai-worker/src/services/LLMInvoker.ts
  services/ai-worker/src/utils/reasoningModelUtils.test.ts
  services/ai-worker/src/utils/reasoningModelUtils.ts
  services/ai-worker/src/utils/thinkingExtraction.test.ts
  services/ai-worker/src/utils/thinkingExtraction.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(ai-worker): normalize non-Error objects in retry logging
  services/ai-worker/src/utils/retry.test.ts
  services/ai-worker/src/utils/retry.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(repo): link reasoning modernization to GLM 400 fix
  CURRENT.md
Due: prettier --write

feat(ai-worker,bot-client): add reasoning diagnostics to debug command
  packages/common-types/src/types/diagnostic.ts
  services/ai-worker/src/services/ConversationalRAGService.ts
  services/ai-worker/src/services/DiagnosticCollector.test.ts
  services/ai-worker/src/services/DiagnosticCollector.ts
  services/bot-client/src/commands/admin/debug.test.ts
  services/bot-client/src/commands/admin/debug.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(repo): expand error UX story in production issues
  BACKLOG.md
Due: prettier --write

docs(repo): reorganize backlog and add management rules
  .claude/rules/06-backlog.md
  BACKLOG.md
Due: prettier --write

fix(ai-worker): restore reasoning response interception in custom fetch
  docs/reference/REASONING_MODEL_FORMATS.md
  services/ai-worker/src/services/LLMInvoker.test.ts
  services/ai-worker/src/services/LLMInvoker.ts
  services/ai-worker/src/services/ModelFactory.test.ts
  services/ai-worker/src/services/ModelFactory.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

chore: address PR review feedback
  packages/common-types/src/schemas/api/adminSettings.ts
  prisma/schema.prisma
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(repo): update backlog with production issues and release notes
  BACKLOG.md
  CURRENT.md
Due: prettier --write

chore: delete extendedContext endpoint files
  services/api-gateway/src/routes/user/channel/extendedContext.test.ts
  services/api-gateway/src/routes/user/channel/extendedContext.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(repo): explicitly forbid git merge command
  .claude/rules/00-critical.md
Due: prettier --write

fix(ai-worker,common-types,bot-client): improve forwarded message handling and link resolution
  packages/common-types/src/services/ConversationMessageMapper.test.ts
  packages/common-types/src/services/ConversationMessageMapper.ts
  packages/common-types/src/types/schemas.ts
  services/ai-worker/src/services/PromptBuilder.test.ts
  services/ai-worker/src/services/RAGUtils.test.ts
  services/ai-worker/src/services/RAGUtils.ts
  services/ai-worker/src/services/multimodal/VisionProcessor.ts
  services/bot-client/src/services/ConversationPersistence.test.ts
  services/bot-client/src/services/ConversationPersistence.ts
  services/bot-client/src/services/DiscordChannelFetcher.ts
  services/bot-client/src/services/channelFetcher/HistoryMerger.ts
  services/bot-client/src/utils/HistoryLinkResolver.test.ts
  services/bot-client/src/utils/HistoryLinkResolver.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(bot-client): preserve intentional newlines when stripping resolved URLs
  services/bot-client/src/utils/HistoryLinkResolver.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(common-types): clarify isForwarded persistence in schema comment
  packages/common-types/src/types/schemas.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{md,json,yml,yaml})
  eslint --fix --max-warnings=0 --no-warn-ignored: any of: *.{ts,tsx}
  secretlint: any of: *.{ts,tsx,js,jsx,json}
