Repository lbds137/tzurot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0, secretlint

chore: sync package.json versions across monorepo
  packages/tooling/package.json
  packages/tooling/src/eslint/no-singleton-export.test.ts
  pnpm-lock.yaml
  scripts/data/import-personality/package.json
  scripts/package.json
  tests/package.json
Due: prettier --write, eslint --fix --max-warnings=0, secretlint

fix: make husky optional for production builds
  package.json
Due: prettier --write, secretlint

docs: reprioritize roadmap for user-requested features
  CURRENT_WORK.md
  ROADMAP.md
Due: prettier --write

feat(bot-client): quick wins - drop BotSettings and rename /me model to /me preset
  .lintstagedrc.json
  contract-coverage-baseline.json
  docs/reference/standards/TRI_STATE_PATTERN.md
  packages/common-types/src/schemas/api/botSettings.test.ts
  packages/common-types/src/schemas/api/botSettings.ts
  packages/common-types/src/schemas/api/index.ts
  prisma/migrations/20260108125948_drop_deprecated_bot_settings/migration.sql
  prisma/schema.prisma
  services/bot-client/src/commands/me/index.test.ts
  services/bot-client/src/commands/me/index.ts
  services/bot-client/src/commands/me/preset/autocomplete.test.ts
  services/bot-client/src/commands/me/preset/autocomplete.ts
  services/bot-client/src/commands/me/preset/clear-default.test.ts
  services/bot-client/src/commands/me/preset/clear-default.ts
  services/bot-client/src/commands/me/preset/default.test.ts
  services/bot-client/src/commands/me/preset/default.ts
  services/bot-client/src/commands/me/preset/handlers.test.ts
  services/bot-client/src/commands/me/preset/list.test.ts
  services/bot-client/src/commands/me/preset/list.ts
  services/bot-client/src/commands/me/preset/reset.test.ts
  services/bot-client/src/commands/me/preset/reset.ts
  services/bot-client/src/commands/me/preset/set.test.ts
  services/bot-client/src/commands/me/preset/set.ts
Due: prettier --write, eslint --fix --max-warnings=0, secretlint

fix(tooling): optimize pre-push hook for Steam Deck
  .husky/pre-push
Due: none

docs: update test file comments from "model" to "preset"
  services/bot-client/src/commands/me/preset/autocomplete.test.ts
  services/bot-client/src/commands/me/preset/clear-default.test.ts
  services/bot-client/src/commands/me/preset/default.test.ts
  services/bot-client/src/commands/me/preset/handlers.test.ts
  services/bot-client/src/commands/me/preset/list.test.ts
  services/bot-client/src/commands/me/preset/reset.test.ts
  services/bot-client/src/commands/me/preset/set.test.ts
Due: prettier --write, eslint --fix --max-warnings=0, secretlint

fix(tests): remove bot_settings from pglite integration test schema
  tests/integration/schema/pglite-schema.sql
Due: prettier --write

ci: add pglite schema sync enforcement
  .github/workflows/ci.yml
  .husky/pre-commit
Due: prettier --write

fix: address PR review feedback
  .github/workflows/ci.yml
  .husky/pre-commit
  services/bot-client/src/commands/me/preset/default.ts
  services/bot-client/src/commands/me/preset/set.ts
Due: prettier --write, eslint --fix --max-warnings=0, secretlint

fix(ci): add dummy DATABASE_URL for pglite schema check
  .github/workflows/ci.yml
Due: prettier --write

fix: address remaining PR review feedback
  .husky/pre-push
  services/bot-client/src/commands/me/index.ts
  services/bot-client/src/commands/me/preset/default.test.ts
  services/bot-client/src/commands/me/preset/default.ts
Due: prettier --write, eslint --fix --max-warnings=0, secretlint

feat: read LOW_RESOURCE_MODE from .env file
  .env.example
  .husky/pre-push
Due: none

docs: update remaining Model→Preset references in test describe blocks
  .husky/pre-commit
  services/bot-client/src/commands/me/preset/handlers.test.ts
  services/bot-client/src/commands/me/preset/list.test.ts
  services/bot-client/src/commands/me/preset/reset.test.ts
  services/bot-client/src/commands/me/preset/set.test.ts
Due: prettier --write, eslint --fix --max-warnings=0, secretlint

docs: clarify shellcheck disable comment in pre-push hook
  .husky/pre-push
Due: none

docs: update roadmap and memory management proposal
  CURRENT_WORK.md
  ROADMAP.md
  docs/proposals/active/MEMORY_MANAGEMENT_COMMANDS.md
  docs/proposals/active/TECH_DEBT.md
Due: prettier --write

fix(api-gateway): make preset reset idempotent
  services/api-gateway/src/routes/user/model-override.test.ts
  services/api-gateway/src/routes/user/model-override.ts
Due: prettier --write, eslint --fix --max-warnings=0, secretlint

fix(bot-client): show info message when resetting non-existent override
  services/bot-client/src/commands/me/preset/reset.test.ts
  services/bot-client/src/commands/me/preset/reset.ts
Due: prettier --write, eslint --fix --max-warnings=0, secretlint

chore: bump version to 3.0.0-beta.41
  package.json
  packages/common-types/package.json
  packages/tooling/package.json
  scripts/data/import-personality/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  tests/package.json
Due: prettier --write, secretlint

fix(tooling): exit with code 1 when inspected table not found
  packages/tooling/src/db/inspect-database.test.ts
  packages/tooling/src/db/inspect-database.ts
Due: prettier --write, eslint --fix --max-warnings=0, secretlint

docs(hooks): document Turbo filtering decision in pre-push
  .husky/pre-push
Due: none

docs: add explicit rule requiring user approval before PR merges
  .claude/skills/tzurot-git-workflow/SKILL.md
  CLAUDE.md
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{md,json,yml,yaml})) or (any of: *.sql)
  eslint --fix --max-warnings=0: any of: *.{ts,tsx}
  secretlint: any of: *.{ts,tsx,js,jsx,json}
