Repository lbds137/tzurot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["prettier --write", "eslint --fix --max-warnings=0 --no-warn-ignored"],
  "*.{md,json,yml,yaml}": ["prettier --write"],
  "*.{ts,tsx,js,jsx,json}": ["secretlint"]
}

docs(backlog): file TASK-550 — gate misses a task in both tasks and archive
  tracker/tasks/task-550 - Backlog-gate-does-not-catch-a-task-present-in-both-tasks-and-archive.md
Due: prettier --write

fix(tooling): bound the gate-reachable synchronous shell-outs
  packages/tooling/src/audits/baseline-meta.test.ts
  packages/tooling/src/audits/baseline-meta.ts
  packages/tooling/src/audits/check-claude-content-refs.test.ts
  packages/tooling/src/audits/check-claude-content-refs.ts
  packages/tooling/src/context/session-context.test.ts
  packages/tooling/src/context/session-context.ts
  packages/tooling/src/context/session-state.test.ts
  packages/tooling/src/context/session-state.ts
  packages/tooling/src/dev/backlogLint.test.ts
  packages/tooling/src/dev/backlogLint.ts
  packages/tooling/src/dev/check-deferred-refs.test.ts
  packages/tooling/src/dev/check-deferred-refs.ts
  packages/tooling/src/dev/check-workflow-sync.test.ts
  packages/tooling/src/dev/check-workflow-sync.ts
  packages/tooling/src/dev/find-dead-files.test.ts
  packages/tooling/src/dev/find-dead-files.ts
  packages/tooling/src/dev/focus-runner.test.ts
  packages/tooling/src/dev/focus-runner.ts
  packages/tooling/src/gh/ci-gate.test.ts
  packages/tooling/src/gh/ci-gate.ts
  packages/tooling/src/test/mutation-gate.test.ts
  packages/tooling/src/test/mutation-gate.ts
  packages/tooling/src/utils/timeoutKill.test.ts
  packages/tooling/src/utils/timeoutKill.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: close out #2071 and #2072 in CURRENT.md
  CURRENT.md
Due: prettier --write

fix(bot-client): make the db-sync report promise true on every path
  services/bot-client/src/commands/admin/db-sync.test.ts
  services/bot-client/src/commands/admin/db-sync.ts
  services/bot-client/src/services/NightlyDbSyncScheduler.test.ts
  services/bot-client/src/services/NightlyDbSyncScheduler.ts
  services/bot-client/src/utils/dbSyncSummary.test.ts
  services/bot-client/src/utils/dbSyncSummary.ts
  services/bot-client/src/utils/ownerChannel.test.ts
  services/bot-client/src/utils/ownerChannel.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): mark TASK-543 Done — shipped in #2073
  tracker/tasks/task-543 - Nightly-db-sync-warnings-point-at-a-report-that-is-never-sent.md
Due: prettier --write

chore: bump version to 3.0.0-beta.200
  package.json
  packages/cache-invalidation/package.json
  packages/clients/package.json
  packages/common-types/package.json
  packages/config-resolver/package.json
  packages/conversation-history/package.json
  packages/embeddings/package.json
  packages/identity/package.json
  packages/test-factories/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  services/website/package.json
  tests/package.json
Due: prettier --write, secretlint

docs(backlog): record Opus 5 trial units 3-4; file TASK-521
  tracker/tasks/task-513 - Revisit-Opus-5-orchestrator-trial-after-next-release.md
  tracker/tasks/task-521 - Verify-the-head-branch-is-actually-gone-after-a-feature-PR-merge.md
Due: prettier --write

docs(backlog): task-513 — Opus 5 orchestrator trial plan (research + tweaks + slate)
  tracker/tasks/task-513 - Revisit-Opus-5-orchestrator-trial-after-next-release.md
Due: prettier --write

docs(backlog): commit TASK-537, bump TASK-534 to high
  tracker/tasks/task-534 - Warn-when-tracker-files-are-untracked-in-git.md
  tracker/tasks/task-537 - Cache-inventory-table-omits-both-ModelCapabilityChecker-caches.md
Due: prettier --write

docs(backlog): record TASK-510's measured surface and its detection trap
  tracker/tasks/task-510 - Detect-repo-escaping-fs-reads-in-tooling-tests-mechanically.md
Due: prettier --write

docs(backlog): close TASK-139/140; file TASK-525 from the 2065 review
  tracker/tasks/task-139 - checkDockerfileDist-orchestration-tests-use-a-single-service-mock-workspace.md
  tracker/tasks/task-140 - extractRunnerDistCopies-anchors-to-the-LAST-FROM-stage-not-AS-runner-by-name.md
  tracker/tasks/task-525 - Broaden-RUNNER_STAGE_PATTERN-if-a-service-Dockerfile-adopts-a-flag-bearing-FROM.md
Due: prettier --write

docs(rules): correct four staleness gaps in always-loaded surfaces
  .claude/rules/02-code-standards.md
  .claude/rules/03-database.md
  .claude/rules/05-tooling.md
  .claude/skills/tzurot-git-workflow/SKILL.md
Due: prettier --write

docs(backlog): file TASK-530 — hook the branch-checked-out merge guard
  tracker/tasks/task-530 - Hook-block-gh-pr-merge-delete-branch-while-the-head-branch-is-checked-out.md
Due: prettier --write

docs(backlog): narrow TASK-92 — the budget-drop count already exists
  tracker/tasks/task-92 - Memory-retrieval-Found-20-Included-0-mystery-Focus-Mode-off.md
Due: prettier --write

docs(backlog): file TASK-549 and note the CLI-boot bound asymmetry
  tracker/tasks/task-546 - Bound-or-justify-every-remaining-unbounded-shell-out-in-packages-tooling.md
  tracker/tasks/task-549 - find-dead-files-reports-zero-dead-files-silently-when-grep-is-broken-entirely.md
Due: prettier --write

docs(backlog): file TASK-548 — migration-check timeout renders as silence
  tracker/tasks/task-548 - ops-context-goes-silent-on-a-migration-check-timeout-instead-of-flagging-unknown.md
Due: prettier --write

docs: close the own-voice smoke via retro-log — beta.199 fully verified
  CURRENT.md
Due: prettier --write

docs(backlog): file TASK-540 — catalog-outage saves still return 400
  tracker/tasks/task-540 - Catalog-unavailable-save-rejection-returns-400-not-a-transient-retryable-status.md
Due: prettier --write

fix(bot-client): retry the generation submit across a deploy window
  services/bot-client/src/utils/gatewayRetry.test.ts
  services/bot-client/src/utils/gatewayRetry.ts
  services/bot-client/src/utils/gatewayServiceCalls.test.ts
  services/bot-client/src/utils/gatewayServiceCalls.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): file TASK-519 — guard's non-id-named flag gap
  tracker/tasks/task-519 - Guard-cannot-see-a-coercible-CLI-flag-whose-name-is-not-id-shaped.md
Due: prettier --write

fix(tooling): anchor the dockerfile-dist guard on the named runner stage
  packages/tooling/src/dev/check-dockerfile-dist.test.ts
  packages/tooling/src/dev/check-dockerfile-dist.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): sharpen TASK-546's check to neutral-answer vs claim
  tracker/tasks/task-546 - Bound-or-justify-every-remaining-unbounded-shell-out-in-packages-tooling.md
Due: prettier --write

feat(ci): guard that tsc-invoking build scripts clean first
  .github/workflows/ci.yml
  docs/reference/tooling/OPS_CLI_REFERENCE.md
  package.json
  packages/tooling/src/commands/guard.ts
  packages/tooling/src/dev/check-build-scripts.test.ts
  packages/tooling/src/dev/check-build-scripts.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): mark TASK-520/523/537/538 Done — shipped in #2071
  tracker/tasks/task-520 - Extend-the-external-system-claim-trigger-to-code-comments.md
  tracker/tasks/task-523 - Update-the-ops-backlog-gate-description-in-05-tooling.md.md
  tracker/tasks/task-537 - Cache-inventory-table-omits-both-ModelCapabilityChecker-caches.md
  tracker/tasks/task-538 - Rules-table-lists-max-lines-400-without-saying-blanks-and-comments-are-skipped.md
Due: prettier --write

docs: close out the Opus 5 orchestrator trial's first five units
  CURRENT.md
  tracker/tasks/task-487 - Sonnet-worker-tier-pilot-record-per-unit-outcomes.md
  tracker/tasks/task-513 - Revisit-Opus-5-orchestrator-trial-after-next-release.md
Due: prettier --write

docs(backlog): mark TASK-539 Done — shipped in #2070
  tracker/tasks/task-539 - api-gateway-ModelCapabilityService-collapses-cache-unavailable-into-model-not-found.md
Due: prettier --write

feat(tooling): discover audit scan dirs instead of listing them
  .github/baselines/test-coverage-baseline.json
  packages/tooling/src/test/audit-unified.test.ts
  packages/tooling/src/test/audit-unified.ts
  packages/tooling/src/test/audit-version.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): ground TASK-449 — null means two different things
  tracker/tasks/task-449 - Context-window-silently-unclamps-when-the-model-capability-cache-misses.md
Due: prettier --write

docs(backlog): generalize TASK-521 beyond the worktree case
  tracker/tasks/task-521 - Verify-the-head-branch-is-actually-gone-after-a-feature-PR-merge.md
Due: prettier --write

docs: record the owner-approved batched rules PR
  CURRENT.md
Due: prettier --write

docs: trim CURRENT.md to make room for the next close-out
  CURRENT.md
Due: prettier --write

docs(backlog): close TASK-515, record Opus 5 trial units 1-2 outcome
  tracker/tasks/task-487 - Sonnet-worker-tier-pilot-record-per-unit-outcomes.md
  tracker/tasks/task-513 - Revisit-Opus-5-orchestrator-trial-after-next-release.md
  tracker/tasks/task-515 - Retry-gateway-calls-in-the-chat-submit-path-across-deploy-windows.md
Due: prettier --write

docs(backlog): file TASK-515/516 from the beta.199 deploy-window incident
  tracker/tasks/task-515 - Retry-gateway-calls-in-the-chat-submit-path-across-deploy-windows.md
  tracker/tasks/task-516 - ops-logs-job-id-mangles-snowflake-ids-via-numeric-parse.md
Due: prettier --write

fix(tooling): read ops logs id flags from raw argv
  packages/tooling/src/commands/commands.test.ts
  packages/tooling/src/commands/deploy.ts
  packages/tooling/src/commands/retention.ts
  packages/tooling/src/commands/snowflakeFlagArgv.test.ts
  packages/tooling/src/utils/cli-args.test.ts
  packages/tooling/src/utils/cli-args.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): file TASK-524; resize TASK-510 from measurement
  tracker/tasks/task-510 - Detect-repo-escaping-fs-reads-in-tooling-tests-mechanically.md
  tracker/tasks/task-524 - Resuming-a-worktree-isolated-agent-via-SendMessage-drops-the-isolation.md
Due: prettier --write

docs(backlog): file TASK-547 — trigger for the completion-claim rule
  tracker/tasks/task-547 - Give-the-completion-claim-rule-a-mechanical-trigger-at-PR-body-time.md
Due: prettier --write
