Repository lbds137/tzurot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["prettier --write", "eslint --fix --max-warnings=0 --no-warn-ignored"],
  "*.{md,json,yml,yaml}": ["prettier --write"],
  "*.{ts,tsx,js,jsx,json}": ["secretlint"]
}

fix(bot-client): polish voice command UX for consistency
  services/bot-client/src/commands/character/api.ts
  services/bot-client/src/commands/character/autocomplete.ts
  services/bot-client/src/commands/character/browse.test.ts
  services/bot-client/src/commands/character/browse.ts
  services/bot-client/src/commands/character/config.test.ts
  services/bot-client/src/commands/character/config.ts
  services/bot-client/src/commands/character/create.test.ts
  services/bot-client/src/commands/character/dashboard.test.ts
  services/bot-client/src/commands/character/dashboard.ts
  services/bot-client/src/commands/character/dashboardButtons.test.ts
  services/bot-client/src/commands/character/dashboardButtons.ts
  services/bot-client/src/commands/character/edit.ts
  services/bot-client/src/commands/character/index.ts
  services/bot-client/src/commands/character/view.test.ts
  services/bot-client/src/commands/character/voice.test.ts
  services/bot-client/src/commands/character/voice.ts
  services/bot-client/src/handlers/__snapshots__/CommandHandler.int.test.ts.snap
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(bot-client): address PR review feedback on voice UX polish
  services/bot-client/src/commands/character/config.ts
  services/bot-client/src/commands/character/dashboard.test.ts
  services/bot-client/src/commands/character/dashboard.ts
  services/bot-client/src/commands/character/dashboardActions.test.ts
  services/bot-client/src/commands/character/dashboardActions.ts
  services/bot-client/src/commands/character/sections.test.ts
  services/bot-client/src/commands/character/sections.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

refactor(bot-client): unexport base dashboard config to prevent misuse
  services/bot-client/src/commands/character/config.test.ts
  services/bot-client/src/commands/character/config.ts
  services/bot-client/src/commands/character/create.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(bot-client): add hasVoiceReference guard to voice-toggle handler
  services/bot-client/src/commands/character/dashboardActions.test.ts
  services/bot-client/src/commands/character/dashboardActions.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(bot-client): make hasVoiceReference required in dashboard config factory
  services/bot-client/src/commands/character/config.test.ts
  services/bot-client/src/commands/character/config.ts
  services/bot-client/src/commands/character/dashboard.ts
  services/bot-client/src/commands/character/dashboardActions.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

feat(bot-client): add voice settings to dashboards and fix TTS default
  docs/proposals/active/voice-engine-implementation-guide.md
  packages/common-types/src/schemas/api/configOverrides.test.ts
  packages/common-types/src/schemas/api/configOverrides.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/ConfigStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/GenerationStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/TTSStep.test.ts
  services/ai-worker/src/services/MemoryRetriever.test.ts
  services/bot-client/src/commands/admin/settings.test.ts
  services/bot-client/src/commands/admin/settings.ts
  services/bot-client/src/commands/channel/settings.test.ts
  services/bot-client/src/commands/channel/settings.ts
  services/bot-client/src/commands/character/overrides.test.ts
  services/bot-client/src/commands/character/overrides.ts
  services/bot-client/src/commands/character/settings.test.ts
  services/bot-client/src/commands/character/settings.ts
  services/bot-client/src/commands/settings/defaults/edit.test.ts
  services/bot-client/src/commands/settings/defaults/edit.ts
  services/bot-client/src/utils/dashboard/settings/SettingsDashboardBuilder.test.ts
  services/bot-client/src/utils/dashboard/settings/SettingsDashboardBuilder.ts
  services/bot-client/src/utils/dashboard/settings/SettingsDashboardHandler.test.ts
  services/bot-client/src/utils/dashboard/settings/SettingsSessionStorage.test.ts
  services/bot-client/src/utils/dashboard/settings/index.ts
  services/bot-client/src/utils/dashboard/settings/settingsConfig.ts
  services/bot-client/src/utils/dashboard/settings/settingsDataBuilder.test.ts
  services/bot-client/src/utils/dashboard/settings/settingsUpdate.ts
  services/bot-client/src/utils/dashboard/settings/types.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(bot-client): address PR review feedback on voice settings
  services/bot-client/src/utils/dashboard/settings/settingsConfig.ts
  services/bot-client/src/utils/dashboard/settings/types.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(bot-client): add button limit guard and ENUM handler test
  services/bot-client/src/utils/dashboard/settings/SettingsDashboardBuilder.test.ts
  services/bot-client/src/utils/dashboard/settings/SettingsDashboardBuilder.ts
  services/bot-client/src/utils/dashboard/settings/SettingsDashboardHandler.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(bot-client): fix colon-split bug and add clarifying comments
  services/bot-client/src/utils/dashboard/settings/SettingsDashboardBuilder.ts
  services/bot-client/src/utils/dashboard/settings/SettingsDashboardHandler.ts
  services/bot-client/src/utils/dashboard/settings/settingsConfig.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(bot-client): guard reserved ENUM values and test auto→null path
  services/bot-client/src/utils/dashboard/settings/SettingsDashboardBuilder.test.ts
  services/bot-client/src/utils/dashboard/settings/SettingsDashboardBuilder.ts
  services/bot-client/src/utils/dashboard/settings/SettingsDashboardHandler.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(bot-client): use local choices variable instead of duplicate fallback
  services/bot-client/src/utils/dashboard/settings/SettingsDashboardBuilder.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(voice-engine): remove non-root user to fix Railway volume permissions
  services/voice-engine/Dockerfile
Due: none

chore: bump version to 3.0.0-beta.89
  RELEASE_TEST_PLAN.md
  package.json
  packages/common-types/package.json
  packages/embeddings/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  tests/package.json
Due: prettier --write, secretlint

docs(voice-engine): update implementation guide with deployment fixes and test plan
  RELEASE_TEST_PLAN.md
  docs/proposals/active/voice-engine-implementation-guide.md
Due: prettier --write

fix(voice-engine): address PR review and improve cold-start resilience
  services/ai-worker/src/jobs/handlers/pipeline/steps/TTSStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/TTSStep.ts
  services/ai-worker/src/services/voice/VoiceRegistrationService.test.ts
  services/ai-worker/src/services/voice/VoiceRegistrationService.ts
  services/api-gateway/src/routes/public/voiceReferences.ts
  services/bot-client/src/commands/character/voice.ts
  services/bot-client/src/services/VoiceTranscriptionService.test.ts
  services/bot-client/src/services/VoiceTranscriptionService.ts
  services/voice-engine/server.py
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(voice-engine): retry health check during cold start instead of single ping
  services/ai-worker/src/jobs/handlers/pipeline/steps/TTSStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/TTSStep.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(voice-engine): address PR #714 review feedback and improve test coverage
  BACKLOG.md
  CURRENT.md
  docs/proposals/active/voice-engine-implementation-guide.md
  services/ai-worker/src/jobs/handlers/pipeline/steps/TTSStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/TTSStep.ts
  services/ai-worker/src/services/multimodal/AudioProcessor.ts
  services/ai-worker/src/services/voice/VoiceEngineClient.ts
  services/ai-worker/src/services/voice/VoiceRegistrationService.test.ts
  services/ai-worker/src/services/voice/VoiceRegistrationService.ts
  services/ai-worker/src/services/voice/ttsSynthesizer.ts
  services/bot-client/src/services/DiscordResponseSender.ts
  services/voice-engine/server.py
  services/voice-engine/tests/test_openai_compat.py
  services/voice-engine/tests/test_tts_reference.py
  services/voice-engine/tests/test_voice_registration_errors.py
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(voice-engine): remove unused os import in test file
  services/voice-engine/tests/test_voice_registration_errors.py
Due: none

fix(voice-engine): add MIME validation to voice registration and document invariant
  services/api-gateway/src/utils/voiceReferenceProcessor.ts
  services/voice-engine/server.py
  services/voice-engine/tests/test_voice_registration_errors.py
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: add long-lived branch protection rules
  .claude/rules/00-critical.md
  .claude/skills/tzurot-git-workflow/SKILL.md
  CLAUDE.md
Due: prettier --write

docs: update backlog and current for v3.0.0-beta.89 release
  BACKLOG.md
  CURRENT.md
Due: prettier --write

fix(ai-worker): increase voice engine health retry budget for cold starts
  services/ai-worker/src/jobs/handlers/pipeline/steps/TTSStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/TTSStep.ts
  services/ai-worker/src/services/voice/VoiceRegistrationService.test.ts
  services/ai-worker/src/services/voice/VoiceRegistrationService.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(ai-worker): address PR review feedback on cold-start retry
  services/ai-worker/src/jobs/handlers/pipeline/steps/TTSStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/TTSStep.ts
  services/ai-worker/src/services/voice/VoiceRegistrationService.test.ts
  services/ai-worker/src/services/voice/VoiceRegistrationService.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(ai-worker): improve test realism for VoiceEngineError scenarios
  services/ai-worker/src/jobs/handlers/pipeline/steps/TTSStep.test.ts
  services/ai-worker/src/services/voice/VoiceRegistrationService.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(ai-worker): add 504 Gateway Timeout to transient error handling
  services/ai-worker/src/services/voice/VoiceRegistrationService.test.ts
  services/ai-worker/src/services/voice/VoiceRegistrationService.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(ai-worker): clarify poll-rate variability and fix test comment
  services/ai-worker/src/jobs/handlers/pipeline/steps/TTSStep.ts
  services/ai-worker/src/services/voice/VoiceRegistrationService.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

refactor(ai-worker): deduplicate transient error tests with it.each
  services/ai-worker/src/services/voice/VoiceRegistrationService.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(ai-worker): document getHealth error safety and surface scenario in test title
  services/ai-worker/src/jobs/handlers/pipeline/steps/TTSStep.ts
  services/ai-worker/src/services/voice/VoiceRegistrationService.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint
