Repository lbds137/tzurot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["prettier --write", "eslint --fix --max-warnings=0 --no-warn-ignored"],
  "*.{md,json,yml,yaml}": ["prettier --write"],
  "*.{ts,tsx,js,jsx,json}": ["secretlint"]
}

fix(ai-worker): promote STT warmup log to info for prod visibility
  services/ai-worker/src/services/multimodal/AudioProcessor.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(ai-worker,api-gateway,bot-client): bundled bugfixes for beta.92
  BACKLOG.md
  docs/reference/REASONING_MODEL_FORMATS.md
  packages/common-types/src/constants/ai.ts
  packages/common-types/src/constants/media.test.ts
  packages/common-types/src/constants/media.ts
  services/ai-worker/src/utils/responseArtifacts.test.ts
  services/ai-worker/src/utils/responseArtifacts.ts
  services/ai-worker/src/utils/thinkingExtraction.test.ts
  services/ai-worker/src/utils/thinkingExtraction.ts
  services/api-gateway/src/utils/modelValidation.test.ts
  services/api-gateway/src/utils/modelValidation.ts
  services/bot-client/src/services/VoiceTranscriptionService.test.ts
  services/bot-client/src/services/VoiceTranscriptionService.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(voice-engine,common-types): add m4a/mp4 to voice-engine audio allowlist
  packages/common-types/src/constants/media.test.ts
  packages/common-types/src/constants/media.ts
  services/voice-engine/server.py
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: remove stale Gemini references from README
  .claude/skills/tzurot-doc-audit/SKILL.md
  README.md
Due: prettier --write

docs: add backlog items from PR #756 review + voice pipeline investigation
  BACKLOG.md
Due: prettier --write

chore: add missing voices model test to backlog inbox
  BACKLOG.md
Due: prettier --write

test(ai-worker): fix misleading test name, add namespace variant
  services/ai-worker/src/utils/thinkingExtraction.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: address PR review round 2
  README.md
Due: prettier --write

docs: audit and refresh documentation across project
  .claude/skills/tzurot-doc-audit/SKILL.md
  CLAUDE.md
  README.md
  docs/README.md
  docs/incidents/PROJECT_POSTMORTEMS.md
Due: prettier --write

docs(ai-worker,api-gateway,bot-client): address PR #756 review feedback
  packages/common-types/src/constants/media.test.ts
  services/api-gateway/src/utils/modelValidation.test.ts
  services/api-gateway/src/utils/modelValidation.ts
  services/bot-client/src/services/VoiceTranscriptionService.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: address PR review round 4
  README.md
Due: prettier --write

docs: triage user bug reports into backlog with investigation notes
  BACKLOG.md
  CURRENT.md
Due: prettier --write

docs: address PR review round 5
  README.md
Due: prettier --write

chore: bump version to v3.0.0-beta.92
  package.json
  packages/common-types/package.json
  packages/embeddings/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  tests/package.json
Due: prettier --write, secretlint

docs: address PR review round 3
  README.md
  services/bot-client/src/commands/persona/index.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: add missing slash commands from PR review
  README.md
Due: prettier --write

fix(ai-worker): add retry resilience for voice-engine ECONNREFUSED errors
  services/ai-worker/src/jobs/handlers/pipeline/steps/TTSStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/TTSStep.ts
  services/ai-worker/src/services/multimodal/AudioProcessor.test.ts
  services/ai-worker/src/services/multimodal/AudioProcessor.ts
  services/ai-worker/src/services/voice/VoiceEngineClient.test.ts
  services/ai-worker/src/services/voice/VoiceEngineClient.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(ai-worker): address PR #759 review feedback
  services/ai-worker/src/jobs/handlers/pipeline/steps/TTSStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/TTSStep.ts
  services/ai-worker/src/services/multimodal/AudioProcessor.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(deps,voice-engine): security bumps and CodeQL path traversal fix
  package.json
  pnpm-lock.yaml
  services/voice-engine/server.py
Due: prettier --write, secretlint

fix(ai-worker): pass channelId to cascade resolver in ConfigStep
  services/ai-worker/src/jobs/handlers/pipeline/steps/ConfigStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/ConfigStep.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

test(bot-client): add missing voices model assertion + authorId mock option
  services/bot-client/src/commands/settings/index.test.ts
  services/bot-client/src/services/VoiceTranscriptionService.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: backlog triage + session tracking for 2026-04-05
  BACKLOG.md
  CURRENT.md
Due: prettier --write

chore: bump version to v3.0.0-beta.93
  .gitignore
  package.json
  packages/common-types/package.json
  packages/embeddings/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  tests/package.json
Due: prettier --write, secretlint

test(ai-worker): fix misleading test description for STT retry exhaustion
  services/ai-worker/src/services/multimodal/AudioProcessor.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(voice-engine): use validated path in cleanup handler
  services/voice-engine/server.py
Due: none

fix(voice-engine): inline path containment for CodeQL recognition
  services/voice-engine/server.py
Due: none

fix(voice-engine): use real_path in cleanup sinks for CodeQL
  services/voice-engine/server.py
Due: none

fix(ai-worker): add retry resilience for ElevenLabs STT
  services/ai-worker/src/services/multimodal/AudioProcessor.test.ts
  services/ai-worker/src/services/multimodal/AudioProcessor.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(api-gateway): subscribe cascade resolver to pub/sub invalidation
  services/api-gateway/src/index.ts
  services/api-gateway/src/routes/user/index.ts
  services/api-gateway/src/routes/user/llm-config.ts
  services/api-gateway/src/routes/user/llmConfigResolve.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(api-gateway): address PR #761 review — shutdown cleanup + import style
  services/api-gateway/src/index.ts
  services/api-gateway/src/routes/user/llm-config.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: add user-channel tier to cascade extension backlog item
  BACKLOG.md
Due: prettier --write

docs: add transient network error dedup to backlog
  BACKLOG.md
Due: prettier --write
