Repository lbds137/tzurot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

chore: bump version to 3.0.0-beta.104
  package.json
  packages/common-types/package.json
  packages/embeddings/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  tests/package.json
Due: prettier --write, secretlint

docs(repo): backlog prod attachment-download timeout surfaced pre-beta.104
  BACKLOG.md
Due: prettier --write

fix(bot-client): bump GatewayClient.submitJob timeout 10s → 60s (mitigation)
  BACKLOG.md
  services/bot-client/src/utils/GatewayClient.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

feat(tooling): add release:draft-notes and release:verify-notes commands
  packages/tooling/src/commands/release.ts
  packages/tooling/src/release/draft-notes.ts
  packages/tooling/src/release/github-prs.ts
  packages/tooling/src/release/notes-format.test.ts
  packages/tooling/src/release/notes-format.ts
  packages/tooling/src/release/verify-notes.test.ts
  packages/tooling/src/release/verify-notes.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(repo): intake backlog items + refresh TTS leaderboard
  BACKLOG.md
Due: prettier --write

fix(ai-worker): clarify fake-user-message strip log + document Pass-2 edge case
  services/ai-worker/src/utils/thinkingExtraction.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

feat(api-gateway): add shapes.inc session preflight on cookie submit
  services/api-gateway/src/routes/user/shapes/auth.test.ts
  services/api-gateway/src/routes/user/shapes/auth.ts
  services/api-gateway/src/services/ShapesPreflight.test.ts
  services/api-gateway/src/services/ShapesPreflight.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(tooling): address PR #871 fourth-cycle review feedback
  packages/tooling/src/commands/release.ts
  packages/tooling/src/release/github-prs.test.ts
  packages/tooling/src/release/github-prs.ts
  packages/tooling/src/release/verify-notes.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(repo): move OpenRouter issue filing from Quick Wins to Icebox
  BACKLOG.md
Due: prettier --write

docs(repo): triage Inbox — 10 items moved to destinations
  BACKLOG.md
Due: prettier --write

fix(api-gateway): swap preflight endpoint to `/api/users/info`
  BACKLOG.md
  services/api-gateway/src/services/ShapesPreflight.test.ts
  services/api-gateway/src/services/ShapesPreflight.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(repo): session-end housekeeping for v3.0.0-beta.103 release
  BACKLOG.md
  CURRENT.md
Due: prettier --write

fix(api-gateway): address PR #870 second-cycle review feedback
  packages/common-types/src/types/shapes-import.test.ts
  packages/common-types/src/types/shapes-import.ts
  services/api-gateway/src/routes/user/shapes/auth.test.ts
  services/api-gateway/src/routes/user/shapes/auth.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

refactor(bot-client): defer-first in preset handleDeleteButton
  services/bot-client/src/commands/preset/dashboardButtons.test.ts
  services/bot-client/src/commands/preset/dashboardButtons.ts
  services/bot-client/src/utils/dashboard/index.ts
  services/bot-client/src/utils/dashboard/sessionHelpers.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

refactor(bot-client): require maxLength on FieldDefinition (option a)
  services/bot-client/src/commands/character/truncationWarning.ts
  services/bot-client/src/utils/dashboard/DashboardBuilder.test.ts
  services/bot-client/src/utils/dashboard/ModalFactory.test.ts
  services/bot-client/src/utils/dashboard/ModalFactory.ts
  services/bot-client/src/utils/dashboard/modalHelpers.test.ts
  services/bot-client/src/utils/dashboard/types.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(repo): prune backlog entry for bare-== routing fix after pr #872
  BACKLOG.md
Due: prettier --write

docs(repo): queue gateway cookie-submit hardening; clear shipped items
  BACKLOG.md
Due: prettier --write

refactor(tooling): address rounds 1 + 2 review on release:finalize
  packages/tooling/src/commands/release.ts
  packages/tooling/src/release/finalize.test.ts
  packages/tooling/src/release/finalize.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

refactor(bot-client): extend maxLength enforcement to seed-field arrays
  services/bot-client/src/commands/character/config.ts
  services/bot-client/src/commands/character/create.ts
  services/bot-client/src/commands/preset/config.ts
  services/bot-client/src/commands/preset/create.ts
  services/bot-client/src/utils/dashboard/ModalFactory.ts
  services/bot-client/src/utils/dashboard/index.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(repo): intake shapes.inc fetcher hardening follow-ons
  BACKLOG.md
  docs/proposals/backlog/shapes-inc-fetcher-hardening.md
Due: prettier --write

fix(api-gateway): address PR #870 review feedback
  services/api-gateway/src/services/ShapesPreflight.test.ts
  services/api-gateway/src/services/ShapesPreflight.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(repo): close release:finalize Quick Win — shipped as PR #878
  BACKLOG.md
Due: prettier --write

test(bot-client): direct unit coverage for getSessionDataOrFollowUp
  services/bot-client/src/utils/dashboard/sessionHelpers.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(repo): backlog post-deploy dm subscription loss — structural fix identified
  BACKLOG.md
Due: prettier --write

fix(ai-worker): align hasThinkingBlocks with the new GLM pattern
  services/ai-worker/src/utils/thinkingExtraction.test.ts
  services/ai-worker/src/utils/thinkingExtraction.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

test(tooling): round-3 review items on release:finalize
  packages/tooling/src/release/finalize.test.ts
  packages/tooling/src/release/finalize.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(tooling): address PR #871 third-cycle review feedback
  BACKLOG.md
  packages/tooling/src/release/github-prs.test.ts
  packages/tooling/src/release/github-prs.ts
  packages/tooling/src/release/notes-format.test.ts
  packages/tooling/src/release/verify-notes.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(tooling): address PR #871 second-cycle review feedback
  packages/tooling/src/release/github-prs.test.ts
  packages/tooling/src/release/github-prs.ts
  packages/tooling/src/release/verify-notes.test.ts
  packages/tooling/src/release/verify-notes.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(tooling): release:finalize throws on non-TTY without --yes
  packages/tooling/src/commands/release.ts
  packages/tooling/src/release/finalize.test.ts
  packages/tooling/src/release/finalize.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(api-gateway): address preflight review items
  services/api-gateway/src/services/ShapesPreflight.test.ts
  services/api-gateway/src/services/ShapesPreflight.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

feat(tooling): add release:finalize command
  packages/tooling/src/commands/release.ts
  packages/tooling/src/release/finalize.test.ts
  packages/tooling/src/release/finalize.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(ai-worker): address PR #869 review feedback
  packages/common-types/src/types/shapes-import.test.ts
  packages/common-types/src/types/shapes-import.ts
  services/ai-worker/src/jobs/ShapesExportJob.test.ts
  services/ai-worker/src/jobs/ShapesImportJob.test.ts
  services/ai-worker/src/services/shapes/ShapesDataFetcher.test.ts
  services/api-gateway/src/routes/user/shapes/list.test.ts
  services/bot-client/src/commands/shapes/auth.test.ts
  services/bot-client/src/commands/shapes/auth.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(tooling): rename test fixtures to unblock GitGuardian + add backlog note
  BACKLOG.md
  packages/common-types/src/types/shapes-import.test.ts
  services/api-gateway/src/routes/user/shapes/auth.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(ai-worker): extract GLM-4.5-air fake-user-message reasoning leak
  services/ai-worker/src/services/__snapshots__/PromptBuilder.test.ts.snap
  services/ai-worker/src/services/prompt/HardcodedConstraints.test.ts
  services/ai-worker/src/services/prompt/HardcodedConstraints.ts
  services/ai-worker/src/utils/thinkingExtraction.test.ts
  services/ai-worker/src/utils/thinkingExtraction.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

feat(tooling): report branch drift on release:finalize mid-sequence failure
  packages/tooling/src/release/finalize.test.ts
  packages/tooling/src/release/finalize.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(common-types): widen Better Auth token regex to accept real-world values
  packages/common-types/src/types/shapes-import.test.ts
  packages/common-types/src/types/shapes-import.ts
  services/api-gateway/src/routes/user/shapes/auth.test.ts
  services/api-gateway/src/routes/user/shapes/auth.ts
  services/bot-client/src/commands/shapes/modal.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(repo): refine dm-subscription-loss fix — add greedy lazy registration layer
  BACKLOG.md
Due: prettier --write

test(common-types): lock in wrong-cookie routing for bare base64-padded tokens
  packages/common-types/src/types/shapes-import.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(repo): surface release:finalize + fill in missing release commands
  .claude/skills/tzurot-git-workflow/SKILL.md
  docs/reference/tooling/OPS_CLI_REFERENCE.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{md,json,yml,yaml})
  eslint --fix --max-warnings=0 --no-warn-ignored: any of: *.{ts,tsx}
  secretlint: any of: *.{ts,tsx,js,jsx,json}
