Repository lbds137/tzurot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["prettier --write", "eslint --fix --max-warnings=0 --no-warn-ignored"],
  "*.{md,json,yml,yaml}": ["prettier --write"],
  "*.{ts,tsx,js,jsx,json}": ["secretlint"]
}

docs(repo): evening investigation — vision-pipeline triage + 6 new inbox items
  BACKLOG.md
  CURRENT.md
Due: prettier --write

chore(voice-engine): bump pytest-asyncio to 1.x for pytest 9 compat
  services/voice-engine/requirements-dev.txt
Due: none

fix(common-types): address pr #803 review feedback
  packages/common-types/src/services/UserService.ts
  scripts/debug/check-user-persona-state.ts
  scripts/debug/persona-bug-scope.ts
  scripts/migrations/heal-persona-snowflake-names.ts
  services/ai-worker/src/services/MemoryRetriever.ts
  services/api-gateway/src/routes/user/userHelpers.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(ai-worker): document intentional Error guard in detectSpecialCases
  services/ai-worker/src/utils/apiErrorParser.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

chore(ai-worker): pr #802 follow-ups
  BACKLOG.md
  services/ai-worker/src/services/multimodal/VisionProcessor.test.ts
  services/ai-worker/src/utils/retry.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(common-types): heal persona-snowflake bug + prevent regression
  BACKLOG.md
  packages/common-types/src/services/UserService.test.ts
  packages/common-types/src/services/UserService.ts
  scripts/debug/check-user-persona-state.ts
  scripts/debug/persona-bug-scope.ts
  scripts/migrations/heal-persona-snowflake-names.ts
  services/ai-worker/src/services/MemoryRetriever.test.ts
  services/ai-worker/src/services/MemoryRetriever.ts
  services/api-gateway/src/routes/user/channel/activate.test.ts
  services/api-gateway/src/routes/user/persona/crud.test.ts
  services/api-gateway/src/routes/user/personality/create.test.ts
  services/api-gateway/src/routes/user/userHelpers.test.ts
  services/api-gateway/src/routes/user/userHelpers.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(ai-worker): vision classifier + retry cap + telemetry
  BACKLOG.md
  packages/common-types/src/constants/error.test.ts
  packages/common-types/src/constants/error.ts
  packages/tooling/src/deployment/logs.test.ts
  packages/tooling/src/deployment/logs.ts
  services/ai-worker/src/jobs/ImageDescriptionJob.test.ts
  services/ai-worker/src/jobs/ImageDescriptionJob.ts
  services/ai-worker/src/services/multimodal/VisionProcessor.ts
  services/ai-worker/src/utils/apiErrorParser.test.ts
  services/ai-worker/src/utils/apiErrorParser.ts
  services/ai-worker/src/utils/retry.test.ts
  services/ai-worker/src/utils/retry.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

refactor(ai-worker): remove redundant LLMInvoker success log
  services/ai-worker/src/services/LLMInvoker.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(ai-worker): unify TTS budget + cut ElevenLabs retry to 1 attempt
  BACKLOG.md
  services/ai-worker/src/jobs/handlers/pipeline/steps/TTSStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/TTSStep.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

chore: bump version to 3.0.0-beta.97
  package.json
  packages/common-types/package.json
  packages/embeddings/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  tests/package.json
Due: prettier --write, secretlint

chore(voice-engine): bump pytest to 9.0.3+ for GHSA tmpdir fix
  services/voice-engine/requirements-dev.txt
Due: none

fix(repo): strip message content from persona debug script output
  scripts/debug/check-user-persona-state.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(ai-worker): correct isTransientElevenLabsError comment
  services/ai-worker/src/jobs/handlers/pipeline/steps/TTSStep.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(repo): session-end for 2026-04-14 + singleton-hazard backlog
  BACKLOG.md
  CURRENT.md
Due: prettier --write

docs(repo): session-end infrastructure for identity epic + release skill fix
  .claude/skills/tzurot-git-workflow/SKILL.md
  CURRENT.md
  docs/reference/architecture/epic-identity-hardening.md
  docs/reference/templates/adr-template.md
Due: prettier --write

refactor(common-types): phase 2 identity hardening — provisioning choke point
  CURRENT.md
  docs/reference/architecture/epic-identity-hardening.md
  eslint.config.js
  packages/common-types/src/services/UserService.int.test.ts
  packages/common-types/src/services/UserService.test.ts
  packages/common-types/src/services/UserService.ts
  services/api-gateway/src/routes/user/config-overrides.test.ts
  services/api-gateway/src/routes/user/config-overrides.ts
  services/api-gateway/src/routes/user/llm-config.test.ts
  services/api-gateway/src/routes/user/llm-config.ts
  services/api-gateway/src/routes/user/model-override.test.ts
  services/api-gateway/src/routes/user/model-override.ts
  services/api-gateway/src/routes/user/nsfw.ts
  services/api-gateway/src/routes/user/personality-config-overrides.test.ts
  services/api-gateway/src/routes/user/personality-config-overrides.ts
  services/api-gateway/src/routes/user/shapes/auth.test.ts
  services/api-gateway/src/routes/user/shapes/auth.ts
  services/api-gateway/src/routes/user/shapes/export.test.ts
  services/api-gateway/src/routes/user/shapes/export.ts
  services/api-gateway/src/routes/user/shapes/import.test.ts
  services/api-gateway/src/routes/user/shapes/import.ts
  services/api-gateway/src/routes/user/timezone.test.ts
  services/api-gateway/src/routes/user/timezone.ts
  services/api-gateway/src/routes/wallet/setKey.test.ts
  services/api-gateway/src/routes/wallet/setKey.ts
  services/api-gateway/src/utils/routeHelpers.test.ts
  services/api-gateway/src/utils/routeHelpers.ts
  services/bot-client/src/services/MentionResolver.test.ts
  services/bot-client/src/services/MentionResolver.ts
  services/bot-client/src/services/MessageContextBuilder.test.ts
  services/bot-client/src/services/ReferenceEnrichmentService.test.ts
  services/bot-client/src/services/ReferenceEnrichmentService.ts
  services/bot-client/src/services/contextBuilder/UserContextResolver.test.ts
  services/bot-client/src/services/contextBuilder/UserContextResolver.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(repo): link PR #807 in CURRENT.md
  CURRENT.md
Due: prettier --write

refactor(common-types): address PR #807 review feedback
  eslint.config.js
  packages/common-types/src/services/UserService.test.ts
  packages/common-types/src/services/UserService.ts
  services/api-gateway/src/routes/user/nsfw.ts
  services/bot-client/src/services/contextBuilder/UserContextResolver.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

chore(common-types): phase 2 identity hardening follow-ups
  docs/reference/architecture/epic-identity-hardening.md
  packages/common-types/src/services/UserService.int.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(repo): session-end for 2026-04-15 — Phase 2 shipped
  CURRENT.md
  docs/reference/architecture/epic-identity-hardening.md
Due: prettier --write

docs(repo): backlog triage 2026-04-15 — beta.98 bundle + quick-win expansion
  BACKLOG.md
Due: prettier --write

fix(bot-client): prevent cross-channel data leak in message-link expansion
  services/bot-client/src/handlers/references/LinkExtractor.test.ts
  services/bot-client/src/handlers/references/LinkExtractor.ts
  services/bot-client/src/test/mocks/Discord.mock.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

test(bot-client): address PR #809 review feedback
  services/bot-client/src/handlers/references/LinkExtractor.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

test(bot-client): address PR #809 second-pass review
  services/bot-client/src/handlers/references/LinkExtractor.test.ts
  services/bot-client/src/handlers/references/LinkExtractor.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

test(bot-client): address PR #809 third-pass review
  services/bot-client/src/handlers/references/LinkExtractor.test.ts
  services/bot-client/src/handlers/references/LinkExtractor.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

refactor(bot-client): rename sourceMessage to invokingMessage + narrowing comment
  services/bot-client/src/handlers/references/LinkExtractor.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

refactor(bot-client): address PR #809 fifth-pass review — observability + comments
  services/bot-client/src/handlers/references/LinkExtractor.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

test(bot-client): assert permissionsFor was invoked on LinkExtractor happy path
  services/bot-client/src/handlers/references/LinkExtractor.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(ai-worker): media-not-found regex now matches actual prod error variants
  services/ai-worker/src/utils/apiErrorParser.test.ts
  services/ai-worker/src/utils/apiErrorParser.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint
