Repository lbds137/tzurot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["prettier --write", "eslint --fix --max-warnings=0 --no-warn-ignored"],
  "*.{md,json,yml,yaml}": ["prettier --write"],
  "*.{ts,tsx,js,jsx,json}": ["secretlint"]
}

feat: voice engine phase 1 — Python service + voice reference storage
  .gitignore
  BACKLOG.md
  CURRENT.md
  docs/proposals/active/voice-engine-implementation-guide.md
  packages/common-types/src/constants/index.ts
  packages/common-types/src/constants/media.test.ts
  packages/common-types/src/constants/media.ts
  packages/common-types/src/factories/personality.ts
  packages/common-types/src/schemas/api/personality.test.ts
  packages/common-types/src/schemas/api/personality.ts
  packages/test-utils/schema/pglite-schema.sql
  prisma/migrations/20260306230115_add_voice_reference_data/migration.sql
  prisma/schema.prisma
  services/api-gateway/src/index.ts
  services/api-gateway/src/routes/public/index.ts
  services/api-gateway/src/routes/public/voiceReferences.test.ts
  services/api-gateway/src/routes/public/voiceReferences.ts
  services/api-gateway/src/routes/user/personality/create.ts
  services/api-gateway/src/routes/user/personality/formatters.test.ts
  services/api-gateway/src/routes/user/personality/formatters.ts
  services/api-gateway/src/routes/user/personality/get.test.ts
  services/api-gateway/src/routes/user/personality/test-utils.ts
  services/api-gateway/src/routes/user/personality/update.ts
  services/api-gateway/src/utils/voiceReferenceProcessor.test.ts
  services/api-gateway/src/utils/voiceReferenceProcessor.ts
  services/bot-client/src/commands/character/export.test.ts
  services/voice-engine/.dockerignore
  services/voice-engine/Dockerfile
  services/voice-engine/requirements.txt
  services/voice-engine/server.py
  services/voice-engine/voices/.gitkeep
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: add Python test suite to voice engine phase 2 planning
  BACKLOG.md
  docs/proposals/active/voice-engine-implementation-guide.md
Due: prettier --write

fix(api-gateway): address PR review — dedicated voice cache TTL, handler tests, auth TODOs
  docs/proposals/active/voice-engine-implementation-guide.md
  packages/common-types/src/constants/timing.ts
  services/api-gateway/src/routes/public/voiceReferences.test.ts
  services/api-gateway/src/routes/public/voiceReferences.ts
  services/api-gateway/src/routes/user/personality/create.test.ts
  services/api-gateway/src/routes/user/personality/update.test.ts
  services/voice-engine/server.py
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(voice-engine): path traversal, temp file leak, TTS text cap, docstring accuracy
  services/voice-engine/server.py
Due: none

docs(voice-engine): add Python tooling setup as Phase 2 entry point
  docs/proposals/active/voice-engine-implementation-guide.md
Due: prettier --write

fix: address PR review — detail select perf, upload limits, happy-path tests
  packages/common-types/src/schemas/api/personality.ts
  services/api-gateway/src/routes/user/personality/create.test.ts
  services/api-gateway/src/routes/user/personality/formatters.test.ts
  services/api-gateway/src/routes/user/personality/formatters.ts
  services/api-gateway/src/routes/user/personality/get.test.ts
  services/api-gateway/src/routes/user/personality/test-utils.ts
  services/api-gateway/src/routes/user/personality/update.test.ts
  services/api-gateway/src/routes/user/personality/update.ts
  services/voice-engine/requirements.txt
  services/voice-engine/server.py
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(voice-engine): harden error handling, extension mapping, and dep pinning
  services/voice-engine/requirements.txt
  services/voice-engine/server.py
Due: none

docs(voice-engine): add Python standards lessons learned from PR review
  docs/proposals/active/voice-engine-implementation-guide.md
Due: prettier --write

fix(voice-engine): address PR review — auth, cache eviction, error sanitization
  docs/proposals/active/voice-engine-implementation-guide.md
  services/api-gateway/src/routes/public/voiceReferences.ts
  services/api-gateway/src/routes/user/personality/create.test.ts
  services/api-gateway/src/routes/user/personality/create.ts
  services/api-gateway/src/routes/user/personality/update.ts
  services/voice-engine/requirements.txt
  services/voice-engine/server.py
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(voice-engine): true lru cache, pure media processing, content-type validation
  services/api-gateway/src/routes/public/voiceReferences.test.ts
  services/api-gateway/src/routes/public/voiceReferences.ts
  services/api-gateway/src/routes/user/personality/update.test.ts
  services/api-gateway/src/routes/user/personality/update.ts
  services/voice-engine/server.py
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(voice-engine): startup resilience, null-check cleanup, jsdoc
  .gitignore
  services/api-gateway/src/routes/public/voiceReferences.ts
  services/api-gateway/src/utils/voiceReferenceProcessor.ts
  services/voice-engine/server.py
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(voice-engine): temp file leak, top-level librosa import, preload validation
  services/voice-engine/server.py
Due: none

fix(api-gateway): remove redundant Buffer.from(), add slug length cap
  services/api-gateway/src/routes/public/avatars.ts
  services/api-gateway/src/routes/public/voiceReferences.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(voice-engine): timing-safe auth, librosa audio decode, int16 wav output
  .gitignore
  services/api-gateway/src/routes/public/voiceReferences.test.ts
  services/api-gateway/src/routes/public/voiceReferences.ts
  services/voice-engine/requirements.txt
  services/voice-engine/server.py
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(voice-engine): validate voice_id in tts, cap length, fix orphaned file cleanup
  services/voice-engine/server.py
Due: none

fix(voice-engine): temp file extension, dockerignore, dep version ranges
  docs/proposals/active/voice-engine-implementation-guide.md
  services/voice-engine/.dockerignore
  services/voice-engine/requirements.txt
  services/voice-engine/server.py
Due: prettier --write

fix(voice-engine): validate preset voices, length-first checks, detail select test
  BACKLOG.md
  packages/common-types/src/schemas/api/personality.test.ts
  services/voice-engine/requirements.txt
  services/voice-engine/server.py
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

refactor(voice-engine): extract voice_id validator, pin pytorch, use validateSlug
  services/api-gateway/src/routes/public/voiceReferences.test.ts
  services/api-gateway/src/routes/public/voiceReferences.ts
  services/voice-engine/Dockerfile
  services/voice-engine/server.py
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(voice-engine): non-root docker user, purge build-essential, align mime types
  docs/proposals/active/voice-engine-implementation-guide.md
  packages/common-types/src/constants/media.test.ts
  packages/common-types/src/constants/media.ts
  services/api-gateway/src/routes/public/voiceReferences.test.ts
  services/api-gateway/src/routes/public/voiceReferences.ts
  services/api-gateway/src/utils/voiceReferenceProcessor.test.ts
  services/voice-engine/Dockerfile
  services/voice-engine/requirements.txt
  services/voice-engine/server.py
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(voice-engine): clean stale files on re-registration, fix endpoint naming
  docs/proposals/active/voice-engine-implementation-guide.md
  services/voice-engine/server.py
Due: prettier --write

fix(voice-engine): docker layer caching, base64 perf, semaphore scope
  docs/proposals/active/voice-engine-implementation-guide.md
  services/api-gateway/src/utils/voiceReferenceProcessor.ts
  services/voice-engine/Dockerfile
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(voice-engine): offload CPU inference to executor, harden regex anchor
  docs/proposals/active/voice-engine-implementation-guide.md
  services/voice-engine/server.py
Due: prettier --write

feat(voice-engine): inference semaphore, voice ref clearing, comment fixes
  docs/proposals/active/voice-engine-implementation-guide.md
  packages/common-types/src/schemas/api/personality.test.ts
  packages/common-types/src/schemas/api/personality.ts
  services/api-gateway/src/routes/public/voiceReferences.test.ts
  services/api-gateway/src/routes/public/voiceReferences.ts
  services/api-gateway/src/routes/user/personality/update.ts
  services/api-gateway/src/utils/voiceReferenceProcessor.ts
  services/voice-engine/server.py
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(voice-engine): temp file leak window, add voice ref clearing tests
  services/api-gateway/src/routes/user/personality/update.test.ts
  services/voice-engine/server.py
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(voice-engine): log voice fallback errors, unbuffered stdout, env semaphore
  services/voice-engine/Dockerfile
  services/voice-engine/server.py
Due: none

fix(voice-engine): return 404 for unknown voices, add scaling comments
  services/voice-engine/server.py
Due: none

fix(voice-engine): harden env parsing, top-level imports, auth edge case
  BACKLOG.md
  packages/common-types/src/schemas/api/personality.ts
  services/voice-engine/server.py
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(api-gateway): align create response with update via formatPersonalityResponse
  BACKLOG.md
  services/api-gateway/src/routes/user/personality/create.test.ts
  services/api-gateway/src/routes/user/personality/create.ts
  services/api-gateway/src/routes/user/personality/test-utils.ts
  services/voice-engine/server.py
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(voice-engine): fail-fast on empty API key, hardcode healthcheck port
  BACKLOG.md
  services/voice-engine/Dockerfile
  services/voice-engine/server.py
Due: prettier --write

fix(voice-engine): whitespace API key guard, register race fix, TTS MIME check
  services/voice-engine/server.py
Due: none
