Repository lbds137/tzurot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(voice-engine): use validated path in cleanup handler
  services/voice-engine/server.py
Due: none

docs: backlog triage + session tracking for 2026-04-05
  BACKLOG.md
  CURRENT.md
Due: prettier --write

fix(ai-worker): add retry resilience for voice-engine ECONNREFUSED errors
  services/ai-worker/src/jobs/handlers/pipeline/steps/TTSStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/TTSStep.ts
  services/ai-worker/src/services/multimodal/AudioProcessor.test.ts
  services/ai-worker/src/services/multimodal/AudioProcessor.ts
  services/ai-worker/src/services/voice/VoiceEngineClient.test.ts
  services/ai-worker/src/services/voice/VoiceEngineClient.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: add user-channel tier to cascade extension backlog item
  BACKLOG.md
Due: prettier --write

fix(api-gateway): subscribe cascade resolver to pub/sub invalidation
  services/api-gateway/src/index.ts
  services/api-gateway/src/routes/user/index.ts
  services/api-gateway/src/routes/user/llm-config.ts
  services/api-gateway/src/routes/user/llmConfigResolve.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

chore: bump version to v3.0.0-beta.93
  .gitignore
  package.json
  packages/common-types/package.json
  packages/embeddings/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  tests/package.json
Due: prettier --write, secretlint

fix(api-gateway): address PR #761 review — shutdown cleanup + import style
  services/api-gateway/src/index.ts
  services/api-gateway/src/routes/user/llm-config.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

test(ai-worker): fix misleading test description for STT retry exhaustion
  services/ai-worker/src/services/multimodal/AudioProcessor.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(ai-worker): pass channelId to cascade resolver in ConfigStep
  services/ai-worker/src/jobs/handlers/pipeline/steps/ConfigStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/ConfigStep.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: add transient network error dedup to backlog
  BACKLOG.md
Due: prettier --write

fix(ai-worker): add retry resilience for ElevenLabs STT
  services/ai-worker/src/services/multimodal/AudioProcessor.test.ts
  services/ai-worker/src/services/multimodal/AudioProcessor.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

refactor: extract shared abstractions for CPD clone reduction (146→139)
  packages/common-types/src/constants/error.test.ts
  packages/common-types/src/constants/error.ts
  packages/common-types/src/constants/index.ts
  packages/common-types/src/schemas/api/personality.ts
  packages/common-types/src/services/personality/PersonalityValidator.ts
  services/ai-worker/src/jobs/ShapesExportJob.ts
  services/ai-worker/src/jobs/ShapesImportJob.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/TTSStep.ts
  services/ai-worker/src/jobs/shapesJobHelpers.test.ts
  services/ai-worker/src/jobs/shapesJobHelpers.ts
  services/ai-worker/src/services/multimodal/AudioProcessor.ts
  services/ai-worker/src/services/shapes/ShapesPersonalityMapper.ts
  services/ai-worker/src/services/voice/VoiceEngineClient.ts
  services/ai-worker/src/services/voice/VoiceRegistrationService.ts
  services/api-gateway/src/routes/user/personality/formatters.ts
  services/bot-client/src/commands/character/config.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: update CURRENT.md and BACKLOG.md for CPD session 1
  BACKLOG.md
  CURRENT.md
Due: prettier --write

fix(common-types): address PR #766 review — cleanup + exports + comments
  packages/common-types/src/constants/error.ts
  packages/common-types/src/schemas/api/personality.ts
  packages/common-types/src/services/personality/PersonalityValidator.ts
  services/ai-worker/src/jobs/shapesJobHelpers.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(common-types): address PR #766 review round 2 — tests + API surface
  packages/common-types/src/constants/error.test.ts
  packages/common-types/src/constants/error.ts
  packages/common-types/src/constants/index.ts
  packages/common-types/src/schemas/api/personality.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(tooling): increase ts-morph test timeout for slow CI runners (15s→30s)
  packages/tooling/src/xray/file-parser.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

chore: knip cleanup — remove dead exports, stale deps, and config cruft
  knip.json
  package.json
  packages/tooling/src/utils/env-runner.ts
  pnpm-lock.yaml
  services/ai-worker/src/services/PgvectorMemoryAdapter.ts
  services/ai-worker/src/services/RAGUtils.ts
  services/ai-worker/src/services/prompt/QuoteFormatter.ts
  services/api-gateway/src/routes/user/personality/helpers.ts
  services/bot-client/src/utils/dashboard/settings/index.ts
  services/bot-client/src/utils/dashboard/settings/settingsConfig.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(ai-worker): preserve consumer count context in re-export comment
  services/ai-worker/src/services/PgvectorMemoryAdapter.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

refactor(api-gateway): extract config override helpers
  services/api-gateway/src/routes/user/channel/configOverrides.ts
  services/api-gateway/src/routes/user/config-overrides.ts
  services/api-gateway/src/routes/user/model-override.ts
  services/api-gateway/src/routes/user/personality-config-overrides.ts
  services/api-gateway/src/utils/configOverrideHelpers.test.ts
  services/api-gateway/src/utils/configOverrideHelpers.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

refactor(api-gateway): add resolveMemoryContext to memory helpers
  services/api-gateway/src/routes/user/memoryHelpers.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(api-gateway): address PR #769 review — context logging + dead code
  services/api-gateway/src/routes/user/channel/configOverrides.ts
  services/api-gateway/src/routes/user/config-overrides.ts
  services/api-gateway/src/routes/user/memoryHelpers.ts
  services/api-gateway/src/routes/user/model-override.ts
  services/api-gateway/src/routes/user/personality-config-overrides.ts
  services/api-gateway/src/utils/configOverrideHelpers.test.ts
  services/api-gateway/src/utils/configOverrideHelpers.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

test(api-gateway): assert exact Prisma.JsonNull value in merge test
  services/api-gateway/src/utils/configOverrideHelpers.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

test(api-gateway): assert no warn logged when invalidation skipped
  services/api-gateway/src/utils/configOverrideHelpers.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: update session notes and backlog for 2026-04-06 architecture day
  BACKLOG.md
  CURRENT.md
Due: prettier --write

refactor(bot-client): extract settings update handler factory
  services/bot-client/src/commands/character/overrides.ts
  services/bot-client/src/commands/character/settings.ts
  services/bot-client/src/utils/dashboard/settings/index.ts
  services/bot-client/src/utils/dashboard/settings/settingsUpdateFactory.test.ts
  services/bot-client/src/utils/dashboard/settings/settingsUpdateFactory.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

refactor(bot-client): extract generic dashboard section select handler
  services/bot-client/src/commands/persona/dashboard.test.ts
  services/bot-client/src/commands/persona/dashboard.ts
  services/bot-client/src/commands/preset/dashboard.test.ts
  services/bot-client/src/commands/preset/dashboard.ts
  services/bot-client/src/utils/dashboard/genericSelectMenuHandler.test.ts
  services/bot-client/src/utils/dashboard/genericSelectMenuHandler.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

test(bot-client): fix typecheck:spec errors in new dashboard tests
  services/bot-client/src/utils/dashboard/genericSelectMenuHandler.test.ts
  services/bot-client/src/utils/dashboard/settings/settingsUpdateFactory.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{md,json,yml,yaml})
  eslint --fix --max-warnings=0 --no-warn-ignored: any of: *.{ts,tsx}
  secretlint: any of: *.{ts,tsx,js,jsx,json}
