Repository lbds137/tzurot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): file the durability-tier inventory (doc-56); task-368 instance
  tracker/docs/doc-56 - Idea-Durability-tier-inventory-—-what-is-truly-Redis-ephemeral-vs-conversation-scoped-vs-globally-durable.md
  tracker/tasks/task-368 - Load-bearing-invariants-live-in-docstrings-where-nothing-executes-them.md
Due: prettier --write

docs: post-mortem for the deduped-reference enrichment drop
  .claude/rules/02-code-standards.md
  docs/incidents/PROJECT_POSTMORTEMS.md
Due: prettier --write

chore: bump version to 3.0.0-beta.188
  package.json
  packages/cache-invalidation/package.json
  packages/clients/package.json
  packages/common-types/package.json
  packages/config-resolver/package.json
  packages/conversation-history/package.json
  packages/embeddings/package.json
  packages/identity/package.json
  packages/test-factories/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  services/website/package.json
  tests/package.json
Due: prettier --write, secretlint

docs(backlog): file the nightly db-sync job + scheduled-jobs admin surface
  tracker/docs/doc-57 - Idea-Admin-surface-for-scheduled-job-recurrence-—-a-settings-page-for-the-cron-esque-jobs.md
  tracker/tasks/task-369 - Nightly-scheduled-db-sync-job-owner-requested-fast-follow.md
Due: prettier --write

docs: reset CURRENT.md for beta.188; bump message-actions priority
  CURRENT.md
  tracker/docs/doc-26 - Theme-User-Requested-Features.md
Due: prettier --write

docs: point the next session at the TASK-364 prod bug
  CURRENT.md
Due: prettier --write

docs(backlog): file four antipatterns surfaced by the TASK-364 investigation
  tracker/tasks/task-365 - Reference-rendering-has-FOUR-hand-synced-paths-live-stored-x-full-deduped.md
  tracker/tasks/task-366 - Enrichment-pipeline-has-no-traceability-paid-work-can-be-discarded-silently.md
  tracker/tasks/task-367 - Reference-image-descriptions-are-keyed-to-the-trigger-row-so-a-re-ask-never-heals.md
  tracker/tasks/task-368 - Load-bearing-invariants-live-in-docstrings-where-nothing-executes-them.md
Due: prettier --write

docs(backlog): task-367's persistence is inert, not mis-keyed
  tracker/tasks/task-367 - Reference-image-descriptions-are-keyed-to-the-trigger-row-so-a-re-ask-never-heals.md
Due: prettier --write

docs(backlog): file TASK-364 — deduped refs discard vision descriptions
  tracker/tasks/task-364 - Deduped-references-drop-image-descriptions-—-vision-spend-is-computed-then-discarded.md
Due: prettier --write

docs(backlog): record the complete TASK-364 diagnosis — regression is beta.187
  tracker/tasks/task-364 - Deduped-references-drop-image-descriptions-—-vision-spend-is-computed-then-discarded.md
Due: prettier --write

docs(backlog): council verdict on the durable store — no asset table
  tracker/tasks/task-365 - Reference-rendering-has-FOUR-hand-synced-paths-live-stored-x-full-deduped.md
  tracker/tasks/task-367 - Reference-image-descriptions-are-keyed-to-the-trigger-row-so-a-re-ask-never-heals.md
Due: prettier --write

test(ai-worker): pin the deriveRefRole fallback's two bounding invariants
  services/ai-worker/src/services/prompt/referenceRole.test.ts
  tracker/tasks/task-162 - quotedmessages-deduped-stubs-miss-the-roleassistant-signal.md
  tracker/tasks/task-164 - deriveRefRole-name-match-fallback-can-promote-a-name-colliding-human-to-assistan.md
  tracker/tasks/task-165 - SnapshotFormatter-forwarded-references-always-read-as-roleuser.md
  tracker/tasks/task-166 - Live-path-deriveRefRole-fallback-thread-allPersonalityNames-document-the-botuser.md
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: record beta.187 smoke results; correct TASK-132's listShapes premise
  CURRENT.md
  tracker/tasks/task-132 - Per-call-timeoutMs-override-for-dual-context-autocomplete-browse-list-routes.md
Due: prettier --write

fix(ai-worker): render image descriptions on deduped references (task-364)
  services/ai-worker/src/jobs/utils/conversationUtils.test.ts
  services/ai-worker/src/jobs/utils/xmlMetadataFormatters.test.ts
  services/ai-worker/src/jobs/utils/xmlMetadataFormatters.ts
  services/ai-worker/src/services/ReferencedMessageFormatter.test.ts
  services/ai-worker/src/services/ReferencedMessageFormatter.ts
  services/ai-worker/src/services/prompt/QuoteFormatter.test.ts
  services/ai-worker/src/services/prompt/QuoteFormatter.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): archive TASK-131 (obsolete); correct TASK-132's grounding
  tracker/archive/tasks/task-131 - Monitor-default-timeout-2500ms-routes-that-arent-obviously-fast.md
  tracker/tasks/task-132 - Per-call-timeoutMs-override-for-dual-context-autocomplete-browse-list-routes.md
Due: prettier --write

docs(clients): correct timeout comments left stale by the read-default flip
  packages/clients/src/routes/user/config-overrides.ts
  packages/clients/src/routes/user/configs.ts
  packages/clients/src/routes/user/ownership.ts
  packages/clients/src/routes/user/resources.ts
  packages/tooling/src/codegen/method-builder.ts
  services/bot-client/src/utils/autocomplete/autocompleteCache.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: record the next-release scope as an owner decision
  CURRENT.md
Due: prettier --write

docs(backlog): file task-370 — cached tokenCount bypasses the estimator
  tracker/tasks/task-370 - Cached-tokenCount-bypasses-the-accurate-estimator-—-budget-undercounts-every-metadata-section.md
Due: prettier --write

docs: beta.188 smoke item A PASS — the prod bug is fixed at runtime
  CURRENT.md
Due: prettier --write

docs(backlog): file TASK-371/372 — inspect chunk cap, and a prod truncation bug
  backlog/now.md
  tracker/tasks/task-371 - Reasoning-chunk-cap-maxChunks-3-contradicts-the-recorded-owner-decision-in-its-own-docstring.md
  tracker/tasks/task-372 - PROD-quoted-thinking-tag-mid-response-truncates-the-visible-reply-and-inflates-reasoning.md
Due: prettier --write

docs(backlog): cap=10 after the fast follow; widen 368; file the 373 audit
  tracker/tasks/task-368 - Load-bearing-invariants-live-in-docstrings-where-nothing-executes-them.md
  tracker/tasks/task-371 - Reasoning-chunk-cap-maxChunks-3-contradicts-the-recorded-owner-decision-in-its-own-docstring.md
  tracker/tasks/task-373 - Audit-content-that-QUOTES-our-control-syntax-—-every-parse-site-not-just-thinking-tags.md
Due: prettier --write

docs: complete the fast-follow ordering in the handoff pointer
  CURRENT.md
Due: prettier --write

fix(ai-worker): stop quoted reasoning delimiters from eating the visible reply
  packages/common-types/src/utils/codeSpanDetection.test.ts
  packages/common-types/src/utils/codeSpanDetection.ts
  services/ai-worker/src/utils/thinkingExtraction.test.ts
  services/ai-worker/src/utils/thinkingExtraction.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): file the chimera-pattern lifecycle question (TASK-375)
  tracker/tasks/task-375 - Does-CHIMERA_ARTIFACT_PATTERN-still-earn-its-keep-now-that-tng-r1t-chimera-is-gone.md
Due: prettier --write

docs(backlog): file load-aware resource detection (TASK-374)
  tracker/tasks/task-374 - Detect-machine-capability-and-load-at-runtime-instead-of-hard-coding-low-resource-mode.md
Due: prettier --write

docs(backlog): route #1880 round-2 observations to their owning tasks
  tracker/tasks/task-365 - Reference-rendering-has-FOUR-hand-synced-paths-live-stored-x-full-deduped.md
  tracker/tasks/task-373 - Audit-content-that-QUOTES-our-control-syntax-—-every-parse-site-not-just-thinking-tags.md
  tracker/tasks/task-375 - Does-CHIMERA_ARTIFACT_PATTERN-still-earn-its-keep-now-that-tng-r1t-chimera-is-gone.md
Due: prettier --write

docs(backlog): record the TASK-365 grounding pass corrections
  tracker/tasks/task-365 - Reference-rendering-has-FOUR-hand-synced-paths-live-stored-x-full-deduped.md
Due: prettier --write

test(ai-worker): cover a quoted tag at the very start of the response
  services/ai-worker/src/utils/thinkingExtraction.test.ts
  tracker/tasks/task-365 - Reference-rendering-has-FOUR-hand-synced-paths-live-stored-x-full-deduped.md
  tracker/tasks/task-376 - Watch-logDeclinedMidResponseTag-info-line-volume-after-the-quoted-tag-fix-deploys.md
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(ai-worker): record the code-span fence caveat and the orphan bail reason
  packages/common-types/src/utils/codeSpanDetection.ts
  services/ai-worker/src/utils/thinkingExtraction.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(ai-worker): gate complete quoted tag pairs, the third and likeliest path
  services/ai-worker/src/utils/thinkingExtraction.test.ts
  services/ai-worker/src/utils/thinkingExtraction.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

test(ai-worker): pin the orphan skip-and-continue loop
  services/ai-worker/src/utils/thinkingExtraction.test.ts
  services/ai-worker/src/utils/thinkingExtraction.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{md,json,yml,yaml})
  eslint --fix --max-warnings=0 --no-warn-ignored: any of: *.{ts,tsx}
  secretlint: any of: *.{ts,tsx,js,jsx,json}
