Repository lbds137/tzurot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["prettier --write", "eslint --fix --max-warnings=0 --no-warn-ignored"],
  "*.{md,json,yml,yaml}": ["prettier --write"],
  "*.{ts,tsx,js,jsx,json}": ["secretlint"]
}

chore(skills): refit session mining to two lenses — owner friction plus the agent-side record
  .claude/skills/README.md
  .claude/skills/tzurot-session-mining/SKILL.md
  .claude/skills/tzurot-usage-audit/SKILL.md
Due: prettier --write

docs(backlog): close TASK-455 on the two-lens mining refit
  tracker/tasks/task-455 - Session-mining-only-sees-user-turns-so-agent-side-misses-the-owner-never-noticed-are-invisible.md
Due: prettier --write

docs(backlog): file TASK-991 — foreign-persona archive notes render as the personality's own
  tracker/tasks/task-991 - Cross-persona-memory-notes-render-under-the-first-person-archive-framing.md
Due: prettier --write

chore: operationalize the 2026-09-16 mining run — two hooks, six rule sentences, tooling typecheck
  .claude/hooks/board-commit-branch-gate.probe.sh
  .claude/hooks/board-commit-branch-gate.sh
  .claude/hooks/develop-code-commit-guard.probe.sh
  .claude/hooks/develop-code-commit-guard.sh
  .claude/hooks/eslint-on-edit.sh
  .claude/hooks/self-matching-pattern-guard.probe.sh
  .claude/hooks/self-matching-pattern-guard.sh
  .claude/rules/00-critical.md
  .claude/rules/05-tooling.md
  .claude/rules/06-backlog.md
  .claude/settings.json
  packages/tooling/package.json
  packages/tooling/src/dev/check-hook-probes-registry.ts
  packages/tooling/src/dev/check-hook-probes.test.ts
  packages/tooling/src/dev/check-hook-probes.ts
  packages/tooling/src/dev/check-hook-wiring.test.ts
  packages/tooling/src/dev/check-hook-wiring.ts
  packages/tooling/tsconfig.spec.json
  tracker/docs/doc-69 - doc-64-Phase-0-portability-inventory-rules-hooks-skills-ops-root-surfaces.md
  tracker/docs/doc-91 - Idea-Hook-noise-and-latency-tuning-knobs.md
  tracker/tasks/task-458 - PostToolUse-hook-output-may-never-reach-the-agent-so-several-documented-enforcement-hooks-are-inert.md
  tracker/tasks/task-647 - Ban-regex-XML-HTML-tag-stripping-at-lint-time-not-just-in-a-rule.md
  tracker/tasks/task-977 - A-pgrep-f-pattern-in-a-WAIT-or-GUARD-condition-matches-the-shell-evaluating-it.md
  tracker/tasks/task-984 - packages-tooling-declares-no-typecheck-script-so-pnpm-typecheck-silently-skips-the-whole-package.md
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): stamp session-mining and close TASK-977 on the merged guard
  backlog/cadence-ledger.json
  tracker/tasks/task-977 - A-pgrep-f-pattern-in-a-WAIT-or-GUARD-condition-matches-the-shell-evaluating-it.md
Due: prettier --write, secretlint

docs(backlog): file TASK-992 and correct TASK-991's facts-block claim
  tracker/tasks/task-991 - Cross-persona-memory-notes-render-under-the-first-person-archive-framing.md
  tracker/tasks/task-992 - Shared-LTM-facts-from-other-personalities-render-as-the-responding-personality.md
Due: prettier --write

docs(backlog): add TASK-991 and TASK-992 to the beta.225 cut, fold TASK-974 in
  backlog/now.md
  tracker/tasks/task-974 - retrieveFactsForPrompt-declares-FactForPrompt-but-returns-SimilarFact-so-extra-fields-ride-structurally.md
  tracker/tasks/task-992 - Shared-LTM-facts-from-other-personalities-render-as-the-responding-personality.md
Due: prettier --write

fix(ai-worker): render foreign-persona archive notes as another character's exchange
  docs/intent/memory-archive/memory-archive-specs.md
  docs/proposals/backlog/memory-archive-format.md
  services/ai-worker/src/services/ConversationalRAGTypes.ts
  services/ai-worker/src/services/PromptBuilder.test.ts
  services/ai-worker/src/services/PromptBuilder.ts
  services/ai-worker/src/services/context/MemoryBudgetManager.test.ts
  services/ai-worker/src/services/context/MemoryBudgetManager.ts
  services/ai-worker/src/services/context/memoryBudgetSplitSeam.test.ts
  services/ai-worker/src/services/factRetrievalHelper.test.ts
  services/ai-worker/src/services/factRetrievalHelper.ts
  services/ai-worker/src/services/prompt/MemoryFormatter.test.ts
  services/ai-worker/src/services/prompt/MemoryFormatter.ts
  services/ai-worker/src/services/prompt/MemoryNoteSplitRender.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): close TASK-991 on the merged foreign-persona archive fix
  tracker/tasks/task-991 - Cross-persona-memory-notes-render-under-the-first-person-archive-framing.md
Due: prettier --write

fix(ai-worker): attribute shared-LTM facts to their authoring personality
  docs/intent/memory-archive/memory-archive-specs.md
  services/ai-worker/src/services/ContentBudgetManager.test.ts
  services/ai-worker/src/services/ContentBudgetManager.ts
  services/ai-worker/src/services/ConversationalRAGTypes.ts
  services/ai-worker/src/services/FactRetriever.test.ts
  services/ai-worker/src/services/PromptBuilder.test.ts
  services/ai-worker/src/services/PromptBuilder.ts
  services/ai-worker/src/services/eval/legacyPromptAssembly.ts
  services/ai-worker/src/services/extraction/FactExtractionService.test.ts
  services/ai-worker/src/services/extraction/FactStore.component.test.ts
  services/ai-worker/src/services/extraction/FactStore.ts
  services/ai-worker/src/services/factBudget.test.ts
  services/ai-worker/src/services/factRetrievalHelper.test.ts
  services/ai-worker/src/services/factRetrievalHelper.ts
  services/ai-worker/src/services/prompt/MemoryFormatter.test.ts
  services/ai-worker/src/services/prompt/MemoryFormatter.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): close TASK-992 and TASK-974, sweep the archive design doc for #2439/#2440
  backlog/now.md
  docs/intent/memory-archive/memory-archive-design.md
  tracker/tasks/task-974 - retrieveFactsForPrompt-declares-FactForPrompt-but-returns-SimilarFact-so-extra-fields-ride-structurally.md
  tracker/tasks/task-992 - Shared-LTM-facts-from-other-personalities-render-as-the-responding-personality.md
Due: prettier --write

chore: bump version to 3.0.0-beta.225
  package.json
  packages/cache-invalidation/package.json
  packages/clients/package.json
  packages/common-types/package.json
  packages/config-resolver/package.json
  packages/conversation-history/package.json
  packages/embeddings/package.json
  packages/identity/package.json
  packages/test-factories/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  services/website/package.json
  tests/package.json
Due: prettier --write, secretlint

docs: refresh the handoff for beta.225 in progress
  CURRENT.md
Due: prettier --write

docs(backlog): close TASK-983 on its merge as #2433
  backlog/now.md
  tracker/tasks/task-983 - Reference-and-quote-timestamps-still-render-in-the-fallback-zone-so-the-one-zone-per-prompt-invariant-has-a-hole.md
Due: prettier --write

feat(tooling): guard .env.example against key drift from .env
  .env.example
  .husky/pre-push
  docs/reference/audit-enforcement.md
  docs/reference/tooling/OPS_CLI_REFERENCE.md
  packages/cache-invalidation/src/CacheInvalidationService.ts
  packages/common-types/src/config/config.test.ts
  packages/common-types/src/config/config.ts
  packages/common-types/src/constants/personaId.ts
  packages/common-types/src/constants/service.ts
  packages/common-types/src/types/jobs.ts
  packages/common-types/src/types/schemas/personality.ts
  packages/common-types/src/types/schemas/rawEnvelope.ts
  packages/common-types/src/utils/extendedContextPersonaResolver.ts
  packages/common-types/src/utils/logger.test.ts
  packages/common-types/src/utils/logger.ts
  packages/test-utils/src/setup-pglite.ts
  packages/test-utils/src/testRedisUrl.test.ts
  packages/test-utils/src/testRedisUrl.ts
  packages/tooling/src/commands/guard.ts
  packages/tooling/src/deployment/setup-railway-variables.ts
  packages/tooling/src/dev/check-env-example.test.ts
  packages/tooling/src/dev/check-env-example.ts
  packages/tooling/src/inspect/bullmqConnection.test.ts
  packages/tooling/src/inspect/bullmqConnection.ts
  packages/tooling/src/test/generate-schema.test.ts
  packages/tooling/src/test/generate-schema.ts
  services/ai-worker/.env.test
  services/api-gateway/.env.test
  services/bot-client/.env.test
  services/bot-client/src/services/MessageContextBuilder.ts
  vitest.component.config.ts
  vitest.integration.config.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): correct the TASK-951 optionality premise
  tracker/tasks/task-951 - Guard-.env.example-key-set-must-match-.env-values-blank-with-a-one-time-drift-sweep.md
Due: prettier --write

docs(backlog): clear the stale rotation-pending lines before the handoff
  backlog/now.md
Due: prettier --write

docs(backlog): file TASK-984 for the tooling typecheck gate gap
  tracker/tasks/task-984 - packages-tooling-declares-no-typecheck-script-so-pnpm-typecheck-silently-skips-the-whole-package.md
Due: prettier --write

docs: close the redaction watch on prod and confirm the statusCode gap live
  CURRENT.md
  backlog/now.md
  tracker/tasks/task-957 - Gateway-request-logs-carry-the-raw-x-service-auth-header-value-on-every-request-line.md
  tracker/tasks/task-968 - Gateway-request-log-lines-record-statusCode-null-—-the-HTTP-status-never-reaches-the-log.md
Due: prettier --write

docs(backlog): stop calling TASK-983 the remaining timezone hole
  backlog/now.md
Due: prettier --write

docs(backlog): file TASK-974, prompt fact helper's return type is not honest
  tracker/tasks/task-974 - retrieveFactsForPrompt-declares-FactForPrompt-but-returns-SimilarFact-so-extra-fields-ride-structurally.md
Due: prettier --write

docs(backlog): ground TASK-976 against the gateway verifier and the config bag
  tracker/tasks/task-976 - Dual-secret-acceptance-for-INTERNAL_SERVICE_SECRET-api-gateway-accepts-current-or-previous-so-rotation-has-no-401-window.md
Due: prettier --write

docs(backlog): close TASK-838 on its merge as #2436
  tracker/tasks/task-838 - Periodic-maintenance-cadence-ledger-overdue-nag-for-the-audit-skills.md
Due: prettier --write

docs(backlog): record the timezone fix verified on dev, file TASK-985
  backlog/now.md
  tracker/tasks/task-985 - Timezone-picker-the-offset-labels-are-DST-blind-and-a-utc-query-matches-every-option.md
Due: prettier --write

docs(backlog): file the prompt timezone mismatch as a production issue
  backlog/now.md
Due: prettier --write

docs(backlog): close TASK-964, both beta.225 memory defects shipped
  CURRENT.md
  backlog/now.md
  tracker/tasks/task-964 - Relationship-locked-and-corrected-facts-have-no-reserved-slot-in-the-prompt-facts-block.md
Due: prettier --write

docs(backlog): rule TASK-966 to shape (a) and TASK-970 to skip-on-null
  backlog/now.md
  tracker/tasks/task-966 - A-channel-scoped-history-purge-writes-a-persona-global-context-epoch-silently-emptying-cross-channel-history-everywhere.md
  tracker/tasks/task-970 - Bot-client-import-builder-collapses-an-explicit-null-to-undefined-for-every-nullable-field-so-a-re-import-never-clears.md
Due: prettier --write

docs(backlog): close TASK-951 and record both drain-lane units
  backlog/now.md
  tracker/tasks/task-951 - Guard-.env.example-key-set-must-match-.env-values-blank-with-a-one-time-drift-sweep.md
  tracker/tasks/task-990 - Guard-env-example-cross-check-the-hand-rolled-parser-against-dotenv.parse.md
Due: prettier --write

docs(backlog): record the open dev rotation window on TASK-982
  tracker/tasks/task-982 - Staged-rotation-writes-_PREVIOUS-where-the-verifier-cannot-inherit-it-so-stage-1-opens-the-full-401-window.md
Due: prettier --write

docs(backlog): record the observed footer strings on TASK-988
  tracker/tasks/task-988 - Footer-stopped-signalling-a-fallback-when-it-lands-on-the-same-model-id.md
Due: prettier --write

fix(common-types): derive timezone offsets at render time instead of storing them
  packages/common-types/src/constants/timezone.test.ts
  packages/common-types/src/constants/timezone.ts
  services/api-gateway/src/routes/user/timezone.test.ts
  services/api-gateway/src/routes/user/timezone.ts
  services/bot-client/src/commands/settings/index.test.ts
  services/bot-client/src/commands/settings/index.ts
  services/bot-client/src/commands/settings/timezone/set.test.ts
  services/bot-client/src/commands/settings/timezone/set.ts
  services/bot-client/src/commands/settings/timezone/view.test.ts
  services/bot-client/src/commands/settings/timezone/view.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(ai-worker): render every prompt timestamp in the same timezone
  services/ai-worker/src/jobs/handlers/pipeline/steps/ContextStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/ContextStep.ts
  services/ai-worker/src/jobs/utils/conversationUtils.test.ts
  services/ai-worker/src/jobs/utils/conversationUtils.ts
  services/ai-worker/src/jobs/utils/langchainConverter.ts
  services/ai-worker/src/services/ContentBudgetManager.ts
  services/ai-worker/src/services/context/ContextWindowManager.test.ts
  services/ai-worker/src/services/context/ContextWindowManager.ts
  services/ai-worker/src/services/context/CrossChannelSerializer.test.ts
  services/ai-worker/src/services/context/CrossChannelSerializer.ts
  services/ai-worker/src/services/context/MemoryBudgetManager.test.ts
  services/ai-worker/src/services/context/RealMessagesBuilder.test.ts
  services/ai-worker/src/services/context/RealMessagesBuilder.ts
  services/ai-worker/src/services/context/historyTokenMeasure.test.ts
  services/ai-worker/src/services/context/shippedHistoryMessages.test.ts
  services/ai-worker/src/services/context/shippedHistoryMessages.ts
  services/ai-worker/src/services/prompt/RenderableReference.test.ts
  services/ai-worker/src/services/prompt/RenderableReference.ts
  tracker/tasks/task-983 - Reference-and-quote-timestamps-still-render-in-the-fallback-zone-so-the-one-zone-per-prompt-invariant-has-a-hole.md
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): file TASK-972, public docs silent on /history clear scope
  tracker/tasks/task-972 - Privacy-policy-and-public-docs-are-silent-on-history-clear-being-persona-wide-not-channel-local.md
Due: prettier --write

docs(backlog): record the beta.225 cut approval and the Fable handoff
  CURRENT.md
  backlog/now.md
Due: prettier --write

docs(backlog): trim the TASK-982 bullet under the CURRENT.md budget
  CURRENT.md
Due: prettier --write
