Repository lbds137/tzurot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["prettier --write", "eslint --fix --max-warnings=0 --no-warn-ignored"],
  "*.{md,json,yml,yaml}": ["prettier --write"],
  "*.{ts,tsx,js,jsx,json}": ["secretlint"]
}

docs(backlog): close TASK-778, 853 and 873 as one seam, shipped in #2330
  tracker/tasks/task-778 - ContextWindowManager-HYSTERESIS-test-is-load-sensitive-and-fails-under-repo-wide-parallel-runs.md
  tracker/tasks/task-853 - ContextWindowManager-hysteresis-test-times-out-under-full-suite-CPU-contention.md
  tracker/tasks/task-873 - ContextWindowManager-hysteresis-test-has-thin-timeout-headroom-and-flakes-under-parallel-test-load.md
Due: prettier --write

docs: beta.215 cut close-out — version header, cut entry, beta.216 plan on the board
  CURRENT.md
  backlog/now.md
Due: prettier --write

chore: bump version to 3.0.0-beta.216
  package.json
  packages/cache-invalidation/package.json
  packages/clients/package.json
  packages/common-types/package.json
  packages/config-resolver/package.json
  packages/conversation-history/package.json
  packages/embeddings/package.json
  packages/identity/package.json
  packages/test-factories/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  services/website/package.json
  tests/package.json
Due: prettier --write, secretlint

docs(backlog): close drain batch 2 PRs A and C, TASK-886 whole, and the session ledger
  CURRENT.md
  backlog/now.md
  tracker/tasks/task-881 - board-gate-a-space-bearing-pathspec-word-splits-so-a-board-only-commit-fails-open.md
  tracker/tasks/task-882 - board-gate-the-i-prefix-assert-is-compiled-out-under-python-O.md
  tracker/tasks/task-883 - dispatch-spec-ledger-gate-phantom-check-misses-a-value-taking-flag-whose-value-equals-a-declared-script-fail-open.md
  tracker/tasks/task-886 - SIGPIPE-under-pipefail-residue-ci.yml-curl-checks-and-large-fixture-canaries-for-the-three-sibling-hooks.md
Due: prettier --write

docs: beta.216 cut close-out — version header, cut entry, beta.217 plan on the board
  CURRENT.md
  backlog/now.md
Due: prettier --write

docs(backlog): archive 11 verified exits from the TASK-888 pass (shipped, obsolete, dup, no merit)
  tracker/archive/tasks/task-151 - tryResolveUserKey-has-no-no-user-key-cache-sentinel.md
  tracker/archive/tasks/task-182 - Add-a-runtime-narrowing-guard-before-the-as-ConfigKind-cast-if-kind-is-ever-read.md
  tracker/archive/tasks/task-185 - Verify-no-warm-Redis-cache-validation-break-from-the-kind-required-LlmConfigSumm.md
  tracker/archive/tasks/task-193 - refreshCache-can-join-the-in-flight-guard-instead-of-forcing-a-fresh-load.md
  tracker/archive/tasks/task-278 - Attribute-vision-descriptions-in-the-prompt.md
  tracker/archive/tasks/task-357 - Switch-council-Qwen-axis-to-3.8-once-it-lands-in-the-MCP-registry.md
  tracker/archive/tasks/task-517 - Sync-the-05-tooling-commit-scope-table-with-commitlint.config.cjs.md
  tracker/archive/tasks/task-60 - Partial-map-fragility-in-writeReferenceImageDescriptions.md
  tracker/archive/tasks/task-692 - Inspect-view-for-stored-vision-descriptions.md
  tracker/archive/tasks/task-71 - Denylist-batch-cache-invalidation.md
  tracker/archive/tasks/task-74 - Reconsider-hard-fail-vs-soft-error-for-attachment-download-failures.md
Due: prettier --write

docs(backlog): archive 14 admission-bar rows from the TASK-888 pass (third-instance triggers)
  tracker/archive/tasks/task-129 - Manifest-per-route-mount-auth-override-authShape.md
  tracker/archive/tasks/task-137 - no-prod-import-test-factories-depcruise-rule-lacks-a-packagestest-utils-exemptio.md
  tracker/archive/tasks/task-144 - Type-VisionConfigapiKeymodel-as-non-empty-drop-the-legacy-empty-string-sentinel.md
  tracker/archive/tasks/task-154 - Extract-the-ContextStep-pass-through-test-stub-to-test-utils.md
  tracker/archive/tasks/task-157 - AttachmentMetadataisVoiceMessage-is-zbooleanoptional.md
  tracker/archive/tasks/task-232 - Readwrite-phase-split-helper-if-a-third-command-needs-it.md
  tracker/archive/tasks/task-255 - Share-arm-name-constants-if-a-third-fold-eval-glue-script-appears.md
  tracker/archive/tasks/task-298 - buildEntityDetailCards-notice-vs-cap-invariant-is-documented-but-unenforced-a….md
  tracker/archive/tasks/task-311 - helps-execute-routes-getting-started-explicitly-and-falls-through-to-the-command.md
  tracker/archive/tasks/task-337 - openTasks-treats-any-non-Done-status-as-open-—-revisit-if-the-status-enum-grows.md
  tracker/archive/tasks/task-44 - LinkExtractortestts-createMockMessage-duplicates-the-shared-Discord-mock-factory.md
  tracker/archive/tasks/task-579 - Consolidate-the-per-prompt-transcript-tailjq-pass-when-a-third-UserPromptSubmit-hook-needs-it.md
  tracker/archive/tasks/task-615 - Extract-the-shared-message-context-menu-lookup-skeleton-when-a-third-command-appears.md
  tracker/archive/tasks/task-95 - STT-CHECK-constraint-companion-migration-when-4th-provider-ships.md
Due: prettier --write

docs(backlog): archive 4 rows ruled out on merit by the owner in the TASK-888 sitting
  tracker/archive/tasks/task-134 - Forensic-audit-trail-for-non-owner-diagnostic-log-404-lookups.md
  tracker/archive/tasks/task-67 - Redis-pipelining.md
  tracker/archive/tasks/task-69 - Handler-factory-generator.md
  tracker/archive/tasks/task-776 - Redis-circuit-breaker-was-proposed-in-the-2025-timeout-analysis-and-never-built.md
  tracker/tasks/task-67 - Redis-pipelining.md
  tracker/tasks/task-69 - Handler-factory-generator.md
Due: prettier --write

docs: close out TASK-888 half (1): board struck, growth re-measured, session notes, task ledger
  CURRENT.md
  backlog/now.md
  tracker/tasks/task-888 - Batched-rule-out-pass-over-the-priority-low-pool-plus-the-process-residue-admission-default.md
Due: prettier --write

docs(backlog): file TASK-890 — character view page flip swallows a fetch failure silently
  tracker/tasks/task-890 - Character-view-page-flip-swallows-a-fetch-failure-silently.md
Due: prettier --write

docs(rules): process-residue default — low-priority hook/skill/tooling residue stays in the PR body
  .claude/rules/00-critical.md
  .claude/rules/06-backlog.md
  .claude/rules/10-working-posture.md
  .claude/skills/tzurot-review-response/SKILL.md
  BACKLOG.md
  tracker/docs/doc-90 - Idea-Hook-and-skill-hardening-residue-—-fail-open-branches-and-unprobed-arms.md
Due: prettier --write

fix(ai-worker): duplicate-name roster note now fires for humans-only rosters
  packages/common-types/src/services/stickerVisionGate.ts
  services/ai-worker/src/services/prompt/ParticipantFormatter.test.ts
  services/ai-worker/src/services/prompt/ParticipantFormatter.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: close out TASK-888 — half (2) merged, board struck, drain A1/A2 in flight, session notes
  CURRENT.md
  backlog/now.md
  tracker/tasks/task-888 - Batched-rule-out-pass-over-the-priority-low-pool-plus-the-process-residue-admission-default.md
Due: prettier --write

docs(backlog): close TASK-662 and TASK-398, shipped in #2335 — drain batch A2 merged
  backlog/now.md
  tracker/tasks/task-398 - Heal-on-read-re-describes-history-stickers-with-no-stickerVisionEnabled-gate.md
  tracker/tasks/task-662 - Duplicate-name-roster-note-is-gated-to-character-bearing-rosters-only.md
Due: prettier --write

docs(backlog): file TASK-891 — voice browse replaces the page on a failed fetch, owner call
  tracker/tasks/task-891 - Voice-browse-pagination-replaces-the-page-on-a-failed-fetch-while-every-other-browse-surface-follows-up-ephemerally.md
Due: prettier --write

fix(bot-client): browse page-load failures follow up, scoped-key test embed, sort-toggle glyph
  .claude/rules/04-discord.md
  services/bot-client/src/commands/channel/browse.test.ts
  services/bot-client/src/commands/channel/browse.ts
  services/bot-client/src/commands/character/browse.test.ts
  services/bot-client/src/commands/character/browse.ts
  services/bot-client/src/commands/deny/browse.test.ts
  services/bot-client/src/commands/deny/browse.ts
  services/bot-client/src/commands/models/browse.test.ts
  services/bot-client/src/commands/models/browse.ts
  services/bot-client/src/commands/persona/browse.test.ts
  services/bot-client/src/commands/persona/browse.ts
  services/bot-client/src/commands/settings/apikey/test.test.ts
  services/bot-client/src/commands/settings/apikey/test.ts
  services/bot-client/src/commands/voice/voices/browse.test.ts
  services/bot-client/src/commands/voice/voices/browse.ts
  services/bot-client/src/utils/browse/pageLoadFailure.test.ts
  services/bot-client/src/utils/browse/pageLoadFailure.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): close TASK-309, 344, 294 — drain batch A1 merged in #2334; board records both batches
  backlog/now.md
  tracker/tasks/task-294 - footer-on-empty-suppression-code-point-safe-metadata-truncation-models-badge-leg.md
  tracker/tasks/task-309 - models-browses-sort-toggle-button-uses-SORTDISPLAYdefault-while-the-ROUTER-badge.md
  tracker/tasks/task-344 - MISSING_PERMISSIONS-key-test-result-renders-under-the-generic-Invalid-title.md
Due: prettier --write

chore: bump version to 3.0.0-beta.217
  package.json
  packages/cache-invalidation/package.json
  packages/clients/package.json
  packages/common-types/package.json
  packages/config-resolver/package.json
  packages/conversation-history/package.json
  packages/embeddings/package.json
  packages/identity/package.json
  packages/test-factories/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  services/website/package.json
  tests/package.json
Due: prettier --write, secretlint

docs: beta.217 cut close-out — version header, cut entry, beta.218 plan on the board
  CURRENT.md
  backlog/now.md
Due: prettier --write
