Repository lbds137/tzurot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: add codecov action migration to backlog
  BACKLOG.md
Due: prettier --write

refactor: tech debt sprint phases 1-2.3
  .github/workflows/ci.yml
  packages/common-types/src/config/config.ts
  services/api-gateway/src/routes/user/channel/extendedContext.test.ts
  services/api-gateway/src/routes/user/channel/get.test.ts
  services/api-gateway/src/routes/user/channel/list.test.ts
  services/api-gateway/src/routes/user/channel/test-utils.ts
  services/api-gateway/src/routes/user/history.ts
  services/api-gateway/src/routes/user/persona/test-utils.ts
  services/api-gateway/src/routes/user/personality/create.ts
  services/api-gateway/src/routes/user/personality/test-utils.ts
  services/api-gateway/src/utils/jobChainOrchestrator.ts
  services/bot-client/src/index.ts
  services/bot-client/src/processors/notificationCache.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

refactor: tech debt sprint phase 2.4-2.8
  services/api-gateway/src/routes/admin/createPersonality.ts
  services/api-gateway/src/routes/ai/generate.ts
  services/api-gateway/src/routes/models/index.ts
  services/api-gateway/src/routes/user/channel/activate.ts
  services/api-gateway/src/routes/wallet/setKey.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

refactor: resolve remaining lint warnings with fixes and suppressions
  services/ai-worker/src/redis.ts
  services/api-gateway/src/queue.ts
  services/api-gateway/src/services/sync/ForeignKeyReconciler.ts
  services/bot-client/src/handlers/references/LinkExtractor.ts
  services/bot-client/src/services/ReferenceEnrichmentService.ts
  services/bot-client/src/services/ReplyResolutionService.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: add justifications to eslint suppressions (Phase 4 audit)
  services/ai-worker/src/index.ts
  services/api-gateway/src/index.ts
  services/bot-client/src/commands/preset/config.ts
  services/bot-client/src/index.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

test(ai-worker): add PgvectorMemoryAdapter component test (Phase 3)
  services/ai-worker/src/services/PgvectorMemoryAdapter.component.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: update BACKLOG and CURRENT for Tech Debt Sprint completion
  BACKLOG.md
  CURRENT.md
Due: prettier --write

fix(ai-worker): use parameterized queries in PgvectorMemoryAdapter component test
  services/ai-worker/src/services/PgvectorMemoryAdapter.component.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(bot-client): include metadata in error response footers
  services/bot-client/src/handlers/MessageHandler.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(bot-client): cap DB history fetch to extended context setting
  services/bot-client/src/services/MessageContextBuilder.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(api-gateway,bot-client): handle empty content in persona updates
  services/api-gateway/src/routes/user/persona/crud.ts
  services/bot-client/src/commands/persona/config.test.ts
  services/bot-client/src/commands/persona/config.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: update CURRENT.md with persona edit investigation notes
  CURRENT.md
Due: prettier --write

feat(ai-worker,bot-client): store diagnostics for failed requests
  packages/common-types/src/types/diagnostic.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/GenerationStep.ts
  services/ai-worker/src/services/DiagnosticCollector.ts
  services/bot-client/src/commands/admin/debug.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: update CURRENT.md and BACKLOG.md for debug feature
  BACKLOG.md
  CURRENT.md
Due: prettier --write

docs: add Railway CLI non-interactive mode backlog item
  BACKLOG.md
Due: prettier --write

test(ai-worker,bot-client): add tests for error diagnostics and metadata
  services/ai-worker/src/services/DiagnosticCollector.test.ts
  services/bot-client/src/handlers/MessageHandler.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: update Railway CLI reference and consolidate deployment docs
  .claude/skills/tzurot-deployment/SKILL.md
  .claude/skills/tzurot-security/SKILL.md
  .env.example
  BACKLOG.md
  README.md
  docs/README.md
  docs/reference/RAILWAY_CLI_REFERENCE.md
  docs/reference/deployment/RAILWAY_DEPLOYMENT.md
  docs/reference/deployment/RAILWAY_OPERATIONS.md
  docs/reference/deployment/RAILWAY_SHARED_VARIABLES.md
  docs/reference/deployment/RAILWAY_VOLUME_SETUP.md
  docs/reference/guides/DEVELOPMENT.md
  docs/reference/operations/ENCRYPTION_KEY_ROTATION.md
  docs/reference/operations/PRISMA_PGVECTOR_REFERENCE.md
  docs/reference/operations/REDIS_MAINTENANCE.md
  docs/reference/testing/BYOK_MANUAL_TESTING.md
  scripts/README.md
  scripts/data/import-personality/SESSION_SUMMARY.md
Due: prettier --write

chore: bump version to 3.0.0-beta.55
  BACKLOG.md
  package.json
  packages/common-types/package.json
  packages/embeddings/package.json
  packages/tooling/package.json
  scripts/data/import-personality/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  tests/package.json
Due: prettier --write, secretlint

fix: address PR review issues
  services/ai-worker/src/services/DiagnosticCollector.test.ts
  services/ai-worker/src/services/DiagnosticCollector.ts
  services/bot-client/src/handlers/MessageHandler.test.ts
  services/bot-client/src/handlers/MessageHandler.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix: add bounded queries to usage endpoints
  packages/common-types/src/types/byok.ts
  services/api-gateway/src/routes/admin/usage.ts
  services/api-gateway/src/routes/user/usage.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{md,json,yml,yaml})
  eslint --fix --max-warnings=0 --no-warn-ignored: any of: *.{ts,tsx}
  secretlint: any of: *.{ts,tsx,js,jsx,json}
