Repository lbds137/tzurot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

feat(tooling): backlog lint enforces triage labels on open tasks
  .claude/rules/05-tooling.md
  packages/tooling/src/dev/backlogDigest.test.ts
  packages/tooling/src/dev/backlogLint.test.ts
  packages/tooling/src/dev/backlogLint.ts
  packages/tooling/src/dev/check-deferred-refs.test.ts
  packages/tooling/src/dev/trackerTasks.test.ts
  packages/tooling/src/dev/trackerTasks.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

feat(ai-worker): correlate enrichment-drop warns with requestId
  services/ai-worker/src/jobs/handlers/pipeline/steps/GenerationStep.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/conversationContextBuilder.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/conversationContextBuilder.ts
  services/ai-worker/src/services/ConversationInputProcessor.test.ts
  services/ai-worker/src/services/ConversationInputProcessor.ts
  services/ai-worker/src/services/ConversationalRAGTypes.ts
  services/ai-worker/src/services/ReferencedMessageFormatter.test.ts
  services/ai-worker/src/services/ReferencedMessageFormatter.ts
  services/ai-worker/src/services/prompt/storedReference.test.ts
  services/ai-worker/src/services/prompt/storedReference.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): file reference-pipeline log-correlation follow-up
  tracker/tasks/task-429 - Reference-pipeline-failure-logs-are-uncorrelated-—-consider-a-requestId-bound-child-logger.md
Due: prettier --write

docs(backlog): mark TASK-366 done — enrichment warns correlated
  tracker/tasks/task-366 - Enrichment-pipeline-has-no-traceability-paid-work-can-be-discarded-silently.md
Due: prettier --write

feat(bot-client): nightly scheduled real db-sync with owner reporting
  services/bot-client/src/commands/admin/db-sync.test.ts
  services/bot-client/src/commands/admin/db-sync.ts
  services/bot-client/src/index.ts
  services/bot-client/src/services/NightlyDbSyncScheduler.test.ts
  services/bot-client/src/services/NightlyDbSyncScheduler.ts
  services/bot-client/src/utils/dbSyncSummary.test.ts
  services/bot-client/src/utils/dbSyncSummary.ts
  services/bot-client/src/utils/gatewayClients.test.ts
  services/bot-client/src/utils/gatewayClients.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): file glm-4.5-air echo bug as production issue (TASK-430)
  backlog/now.md
  tracker/tasks/task-430 - glm-4.5-air-can-echo-the-user-message-as-content-with-the-real-reply-in-reasoning_content.md
Due: prettier --write

docs(backlog): mark TASK-369 done — nightly db-sync shipped
  tracker/tasks/task-369 - Nightly-scheduled-db-sync-job-owner-requested-fast-follow.md
Due: prettier --write

fix(ai-worker): retry when the model echoes the user message as its reply
  services/ai-worker/src/jobs/handlers/pipeline/steps/GenerationStep.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/RetryDecisionHelper.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/RetryDecisionHelper.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/autoPromotionFallback.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/autoPromotionFallback.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/duplicateRetry.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/duplicateRetry.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): file owner side-quest — apply Opus 5 prompting guide
  tracker/tasks/task-431 - Read-the-Opus-5-prompting-guide-and-apply-to-our-Claude-facing-prompts.md
Due: prettier --write

docs(backlog): close TASK-430, annotate echo-fix entry, add TASK-429 rider
  backlog/now.md
  tracker/tasks/task-429 - Reference-pipeline-failure-logs-are-uncorrelated-—-consider-a-requestId-bound-child-logger.md
  tracker/tasks/task-430 - glm-4.5-air-can-echo-the-user-message-as-content-with-the-real-reply-in-reasoning_content.md
Due: prettier --write

chore: bump version to 3.0.0-beta.192
  package.json
  packages/cache-invalidation/package.json
  packages/clients/package.json
  packages/common-types/package.json
  packages/config-resolver/package.json
  packages/conversation-history/package.json
  packages/embeddings/package.json
  packages/identity/package.json
  packages/test-factories/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  services/website/package.json
  tests/package.json
Due: prettier --write, secretlint

docs: note the nightly automatic db-sync cadence in the deletion-semantics call-out
  docs/commands.md
Due: prettier --write

fix(api-gateway): stop counting 404'd voices as deleted in voice purge
  packages/common-types/src/schemas/api/voices.test.ts
  packages/common-types/src/schemas/api/voices.ts
  services/api-gateway/src/routes/user/voices.test.ts
  services/api-gateway/src/routes/user/voices.ts
  services/bot-client/src/commands/voice/voices/purge.test.ts
  services/bot-client/src/commands/voice/voices/purge.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): mark TASK-380 done — shipped in #1947
  tracker/tasks/task-380 - Voice-purge-folds-already-gone-voices-into-the-deleted-count.md
Due: prettier --write

docs(backlog): backfill area labels on 9 open tasks + TASK-417 priority
  tracker/tasks/task-381 - Sharpen-the-filters-are-for-known-output-shapes-rule-it-misses-non-pipe-lossy-steps.md
  tracker/tasks/task-384 - Stored-reference-heal-on-read-covers-images-but-not-voice-though-a-voice-cache-exists.md
  tracker/tasks/task-386 - conversation_history.tokenCount-is-write-only-after-1885-—-remove-it-or-redefine-it.md
  tracker/tasks/task-387 - Live-reference-path-cannot-subtract-chat-log-enrichment-it-renders-before-injection.md
  tracker/tasks/task-389 - Sticker-descriptions-are-a-tier-3-asset-stored-at-tier-1-1h-Redis-no-durable-home.md
  tracker/tasks/task-399 - tzurot-docs-Session-Start-Procedure-has-drifted-from-06-backlog-§-Starting-a-Session.md
  tracker/tasks/task-411 - Re-wire-or-consciously-drop-the-denylist-mutation-rate-limiter.md
  tracker/tasks/task-417 - Delete-the-dead-user-channel-and-user-personality-factory-index-files-and-their-handler-builder-tier.md
  tracker/tasks/task-427 - hasForwardedContent-has-zero-production-callers-—-wire-in-or-remove.md
  tracker/tasks/task-428 - Guard-cross-check-ops-commands-against-OPS_CLI_REFERENCE.md.md
Due: prettier --write

fix(bot-client): render forwarded sticker names in snapshot references
  services/bot-client/src/handlers/references/SnapshotFormatter.test.ts
  services/bot-client/src/handlers/references/SnapshotFormatter.ts
  services/bot-client/src/utils/forwardedMessageUtils.test.ts
  services/bot-client/src/utils/forwardedMessageUtils.ts
  services/bot-client/src/utils/stickerPollDescriptions.test.ts
  services/bot-client/src/utils/stickerPollDescriptions.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): backfill area/size labels on 20 legacy open tasks
  tracker/tasks/task-343 - Lower-AI_GENERATE_SUBMIT-now-that-submit-is-enqueue-only.md
  tracker/tasks/task-344 - MISSING_PERMISSIONS-key-test-result-renders-under-the-generic-Invalid-title.md
  tracker/tasks/task-351 - Multi-tag-partial-batch-errored-delivery-debug-log-shutdown-window-drop-class.md
  tracker/tasks/task-354 - dev-stale-debug-—-pin-diff-tree-against-ambient-git-config-no-renames-root.md
  tracker/tasks/task-356 - Refresh-sticker-poll-descriptions-when-a-message-is-edited.md
  tracker/tasks/task-357 - Switch-council-Qwen-axis-to-3.8-once-it-lands-in-the-MCP-registry.md
  tracker/tasks/task-358 - Redaction-allowlist-is-coupled-to-the-codegen-header-set.md
  tracker/tasks/task-360 - Animated-stickers-are-described-from-a-single-frame.md
  tracker/tasks/task-362 - system_prompts.isDefault-has-no-partial-unique-index-parity-with-llm-tts-configs.md
  tracker/tasks/task-363 - Wire-cache-invalidation-for-the-description-prompt-if-an-admin-edit-path-ships.md
  tracker/tasks/task-365 - Reference-rendering-has-FOUR-hand-synced-paths-live-stored-x-full-deduped.md
  tracker/tasks/task-366 - Enrichment-pipeline-has-no-traceability-paid-work-can-be-discarded-silently.md
  tracker/tasks/task-368 - Load-bearing-invariants-live-in-docstrings-where-nothing-executes-them.md
  tracker/tasks/task-369 - Nightly-scheduled-db-sync-job-owner-requested-fast-follow.md
  tracker/tasks/task-371 - Reasoning-chunk-cap-maxChunks-3-contradicts-the-recorded-owner-decision-in-its-own-docstring.md
  tracker/tasks/task-373 - Audit-content-that-QUOTES-our-control-syntax-—-every-parse-site-not-just-thinking-tags.md
  tracker/tasks/task-374 - Detect-machine-capability-and-load-at-runtime-instead-of-hard-coding-low-resource-mode.md
  tracker/tasks/task-375 - Does-CHIMERA_ARTIFACT_PATTERN-still-earn-its-keep-now-that-tng-r1t-chimera-is-gone.md
  tracker/tasks/task-376 - Watch-logDeclinedMidResponseTag-info-line-volume-after-the-quoted-tag-fix-deploys.md
  tracker/tasks/task-379 - bot-client-builds-an-enriched-references-array-that-only-feeds-two-log-counts.md
Due: prettier --write

docs(skills): council reasoning trio picks up Qwen 3.8 Max
  .claude/skills/tzurot-council-mcp/SKILL.md
Due: prettier --write

docs(backlog): close TASK-397/401/390/213 (shipped in #1948/#1950/#1949); file TASK-427/428
  tracker/tasks/task-213 - claude-review-runs-but-never-posts-on-large-release-PRs-turn-cap-suspect.md
  tracker/tasks/task-390 - claude-review can go green without posting a review — verify by comment count.md
  tracker/tasks/task-397 - Forwarded-non-rasterizable-stickers-are-invisible-SnapshotFormatter-never-renders-the-name-line.md
  tracker/tasks/task-401 - cache-prefix-diff-follow-ups-limit-ceiling-Cache-Commands-doc-section.md
  tracker/tasks/task-427 - hasForwardedContent-has-zero-production-callers-—-wire-in-or-remove.md
  tracker/tasks/task-428 - Guard-cross-check-ops-commands-against-OPS_CLI_REFERENCE.md.md
Due: prettier --write

docs: reset CURRENT.md for beta.191 — release procedure step 9
  CURRENT.md
Due: prettier --write

chore(deps): bump undici and postcss overrides past 4 new moderate advisories
  package.json
  pnpm-lock.yaml
Due: prettier --write, secretlint

chore(tooling): cap cache:prefix-diff --limit at 100 + document cache commands
  docs/reference/tooling/OPS_CLI_REFERENCE.md
  packages/tooling/src/commands/cache.test.ts
  packages/tooling/src/commands/cache.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: reset CURRENT.md for beta.192 + clear released echo entry — release step 9
  CURRENT.md
  backlog/now.md
Due: prettier --write

fix(bot-client): raise /inspect reasoning and input chunk caps to 10
  services/bot-client/src/commands/inspect/extendedViews.test.ts
  services/bot-client/src/commands/inspect/extendedViews.ts
  services/bot-client/src/commands/inspect/views.test.ts
  services/bot-client/src/commands/inspect/views.ts
  services/bot-client/src/utils/gatewayClients.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{md,json,yml,yaml})
  eslint --fix --max-warnings=0 --no-warn-ignored: any of: *.{ts,tsx}
  secretlint: any of: *.{ts,tsx,js,jsx,json}
