Repository lbds137/tzurot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["prettier --write", "eslint --fix --max-warnings=0 --no-warn-ignored"],
  "*.{md,json,yml,yaml}": ["prettier --write"],
  "*.{ts,tsx,js,jsx,json}": ["secretlint"]
}

feat(bot-client): migrate 4 commands to hybrid post-action UX (PR 2 of 2)
  services/bot-client/src/commands/character/browse.test.ts
  services/bot-client/src/commands/character/browse.ts
  services/bot-client/src/commands/character/dashboard.ts
  services/bot-client/src/commands/character/dashboardButtons.test.ts
  services/bot-client/src/commands/character/dashboardButtons.ts
  services/bot-client/src/commands/character/dashboardDeleteHandlers.test.ts
  services/bot-client/src/commands/character/dashboardDeleteHandlers.ts
  services/bot-client/src/commands/deny/browse.ts
  services/bot-client/src/commands/deny/detail.test.ts
  services/bot-client/src/commands/deny/detail.ts
  services/bot-client/src/commands/deny/detailEdit.test.ts
  services/bot-client/src/commands/deny/detailTypes.test.ts
  services/bot-client/src/commands/deny/detailTypes.ts
  services/bot-client/src/commands/persona/browse.test.ts
  services/bot-client/src/commands/persona/browse.ts
  services/bot-client/src/commands/persona/dashboard.test.ts
  services/bot-client/src/commands/persona/dashboard.ts
  services/bot-client/src/commands/preset/browse.test.ts
  services/bot-client/src/commands/preset/browse.ts
  services/bot-client/src/commands/preset/dashboard.ts
  services/bot-client/src/commands/preset/dashboardButtons.test.ts
  services/bot-client/src/commands/preset/dashboardButtons.ts
  services/bot-client/src/utils/dashboard/refreshHandler.ts
  services/bot-client/src/utils/dashboard/terminalScreen.structure.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

test(bot-client): cover browse rebuilder adapter bodies + narrow deny BrowseContext
  services/bot-client/src/commands/character/browse.test.ts
  services/bot-client/src/commands/deny/browse.test.ts
  services/bot-client/src/commands/deny/browse.ts
  services/bot-client/src/commands/deny/detail.test.ts
  services/bot-client/src/commands/deny/detail.ts
  services/bot-client/src/commands/deny/detailEdit.test.ts
  services/bot-client/src/commands/deny/detailTypes.ts
  services/bot-client/src/commands/deny/view.test.ts
  services/bot-client/src/commands/deny/view.ts
  services/bot-client/src/commands/persona/browse.test.ts
  services/bot-client/src/commands/preset/browse.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(bot-client): deny /view → delete renders clean terminal instead of faking browse
  services/bot-client/src/commands/deny/detail.ts
  services/bot-client/src/commands/deny/detailTypes.ts
  services/bot-client/src/commands/deny/view.test.ts
  services/bot-client/src/commands/deny/view.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(api-gateway): stop auto-pinning new personalities to current global default preset
  services/api-gateway/src/routes/admin/createPersonality.test.ts
  services/api-gateway/src/routes/admin/createPersonality.ts
  services/api-gateway/src/routes/user/personality/create.test.ts
  services/api-gateway/src/routes/user/personality/create.ts
  services/api-gateway/src/utils/personalityHelpers.test.ts
  services/api-gateway/src/utils/personalityHelpers.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(common-types): correct usedGlobalDefault log field on PersonalityService
  BACKLOG.md
  packages/common-types/src/services/personality/PersonalityService.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

chore(repo): backlog hygiene — drop 3 obsolete entries, tighten ESLint, dedupe AI-slop comments
  .gitignore
  BACKLOG.md
  eslint.config.js
  services/ai-worker/src/jobs/handlers/pipeline/steps/TTSStep.test.ts
  services/ai-worker/src/services/diagnostics/DiagnosticRecorders.test.ts
  services/ai-worker/src/services/shapes/ShapesPersonalityMapper.ts
  services/api-gateway/src/routes/user/channel/deactivate.test.ts
  services/api-gateway/src/services/DatabaseSyncService.test.ts
  services/api-gateway/src/services/sync/config/syncTables.test.ts
  services/api-gateway/src/services/sync/utils/tombstoneUtils.test.ts
  services/bot-client/src/commands/admin/settings.test.ts
  services/bot-client/src/commands/preset/cloneName.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(bot-client): omit Back-to-Browse button on /deny view detail dashboard
  BACKLOG.md
  services/bot-client/src/commands/deny/detail.ts
  services/bot-client/src/commands/deny/detailEdit.ts
  services/bot-client/src/commands/deny/detailTypes.test.ts
  services/bot-client/src/commands/deny/detailTypes.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

chore: bump version to 3.0.0-beta.102
  package.json
  packages/common-types/package.json
  packages/embeddings/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  tests/package.json
Due: prettier --write, secretlint

fix(bot-client): persona back-to-browse sweep + refreshHandler helper fix
  services/bot-client/src/commands/persona/dashboard.test.ts
  services/bot-client/src/commands/persona/dashboard.ts
  services/bot-client/src/utils/dashboard/refreshHandler.test.ts
  services/bot-client/src/utils/dashboard/refreshHandler.ts
  services/bot-client/src/utils/dashboard/terminalScreen.structure.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

refactor(bot-client): post-merge polish on sharedBackButtonHandler
  services/bot-client/src/utils/dashboard/sharedBackButtonHandler.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(repo): durable guardrails for review-body skimming + structural-fix discipline
  .claude/rules/00-critical.md
  .claude/rules/05-tooling.md
  .claude/skills/tzurot-git-workflow/SKILL.md
Due: prettier --write

docs(repo): backlog — /character chat DM UX + /cleandm (Option D, council-blessed)
  BACKLOG.md
Due: prettier --write

docs(repo): backlog — cleanup-sweep skill, comment-slop hunt, PGLite factory follow-up
  BACKLOG.md
Due: prettier --write

feat(bot-client): hybrid post-action UX infrastructure (PR 1 of 2)
  services/bot-client/src/utils/dashboard/SessionManager.test.ts
  services/bot-client/src/utils/dashboard/SessionManager.ts
  services/bot-client/src/utils/dashboard/browseRebuilderRegistry.test.ts
  services/bot-client/src/utils/dashboard/browseRebuilderRegistry.ts
  services/bot-client/src/utils/dashboard/index.ts
  services/bot-client/src/utils/dashboard/messages.test.ts
  services/bot-client/src/utils/dashboard/messages.ts
  services/bot-client/src/utils/dashboard/postActionScreen.test.ts
  services/bot-client/src/utils/dashboard/postActionScreen.ts
  services/bot-client/src/utils/dashboard/sharedBackButtonHandler.test.ts
  services/bot-client/src/utils/dashboard/sharedBackButtonHandler.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

refactor(bot-client): address review items on hybrid post-action infra
  services/bot-client/src/utils/dashboard/SessionManager.ts
  services/bot-client/src/utils/dashboard/index.ts
  services/bot-client/src/utils/dashboard/postActionScreen.ts
  services/bot-client/src/utils/dashboard/sharedBackButtonHandler.test.ts
  services/bot-client/src/utils/dashboard/sharedBackButtonHandler.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(tooling): align FailedJobDetails with bullmq 5.75+ type changes
  packages/tooling/src/inspect/dlq.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(bot-client): character back-to-browse sweep via renderTerminalScreen
  services/bot-client/src/commands/character/dashboard.test.ts
  services/bot-client/src/commands/character/dashboardButtons.test.ts
  services/bot-client/src/commands/character/dashboardButtons.ts
  services/bot-client/src/commands/character/dashboardDeleteHandlers.test.ts
  services/bot-client/src/commands/character/dashboardDeleteHandlers.ts
  services/bot-client/src/utils/dashboard/terminalScreen.structure.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(bot-client): deny back-to-browse enforcement (via intentionally-raw markers)
  services/bot-client/src/commands/deny/detail.ts
  services/bot-client/src/commands/deny/detailEdit.ts
  services/bot-client/src/utils/dashboard/terminalScreen.structure.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(api-gateway): case-insensitive name uniqueness via citext
  .claude/skills/tzurot-testing/SKILL.md
  BACKLOG.md
  docs/reference/guides/TESTING.md
  packages/common-types/src/services/ConversationHistoryService.int.test.ts
  packages/common-types/src/services/ConversationRetentionService.int.test.ts
  packages/common-types/src/services/ConversationSyncService.int.test.ts
  packages/common-types/src/services/UserService.int.test.ts
  packages/common-types/src/services/personality/PersonalityService.int.test.ts
  packages/test-utils/schema/pglite-schema.sql
  packages/test-utils/src/seed.int.test.ts
  packages/test-utils/src/setup-pglite.ts
  prisma/migrations/20260420124923_llm_config_persona_citext_name/migration.sql
  prisma/schema.prisma
  services/ai-worker/src/jobs/AIJobProcessor.int.test.ts
  services/ai-worker/src/services/DuplicateDetectionFlow.int.test.ts
  services/ai-worker/src/services/LongTermMemoryService.int.test.ts
  services/ai-worker/src/services/PgvectorMemoryAdapter.int.test.ts
  services/api-gateway/src/routes/admin/AdminRoutes.int.test.ts
  services/api-gateway/src/routes/ai/AIRoutes.int.test.ts
  services/api-gateway/src/routes/user/llm-config.int.test.ts
  services/api-gateway/src/services/DatabaseSyncService.int.test.ts
  services/api-gateway/src/services/LlmConfigService.int.test.ts
  services/api-gateway/src/services/LlmConfigService.test.ts
  services/api-gateway/src/services/LlmConfigService.ts
  tests/e2e/database.e2e.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(repo): post-release housekeeping for v3.0.0-beta.101
  BACKLOG.md
  CURRENT.md
Due: prettier --write

docs(repo): session end 2026-04-20 — beta.101 shipped + removals gate
  BACKLOG.md
  CURRENT.md
Due: prettier --write

chore(ci): drop redundant per-workspace dependabot entries
  .claude/skills/tzurot-git-workflow/SKILL.md
  .github/dependabot.yml
Due: prettier --write

chore(ai-worker): make Opus default explicit in VoiceEngineClient.synthesize
  BACKLOG.md
  services/ai-worker/src/services/voice/VoiceEngineClient.test.ts
  services/ai-worker/src/services/voice/VoiceEngineClient.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(repo): post-release housekeeping for v3.0.0-beta.102
  CURRENT.md
  docs/reference/deployment/RAILWAY_OPERATIONS.md
Due: prettier --write

docs(repo): correct three-layer placement for Railway auto-deploy doc
  .claude/skills/tzurot-deployment/SKILL.md
  .claude/skills/tzurot-git-workflow/SKILL.md
  docs/reference/deployment/RAILWAY_OPERATIONS.md
Due: prettier --write

docs(repo): session-end housekeeping for 2026-04-20 session 2 (beta.102 shipped)
  BACKLOG.md
  CURRENT.md
Due: prettier --write

fix: drop redundant type assertions flagged by @typescript-eslint 8.59
  packages/common-types/src/services/DenylistCacheInvalidationService.ts
  packages/common-types/src/services/UserService.ts
  packages/common-types/src/services/personality/PersonalityLoader.ts
  services/ai-worker/src/jobs/ShapesExportFormatters.ts
  services/ai-worker/src/jobs/ShapesImportMemories.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/ConfigStep.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/NormalizationStep.ts
  services/ai-worker/src/services/PromptBuilder.ts
  services/ai-worker/src/services/UserReferenceResolver.ts
  services/ai-worker/src/services/diagnostics/DiagnosticRecorders.ts
  services/ai-worker/src/test/mocks/fixtures/personality.ts
  services/api-gateway/src/routes/admin/updatePersonality.ts
  services/api-gateway/src/routes/ai/generate.ts
  services/api-gateway/src/routes/user/config-overrides.ts
  services/api-gateway/src/services/LlmConfigService.ts
  services/api-gateway/src/utils/elevenLabsFetch.ts
  services/api-gateway/src/utils/prismaErrors.ts
  services/bot-client/src/commands/admin/presence.ts
  services/bot-client/src/commands/admin/settings.ts
  services/bot-client/src/commands/channel/settings.ts
  services/bot-client/src/commands/character/chat.ts
  services/bot-client/src/commands/inspect/browse.ts
  services/bot-client/src/services/DiscordResponseSender.ts
  services/bot-client/src/test/mocks/Discord.mock.ts
  services/bot-client/src/test/mocks/PersonalityService.mock.ts
  services/bot-client/src/utils/dashboard/settings/settingsDataBuilder.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(bot-client): break five circular dependencies in deny/ and character/
  services/bot-client/src/commands/character/characterTypes.ts
  services/bot-client/src/commands/character/config.ts
  services/bot-client/src/commands/character/sections.ts
  services/bot-client/src/commands/deny/browse.test.ts
  services/bot-client/src/commands/deny/browse.ts
  services/bot-client/src/commands/deny/browseRebuilder.test.ts
  services/bot-client/src/commands/deny/browseRebuilder.ts
  services/bot-client/src/commands/deny/browseTypes.ts
  services/bot-client/src/commands/deny/detail.ts
  services/bot-client/src/commands/deny/detailEdit.ts
  services/bot-client/src/commands/deny/detailTypes.ts
  services/bot-client/src/commands/deny/index.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

ci: fail pipeline on depcruise violations
  .github/workflows/ci.yml
Due: prettier --write
