Repository lbds137/tzurot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["prettier --write", "eslint --fix --max-warnings=0 --no-warn-ignored"],
  "*.{md,json,yml,yaml}": ["prettier --write"],
  "*.{ts,tsx,js,jsx,json}": ["secretlint"]
}

feat(common-types,api-gateway): deterministic UUIDs for TTS system-globals
  packages/common-types/src/utils/deterministicUuid.test.ts
  packages/common-types/src/utils/deterministicUuid.ts
  services/api-gateway/src/services/TtsConfigService.test.ts
  services/api-gateway/src/services/TtsConfigService.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

feat(common-types): add deterministic UUID helpers for BYOK config rows
  packages/common-types/src/utils/deterministicUuid.test.ts
  packages/common-types/src/utils/deterministicUuid.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

feat(repo): one-shot recovery + ongoing diagnostic for tts-byok-* rows
  packages/common-types/src/utils/deterministicUuid.test.ts
  packages/common-types/src/utils/deterministicUuid.ts
  packages/tooling/src/commands/inspect.ts
  packages/tooling/src/inspect/tts-configs.test.ts
  packages/tooling/src/inspect/tts-configs.ts
  scripts/src/align-byok-tts-configs.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

chore(repo): delete one-shot align-byok-tts-configs script
  packages/common-types/src/utils/deterministicUuid.ts
  packages/tooling/src/inspect/tts-configs.ts
  scripts/src/align-byok-tts-configs.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): two new TTS inbox items + strike resolved cross-paid fallback item (PR #974)
  backlog/inbox.md
Due: prettier --write

fix(ai-worker): tighten TTS fallback semantics + Mistral 30s pre-flight
  services/ai-worker/src/services/voice/MistralTtsClient.test.ts
  services/ai-worker/src/services/voice/MistralTtsClient.ts
  services/ai-worker/src/services/voice/TtsDispatcher.test.ts
  services/ai-worker/src/services/voice/TtsDispatcher.ts
  services/ai-worker/src/services/voice/providers/MistralTtsProvider.test.ts
  services/ai-worker/src/services/voice/providers/MistralTtsProvider.ts
  services/ai-worker/src/services/voice/voiceReferenceHelper.test.ts
  services/ai-worker/src/services/voice/voiceReferenceHelper.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): strike isTransient asymmetry — dismissed in PR #975 (lint enforces correct shape)
  backlog/inbox.md
Due: prettier --write

chore(ai-worker): mistral hygiene + neg-cache transient/deterministic split
  services/ai-worker/src/services/voice/MistralTtsClient.ts
  services/ai-worker/src/services/voice/providers/MistralTtsProvider.test.ts
  services/ai-worker/src/services/voice/providers/MistralTtsProvider.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): strike resolved Mistral list-endpoint items (PR #976)
  backlog/inbox.md
Due: prettier --write

fix(ai-worker): mistral list-endpoint failure handling — refuse-to-clone instead of duplicate
  services/ai-worker/src/services/voice/MistralTtsClient.test.ts
  services/ai-worker/src/services/voice/MistralTtsClient.ts
  services/ai-worker/src/services/voice/providers/MistralTtsProvider.test.ts
  services/ai-worker/src/services/voice/providers/MistralTtsProvider.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): strike resolved TTS dispatch-layer items (PR #977)
  backlog/inbox.md
Due: prettier --write

fix(ai-worker,common-types): tts dispatch-layer cleanup
  packages/common-types/src/services/TtsConfigResolver.test.ts
  packages/common-types/src/services/TtsConfigResolver.ts
  services/ai-worker/src/services/voice/TtsDispatcher.test.ts
  services/ai-worker/src/services/voice/TtsDispatcher.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(api-gateway,common-types): config-service consistency pair
  backlog/inbox.md
  packages/common-types/src/factories/model-override.ts
  packages/common-types/src/factories/tts-override.ts
  services/api-gateway/src/routes/admin/llm-config.test.ts
  services/api-gateway/src/routes/admin/llm-config.ts
  services/api-gateway/src/routes/admin/tts-config.test.ts
  services/api-gateway/src/routes/admin/tts-config.ts
  services/api-gateway/src/routes/user/llm-config.test.ts
  services/api-gateway/src/routes/user/llm-config.ts
  services/api-gateway/src/routes/user/tts-config.test.ts
  services/api-gateway/src/routes/user/tts-config.ts
  services/api-gateway/src/services/LlmConfigService.int.test.ts
  services/api-gateway/src/services/LlmConfigService.test.ts
  services/api-gateway/src/services/LlmConfigService.ts
  services/api-gateway/src/services/TtsConfigBootstrap.test.ts
  services/api-gateway/src/services/TtsConfigBootstrap.ts
  services/api-gateway/src/services/TtsConfigService.int.test.ts
  services/api-gateway/src/services/TtsConfigService.test.ts
  services/api-gateway/src/services/TtsConfigService.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): expand admin-config-delete helper entry with companion cleanups
  backlog/inbox.md
Due: prettier --write

feat(ci): pr-merge-review-check hook to enforce read-before-merge gate
  .claude/hooks/pr-merge-review-check.sh
  .claude/rules/00-critical.md
  .claude/settings.json
Due: prettier --write, secretlint

test(api-gateway): tts default-config Ouroboros sync int test
  backlog/inbox.md
  services/api-gateway/src/services/DatabaseSyncService.int.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(ai-worker,common-types): raise attachment aggregate cap to 100MiB, lower per-image to 5MiB
  backlog/inbox.md
  packages/common-types/src/constants/media.test.ts
  packages/common-types/src/constants/media.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/DownloadAttachmentsStep.test.ts
  services/ai-worker/src/utils/attachmentFetch.test.ts
  services/ai-worker/src/utils/attachmentFetch.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

chore: bump version to 3.0.0-beta.116
  package.json
  packages/common-types/package.json
  packages/embeddings/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  tests/package.json
Due: prettier --write, secretlint

feat(prisma,api-gateway): align existing TTS system-global IDs to deterministic UUIDs
  prisma/migrations/20260504140720_align_tts_globals_to_deterministic_ids/migration.sql
  services/api-gateway/src/services/DatabaseSyncService.int.test.ts
  services/api-gateway/src/services/sync/utils/alignTtsGlobalsRecovery.int.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint
