Repository lbds137/tzurot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["prettier --write", "eslint --fix --max-warnings=0 --no-warn-ignored"],
  "*.{md,json,yml,yaml}": ["prettier --write"],
  "*.{ts,tsx,js,jsx,json}": ["secretlint"]
}

fix(bot-client): only a real timeout renders batch-delete "timed out"
  services/bot-client/src/commands/memory/batchDelete.test.ts
  services/bot-client/src/commands/memory/batchDelete.ts
  services/bot-client/src/ux/catalog/catalog.test.ts
  services/bot-client/src/ux/catalog/catalog.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): file TASK-507 — tooling live-sweep tests escape turbo cache inputs
  tracker/tasks/task-507 - raw-content-allowlist-test-escapes-turbo-cache-inputs-cross-package-sweep-passes-stale-locally.md
Due: prettier --write

docs: close out drain round three — TASK-234 Done, CURRENT.md ledger
  CURRENT.md
  tracker/tasks/task-234 - batchDelete-inner-catch-mislabels-a-thrown-delete-as-a-timeout.md
Due: prettier --write

docs(backlog): close TASK-243 and TASK-305 — shipped in #2048/#2049
  tracker/tasks/task-243 - FreeTierRequestQuota-computeWindowCap-has-no-minmax-guard.md
  tracker/tasks/task-305 - every-routesinternal-handler-sends-via-sendCustomSuccess-instead-of-the-preferre.md
Due: prettier --write

refactor(api-gateway): sweep internal routes to sendContractSuccess
  services/api-gateway/src/routes/internal/conversationAssistantMessage.ts
  services/api-gateway/src/routes/internal/conversationSync.ts
  services/api-gateway/src/routes/internal/conversationUserMessage.ts
  services/api-gateway/src/routes/internal/dmSessionSet.ts
  services/api-gateway/src/routes/internal/models.ts
  services/api-gateway/src/routes/internal/personalityLoad.ts
  services/api-gateway/src/routes/internal/routingContextCreate.ts
  services/api-gateway/src/routes/internal/secretRotationStatus.ts
  services/api-gateway/src/routes/internal/usersActivity.ts
  services/api-gateway/src/routes/internal/usersRecent.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(bot-client): outcome-honest fallback when a destructive success render throws
  services/bot-client/src/commands/history/index.test.ts
  services/bot-client/src/commands/history/index.ts
  services/bot-client/src/commands/memory/purge.test.ts
  services/bot-client/src/commands/memory/purge.ts
  services/bot-client/src/commands/settings/data/delete.test.ts
  services/bot-client/src/commands/settings/data/delete.ts
  services/bot-client/src/commands/voice/voices/purge.test.ts
  services/bot-client/src/commands/voice/voices/purge.ts
  services/bot-client/src/utils/confirmation/confirmDestructive.test.ts
  services/bot-client/src/utils/confirmation/confirmDestructive.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: close out dependabot campaign + TASK-508 — session ledger
  CURRENT.md
  tracker/tasks/task-508 - handleDestructiveModalSubmit-success-render-can-throw-after-the-write-applied-renders-as-generic-failure.md
Due: prettier --write

docs(backlog): file TASK-509/510/511 from PR-2054 reviews + prod debug dig
  tracker/tasks/task-509 - Unify-per-package-turbo-task-overrides-on-one-mechanism.md
  tracker/tasks/task-510 - Detect-repo-escaping-fs-reads-in-tooling-tests-mechanically.md
  tracker/tasks/task-511 - Own-message-TTS-audio-gets-re-transcribed-via-STT-into-the-prompt.md
Due: prettier --write

fix(ai-worker): stop STT and transcript render for own-persona voice references
  services/ai-worker/src/jobs/utils/xmlMetadataFormatters.ts
  services/ai-worker/src/services/AttachmentProcessor.test.ts
  services/ai-worker/src/services/AttachmentProcessor.ts
  services/ai-worker/src/services/ReferencedMessageFormatter.test.ts
  services/ai-worker/src/services/ReferencedMessageFormatter.ts
  services/ai-worker/src/services/context/ContextAssembler.ts
  services/ai-worker/src/services/prompt/storedReference.test.ts
  services/ai-worker/src/services/prompt/storedReference.ts
  services/ai-worker/src/services/voice/ownVoiceGuard.test.ts
  services/ai-worker/src/services/voice/ownVoiceGuard.ts
  services/ai-worker/src/services/voice/sttDispatchGuardCoverage.test.ts
  tracker/tasks/task-512 - Skip-audio-transcription-job-creation-for-own-persona-voice-references.md
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(ci): declare live-swept repo trees as turbo inputs for tooling tests
  packages/tooling/src/audits/check-claude-content-refs.ts
  packages/tooling/src/audits/check-proposal-orphans.ts
  packages/tooling/src/codegen/command-types.ts
  packages/tooling/src/dev/check-prompt-tags.ts
  packages/tooling/src/turbo-inputs-coverage.test.ts
  packages/tooling/turbo.json
  tracker/tasks/task-509 - Unify-per-package-turbo-task-overrides-on-one-mechanism.md
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): mark task-511 done (PR #2055); pilot unit-6 note on task-487
  tracker/tasks/task-487 - Sonnet-worker-tier-pilot-record-per-unit-outcomes.md
  tracker/tasks/task-511 - Own-message-TTS-audio-gets-re-transcribed-via-STT-into-the-prompt.md
Due: prettier --write

docs: session ledger — task-507 (#2054) and task-511 (#2055) shipped
  CURRENT.md
  tracker/tasks/task-507 - raw-content-allowlist-test-escapes-turbo-cache-inputs-cross-package-sweep-passes-stale-locally.md
Due: prettier --write

fix(api-gateway): skip STT job creation for own-persona voice references
  packages/common-types/src/utils/ownVoice.test.ts
  packages/common-types/src/utils/ownVoice.ts
  services/ai-worker/src/jobs/utils/xmlMetadataFormatters.ts
  services/ai-worker/src/services/AttachmentProcessor.ts
  services/ai-worker/src/services/ReferencedMessageFormatter.ts
  services/ai-worker/src/services/context/ContextAssembler.ts
  services/ai-worker/src/services/prompt/storedReference.ts
  services/ai-worker/src/services/voice/ownVoiceGuard.test.ts
  services/ai-worker/src/services/voice/ownVoiceGuard.ts
  services/ai-worker/src/services/voice/sttDispatchGuardCoverage.test.ts
  services/api-gateway/src/utils/jobChainOrchestrator.test.ts
  services/api-gateway/src/utils/jobChainOrchestrator.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: session ledger — task-512 shipped (#2056), own-voice class closed
  CURRENT.md
  tracker/tasks/task-512 - Skip-audio-transcription-job-creation-for-own-persona-voice-references.md
Due: prettier --write

feat(ai-worker): warn on suspect reasoning mis-channel shape
  services/ai-worker/src/services/ResponsePostProcessor.test.ts
  services/ai-worker/src/services/ResponsePostProcessor.ts
  services/ai-worker/src/utils/reasoningMischannel.test.ts
  services/ai-worker/src/utils/reasoningMischannel.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: glm mis-channel resolved as watch (#2057) — board close-out + owner filings
  CURRENT.md
  backlog/now.md
  tracker/docs/doc-73 - Idea-One-click-reasoning-trace-reasoning-persistence-in-history.md
  tracker/tasks/task-513 - Revisit-Opus-5-orchestrator-trial-after-next-release.md
  tracker/tasks/task-514 - Watch-suspect-reasoning-mis-channel-WARN-recurrence-glm-4.5-air.md
Due: prettier --write

chore: bump version to 3.0.0-beta.199
  package.json
  packages/cache-invalidation/package.json
  packages/clients/package.json
  packages/common-types/package.json
  packages/config-resolver/package.json
  packages/conversation-history/package.json
  packages/embeddings/package.json
  packages/identity/package.json
  packages/test-factories/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  services/website/package.json
  tests/package.json
Due: prettier --write, secretlint

docs(backlog): close TASK-503 (#2045) and the Sonnet pilot at 5 units — KEEP
  tracker/tasks/task-487 - Sonnet-worker-tier-pilot-record-per-unit-outcomes.md
  tracker/tasks/task-503 - SecretRotationNagScheduler-arm-the-nag-cooldown-only-on-confirmed-embed-delivery.md
Due: prettier --write

docs(backlog): close task-492 as shipped; record the 453 remainder
  tracker/tasks/task-453 - Tracker-task-ids-are-allocated-from-the-working-tree-so-concurrent-branches-collide-silently.md
  tracker/tasks/task-492 - Backlog-gate-fail-on-duplicate-task-ids.md
Due: prettier --write

docs(backlog): mark task-501 done — dev-to-prod tag copy ran post-beta.198
  tracker/tasks/task-501 - Copy-character-tags-dev-to-prod-after-the-tags-migration-lands.md
Due: prettier --write

docs(backlog): file TASK-506 — gateway-client multi-slash gap from the #2047 review
  tracker/tasks/task-277 - Reconcile-fetcher-single-page-assumption-perpage30.md
  tracker/tasks/task-505 - MultimodalProcessor-fallback-vision-test-flaked-at-5s-timeout-on-CI.md
  tracker/tasks/task-506 - gateway-client-local-env-read-misses-the-multi-slash-strip.md
Due: prettier --write

fix(bot-client): arm nag cooldowns only on confirmed embed delivery
  services/bot-client/src/services/RetentionNagScheduler.test.ts
  services/bot-client/src/services/RetentionNagScheduler.ts
  services/bot-client/src/services/SecretRotationNagScheduler.test.ts
  services/bot-client/src/services/SecretRotationNagScheduler.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: close out drain round two — TASK-347/506 Done, CURRENT.md ledger
  CURRENT.md
  tracker/tasks/task-347 - Validate-gateway-base-URLs-have-no-trailing-slash-at-env-parse.md
  tracker/tasks/task-506 - gateway-client-local-env-read-misses-the-multi-slash-strip.md
Due: prettier --write

docs: close out the mechanical drain batch — CURRENT.md + tasks + pilot notes
  CURRENT.md
  tracker/tasks/task-435 - Dedupe-the-catalogModel-test-fixture-3-copies-into-a-shared-builder.md
  tracker/tasks/task-487 - Sonnet-worker-tier-pilot-record-per-unit-outcomes.md
Due: prettier --write

ci: add workflow_dispatch trigger as webhook-outage escape hatch
  .github/workflows/ci.yml
Due: prettier --write

fix(ai-worker): guard computeWindowCap against inverted window bounds
  services/ai-worker/src/services/FreeTierRequestQuota.test.ts
  services/ai-worker/src/services/FreeTierRequestQuota.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: reset CURRENT.md for beta.198 — release procedure step 9
  CURRENT.md
Due: prettier --write

fix(api-gateway): warn when the releases page may not cover the lookback window
  services/api-gateway/src/services/releaseReconcile.test.ts
  services/api-gateway/src/services/releaseReconcile.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): mark task-446 done — workflow_dispatch shipped in #2037
  tracker/tasks/task-446 - Add-workflow_dispatch-to-ci.yml-so-CI-can-be-triggered-without-a-webhook.md
Due: prettier --write
