Repository lbds137/tzurot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): swap shipped reasoning entry for LlmConfigService split follow-up
  backlog/cold/follow-ups.md
Due: prettier --write

docs(backlog): file un-enforced reasoning-token constraint (barrel audit finding)
  backlog/cold/follow-ups.md
Due: prettier --write

test(api-gateway): add create/update seam tests + drop unused name field
  services/api-gateway/src/services/LlmConfigService.test.ts
  services/api-gateway/src/services/reasoningConstraintCheck.test.ts
  services/api-gateway/src/services/reasoningConstraintCheck.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: post-release board update — beta.147 shipped, store-race Lua row filed
  CURRENT.md
  backlog/cold/follow-ups.md
Due: prettier --write

docs: weekly audit cron first organic run confirmed — passive check resolved
  CURRENT.md
Due: prettier --write

chore: operationalize session-mining friction fixes (rules, skill, eslint hook)
  .claude/rules/05-tooling.md
  .claude/settings.json
  .claude/skills/tzurot-git-workflow/SKILL.md
  CLAUDE.md
Due: prettier --write, secretlint

docs(backlog): accept boulder #1 design — platform-portable UX layer
  CURRENT.md
  backlog/cold/follow-ups.md
  backlog/cold/ideas.md
  backlog/cold/themes/platform-portable-ux-layer.md
  docs/proposals/backlog/MEMORY_MANAGEMENT_COMMANDS.md
  docs/proposals/backlog/SLASH_COMMAND_ARCHITECTURE.md
  docs/proposals/backlog/platform-portable-ux-design.md
Due: prettier --write

docs(backlog): mark boulder #1 done on the now board
  backlog/now.md
Due: prettier --write

docs(backlog): accept boulder #1 part 2 — the UX design system spec
  CURRENT.md
  backlog/cold/follow-ups.md
  backlog/cold/ideas.md
  backlog/cold/themes/platform-portable-ux-layer.md
  backlog/now.md
  docs/proposals/backlog/platform-portable-ux-design.md
  docs/proposals/backlog/ux-design-system-spec.md
Due: prettier --write

docs(backlog): file LangGraph/LangChain research directive on boulder #4
  backlog/now.md
Due: prettier --write

docs(backlog): accept boulder #2 — prompt-assembly architecture
  CURRENT.md
  backlog/cold/follow-ups.md
  backlog/cold/ideas.md
  backlog/cold/themes/provider-prompt-caching.md
  backlog/now.md
  docs/proposals/backlog/prompt-assembly-architecture.md
Due: prettier --write

docs(backlog): file prod issue — deleted memories still retrievable in RAG
  backlog/now.md
Due: prettier --write

docs(backlog): accept boulder #3 — memory architecture adjudication
  CURRENT.md
  backlog/cold/themes/memory-system-overhaul.md
  backlog/now.md
  docs/proposals/backlog/MEMORY_MANAGEMENT_COMMANDS.md
  docs/proposals/backlog/memory-architecture.md
Due: prettier --write

docs(backlog): accept boulder #4 — agentic scaffolding; boulder agenda complete
  CURRENT.md
  backlog/cold/themes/next-gen-ai-capabilities.md
  backlog/now.md
  docs/proposals/backlog/agentic-scaffolding.md
Due: prettier --write

docs(backlog): promote config-cascade design; file server-as-config-tier directive
  backlog/now.md
Due: prettier --write

fix(ai-worker): exclude soft-deleted memories from RAG retrieval
  backlog/cold/follow-ups.md
  backlog/now.md
  services/ai-worker/src/services/PgvectorMemoryAdapter.component.test.ts
  services/ai-worker/src/services/PgvectorQueryBuilder.test.ts
  services/ai-worker/src/services/PgvectorQueryBuilder.ts
  services/ai-worker/src/services/PgvectorSiblingExpander.ts
  services/api-gateway/src/routes/user/memorySingle.test.ts
  services/api-gateway/src/routes/user/memorySingle.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(bot-client): remove write-only handler Map leaking closures on dismiss
  backlog/now.md
  docs/proposals/backlog/ux-design-system-spec.md
  services/bot-client/src/commands/admin/settings.ts
  services/bot-client/src/commands/channel/settings.ts
  services/bot-client/src/commands/character/overrides.ts
  services/bot-client/src/commands/character/settings.ts
  services/bot-client/src/commands/settings/defaults/edit.ts
  services/bot-client/src/utils/dashboard/settings/SettingsDashboardHandler.test.ts
  services/bot-client/src/utils/dashboard/settings/SettingsDashboardHandler.ts
  services/bot-client/src/utils/dashboard/settings/SettingsSessionStorage.test.ts
  services/bot-client/src/utils/dashboard/settings/SettingsSessionStorage.ts
  services/bot-client/src/utils/dashboard/settings/createSettingsCommandHandlers.test.ts
  services/bot-client/src/utils/dashboard/settings/createSettingsCommandHandlers.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): clear merged leak-fix quick win; file #1491 docstring nit
  backlog/cold/follow-ups.md
  backlog/now.md
Due: prettier --write

docs(backlog): record prod-bug sweep completion; next = config-cascade design
  CURRENT.md
Due: prettier --write

docs(backlog): accept config-cascade semantics design — guild tier + sentinel fix
  CURRENT.md
  backlog/cold/themes/preset-cascade-standardization.md
  backlog/now.md
  docs/proposals/backlog/config-cascade-design.md
  docs/proposals/backlog/config-cascade-semantics.md
Due: prettier --write

docs(backlog): record streaming deprioritization (owner decision + rationale)
  backlog/cold/ideas.md
Due: prettier --write

docs(backlog): file PluralKit interop idea (import/sync/persona pairing)
  backlog/cold/themes/user-requested-features.md
Due: prettier --write

docs(backlog): ingest notes-Discord cleanup — 4 ideas, 4 verify-first follow-ups, theme detail
  backlog/cold/follow-ups.md
  backlog/cold/ideas.md
  backlog/cold/themes/next-gen-ai-capabilities.md
  backlog/cold/themes/user-feedback-solicitation-revive-v2-release-notes-delivery.md
  docs/proposals/backlog/config-cascade-semantics.md
Due: prettier --write

docs(backlog): accept message-actions + pluralkit-interop designs
  backlog/cold/themes/user-requested-features.md
  docs/proposals/backlog/message-actions.md
  docs/proposals/backlog/pluralkit-interop.md
Due: prettier --write

docs(backlog): record message-actions + pk-interop acceptance in session state
  CURRENT.md
Due: prettier --write

docs(backlog): ingest AI links batch — TTS sweep, Agent SDK eval note, prior-art refs
  backlog/cold/themes/multimodal-input-file-video-forwarding.md
  backlog/cold/themes/next-gen-ai-capabilities.md
  backlog/cold/themes/self-hosted-tts-byok-re-evaluation.md
  backlog/cold/themes/shapes-inc-fetcher-hardening.md
  backlog/cold/themes/voice-engine.md
  backlog/references.md
Due: prettier --write

docs(backlog): ingest OpenWiki reference (evaluate at next doc-audit)
  backlog/references.md
Due: prettier --write

fix(api-gateway): store explicit OFF for maxAge — off no longer means inherit
  backlog/cold/follow-ups.md
  docs/proposals/backlog/config-cascade-semantics.md
  packages/common-types/src/schemas/api/configOverrides.test.ts
  packages/common-types/src/schemas/api/configOverrides.ts
  packages/config-resolver/src/ConfigCascadeResolver.test.ts
  services/api-gateway/src/index.ts
  services/api-gateway/src/routes/_generated/mounts.component.test.ts
  services/api-gateway/src/routes/admin/diagnostic.ts
  services/api-gateway/src/routes/conformance/fixtures/harness.ts
  services/api-gateway/src/routes/routeDeps.ts
  services/api-gateway/src/routes/user/config-overrides.test.ts
  services/api-gateway/src/routes/user/config-overrides.ts
  services/api-gateway/src/routes/user/llm-config.component.test.ts
  services/api-gateway/src/routes/user/llm-config.test.ts
  services/api-gateway/src/routes/user/llm-config.ts
  services/api-gateway/src/routes/user/llmConfigResolve.test.ts
  services/api-gateway/src/routes/user/llmConfigResolve.ts
  services/api-gateway/src/routes/user/memoryIncognito.ts
  services/api-gateway/src/routes/user/personality-config-overrides.test.ts
  services/api-gateway/src/routes/user/personality-config-overrides.ts
  services/api-gateway/src/routes/wallet/listKeys.ts
  services/api-gateway/src/routes/wallet/removeKey.ts
  services/api-gateway/src/routes/wallet/setKey.ts
  services/api-gateway/src/routes/wallet/testKey.ts
  services/api-gateway/src/utils/configOverrideMerge.test.ts
  services/api-gateway/src/utils/configOverrideMerge.ts
  services/bot-client/src/commands/admin/settings.test.ts
  services/bot-client/src/commands/channel/settings.test.ts
  services/bot-client/src/commands/character/settings.test.ts
  services/bot-client/src/utils/dashboard/settings/SettingsDashboardBuilder.test.ts
  services/bot-client/src/utils/dashboard/settings/SettingsDashboardBuilder.ts
  services/bot-client/src/utils/dashboard/settings/SettingsDashboardHandler.test.ts
  services/bot-client/src/utils/dashboard/settings/SettingsSessionStorage.test.ts
  services/bot-client/src/utils/dashboard/settings/settingsDataBuilder.ts
  services/bot-client/src/utils/dashboard/settings/settingsUpdate.test.ts
  services/bot-client/src/utils/dashboard/settings/settingsUpdate.ts
  services/bot-client/src/utils/dashboard/settings/types.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(bot-client): fix stale SettingsSessionStorage test docstring (ride-along)
  backlog/cold/follow-ups.md
  services/bot-client/src/utils/dashboard/settings/SettingsSessionStorage.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(bot-client): release honesty riders — delete-scope copy, forget counts, slug alignment
  backlog/cold/follow-ups.md
  packages/common-types/src/schemas/api/personality.ts
  packages/common-types/src/utils/slugUtils.test.ts
  packages/common-types/src/utils/slugUtils.ts
  services/api-gateway/src/index.ts
  services/api-gateway/src/routes/user/memoryIncognito.test.ts
  services/api-gateway/src/routes/user/memoryIncognito.ts
  services/bot-client/src/commands/character/create.test.ts
  services/bot-client/src/commands/character/create.ts
  services/bot-client/src/commands/character/import.test.ts
  services/bot-client/src/commands/character/import.ts
  services/bot-client/src/commands/history/hard-delete.test.ts
  services/bot-client/src/commands/history/hard-delete.ts
  services/bot-client/src/utils/dashboard/settings/settingsInputParser.test.ts
  services/bot-client/src/utils/dashboard/settings/settingsInputParser.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): fold #1493 round-4 remainders into the slug-length follow-up
  backlog/cold/follow-ups.md
Due: prettier --write

chore: bump version to 3.0.0-beta.148
  package.json
  packages/cache-invalidation/package.json
  packages/clients/package.json
  packages/common-types/package.json
  packages/config-resolver/package.json
  packages/conversation-history/package.json
  packages/embeddings/package.json
  packages/identity/package.json
  packages/test-factories/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  tests/package.json
Due: prettier --write, secretlint

fix(bot-client): complete slug validation — length checks, suggestion clamp, shapes sanitize
  backlog/cold/follow-ups.md
  packages/common-types/src/schemas/api/personality.ts
  packages/common-types/src/utils/slugUtils.test.ts
  packages/common-types/src/utils/slugUtils.ts
  services/ai-worker/src/jobs/ShapesImportJob.test.ts
  services/ai-worker/src/jobs/ShapesImportJob.ts
  services/ai-worker/src/jobs/ShapesImportResolver.test.ts
  services/ai-worker/src/jobs/ShapesImportResolver.ts
  services/bot-client/src/commands/character/create.test.ts
  services/bot-client/src/commands/character/create.ts
  services/bot-client/src/commands/character/import.test.ts
  services/bot-client/src/commands/character/import.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{md,json,yml,yaml})
  eslint --fix --max-warnings=0 --no-warn-ignored: any of: *.{ts,tsx}
  secretlint: any of: *.{ts,tsx,js,jsx,json}
