Repository lbds137/tzurot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["prettier --write", "eslint --fix --max-warnings=0 --no-warn-ignored"],
  "*.{md,json,yml,yaml}": ["prettier --write"],
  "*.{ts,tsx,js,jsx,json}": ["secretlint"]
}

docs(rules): sync the first monitor snippet to the canonical sleep-prefixed pattern
  .claude/rules/05-tooling.md
Due: prettier --write

docs(rules): operationalize the friction-mining findings for the model handoff
  .claude/hooks/pr-monitor-reminder.sh
  .claude/rules/00-critical.md
  .claude/rules/05-tooling.md
  .claude/rules/06-backlog.md
  .claude/rules/07-documentation.md
  .claude/rules/08-review-response.md
  .claude/rules/09-interaction-style.md
  .claude/skills/tzurot-council-mcp/SKILL.md
  .claude/skills/tzurot-deployment/SKILL.md
  .claude/skills/tzurot-git-workflow/SKILL.md
  .claude/skills/tzurot-testing/SKILL.md
  CLAUDE.md
Due: prettier --write

docs(rules): add the snowflake-fixture gotcha to the testing skill
  .claude/skills/tzurot-testing/SKILL.md
Due: prettier --write

docs(rules): drop the adoption date from the Merge Approval grant
  .claude/rules/00-critical.md
Due: prettier --write

docs(backlog): housekeeping sweep — CURRENT.md cap, completed-writeup removal, link fixes
  CURRENT.md
  backlog/active-epic.md
  backlog/cold/epic-log.md
  backlog/cold/ideas.md
  backlog/cold/queue.md
  backlog/cold/themes/model-config-overhaul.md
  backlog/cold/themes/test-pyramid-coverage-audit.md
  backlog/now.md
Due: prettier --write

feat(tooling): guard:gate-parity + close the local-vs-CI gate drift
  .claude/rules/05-tooling.md
  .github/workflows/ci.yml
  package.json
  packages/tooling/src/audits/check-audit-tool-docs.ts
  packages/tooling/src/audits/summary.ts
  packages/tooling/src/commands/guard.ts
  packages/tooling/src/dev/check-gate-parity.test.ts
  packages/tooling/src/dev/check-gate-parity.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

feat(tooling): lines:check ratchet + weekly-audit granularity (security, margins, orphans)
  .github/baselines/lines-baseline.json
  .github/workflows/ci.yml
  .husky/pre-push
  backlog/cold/follow-ups.md
  backlog/cold/themes/memory-system-overhaul.md
  backlog/cold/themes/next-gen-ai-capabilities.md
  backlog/now.md
  docs/proposals/backlog/free-tier-zai-piggyback.md
  package.json
  packages/tooling/src/audits/audit-tool-registry.ts
  packages/tooling/src/audits/canary.test.ts
  packages/tooling/src/audits/docs-orphan-scan.test.ts
  packages/tooling/src/audits/docs-orphan-scan.ts
  packages/tooling/src/audits/health-extras.test.ts
  packages/tooling/src/audits/health-extras.ts
  packages/tooling/src/audits/health.test.ts
  packages/tooling/src/audits/health.ts
  packages/tooling/src/audits/lines-check.WHY.md
  packages/tooling/src/audits/lines-check.test.ts
  packages/tooling/src/audits/lines-check.ts
  packages/tooling/src/commands/guard.ts
  packages/tooling/test-fixtures/audit-canaries/lines-check/.claude/rules/oversized-canary.md
  packages/tooling/test-fixtures/audit-canaries/lines-check/CURRENT.md
  packages/tooling/test-fixtures/audit-canaries/lines-check/README.md
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(rules): session URLs are secrets — never publish in commits/PRs/releases
  .claude/rules/00-critical.md
Due: prettier --write

fix(tooling): parity-achieved allowlist detection + session-URL hook
  .claude/rules/05-tooling.md
  .husky/commit-msg
  CLAUDE.md
  backlog/now.md
  packages/tooling/src/dev/check-gate-parity.test.ts
  packages/tooling/src/dev/check-gate-parity.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(tooling): harden gate-parity job-segment extraction
  packages/tooling/src/dev/check-gate-parity.test.ts
  packages/tooling/src/dev/check-gate-parity.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: drop truncated duplicate research-agent bullet + rule archaeology
  .claude/rules/00-critical.md
  backlog/cold/themes/next-gen-ai-capabilities.md
Due: prettier --write

fix(tooling): run workflow-sync guard on the docs-only pre-push path
  .husky/pre-push
Due: none

docs(rules): list the new gate-parity + lines commands in the reference tables
  .claude/rules/05-tooling.md
  docs/reference/tooling/OPS_CLI_REFERENCE.md
Due: prettier --write

test(tooling): add the three new commands to the content-refs valid set
  packages/tooling/src/audits/check-claude-content-refs.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): ci-split design entry + provider-caching priority note
  backlog/cold/themes/provider-prompt-caching.md
  backlog/now.md
Due: prettier --write

ci: split the test job into five runtime-sized matrix cells
  .claude/rules/05-tooling.md
  .github/workflows/ci.yml
  packages/tooling/src/dev/check-gate-parity.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

ci: quote the packages-cell turbo filter glob
  .github/workflows/ci.yml
Due: prettier --write

ci: consistent tier-named jobs + restore eaten comment + ruleset contexts
  .claude/rules/05-tooling.md
  .claude/skills/tzurot-testing/SKILL.md
  .github/rulesets/branch-protection-no-bypass.json
  .github/rulesets/branch-protection.json
  .github/workflows/ci.yml
  docs/reference/guides/TESTING.md
  packages/tooling/src/topology/coverageTopology.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

ci: sweep remaining old job-name references + document typecheck placement
  .github/workflows/ci.yml
  backlog/cold/follow-ups.md
  backlog/cold/themes/pglite-fidelity-real-postgres-integration-tier.md
  services/ai-worker/src/services/voice/VoiceEngineContract.consumer.contract.test.ts
  vitest.integration.config.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): remove shipped CI wall-time entry (#1471)
  backlog/now.md
Due: prettier --write

docs(backlog): boulder sweep results + 29-item org-fix batch + session log
  BACKLOG.md
  CURRENT.md
  backlog/cold/follow-ups.md
  backlog/cold/ideas.md
  backlog/cold/queue.md
  backlog/cold/themes/adjacent-cpd-follow-up-campaigns.md
  backlog/cold/themes/character-portability.md
  backlog/cold/themes/deterministic-test-quality-tooling.md
  backlog/cold/themes/first-use-onboarding-dm.md
  backlog/cold/themes/kill-common-types-root-barrel.md
  backlog/cold/themes/memory-system-overhaul.md
  backlog/cold/themes/model-configuration-overhaul.md
  backlog/cold/themes/next-gen-ai-capabilities.md
  backlog/cold/themes/observability-and-telemetry.md
  backlog/cold/themes/preset-cascade-standardization.md
  backlog/cold/themes/production-observability-perf-metrics-tracing.md
  backlog/cold/themes/self-hosted-tts-byok-re-evaluation.md
  backlog/cold/themes/shapes-inc-fetcher-hardening.md
  backlog/cold/themes/typing-indicator-reliability.md
  backlog/cold/themes/user-requested-features.md
  backlog/now.md
  backlog/references.md
Due: prettier --write

docs(backlog): track archaeology sweep + barrel-kill PR-3 items
  backlog/cold/follow-ups.md
  backlog/cold/themes/kill-common-types-root-barrel.md
Due: prettier --write

refactor(common-types): kill root barrel — tooling + exports map + clients slice
  .gitignore
  packages/clients/src/clients/_generated/user-client.ts
  packages/clients/src/clients/errors.test.ts
  packages/clients/src/clients/errors.ts
  packages/clients/src/clients/generated-encoding.test.ts
  packages/clients/src/clients/transport.test.ts
  packages/clients/src/clients/transport.ts
  packages/clients/src/routes/admin.ts
  packages/clients/src/routes/internal.ts
  packages/clients/src/routes/manifest.test.ts
  packages/clients/src/routes/user/config-overrides.ts
  packages/clients/src/routes/user/configs.ts
  packages/clients/src/routes/user/diagnostics.ts
  packages/clients/src/routes/user/memory.ts
  packages/clients/src/routes/user/ownership.ts
  packages/clients/src/routes/user/resources.ts
  packages/clients/src/routes/user/shapes.ts
  packages/clients/tsconfig.json
  packages/common-types/package.json
  packages/tooling/src/codegen/client-builder.test.ts
  packages/tooling/src/codegen/client-builder.ts
  scripts/migrations/barrel-kill/build-symbol-map.ts
  scripts/migrations/barrel-kill/codemod.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint
