Repository lbds137/tzurot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["prettier --write", "eslint --fix --max-warnings=0 --no-warn-ignored"],
  "*.{md,json,yml,yaml}": ["prettier --write"],
  "*.{ts,tsx,js,jsx,json}": ["secretlint"]
}

docs: add dynamic model selection for presets to backlog
  BACKLOG.md
Due: prettier --write

test(api-gateway): add coverage for admin user not found error paths
  services/api-gateway/src/routes/admin/createPersonality.test.ts
  services/api-gateway/src/routes/admin/llm-config.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(api-gateway): reorder sync tables for ownerId NOT NULL
  prisma/migrations/20260128180000_make_owner_id_not_null/migration.sql
  services/api-gateway/src/services/sync/config/syncTables.test.ts
  services/api-gateway/src/services/sync/config/syncTables.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(ai-worker): properly extract OpenRouter reasoning from additional_kwargs
  services/ai-worker/src/services/ConversationalRAGService.ts
  services/ai-worker/src/services/ModelFactory.test.ts
  services/ai-worker/src/services/ModelFactory.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

chore: bump version to 3.0.0-beta.56
  package.json
  packages/common-types/package.json
  packages/embeddings/package.json
  packages/tooling/package.json
  scripts/data/import-personality/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  tests/package.json
Due: prettier --write, secretlint

fix(common-types): handle non-string values in Zod utilities
  packages/common-types/src/schemas/api/shared.test.ts
  packages/common-types/src/schemas/api/shared.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix: add FK constraint update for personality onDelete CASCADE
  prisma/migrations/20260128180000_make_owner_id_not_null/migration.sql
Due: none

docs: add tech debt item for consolidating LLM config key lists
  BACKLOG.md
Due: prettier --write

fix(bot-client): standardize dashboard options and fix modal empty values
  packages/common-types/src/schemas/api/shared.test.ts
  packages/common-types/src/schemas/api/shared.ts
  services/api-gateway/src/routes/user/llm-config.ts
  services/api-gateway/src/routes/user/persona/crud.test.ts
  services/api-gateway/src/routes/user/persona/crud.ts
  services/bot-client/src/commands/character/browse.ts
  services/bot-client/src/commands/character/config.ts
  services/bot-client/src/commands/character/create.ts
  services/bot-client/src/commands/character/dashboard.ts
  services/bot-client/src/commands/character/dashboardButtons.ts
  services/bot-client/src/commands/character/edit.ts
  services/bot-client/src/commands/persona/browse.ts
  services/bot-client/src/commands/persona/dashboard.ts
  services/bot-client/src/commands/persona/edit.ts
  services/bot-client/src/commands/preset/browse.ts
  services/bot-client/src/commands/preset/create.ts
  services/bot-client/src/commands/preset/edit.test.ts
  services/bot-client/src/commands/preset/edit.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(ai-worker): strip orphan closing tags from truncated model output
  services/ai-worker/src/utils/thinkingExtraction.test.ts
  services/ai-worker/src/utils/thinkingExtraction.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: clean up work tracking documents
  BACKLOG.md
  CURRENT.md
Due: prettier --write

fix(ai-worker): enforce OpenRouter reasoning param mutual exclusivity
  services/ai-worker/src/services/LLMInvoker.test.ts
  services/ai-worker/src/services/ModelFactory.test.ts
  services/ai-worker/src/services/ModelFactory.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

refactor(api-gateway): migrate persona override to Zod schema
  services/api-gateway/src/routes/user/persona/override.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(ai-worker): include advanced params in LlmConfigResolver
  services/ai-worker/src/services/LlmConfigResolver.test.ts
  services/ai-worker/src/services/LlmConfigResolver.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: add preset import/export feature and mark thinking fix done
  BACKLOG.md
Due: prettier --write

fix(common-types): add min(1) to nullableString for consistency
  packages/common-types/src/schemas/api/shared.ts
  services/api-gateway/src/routes/user/persona/crud.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: add postmortem for model footer missing on errors
  CLAUDE.md
  docs/incidents/PROJECT_POSTMORTEMS.md
Due: prettier --write

fix(ai-worker): add isGuestMode fallback and configSource to error metadata
  services/ai-worker/src/jobs/handlers/LLMGenerationHandler.test.ts
  services/ai-worker/src/jobs/handlers/LLMGenerationHandler.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/GenerationStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/GenerationStep.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

refactor(api-gateway): remove unused extractString helper
  services/api-gateway/src/routes/user/persona/helpers.test.ts
  services/api-gateway/src/routes/user/persona/helpers.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

refactor(api-gateway): migrate persona CRUD to Zod schemas
  services/api-gateway/src/routes/user/persona/crud.ts
  services/api-gateway/src/routes/user/persona/index.ts
  services/api-gateway/src/routes/user/persona/types.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(ai-worker): include modelUsed in error response metadata
  services/ai-worker/src/jobs/handlers/LLMGenerationHandler.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/GenerationStep.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

test(ai-worker): add coverage for API-level reasoning extraction
  services/ai-worker/src/services/ConversationalRAGService.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix: address final review feedback for ownerId NOT NULL
  prisma/migrations/20260128180000_make_owner_id_not_null/migration.sql
  scripts/data/import-personality/bulk-import.ts
  scripts/data/import-personality/import-personality.ts
  services/ai-worker/src/jobs/AIJobProcessor.component.test.ts
  services/api-gateway/src/routes/admin/createPersonality.ts
  services/api-gateway/src/routes/admin/llm-config.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(scripts): update import script headers with --owner-id
  scripts/data/import-personality/bulk-import.ts
  scripts/data/import-personality/import-personality.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

feat(ai-worker): add reasoningDebug to diagnostics for troubleshooting
  packages/common-types/src/types/diagnostic.ts
  services/ai-worker/src/services/ConversationalRAGService.ts
  services/ai-worker/src/services/DiagnosticCollector.test.ts
  services/ai-worker/src/services/DiagnosticCollector.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

chore: make ownerId NOT NULL on LlmConfig and Personality
  packages/common-types/src/factories/personality.ts
  packages/common-types/src/services/personality/PersonalityLoader.test.ts
  packages/common-types/src/services/personality/PersonalityValidator.ts
  packages/common-types/src/types/byok.ts
  packages/common-types/src/utils/permissions.ts
  prisma/migrations/20260128180000_make_owner_id_not_null/migration.sql
  prisma/schema.prisma
  scripts/data/import-personality/PersonalityMapper.ts
  scripts/data/import-personality/bulk-import.ts
  scripts/data/import-personality/import-personality.ts
  scripts/data/import-personality/test-custom-fields.ts
  scripts/data/import-personality/test-mapper.ts
  scripts/data/import-personality/types.ts
  services/ai-worker/src/jobs/AIJobProcessor.component.test.ts
  services/api-gateway/src/routes/admin/createPersonality.test.ts
  services/api-gateway/src/routes/admin/createPersonality.ts
  services/api-gateway/src/routes/admin/llm-config.test.ts
  services/api-gateway/src/routes/admin/llm-config.ts
  services/api-gateway/src/routes/user/llm-config.ts
  services/api-gateway/src/routes/user/personality/get.ts
  services/api-gateway/src/routes/user/personality/helpers.ts
  services/api-gateway/src/routes/user/personality/list.test.ts
  services/api-gateway/src/routes/user/personality/list.ts
  services/api-gateway/src/routes/user/personality/update.ts
  services/bot-client/src/commands/character/api.ts
  services/bot-client/src/commands/character/config.ts
  services/bot-client/src/commands/character/settings.ts
  tests/integration/DuplicateDetectionFlow.test.ts
  tests/integration/PersonalityService.test.ts
  tests/integration/schema/pglite-schema.sql
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

refactor(api-gateway): use validateUuid in persona override schema
  services/api-gateway/src/routes/user/persona/override.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: add follow-up items from beta.56 PR review
  BACKLOG.md
Due: prettier --write

fix(ai-worker): nest OpenRouter params in extra_body for SDK passthrough
  services/ai-worker/src/services/ModelFactory.test.ts
  services/ai-worker/src/services/ModelFactory.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(ai-worker): use custom fetch to inject OpenRouter params
  services/ai-worker/src/services/ModelFactory.test.ts
  services/ai-worker/src/services/ModelFactory.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

chore(ai-worker): add logging to verify custom fetch is called
  services/ai-worker/src/services/ModelFactory.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

chore(ai-worker): add response logging to debug R1 reasoning extraction
  services/ai-worker/src/services/ModelFactory.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

feat(ai-worker): inject OpenRouter reasoning into content for extraction
  services/ai-worker/src/services/ModelFactory.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

test(ai-worker): add coverage for reasoning injection in response mutation
  services/ai-worker/src/services/ModelFactory.test.ts
  services/ai-worker/src/services/ModelFactory.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(bot-client): pass showThinking from result metadata to response sender
  services/ai-worker/src/jobs/handlers/pipeline/steps/GenerationStep.ts
  services/bot-client/src/handlers/MessageHandler.ts
  services/bot-client/src/services/DiscordResponseSender.test.ts
  services/bot-client/src/services/DiscordResponseSender.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

feat(ai-worker): add temperature jitter for duplicate detection cache busting
  services/ai-worker/src/utils/duplicateDetection.test.ts
  services/ai-worker/src/utils/duplicateDetection.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

refactor: consolidate LLM config override keys into shared constant
  packages/common-types/src/schemas/llmAdvancedParams.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/ConfigStep.ts
  services/ai-worker/src/services/LlmConfigResolver.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: add reasoning model formats reference
  docs/reference/REASONING_MODEL_FORMATS.md
Due: prettier --write

chore: bump version to 3.0.0-beta.57
  BACKLOG.md
  CURRENT.md
  package.json
  packages/common-types/package.json
  packages/embeddings/package.json
  packages/tooling/package.json
  scripts/data/import-personality/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  tests/package.json
Due: prettier --write, secretlint

test(common-types): add regression tests for LLM_CONFIG_OVERRIDE_KEYS
  packages/common-types/src/schemas/llmAdvancedParams.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint
