Repository lbds137/tzurot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["prettier --write", "eslint --fix --max-warnings=0 --no-warn-ignored"],
  "*.{md,json,yml,yaml}": ["prettier --write"],
  "*.{ts,tsx,js,jsx,json}": ["secretlint"]
}

fix(tooling): address PR #871 review feedback
  packages/tooling/src/release/draft-notes.test.ts
  packages/tooling/src/release/github-prs.test.ts
  packages/tooling/src/release/github-prs.ts
  packages/tooling/src/release/verify-notes.test.ts
  packages/tooling/src/release/verify-notes.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

refactor(bot-client): strip temporal refs + document maxLength: 0 defense
  services/bot-client/src/commands/character/truncationWarning.ts
  services/bot-client/src/utils/dashboard/ModalFactory.test.ts
  services/bot-client/src/utils/dashboard/ModalFactory.ts
  services/bot-client/src/utils/dashboard/types.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(ai-worker): pin Pass-1/Pass-2 double-extraction contract + document regex invariants
  services/ai-worker/src/utils/thinkingExtraction.test.ts
  services/ai-worker/src/utils/thinkingExtraction.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(repo): close preset defer-first Quick Win + track surfaced mock cleanup
  BACKLOG.md
Due: prettier --write

refactor(api-gateway): share token-shape check between bot-client and gateway
  packages/common-types/src/types/shapes-import.test.ts
  packages/common-types/src/types/shapes-import.ts
  services/api-gateway/src/routes/user/shapes/auth.test.ts
  services/api-gateway/src/routes/user/shapes/auth.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(tooling): release:finalize handles detached HEAD + extract ahead-count helper
  packages/tooling/src/release/finalize.test.ts
  packages/tooling/src/release/finalize.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(api-gateway): make preflight body-cancel rejection-safe
  services/api-gateway/src/services/ShapesPreflight.test.ts
  services/api-gateway/src/services/ShapesPreflight.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(tooling): document deliberate stdio + two-guard pattern on release:finalize
  packages/tooling/src/release/finalize.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(repo): backlog readme codecov badge 0% vs website 92.73% mismatch
  BACKLOG.md
Due: prettier --write

fix(tooling): address PR #871 fifth-cycle review feedback
  packages/tooling/src/commands/release.ts
  packages/tooling/src/release/github-prs.test.ts
  packages/tooling/src/release/github-prs.ts
  packages/tooling/src/release/verify-notes.test.ts
  packages/tooling/src/release/verify-notes.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

chore(ai-worker): post-beta.103 cleanup sweep — 4 backlog items closed
  BACKLOG.md
  packages/common-types/src/types/shapes-import.test.ts
  packages/common-types/src/types/shapes-import.ts
  packages/tooling/src/commands/release.ts
  packages/tooling/src/release/draft-notes.ts
  packages/tooling/src/release/github-prs.test.ts
  packages/tooling/src/release/github-prs.ts
  packages/tooling/src/release/notes-format.test.ts
  packages/tooling/src/release/notes-format.ts
  packages/tooling/src/release/verify-notes.ts
  services/ai-worker/src/services/voice/ttsSynthesizer.test.ts
  services/api-gateway/src/services/ShapesPreflight.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

chore: bump version to 3.0.0-beta.104
  package.json
  packages/common-types/package.json
  packages/embeddings/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  tests/package.json
Due: prettier --write, secretlint

test(api-gateway): pin the 'Preflight valid' observability contract
  services/api-gateway/src/services/ShapesPreflight.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

refactor(test-utils): extract createTestPGlite factory across 16 call sites
  BACKLOG.md
  packages/common-types/src/services/ConversationHistoryService.int.test.ts
  packages/common-types/src/services/ConversationRetentionService.int.test.ts
  packages/common-types/src/services/ConversationSyncService.int.test.ts
  packages/common-types/src/services/UserService.int.test.ts
  packages/common-types/src/services/personality/PersonalityService.int.test.ts
  packages/test-utils/package.json
  packages/test-utils/src/index.ts
  packages/test-utils/src/seed.int.test.ts
  packages/test-utils/src/setup-pglite.ts
  pnpm-lock.yaml
  services/ai-worker/src/jobs/AIJobProcessor.int.test.ts
  services/ai-worker/src/services/DuplicateDetectionFlow.int.test.ts
  services/ai-worker/src/services/LongTermMemoryService.int.test.ts
  services/ai-worker/src/services/PgvectorMemoryAdapter.int.test.ts
  services/api-gateway/src/routes/admin/AdminRoutes.int.test.ts
  services/api-gateway/src/routes/ai/AIRoutes.int.test.ts
  services/api-gateway/src/routes/user/llm-config.int.test.ts
  services/api-gateway/src/services/DatabaseSyncService.int.test.ts
  services/api-gateway/src/services/LlmConfigService.int.test.ts
  tests/e2e/database.e2e.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(ai-worker): strengthen GLM extractor UUID regex + extraction optimization
  services/ai-worker/src/utils/thinkingExtraction.test.ts
  services/ai-worker/src/utils/thinkingExtraction.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(repo): intake shapes.inc auth cookie migration proposal
  BACKLOG.md
  docs/proposals/backlog/shapes-inc-auth-cookie-migration.md
Due: prettier --write

test(tooling): pin pull-develop in sequence + extract captureCurrentBranch helper
  packages/tooling/src/release/finalize.test.ts
  packages/tooling/src/release/finalize.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix(bot-client): bump GatewayClient.submitJob timeout 10s → 60s (mitigation)
  BACKLOG.md
  services/bot-client/src/utils/GatewayClient.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(repo): clear shipped release:verify-notes item post pr #871 merge
  BACKLOG.md
Due: prettier --write

chore(repo): post-merge follow-ups from pr #870 review
  BACKLOG.md
  services/api-gateway/src/routes/user/shapes/auth.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(repo): remove speculative codecov badge backlog item
  BACKLOG.md
Due: prettier --write

feat(ai-worker): migrate shapes.inc session cookie from Auth0 to Better Auth
  packages/common-types/src/types/shapes-import.test.ts
  packages/common-types/src/types/shapes-import.ts
  services/ai-worker/src/jobs/ShapesExportJob.test.ts
  services/ai-worker/src/jobs/ShapesImportJob.test.ts
  services/ai-worker/src/services/shapes/ShapesDataFetcher.test.ts
  services/ai-worker/src/services/shapes/ShapesDataFetcher.ts
  services/ai-worker/src/services/shapes/shapesCookieParser.test.ts
  services/ai-worker/src/services/shapes/shapesCookieParser.ts
  services/api-gateway/src/routes/user/shapes/auth.test.ts
  services/api-gateway/src/routes/user/shapes/auth.ts
  services/api-gateway/src/routes/user/shapes/list.test.ts
  services/bot-client/src/commands/shapes/auth.test.ts
  services/bot-client/src/commands/shapes/auth.ts
  services/bot-client/src/commands/shapes/modal.test.ts
  services/bot-client/src/commands/shapes/modal.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(repo): close ShapesPreflight post-deploy verification Quick Win
  BACKLOG.md
Due: prettier --write

docs(repo): close maxLength lint Quick Win — shipped as PR #877
  BACKLOG.md
Due: prettier --write

docs(repo): session-end housekeeping for v3.0.0-beta.104 release
  BACKLOG.md
  CURRENT.md
Due: prettier --write

refactor(ai-worker): remove unused _parts param from processReasoningDetail
  services/ai-worker/src/utils/thinkingExtraction.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

refactor(api-gateway): use resolveProvisionedUserId in shapes auth delete/status handlers
  services/api-gateway/src/routes/user/shapes/auth.test.ts
  services/api-gateway/src/routes/user/shapes/auth.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

chore(bot-client): adopt MessageFlags.Ephemeral + DASHBOARD_MESSAGES in tests
  services/bot-client/src/commands/character/dashboardButtons.test.ts
  services/bot-client/src/commands/deny/detailEdit.ts
  services/bot-client/src/commands/persona/dashboard.test.ts
  services/bot-client/src/commands/preset/dashboard.test.ts
  services/bot-client/src/commands/preset/dashboardButtons.test.ts
  services/bot-client/src/utils/safeInteraction.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(repo): backlog hygiene after PR #880 merge
  BACKLOG.md
Due: prettier --write

docs(repo): descope Phase 6 per council review; track follow-ups
  BACKLOG.md
Due: prettier --write

refactor(api-gateway): address claude-bot review feedback on #881
  services/api-gateway/src/routes/user/memory.test.ts
  services/api-gateway/src/routes/user/memory.ts
  services/api-gateway/src/routes/user/memoryBatch.test.ts
  services/api-gateway/src/routes/user/memoryBatch.ts
  services/api-gateway/src/routes/user/memoryHelpers.test.ts
  services/api-gateway/src/routes/user/memoryHelpers.ts
  services/api-gateway/src/routes/user/memoryIncognito.test.ts
  services/api-gateway/src/routes/user/memoryIncognito.ts
  services/api-gateway/src/routes/user/memoryList.test.ts
  services/api-gateway/src/routes/user/memoryList.ts
  services/api-gateway/src/routes/user/memorySearch.test.ts
  services/api-gateway/src/routes/user/memorySearch.ts
  services/api-gateway/src/routes/user/memorySingle.test.ts
  services/api-gateway/src/routes/user/memorySingle.ts
  services/api-gateway/src/routes/user/personality/helpers.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

refactor(api-gateway): address second-pass review items on #881
  services/api-gateway/src/routes/user/personality/helpers.test.ts
  services/api-gateway/src/routes/user/personality/helpers.ts
  services/api-gateway/src/routes/user/personality/list.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

chore: address round-3 review — timezone.test.ts mock comment + backlog entries
  BACKLOG.md
  services/api-gateway/src/routes/user/timezone.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint
