Repository lbds137/tzurot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs: reset CURRENT.md for v3.0.0-beta.136 release
  CURRENT.md
Due: prettier --write

docs: reset CURRENT.md for v3.0.0-beta.137 + backlog the release-review follow-ups
  CURRENT.md
  backlog/cold/follow-ups.md
Due: prettier --write

docs(backlog): close DB-pool prod issue + promote Test-Pyramid epic
  backlog/active-epic.md
  backlog/cold/queue.md
  backlog/now.md
Due: prettier --write

docs(backlog): post-#1339 — record rename shipped + track epic loose-ends
  backlog/active-epic.md
  backlog/now.md
Due: prettier --write

feat: golden-fixture envelope contract + coverage-topology skeleton
  .prettierignore
  packages/test-utils/fixtures/contracts/raw-assembly-inputs/base.json
  packages/test-utils/fixtures/contracts/raw-assembly-inputs/with-extended-context.json
  packages/test-utils/src/contractFixtures.test.ts
  packages/test-utils/src/contractFixtures.ts
  packages/test-utils/src/index.ts
  packages/tooling/src/cli.ts
  packages/tooling/src/commands/topology.ts
  packages/tooling/src/topology/coverageTopology.test.ts
  packages/tooling/src/topology/coverageTopology.ts
  services/ai-worker/src/services/context/RawEnvelopeContract.consumer.component.test.ts
  services/bot-client/src/services/contextBuilder/RawEnvelopeContract.producer.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): record PR B (#1340) shipped + consolidate epic grab-bag
  backlog/active-epic.md
  backlog/now.md
Due: prettier --write

feat(tooling): code-derive the coverage topology from ROUTE_MANIFEST + jobs (Phase 2a)
  packages/tooling/src/commands/topology.ts
  packages/tooling/src/topology/coverageTopology.test.ts
  packages/tooling/src/topology/coverageTopology.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): record Phase 2a shipped (#1341) + scope Phase 2b
  backlog/active-epic.md
  backlog/now.md
Due: prettier --write

feat(tooling): verify coverage-topology mechanism presence + add drift gate
  .github/workflows/ci.yml
  .prettierignore
  package.json
  packages/tooling/coverage-topology.json
  packages/tooling/src/commands/topology.ts
  packages/tooling/src/topology/coverageTopology.test.ts
  packages/tooling/src/topology/coverageTopology.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): record Phase 2b shipped (#1342); grab-bag the 2 review nits
  backlog/active-epic.md
  backlog/now.md
Due: prettier --write

fix(api-gateway): bound + self-label the conversation-persist DB hang via a fast pool
  backlog/cold/follow-ups.md
  backlog/now.md
  packages/common-types/src/services/poolConfig.test.ts
  packages/common-types/src/services/poolConfig.ts
  packages/common-types/src/services/prisma.test.ts
  packages/common-types/src/services/prisma.ts
  services/api-gateway/src/index.ts
  services/api-gateway/src/routes/internal/conversationAssistantMessage.test.ts
  services/api-gateway/src/routes/internal/conversationAssistantMessage.ts
  services/api-gateway/src/routes/internal/conversationUserMessage.test.ts
  services/api-gateway/src/routes/internal/conversationUserMessage.ts
  services/api-gateway/src/routes/routeDeps.ts
  services/api-gateway/src/utils/dbTimeout.test.ts
  services/api-gateway/src/utils/dbTimeout.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): file PR #1343 round-2 review nits (fast-pool polish)
  backlog/cold/follow-ups.md
Due: prettier --write

feat(tooling): extend test:audit to cover extracted-package Prisma services
  .github/baselines/test-coverage-baseline.json
  packages/tooling/src/test/audit-unified.test.ts
  packages/tooling/src/test/audit-unified.ts
  packages/tooling/src/test/audit-version.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): record council decision to retire the standalone test:tier-audit ratchet
  backlog/active-epic.md
  backlog/cold/follow-ups.md
  backlog/cold/themes/test-pyramid-coverage-audit.md
  backlog/now.md
Due: prettier --write

test(ai-worker): add ContextAssembler PGLite component tests for the 4 mocked-only seams
  services/ai-worker/src/services/context/ContextAssembler.component.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): record Phase 3 gap-fill shipped (#1345); epic headlines complete
  backlog/active-epic.md
  backlog/cold/follow-ups.md
  backlog/now.md
Due: prettier --write

test: use real Redis everywhere in component tests; drop the mock
  packages/common-types/src/structure.test.ts
  packages/test-utils/src/RedisClientMock.ts
  packages/test-utils/src/index.ts
  packages/test-utils/src/setup-pglite.ts
  services/bot-client/src/services/RedisService.component.test.ts
  vitest.component.config.ts
  vitest.integration.config.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): redirect test-pyramid epic to Phase 4 (Seam Contract Coverage)
  backlog/active-epic.md
  backlog/cold/follow-ups.md
  backlog/now.md
Due: prettier --write

test: make the contract tier honest and run it in CI
  .github/workflows/ci.yml
  packages/tooling/src/topology/coverageTopology.ts
  services/ai-worker/src/services/context/RawEnvelopeContract.consumer.contract.test.ts
  tests/e2e/database.integration.test.ts
  tests/package.json
  vitest.config.ts
  vitest.integration.config.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

ci: drop dead Postgres test infra, rename integration-tests -> component-tests
  .github/workflows/ci.yml
  README.md
  backlog/cold/follow-ups.md
  codecov.yml
  docs/reference/guides/TESTING.md
  packages/tooling/src/test/test-tiers.test.ts
  packages/tooling/src/test/tier-report.test.ts
  services/bot-client/src/services/contextBuilder/RawEnvelopeContract.producer.test.ts
  tests/package.json
  vitest.component.config.ts
  vitest.integration.config.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): mark Phase-4 PR2 shipped (#1347); add PR7 + move ratchet last
  backlog/active-epic.md
  backlog/now.md
Due: prettier --write

fix(ai-worker): fast-fallback on z.ai overload + correct footer model-link
  packages/common-types/src/constants/ai.test.ts
  packages/common-types/src/constants/ai.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/GenerationStep.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/RetryDecisionHelper.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/autoPromotionFallback.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/autoPromotionFallback.ts
  services/ai-worker/src/services/ConversationalRAGService.ts
  services/ai-worker/src/services/ConversationalRAGTypes.ts
  services/ai-worker/src/services/LLMInvoker.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

fix: dedupe bot-voice transcripts and disambiguate same-display-name personalities
  backlog/cold/follow-ups.md
  packages/conversation-history/src/ConversationMessageMapper.test.ts
  packages/conversation-history/src/ConversationMessageMapper.ts
  services/ai-worker/src/jobs/utils/conversationTypes.ts
  services/ai-worker/src/jobs/utils/conversationUtils.test.ts
  services/ai-worker/src/jobs/utils/conversationUtils.ts
  services/ai-worker/src/services/context/ContextAssembler.test.ts
  services/ai-worker/src/services/context/ContextAssembler.ts
  services/ai-worker/src/services/context/PrismaContextDataSource.test.ts
  services/ai-worker/src/services/context/PrismaContextDataSource.ts
  services/ai-worker/src/services/context/types.ts
  services/bot-client/src/services/DiscordChannelFetcher.test.ts
  services/bot-client/src/services/DiscordChannelFetcher.ts
  services/bot-client/src/services/RedisService.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

feat(common-types): show the serving provider explicitly in the model footer
  backlog/cold/follow-ups.md
  packages/common-types/src/constants/discord.test.ts
  packages/common-types/src/constants/discord.ts
  packages/common-types/src/utils/discord.test.ts
  services/bot-client/src/services/DiscordResponseSender.test.ts
  services/bot-client/src/services/DiscordResponseSender.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored, secretlint

docs(backlog): track voice-provider label-map edge from PR #1350 review
  backlog/cold/follow-ups.md
Due: prettier --write

chore: bump version to 3.0.0-beta.138
  package.json
  packages/cache-invalidation/package.json
  packages/clients/package.json
  packages/common-types/package.json
  packages/config-resolver/package.json
  packages/conversation-history/package.json
  packages/embeddings/package.json
  packages/identity/package.json
  packages/test-factories/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  tests/package.json
Due: prettier --write, secretlint

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{md,json,yml,yaml})
  eslint --fix --max-warnings=0 --no-warn-ignored: any of: *.{ts,tsx}
  secretlint: any of: *.{ts,tsx,js,jsx,json}
