Repository lbds137/tzurot: changes, and which Codecov flags are due for each by the changed paths.
All: ai-worker, api-gateway, bot-client, common-types, integration

docs(backlog): task-4 — banner-precision + dev-banner dedup members from the 2120 review
  tracker/tasks/task-4 - extract-the-shared-env-scoped-op-preamble-validateEnvironment-banner-prod-confir.md
Due: none

fix(bot-client): gate the retention nag to prod; confirm retention purge+notify in every env
  packages/tooling/src/commands/retention.ts
  packages/tooling/src/retention/notify.test.ts
  packages/tooling/src/retention/notify.ts
  packages/tooling/src/retention/purge.test.ts
  packages/tooling/src/retention/purge.ts
  services/bot-client/src/services/RetentionNagScheduler.test.ts
  services/bot-client/src/services/RetentionNagScheduler.ts
Due: bot-client, integration

docs(backlog): beta.203 waiting-on empties — TASK-626 (#2119) + TASK-634 (#2120) merged
  backlog/now.md
  tracker/tasks/task-626 - Durability-hardening-retry-assistant-persists-resolve-chunk-skip-webhook-DM-id-asymmetry.md
  tracker/tasks/task-634 - Dev-retention-nag-recommends-a-purge-whose-deletions-would-sync-to-prod.md
Due: none

chore: bump version to 3.0.0-beta.203
  package.json
  packages/cache-invalidation/package.json
  packages/clients/package.json
  packages/common-types/package.json
  packages/config-resolver/package.json
  packages/conversation-history/package.json
  packages/embeddings/package.json
  packages/identity/package.json
  packages/test-factories/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  services/website/package.json
  tests/package.json
Due: ai-worker, api-gateway, bot-client, common-types, integration

fix(bot-client): retry the assistant persist; align webhook/DM chunk-id semantics
  services/bot-client/src/handlers/MessageHandler.test.ts
  services/bot-client/src/handlers/MessageHandler.ts
  services/bot-client/src/services/ConversationPersistence.test.ts
  services/bot-client/src/services/ConversationPersistence.ts
  services/bot-client/src/services/DiscordResponseSender.test.ts
  services/bot-client/src/services/DiscordResponseSender.ts
  services/bot-client/src/utils/gatewayWriteHelpers.test.ts
  services/bot-client/src/utils/gatewayWriteHelpers.ts
Due: bot-client, integration

docs(backlog): file task-633 (guest-note trace-back) + task-634 (dev retention footgun)
  tracker/tasks/task-633 - Guest-note-trace-back-lost-when-a-later-retarget-overwrites-it.md
  tracker/tasks/task-634 - Dev-retention-nag-recommends-a-purge-whose-deletions-would-sync-to-prod.md
Due: none

feat(common-types): add glm-5.3 to the z.ai coding-plan catalog
  packages/common-types/src/constants/ai.test.ts
  packages/common-types/src/constants/ai.ts
Due: common-types, integration

docs(backlog): file task-635 — mid-stream chunk failure discards delivered ids
  tracker/tasks/task-635 - Mid-stream-multi-chunk-send-failure-discards-already-delivered-chunk-ids.md
Due: none

fix(ai-worker): image-only reference stubs carry a truncated media preview
  services/ai-worker/src/services/ReferencedMessageFormatter.test.ts
  services/ai-worker/src/services/ReferencedMessageFormatter.ts
  services/ai-worker/src/services/prompt/RenderableReference.test.ts
  services/ai-worker/src/services/prompt/RenderableReference.ts
  services/ai-worker/src/services/prompt/storedReference.component.test.ts
Due: ai-worker, integration

docs(docs): update reasoning-formats doc for the z.ai translation split
  docs/reference/REASONING_MODEL_FORMATS.md
Due: none

docs(backlog): beta.203 close-out wave — doc-77 theme complete, 4 riders shipped
  backlog/now.md
  tracker/docs/doc-77 - Theme-OpenRouter-to-z.ai-request-normalization-gates-GLM-5.3-support.md
  tracker/tasks/task-609 - GLM-5.3-reportedly-removes-reasoning-off-our-effort-none-level-may-become-invalid.md
  tracker/tasks/task-620 - Guest-mode-free-model-substitution-is-invisible-in-the-message-footer.md
  tracker/tasks/task-629 - Image-only-referenced-messages-render-a-contentless-dedup-stub.md
  tracker/tasks/task-630 - Cache-observability-log-channel-gap-prefix-boundary-hashes-beside-cachedPromptTokens.md
Due: none

docs(backlog): task-628 — ModelFactory polish nits routed from #2112 round 6
  tracker/tasks/task-628 - ModelFactory-polish-mode-aware-filter-log-complete-AIProvider-test-mock.md
Due: none

docs(backlog): doc-77 pr-c shipped (#2114) — board close-out + task-632 filed
  backlog/now.md
  tracker/docs/doc-77 - Theme-OpenRouter-to-z.ai-request-normalization-gates-GLM-5.3-support.md
  tracker/tasks/task-632 - thinkingValidation-polish-malformed-entry-log-wording-provider-agnostic-best-effort-message.md
Due: none

docs(backlog): doc-77 PR B step 0 probe results — translation table validated live
  tracker/docs/doc-77 - Theme-OpenRouter-to-z.ai-request-normalization-gates-GLM-5.3-support.md
Due: none

fix(tooling): strip comments inside dollar bodies; advance by source span length
  packages/tooling/src/release/premigrate.test.ts
  packages/tooling/src/release/premigrate.ts
Due: integration

docs(backlog): record pr-b dev smoke pass + glm-5.3 probe results
  backlog/now.md
  tracker/docs/doc-77 - Theme-OpenRouter-to-z.ai-request-normalization-gates-GLM-5.3-support.md
Due: none

fix(tooling): strip SQL comments before the premigrate destructive-shape scan
  packages/tooling/src/release/premigrate.test.ts
  packages/tooling/src/release/premigrate.ts
Due: integration

docs(backlog): beta.203 riders point at their tracker tasks; focus entry marks #2110 shipped
  backlog/now.md
Due: none

docs(backlog): file task-629 — image-only reference stubs are contentless
  tracker/tasks/task-629 - Image-only-referenced-messages-render-a-contentless-dedup-stub.md
Due: none

fix(tooling): track double-quoted identifiers and own the statement split in the SQL walker
  packages/tooling/src/release/premigrate.test.ts
  packages/tooling/src/release/premigrate.ts
Due: integration

feat(api-gateway): save-time thinking validation warnings (doc-77 PR C)
  docs/reference/REASONING_MODEL_FORMATS.md
  packages/common-types/src/constants/ai.test.ts
  packages/common-types/src/constants/ai.ts
  packages/common-types/src/schemas/api/llm-config.test.ts
  packages/common-types/src/schemas/api/llm-config.ts
  packages/common-types/src/types/ai.ts
  packages/test-factories/src/llm-config.ts
  services/api-gateway/src/routes/admin/configResponseContract.test.ts
  services/api-gateway/src/routes/admin/llm-config.test.ts
  services/api-gateway/src/routes/admin/llm-config.ts
  services/api-gateway/src/routes/conformance/fixtures/harness.ts
  services/api-gateway/src/routes/user/llm-config.test.ts
  services/api-gateway/src/routes/user/llm-config.ts
  services/api-gateway/src/routes/user/model-override.test.ts
  services/api-gateway/src/services/ModelCapabilityService.test.ts
  services/api-gateway/src/services/ModelCapabilityService.ts
  services/api-gateway/src/services/OpenRouterModelCache.test.ts
  services/api-gateway/src/services/OpenRouterModelCache.ts
  services/api-gateway/src/utils/llmConfigValidation.test.ts
  services/api-gateway/src/utils/llmConfigValidation.ts
  services/api-gateway/src/utils/modelValidation.test.ts
  services/api-gateway/src/utils/thinkingValidation.test.ts
  services/api-gateway/src/utils/thinkingValidation.ts
  services/bot-client/src/commands/preset/api.test.ts
  services/bot-client/src/commands/preset/api.ts
  services/bot-client/src/commands/preset/cloneName.test.ts
  services/bot-client/src/commands/preset/cloneName.ts
  services/bot-client/src/commands/preset/create.test.ts
  services/bot-client/src/commands/preset/create.ts
  services/bot-client/src/commands/preset/dashboard.test.ts
  services/bot-client/src/commands/preset/dashboard.ts
  services/bot-client/src/commands/preset/dashboardButtons.test.ts
  services/bot-client/src/commands/preset/dashboardButtons.ts
  services/bot-client/src/commands/preset/import.test.ts
  services/bot-client/src/commands/preset/import.ts
  services/bot-client/src/commands/preset/warningsEmbed.test.ts
  services/bot-client/src/commands/preset/warningsEmbed.ts
Due: api-gateway, bot-client, common-types, integration

docs(backlog): task-617 done via #2113; file task-631 hook-gating follow-up
  tracker/tasks/task-617 - Orchestration-spec-template-branch-setup-must-name-an-explicit-base-SHA.md
  tracker/tasks/task-631 - Hook-gate-the-worktree-self-heal-reset-AND-chain.md
Due: none

docs(backlog): file TASK-627 — premigrate scan residuals from the #2111 review
  tracker/tasks/task-627 - premigrate-scan-residuals-quoted-identifier-case-folding-ALTER-COLUMN-TYPE-bound-vs-dollar-body-semicolons.md
Due: none

feat(ai-worker): cache observability on the generated-response log line
  services/ai-worker/src/jobs/utils/conversationUtils.ts
  services/ai-worker/src/services/ConversationalRAGService.test.ts
  services/ai-worker/src/services/ConversationalRAGService.ts
  services/ai-worker/src/services/ConversationalRAGTypes.ts
  services/ai-worker/src/services/cacheObservability.test.ts
  services/ai-worker/src/services/cacheObservability.ts
Due: ai-worker, integration

docs(backlog): doc-77 PR B shipped (#2112) — board and theme doc closed out
  backlog/now.md
  tracker/docs/doc-77 - Theme-OpenRouter-to-z.ai-request-normalization-gates-GLM-5.3-support.md
Due: none

docs(backlog): file task-630 — cache observability instrumentation
  tracker/tasks/task-630 - Cache-observability-log-channel-gap-prefix-boundary-hashes-beside-cachedPromptTokens.md
Due: none

docs(backlog): beta.203 rider set settled — 620/626/629/630 in, 628 to drain
  backlog/now.md
Due: none

docs(backlog): file TASK-626 — the durability-hardening rider, recovered from session record
  tracker/tasks/task-626 - Durability-hardening-retry-assistant-persists-resolve-chunk-skip-webhook-DM-id-asymmetry.md
Due: none

fix(tooling): mask literal and dollar-body content from the CREATE-registration scan
  packages/tooling/src/release/premigrate.test.ts
  packages/tooling/src/release/premigrate.ts
Due: integration

docs: release close-out — v3.0.0-beta.202 shipped; draft the beta.203 plan
  CURRENT.md
  backlog/now.md
Due: none

docs(skills): worktree base is stale by default — dispatch with self-heal, not verify-and-stop
  .claude/rules/00-critical.md
  .claude/skills/tzurot-orchestration/SKILL.md
Due: none

docs(backlog): beta.203 plan — show_thinking retirement shipped (#2110)
  backlog/now.md
Due: none

feat(ai-worker): announce the guest-mode model substitution in the footer
  packages/common-types/src/constants/discord.test.ts
  packages/common-types/src/constants/discord.ts
  packages/common-types/src/constants/error.ts
  packages/common-types/src/types/schemas/generation.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/AuthStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/AuthStep.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/guestModeOverrides.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/guestModeOverrides.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/quotaFallbackRunner.test.ts
  services/ai-worker/src/services/quotaFallback.ts
Due: ai-worker, common-types, integration

feat(ai-worker): translate thinking level to z.ai protocol, flip param filter to allowlist
  services/ai-worker/src/services/ModelFactory.test.ts
  services/ai-worker/src/services/ModelFactory.ts
  services/ai-worker/src/services/modelFactory/thinkingTranslation.test.ts
  services/ai-worker/src/services/modelFactory/thinkingTranslation.ts
Due: ai-worker, integration

Path conditions:
  ai-worker: any of: services/ai-worker/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  api-gateway: any of: services/api-gateway/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  bot-client: any of: services/bot-client/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  common-types: any of: packages/common-types/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  integration: any of: services/, packages/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
