Repository lbds137/tzurot: changes, and which Codecov flags are due for each by the changed paths.
All: ai-worker, api-gateway, bot-client, common-types, integration

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 2%
        informational: false
    patch:
      default:
        target: 80%
        threshold: 5%
        informational: false

comment:
  layout: 'reach,diff,flags,tree,files'
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flag_management:
  default_rules:
    carryforward: true

flags:
  ai-worker:
    paths:
      - services/ai-worker/
  api-gateway:
    paths:
      - services/api-gateway/
  bot-client:
    paths:
      - services/bot-client/
  common-types:
    paths:
      - packages/common-types/
  # Integration tests cover all services
  integration:
    paths:
      - services/
      - packages/

ignore:
  - '**/*.test.ts'
  - '**/*.spec.ts'
  - '**/dist/**'
  - '**/node_modules/**'
  - 'scripts/**'
  - 'tzurot-legacy/**'

docs(backlog): file railway-redeploy linked-env gotcha for the deployment skill
  backlog/cold/follow-ups.md
Due: none

feat(ai-worker): memory 1b slice 0 — fact eval bench (pool + policy simulator)
  backlog/cold/follow-ups.md
  package.json
  services/ai-worker/src/services/eval/factPoolScoring.test.ts
  services/ai-worker/src/services/eval/factPoolScoring.ts
  services/ai-worker/src/services/eval/factPooling.eval.test.ts
  services/ai-worker/src/services/eval/foldAwarePooling.eval.test.ts
Due: ai-worker, integration

fix: persist voice-engine model caches on the Railway volume
  backlog/now.md
  services/voice-engine/Dockerfile
Due: integration

ci: path-filtered docker build smoke for all four service images
  .github/workflows/ci.yml
  services/bot-client/Dockerfile
Due: bot-client, integration

docs(backlog): file #1640 review follow-ups — root dockerignore + ruleset context
  backlog/cold/follow-ups.md
Due: none

chore: bump version to 3.0.0-beta.164
  backlog/now.md
  package.json
  packages/cache-invalidation/package.json
  packages/clients/package.json
  packages/common-types/package.json
  packages/config-resolver/package.json
  packages/conversation-history/package.json
  packages/embeddings/package.json
  packages/identity/package.json
  packages/test-factories/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  tests/package.json
Due: ai-worker, api-gateway, bot-client, common-types, integration

docs(backlog): prod db-sync clean on beta.163 — hang gone, mechanism unproven
  backlog/now.md
Due: none

chore: block origin-language dismissals at the review and merge gates
  .claude/hooks/pr-merge-review-check.sh
  .claude/rules/08-review-response.md
Due: none

feat(bot-client): stt wait feedback + retry-aware unavailable error
  packages/common-types/src/utils/errors.test.ts
  packages/common-types/src/utils/errors.ts
  services/bot-client/src/services/VoiceTranscriptionService.test.ts
  services/bot-client/src/services/VoiceTranscriptionService.ts
  services/bot-client/src/utils/gatewayServiceCalls.test.ts
  services/bot-client/src/utils/gatewayServiceCalls.ts
Due: bot-client, common-types, integration

docs(backlog): pin the identity-vs-semantic forget-guard gap on the 1b feedback entry
  backlog/now.md
Due: none

perf(ai-worker): parallelize TTS chunk synthesis (capped to match voice-engine)
  services/ai-worker/src/services/voice/ttsSynthesizer.test.ts
  services/ai-worker/src/services/voice/ttsSynthesizer.ts
Due: ai-worker, integration

docs(backlog): voice-engine theme close-out (#1633 + #1634)
  CURRENT.md
  backlog/cold/follow-ups.md
  backlog/cold/queue.md
  backlog/cold/themes/voice-engine.md
  backlog/now.md
  docs/research/ten-turn-detection.md
Due: none

docs(backlog): file #1635/#1636 close-out — BYOK-signal follow-up + CURRENT
  CURRENT.md
  backlog/cold/follow-ups.md
Due: none

fix(ai-worker): halt orphaned TTS work when the outer budget expires
  packages/common-types/src/services/tts/TtsProvider.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/TTSStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/TTSStep.ts
  services/ai-worker/src/services/voice/TtsDispatcher.test.ts
  services/ai-worker/src/services/voice/TtsDispatcher.ts
  services/ai-worker/src/services/voice/providers/SelfHostedTtsProvider.test.ts
  services/ai-worker/src/services/voice/providers/SelfHostedTtsProvider.ts
  services/ai-worker/src/services/voice/ttsSynthesizer.test.ts
  services/ai-worker/src/services/voice/ttsSynthesizer.ts
Due: ai-worker, common-types, integration

docs(repo): beta.163 shipped — finishing-first day wrapped; backfill-sync correction
  CURRENT.md
  backlog/now.md
Due: none

docs(repo): beta.164 shipped — HF outage day close-out + 1b critical path staged
  CURRENT.md
  backlog/cold/follow-ups.md
Due: none

docs(backlog): file the rehydration-wedge incident — full runtime trail
  backlog/now.md
Due: none

docs(repo): sequenced handoff for fresh session — backfill-pace gate first
  CURRENT.md
Due: none

docs(repo): backfill verdict (queue drained, 1b gate open) + wedge PR status
  CURRENT.md
  backlog/now.md
Due: none

fix: multi-tag wedge — safety-flush re-poll, original-deadline re-arm, TTS audio TTL
  packages/common-types/src/constants/message.test.ts
  packages/common-types/src/constants/message.ts
  packages/common-types/src/constants/queue.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/TTSStep.test.ts
  services/ai-worker/src/services/RedisService.test.ts
  services/ai-worker/src/services/RedisService.ts
  services/bot-client/src/composition.ts
  services/bot-client/src/index.ts
  services/bot-client/src/services/MultiTagCoordinator.test.ts
  services/bot-client/src/services/MultiTagCoordinator.ts
  services/bot-client/src/services/MultiTagRecovery.test.ts
  services/bot-client/src/services/MultiTagRecovery.ts
  services/bot-client/src/services/multiTagRecoveryHelpers.test.ts
  services/bot-client/src/services/multiTagRecoveryHelpers.ts
Due: ai-worker, bot-client, common-types, integration

docs(backlog): remove the two follow-ups this fix discharges
  backlog/cold/follow-ups.md
Due: none

docs(repo): mark wedge fixes (a)+(c) merged (#1642); (b) stays open
  CURRENT.md
  backlog/now.md
Due: none

feat(ai-worker): fact-scoring glue — the memory 1b weight-sim runner
  package.json
  services/ai-worker/src/services/eval/factScoring.eval.test.ts
Due: none

docs(repo): record the 1b weight-sim verdict — composite scoring refuted
  CURRENT.md
  backlog/active-epic.md
Due: none

docs(repo): add #1643 to the unreleased ledger
  CURRENT.md
Due: none
