Repository lbds137/tzurot: changes, and which Codecov flags are due for each by the changed paths.
All: ai-worker, api-gateway, bot-client, common-types, integration

fix: continue bot-client typecheck:spec fixes (216→143 errors)
  BACKLOG.md
  Claude Code mastery - A solo developer's complete optimization guide.md
  services/bot-client/src/commands/channel/settings.test.ts
  services/bot-client/src/commands/character/api.test.ts
  services/bot-client/src/commands/character/autocomplete.test.ts
  services/bot-client/src/commands/character/avatar.test.ts
  services/bot-client/src/commands/character/config.test.ts
  services/bot-client/src/commands/character/create.test.ts
  services/bot-client/src/commands/character/edit.test.ts
  services/bot-client/src/commands/character/export.test.ts
  services/bot-client/src/commands/character/import.test.ts
  services/bot-client/src/commands/character/settings.test.ts
  services/bot-client/src/commands/character/template.test.ts
  services/bot-client/src/commands/history/clear.test.ts
  services/bot-client/src/commands/history/hard-delete.test.ts
  services/bot-client/src/commands/history/index.test.ts
  services/bot-client/src/commands/history/stats.test.ts
  services/bot-client/src/commands/history/undo.test.ts
  services/bot-client/src/commands/memory/batchDelete.test.ts
  services/bot-client/src/commands/memory/detail.test.ts
  services/bot-client/src/commands/memory/focus.test.ts
  services/bot-client/src/commands/memory/incognito.test.ts
  services/bot-client/src/commands/memory/purge.test.ts
  services/bot-client/src/commands/memory/stats.test.ts
  services/bot-client/src/commands/preset/config.test.ts
  services/bot-client/src/handlers/CommandHandler.test.ts
Due: none

fix: correct weigh-in mode content and error handling in /character chat
  services/bot-client/src/commands/character/chat.test.ts
  services/bot-client/src/commands/character/chat.ts
  services/bot-client/src/handlers/MessageHandler.ts
  services/bot-client/src/services/MessageContextBuilder.ts
  services/bot-client/src/utils/buildErrorContent.test.ts
  services/bot-client/src/utils/buildErrorContent.ts
Due: bot-client, integration

fix: add configurable timeout to gateway API calls and fix guest mode detection
  services/bot-client/src/commands/persona/api.test.ts
  services/bot-client/src/commands/persona/api.ts
  services/bot-client/src/commands/persona/browse.test.ts
  services/bot-client/src/commands/persona/browse.ts
  services/bot-client/src/commands/persona/dashboard.test.ts
  services/bot-client/src/commands/persona/edit.test.ts
  services/bot-client/src/commands/preset/browse.test.ts
  services/bot-client/src/commands/preset/browse.ts
  services/bot-client/src/commands/settings/apikey/browse.test.ts
  services/bot-client/src/commands/settings/apikey/browse.ts
  services/bot-client/src/commands/settings/preset/browse.test.ts
  services/bot-client/src/commands/settings/preset/browse.ts
  services/bot-client/src/commands/settings/preset/default.test.ts
  services/bot-client/src/commands/settings/preset/default.ts
  services/bot-client/src/commands/settings/preset/handlers.test.ts
  services/bot-client/src/commands/settings/preset/set.test.ts
  services/bot-client/src/commands/settings/preset/set.ts
  services/bot-client/src/commands/settings/timezone/get.test.ts
  services/bot-client/src/commands/settings/timezone/get.ts
  services/bot-client/src/utils/userGatewayClient.test.ts
  services/bot-client/src/utils/userGatewayClient.ts
Due: bot-client, integration

feat: scale maxTokens for reasoning models based on thinking effort
  packages/common-types/src/constants/ai.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/GenerationStep.ts
  services/ai-worker/src/services/ModelFactory.test.ts
  services/ai-worker/src/services/ModelFactory.ts
Due: ai-worker, common-types, integration

fix: address PR review feedback for weigh-in mode and gateway timeouts
  packages/common-types/src/constants/ai.ts
  packages/common-types/src/constants/discord.ts
  packages/common-types/src/constants/index.ts
  packages/common-types/src/types/api-types.ts
  packages/common-types/src/types/api.schema.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/GenerationStep.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/RetryDecisionHelper.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/RetryDecisionHelper.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/contextCloner.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/contextCloner.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/diagnosticStorage.ts
  services/bot-client/src/commands/character/chat.ts
  services/bot-client/src/commands/persona/api.test.ts
  services/bot-client/src/commands/persona/browse.test.ts
  services/bot-client/src/commands/persona/edit.test.ts
  services/bot-client/src/commands/settings/apikey/browse.test.ts
  services/bot-client/src/commands/settings/preset/handlers.test.ts
  services/bot-client/src/commands/settings/timezone/get.test.ts
  services/bot-client/src/services/MessageContextBuilder.ts
  services/bot-client/src/utils/userGatewayClient.ts
Due: ai-worker, bot-client, common-types, integration

fix: disambiguate user message when persona name matches personality
  services/ai-worker/src/services/ContentBudgetManager.test.ts
  services/ai-worker/src/services/ContentBudgetManager.ts
  services/ai-worker/src/services/ConversationalRAGService.test.ts
  services/ai-worker/src/services/ConversationalRAGService.ts
  services/ai-worker/src/services/PromptBuilder.test.ts
  services/ai-worker/src/services/PromptBuilder.ts
Due: ai-worker, integration

chore: bump version to 3.0.0-beta.65
  package.json
Due: none

refactor: extract conversationUtils.ts into modular files
  services/ai-worker/src/jobs/utils/conversationLengthEstimator.ts
  services/ai-worker/src/jobs/utils/conversationTypes.ts
  services/ai-worker/src/jobs/utils/conversationUtils.ts
  services/ai-worker/src/jobs/utils/index.ts
  services/ai-worker/src/jobs/utils/langchainConverter.ts
  services/ai-worker/src/jobs/utils/participantUtils.ts
  services/ai-worker/src/jobs/utils/xmlMetadataFormatters.ts
Due: ai-worker, integration

refactor: extract DiscordChannelFetcher and MessageContextBuilder into modular files
  services/bot-client/src/services/DiscordChannelFetcher.ts
  services/bot-client/src/services/MessageContextBuilder.ts
  services/bot-client/src/services/channelFetcher/HistoryMerger.ts
  services/bot-client/src/services/channelFetcher/ParticipantContextCollector.ts
  services/bot-client/src/services/channelFetcher/ReactionProcessor.ts
  services/bot-client/src/services/channelFetcher/SyncValidator.ts
  services/bot-client/src/services/channelFetcher/index.ts
  services/bot-client/src/services/channelFetcher/messageTypeFilters.ts
  services/bot-client/src/services/channelFetcher/types.ts
  services/bot-client/src/services/contextBuilder/ExtendedContextPersonaResolver.ts
  services/bot-client/src/services/contextBuilder/GuildMemberResolver.ts
  services/bot-client/src/services/contextBuilder/UserContextResolver.ts
  services/bot-client/src/services/contextBuilder/index.ts
Due: bot-client, integration

refactor: extract ConversationalRAGService into modular components
  services/ai-worker/src/services/ConversationInputProcessor.ts
  services/ai-worker/src/services/ConversationalRAGService.ts
  services/ai-worker/src/services/MemoryPersistenceService.ts
  services/ai-worker/src/services/ResponsePostProcessor.ts
Due: ai-worker, integration

test: add unit tests for Phase 1 extracted modules
  BACKLOG.md
  services/ai-worker/src/services/ConversationInputProcessor.test.ts
  services/ai-worker/src/services/MemoryPersistenceService.test.ts
  services/ai-worker/src/services/ResponsePostProcessor.test.ts
  services/bot-client/src/services/channelFetcher/HistoryMerger.test.ts
  services/bot-client/src/services/channelFetcher/ParticipantContextCollector.test.ts
  services/bot-client/src/services/channelFetcher/messageTypeFilters.test.ts
  services/bot-client/src/services/contextBuilder/GuildMemberResolver.test.ts
  services/bot-client/src/services/contextBuilder/UserContextResolver.test.ts
Due: none

docs: update CURRENT.md and BACKLOG.md for Phase 1 completion
  BACKLOG.md
  CURRENT.md
Due: none

fix: resolve TypeScript errors in new test files
  services/bot-client/src/services/channelFetcher/HistoryMerger.test.ts
  services/bot-client/src/services/channelFetcher/ParticipantContextCollector.test.ts
  services/bot-client/src/services/channelFetcher/messageTypeFilters.test.ts
  services/bot-client/src/services/contextBuilder/UserContextResolver.test.ts
Due: none

fix: resolve TypeScript errors in ai-worker test files
  services/ai-worker/src/services/ConversationInputProcessor.test.ts
  services/ai-worker/src/services/MemoryPersistenceService.test.ts
Due: none

fix: resolve pino logger undefined error in RetryDecisionHelper
  services/ai-worker/src/jobs/handlers/pipeline/steps/RetryDecisionHelper.ts
Due: ai-worker, integration

chore: consolidate dependency updates from PRs #567-572
  package.json
  pnpm-lock.yaml
Due: none

docs: update CURRENT.md and BACKLOG.md
  BACKLOG.md
  CURRENT.md
Due: none

test: add pino binding integration test for RetryDecisionHelper
  services/ai-worker/src/jobs/handlers/pipeline/steps/RetryDecisionHelper.int.test.ts
Due: none

docs: update CURRENT.md with accurate Phase 2 status
  CURRENT.md
Due: none

Path conditions:
  ai-worker: any of: services/ai-worker/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  api-gateway: any of: services/api-gateway/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  bot-client: any of: services/bot-client/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  common-types: any of: packages/common-types/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  integration: any of: services/, packages/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
