Repository lbds137/tzurot: changes, and which Codecov flags are due for each by the changed paths.
All: ai-worker, api-gateway, bot-client, common-types, integration

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 2%
        informational: false
    patch:
      default:
        target: 80%
        threshold: 5%
        informational: false

comment:
  layout: 'reach,diff,flags,tree,files'
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flag_management:
  default_rules:
    carryforward: true

flags:
  ai-worker:
    paths:
      - services/ai-worker/
  api-gateway:
    paths:
      - services/api-gateway/
  bot-client:
    paths:
      - services/bot-client/
  common-types:
    paths:
      - packages/common-types/
  # Integration tests cover all services
  integration:
    paths:
      - services/
      - packages/

ignore:
  - '**/*.test.ts'
  - '**/*.spec.ts'
  - '**/dist/**'
  - '**/node_modules/**'
  - 'scripts/**'
  - 'tzurot-legacy/**'

feat(tooling): add route codegen — generates typed client classes
  .prettierignore
  eslint.config.js
  knip.json
  packages/common-types/src/clients/_generated/owner-client.ts
  packages/common-types/src/clients/_generated/service-client.ts
  packages/common-types/src/clients/_generated/user-client.ts
  packages/common-types/src/index.ts
  packages/common-types/src/structure.test.ts
  packages/tooling/package.json
  packages/tooling/src/cli.ts
  packages/tooling/src/codegen/client-builder.test.ts
  packages/tooling/src/codegen/client-builder.ts
  packages/tooling/src/codegen/header.test.ts
  packages/tooling/src/codegen/header.ts
  packages/tooling/src/codegen/method-builder.test.ts
  packages/tooling/src/codegen/method-builder.ts
  packages/tooling/src/codegen/routes.test.ts
  packages/tooling/src/codegen/routes.ts
  packages/tooling/src/commands/codegen.ts
  pnpm-lock.yaml
Due: common-types, integration

fix(ci): exclude _generated/ and route manifest from CPD + codecov
  .jscpd.json
  codecov.yml
Due: none

ci: enforce route-manifest / generated-client drift
  .github/workflows/ci.yml
Due: none

fix(common-types): wire missing input schemas on 3 user mutation routes
  packages/common-types/src/clients/_generated/user-client.ts
  packages/common-types/src/routes/user/resources.ts
Due: common-types, integration

feat(common-types): add Zod response schemas for diagnostic routes
  packages/common-types/src/schemas/api/diagnostic.test.ts
  packages/common-types/src/schemas/api/diagnostic.ts
  packages/common-types/src/schemas/api/index.ts
Due: common-types, integration

feat(common-types): extend llm/tts-config schemas for get/update/set-default
  packages/common-types/src/schemas/api/llm-config.test.ts
  packages/common-types/src/schemas/api/llm-config.ts
  packages/common-types/src/schemas/api/tts-config.test.ts
  packages/common-types/src/schemas/api/tts-config.ts
Due: common-types, integration

feat(common-types): declare internal-audience route manifest
  packages/common-types/src/index.ts
  packages/common-types/src/routes/internal.test.ts
  packages/common-types/src/routes/internal.ts
Due: common-types, integration

fix(common-types): drop redundant userId from getRecentDiagnostics.query
  packages/common-types/src/clients/_generated/user-client.ts
  packages/common-types/src/routes/user/resources.ts
Due: common-types, integration

docs(backlog): expand query-widening deferred entry with numeric-narrowing case
  backlog/deferred.md
Due: none

docs(backlog): defer timeout-headroom finding from PR #1090 round 3
  backlog/deferred.md
Due: none

feat(common-types): declare admin-audience route manifest + stop-sequences schema
  packages/common-types/src/index.ts
  packages/common-types/src/routes/admin.test.ts
  packages/common-types/src/routes/admin.ts
  packages/common-types/src/schemas/api/index.ts
  packages/common-types/src/schemas/api/stopSequences.test.ts
  packages/common-types/src/schemas/api/stopSequences.ts
Due: common-types, integration

feat(common-types): extend internal schemas for dm-session + message-personality lookup
  packages/common-types/src/schemas/api/internal.test.ts
  packages/common-types/src/schemas/api/internal.ts
Due: common-types, integration

feat(common-types): compose central ROUTE_MANIFEST + cross-audience invariants
  packages/common-types/src/index.ts
  packages/common-types/src/routes/manifest.test.ts
  packages/common-types/src/routes/manifest.ts
Due: common-types, integration

feat(common-types): extend denylist schemas for add / list / remove responses
  packages/common-types/src/schemas/api/denylist.test.ts
  packages/common-types/src/schemas/api/denylist.ts
Due: common-types, integration

feat(common-types): add Zod schemas for admin operational routes
  packages/common-types/src/schemas/api/admin-operations.test.ts
  packages/common-types/src/schemas/api/admin-operations.ts
  packages/common-types/src/schemas/api/index.ts
Due: common-types, integration

chore(husky): auto-regenerate route client classes on manifest changes
  .husky/pre-commit
Due: none

feat(common-types): add branded ActorDiscordId/SubjectDiscordId + RouteDef
  packages/common-types/src/index.ts
  packages/common-types/src/routes/types.test.ts
  packages/common-types/src/routes/types.ts
Due: common-types, integration

docs(backlog): defer 4 follow-ups from PR #1090 review
  backlog/deferred.md
Due: none

feat(common-types): lift shared gateway transport + error helpers
  packages/common-types/src/clients/errors.test.ts
  packages/common-types/src/clients/errors.ts
  packages/common-types/src/clients/transport.test.ts
  packages/common-types/src/clients/transport.ts
  packages/common-types/src/index.ts
  services/bot-client/src/utils/userGatewayClient.ts
Due: bot-client, common-types, integration

docs(backlog): defer knip _generated/ exclusion removal until PR-2 lands
  backlog/deferred.md
Due: none

feat(common-types): declare user-audience route manifest (covered domains)
  packages/common-types/src/index.ts
  packages/common-types/src/routes/user/configs.test.ts
  packages/common-types/src/routes/user/configs.ts
  packages/common-types/src/routes/user/index.test.ts
  packages/common-types/src/routes/user/index.ts
  packages/common-types/src/routes/user/resources.test.ts
  packages/common-types/src/routes/user/resources.ts
Due: common-types, integration

feat(common-types): add Zod response schemas for AI routes
  packages/common-types/src/schemas/api/ai.test.ts
  packages/common-types/src/schemas/api/ai.ts
  packages/common-types/src/schemas/api/index.ts
Due: common-types, integration

docs(backlog): defer required-query-param compile-time narrowing
  backlog/deferred.md
Due: none

docs(backlog): defer 2 follow-ups from PR #1090 post-autosquash review
  backlog/deferred.md
Due: none

feat(common-types): add optional timeoutMs field to RouteDef
  packages/common-types/src/clients/_generated/owner-client.ts
  packages/common-types/src/routes/types.ts
Due: common-types, integration

feat(tooling): emit per-route timeoutMs in generated client methods
  packages/tooling/src/codegen/method-builder.test.ts
  packages/tooling/src/codegen/method-builder.ts
Due: integration

feat(common-types): wire timeoutMs for dbSync (10s) and cleanup (30s)
  packages/common-types/src/routes/admin.ts
  packages/common-types/src/routes/manifest.test.ts
Due: common-types, integration

docs(backlog): close timeout-escape-hatch deferred entry (shipped)
  backlog/deferred.md
Due: none

fix(tooling): drop specific route names from method-builder timeoutMs comment
  packages/tooling/src/codegen/method-builder.ts
Due: integration

feat(api-gateway): add shared RouteDeps interface for handler factories
  knip.json
  packages/common-types/src/structure.test.ts
  services/api-gateway/src/routes/routeDeps.ts
Due: api-gateway, integration

feat(tooling): add mounts.ts generator (pure builder)
  packages/tooling/src/codegen/mounts-builder.test.ts
  packages/tooling/src/codegen/mounts-builder.ts
  packages/tooling/src/codegen/routes.ts
Due: integration

docs(backlog): track removal of routeDeps.ts dead-code suppressions
  backlog/quick-wins.md
Due: none

chore: align `pnpm quality` with CI's lint job
  .claude/rules/05-tooling.md
  CLAUDE.md
  package.json
Due: none

fix(husky): catch PR-X.Y.Z temporal markers in pre-commit hook
  .husky/pre-commit
Due: none
