Repository lbds137/tzurot: changes, and which Codecov flags are due for each by the changed paths.
All: ai-worker, api-gateway, bot-client, common-types, integration

chore: bump version to 3.0.0-beta.168
  package.json
  packages/cache-invalidation/package.json
  packages/clients/package.json
  packages/common-types/package.json
  packages/config-resolver/package.json
  packages/conversation-history/package.json
  packages/embeddings/package.json
  packages/identity/package.json
  packages/test-factories/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  services/website/package.json
  tests/package.json
Due: ai-worker, api-gateway, bot-client, common-types, integration

docs(backlog): 50278 mechanism-first sequencing + secrets R1/R2 greenlit
  backlog/now.md
Due: none

docs(backlog): file eslint-hook latency follow-up (#1687 r2)
  backlog/cold/follow-ups.md
Due: none

chore: retire legacy .claude/commands, fix dead eslint hook, add session-start hook
  .claude/commands/pr-feedback.md
  .claude/commands/quality.md
  .claude/commands/session-end.md
  .claude/commands/test-file.md
  .claude/hooks/eslint-on-edit.sh
  .claude/hooks/session-start.sh
  .claude/settings.json
  .claude/skills/README.md
  backlog/cold/ideas.md
Due: none

docs: both Discord apps verified — legitimacy arc closed
  CURRENT.md
Due: none

docs: watch — verify session-start hook compact branch at next compaction (#1687 review)
  CURRENT.md
Due: none

docs(backlog): file invisible personality-aliases management gap (owner question)
  backlog/cold/follow-ups.md
Due: none

docs: make the resweep's concurrency-1/FIFO dependency explicit (release-review note)
  docs/reference/features/release-notifications.md
Due: none

feat: breakage-free BYOK key rotation + secret-rotation ledger and owner nag
  .claude/rules/05-tooling.md
  packages/clients/src/clients/_generated/service-client.ts
  packages/clients/src/routes/internal.ts
  packages/common-types/src/schemas/api/internal.test.ts
  packages/common-types/src/schemas/api/internal.ts
  packages/common-types/src/utils/encryption.test.ts
  packages/common-types/src/utils/encryption.ts
  packages/test-utils/schema/pglite-schema.sql
  packages/tooling/coverage-topology.json
  packages/tooling/src/audits/check-claude-content-refs.test.ts
  packages/tooling/src/cli.ts
  packages/tooling/src/codegen/handler-paths.ts
  packages/tooling/src/commands/secrets.test.ts
  packages/tooling/src/commands/secrets.ts
  packages/tooling/src/secrets/rotation.test.ts
  packages/tooling/src/secrets/rotation.ts
  prisma/migrations/20260717155857_add_secret_rotations/migration.sql
  prisma/schema.prisma
  services/api-gateway/src/routes/_generated/mounts.ts
  services/api-gateway/src/routes/conformance/fixtures/internal.ts
  services/api-gateway/src/routes/internal/secretRotationStatus.test.ts
  services/api-gateway/src/routes/internal/secretRotationStatus.ts
  services/api-gateway/src/services/sync/config/syncTables.ts
  services/bot-client/src/index.ts
  services/bot-client/src/services/SecretRotationNagScheduler.test.ts
  services/bot-client/src/services/SecretRotationNagScheduler.ts
Due: api-gateway, bot-client, common-types, integration

docs(backlog): close 3 verified-done entries — legitimacy, prod voice seed, retention watch
  CURRENT.md
  backlog/now.md
Due: none

docs(backlog): railway env-var sweep done — one dead var, manifest residual filed
  backlog/cold/follow-ups.md
Due: none

docs(backlog): strike 4 rows shipped in #1693; file test-title staleness follow-up
  backlog/cold/follow-ups.md
Due: none

docs: riders 1692+1693 on the unreleased slate
  CURRENT.md
Due: none

feat(api-gateway): auto-disabled release DMs self-heal on deliberate use
  packages/test-utils/schema/pglite-schema.sql
  prisma/migrations/20260717153243_add_notify_auto_disabled_at/migration.sql
  prisma/schema.prisma
  services/ai-worker/src/jobs/AIJobProcessor.test.ts
  services/ai-worker/src/jobs/AIJobProcessor.ts
  services/api-gateway/src/routes/internal/releaseBroadcast.test.ts
  services/api-gateway/src/routes/internal/releaseBroadcast.ts
  services/api-gateway/src/routes/user/notifications.test.ts
  services/api-gateway/src/routes/user/notifications.ts
  services/api-gateway/src/routes/wallet/setKey.test.ts
  services/api-gateway/src/routes/wallet/setKey.ts
  services/api-gateway/src/services/notifyOptIn.test.ts
  services/api-gateway/src/services/notifyOptIn.ts
Due: ai-worker, api-gateway, integration

docs(backlog): secrets audit complete — findings local, R1/R2 await owner go
  backlog/now.md
Due: none

docs(backlog): 50278 complete (flip run, 122 rows); file BYOK rotation machinery
  backlog/now.md
Due: none

docs: dev quarantine persists post-verification — appeal still pending
  CURRENT.md
Due: none

docs(backlog): 50278 quick win owner-confirmed for next session + streak-reset finding
  backlog/now.md
Due: none

docs(tooling): document the ops run -- separator for wrapped-command flags
  docs/reference/tooling/OPS_CLI_REFERENCE.md
Due: none

docs: session close-out — epic entry removed, session log, ops-run flag fix filed
  CURRENT.md
  backlog/cold/follow-ups.md
  backlog/now.md
Due: none

docs(backlog): per-env secret separation complete and verified (R2 done)
  backlog/now.md
Due: none

docs: beta.167 shipped — gate verified at 107 (was 268); file the 50278 reclassify
  CURRENT.md
  backlog/cold/follow-ups.md
  backlog/now.md
Due: none

docs: #1691 merged — one-off-script lifecycle closed
  CURRENT.md
  backlog/now.md
Due: none

fix(bot-client): classify discord-50278 (no mutual guilds) as permanent DM failure
  .claude/hooks/eslint-on-edit.sh
  .claude/hooks/session-start.sh
  scripts/src/db/flipTransient50278.ts
  services/api-gateway/src/routes/internal/releaseBroadcast.test.ts
  services/bot-client/src/utils/dmErrorClassifier.test.ts
  services/bot-client/src/utils/dmErrorClassifier.ts
Due: bot-client, integration

docs: beta.168 released — blast 1/1 sent, boards struck, slate reset
  CURRENT.md
  backlog/now.md
Due: none

docs(backlog): v2-parity next epic filed; shipped user-feedback theme closed, /changelog salvaged
  backlog/cold/ideas.md
  backlog/cold/queue.md
  backlog/cold/themes/user-feedback-solicitation-revive-v2-release-notes-delivery.md
  backlog/cold/themes/v2-parity-legacy-retirement.md
Due: none

feat(bot-client): /character alias management — v2 parity phase 1
  backlog/cold/follow-ups.md
  backlog/cold/themes/v2-parity-legacy-retirement.md
  docs/commands.md
  packages/clients/src/clients/_generated/user-client.ts
  packages/clients/src/routes/user/ownership.ts
  packages/common-types/src/generated/commandOptions.ts
  packages/common-types/src/schemas/api/personality.test.ts
  packages/common-types/src/schemas/api/personality.ts
  packages/common-types/src/utils/deterministicUuid.test.ts
  packages/common-types/src/utils/deterministicUuid.ts
  packages/tooling/coverage-topology.json
  packages/tooling/src/codegen/handler-paths.ts
  services/api-gateway/src/routes/_generated/mounts.ts
  services/api-gateway/src/routes/conformance/fixtures/userOwnership.ts
  services/api-gateway/src/routes/user/personality/aliases.test.ts
  services/api-gateway/src/routes/user/personality/aliases.ts
  services/bot-client/command-manifest.json
  services/bot-client/src/commands/character/alias.test.ts
  services/bot-client/src/commands/character/alias.ts
  services/bot-client/src/commands/character/autocomplete.ts
  services/bot-client/src/commands/character/index.ts
  services/bot-client/src/commands/character/interactionRouting.test.ts
  services/bot-client/src/commands/character/interactionRouting.ts
  services/bot-client/src/handlers/__snapshots__/CommandHandler.component.test.ts.snap
Due: api-gateway, bot-client, common-types, integration

Revert "feat(bot-client): /character alias management — v2 parity phase 1"
  backlog/cold/follow-ups.md
  backlog/cold/themes/v2-parity-legacy-retirement.md
  docs/commands.md
  packages/clients/src/clients/_generated/user-client.ts
  packages/clients/src/routes/user/ownership.ts
  packages/common-types/src/generated/commandOptions.ts
  packages/common-types/src/schemas/api/personality.test.ts
  packages/common-types/src/schemas/api/personality.ts
  packages/common-types/src/utils/deterministicUuid.test.ts
  packages/common-types/src/utils/deterministicUuid.ts
  packages/tooling/coverage-topology.json
  packages/tooling/src/codegen/handler-paths.ts
  services/api-gateway/src/routes/_generated/mounts.ts
  services/api-gateway/src/routes/conformance/fixtures/userOwnership.ts
  services/api-gateway/src/routes/user/personality/aliases.test.ts
  services/api-gateway/src/routes/user/personality/aliases.ts
  services/bot-client/command-manifest.json
  services/bot-client/src/commands/character/alias.test.ts
  services/bot-client/src/commands/character/alias.ts
  services/bot-client/src/commands/character/autocomplete.ts
  services/bot-client/src/commands/character/index.ts
  services/bot-client/src/commands/character/interactionRouting.test.ts
  services/bot-client/src/commands/character/interactionRouting.ts
  services/bot-client/src/handlers/__snapshots__/CommandHandler.component.test.ts.snap
Due: api-gateway, bot-client, common-types, integration

chore: hook blocking code commits on develop/main (structural fix)
  .claude/hooks/develop-code-commit-guard.probe.sh
  .claude/hooks/develop-code-commit-guard.sh
  .claude/settings.json
Due: none

docs(backlog): file develop-commit-guard r5 minor pair (renames, .mts/.cts)
  backlog/cold/follow-ups.md
Due: none

feat(bot-client): /character alias management — v2 parity phase 1
  backlog/cold/follow-ups.md
  backlog/cold/themes/v2-parity-legacy-retirement.md
  docs/commands.md
  packages/clients/src/clients/_generated/user-client.ts
  packages/clients/src/routes/user/ownership.ts
  packages/common-types/src/generated/commandOptions.ts
  packages/common-types/src/schemas/api/personality.test.ts
  packages/common-types/src/schemas/api/personality.ts
  packages/common-types/src/utils/deterministicUuid.test.ts
  packages/common-types/src/utils/deterministicUuid.ts
  packages/tooling/coverage-topology.json
  packages/tooling/src/codegen/handler-paths.ts
  services/api-gateway/src/routes/_generated/mounts.ts
  services/api-gateway/src/routes/conformance/fixtures/userOwnership.ts
  services/api-gateway/src/routes/user/personality/aliases.test.ts
  services/api-gateway/src/routes/user/personality/aliases.ts
  services/bot-client/command-manifest.json
  services/bot-client/src/commands/character/alias.test.ts
  services/bot-client/src/commands/character/alias.ts
  services/bot-client/src/commands/character/autocomplete.test.ts
  services/bot-client/src/commands/character/autocomplete.ts
  services/bot-client/src/commands/character/index.ts
  services/bot-client/src/commands/character/interactionRouting.test.ts
  services/bot-client/src/commands/character/interactionRouting.ts
  services/bot-client/src/handlers/__snapshots__/CommandHandler.component.test.ts.snap
Due: api-gateway, bot-client, common-types, integration

docs: post-merge state — alias mgmt merged, session log, alias-cap follow-up
  CURRENT.md
  backlog/cold/follow-ups.md
  backlog/cold/themes/v2-parity-legacy-retirement.md
Due: none

docs(backlog): promote ux-layer epic (owner re-sequence); alias pilot + scoping tiers
  CURRENT.md
  backlog/cold/queue.md
  backlog/cold/themes/platform-portable-ux-layer.md
  backlog/cold/themes/v2-parity-legacy-retirement.md
Due: none

docs(backlog): ux epic is the beta-exit gate (owner framing + see-it-through note)
  backlog/cold/themes/platform-portable-ux-layer.md
Due: none

docs(backlog): promote ux-layer to active epic; park memory overhaul mid-epic
  backlog/active-epic.md
  backlog/cold/epic-log.md
  backlog/cold/queue.md
  backlog/cold/themes/memory-system-overhaul.md
  backlog/cold/themes/platform-portable-ux-layer.md
  backlog/now.md
Due: none

docs: ux phase 2 session checkpoint — plan approved, PR-1a #1697 open
  CURRENT.md
Due: none

feat(bot-client): confirmation hierarchy — Tier A/B factories, order fixes
  services/bot-client/src/commands/character/dashboard.test.ts
  services/bot-client/src/commands/character/dashboardDeleteHandlers.test.ts
  services/bot-client/src/commands/character/dashboardDeleteHandlers.ts
  services/bot-client/src/commands/deny/detail.test.ts
  services/bot-client/src/commands/deny/detail.ts
  services/bot-client/src/commands/history/hard-delete.test.ts
  services/bot-client/src/commands/history/hard-delete.ts
  services/bot-client/src/commands/history/index.test.ts
  services/bot-client/src/commands/history/index.ts
  services/bot-client/src/commands/memory/batchDelete.ts
  services/bot-client/src/commands/memory/purge.ts
  services/bot-client/src/commands/persona/dashboard.test.ts
  services/bot-client/src/commands/persona/dashboard.ts
  services/bot-client/src/commands/preset/dashboardButtons.ts
  services/bot-client/src/commands/settings/data/delete.test.ts
  services/bot-client/src/commands/settings/data/delete.ts
  services/bot-client/src/commands/settings/index.test.ts
  services/bot-client/src/commands/voice/index.test.ts
  services/bot-client/src/commands/voice/voices/clear.test.ts
  services/bot-client/src/commands/voice/voices/clear.ts
  services/bot-client/src/utils/confirmation/confirmAction.test.ts
  services/bot-client/src/utils/confirmation/confirmAction.ts
  services/bot-client/src/utils/confirmation/confirmDestructive.test.ts
  services/bot-client/src/utils/confirmation/confirmDestructive.ts
  services/bot-client/src/utils/customIds.test.ts
  services/bot-client/src/utils/customIds.ts
  services/bot-client/src/utils/dashboard/deleteConfirmation.test.ts
  services/bot-client/src/utils/dashboard/deleteConfirmation.ts
  services/bot-client/src/utils/dashboard/index.ts
  services/bot-client/src/utils/destructiveConfirmation.test.ts
  services/bot-client/src/utils/destructiveConfirmation.ts
Due: bot-client, integration

Path conditions:
  ai-worker: any of: services/ai-worker/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  api-gateway: any of: services/api-gateway/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  bot-client: any of: services/bot-client/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  common-types: any of: packages/common-types/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  integration: any of: services/, packages/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
