Repository lbds137/tzurot: changes, and which Codecov flags are due for each by the changed paths.
All: ai-worker, api-gateway, bot-client, common-types, integration

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 2%
        informational: false
    patch:
      default:
        target: 80%
        threshold: 5%
        informational: false

comment:
  layout: 'reach,diff,flags,tree,files'
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flag_management:
  default_rules:
    carryforward: true

flags:
  ai-worker:
    paths:
      - services/ai-worker/
  api-gateway:
    paths:
      - services/api-gateway/
  bot-client:
    paths:
      - services/bot-client/
  common-types:
    paths:
      - packages/common-types/
  # Integration tests cover all services
  integration:
    paths:
      - services/
      - packages/

ignore:
  - '**/*.test.ts'
  - '**/*.spec.ts'
  - '**/dist/**'
  - '**/node_modules/**'
  - 'scripts/**'
  - 'tzurot-legacy/**'

fix(ai-worker): tighten namespace normalization regex
  services/ai-worker/src/utils/thinkingExtraction.test.ts
  services/ai-worker/src/utils/thinkingExtraction.ts
Due: ai-worker, integration

refactor(ai-worker): extract normalizeThinkingTagNamespaces helper
  services/ai-worker/src/utils/thinkingExtraction.ts
Due: ai-worker, integration

fix(ai-worker): address PR review feedback
  services/ai-worker/src/utils/thinkingExtraction.test.ts
  services/ai-worker/src/utils/thinkingExtraction.ts
Due: ai-worker, integration

fix(ai-worker): handle GLM-4.5-Air response post-processing bugs
  services/ai-worker/src/services/diagnostics/DiagnosticRecorders.test.ts
  services/ai-worker/src/services/diagnostics/DiagnosticRecorders.ts
  services/ai-worker/src/utils/responseArtifacts.test.ts
  services/ai-worker/src/utils/responseArtifacts.ts
  services/ai-worker/src/utils/thinkingExtraction.test.ts
  services/ai-worker/src/utils/thinkingExtraction.ts
Due: ai-worker, integration

fix(bot-client): fix flaky VerificationCleanupService test
  services/bot-client/src/services/VerificationCleanupService.test.ts
  services/bot-client/src/services/VerificationCleanupService.ts
Due: bot-client, integration

test(tooling): add tests for duplicate-exports, complexity-report, cleanup-duplicates
  packages/common-types/src/structure.test.ts
  packages/tooling/src/dev/check-duplicate-exports.test.ts
  packages/tooling/src/dev/check-duplicate-exports.ts
  packages/tooling/src/lint/complexity-report.test.ts
  packages/tooling/src/lint/complexity-report.ts
  packages/tooling/src/memory/cleanup-duplicates.test.ts
  packages/tooling/src/memory/cleanup-duplicates.ts
Due: integration

refactor(ai-worker): split PgvectorMemoryAdapter under 400-line limit
  services/ai-worker/src/services/PgvectorChannelScoping.test.ts
  services/ai-worker/src/services/PgvectorChannelScoping.ts
  services/ai-worker/src/services/PgvectorMemoryAdapter.test.ts
  services/ai-worker/src/services/PgvectorMemoryAdapter.ts
  services/ai-worker/src/services/PgvectorSiblingExpander.test.ts
  services/ai-worker/src/services/PgvectorSiblingExpander.ts
Due: ai-worker, integration

fix(tooling): use vi.useFakeTimers() before vi.setSystemTime() in cleanup-duplicates test
  packages/tooling/src/memory/cleanup-duplicates.test.ts
Due: none

fix(ai-worker): strengthen expandWithSiblings test assertion and add @internal marker
  services/ai-worker/src/services/PgvectorSiblingExpander.test.ts
  services/ai-worker/src/services/PgvectorSiblingExpander.ts
Due: ai-worker, integration

chore(ai-worker): remove redundant log prefixes from extracted modules
  packages/tooling/src/dev/check-duplicate-exports.test.ts
  services/ai-worker/src/services/PgvectorChannelScoping.ts
  services/ai-worker/src/services/PgvectorSiblingExpander.ts
Due: ai-worker, integration

chore: bump version to 3.0.0-beta.83
  package.json
  packages/common-types/package.json
  packages/embeddings/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  tests/package.json
Due: ai-worker, api-gateway, bot-client, common-types, integration

fix(tooling): correct max-lines limit and standardize resetForTesting naming
  packages/tooling/src/lint/complexity-report.test.ts
  packages/tooling/src/lint/complexity-report.ts
  services/bot-client/src/services/VerificationCleanupService.test.ts
  services/bot-client/src/services/VerificationCleanupService.ts
Due: bot-client, integration

fix(ai-worker): avoid logging invalid channel ID values, fix comment count
  services/ai-worker/src/services/PgvectorChannelScoping.ts
  services/ai-worker/src/services/PgvectorMemoryAdapter.ts
Due: ai-worker, integration

fix(bot-client): address PR review feedback for config cascade
  prisma/migrations/20260227225435_migrate_share_ltm_to_cascade/migration.sql
  services/ai-worker/src/services/MemoryRetriever.ts
  services/bot-client/src/commands/admin/settings.ts
  services/bot-client/src/commands/channel/settings.test.ts
  services/bot-client/src/commands/channel/settings.ts
  services/bot-client/src/commands/character/settings.test.ts
  services/bot-client/src/commands/character/settings.ts
  services/bot-client/src/utils/dashboard/settings/SettingsDashboardBuilder.test.ts
  services/bot-client/src/utils/dashboard/settings/SettingsDashboardBuilder.ts
Due: ai-worker, bot-client, integration

chore(bot-client): remove unnecessary spread in channel settings config
  services/bot-client/src/commands/channel/settings.ts
Due: bot-client, integration

fix(api-gateway,bot-client): fix null handling in config override clearing
  BACKLOG.md
  services/api-gateway/src/utils/configOverrideMerge.test.ts
  services/api-gateway/src/utils/configOverrideMerge.ts
  services/bot-client/src/commands/admin/settings.test.ts
  services/bot-client/src/commands/admin/settings.ts
Due: api-gateway, bot-client, integration

fix(bot-client): add user-personality source type, improve test name
  services/ai-worker/src/services/ConversationalRAGService.test.ts
  services/bot-client/src/commands/character/settings.ts
  services/bot-client/src/utils/dashboard/settings/SettingsDashboardBuilder.ts
  services/bot-client/src/utils/dashboard/settings/index.ts
  services/bot-client/src/utils/dashboard/settings/types.ts
Due: bot-client, integration

chore(bot-client,api-gateway): address final review feedback
  services/api-gateway/src/utils/configOverrideMerge.ts
  services/bot-client/src/commands/admin/settings.ts
  services/bot-client/src/utils/dashboard/settings/SettingsDashboardBuilder.ts
  services/bot-client/src/utils/dashboard/settings/index.ts
  services/bot-client/src/utils/dashboard/settings/settingsConfig.ts
Due: api-gateway, bot-client, integration
