Repository lbds137/tzurot: changes, and which Codecov flags are due for each by the changed paths.
All: ai-worker, api-gateway, bot-client, common-types, integration

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 2%
        informational: false
    patch:
      default:
        target: 80%
        threshold: 5%
        informational: false

comment:
  layout: 'reach,diff,flags,tree,files'
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flag_management:
  default_rules:
    carryforward: true

flags:
  ai-worker:
    paths:
      - services/ai-worker/
  api-gateway:
    paths:
      - services/api-gateway/
  bot-client:
    paths:
      - services/bot-client/
  common-types:
    paths:
      - packages/common-types/
  # Integration tests cover all services
  integration:
    paths:
      - services/
      - packages/

ignore:
  - '**/*.test.ts'
  - '**/*.spec.ts'
  - '**/dist/**'
  - '**/node_modules/**'
  - 'scripts/**'
  - 'tzurot-legacy/**'

docs(backlog): mark test-pyramid Phase 1.5 pilot done (PR #1285 merged)
  backlog/cold/themes/test-pyramid-coverage-audit.md
Due: none

test(ai-worker): lock the 2.5d envelope contract (producer→schema→consumer)
  services/ai-worker/src/services/context/ContextAssembler.int.test.ts
  services/ai-worker/src/services/context/ContextAssembler.test.ts
  services/bot-client/src/services/contextBuilder/RawEnvelopeBuilder.test.ts
Due: none

docs(backlog): track double-crash synthetic-personaId edge case (PR #1288)
  backlog/cold/follow-ups.md
Due: none

refactor(tooling): guard:boundaries catches barrel-re-exported Prisma in bot-client
  packages/tooling/src/dev/check-boundaries.WHY.md
  packages/tooling/src/dev/check-boundaries.test.ts
  packages/tooling/src/dev/check-boundaries.ts
  services/bot-client/src/test/mocks/PersonalityService.mock.ts
  services/bot-client/src/utils/personalityMentionParser.test.ts
Due: bot-client, integration

refactor(bot-client): evict vestigial Prisma wiring from the composition root
  services/bot-client/src/index.ts
  services/bot-client/src/services/serviceRegistry.test.ts
  services/bot-client/src/services/serviceRegistry.ts
Due: bot-client, integration

docs(backlog): track ContextStep:56 invariant-comment follow-up (PR #1287)
  backlog/cold/follow-ups.md
Due: none

docs(backlog): correct PR-2p scope (cache-invalidation→2q); file BaseConfigResolver-dedup follow-up
  backlog/active-epic.md
  backlog/cold/follow-ups.md
Due: none

refactor(bot-client): resolve multi-tag recovery persona from the snapshot
  services/bot-client/src/composition.ts
  services/bot-client/src/index.ts
  services/bot-client/src/services/MultiTagPersistence.ts
  services/bot-client/src/services/MultiTagRecovery.test.ts
  services/bot-client/src/services/MultiTagRecovery.ts
  services/bot-client/src/services/multiTagCoordinatorHelpers.test.ts
  services/bot-client/src/services/multiTagCoordinatorHelpers.ts
Due: bot-client, integration

docs(backlog): file createPrismaClient() unit-test follow-up (PR #1292)
  backlog/cold/follow-ups.md
Due: none

docs(backlog): file guard:boundaries allowlist-drift backstop follow-up (PR #1291)
  backlog/cold/follow-ups.md
Due: none

refactor(bot-client): evict getChannelHistory from the context build path
  backlog/cold/follow-ups.md
  services/bot-client/src/handlers/MessageReferenceExtractor.test.ts
  services/bot-client/src/services/MessageContextBuilder.test.ts
  services/bot-client/src/services/MessageContextBuilder.ts
Due: bot-client, integration

refactor(bot-client): resolve /character persona via routing-context
  services/bot-client/src/commands/character/chat.test.ts
  services/bot-client/src/commands/character/chat.ts
Due: bot-client, integration

docs(backlog): file startup gateway-reachability probe follow-up (PR #1290)
  backlog/cold/follow-ups.md
Due: none

refactor(common-types): add createPrismaClient factory; api-gateway owns its client
  packages/common-types/src/services/prisma.ts
  services/api-gateway/src/index.ts
  services/api-gateway/src/migrations/sync-avatars.test.ts
  services/api-gateway/src/migrations/sync-avatars.ts
Due: api-gateway, common-types, integration

docs(backlog): mark PR-2p-3a (@tzurot/identity) shipped; 2p-3b next
  CURRENT.md
  backlog/active-epic.md
  backlog/cold/follow-ups.md
Due: none

build(ci): copy @tzurot/config-resolver dist in service runner stages
  services/ai-worker/Dockerfile
  services/api-gateway/Dockerfile
Due: ai-worker, api-gateway, integration

chore(config-resolver): move pino to devDependencies (type-only)
  backlog/cold/follow-ups.md
  packages/config-resolver/package.json
  pnpm-lock.yaml
Due: integration

docs(backlog): record PR-2p-1a/1b-i shipped; 2p-1b-ii is next
  backlog/active-epic.md
Due: none

test(common-types): enforce colocated-test gate for config-resolver
  packages/common-types/src/structure.test.ts
Due: none

docs(common-types): drop stale package count in structure.test.ts header
  packages/common-types/src/structure.test.ts
Due: none

refactor(ai-worker): evict the Prisma singleton; delete getPrismaClient
  backlog/cold/follow-ups.md
  packages/common-types/src/services/prisma.ts
  packages/tooling/src/dev/check-boundaries.test.ts
  packages/tooling/src/dev/check-boundaries.ts
  packages/tooling/src/test/audit-unified.test.ts
  services/ai-worker/src/index.ts
  services/ai-worker/src/jobs/AIJobProcessor.ts
  services/ai-worker/src/jobs/handlers/LLMGenerationHandler.test.ts
  services/ai-worker/src/jobs/handlers/LLMGenerationHandler.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/GenerationStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/GenerationStep.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/diagnosticStorage.ts
  services/ai-worker/src/services/ConversationalRAGService.test.ts
  services/ai-worker/src/services/ConversationalRAGService.ts
  services/ai-worker/src/services/LongTermMemoryService.int.test.ts
  services/ai-worker/src/services/LongTermMemoryService.test.ts
  services/ai-worker/src/services/LongTermMemoryService.ts
  services/ai-worker/src/services/MemoryRetriever.test.ts
  services/ai-worker/src/services/MemoryRetriever.ts
  services/ai-worker/src/services/diagnostics/personalityOwnerResolver.test.ts
  services/ai-worker/src/services/diagnostics/personalityOwnerResolver.ts
  services/ai-worker/src/services/multimodal/ragVisionAuth.ts
  services/ai-worker/src/services/personaReferenceLoader.test.ts
  services/ai-worker/src/services/personaReferenceLoader.ts
Due: ai-worker, common-types, integration

docs(backlog): gate PR-2p epic close-out on a follow-up sweep checklist
  backlog/active-epic.md
  backlog/cold/follow-ups.md
Due: none

docs(backlog): file tooling dispose() error-handling consistency follow-up (PR #1293)
  backlog/cold/follow-ups.md
Due: none

refactor(tooling): move db commands off the prisma singleton; delete disconnectPrisma
  packages/common-types/src/services/prisma.ts
  packages/tooling/src/db/check-migration-drift.test.ts
  packages/tooling/src/db/check-migration-drift.ts
  packages/tooling/src/db/create-safe-migration.test.ts
  packages/tooling/src/db/create-safe-migration.ts
  packages/tooling/src/db/fix-migration-drift.test.ts
  packages/tooling/src/db/fix-migration-drift.ts
  packages/tooling/src/db/inspect-database.test.ts
  packages/tooling/src/db/inspect-database.ts
  packages/tooling/src/db/migration-status.test.ts
  packages/tooling/src/db/migration-status.ts
  packages/tooling/src/inspect/tts-configs.test.ts
  packages/tooling/src/inspect/tts-configs.ts
  packages/tooling/src/voice/audit-references.ts
Due: common-types, integration

docs(backlog): mark PR-2p-1 singleton eviction complete; PR-2p-2 next
  backlog/active-epic.md
Due: none

docs(backlog): mark PR-2p-2 (config-resolver) shipped; PR-2p-3 next
  backlog/active-epic.md
Due: none

docs(backlog): mark PR-2q shipped — Slim-common-types extraction COMPLETE
  CURRENT.md
  backlog/active-epic.md
  backlog/cold/follow-ups.md
Due: none

docs(backlog): mark PR-2p-3b (@tzurot/conversation-history) shipped
  CURRENT.md
  backlog/active-epic.md
Due: none

docs(backlog): correct epic close-out tracker — Cluster B is sweepable now
  backlog/active-epic.md
  backlog/cold/epic-log.md
  backlog/cold/follow-ups.md
Due: none

test(tooling): move drift-guard barrel import to beforeAll (CI timeout fix)
  packages/tooling/src/dev/check-boundaries.test.ts
Due: none

docs(backlog): close out epic Cluster A (#1305 merged); file #1305 review residuals
  CURRENT.md
  backlog/cold/epic-log.md
  backlog/cold/follow-ups.md
Due: none

docs(backlog): mark close-out sweep 1 (#1304) items shipped
  backlog/cold/epic-log.md
  backlog/cold/follow-ups.md
Due: none

docs(backlog): record PR-2q council verdict — @tzurot/cache-invalidation
  backlog/active-epic.md
Due: none

docs(backlog): file error-message failure-mode-honesty audit (PR #1306 generalized)
  backlog/cold/ideas.md
Due: none

refactor(tooling): epic close-out sweep 2 — tooling/audit hygiene
  .github/baselines/test-coverage-baseline.json
  packages/common-types/src/services/prisma.test.ts
  packages/tooling/src/db/check-migration-drift.test.ts
  packages/tooling/src/db/check-migration-drift.ts
  packages/tooling/src/db/fix-migration-drift.test.ts
  packages/tooling/src/db/fix-migration-drift.ts
  packages/tooling/src/db/inspect-database.test.ts
  packages/tooling/src/db/inspect-database.ts
  packages/tooling/src/db/migration-status.test.ts
  packages/tooling/src/db/migration-status.ts
  packages/tooling/src/dev/check-boundaries.test.ts
  packages/tooling/src/dev/check-boundaries.ts
  packages/tooling/src/inspect/tts-configs.ts
  packages/tooling/src/test/audit-utils.ts
  packages/tooling/src/test/audit-version.ts
  packages/tooling/src/voice/audit-references.ts
Due: integration

refactor: epic close-out sweep 1 — extraction structural hygiene
  eslint.config.js
  package.json
  packages/common-types/src/types/configResolution.ts
  packages/config-resolver/src/TtsConfigResolver.ts
  pnpm-lock.yaml
  services/ai-worker/src/cacheInvalidation.test.ts
  services/ai-worker/src/cacheInvalidation.ts
  services/ai-worker/src/jobs/AIJobProcessor.ts
  services/ai-worker/src/services/ConversationalRAGService.ts
  services/ai-worker/src/services/MemoryRetriever.test.ts
  services/ai-worker/src/services/MemoryRetriever.ts
  services/ai-worker/src/services/resolvers/index.ts
  services/api-gateway/src/routes/user/voice-resolution.ts
Due: ai-worker, api-gateway, common-types, integration

docs(backlog): full epic close-out tracker — all 3 follow-up clusters
  backlog/active-epic.md
  backlog/cold/epic-log.md
Due: none
