Repository lbds137/tzurot: changes, and which Codecov flags are due for each by the changed paths.
All: ai-worker, api-gateway, bot-client, common-types, integration

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 2%
        informational: false
    patch:
      default:
        target: 80%
        threshold: 5%
        informational: false

comment:
  layout: 'reach,diff,flags,tree,files'
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flag_management:
  default_rules:
    carryforward: true

flags:
  ai-worker:
    paths:
      - services/ai-worker/
  api-gateway:
    paths:
      - services/api-gateway/
  bot-client:
    paths:
      - services/bot-client/
  common-types:
    paths:
      - packages/common-types/
  # Integration tests cover all services
  integration:
    paths:
      - services/
      - packages/

ignore:
  - '**/*.test.ts'
  - '**/*.spec.ts'
  - '**/dist/**'
  - '**/node_modules/**'
  - 'scripts/**'
  - 'tzurot-legacy/**'

docs: post-merge state — #1697 merged, PR-1b next, review follow-ups filed
  CURRENT.md
  backlog/cold/epic-log.md
  backlog/cold/follow-ups.md
Due: none

feat(bot-client): component router + purge/account-delete onto Tier-B
  packages/common-types/src/schemas/api/index.ts
  packages/common-types/src/schemas/api/memory.ts
  packages/common-types/src/schemas/index.ts
  services/bot-client/command-manifest.json
  services/bot-client/src/commands/memory/index.ts
  services/bot-client/src/commands/memory/interactionHandlers.ts
  services/bot-client/src/commands/memory/purge.test.ts
  services/bot-client/src/commands/memory/purge.ts
  services/bot-client/src/commands/settings/data/delete.test.ts
  services/bot-client/src/commands/settings/data/delete.ts
  services/bot-client/src/commands/settings/index.test.ts
  services/bot-client/src/commands/settings/index.ts
  services/bot-client/src/utils/componentRouter.test.ts
  services/bot-client/src/utils/componentRouter.ts
  services/bot-client/src/utils/confirmation/confirmDestructive.ts
Due: bot-client, common-types, integration

docs: post-merge state — #1698 merged, PR-1 discharged, PR-2 next
  CURRENT.md
  backlog/cold/epic-log.md
  backlog/cold/follow-ups.md
Due: none

docs(backlog): file shard-lifecycle observability gap (dev autocomplete outage)
  backlog/cold/follow-ups.md
Due: none

docs(backlog): quick win — adm-zip dependabot alert (transitive, low in-context)
  backlog/now.md
Due: none

docs(backlog): stamp restart-cure confirmation on shard-observability row
  backlog/cold/follow-ups.md
Due: none

chore(tooling): weekly-audit hygiene — per-metric security, cpd step, broadcast
  .github/workflows/weekly-audit.yml
  packages/tooling/src/audits/health-extras.test.ts
  packages/tooling/src/audits/health-extras.ts
  packages/tooling/src/audits/health.test.ts
  packages/tooling/src/dev/commandsAuditChecks.ts
Due: integration

feat(bot-client): shared browse list-embed builder + character/preset adoption
  backlog/now.md
  services/bot-client/src/commands/character/browse.test.ts
  services/bot-client/src/commands/character/browse.ts
  services/bot-client/src/commands/character/browseHelpers.ts
  services/bot-client/src/commands/preset/browse.test.ts
  services/bot-client/src/commands/preset/browse.ts
  services/bot-client/src/utils/browse/index.ts
  services/bot-client/src/utils/browse/listEmbedBuilder.test.ts
  services/bot-client/src/utils/browse/listEmbedBuilder.ts
Due: bot-client, integration

docs: phase 2 arc state — PR-2 merged, PR-4b scope additions, PR-3a next
  CURRENT.md
  backlog/cold/epic-log.md
Due: none

docs: owner design call — in-place filter controls adopted (pilot PR-4, builder PR-4b)
  CURRENT.md
  backlog/cold/epic-log.md
Due: none

docs(backlog): owner design inputs — breaking-release batching, onboarding cmd, tree semantics
  CURRENT.md
  backlog/active-epic.md
Due: none

feat: user-scoped personality alias tier — schema + resolver (PR-3a)
  packages/common-types/src/utils/deterministicUuid.test.ts
  packages/common-types/src/utils/deterministicUuid.ts
  packages/identity/src/personality/PersonalityLoader.test.ts
  packages/identity/src/personality/PersonalityLoader.ts
  packages/test-utils/schema/pglite-schema.sql
  prisma/drift-ignore.json
  prisma/migrations/20260718162934_add_user_scoped_aliases/migration.sql
  prisma/schema.prisma
  services/api-gateway/src/routes/user/personality/aliasTiers.component.test.ts
  services/api-gateway/src/services/sync/config/syncTables.ts
Due: api-gateway, common-types, integration

docs(backlog): pr-3a in review; file the resolver single-lookup ride-along for pr-3b
  backlog/cold/epic-log.md
Due: none

docs: pr-3a merged + dev migration applied; pr-3b next with ride-alongs
  CURRENT.md
  backlog/cold/epic-log.md
Due: none

feat: alias tier gateway CRUD + policy — PR-3b
  packages/clients/src/clients/_generated/owner-client.ts
  packages/clients/src/clients/_generated/service-client.ts
  packages/clients/src/clients/_generated/user-client.ts
  packages/clients/src/routes/user/ownership.ts
  packages/common-types/src/schemas/api/personality.test.ts
  packages/common-types/src/schemas/api/personality.ts
  packages/identity/src/personality/PersonalityLoader.test.ts
  packages/identity/src/personality/PersonalityLoader.ts
  packages/tooling/coverage-topology.json
  packages/tooling/src/codegen/handler-paths.ts
  packages/tooling/src/codegen/method-builder.test.ts
  packages/tooling/src/codegen/method-builder.ts
  services/api-gateway/src/routes/_generated/mounts.ts
  services/api-gateway/src/routes/conformance/fixtures/userOwnership.ts
  services/api-gateway/src/routes/user/personality/aliases.test.ts
  services/api-gateway/src/routes/user/personality/aliases.ts
  services/api-gateway/src/routes/user/personality/create.test.ts
  services/api-gateway/src/routes/user/personality/create.ts
  services/api-gateway/src/routes/user/personality/helpers.ts
  services/api-gateway/src/routes/user/personality/test-utils.ts
  services/api-gateway/src/routes/user/personality/update.test.ts
  services/api-gateway/src/routes/user/personality/update.ts
  services/bot-client/src/commands/character/api.test.ts
  services/bot-client/src/commands/character/api.ts
  services/bot-client/src/commands/character/avatar.test.ts
  services/bot-client/src/commands/character/create.test.ts
  services/bot-client/src/commands/character/create.ts
  services/bot-client/src/commands/character/dashboard.test.ts
  services/bot-client/src/commands/character/dashboard.ts
  services/bot-client/src/commands/character/dashboardActions.test.ts
  services/bot-client/src/commands/character/dashboardActions.ts
  services/bot-client/src/commands/character/import.ts
  services/bot-client/src/ux/catalog/catalog.ts
Due: api-gateway, bot-client, common-types, integration

docs(backlog): pr-3b in review; shadow-probe scale follow-up filed
  backlog/cold/epic-log.md
  backlog/cold/follow-ups.md
Due: none

docs: pr-3b merged; r2 follow-ups filed; pr-4 next
  CURRENT.md
  backlog/cold/epic-log.md
  backlog/cold/follow-ups.md
Due: none

feat(bot-client): /character alias redesign — the design-system pilot (PR-4)
  packages/common-types/src/generated/commandOptions.ts
  services/api-gateway/src/routes/user/personality/aliases.test.ts
  services/api-gateway/src/routes/user/personality/aliases.ts
  services/bot-client/command-manifest.json
  services/bot-client/src/commands/character/alias.test.ts
  services/bot-client/src/commands/character/alias.ts
  services/bot-client/src/commands/character/aliasBrowse.test.ts
  services/bot-client/src/commands/character/aliasBrowse.ts
  services/bot-client/src/commands/character/aliasData.test.ts
  services/bot-client/src/commands/character/aliasData.ts
  services/bot-client/src/commands/character/autocomplete.test.ts
  services/bot-client/src/commands/character/autocomplete.ts
  services/bot-client/src/commands/character/index.ts
  services/bot-client/src/commands/character/interactionRouting.ts
  services/bot-client/src/handlers/__snapshots__/CommandHandler.component.test.ts.snap
  services/bot-client/src/utils/browse/index.ts
Due: api-gateway, bot-client, common-types, integration

docs: pr-4 pilot merged clean; shipped follow-up rows removed; pr-4b next
  CURRENT.md
  backlog/cold/epic-log.md
  backlog/cold/follow-ups.md
Due: none

docs: commands.md — alias group shape (browse/add, tier framing)
  docs/commands.md
Due: none

chore(deps): force adm-zip >=0.6.0 via pnpm override
  package.json
  pnpm-lock.yaml
Due: none

docs(backlog): adm-zip quick win shipped (#1704) — struck from the board
  backlog/now.md
Due: none

chore: bump version to 3.0.0-beta.169
  package.json
  packages/cache-invalidation/package.json
  packages/clients/package.json
  packages/common-types/package.json
  packages/config-resolver/package.json
  packages/conversation-history/package.json
  packages/embeddings/package.json
  packages/identity/package.json
  packages/test-factories/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  services/website/package.json
  tests/package.json
Due: ai-worker, api-gateway, bot-client, common-types, integration

docs(backlog): relax develop guard for version-bump-only commits (owner feedback)
  backlog/cold/follow-ups.md
Due: none

docs: beta.168 released — blast 1/1 sent, boards struck, slate reset
  CURRENT.md
  backlog/now.md
Due: none

docs(backlog): v2-parity next epic filed; shipped user-feedback theme closed, /changelog salvaged
  backlog/cold/ideas.md
  backlog/cold/queue.md
  backlog/cold/themes/user-feedback-solicitation-revive-v2-release-notes-delivery.md
  backlog/cold/themes/v2-parity-legacy-retirement.md
Due: none
