Repository lbds137/tzurot: changes, and which Codecov flags are due for each by the changed paths.
All: ai-worker, api-gateway, bot-client, common-types, integration

fix(tooling): surface inventory marks every unresolvable payload source
  docs/reference/conformance/discord-surface.json
  docs/reference/conformance/discord-surface.md
  packages/tooling/src/surface/analyzer.test.ts
  packages/tooling/src/surface/analyzer.ts
  packages/tooling/src/surface/payloadKeys.test.ts
  packages/tooling/src/surface/payloadKeys.ts
  tracker/docs/doc-109 - Transport-Parity-Tzurot-outside-Discord.md
Due: integration

docs(backlog): file TASK-1168, quality fans out lint under LOW_RESOURCE_MODE
  tracker/tasks/task-1168 - pnpm-quality-fans-out-turbo-lint-unthrottled-under-LOW_RESOURCE_MODE.md
Due: none

fix(hooks): under the develop guard override, the token commit must stand alone
  .claude/hooks/develop-code-commit-guard.probe.sh
  .claude/hooks/develop-code-commit-guard.sh
Due: none

fix(hooks): fail the override path closed on an internal parse error
  .claude/hooks/develop-code-commit-guard.probe.sh
  .claude/hooks/develop-code-commit-guard.sh
Due: none

docs(hooks): drop a stale probe comment naming the removed HEAD-tree lookup
  .claude/hooks/develop-code-commit-guard.probe.sh
Due: none

refactor(hooks): one version_only_bump helper for both commit-guard gates
  .claude/hooks/develop-code-commit-guard.probe.sh
  .claude/hooks/develop-code-commit-guard.sh
Due: none

docs(backlog): develop commit-guard override fix merged as #2568, TASK-1132 done
  tracker/tasks/task-1132 - develop-code-commit-guard-override-passes-a-commit-whose-INDEX-holds-gated-code-files.md
Due: none

fix(tooling): surface inventory reads opaque callees and judges returns by type
  docs/reference/conformance/discord-surface.json
  docs/reference/conformance/discord-surface.md
  packages/tooling/src/surface/analyzer.test.ts
  packages/tooling/src/surface/analyzer.ts
  packages/tooling/src/surface/payloadKeys.test.ts
  packages/tooling/src/surface/payloadKeys.ts
  tracker/docs/doc-109 - Transport-Parity-Tzurot-outside-Discord.md
Due: integration

docs(backlog): file the direct-literal spread gap in the surface inventory
  tracker/tasks/task-1169 - Surface-inventory-follow-spreads-inside-literals-passed-directly-as-call-arguments.md
Due: none

docs(backlog): file the lib-less surface analyzer test fixture
  tracker/tasks/task-1170 - Surface-analyzer-test-fixture-project-loads-no-lib-files.md
Due: none

test(tooling): pin the anonymous-payload member filters in the surface analyzer
  packages/tooling/src/surface/analyzer.test.ts
  packages/tooling/src/surface/analyzer.ts
Due: integration

docs(tooling): correct the surface analyzer's test-exclusion comment
  packages/tooling/src/surface/analyzer.ts
Due: integration

fix(tooling): surface inventory handles union payloads and assignment order
  docs/reference/conformance/discord-surface.json
  docs/reference/conformance/discord-surface.md
  packages/tooling/src/surface/analyzer.test.ts
  packages/tooling/src/surface/analyzer.ts
  tracker/docs/doc-109 - Transport-Parity-Tzurot-outside-Discord.md
Due: integration

fix(tooling): surface inventory marks named union aliases and reads reassignments
  packages/tooling/src/surface/analyzer.test.ts
  packages/tooling/src/surface/analyzer.ts
Due: integration

fix(tooling): surface inventory sees variable-passed payloads, drops test mocks
  docs/reference/conformance/discord-surface.json
  docs/reference/conformance/discord-surface.md
  packages/tooling/src/surface/analyzer.test.ts
  packages/tooling/src/surface/analyzer.ts
  packages/tooling/src/surface/categories.test.ts
  packages/tooling/src/surface/categories.ts
  packages/tooling/src/surface/snapshot.ts
  tracker/docs/doc-109 - Transport-Parity-Tzurot-outside-Discord.md
Due: integration

docs(backlog): surface inventory fix merged as #2571, TASK-1156 done
  tracker/tasks/task-1156 - surface-inventory-misses-variable-passed-payload-keys-webhook-options-empty-and-scopes-test-mocks-in.md
  tracker/tasks/task-1169 - Surface-inventory-follow-spreads-inside-literals-passed-directly-as-call-arguments.md
Due: none

docs(backlog): close TASK-1160 as working-as-designed, file TASK-1171
  tracker/tasks/task-1160 - Free-tier-guests-fall-to-openrouter-free-instead-of-the-GLM-5.3-Flash-piggyback-or-the-configured-free-default.md
  tracker/tasks/task-1171 - Tell-guests-when-the-z.ai-piggyback-is-closed-instead-of-silently-swapping-models.md
Due: none

fix(ai-worker): classify OpenRouter-wrapped provider refusals from the upstream body
  services/ai-worker/src/services/quotaFallback.test.ts
  services/ai-worker/src/utils/apiErrorParser.test.ts
  services/ai-worker/src/utils/apiErrorParser.ts
Due: ai-worker, integration

docs(backlog): file TASK-1172, vision specimen pins a fictional error shape
  tracker/tasks/task-1172 - Vision-fallback-chain-specimen-pins-a-message-shape-the-OpenAI-SDK-never-produces.md
Due: none

docs(backlog): close TASK-1161 via #2572, file TASK-1173 review follow-up
  tracker/tasks/task-1161 - A-provider-400-Provider-returned-error-dead-ends-the-turn-instead-of-falling-back-to-another-model.md
  tracker/tasks/task-1173 - Other-wrapped-400-special-cases-scan-only-the-message-not-the-OpenRouter-upstream-body.md
Due: none

docs(backlog): record the owner ruling on TASK-1171, generic guest note
  tracker/tasks/task-1171 - Tell-guests-when-the-z.ai-piggyback-is-closed-instead-of-silently-swapping-models.md
Due: none

docs(backlog): beta.234 contents and the owner's cut-after-TASK-1172 ruling
  backlog/now.md
Due: none

docs(backlog): record the owner-queue sweep, twelve decisions
  backlog/now.md
  tracker/tasks/task-1003 - Render-bot-DM-character-replies-as-a-rich-embed-name-avatar-instead-of-the-bold-name-prefix.md
  tracker/tasks/task-1027 - Provenance-header-sanitizers-strip-only-ASCII-brackets-not-look-alikes.md
  tracker/tasks/task-1049 - Independent-adversarial-pass-on-the-fail-closed-single-quote-skip-in-shell_quotes.md
  tracker/tasks/task-1084 - docs-steam-deck-SSH_SETUP.md-contradicts-the-Deck-setup-it-starts-a-second-ssh-agent.md
  tracker/tasks/task-1106 - Retire-the-11-twin-hooks-the-harness-plugin-now-ships-and-rewrite-the-doc-64-queue-entry.md
  tracker/tasks/task-1126 - Prompt-characters-have-no-guidance-for-requests-outside-their-function-and-anti-delusion-directives-can-undercut-a-character-premise.md
  tracker/tasks/task-1127 - Re-importing-a-character-via-character-import-never-applies-the-card-isPublic.md
  tracker/tasks/task-1162 - Channel-scoped-model-preset-override-let-a-moderator-set-one-preset-for-everyone-in-a-channel.md
  tracker/tasks/task-960 - Verify-whether-a-second-personality-in-the-same-channel-sees-the-first-one-reply-this-turn.md
  tracker/tasks/task-961 - Confirm-history-undo-walks-turn-→-memory-→-facts-not-just-the-turn.md
  tracker/tasks/task-972 - Privacy-policy-and-public-docs-are-silent-on-history-clear-being-persona-wide-not-channel-local.md
  tracker/tasks/task-987 - A-persona-ping-does-not-inherit-the-reply-reference-from-the-users-preceding-message.md
Due: none

test(ai-worker): drive the vision refusal specimen through the real classifier
  services/ai-worker/src/services/multimodal/visionFallbackChain.test.ts
Due: none

test(ai-worker): name the full upstream-body path in the scenario 4 comment
  services/ai-worker/src/services/multimodal/visionFallbackChain.test.ts
Due: none

test(ai-worker): mark the scenario 4 raw body as the adapted prod specimen
  services/ai-worker/src/services/multimodal/visionFallbackChain.test.ts
Due: none

docs(backlog): close TASK-1172 via #2573
  tracker/tasks/task-1172 - Vision-fallback-chain-specimen-pins-a-message-shape-the-OpenAI-SDK-never-produces.md
Due: none

chore: bump version to 3.0.0-beta.234
  package.json
  packages/cache-invalidation/package.json
  packages/clients/package.json
  packages/common-types/package.json
  packages/config-resolver/package.json
  packages/conversation-history/package.json
  packages/embeddings/package.json
  packages/identity/package.json
  packages/test-factories/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  services/website/package.json
  tests/package.json
Due: ai-worker, api-gateway, bot-client, common-types, integration

docs(backlog): file TASK-1174, import an external conversation as memories
  tracker/tasks/task-1174 - Import-an-external-conversation-as-long-term-memories-for-one-character.md
Due: none

docs(backlog): give TASK-1174 the owner's verification bar, wait on the file
  tracker/tasks/task-1174 - Import-an-external-conversation-as-long-term-memories-for-one-character.md
Due: none

docs(backlog): unblock TASK-1174, the source file is delivered
  tracker/tasks/task-1174 - Import-an-external-conversation-as-long-term-memories-for-one-character.md
Due: none

fix(hooks): stop read-only git calls in hooks from taking index.lock
  .claude/hooks/board-commit-branch-gate.sh
  .claude/hooks/develop-code-commit-guard.sh
  .claude/hooks/session-start.sh
  .claude/hooks/tracker-dirty-push-gate.sh
Due: none

Path conditions:
  ai-worker: any of: services/ai-worker/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  api-gateway: any of: services/api-gateway/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  bot-client: any of: services/bot-client/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  common-types: any of: packages/common-types/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  integration: any of: services/, packages/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
