Repository lbds137/tzurot: changes, and which Codecov flags are due for each by the changed paths.
All: ai-worker, api-gateway, bot-client, common-types, integration

docs: record TASK-365 PR-2 shipped; add smoke item 15 for deduped refs
  CURRENT.md
Due: none

chore: bump version to 3.0.0-beta.189
  package.json
  packages/cache-invalidation/package.json
  packages/clients/package.json
  packages/common-types/package.json
  packages/config-resolver/package.json
  packages/conversation-history/package.json
  packages/embeddings/package.json
  packages/identity/package.json
  packages/test-factories/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  services/website/package.json
  tests/package.json
Due: ai-worker, api-gateway, bot-client, common-types, integration

docs(backlog): cap=10 after the fast follow; widen 368; file the 373 audit
  tracker/tasks/task-368 - Load-bearing-invariants-live-in-docstrings-where-nothing-executes-them.md
  tracker/tasks/task-371 - Reasoning-chunk-cap-maxChunks-3-contradicts-the-recorded-owner-decision-in-its-own-docstring.md
  tracker/tasks/task-373 - Audit-content-that-QUOTES-our-control-syntax-—-every-parse-site-not-just-thinking-tags.md
Due: none

docs(backlog): record TASK-368's audit run and correct its method note
  tracker/tasks/task-368 - Load-bearing-invariants-live-in-docstrings-where-nothing-executes-them.md
Due: none

docs: complete the fast-follow ordering in the handoff pointer
  CURRENT.md
Due: none

docs: smoke item 5 PASS — Mistral re-clone after purge, not refused
  CURRENT.md
Due: none

docs: smoke item 19 PASS on the re-ask
  CURRENT.md
Due: none

docs(backlog): file TASK-387 — live reference path renders before injection
  tracker/tasks/task-387 - Live-reference-path-cannot-subtract-chat-log-enrichment-it-renders-before-injection.md
Due: none

docs: smoke item 12 PASS — /admin cleanup days:29
  CURRENT.md
Due: none

docs(backlog): file TASK-371/372 — inspect chunk cap, and a prod truncation bug
  backlog/now.md
  tracker/tasks/task-371 - Reasoning-chunk-cap-maxChunks-3-contradicts-the-recorded-owner-decision-in-its-own-docstring.md
  tracker/tasks/task-372 - PROD-quoted-thinking-tag-mid-response-truncates-the-visible-reply-and-inflates-reasoning.md
Due: none

docs: item 7 PASS; correct item 12 to days:29; file TASK-381
  CURRENT.md
  tracker/tasks/task-381 - Sharpen-the-filters-are-for-known-output-shapes-rule-it-misses-non-pipe-lossy-steps.md
Due: none

docs: smoke items 16 and 18 PASS — 18 proved by A/B across two diagnostics
  CURRENT.md
Due: none

refactor(ai-worker): one renderer for a quoted reference, dedup as projection
  packages/common-types/src/utils/dateFormatting.test.ts
  packages/common-types/src/utils/dateFormatting.ts
  packages/common-types/src/utils/referenceEnrichment.test.ts
  packages/common-types/src/utils/referenceEnrichment.ts
  packages/tooling/src/dev/check-prompt-tags.ts
  services/ai-worker/src/jobs/utils/conversationLengthEstimator.ts
  services/ai-worker/src/jobs/utils/conversationUtils.test.ts
  services/ai-worker/src/jobs/utils/xmlMetadataFormatters.test.ts
  services/ai-worker/src/jobs/utils/xmlMetadataFormatters.ts
  services/ai-worker/src/services/PromptBuilder.test.ts
  services/ai-worker/src/services/ReferencedMessageFormatter.test.ts
  services/ai-worker/src/services/ReferencedMessageFormatter.ts
  services/ai-worker/src/services/context/referenceEnricher.test.ts
  services/ai-worker/src/services/context/referenceEnricher.ts
  services/ai-worker/src/services/prompt/QuoteFormatter.test.ts
  services/ai-worker/src/services/prompt/QuoteFormatter.ts
  services/ai-worker/src/services/prompt/RenderableReference.test.ts
  services/ai-worker/src/services/prompt/RenderableReference.ts
  services/ai-worker/src/utils/xmlTextExtractor.test.ts
  services/bot-client/src/handlers/MessageReferenceExtractor.test.ts
  services/bot-client/src/handlers/references/ReferenceFormatter.test.ts
  services/bot-client/src/handlers/references/ReferenceFormatter.ts
Due: ai-worker, bot-client, common-types, integration

docs(backlog): record TASK-373's sweep and the rule that bounds it
  tracker/tasks/task-373 - Audit-content-that-QUOTES-our-control-syntax-—-every-parse-site-not-just-thinking-tags.md
Due: none

docs: close out TASK-370 + the beta.188 extended-context vision regression
  CURRENT.md
  tracker/tasks/task-370 - Cached-tokenCount-bypasses-the-accurate-estimator-—-budget-undercounts-every-metadata-section.md
Due: none

docs(backlog): route #1880 round-2 observations to their owning tasks
  tracker/tasks/task-365 - Reference-rendering-has-FOUR-hand-synced-paths-live-stored-x-full-deduped.md
  tracker/tasks/task-373 - Audit-content-that-QUOTES-our-control-syntax-—-every-parse-site-not-just-thinking-tags.md
  tracker/tasks/task-375 - Does-CHIMERA_ARTIFACT_PATTERN-still-earn-its-keep-now-that-tng-r1t-chimera-is-gone.md
Due: none

fix(ai-worker): stop quoted reasoning delimiters from eating the visible reply
  packages/common-types/src/utils/codeSpanDetection.test.ts
  packages/common-types/src/utils/codeSpanDetection.ts
  services/ai-worker/src/utils/thinkingExtraction.test.ts
  services/ai-worker/src/utils/thinkingExtraction.ts
Due: ai-worker, common-types, integration

feat(ai-worker): persist the references a turn was built from
  docs/proposals/backlog/conversation-history-sync-unification.md
  packages/common-types/src/types/schemas/message.test.ts
  packages/common-types/src/types/schemas/message.ts
  packages/conversation-history/src/ConversationHistoryService.test.ts
  packages/conversation-history/src/ConversationHistoryService.ts
  packages/conversation-history/src/index.ts
  packages/conversation-history/src/referenceImageDescriptions.test.ts
  packages/conversation-history/src/referenceImageDescriptions.ts
  packages/conversation-history/src/triggerReferenceWriter.test.ts
  packages/conversation-history/src/triggerReferenceWriter.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/DependencyStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/DependencyStep.ts
  services/ai-worker/src/jobs/handlers/pipeline/types.ts
  services/ai-worker/src/jobs/utils/conversationLengthEstimator.ts
  services/ai-worker/src/jobs/utils/conversationUtils.test.ts
  services/ai-worker/src/jobs/utils/xmlMetadataFormatters.test.ts
  services/ai-worker/src/jobs/utils/xmlMetadataFormatters.ts
  services/ai-worker/src/services/AttachmentProcessor.test.ts
  services/ai-worker/src/services/AttachmentProcessor.ts
  services/ai-worker/src/services/ConversationInputProcessor.test.ts
  services/ai-worker/src/services/ConversationInputProcessor.ts
  services/ai-worker/src/services/ConversationalRAGService.test.ts
  services/ai-worker/src/services/ConversationalRAGService.ts
  services/ai-worker/src/services/ConversationalRAGTypes.ts
  services/ai-worker/src/services/ReferencedMessageFormatter.ts
  services/ai-worker/src/services/context/referencePersistence.test.ts
  services/ai-worker/src/services/context/referencePersistence.ts
  services/ai-worker/src/services/context/visionDescriptionWriter.test.ts
  services/ai-worker/src/services/context/visionDescriptionWriter.ts
  services/ai-worker/src/services/prompt/QuoteFormatter.test.ts
  services/ai-worker/src/services/prompt/QuoteFormatter.ts
  services/ai-worker/src/services/prompt/storedReference.component.test.ts
  services/ai-worker/src/services/prompt/storedReference.test.ts
  services/ai-worker/src/services/prompt/storedReference.ts
  services/ai-worker/src/services/storedReferenceHydrator.test.ts
  services/ai-worker/src/services/storedReferenceHydrator.ts
  services/bot-client/src/services/ConversationPersistence.test.ts
  services/bot-client/src/services/ConversationPersistence.ts
Due: ai-worker, bot-client, common-types, integration

docs(backlog): record the TASK-365 grounding pass corrections
  tracker/tasks/task-365 - Reference-rendering-has-FOUR-hand-synced-paths-live-stored-x-full-deduped.md
Due: none

test(ai-worker): pin the orphan skip-and-continue loop
  services/ai-worker/src/utils/thinkingExtraction.test.ts
  services/ai-worker/src/utils/thinkingExtraction.ts
Due: ai-worker, integration

fix(ai-worker): derive a deduped stub's exclusion set from what the chat log renders
  services/ai-worker/src/jobs/utils/conversationUtils.ts
  services/ai-worker/src/jobs/utils/historyTokenMeasure.test.ts
  services/ai-worker/src/jobs/utils/xmlMetadataFormatters.test.ts
  services/ai-worker/src/jobs/utils/xmlMetadataFormatters.ts
  services/ai-worker/src/services/prompt/QuoteFormatter.ts
  services/ai-worker/src/services/prompt/RenderableReference.test.ts
  services/ai-worker/src/services/prompt/RenderableReference.ts
  services/ai-worker/src/services/prompt/storedReference.component.test.ts
  services/ai-worker/src/services/prompt/storedReference.ts
Due: ai-worker, integration

docs: smoke item 7 partial — incognito lifecycle green, filter arm not run
  CURRENT.md
Due: none

fix(ai-worker): spare quoted artifacts in response cleanup
  services/ai-worker/src/utils/responseArtifacts.test.ts
  services/ai-worker/src/utils/responseArtifacts.ts
Due: ai-worker, integration

docs(backlog): file TASK-384 — voice has no heal-on-read path
  tracker/tasks/task-384 - Stored-reference-heal-on-read-covers-images-but-not-voice-though-a-voice-cache-exists.md
Due: none

docs: close out TASK-367; watch the row-targeting fallback rate
  CURRENT.md
  tracker/tasks/task-367 - Reference-image-descriptions-are-keyed-to-the-trigger-row-so-a-re-ask-never-heals.md
Due: none

docs(backlog): correct TASK-365's sequencing against the code
  tracker/tasks/task-365 - Reference-rendering-has-FOUR-hand-synced-paths-live-stored-x-full-deduped.md
Due: none

docs: close out TASK-370 + the beta.188 extended-context vision regression
  CURRENT.md
Due: none

docs(rules): a shared mutable context is a seam with no mock to assert across
  .claude/rules/02-code-standards.md
Due: none

docs: smoke item 6 PASS — /memory fresh full lifecycle
  CURRENT.md
Due: none

fix(ai-worker): gate complete quoted tag pairs, the third and likeliest path
  services/ai-worker/src/utils/thinkingExtraction.test.ts
  services/ai-worker/src/utils/thinkingExtraction.ts
Due: ai-worker, integration

docs(backlog): file the chimera-pattern lifecycle question (TASK-375)
  tracker/tasks/task-375 - Does-CHIMERA_ARTIFACT_PATTERN-still-earn-its-keep-now-that-tng-r1t-chimera-is-gone.md
Due: none

docs(backlog): file TASK-385 (derive-early) and TASK-386 (write-only tokenCount)
  tracker/tasks/task-385 - Resolve-extended-context-images-at-the-pipeline-front-door-kill-the-absence-as-protocol-seam.md
  tracker/tasks/task-386 - conversation_history.tokenCount-is-write-only-after-1885-—-remove-it-or-redefine-it.md
Due: none

docs: smoke item 14 PASS on the complete-pair arm
  CURRENT.md
Due: none

docs: rewrite smoke items 16 and 18 as concrete numbered steps
  CURRENT.md
Due: none

docs: smoke items 3 and 4 PASS; file TASK-380 (latent purge miscount)
  CURRENT.md
  tracker/tasks/task-380 - Voice-purge-folds-already-gone-voices-into-the-deleted-count.md
Due: none

fix(ai-worker): stop erasing the absent-list sentinel extended-context vision needs
  services/ai-worker/src/jobs/handlers/pipeline/steps/DownloadAttachmentsStep.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/extendedContextVisionSeam.test.ts
Due: ai-worker, integration

docs(backlog): correct TASK-390 — the size hypothesis is disproven
  tracker/tasks/task-390 - claude-review can go green without posting a review — verify by comment count.md
Due: none

docs(backlog): record that #1882 closed TASK-370's quote-shape half
  tracker/tasks/task-370 - Cached-tokenCount-bypasses-the-accurate-estimator-—-budget-undercounts-every-metadata-section.md
Due: none

docs(ai-worker): stop three load-bearing claims reading as guarantees
  services/ai-worker/src/services/context/fromApiMessage.ts
  services/ai-worker/src/services/prompt/RenderableReference.ts
  services/bot-client/src/commands/inspect/views.ts
Due: ai-worker, bot-client, integration

docs: beta.188 smoke item A PASS — the prod bug is fixed at runtime
  CURRENT.md
Due: none

Path conditions:
  ai-worker: any of: services/ai-worker/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  api-gateway: any of: services/api-gateway/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  bot-client: any of: services/bot-client/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  common-types: any of: packages/common-types/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  integration: any of: services/, packages/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
