Repository lbds137/tzurot: changes, and which Codecov flags are due for each by the changed paths.
All: ai-worker, api-gateway, bot-client, common-types, integration

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 2%
        informational: false
    patch:
      default:
        target: 80%
        threshold: 5%
        informational: false

comment:
  layout: 'reach,diff,flags,tree,files'
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flag_management:
  default_rules:
    carryforward: true

flags:
  ai-worker:
    paths:
      - services/ai-worker/
  api-gateway:
    paths:
      - services/api-gateway/
  bot-client:
    paths:
      - services/bot-client/
  common-types:
    paths:
      - packages/common-types/
  # Integration tests cover all services
  integration:
    paths:
      - services/
      - packages/

ignore:
  - '**/*.test.ts'
  - '**/*.spec.ts'
  - '**/dist/**'
  - '**/node_modules/**'
  - 'scripts/**'
  - 'tzurot-legacy/**'

fix(bot-client): character create dashboard shows Delete (canEdit graft)
  services/bot-client/src/commands/character/api.test.ts
  services/bot-client/src/commands/character/api.ts
  services/bot-client/src/commands/character/create.test.ts
  services/bot-client/src/commands/character/create.ts
Due: bot-client, integration

chore: bump version to 3.0.0-beta.171
  package.json
  packages/cache-invalidation/package.json
  packages/clients/package.json
  packages/common-types/package.json
  packages/config-resolver/package.json
  packages/conversation-history/package.json
  packages/embeddings/package.json
  packages/identity/package.json
  packages/test-factories/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  services/website/package.json
  tests/package.json
Due: ai-worker, api-gateway, bot-client, common-types, integration

docs: pr-5b merged (#1714) — factory on labels, trio closed to (d)
  CURRENT.md
Due: none

feat(bot-client): remove Close buttons everywhere (D18, owner call)
  docs/reference/standards/SLASH_COMMAND_UX.md
  services/bot-client/src/commands/character/browse.test.ts
  services/bot-client/src/commands/character/config.ts
  services/bot-client/src/commands/character/dashboardActions.test.ts
  services/bot-client/src/commands/character/dashboardActions.ts
  services/bot-client/src/commands/character/edit.test.ts
  services/bot-client/src/commands/persona/config.ts
  services/bot-client/src/commands/preset/browse.test.ts
  services/bot-client/src/commands/preset/config.ts
  services/bot-client/src/commands/preset/dashboardButtons.test.ts
  services/bot-client/src/commands/preset/edit.test.ts
  services/bot-client/src/commands/settings/defaults/edit.test.ts
  services/bot-client/src/utils/dashboard/DashboardBuilder.test.ts
  services/bot-client/src/utils/dashboard/DashboardBuilder.ts
  services/bot-client/src/utils/dashboard/refreshHandler.test.ts
  services/bot-client/src/utils/dashboard/settings/SettingsDashboardBuilder.test.ts
  services/bot-client/src/utils/dashboard/settings/SettingsDashboardBuilder.ts
  services/bot-client/src/utils/dashboard/settings/SettingsDashboardHandler.test.ts
  services/bot-client/src/utils/dashboard/settings/settingsButtonBuilders.test.ts
  services/bot-client/src/utils/dashboard/settings/settingsButtonBuilders.ts
Due: bot-client, integration

refactor(bot-client): migrate character + settings chains onto the component router
  services/bot-client/src/commands/character/interactionRouting.test.ts
  services/bot-client/src/commands/character/interactionRouting.ts
  services/bot-client/src/commands/settings/index.test.ts
  services/bot-client/src/commands/settings/index.ts
  services/bot-client/src/utils/dashboard/types.ts
Due: bot-client, integration

docs: detail-card builder shipped (#1719) — board pointers to PR-7
  CURRENT.md
  backlog/active-epic.md
  backlog/cold/follow-ups.md
Due: none

docs: persona create dashboard landing shipped (#1721)
  CURRENT.md
Due: none

docs: modal wave complete (#1718) — board pointers to PR-6
  CURRENT.md
  backlog/active-epic.md
Due: none

docs: owner smoke findings shipped (#1717) — canedit fix + d18 complete
  CURRENT.md
Due: none

feat(bot-client): migrate dashboard ModalFactory onto the Label toolkit
  services/bot-client/src/utils/dashboard/ModalFactory.test.ts
  services/bot-client/src/utils/dashboard/ModalFactory.ts
  services/bot-client/src/utils/dashboard/settings/SettingsModalFactory.ts
  services/bot-client/src/utils/modal/toolkit.test.ts
  services/bot-client/src/utils/modal/toolkit.ts
  services/bot-client/src/utils/modal/types.ts
Due: bot-client, integration

docs: pr-5c merged (#1716) — modal wave core complete; transient-retry filed
  CURRENT.md
  backlog/cold/follow-ups.md
Due: none

chore: develop-guard triple — version-bump exception, rename/.mts gaps, probe rows
  .claude/hooks/develop-code-commit-guard.probe.sh
  .claude/hooks/develop-code-commit-guard.sh
  backlog/cold/follow-ups.md
Due: none

feat(bot-client): migrate remaining modal sites onto the toolkit + retry sweep
  backlog/cold/follow-ups.md
  services/bot-client/src/commands/character/create.test.ts
  services/bot-client/src/commands/character/create.ts
  services/bot-client/src/commands/deny/detailEdit.ts
  services/bot-client/src/commands/memory/detailModals.test.ts
  services/bot-client/src/commands/memory/detailModals.ts
  services/bot-client/src/commands/memory/factsDetail.ts
  services/bot-client/src/commands/persona/create.test.ts
  services/bot-client/src/commands/persona/create.ts
  services/bot-client/src/commands/persona/index.test.ts
  services/bot-client/src/commands/persona/index.ts
  services/bot-client/src/commands/persona/override/set.test.ts
  services/bot-client/src/commands/persona/override/set.ts
  services/bot-client/src/commands/persona/utils/modalBuilder.test.ts
  services/bot-client/src/commands/persona/utils/modalBuilder.ts
  services/bot-client/src/commands/preset/create.test.ts
  services/bot-client/src/commands/preset/create.ts
  services/bot-client/src/commands/settings/apikey/set.test.ts
  services/bot-client/src/commands/settings/apikey/set.ts
  services/bot-client/src/commands/shapes/auth.test.ts
  services/bot-client/src/commands/shapes/auth.ts
  services/bot-client/src/utils/modal/retry.test.ts
  services/bot-client/src/utils/modal/retry.ts
Due: bot-client, integration

feat(bot-client): preserve-input-on-validation-failure for create modals
  services/bot-client/src/commands/character/create.test.ts
  services/bot-client/src/commands/character/create.ts
  services/bot-client/src/commands/character/interactionRouting.test.ts
  services/bot-client/src/commands/character/interactionRouting.ts
  services/bot-client/src/commands/preset/create.test.ts
  services/bot-client/src/commands/preset/create.ts
  services/bot-client/src/commands/preset/index.test.ts
  services/bot-client/src/commands/preset/index.ts
  services/bot-client/src/utils/modal/retry.test.ts
  services/bot-client/src/utils/modal/retry.ts
Due: bot-client, integration

docs: router migration + d14 shipped (#1720) — board pointers to PR-8
  CURRENT.md
  backlog/active-epic.md
Due: none

docs: beta.170 released — slate reset, db-sync incident closed, review nuance filed
  CURRENT.md
  backlog/cold/follow-ups.md
  backlog/now.md
Due: none

feat(bot-client): shared entity detail-card builder + 6-site retrofit
  services/bot-client/src/commands/deny/detailTypes.ts
  services/bot-client/src/commands/memory/detail.ts
  services/bot-client/src/commands/memory/factsDetail.test.ts
  services/bot-client/src/commands/memory/factsDetail.ts
  services/bot-client/src/commands/persona/view.test.ts
  services/bot-client/src/commands/persona/view.ts
  services/bot-client/src/commands/shapes/detail.ts
  services/bot-client/src/commands/voice/view.test.ts
  services/bot-client/src/commands/voice/view.ts
  services/bot-client/src/utils/detailCard.test.ts
  services/bot-client/src/utils/detailCard.ts
Due: bot-client, integration

feat(bot-client): persona create lands in the edit dashboard
  services/bot-client/src/commands/persona/create.test.ts
  services/bot-client/src/commands/persona/create.ts
Due: bot-client, integration

fix(bot-client): carry canEdit through character updates — delete button vanished post-edit
  services/bot-client/src/commands/character/api.test.ts
  services/bot-client/src/commands/character/api.ts
  services/bot-client/src/commands/character/dashboard.test.ts
  services/bot-client/src/commands/character/dashboardActions.ts
Due: bot-client, integration

docs(backlog): strike shipped modal-trio items; fold convergence note into (d)
  backlog/cold/follow-ups.md
Due: none

docs: beta.171 released — slate reset
  CURRENT.md
Due: none

docs(backlog): ratchet trend report + auto-tightening idea (owner concern)
  backlog/cold/ideas.md
Due: none

feat(bot-client): "Inspect Message" context menu — first context-menu command
  knip.json
  services/bot-client/command-manifest.json
  services/bot-client/src/commands/inspectMessage.test.ts
  services/bot-client/src/commands/inspectMessage.ts
  services/bot-client/src/handlers/CommandHandler.test.ts
  services/bot-client/src/handlers/CommandHandler.ts
  services/bot-client/src/handlers/commandManifest.test.ts
  services/bot-client/src/index.ts
  services/bot-client/src/types.ts
  services/bot-client/src/utils/commandFileUtils.test.ts
  services/bot-client/src/utils/commandFileUtils.ts
  services/bot-client/src/utils/defineCommand.ts
  services/bot-client/src/utils/gatewayClients.ts
  services/bot-client/src/ux/render/reply.ts
Due: bot-client, integration

docs: inspect context menu shipped (#1724) — board pointers to PR-8b
  CURRENT.md
  backlog/active-epic.md
Due: none

feat(bot-client): /inspect view residuals — input, params, post-processing, reasoning cap
  services/bot-client/src/commands/inspect/components.test.ts
  services/bot-client/src/commands/inspect/components.ts
  services/bot-client/src/commands/inspect/extendedViews.test.ts
  services/bot-client/src/commands/inspect/extendedViews.ts
  services/bot-client/src/commands/inspect/index.ts
  services/bot-client/src/commands/inspect/types.ts
  services/bot-client/src/commands/inspect/views.ts
  services/bot-client/src/utils/chunkedReply.test.ts
  services/bot-client/src/utils/chunkedReply.ts
Due: bot-client, integration

docs: inspect residuals complete (#1725) — PR-9 is phase 2's last slice
  CURRENT.md
  backlog/active-epic.md
Due: none

fix(ci): make claude hooks cwd-independent
  .claude/settings.json
Due: none

feat(bot-client): components-v2 pilot on /character view (D17)
  services/bot-client/src/commands/character/characterTypes.ts
  services/bot-client/src/commands/character/view.test.ts
  services/bot-client/src/commands/character/view.ts
  services/bot-client/src/commands/character/viewTypes.ts
  services/bot-client/src/commands/character/viewV2.test.ts
  services/bot-client/src/commands/character/viewV2.ts
  services/bot-client/src/utils/gatewayAccessGuard.test.ts
Due: bot-client, integration

docs(backlog): file export.ts avatar-url encoding nit (#1726 review)
  backlog/cold/follow-ups.md
Due: none

docs: pr-9 merged, phase 2 slices complete; hooks fix + skill pr; riders filed
  CURRENT.md
  backlog/active-epic.md
  backlog/cold/follow-ups.md
Due: none

feat: add tzurot-session-mining skill (friction mining -> structural fixes)
  .claude/hooks/skill-eval.sh
  .claude/skills/README.md
  .claude/skills/tzurot-session-mining/SKILL.md
Due: none
