Repository lbds137/tzurot: changes, and which Codecov flags are due for each by the changed paths.
All: ai-worker, api-gateway, bot-client, common-types, integration

docs: record the beta.145 openers + backlog-shrink pass in CURRENT.md
  CURRENT.md
Due: none

docs(backlog): promote three multi-row clusters to theme files
  backlog/active-epic.md
  backlog/cold/follow-ups.md
  backlog/cold/queue.md
  backlog/cold/themes/llm-config-legacy-column-retirement.md
  backlog/cold/themes/pglite-fidelity-real-postgres-integration-tier.md
  backlog/cold/themes/zai-402-error-shape-verification.md
Due: none

docs: backlog shrink sweep — /models reference, full package list, stale-row removal
  CLAUDE.md
  README.md
  backlog/cold/follow-ups.md
  docs/commands.md
Due: none

docs(backlog): tts pointer migration shipped, close out trackers
  backlog/cold/follow-ups.md
  backlog/now.md
Due: none

docs: record clean-first builds + workflow-sync guard in CURRENT.md
  CURRENT.md
Due: none

refactor(ai-worker): vision failure-taxonomy cleanup (3 backlog rows)
  backlog/cold/follow-ups.md
  services/ai-worker/src/services/multimodal/VisionProcessor.test.ts
  services/ai-worker/src/services/multimodal/VisionProcessor.ts
  services/ai-worker/src/services/multimodal/describeImageWithFallback.integration.test.ts
  services/ai-worker/src/services/multimodal/visionDescriptionValidity.test.ts
  services/ai-worker/src/services/multimodal/visionDescriptionValidity.ts
Due: ai-worker, integration

test(api-gateway): verify the TTS pointer backfill against data
  services/api-gateway/src/services/ttsPointerBackfill.component.test.ts
Due: none

docs(backlog): file the workflow-sync guard narrowing (validation is file-scoped)
  backlog/cold/follow-ups.md
Due: none

chore: bump version to 3.0.0-beta.145
  package.json
  packages/cache-invalidation/package.json
  packages/clients/package.json
  packages/common-types/package.json
  packages/config-resolver/package.json
  packages/conversation-history/package.json
  packages/embeddings/package.json
  packages/identity/package.json
  packages/test-factories/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  tests/package.json
Due: ai-worker, api-gateway, bot-client, common-types, integration

fix(deps): clean-first builds — kill the turbo cache-poisoning class
  packages/cache-invalidation/package.json
  packages/clients/package.json
  packages/common-types/package.json
  packages/config-resolver/package.json
  packages/conversation-history/package.json
  packages/embeddings/package.json
  packages/identity/package.json
  packages/test-factories/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
Due: ai-worker, api-gateway, bot-client, common-types, integration

test: close the retention test gaps — 'all'-target seam + mid-sweep partial-commit contract
  packages/conversation-history/src/ConversationRetentionService.component.test.ts
  services/api-gateway/src/routes/admin/cleanup.test.ts
Due: none

fix(bot-client): backlog-shrink sweep — six small verified fixes
  backlog/cold/follow-ups.md
  packages/common-types/src/utils/referenceEnrichment.test.ts
  packages/common-types/src/utils/referenceEnrichment.ts
  services/bot-client/src/commands/admin/cleanup.test.ts
  services/bot-client/src/commands/admin/db-sync.test.ts
  services/bot-client/src/commands/admin/settings.test.ts
  services/bot-client/src/commands/admin/usage.test.ts
  services/bot-client/src/commands/character/chat.test.ts
  services/bot-client/src/commands/character/chat.ts
  services/bot-client/src/commands/inspect/browse.test.ts
  services/bot-client/src/commands/inspect/index.test.ts
  services/bot-client/src/commands/inspect/lookup.test.ts
  services/bot-client/src/commands/memory/batchDelete.test.ts
  services/bot-client/src/commands/memory/detail.test.ts
  services/bot-client/src/commands/memory/purge.test.ts
  services/bot-client/src/commands/persona/dashboard.test.ts
  services/bot-client/src/commands/preset/dashboard.test.ts
  services/bot-client/src/commands/preset/dashboardButtons.test.ts
  services/bot-client/src/commands/settings/apikey/modal.test.ts
  services/bot-client/src/commands/settings/apikey/modal.ts
  services/bot-client/src/handlers/references/ReferenceCrawler.ts
Due: bot-client, common-types, integration

docs(skills): dev deploys prove boot, not behavior — never cite "soaked in dev"
  .claude/skills/tzurot-deployment/SKILL.md
  .claude/skills/tzurot-git-workflow/SKILL.md
Due: none

docs(backlog): line up beta.145 — three openers in Current Focus, stale C7 row removed
  backlog/cold/follow-ups.md
  backlog/now.md
Due: none

chore(tooling): make deferred-ref triggers fire on bare filenames + at push time
  .claude/rules/03-database.md
  .husky/pre-push
  backlog/cold/follow-ups.md
  packages/tooling/src/dev/check-deferred-refs.test.ts
  packages/tooling/src/dev/check-deferred-refs.ts
Due: integration

feat(api-gateway): migrate TTS defaults to AdminSettings pointers
  backlog/cold/follow-ups.md
  packages/common-types/src/schemas/api/tts-config.test.ts
  packages/common-types/src/schemas/api/tts-config.ts
  packages/common-types/src/services/TtsConfigMapper.test.ts
  packages/common-types/src/services/TtsConfigMapper.ts
  packages/config-resolver/src/TtsConfigResolver.test.ts
  packages/config-resolver/src/TtsConfigResolver.ts
  packages/test-utils/schema/pglite-schema.sql
  prisma/migrations/20260702153648_add_admin_settings_tts_default_pointers/migration.sql
  prisma/schema.prisma
  services/api-gateway/src/routes/admin/configResponseContract.test.ts
  services/api-gateway/src/routes/admin/tts-config.test.ts
  services/api-gateway/src/routes/admin/tts-config.ts
  services/api-gateway/src/routes/user/tts-override.test.ts
  services/api-gateway/src/routes/user/tts-override.ts
  services/api-gateway/src/services/DatabaseSyncService.ts
  services/api-gateway/src/services/TtsConfigBootstrap.test.ts
  services/api-gateway/src/services/TtsConfigBootstrap.ts
  services/api-gateway/src/services/TtsConfigService.component.test.ts
  services/api-gateway/src/services/TtsConfigService.test.ts
  services/api-gateway/src/services/TtsConfigService.ts
  services/api-gateway/src/services/sync/config/syncTables.ts
  services/api-gateway/src/services/sync/utils/ttsConfigSingletons.test.ts
  services/api-gateway/src/services/sync/utils/ttsConfigSingletons.ts
  services/api-gateway/src/services/ttsConfigListHelpers.test.ts
  services/api-gateway/src/services/ttsConfigListHelpers.ts
Due: api-gateway, common-types, integration

docs: beta.145 openers 4/5 shipped — close out trackers, file the ci.yml comment nit
  CURRENT.md
  backlog/cold/follow-ups.md
  backlog/now.md
Due: none

docs(backlog): file the first-use onboarding DM theme (data-training disclosure)
  backlog/cold/queue.md
  backlog/cold/themes/first-use-onboarding-dm.md
Due: none

docs(backlog): re-scope the isDefault opener to the TTS pointer migration
  backlog/now.md
Due: none

docs(backlog): lifecycle opener shipped (#1444); file the server.close drain follow-up
  backlog/cold/follow-ups.md
  backlog/now.md
Due: none

test(ai-worker): vision fallback loop integration test over real Redis
  services/ai-worker/src/services/multimodal/describeImageWithFallback.integration.test.ts
  vitest.integration.config.ts
Due: none

docs(backlog): file the clean-first build-script guard follow-up
  backlog/cold/follow-ups.md
Due: none

fix(common-types): routing-context discordId validates as a real snowflake
  backlog/cold/follow-ups.md
  packages/common-types/src/schemas/api/internal.test.ts
  packages/common-types/src/schemas/api/internal.ts
Due: common-types, integration

docs(backlog): file the vision error-pattern recall watch item
  backlog/cold/follow-ups.md
Due: none

feat(common-types): unify process-lifecycle handling across all services
  packages/common-types/src/index.ts
  packages/common-types/src/utils/processLifecycle.test.ts
  packages/common-types/src/utils/processLifecycle.ts
  services/ai-worker/src/index.ts
  services/api-gateway/src/index.ts
  services/bot-client/src/index.ts
Due: ai-worker, api-gateway, bot-client, common-types, integration

docs: beta.144 close-out — CURRENT.md reset, backlog filing, zombie-outage postmortem
  CURRENT.md
  backlog/active-epic.md
  backlog/cold/follow-ups.md
  docs/incidents/PROJECT_POSTMORTEMS.md
Due: none

feat(tooling): guard:workflow-sync — catch develop-first workflow drift
  .claude/rules/05-tooling.md
  .husky/pre-push
  backlog/cold/follow-ups.md
  package.json
  packages/tooling/src/audits/check-claude-content-refs.test.ts
  packages/tooling/src/commands/guard.ts
  packages/tooling/src/dev/check-workflow-sync.test.ts
  packages/tooling/src/dev/check-workflow-sync.ts
Due: integration

fix(bot-client): route override-create errors through mapOverrideError + close the ack-first cluster
  backlog/cold/follow-ups.md
  services/bot-client/src/commands/persona/override/set.test.ts
  services/bot-client/src/commands/persona/override/set.ts
Due: bot-client, integration

docs: reset CURRENT.md for v3.0.0-beta.145
  CURRENT.md
Due: none

docs: queue the beta.146 board — z.ai routing bug + epic pick + quick wins
  CURRENT.md
  backlog/now.md
Due: none

docs: reshape the beta.146 board — z.ai diagnosis + spinoff-theme sweep
  CURRENT.md
  backlog/active-epic.md
  backlog/cold/follow-ups.md
  backlog/cold/queue.md
  backlog/now.md
Due: none

Path conditions:
  ai-worker: any of: services/ai-worker/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  api-gateway: any of: services/api-gateway/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  bot-client: any of: services/bot-client/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  common-types: any of: packages/common-types/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  integration: any of: services/, packages/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
