Repository lbds137/tzurot: changes, and which Codecov flags are due for each by the changed paths.
All: ai-worker, api-gateway, bot-client, common-types, integration

docs(backlog): relocate max-age off-vs-inherit to future-themes
  backlog/future-themes.md
  backlog/quick-wins.md
Due: none

docs(backlog): neutts air abandon — phase 2 closed, candidates filed
  CURRENT.md
  backlog/active-epic.md
  backlog/future-themes.md
Due: none

docs(backlog): capture 2026-05-13 user feedback on tts quality bar
  backlog/future-themes.md
Due: none

docs(backlog): file mistral guardrail + ref-audio audit + update byok re-eval
  backlog/future-themes.md
  backlog/inbox.md
Due: none

feat(tooling): add voice-refs:audit ops command for mistral 30s cap
  backlog/inbox.md
  docs/reference/tooling/OPS_CLI_REFERENCE.md
  packages/tooling/src/cli.ts
  packages/tooling/src/commands/commands.test.ts
  packages/tooling/src/commands/voice.ts
  packages/tooling/src/voice/audit-references.test.ts
  packages/tooling/src/voice/audit-references.ts
Due: integration

chore(deps): bump protobufjs override to 7.5.6+ for cve batch (8 alerts)
  package.json
  pnpm-lock.yaml
Due: none

docs(backlog): correct byok candidate list — elevenlabs out, fish audio in
  backlog/future-themes.md
Due: none

docs(backlog): icebox rvc + elevenlabs-as-training-data hybrid
  backlog/icebox.md
Due: none

docs(backlog): rvc icebox — owner has existing el audio, cost drops further
  backlog/icebox.md
Due: none

docs(backlog): rvc icebox — note voice.mp3 vs slug-filename eras
  backlog/icebox.md
Due: none

docs(backlog): rvc icebox — fold in tos-compliant extraction approach
  backlog/icebox.md
Due: none

docs(backlog): tts post-processing sub-track — DSP probe verdict + OpenVoice V2 TCC handoff
  backlog/future-themes.md
Due: none

docs(backlog): pocket tts post-processing sub-track dropped — verdict + rationale
  backlog/future-themes.md
Due: none

docs(backlog): tts re-eval theme — council verdict on remaining cpu-tts candidates
  backlog/future-themes.md
Due: none

docs(backlog): f5-tts dropped after hands-on probe — cpu-cloning chapter closed
  backlog/future-themes.md
Due: none

docs(backlog): f5-tts probe — actual failure mode + nfe-cliff lesson
  backlog/future-themes.md
Due: none

docs(backlog): pocket tts knob sweep — empirical exhaustion of cpu path
  backlog/future-themes.md
Due: none

docs(backlog): cpu-cloning comprehensively exhausted across 7 angles
  backlog/future-themes.md
Due: none

docs(backlog): defer pocket-tts quantize=True (probe negative for our hardware)
  backlog/deferred.md
Due: none

feat(voice-engine): bump pocket-tts to 2.1.0 — better voice cloning
  services/voice-engine/requirements.txt
  services/voice-engine/server.py
  services/voice-engine/tests/test_lifespan.py
Due: integration

fix(bot-client): /memory purge component routing — fixes prod 10062 errors
  eslint.config.js
  services/bot-client/src/commands/memory/batchDelete.ts
  services/bot-client/src/commands/memory/index.ts
  services/bot-client/src/commands/memory/interactionHandlers.ts
  services/bot-client/src/commands/memory/purge.test.ts
  services/bot-client/src/commands/memory/purge.ts
Due: bot-client, integration

feat: /chat random exclude-private toggle + bot-owner preset edit/delete cascade
  packages/common-types/src/generated/commandOptions.ts
  services/api-gateway/src/routes/user/llm-config.test.ts
  services/api-gateway/src/routes/user/llm-config.ts
  services/bot-client/src/commands/character/chat.test.ts
  services/bot-client/src/commands/character/chat.ts
  services/bot-client/src/commands/character/index.ts
  services/bot-client/src/commands/character/randomPick.test.ts
  services/bot-client/src/commands/character/randomPick.ts
  services/bot-client/src/handlers/__snapshots__/CommandHandler.int.test.ts.snap
Due: api-gateway, bot-client, common-types, integration

chore: bump version to 3.0.0-beta.121
  package.json
  packages/common-types/package.json
  packages/embeddings/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  tests/package.json
Due: ai-worker, api-gateway, bot-client, common-types, integration

chore: stt polish — SttDispatch alias + resolver fallback
  backlog/icebox.md
  backlog/quick-wins.md
  packages/common-types/src/types/sttProvider.ts
  services/ai-worker/src/jobs/AudioTranscriptionJob.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/AuthStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/AuthStep.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/DependencyStep.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/GenerationStep.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/autoPromotionFallback.ts
  services/ai-worker/src/jobs/handlers/pipeline/types.ts
  services/ai-worker/src/services/AttachmentProcessor.ts
  services/ai-worker/src/services/ConversationInputProcessor.ts
  services/ai-worker/src/services/ConversationalRAGTypes.ts
  services/ai-worker/src/services/MultimodalProcessor.ts
  services/ai-worker/src/services/ReferencedMessageFormatter.ts
  services/ai-worker/src/services/multimodal/AudioProcessor.ts
Due: ai-worker, common-types, integration

docs(backlog): cluster TTS/STT items + add Mistral-quality eval
  backlog/inbox.md
Due: none

docs: redact hosted deployment URL from public docs
  .claude/skills/tzurot-deployment/SKILL.md
  README.md
  docs/reference/deployment/RAILWAY_OPERATIONS.md
  docs/reference/testing/BYOK_MANUAL_TESTING.md
Due: none

docs: refresh CURRENT.md after inbox-drain triage pass
  CURRENT.md
Due: none

docs: clear stale post-beta.120 tracker entries
  backlog/current-focus.md
  backlog/inbox.md
Due: none

Path conditions:
  ai-worker: any of: services/ai-worker/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  api-gateway: any of: services/api-gateway/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  bot-client: any of: services/bot-client/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  common-types: any of: packages/common-types/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  integration: any of: services/, packages/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
