Repository lbds137/tzurot: changes, and which Codecov flags are due for each by the changed paths.
All: ai-worker, api-gateway, bot-client, common-types, integration

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 2%
        informational: false
    patch:
      default:
        target: 80%
        threshold: 5%
        informational: false

comment:
  layout: 'reach,diff,flags,tree,files'
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flag_management:
  default_rules:
    carryforward: true

flags:
  ai-worker:
    paths:
      - services/ai-worker/
  api-gateway:
    paths:
      - services/api-gateway/
  bot-client:
    paths:
      - services/bot-client/
  common-types:
    paths:
      - packages/common-types/
  # Integration tests cover all services
  integration:
    paths:
      - services/
      - packages/

ignore:
  - '**/*.test.ts'
  - '**/*.spec.ts'
  - '**/dist/**'
  - '**/node_modules/**'
  - 'scripts/**'
  - 'tzurot-legacy/**'

fix: address PR review feedback
  BACKLOG.md
  packages/common-types/src/services/ConversationSyncService.int.test.ts
  services/ai-worker/src/services/LongTermMemoryService.int.test.ts
Due: none

test: add take limits to unbounded findMany queries
  packages/common-types/src/services/UserService.int.test.ts
  services/ai-worker/src/services/LongTermMemoryService.int.test.ts
Due: none

test(bot-client): add coverage for GatewayClient and VerificationCleanupScheduler
  services/bot-client/src/services/VerificationCleanupScheduler.test.ts
  services/bot-client/src/utils/GatewayClient.test.ts
Due: none

test(common-types): add ConversationSyncService integration tests
  packages/common-types/src/services/ConversationSyncService.int.test.ts
  services/ai-worker/src/services/ConversationalRAGService.ts
  test-coverage-baseline.json
Due: ai-worker, integration

docs: document query truncation in customId factory
  .claude/skills/tzurot-slash-command-ux/SKILL.md
  services/bot-client/src/utils/browse/customIdFactory.ts
  services/bot-client/src/utils/browse/index.ts
Due: bot-client, integration

fix(bot-client): remove reply indicators from DM responses
  services/bot-client/src/services/DiscordResponseSender.test.ts
  services/bot-client/src/services/DiscordResponseSender.ts
Due: bot-client, integration

fix(bot-client): support legacy pipe delimiter in bot username
  services/bot-client/src/utils/WebhookManager.test.ts
  services/bot-client/src/utils/WebhookManager.ts
Due: bot-client, integration

feat(tooling): add unified test coverage audit tool
  .claude/skills/tzurot-testing/SKILL.md
  BACKLOG.md
  docs/reference/testing/COVERAGE_AUDIT_SYSTEM.md
  packages/common-types/src/services/UserService.service.test.ts
  packages/common-types/src/services/personality/PersonalityService.service.test.ts
  packages/tooling/src/commands/commands.test.ts
  packages/tooling/src/commands/test.ts
  packages/tooling/src/test/audit-unified.test.ts
  packages/tooling/src/test/audit-unified.ts
  test-coverage-baseline.json
Due: integration

test(ai-worker): add LongTermMemoryService integration tests
  services/ai-worker/src/services/LongTermMemoryService.int.test.ts
  test-coverage-baseline.json
Due: none

fix(bot-client): address PR review feedback for DM verification
  services/bot-client/src/services/PersonalityMessageHandler.test.ts
  services/bot-client/src/services/ReplyResolutionService.ts
  services/bot-client/src/services/VerificationMessageCleanup.test.ts
  services/bot-client/src/services/VerificationMessageCleanup.ts
  services/bot-client/src/utils/pendingVerificationMessages.test.ts
  services/bot-client/src/utils/pendingVerificationMessages.ts
Due: bot-client, integration

docs(repo): add test tooling polish items from PR review
  BACKLOG.md
Due: none

fix: address PR #546 review suggestions
  .claude/skills/tzurot-db-vector/SKILL.md
  packages/common-types/src/services/UserService.int.test.ts
  services/ai-worker/src/services/UserReferenceResolver.ts
Due: ai-worker, integration

fix(test-utils): restore Redis mock and setupTestEnvironment for integration tests
  packages/test-utils/package.json
  packages/test-utils/src/RedisClientMock.ts
  packages/test-utils/src/index.ts
  packages/test-utils/src/setup-pglite.ts
  pnpm-lock.yaml
  services/api-gateway/src/routes/admin/AdminRoutes.int.test.ts
  services/api-gateway/src/routes/ai/AIRoutes.int.test.ts
  vitest.int.config.ts
Due: integration

docs: update CURRENT.md with session progress
  CURRENT.md
Due: none

docs: sync testing guide with skill and fix incorrect paths
  .claude/skills/tzurot-testing/SKILL.md
  docs/reference/guides/TESTING.md
Due: none

docs: remove completed backlog items
  BACKLOG.md
Due: none

refactor(tests): create standalone test-utils package to break cyclic dependency
  .github/workflows/ci.yml
  packages/common-types/package.json
  packages/common-types/src/services/UserService.int.test.ts
  packages/common-types/src/services/VisionDescriptionCache.int.test.ts
  packages/common-types/src/services/VoiceTranscriptCache.int.test.ts
  packages/common-types/src/services/personality/PersonalityService.int.test.ts
  packages/test-utils/package.json
  packages/test-utils/schema/pglite-schema.sql
  packages/test-utils/src/index.ts
  packages/test-utils/src/setup-pglite.ts
  packages/test-utils/tsconfig.json
  packages/tooling/src/test/generate-schema.test.ts
  packages/tooling/src/test/generate-schema.ts
  pnpm-lock.yaml
  scripts/testing/regenerate-pglite-schema.sh
  services/ai-worker/package.json
  services/ai-worker/src/services/DuplicateDetectionFlow.int.test.ts
  services/api-gateway/package.json
  services/api-gateway/src/routes/admin/AdminRoutes.int.test.ts
  services/api-gateway/src/routes/ai/AIRoutes.int.test.ts
  services/bot-client/package.json
  services/bot-client/src/services/RedisService.int.test.ts
  tests/e2e/database.e2e.test.ts
  tests/helpers/RedisClientMock.ts
  tests/helpers/setup-pglite.ts
  tests/package.json
  tests/tsconfig.json
Due: ai-worker, api-gateway, bot-client, common-types, integration

chore: bump version to v3.0.0-beta.60 and update docs
  BACKLOG.md
  CURRENT.md
  README.md
  docs/proposals/active/V2_FEATURE_TRACKING.md
  package.json
  packages/common-types/package.json
  packages/embeddings/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/data/import-personality/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  tests/package.json
Due: ai-worker, api-gateway, bot-client, common-types, integration

style(bot-client): change webhook separator from | to · (middle dot)
  services/bot-client/src/utils/WebhookManager.test.ts
  services/bot-client/src/utils/WebhookManager.ts
Due: bot-client, integration

chore: update test coverage baseline
  test-coverage-baseline.json
Due: none

docs: add rule against unilaterally abandoning work
  .claude/skills/tzurot-git-workflow/SKILL.md
  CLAUDE.md
Due: none

refactor(bot-client): improve error logging in ReplyResolutionService
  services/bot-client/src/services/ReplyResolutionService.ts
Due: bot-client, integration

fix(bot-client): address PR review feedback and fix model indicator storage bug
  packages/common-types/src/constants/discord.ts
  packages/common-types/src/utils/deterministicUuid.test.ts
  packages/common-types/src/utils/deterministicUuid.ts
  packages/common-types/src/utils/discord.test.ts
  services/bot-client/src/services/DiscordChannelFetcher.ts
  services/bot-client/src/services/ReplyResolutionService.ts
  services/bot-client/src/utils/pendingVerificationMessages.test.ts
  services/bot-client/src/utils/pendingVerificationMessages.ts
Due: bot-client, common-types, integration

feat(bot-client): add DM personality chat support via reply resolution
  services/api-gateway/src/routes/user/conversationLookup.test.ts
  services/api-gateway/src/routes/user/conversationLookup.ts
  services/api-gateway/src/routes/user/index.ts
  services/bot-client/src/index.ts
  services/bot-client/src/services/ReplyResolutionService.test.ts
  services/bot-client/src/services/ReplyResolutionService.ts
  services/bot-client/src/utils/GatewayClient.ts
Due: api-gateway, bot-client, integration

docs(docs): add re-export guidance to code-quality skill
  .claude/skills/tzurot-code-quality/SKILL.md
Due: none

fix(common-types): strip DM prefix from conversation history sync
  RELEASE_TEST_PLAN.md
  packages/common-types/src/index.ts
  packages/common-types/src/utils/discord.test.ts
  packages/common-types/src/utils/discord.ts
  services/bot-client/src/services/DiscordChannelFetcher.ts
  tzurot-legacy/docs/archive/DEVELOPMENT_HISTORY.md
  tzurot-legacy/docs/components/README.md
  tzurot-legacy/docs/migration/LEGACY_SYSTEM_REMOVAL_LOG.md
  tzurot-legacy/docs/testing/coverage-reports/coverage-analysis.md
  tzurot-legacy/docs/testing/coverage-reports/test-coverage-status.md
Due: bot-client, common-types, integration

chore: remove legacy v2 eslintrc files
  .eslintrc.antipatterns.js
  .eslintrc.mock-patterns.js
  .eslintrc.module-size.js
  .eslintrc.timer-patterns.js
Due: none

fix: restore v2 config files for reference
  tzurot-legacy/eslint.config.js
  tzurot-legacy/index.js
  tzurot-legacy/jest.config.js
  tzurot-legacy/nodemon.json
  tzurot-legacy/package.json
  tzurot-legacy/railway.json
Due: none

fix: restore v2 config.js for reference
  tzurot-legacy/config.js
Due: none

fix: restore useful v2 reference docs
  tzurot-legacy/docs/core/COMMAND_SYSTEM.md
  tzurot-legacy/docs/external-services/SHAPES_INC_API_REFERENCE.md
  tzurot-legacy/docs/features/ENHANCED_CONTEXT.md
  tzurot-legacy/docs/features/authentication/AUTHENTICATION.md
  tzurot-legacy/docs/features/authentication/PLURALKIT_PROXY_HANDLING.md
  tzurot-legacy/docs/features/media/AUDIO_ATTACHMENT.md
  tzurot-legacy/docs/features/media/IMAGE_HANDLING.md
  tzurot-legacy/docs/features/media/MEDIA_HANDLING_SYSTEM.md
Due: none

fix: restore additional useful v2 reference docs
  tzurot-legacy/docs/core/API_REFERENCE.md
  tzurot-legacy/docs/core/ARCHITECTURE.md
  tzurot-legacy/docs/core/SECURITY.md
  tzurot-legacy/docs/development/PREFIX_HANDLING_GUIDE.md
  tzurot-legacy/docs/external-services/CHAT_HISTORY_BACKUP_GUIDE.md
  tzurot-legacy/docs/external-services/SHAPES_INC_MIGRATION_GUIDE.md
  tzurot-legacy/docs/external-services/ai-api-implementation-guide.md
  tzurot-legacy/docs/features/BACKUP_COMMAND.md
  tzurot-legacy/docs/features/messaging/DEDUPLICATION.md
  tzurot-legacy/docs/features/system/RELEASE_NOTIFICATION_SYSTEM.md
  tzurot-legacy/docs/features/user-experience/DISPLAY_NAME_ALIASES.md
  tzurot-legacy/docs/features/user-experience/SPACE_ALIASES.md
  tzurot-legacy/docs/security/PRIVACY_AUDIT_REPORT.md
Due: none

chore: remove v2 cruft scripts, add Steam Deck SSH docs
  .claude/skills/tzurot-git-workflow/SKILL.md
  docs/steam-deck/SSH_SETUP.md
  scripts/analysis/README.md
  scripts/analysis/check-singleton-exports.js
  scripts/git/README.md
  scripts/git/git-with-ssh.sh
  scripts/git/setup-ssh.sh
  scripts/git/sync-develop.sh
  scripts/testing/README.md
  scripts/testing/analyze-test-structure.js
  scripts/testing/check-test-antipatterns.js
  scripts/testing/check-test-mocking-patterns.js
  scripts/testing/check-timer-patterns.js
  scripts/testing/comprehensive-test-timing-analysis.js
  scripts/testing/identify-slow-tests.js
  scripts/testing/update-coverage-summary.js
  scripts/testing/validate-test-syntax.js
  scripts/testing/verify-mock-methods.js
Due: none

docs: update CURRENT.md and BACKLOG.md
  BACKLOG.md
  CURRENT.md
Due: none

feat(tooling): implement db:safe-migrate command
  BACKLOG.md
  packages/tooling/src/commands/db.ts
  packages/tooling/src/db/create-safe-migration.test.ts
  packages/tooling/src/db/create-safe-migration.ts
  prisma/migrations/20260131142047_add_response_message_ids_to_diagnostic/migration.sql
Due: integration

feat(api-gateway): enable debug lookup by AI response message ID
  packages/test-utils/schema/pglite-schema.sql
  prisma/schema.prisma
  services/api-gateway/src/routes/admin/diagnostic.test.ts
  services/api-gateway/src/routes/admin/diagnostic.ts
  services/bot-client/src/commands/admin/debug.ts
  services/bot-client/src/handlers/MessageHandler.ts
  services/bot-client/src/utils/GatewayClient.ts
Due: api-gateway, bot-client, integration

feat(bot-client): use MessageContextBuilder for /character chat feature parity
  services/bot-client/src/commands/character/chat.test.ts
  services/bot-client/src/commands/character/chat.ts
  services/bot-client/src/index.ts
  services/bot-client/src/services/MessageContextBuilder.ts
  services/bot-client/src/services/serviceRegistry.test.ts
  services/bot-client/src/services/serviceRegistry.ts
Due: bot-client, integration
