Repository lbds137/tzurot: changes, and which Codecov flags are due for each by the changed paths.
All: ai-worker, api-gateway, bot-client, common-types, integration

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 2%
        informational: false
    patch:
      default:
        target: 80%
        threshold: 5%
        informational: false

comment:
  layout: 'reach,diff,flags,tree,files'
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flag_management:
  default_rules:
    carryforward: true

flags:
  ai-worker:
    paths:
      - services/ai-worker/
  api-gateway:
    paths:
      - services/api-gateway/
  bot-client:
    paths:
      - services/bot-client/
  common-types:
    paths:
      - packages/common-types/
  # Integration tests cover all services
  integration:
    paths:
      - services/
      - packages/

ignore:
  - '**/*.test.ts'
  - '**/*.spec.ts'
  - '**/dist/**'
  - '**/node_modules/**'
  - 'scripts/**'
  - 'tzurot-legacy/**'

fix(bot-client): use reply (not followUp) on unacknowledged button in deny handleEdit
  services/bot-client/src/commands/deny/detailEdit.test.ts
  services/bot-client/src/commands/deny/detailEdit.ts
Due: bot-client, integration

docs(backlog): cycle PR #985 — close 2 entries, file 3 follow-ups
  backlog/inbox.md
Due: none

docs(backlog): remove pre-commit hook entry — shipped via PR #989
  backlog/quick-wins.md
Due: none

chore(bot-client): remove dormant DM_RAW_GATEWAY_DIAGNOSTIC listener
  services/bot-client/src/index.ts
Due: bot-client, integration

docs: post-release for v3.0.0-beta.117
  CURRENT.md
  backlog/deferred.md
Due: none

docs(backlog): remove shipped Nyx output-style migration entry
  backlog/icebox.md
Due: none

docs(backlog): intake provider prompt caching cost-reduction epic
  backlog/future-themes.md
Due: none

docs(backlog): merge /character chat push-based delivery into PersonalityChatManager epic
  backlog/future-themes.md
  backlog/production-issues.md
Due: none

docs: refresh Next Session Goal + current-focus for /character chat epic
  CURRENT.md
  backlog/current-focus.md
Due: none

feat(bot-client): /character chat push delivery + DM support + manager extract
  backlog/inbox.md
  packages/common-types/src/constants/timing.ts
  services/bot-client/src/commands/character/chat.test.ts
  services/bot-client/src/commands/character/chat.ts
  services/bot-client/src/commands/character/chatResponseSender.test.ts
  services/bot-client/src/commands/character/chatResponseSender.ts
  services/bot-client/src/handlers/MessageHandler.test.ts
  services/bot-client/src/handlers/MessageHandler.ts
  services/bot-client/src/index.ts
  services/bot-client/src/services/DiscordResponseSender.test.ts
  services/bot-client/src/services/DiscordResponseSender.ts
  services/bot-client/src/services/JobTracker.test.ts
  services/bot-client/src/services/JobTracker.ts
  services/bot-client/src/services/PersonalityMessageHandler.test.ts
  services/bot-client/src/services/PersonalityMessageHandler.ts
  services/bot-client/src/services/character/PersonalityChatManager.test.ts
  services/bot-client/src/services/character/PersonalityChatManager.ts
  services/bot-client/src/utils/GatewayClient.test.ts
  services/bot-client/src/utils/GatewayClient.ts
  services/bot-client/src/utils/WebhookManager.ts
Due: bot-client, common-types, integration

test(bot-client): close two test gaps deferred from #994
  backlog/inbox.md
  services/bot-client/src/handlers/MessageHandler.test.ts
  services/bot-client/src/services/DiscordResponseSender.test.ts
Due: none

chore(deps): patch 3 Dependabot vulnerabilities
  .prettierignore
  package.json
  pnpm-lock.yaml
  services/ai-worker/package.json
Due: ai-worker, integration

chore: bump version to 3.0.0-beta.118
  package.json
  packages/common-types/package.json
  packages/embeddings/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  tests/package.json
Due: ai-worker, api-gateway, bot-client, common-types, integration

docs: post-release for v3.0.0-beta.118
  CURRENT.md
  backlog/quick-wins.md
Due: none

chore(deps): patch fast-uri ≤3.1.1 (HIGH GHSA-v39h-62p7-jpjc)
  package.json
  pnpm-lock.yaml
Due: none

chore(bot-client): add diagnostic INFO logs to voice transcribe (TEMPORARY)
  services/bot-client/src/services/VoiceTranscriptionService.ts
Due: bot-client, integration

fix(bot-client): voice transcription hang via sendTyping helper + ESLint guard
  eslint.config.js
  services/bot-client/src/services/JobTracker.ts
  services/bot-client/src/services/VoiceTranscriptionService.ts
  services/bot-client/src/utils/typingErrorClassifier.test.ts
  services/bot-client/src/utils/typingErrorClassifier.ts
Due: bot-client, integration

docs(backlog): track @discordjs/rest queue-stall investigation (PR #1000 follow-up)
  backlog/inbox.md
Due: none

fix(voice-engine): serialize Parakeet TDT transcribe to fix concurrent-call ValueError
  services/voice-engine/server.py
  services/voice-engine/tests/test_transcribe.py
Due: integration

chore: bump version to 3.0.0-beta.119
  package.json
  packages/common-types/package.json
  packages/embeddings/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  tests/package.json
Due: ai-worker, api-gateway, bot-client, common-types, integration
