Repository lbds137/tzurot: changes, and which Codecov flags are due for each by the changed paths.
All: ai-worker, api-gateway, bot-client, common-types, integration

fix(voice-engine): remove unused tmp_path param, clarify _ = model comments
  services/voice-engine/server.py
  services/voice-engine/tests/test_voices.py
Due: integration

fix(voice-engine): singleton JSDoc, call_next type, _STANDARD_ATTRS comment
  BACKLOG.md
  services/ai-worker/src/services/voice/VoiceEngineClient.ts
  services/voice-engine/server.py
Due: ai-worker, integration

fix(voice-engine): address PR review feedback
  services/ai-worker/src/services/multimodal/AudioProcessor.ts
  services/ai-worker/src/services/voice/VoiceEngineClient.ts
  services/voice-engine/server.py
  services/voice-engine/tests/conftest.py
  services/voice-engine/tests/test_health.py
  services/voice-engine/tests/test_transcribe.py
  services/voice-engine/tests/test_tts.py
  services/voice-engine/tests/test_voices.py
Due: ai-worker, integration

feat(voice-engine): phase 2 — python hardening + ai-worker STT integration
  .claude/rules/02-code-standards.md
  BACKLOG.md
  CURRENT.md
  packages/common-types/src/config/config.test.ts
  packages/common-types/src/config/config.ts
  services/ai-worker/src/services/multimodal/AudioProcessor.test.ts
  services/ai-worker/src/services/multimodal/AudioProcessor.ts
  services/ai-worker/src/services/voice/VoiceEngineClient.test.ts
  services/ai-worker/src/services/voice/VoiceEngineClient.ts
  services/api-gateway/src/routes/public/voiceReferences.ts
  services/api-gateway/src/routes/user/personality/formatters.ts
  services/voice-engine/pyproject.toml
  services/voice-engine/requirements-dev.txt
  services/voice-engine/server.py
  services/voice-engine/tests/__init__.py
  services/voice-engine/tests/conftest.py
  services/voice-engine/tests/test_health.py
  services/voice-engine/tests/test_transcribe.py
  services/voice-engine/tests/test_tts.py
  services/voice-engine/tests/test_voices.py
Due: ai-worker, api-gateway, common-types, integration

fix(voice-engine): observability improvements, move follow-ups to Phase 3
  BACKLOG.md
  services/ai-worker/src/services/multimodal/AudioProcessor.ts
  services/ai-worker/src/services/voice/VoiceEngineClient.ts
Due: ai-worker, integration

fix(voice-engine): fix logging docstring, improve fallback log message
  services/ai-worker/src/services/multimodal/AudioProcessor.ts
  services/voice-engine/server.py
Due: ai-worker, integration

docs(voice-engine): update implementation guide for phase 2 completion
  docs/proposals/active/voice-engine-implementation-guide.md
Due: none

fix(voice-engine): address round 2 PR review feedback
  services/ai-worker/src/services/multimodal/AudioProcessor.ts
  services/voice-engine/tests/test_logging.py
  services/voice-engine/tests/test_transcribe.py
Due: ai-worker, integration

fix(voice-engine): remove unused VoiceEngineError import in test
  services/ai-worker/src/services/voice/VoiceEngineClient.test.ts
Due: none

fix(voice-engine): numpy 2.x comment, rename FakeTranscription, backlog items
  BACKLOG.md
  services/voice-engine/requirements.txt
  services/voice-engine/tests/conftest.py
  services/voice-engine/tests/test_transcribe.py
Due: integration

fix(voice-engine): relax numpy pin to >=2.0 for pocket-tts compatibility
  services/voice-engine/requirements.txt
Due: integration

fix(voice-engine): extract test helpers, tighten assertions, add JSDoc
  services/ai-worker/src/services/multimodal/AudioProcessor.ts
  services/voice-engine/server.py
  services/voice-engine/tests/conftest.py
  services/voice-engine/tests/helpers.py
  services/voice-engine/tests/test_transcribe.py
Due: ai-worker, integration

fix(voice-engine): replace headers cast with safe Headers conversion
  services/ai-worker/src/services/voice/VoiceEngineClient.ts
Due: ai-worker, integration

fix(voice-engine): log empty transcription, promote startup health check
  BACKLOG.md
  services/ai-worker/src/services/multimodal/AudioProcessor.ts
Due: ai-worker, integration

docs(voice-engine): add deployment runbook and update smoke test commands
  docs/proposals/active/voice-engine-implementation-guide.md
Due: none

fix(voice-engine): address round 4 PR review feedback
  services/ai-worker/src/services/multimodal/AudioProcessor.test.ts
  services/ai-worker/src/services/multimodal/AudioProcessor.ts
  services/ai-worker/src/services/voice/VoiceEngineClient.test.ts
  services/ai-worker/src/services/voice/VoiceEngineClient.ts
Due: ai-worker, integration

fix(voice-engine): address round 5 PR review feedback
  services/ai-worker/src/services/multimodal/AudioProcessor.ts
  services/ai-worker/src/services/voice/VoiceEngineClient.test.ts
  services/voice-engine/tests/test_logging.py
  services/voice-engine/tests/test_transcribe.py
Due: ai-worker, integration

chore(voice-engine): consolidate all follow-ups into Phase 3 pre-reqs
  BACKLOG.md
  docs/proposals/active/voice-engine-implementation-guide.md
Due: none

fix(voice-engine): bind to IPv6 wildcard for Railway private networking
  services/voice-engine/Dockerfile
  services/voice-engine/server.py
Due: integration

docs: mark Voice Engine Phase 2 deployment complete
  BACKLOG.md
  CURRENT.md
  docs/proposals/active/voice-engine-implementation-guide.md
Due: none

fix(voice-engine): pre-mock heavy ML deps for CI test runner
  services/voice-engine/requirements-dev.txt
  services/voice-engine/tests/conftest.py
Due: integration

chore(ci): add Python coverage to Codecov for voice-engine
  .github/workflows/ci.yml
  .gitignore
  codecov.yml
  services/voice-engine/requirements-dev.txt
Due: integration

fix(voice-engine): address PR review feedback
  packages/common-types/src/schemas/api/configOverrides.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/TTSStep.ts
  services/ai-worker/src/services/voice/VoiceRegistrationService.ts
  services/ai-worker/src/services/voice/ttsSynthesizer.ts
  services/ai-worker/src/startup.ts
  services/bot-client/src/handlers/MessageHandler.ts
  services/bot-client/src/services/DiscordResponseSender.test.ts
  services/bot-client/src/services/DiscordResponseSender.ts
  services/bot-client/src/utils/forwardedMessageUtils.test.ts
  services/bot-client/src/utils/forwardedMessageUtils.ts
Due: ai-worker, bot-client, common-types, integration

fix(voice-engine): address round-2 PR review feedback
  BACKLOG.md
  packages/common-types/src/types/schemas/generation.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/TTSStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/TTSStep.ts
  services/ai-worker/src/services/voice/VoiceRegistrationService.test.ts
  services/ai-worker/src/services/voice/VoiceRegistrationService.ts
  services/ai-worker/src/services/voice/ttsSynthesizer.ts
  services/bot-client/src/services/DiscordResponseSender.ts
Due: ai-worker, bot-client, common-types, integration

fix(voice-engine): address round-3 PR review feedback
  packages/common-types/src/constants/discord.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/TTSStep.ts
  services/ai-worker/src/services/voice/VoiceRegistrationService.ts
  services/ai-worker/src/services/voice/ttsSynthesizer.ts
  services/bot-client/src/services/DiscordResponseSender.test.ts
  services/bot-client/src/services/DiscordResponseSender.ts
Due: ai-worker, bot-client, common-types, integration

fix(voice-engine): check tts_loaded in health check, add voice.wav comment
  services/ai-worker/src/services/voice/VoiceEngineClient.test.ts
  services/ai-worker/src/services/voice/VoiceEngineClient.ts
  services/bot-client/src/services/DiscordResponseSender.ts
Due: ai-worker, bot-client, integration

fix(voice-engine): address round-4 PR review feedback
  services/ai-worker/src/jobs/handlers/pipeline/steps/TTSStep.ts
  services/ai-worker/src/services/voice/VoiceEngineClient.ts
Due: ai-worker, integration

fix(voice-engine): address round-6 PR review feedback
  services/ai-worker/src/services/voice/VoiceEngineClient.test.ts
  services/ai-worker/src/services/voice/VoiceEngineClient.ts
  services/ai-worker/src/startup.test.ts
  services/ai-worker/src/startup.ts
  services/bot-client/src/services/DiscordResponseSender.test.ts
  services/bot-client/src/services/DiscordResponseSender.ts
Due: ai-worker, bot-client, integration

fix(voice-engine): address round-7 PR review feedback
  packages/common-types/src/types/schemas/personality.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/TTSStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/TTSStep.ts
  services/ai-worker/src/services/voice/VoiceEngineClient.ts
  services/ai-worker/src/services/voice/VoiceRegistrationService.ts
Due: ai-worker, common-types, integration

fix(voice-engine): address round-8 PR review feedback
  services/ai-worker/src/services/voice/VoiceEngineClient.ts
  services/ai-worker/src/services/voice/VoiceRegistrationService.test.ts
  services/ai-worker/src/services/voice/VoiceRegistrationService.ts
  services/bot-client/src/services/VoiceTranscriptionService.test.ts
Due: ai-worker, integration

fix(voice-engine): address round-9 PR review feedback
  services/ai-worker/src/services/voice/ttsSynthesizer.ts
  services/bot-client/src/services/DiscordResponseSender.ts
Due: ai-worker, bot-client, integration

fix(bot-client): prevent video attachments from triggering voice-only TTS
  BACKLOG.md
  services/bot-client/src/utils/forwardedMessageUtils.test.ts
  services/bot-client/src/utils/forwardedMessageUtils.ts
Due: bot-client, integration

fix(voice-engine): address round-12 PR review feedback
  .github/workflows/ci.yml
  packages/common-types/src/types/schemas/personality.ts
  services/ai-worker/src/services/RedisService.ts
  services/ai-worker/src/services/voice/VoiceEngineClient.ts
  services/ai-worker/src/services/voice/ttsSynthesizer.ts
Due: ai-worker, common-types, integration

fix(voice-engine): resolve ruff + mypy errors in Python CI
  services/voice-engine/pyproject.toml
  services/voice-engine/server.py
  services/voice-engine/tests/conftest.py
  services/voice-engine/tests/test_health.py
  services/voice-engine/tests/test_transcribe.py
Due: integration

fix(voice-engine): address round-13 PR review feedback
  BACKLOG.md
  services/ai-worker/src/jobs/handlers/pipeline/steps/TTSStep.ts
  services/ai-worker/src/services/voice/ttsSynthesizer.ts
Due: ai-worker, integration

fix(voice-engine): add negative caching + inferSampleRate tests
  services/ai-worker/src/services/voice/VoiceRegistrationService.test.ts
  services/ai-worker/src/services/voice/VoiceRegistrationService.ts
  services/ai-worker/src/services/voice/ttsSynthesizer.test.ts
Due: ai-worker, integration

fix(voice-engine): robust WAV chunk scanning + isVoiceEnabled helper
  packages/common-types/src/types/schemas/personality.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/TTSStep.ts
  services/ai-worker/src/services/voice/ttsSynthesizer.test.ts
  services/ai-worker/src/services/voice/ttsSynthesizer.ts
Due: ai-worker, common-types, integration

fix(voice-engine): observe dangling TTS rejections, add voiceEnabled TODO
  packages/common-types/src/types/schemas/personality.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/TTSStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/TTSStep.ts
Due: ai-worker, common-types, integration

chore(voice-engine): add synthesize timeout comment, polish readability
  packages/common-types/src/types/schemas/personality.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/TTSStep.ts
  services/ai-worker/src/services/voice/VoiceEngineClient.ts
Due: ai-worker, common-types, integration

Path conditions:
  ai-worker: any of: services/ai-worker/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  api-gateway: any of: services/api-gateway/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  bot-client: any of: services/bot-client/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  common-types: any of: packages/common-types/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  integration: any of: services/, packages/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
