Repository lbds137/tzurot: changes, and which Codecov flags are due for each by the changed paths.
All: ai-worker, api-gateway, bot-client, common-types, integration

chore: tighten types + simplify spreads from PR #824 round 1 review
  services/api-gateway/src/types.ts
  services/bot-client/src/commands/preset/cloneName.test.ts
  services/bot-client/src/commands/preset/cloneName.ts
  services/bot-client/src/utils/userGatewayClient.ts
Due: api-gateway, bot-client, integration

test(tooling): bump xray test timeout 15s to 30s for CI coverage runs
  packages/tooling/src/xray/analyzer.test.ts
Due: none

test(bot-client): add createPreset error-path tests
  services/bot-client/src/commands/preset/api.test.ts
Due: none

fix(bot-client): test double-call + generateClonedName trim consistency
  services/bot-client/src/commands/preset/api.test.ts
  services/bot-client/src/commands/preset/cloneName.test.ts
  services/bot-client/src/commands/preset/cloneName.ts
Due: bot-client, integration

test(bot-client): address pr #824 round-4 review — callGatewayApi + test refactor
  services/bot-client/src/commands/preset/api.test.ts
  services/bot-client/src/utils/userGatewayClient.test.ts
Due: none

refactor(bot-client): unify on \`code\` for gateway sub-code field
  services/bot-client/src/commands/preset/api.test.ts
  services/bot-client/src/commands/preset/api.ts
  services/bot-client/src/utils/userGatewayClient.test.ts
  services/bot-client/src/utils/userGatewayClient.ts
Due: bot-client, integration

chore(bot-client): tighten lastError type to GatewayApiError
  services/bot-client/src/commands/preset/cloneName.ts
Due: bot-client, integration

chore(bot-client): drop dead re-export + ephemeral review references
  packages/tooling/src/xray/analyzer.test.ts
  services/bot-client/src/commands/preset/cloneName.test.ts
  services/bot-client/src/commands/preset/dashboardButtons.test.ts
  services/bot-client/src/commands/preset/dashboardButtons.ts
Due: bot-client, integration

fix(bot-client): cast sourceData in cloneName tests to satisfy typecheck:spec
  services/bot-client/src/commands/preset/cloneName.test.ts
Due: none

refactor: typed NAME_COLLISION sub-code replaces message-text regex
  BACKLOG.md
  packages/common-types/src/constants/error.ts
  packages/common-types/src/constants/index.ts
  services/api-gateway/src/routes/admin/llm-config.ts
  services/api-gateway/src/routes/user/llm-config.ts
  services/api-gateway/src/types.ts
  services/api-gateway/src/utils/errorResponses.test.ts
  services/api-gateway/src/utils/errorResponses.ts
  services/bot-client/src/commands/preset/api.ts
  services/bot-client/src/commands/preset/cloneName.test.ts
  services/bot-client/src/commands/preset/cloneName.ts
  services/bot-client/src/commands/preset/dashboard.test.ts
  services/bot-client/src/commands/preset/dashboardButtons.ts
  services/bot-client/src/utils/userGatewayClient.test.ts
  services/bot-client/src/utils/userGatewayClient.ts
Due: api-gateway, bot-client, common-types, integration

docs(repo): log intermittent voice-generation failure investigation
  BACKLOG.md
Due: none

fix(bot-client): warn before truncating over-length character fields
  services/bot-client/src/commands/character/dashboard.ts
  services/bot-client/src/commands/character/truncationWarning.test.ts
  services/bot-client/src/commands/character/truncationWarning.ts
Due: bot-client, integration

fix(bot-client): use SectionStatus enum in truncationWarning test stub
  services/bot-client/src/commands/character/truncationWarning.test.ts
Due: none

refactor(bot-client): extract resolveCharacterSectionContext helper
  services/bot-client/src/commands/character/dashboard.ts
  services/bot-client/src/commands/character/sectionContext.test.ts
  services/bot-client/src/commands/character/sectionContext.ts
  services/bot-client/src/commands/character/truncationWarning.ts
Due: bot-client, integration

fix(bot-client): address PR #825 R1 + R2 review items
  services/bot-client/src/commands/character/dashboard.ts
  services/bot-client/src/commands/character/sectionContext.test.ts
  services/bot-client/src/commands/character/sectionContext.ts
  services/bot-client/src/commands/character/truncationWarning.test.ts
  services/bot-client/src/commands/character/truncationWarning.ts
Due: bot-client, integration

test(bot-client): cover new handleButton routing branches in dashboard.ts
  services/bot-client/src/commands/character/dashboard.test.ts
Due: none

fix(bot-client): address PR #825 R3 review items
  BACKLOG.md
  services/bot-client/src/commands/character/dashboard.ts
  services/bot-client/src/commands/character/truncationWarning.test.ts
  services/bot-client/src/commands/character/truncationWarning.ts
Due: bot-client, integration

docs(repo): backlog — two beta.100 blockers + browse-after-delete UX gap
  BACKLOG.md
Due: none

fix(bot-client): pr #825 r4 — two-click edit-with-truncation flow
  BACKLOG.md
  services/bot-client/src/commands/character/dashboard.test.ts
  services/bot-client/src/commands/character/dashboard.ts
  services/bot-client/src/commands/character/truncationWarning.test.ts
  services/bot-client/src/commands/character/truncationWarning.ts
Due: bot-client, integration

fix(bot-client): pr #825 r5 — cancel emoji, label-based filenames, doc completeness
  services/bot-client/src/commands/character/truncationWarning.test.ts
  services/bot-client/src/commands/character/truncationWarning.ts
Due: bot-client, integration

docs(repo): backlog — widen preset configId blocker to all preset consumers
  BACKLOG.md
Due: none

fix(bot-client): pr #825 r6+r7 — source imports + guard tests for view_full/open_editor
  services/bot-client/src/commands/character/dashboard.test.ts
  services/bot-client/src/commands/character/sectionContext.test.ts
  services/bot-client/src/commands/character/sectionContext.ts
  services/bot-client/src/commands/character/truncationWarning.test.ts
  services/bot-client/src/commands/character/truncationWarning.ts
Due: bot-client, integration

fix(bot-client): pr #825 r8 — null-return log + backlog for open_editor residual
  BACKLOG.md
  services/bot-client/src/commands/character/truncationWarning.test.ts
  services/bot-client/src/commands/character/truncationWarning.ts
Due: bot-client, integration

fix(bot-client): pr #825 r9 — button order + eliminate double config build
  services/bot-client/src/commands/character/sectionContext.test.ts
  services/bot-client/src/commands/character/sectionContext.ts
  services/bot-client/src/commands/character/truncationWarning.test.ts
  services/bot-client/src/commands/character/truncationWarning.ts
Due: bot-client, integration

Path conditions:
  ai-worker: any of: services/ai-worker/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  api-gateway: any of: services/api-gateway/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  bot-client: any of: services/bot-client/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  common-types: any of: packages/common-types/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  integration: any of: services/, packages/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
