Repository lbds137/tzurot: changes, and which Codecov flags are due for each by the changed paths.
All: ai-worker, api-gateway, bot-client, common-types, integration

refactor(bot-client): address PR #856 review — drop cast + re-exports
  services/ai-worker/src/jobs/handlers/pipeline/steps/NormalizationStep.ts
  services/bot-client/src/commands/character/api.ts
  services/bot-client/src/commands/character/browse.ts
  services/bot-client/src/commands/character/browseHelpers.ts
  services/bot-client/src/commands/character/config.test.ts
  services/bot-client/src/commands/character/config.ts
  services/bot-client/src/commands/character/dashboardActions.ts
  services/bot-client/src/commands/character/dashboardButtons.ts
  services/bot-client/src/commands/character/dashboardDeleteHandlers.ts
  services/bot-client/src/commands/character/export.ts
  services/bot-client/src/commands/character/sectionContext.ts
  services/bot-client/src/commands/character/sections.test.ts
  services/bot-client/src/commands/character/truncationWarning.ts
  services/bot-client/src/commands/character/view.test.ts
  services/bot-client/src/commands/character/view.ts
  services/bot-client/src/commands/character/viewTypes.ts
  services/bot-client/src/commands/deny/browse.ts
  services/bot-client/src/commands/deny/view.ts
Due: ai-worker, bot-client, integration

ci: fail pipeline on depcruise violations
  .github/workflows/ci.yml
Due: none

fix: drop redundant type assertions flagged by @typescript-eslint 8.59
  packages/common-types/src/services/DenylistCacheInvalidationService.ts
  packages/common-types/src/services/UserService.ts
  packages/common-types/src/services/personality/PersonalityLoader.ts
  services/ai-worker/src/jobs/ShapesExportFormatters.ts
  services/ai-worker/src/jobs/ShapesImportMemories.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/ConfigStep.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/NormalizationStep.ts
  services/ai-worker/src/services/PromptBuilder.ts
  services/ai-worker/src/services/UserReferenceResolver.ts
  services/ai-worker/src/services/diagnostics/DiagnosticRecorders.ts
  services/ai-worker/src/test/mocks/fixtures/personality.ts
  services/api-gateway/src/routes/admin/updatePersonality.ts
  services/api-gateway/src/routes/ai/generate.ts
  services/api-gateway/src/routes/user/config-overrides.ts
  services/api-gateway/src/services/LlmConfigService.ts
  services/api-gateway/src/utils/elevenLabsFetch.ts
  services/api-gateway/src/utils/prismaErrors.ts
  services/bot-client/src/commands/admin/presence.ts
  services/bot-client/src/commands/admin/settings.ts
  services/bot-client/src/commands/channel/settings.ts
  services/bot-client/src/commands/character/chat.ts
  services/bot-client/src/commands/inspect/browse.ts
  services/bot-client/src/services/DiscordResponseSender.ts
  services/bot-client/src/test/mocks/Discord.mock.ts
  services/bot-client/src/test/mocks/PersonalityService.mock.ts
  services/bot-client/src/utils/dashboard/settings/settingsDataBuilder.ts
Due: ai-worker, api-gateway, bot-client, common-types, integration

fix(bot-client): break five circular dependencies in deny/ and character/
  services/bot-client/src/commands/character/characterTypes.ts
  services/bot-client/src/commands/character/config.ts
  services/bot-client/src/commands/character/sections.ts
  services/bot-client/src/commands/deny/browse.test.ts
  services/bot-client/src/commands/deny/browse.ts
  services/bot-client/src/commands/deny/browseRebuilder.test.ts
  services/bot-client/src/commands/deny/browseRebuilder.ts
  services/bot-client/src/commands/deny/browseTypes.ts
  services/bot-client/src/commands/deny/detail.ts
  services/bot-client/src/commands/deny/detailEdit.ts
  services/bot-client/src/commands/deny/detailTypes.ts
  services/bot-client/src/commands/deny/index.ts
Due: bot-client, integration

docs(repo): expand API-error silent-block backlog entry + add PR #856 follow-up
  BACKLOG.md
Due: none

fix(bot-client): stop treating gateway API errors as definitive entitlement denials
  BACKLOG.md
  services/bot-client/src/commands/settings/preset/guestModeValidation.test.ts
  services/bot-client/src/commands/settings/preset/guestModeValidation.ts
  services/bot-client/src/commands/settings/preset/set.ts
  services/bot-client/src/processors/DMSessionProcessor.test.ts
  services/bot-client/src/processors/DMSessionProcessor.ts
  services/bot-client/src/services/PersonalityMessageHandler.test.ts
  services/bot-client/src/utils/apiCheck.test.ts
  services/bot-client/src/utils/apiCheck.ts
  services/bot-client/src/utils/nsfwVerification.test.ts
  services/bot-client/src/utils/nsfwVerification.ts
Due: bot-client, integration

refactor(bot-client): address PR #857 review — default.ts log, configs fail-open, doc date
  services/bot-client/src/commands/settings/preset/default.ts
  services/bot-client/src/commands/settings/preset/guestModeValidation.test.ts
  services/bot-client/src/commands/settings/preset/guestModeValidation.ts
  services/bot-client/src/utils/apiCheck.ts
Due: bot-client, integration

refactor(bot-client): address PR #857 r2 review — stale comment + doc fixes
  services/bot-client/src/commands/settings/preset/guestModeValidation.ts
  services/bot-client/src/processors/BotMentionProcessor.test.ts
  services/bot-client/src/utils/apiCheck.test.ts
  services/bot-client/src/utils/apiCheck.ts
Due: bot-client, integration

docs(repo): backlog Promise.all optimization in checkGuestModePremiumAccess
  BACKLOG.md
Due: none

docs(repo): backlog Kimi K2.6 reasoning-as-plain-text quirk
  BACKLOG.md
Due: none

fix(api-gateway): migrate all shell-path callers to req.provisionedUserId (phase 5c PR C)
  BACKLOG.md
  services/api-gateway/src/routes/user/channel/activate.ts
  services/api-gateway/src/routes/user/config-overrides.ts
  services/api-gateway/src/routes/user/llm-config.ts
  services/api-gateway/src/routes/user/model-override.ts
  services/api-gateway/src/routes/user/nsfw.ts
  services/api-gateway/src/routes/user/persona/crud.ts
  services/api-gateway/src/routes/user/persona/default.ts
  services/api-gateway/src/routes/user/persona/override.ts
  services/api-gateway/src/routes/user/personality-config-overrides.ts
  services/api-gateway/src/routes/user/personality/create.ts
  services/api-gateway/src/routes/user/shapes/auth.ts
  services/api-gateway/src/routes/user/shapes/export.ts
  services/api-gateway/src/routes/user/shapes/import.ts
  services/api-gateway/src/routes/user/timezone.ts
  services/api-gateway/src/routes/user/userHelpers.test.ts
  services/api-gateway/src/routes/user/userHelpers.ts
  services/api-gateway/src/utils/resolveProvisionedUserId.test.ts
  services/api-gateway/src/utils/resolveProvisionedUserId.ts
Due: api-gateway, integration

refactor(api-gateway): address PR #858 review — missed wallet/setKey + simplify helper signature
  BACKLOG.md
  services/api-gateway/src/routes/user/config-overrides.ts
  services/api-gateway/src/routes/user/llm-config.ts
  services/api-gateway/src/routes/user/model-override.ts
  services/api-gateway/src/routes/user/nsfw.ts
  services/api-gateway/src/routes/user/personality-config-overrides.ts
  services/api-gateway/src/routes/user/shapes/auth.ts
  services/api-gateway/src/routes/user/shapes/export.ts
  services/api-gateway/src/routes/user/shapes/import.ts
  services/api-gateway/src/routes/user/timezone.ts
  services/api-gateway/src/routes/wallet/setKey.ts
  services/api-gateway/src/utils/resolveProvisionedUserId.test.ts
  services/api-gateway/src/utils/resolveProvisionedUserId.ts
Due: api-gateway, integration

chore: three backlog bites — partial unique index, SSRF encode sweep, dashboard 3-sec fix
  .claude/rules/03-database.md
  BACKLOG.md
  prisma/drift-ignore.json
  prisma/migrations/20260421164630_llm_config_global_name_unique/migration.sql
  services/bot-client/src/commands/character/api.ts
  services/bot-client/src/commands/character/dashboardDeleteHandlers.test.ts
  services/bot-client/src/commands/character/dashboardDeleteHandlers.ts
  services/bot-client/src/commands/character/export.ts
  services/bot-client/src/commands/character/overrides.ts
  services/bot-client/src/commands/character/settings.ts
  services/bot-client/src/commands/character/view.ts
  services/bot-client/src/commands/memory/detailApi.ts
  services/bot-client/src/commands/persona/api.ts
  services/bot-client/src/commands/persona/default.ts
  services/bot-client/src/commands/persona/view.ts
  services/bot-client/src/commands/preset/api.ts
  services/bot-client/src/commands/preset/dashboardButtons.ts
  services/bot-client/src/commands/preset/export.ts
  services/bot-client/src/commands/settings/apikey/remove.ts
  services/bot-client/src/commands/settings/preset/reset.ts
  services/bot-client/src/utils/api/gatewayFetcher.ts
Due: bot-client, integration

fix(bot-client): address PR #859 review — encode 14 more SSRF sites the first sweep missed
  services/bot-client/src/commands/channel/browse.ts
  services/bot-client/src/commands/character/api.ts
  services/bot-client/src/commands/character/import.ts
  services/bot-client/src/commands/memory/focus.ts
  services/bot-client/src/commands/memory/purge.ts
  services/bot-client/src/commands/memory/stats.ts
  services/bot-client/src/commands/persona/override/clear.ts
  services/bot-client/src/commands/persona/override/set.ts
  services/bot-client/src/commands/persona/view.ts
Due: bot-client, integration

docs(repo): backlog remaining adminFetch SSRF sites (PR #859 r2 review)
  BACKLOG.md
Due: none

docs(repo): flag commit-message / code-comment tracking as non-substitute for BACKLOG.md
  .claude/rules/06-backlog.md
Due: none

fix(bot-client): address PR #860 review fixes + coverage gaps
  services/bot-client/src/commands/admin/kick.ts
  services/bot-client/src/commands/memory/incognito.ts
  services/bot-client/src/handlers/CommandHandler.test.ts
Due: bot-client, integration

chore(bot-client): apply post-merge review follow-ups from pr #860
  services/bot-client/src/commands/admin/presence.ts
  services/bot-client/src/commands/settings/preset/guestModeValidation.test.ts
  services/bot-client/src/commands/settings/preset/set.test.ts
Due: bot-client, integration

docs(repo): backlog the codebase-wide Pino { error } → { err: error } sweep
  BACKLOG.md
Due: none

fix(voice-engine): re-encode multi-chunk TTS output to opus so long replies fit in 8 MiB
  services/ai-worker/src/services/voice/VoiceEngineClient.test.ts
  services/ai-worker/src/services/voice/VoiceEngineClient.ts
  services/ai-worker/src/services/voice/ttsSynthesizer.test.ts
  services/ai-worker/src/services/voice/ttsSynthesizer.ts
  services/voice-engine/server.py
  services/voice-engine/tests/test_transcode.py
Due: ai-worker, integration

chore(voice-engine): log transcode fallback at warning level for clearer triage
  services/voice-engine/server.py
  services/voice-engine/tests/test_transcode.py
Due: integration

fix(bot-client): encode dynamic url segments in admin-side helpers (ssrf defense-in-depth)
  services/bot-client/src/commands/admin/usage.ts
  services/bot-client/src/commands/preset/api.ts
Due: bot-client, integration

chore(repo): adopt eslint-plugin-regexp for redos defense-in-depth
  eslint.config.js
  package.json
  pnpm-lock.yaml
  services/ai-worker/src/services/voice/VoiceEngineClient.ts
  services/ai-worker/src/utils/apiErrorParser.ts
  services/ai-worker/src/utils/responseArtifacts.ts
  services/ai-worker/src/utils/thinkingExtraction.ts
  services/api-gateway/src/services/AttachmentStorageService.ts
  services/bot-client/src/utils/WebhookManager.ts
  services/bot-client/src/utils/errorSanitization.ts
  services/bot-client/src/utils/personalityMentionParser.ts
Due: ai-worker, api-gateway, bot-client, integration

chore(ci): exclude service entry points from codecov patch gate
  codecov.yml
Due: none

docs(repo): track pr #862 and pr #863 reviewer follow-ups in backlog
  BACKLOG.md
Due: none

Path conditions:
  ai-worker: any of: services/ai-worker/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  api-gateway: any of: services/api-gateway/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  bot-client: any of: services/bot-client/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  common-types: any of: packages/common-types/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  integration: any of: services/, packages/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
