Repository lbds137/tzurot: changes, and which Codecov flags are due for each by the changed paths.
All: ai-worker, api-gateway, bot-client, common-types, integration

fix: transcribe Discord voice messages uploaded as video/webm (Vencord/Vesktop)
  packages/common-types/src/schemas/api/transcribe.test.ts
  packages/common-types/src/schemas/api/transcribe.ts
  packages/common-types/src/utils/referenceEnrichment.test.ts
  packages/common-types/src/utils/referenceEnrichment.ts
  packages/test-utils/src/jobContextArbitraries.ts
  services/ai-worker/src/jobs/AudioTranscriptionJob.test.ts
  services/ai-worker/src/services/multimodal/AudioProcessor.test.ts
  services/ai-worker/src/services/multimodal/AudioProcessor.ts
  services/ai-worker/src/services/multimodal/voiceContainerSniff.test.ts
  services/ai-worker/src/services/multimodal/voiceContainerSniff.ts
  services/ai-worker/src/services/voice/audioNormalizer.test.ts
  services/ai-worker/src/services/voice/audioNormalizer.ts
  services/api-gateway/src/routes/ai/transcribe.test.ts
  services/bot-client/src/handlers/references/MessageFormatter.test.ts
  services/bot-client/src/handlers/references/MessageFormatter.ts
  services/bot-client/src/handlers/references/SnapshotFormatter.test.ts
  services/bot-client/src/handlers/references/SnapshotFormatter.ts
  services/bot-client/src/services/MessageContextBuilder.test.ts
  services/bot-client/src/services/VoiceTranscriptionService.test.ts
  services/bot-client/src/services/VoiceTranscriptionService.ts
  services/bot-client/src/utils/MessageContentBuilder.test.ts
  services/bot-client/src/utils/MessageContentBuilder.ts
  services/bot-client/src/utils/attachmentExtractor.test.ts
  services/bot-client/src/utils/attachmentExtractor.ts
  services/bot-client/src/utils/forwardedMessageUtils.test.ts
  services/bot-client/src/utils/forwardedMessageUtils.ts
  services/bot-client/src/utils/voiceAttachment.test.ts
  services/bot-client/src/utils/voiceAttachment.ts
Due: ai-worker, bot-client, common-types, integration

refactor(ai-worker): read the sniffed audio types from CONTENT_TYPES
  packages/common-types/src/constants/media.ts
  services/ai-worker/src/services/multimodal/AudioProcessor.ts
  services/ai-worker/src/services/multimodal/voiceContainerSniff.ts
Due: ai-worker, common-types, integration

docs(backlog): beta.229 blockers merged; file task-1076
  backlog/now.md
  tracker/tasks/task-1069 - Voice-messages-recorded-by-a-Vencord-Vesktop-plugin-arrive-as-video-webm-and-are-never-transcribed.md
  tracker/tasks/task-1076 - STT-input-has-no-size-or-duration-cap-beyond-the-fetch-timeout.md
Due: none

fix: escape dashboard entity names; list omitted memory columns in the export README
  services/ai-worker/src/jobs/AccountExportAssembler.ts
  services/ai-worker/src/jobs/AccountExportFiles.test.ts
  services/bot-client/src/utils/dashboard/settings/SettingsDashboardBuilder.test.ts
  services/bot-client/src/utils/dashboard/settings/SettingsDashboardBuilder.ts
  services/bot-client/src/utils/dashboard/settings/SettingsDashboardHandler.test.ts
Due: ai-worker, bot-client, integration

docs(backlog): task-802 gains the edit-dashboard name sites from the beta.229 review
  tracker/tasks/task-802 - Sweep-bare-escapeMarkdown-call-sites-—-defaults-do-not-neutralize-masked-links.md
Due: none

chore: bump version to 3.0.0-beta.229
  package.json
  packages/cache-invalidation/package.json
  packages/clients/package.json
  packages/common-types/package.json
  packages/config-resolver/package.json
  packages/conversation-history/package.json
  packages/embeddings/package.json
  packages/identity/package.json
  packages/test-factories/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  services/website/package.json
  tests/package.json
Due: ai-worker, api-gateway, bot-client, common-types, integration

docs: current.md carries the beta.229 cut state and smoke checklist
  CURRENT.md
Due: none

docs(backlog): beta.229 released; plan beta.230
  CURRENT.md
  backlog/now.md
Due: none

docs(backlog): task-1039 read run, inconclusive; file task-1077
  CURRENT.md
  backlog/now.md
  tracker/tasks/task-1039 - doc-97-Phase-4-first-slice-apply-the-user-only-history-treatment-to-same-channel-history-beyond-the-recent-turns.md
  tracker/tasks/task-1077 - Summary-substituted-same-channel-turns-carry-no-rendered-marker-in-the-shipped-prompt-so-inspect-cannot-show-them.md
Due: none

docs(backlog): owner ruling on the task-1039 read, n 3 for one more day
  CURRENT.md
  backlog/now.md
  tracker/tasks/task-1039 - doc-97-Phase-4-first-slice-apply-the-user-only-history-treatment-to-same-channel-history-beyond-the-recent-turns.md
Due: none

docs(backlog): doc-72 council pass and owner rulings on landing and reset
  tracker/docs/doc-72 - Idea-Dashboard-index-navigation-—-hub-page-jump-to-select-back-to-index.md
Due: none

chore(voice-engine): move to python 3.13
  docs/steam-deck/VOICE_ENGINE_PYTHON.md
  services/voice-engine/.python-version
  services/voice-engine/CLAUDE.md
  services/voice-engine/Dockerfile
  services/voice-engine/pyproject.toml
  services/voice-engine/requirements.txt
  services/voice-engine/server.py
  services/voice-engine/tests/conftest.py
Due: integration

style(voice-engine): ruff format three test files
  services/voice-engine/tests/test_tts_reference.py
  services/voice-engine/tests/test_voice_registration_errors.py
  services/voice-engine/tests/test_voices.py
Due: integration

docs(backlog): file task-1078, verify nemo honors NEMO_CACHE_DIR
  tracker/tasks/task-1078 - Check-whether-nemo_toolkit-2.7.3-honors-NEMO_CACHE_DIR-the-Dockerfile-comment-says-it-does.md
Due: none

docs(backlog): cloud mode ruling, two more cloud frictions, task-1070 merged
  CURRENT.md
  tracker/docs/doc-108 - Idea-Cloud-nested-dispatch-local-driver-remote-orchestratorworker.md
  tracker/tasks/task-1070 - Move-voice-engine-off-Python-3.11-before-its-October-2027-end-of-security-support.md
Due: none

fix(husky): make lifecycle hooks parse under dash
  .github/workflows/ci.yml
  .husky/pre-commit
Due: none

feat(bot-client): settings dashboards gain a page index and concern pages
  docs/proposals/backlog/ux-design-system-spec.md
  services/bot-client/src/commands/admin/settings.test.ts
  services/bot-client/src/commands/channel/settings.test.ts
  services/bot-client/src/commands/channel/settings.ts
  services/bot-client/src/commands/character/overrides.test.ts
  services/bot-client/src/commands/character/overrides.ts
  services/bot-client/src/commands/character/settings.test.ts
  services/bot-client/src/commands/character/settings.ts
  services/bot-client/src/commands/settings/defaults/edit.test.ts
  services/bot-client/src/utils/dashboard/settings/SettingsDashboardBuilder.test.ts
  services/bot-client/src/utils/dashboard/settings/SettingsDashboardBuilder.ts
  services/bot-client/src/utils/dashboard/settings/SettingsDashboardHandler.test.ts
  services/bot-client/src/utils/dashboard/settings/SettingsDashboardHandler.ts
  services/bot-client/src/utils/dashboard/settings/index.ts
  services/bot-client/src/utils/dashboard/settings/settingsButtonBuilders.ts
  services/bot-client/src/utils/dashboard/settings/settingsIndexView.test.ts
  services/bot-client/src/utils/dashboard/settings/settingsIndexView.ts
  services/bot-client/src/utils/dashboard/settings/settingsNavigationHandlers.test.ts
  services/bot-client/src/utils/dashboard/settings/settingsNavigationHandlers.ts
  services/bot-client/src/utils/dashboard/settings/types.ts
Due: bot-client, integration

docs(backlog): file task-1079 to task-1081 from the doc-72 and task-1073 units
  backlog/now.md
  tracker/tasks/task-1079 - Share-Chat-History-drill-down-on-both-character-dashboards-builds-a-107-char-customId-and-throws.md
  tracker/tasks/task-1080 - Channel-settings-dashboard-drops-its-No-character-activated-note-after-the-first-interaction.md
  tracker/tasks/task-1081 - Wire-shellcheck-s-sh-into-the-hook-posix-parse-CI-job.md
Due: none

docs(backlog): task-1073 done, merged as #2506
  tracker/tasks/task-1073 - Husky-hooks-use-bash-syntax-but-run-under-sh-so-they-fail-where-bin-sh-is-dash.md
Due: none

fix(bot-client): index jump select resolves pages by stable id
  services/bot-client/src/commands/admin/settings.test.ts
  services/bot-client/src/utils/dashboard/settings/SettingsDashboardHandler.test.ts
  services/bot-client/src/utils/dashboard/settings/settingsIndexView.test.ts
  services/bot-client/src/utils/dashboard/settings/settingsIndexView.ts
  services/bot-client/src/utils/dashboard/settings/settingsNavigationHandlers.test.ts
  services/bot-client/src/utils/dashboard/settings/settingsNavigationHandlers.ts
Due: bot-client, integration

docs(bot-client): page id and admin settings header describe the index
  services/bot-client/src/commands/admin/settings.ts
  services/bot-client/src/utils/dashboard/settings/types.ts
Due: bot-client, integration

fix(bot-client): the settings index shows the dashboard's scope note
  services/bot-client/src/utils/dashboard/settings/SettingsDashboardBuilder.ts
  services/bot-client/src/utils/dashboard/settings/settingsIndexView.test.ts
  services/bot-client/src/utils/dashboard/settings/settingsIndexView.ts
  services/bot-client/src/utils/dashboard/settings/settingsNavigationHandlers.ts
Due: bot-client, integration

docs(backlog): doc-72 PR A merged, task-256 absorbed, rulesets updated
  CURRENT.md
  backlog/now.md
  tracker/tasks/task-256 - Settings-dashboard-page-jump-select-7-pages-via-prevnext-is-walkable-but-clicky.md
Due: none

docs(backlog): task-1039 records n 3 set in prod for the second read
  tracker/tasks/task-1039 - doc-97-Phase-4-first-slice-apply-the-user-only-history-treatment-to-same-channel-history-beyond-the-recent-turns.md
Due: none

docs(backlog): doc-72 pr b reset semantics ruled, system-page reset filed as task-1082
  tracker/docs/doc-72 - Idea-Dashboard-index-navigation-—-hub-page-jump-to-select-back-to-index.md
  tracker/tasks/task-1082 - Per-page-reset-on-the-admin-System-settings-pages.md
Due: none

fix(bot-client): compact uuid entity ids so settings customids fit discord's cap
  services/bot-client/src/utils/dashboard/settings/settingsCustomIdLength.test.ts
  services/bot-client/src/utils/dashboard/settings/settingsEntityIdCodec.test.ts
  services/bot-client/src/utils/dashboard/settings/settingsEntityIdCodec.ts
  services/bot-client/src/utils/dashboard/settings/settingsEntityIdSeam.test.ts
  services/bot-client/src/utils/dashboard/settings/types.ts
Due: bot-client, integration

docs(bot-client): scope the parse comment's canonical-id claim to built ids
  services/bot-client/src/utils/dashboard/settings/types.ts
Due: bot-client, integration

docs(backlog): doc-108 records that routines bill the plan, not the cloud credit
  tracker/docs/doc-108 - Idea-Cloud-nested-dispatch-local-driver-remote-orchestratorworker.md
Due: none

Path conditions:
  ai-worker: any of: services/ai-worker/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  api-gateway: any of: services/api-gateway/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  bot-client: any of: services/bot-client/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  common-types: any of: packages/common-types/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  integration: any of: services/, packages/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
