Repository lbds137/tzurot: changes, and which Codecov flags are due for each by the changed paths.
All: ai-worker, api-gateway, bot-client, common-types, integration

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 2%
        informational: false
    patch:
      default:
        target: 80%
        threshold: 5%
        informational: false

comment:
  layout: 'reach,diff,flags,tree,files'
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flag_management:
  default_rules:
    carryforward: true

flags:
  ai-worker:
    paths:
      - services/ai-worker/
  api-gateway:
    paths:
      - services/api-gateway/
  bot-client:
    paths:
      - services/bot-client/
  common-types:
    paths:
      - packages/common-types/
  # Integration tests cover all services
  integration:
    paths:
      - services/
      - packages/

ignore:
  - '**/*.test.ts'
  - '**/*.spec.ts'
  - '**/dist/**'
  - '**/node_modules/**'
  - 'scripts/**'
  - 'tzurot-legacy/**'

fix: history undo reports how many messages came back, or that none did
  packages/common-types/src/schemas/api/history.test.ts
  packages/common-types/src/schemas/api/history.ts
  services/api-gateway/src/routes/user/history.test.ts
  services/api-gateway/src/routes/user/history.ts
  services/bot-client/src/commands/history/undo.test.ts
  services/bot-client/src/commands/history/undo.ts
Due: api-gateway, bot-client, common-types, integration

docs: #2391 and #2392 merged — TASK-894 and TASK-808 closed, beta.222 lineup complete
  CURRENT.md
  backlog/now.md
  tracker/tasks/task-808 - Vision-path-never-deletes-__raw_response-—-200-500KB-raw-payload-retained-per-message.md
  tracker/tasks/task-894 - history-undo-reports-success-with-nothing-to-restore-after-another-user-purged-the-channel.md
Due: none

docs: reset the CURRENT.md version header to beta.221 (the skipped step 9)
  CURRENT.md
Due: none

chore: bump version to 3.0.0-beta.222
  package.json
  packages/cache-invalidation/package.json
  packages/clients/package.json
  packages/common-types/package.json
  packages/config-resolver/package.json
  packages/conversation-history/package.json
  packages/embeddings/package.json
  packages/identity/package.json
  packages/test-factories/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  services/website/package.json
  tests/package.json
Due: ai-worker, api-gateway, bot-client, common-types, integration

feat(tooling): lint raw content truncation and response bodies out of logs
  .claude/rules/00-critical.md
  eslint.config.js
  packages/common-types/src/services/VoiceTranscriptCache.ts
  packages/common-types/src/utils/logContentPreview.test.ts
  packages/common-types/src/utils/logContentPreview.ts
  packages/conversation-history/src/ConversationHistoryService.ts
  packages/conversation-history/src/ConversationRetentionService.ts
  packages/tooling/README.md
  packages/tooling/src/eslint/index.ts
  packages/tooling/src/eslint/no-raw-log-content.test.ts
  packages/tooling/src/eslint/no-raw-log-content.ts
  services/ai-worker/src/services/VisionDescriptionCache.ts
  services/ai-worker/src/services/eval/voiceJudgePrompt.test.ts
  services/ai-worker/src/services/eval/voiceJudgePrompt.ts
  services/ai-worker/src/services/modelFactory/OpenRouterFetch.ts
  services/ai-worker/src/services/prompt/PromptLogger.ts
  services/api-gateway/src/routes/user/history.ts
  services/api-gateway/src/routes/user/memory.ts
  services/api-gateway/src/routes/user/memoryBatch.ts
  services/api-gateway/src/routes/user/memoryBatchHelpers.ts
  services/api-gateway/src/services/ActionTokenService.ts
  services/bot-client/src/handlers/references/TranscriptRetriever.ts
  services/bot-client/src/services/ConversationPersistence.ts
  services/bot-client/src/services/VoiceTranscriptionService.ts
  services/bot-client/src/utils/gatewayServiceCalls.test.ts
  services/bot-client/src/utils/gatewayServiceCalls.ts
Due: ai-worker, api-gateway, bot-client, common-types, integration

fix(ai-worker): strip a leading bracket only when it holds a prompt timestamp
  docs/proposals/backlog/prompt-assembly-architecture.md
  services/ai-worker/src/services/ResponsePostProcessor.test.ts
  services/ai-worker/src/services/ResponsePostProcessor.ts
  services/ai-worker/src/services/responseStripSeam.test.ts
  services/ai-worker/src/utils/promptTimestampShapes.test.ts
  services/ai-worker/src/utils/promptTimestampShapes.ts
  services/ai-worker/src/utils/responseArtifacts.test.ts
  services/ai-worker/src/utils/responseArtifacts.ts
Due: ai-worker, integration

docs(backlog): add the #2388 round-2 hardening members to TASK-933
  tracker/tasks/task-933 - no-raw-log-content-blind-spots-with-live-sites-a-cross-function-provider-error-truncation-and-a-whole-prompt-dump-reach-logs-unflagged.md
Due: none

docs(backlog): #2382 merged — the sharp advisory closes beta.222 item 0
  backlog/now.md
Due: none

docs(backlog): doc-99 measured — bookkeeping dominates, TASK-934 files lever 1
  backlog/now.md
  tracker/docs/doc-99 - Idea-Fable-budget-levers-from-the-handoff-loop-pattern.md
  tracker/tasks/task-934 - Mechanize-the-worktree-transfer-and-the-unit-close-out-as-ops-commands-doc-99-lever-1.md
Due: none

docs(backlog): define the timestamp vocabulary for the narrowed bracket step
  tracker/tasks/task-923 - leadingHeaderLineMatcher-truncates-any-reply-whose-first-line-opens-with-a-bracketed-em-dash-aside.md
Due: none

docs(backlog): the sharp high advisory rides beta.222 first
  backlog/now.md
Due: none

fix(deps): raise the sharp override floor to 0.35.4 to clear the transitive advisory
  package.json
  pnpm-lock.yaml
Due: none

fix(ai-worker): run the OpenRouter extractor on vision and system-model responses
  services/ai-worker/src/services/modelFactory/extractOpenRouterReasoning.canary.test.ts
  services/ai-worker/src/services/multimodal/VisionProcessor.test.ts
  services/ai-worker/src/services/multimodal/VisionProcessor.ts
  services/ai-worker/src/services/multimodal/readRoutedModel.ts
  services/ai-worker/src/services/systemModel/systemModelCall.test.ts
  services/ai-worker/src/services/systemModel/systemModelCall.ts
Due: ai-worker, integration

docs(backlog): file TASK-930 for the unpinned underscore branch and the allowlist tradeoff
  tracker/tasks/task-930 - Self-header-emphasis-class-the-underscore-3-plus-run-rejection-is-unpinned-and-the-decoration-allowlist-false-negative-is-undocumented.md
Due: none

docs: #2388 merged — TASK-925 closed, four beta.222 units in
  CURRENT.md
  backlog/now.md
  tracker/tasks/task-925 - Nothing-structurally-stops-a-raw-slice-or-substring-from-landing-inside-a-logger-call.md
Due: none

chore(hooks): pre-check the commit subject before husky, and root-anchor the monitor command
  .claude/hooks/develop-code-commit-guard.probe.sh
  .claude/hooks/develop-code-commit-guard.sh
  .claude/hooks/pr-monitor-reminder.probe.sh
  .claude/hooks/pr-monitor-reminder.sh
  .claude/rules/00-critical.md
  .claude/rules/05-tooling.md
  .claude/rules/10-working-posture.md
  .claude/skills/tzurot-git-workflow/SKILL.md
  .claude/skills/tzurot-orchestration/SKILL.md
  CLAUDE.md
  packages/tooling/src/dev/check-monitor-command.test.ts
  packages/tooling/src/dev/check-monitor-command.ts
Due: integration

fix(bot-client): tell the user when a character view page flip fails
  services/bot-client/src/commands/character/view.test.ts
  services/bot-client/src/commands/character/view.ts
Due: bot-client, integration

docs(backlog): record the TASK-926 two-PR plan and the dev-purge tombstone finding
  tracker/tasks/task-926 - Retention-Phase-4-notify-and-purge-run-autonomously-on-a-daily-job-under-the-circuit-breaker-with-an-owner-channel-run-report.md
Due: none

docs: #2383 and #2384 merged — TASK-922 and TASK-924 closed, beta.222 at three runtime PRs
  backlog/now.md
  tracker/tasks/task-922 - Orchestration-skill-does-not-name-the-collision-between-resuming-a-stopped-worker-and-worktree-auto-removal.md
  tracker/tasks/task-924 - leadingSelfHeaderLineMatcher-deletes-a-first-line-of-prose-that-ends-in-a-self-named-bracketed-aside.md
Due: none

docs: #2385 merged — retention PR-A, TASK-326 closed, PR-B next
  CURRENT.md
  backlog/now.md
  tracker/tasks/task-326 - the-retention-breakers-hard-ceiling-check-RetentionPurgeServicecheckHardCeiling-.md
  tracker/tasks/task-926 - Retention-Phase-4-notify-and-purge-run-autonomously-on-a-daily-job-under-the-circuit-breaker-with-an-owner-channel-run-report.md
Due: none

docs(backlog): record the owner ruling on the generic bracket strip step
  tracker/tasks/task-923 - leadingHeaderLineMatcher-truncates-any-reply-whose-first-line-opens-with-a-bracketed-em-dash-aside.md
Due: none

docs: beta.221 cut recorded; beta.222 planned with the opus-drivable lineup
  CURRENT.md
  backlog/now.md
Due: none

feat(bot-client): run retention notify and purge unattended on a daily job
  .env.example
  docs/reference/architecture/system-model.md
  packages/clients/src/clients/_generated/service-client.ts
  packages/clients/src/routes/internalRetention.ts
  packages/clients/src/routes/manifest.test.ts
  packages/common-types/src/config/config.test.ts
  packages/common-types/src/config/config.ts
  packages/common-types/src/schemas/api/internal.ts
  packages/common-types/src/utils/intervalScheduler.ts
  packages/tooling/src/retention/runLease.test.ts
  packages/tooling/src/retention/runLease.ts
  services/api-gateway/src/routes/internal/retentionNotify.ts
  services/api-gateway/src/routes/internal/retentionPurge.ts
  services/api-gateway/src/services/retention/RetentionNotifyService.ts
  services/api-gateway/src/services/retention/RetentionPurgeService.ts
  services/bot-client/src/index.ts
  services/bot-client/src/services/ExportSmokeScheduler.ts
  services/bot-client/src/services/RetentionNagScheduler.ts
  services/bot-client/src/services/retentionRun/RetentionRunScheduler.test.ts
  services/bot-client/src/services/retentionRun/RetentionRunScheduler.ts
  services/bot-client/src/services/retentionRun/retentionLiveRun.test.ts
  services/bot-client/src/services/retentionRun/retentionLiveRun.ts
  services/bot-client/src/services/retentionRun/retentionNag.test.ts
  services/bot-client/src/services/retentionRun/retentionNag.ts
  services/bot-client/src/services/retentionRun/retentionRehearsal.test.ts
  services/bot-client/src/services/retentionRun/retentionRehearsal.ts
  services/bot-client/src/services/retentionRun/retentionRows.test.ts
  services/bot-client/src/services/retentionRun/retentionRows.ts
  services/bot-client/src/services/retentionRun/retentionRunLease.test.ts
  services/bot-client/src/services/retentionRun/retentionRunLease.ts
  services/bot-client/src/services/retentionRun/retentionRunReport.test.ts
  services/bot-client/src/services/retentionRun/retentionRunReport.ts
  services/bot-client/src/services/retentionRun/types.ts
Due: api-gateway, bot-client, common-types, integration

docs: #2387 merged — TASK-923 first half, TASK-925 shape corrected, PR-B in round 4
  backlog/now.md
  tracker/tasks/task-923 - leadingHeaderLineMatcher-truncates-any-reply-whose-first-line-opens-with-a-bracketed-em-dash-aside.md
  tracker/tasks/task-925 - Nothing-structurally-stops-a-raw-slice-or-substring-from-landing-inside-a-logger-call.md
Due: none

fix(ai-worker): narrow the self-header preamble to decoration, never narrated prose
  services/ai-worker/src/services/context/RealMessagesBuilder.test.ts
  services/ai-worker/src/services/context/RealMessagesBuilder.ts
  services/ai-worker/src/utils/responseArtifacts.test.ts
Due: ai-worker, integration

docs: #2389 merged — TASK-890 closed, #2390 open against main
  CURRENT.md
  backlog/now.md
  tracker/tasks/task-890 - Character-view-page-flip-swallows-a-fetch-failure-silently.md
Due: none

docs: record the beta.222 opening — sharp shipped, two PRs in review, three tasks filed
  CURRENT.md
  backlog/now.md
Due: none

docs(backlog): file TASK-928 for the shared hook ack-file shape
  tracker/tasks/task-928 - Five-hooks-share-a-predictable-tmp-ack-file-shape-with-no-symlink-guard-and-a-silent-sha256sum-dependency.md
Due: none

docs(backlog): file TASK-933 for the no-raw-log-content blind spots with live sites
  tracker/tasks/task-933 - no-raw-log-content-blind-spots-with-live-sites-a-cross-function-provider-error-truncation-and-a-whole-prompt-dump-reach-logs-unflagged.md
Due: none

docs: #2390 merged to main and develop finalized — TASK-901 stays a watch
  CURRENT.md
  backlog/now.md
Due: none

docs: #2386 merged — retention job built, TASK-325 closed, TASK-932 filed
  CURRENT.md
  backlog/now.md
  tracker/tasks/task-325 - retentions-unreachability-signal-only-refreshes-on-a-MAJOR-release-blast….md
  tracker/tasks/task-926 - Retention-Phase-4-notify-and-purge-run-autonomously-on-a-daily-job-under-the-circuit-breaker-with-an-owner-channel-run-report.md
  tracker/tasks/task-932 - Retention-job-report-robustness-a-failed-live-report-post-is-lost-nag-previews-hourly-purge-status-not-switched-exhaustively.md
Due: none

docs(backlog): file TASK-927 for the advisory direct-vs-transitive misclassification
  tracker/tasks/task-927 - security-advisories-classifies-direct-by-name-alone-so-a-directtransitive-package-gets-the-wrong-remediation.md
Due: none

docs(backlog): file TASK-929 for the tsx-unloadable type-only re-export
  tracker/tasks/task-929 - ai-worker-is-unloadable-under-tsx-conversationUtils-re-exports-three-interfaces-without-the-type-keyword.md
Due: none

docs(backlog): file TASK-931 for the retention scope parenthesization convention
  tracker/tasks/task-931 - Retention-eligibility-scope-binding-relies-on-a-parenthesization-convention-a-new-call-site-can-break.md
Due: none

docs: beta.222 cut recorded — CURRENT.md reset with the watch checklist, beta.223 planned
  CURRENT.md
  backlog/now.md
Due: none
