Repository lbds137/tzurot: changes, and which Codecov flags are due for each by the changed paths.
All: ai-worker, api-gateway, bot-client, common-types, integration

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 2%
        informational: false
    patch:
      default:
        target: 80%
        threshold: 5%
        informational: false

comment:
  layout: 'reach,diff,flags,tree,files'
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flag_management:
  default_rules:
    carryforward: true

flags:
  ai-worker:
    paths:
      - services/ai-worker/
  api-gateway:
    paths:
      - services/api-gateway/
  bot-client:
    paths:
      - services/bot-client/
  common-types:
    paths:
      - packages/common-types/
  # Integration tests cover all services
  integration:
    paths:
      - services/
      - packages/

ignore:
  - '**/*.test.ts'
  - '**/*.spec.ts'
  - '**/dist/**'
  - '**/node_modules/**'
  - 'scripts/**'
  - 'tzurot-legacy/**'

docs(repo): prune 2 dead backlog entries — jobtracker orphan sweep + fkreconciler
  BACKLOG.md
Due: none

fix(bot-client): encode dynamic url segments in admin-side helpers (ssrf defense-in-depth)
  services/bot-client/src/commands/admin/usage.ts
  services/bot-client/src/commands/preset/api.ts
Due: bot-client, integration

fix(bot-client, ai-worker): address pr #865 review findings
  services/ai-worker/src/index.ts
  services/bot-client/src/handlers/CommandHandler.ts
  services/bot-client/src/utils/deployCommands.ts
Due: ai-worker, bot-client, integration

fix: drop redundant type assertions flagged by @typescript-eslint 8.59
  packages/common-types/src/services/DenylistCacheInvalidationService.ts
  packages/common-types/src/services/UserService.ts
  packages/common-types/src/services/personality/PersonalityLoader.ts
  services/ai-worker/src/jobs/ShapesExportFormatters.ts
  services/ai-worker/src/jobs/ShapesImportMemories.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/ConfigStep.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/NormalizationStep.ts
  services/ai-worker/src/services/PromptBuilder.ts
  services/ai-worker/src/services/UserReferenceResolver.ts
  services/ai-worker/src/services/diagnostics/DiagnosticRecorders.ts
  services/ai-worker/src/test/mocks/fixtures/personality.ts
  services/api-gateway/src/routes/admin/updatePersonality.ts
  services/api-gateway/src/routes/ai/generate.ts
  services/api-gateway/src/routes/user/config-overrides.ts
  services/api-gateway/src/services/LlmConfigService.ts
  services/api-gateway/src/utils/elevenLabsFetch.ts
  services/api-gateway/src/utils/prismaErrors.ts
  services/bot-client/src/commands/admin/presence.ts
  services/bot-client/src/commands/admin/settings.ts
  services/bot-client/src/commands/channel/settings.ts
  services/bot-client/src/commands/character/chat.ts
  services/bot-client/src/commands/inspect/browse.ts
  services/bot-client/src/services/DiscordResponseSender.ts
  services/bot-client/src/test/mocks/Discord.mock.ts
  services/bot-client/src/test/mocks/PersonalityService.mock.ts
  services/bot-client/src/utils/dashboard/settings/settingsDataBuilder.ts
Due: ai-worker, api-gateway, bot-client, common-types, integration

fix(repo): pr #865 round 2 findings
  BACKLOG.md
  eslint.config.js
Due: none

chore(ci): rewrite codecov entry-point exclusion comment as blanket policy
  codecov.yml
Due: none

fix(api-gateway): preserve logContext in deleteAllAvatarVersions logs
  services/api-gateway/src/utils/avatarPaths.ts
Due: api-gateway, integration

fix(bot-client): address PR #860 review fixes + coverage gaps
  services/bot-client/src/commands/admin/kick.ts
  services/bot-client/src/commands/memory/incognito.ts
  services/bot-client/src/handlers/CommandHandler.test.ts
Due: bot-client, integration

docs(repo): track pr #863 reviewer pre-existing observations in backlog
  BACKLOG.md
Due: none

docs(repo): remove stale pr #863 missed-sites backlog entry
  BACKLOG.md
Due: none

docs(repo): track pr #864 reviewer follow-ups in backlog
  BACKLOG.md
Due: none

docs(repo): backlog Kimi K2.6 reasoning-as-plain-text quirk
  BACKLOG.md
Due: none

refactor(bot-client): address PR #856 review — drop cast + re-exports
  services/ai-worker/src/jobs/handlers/pipeline/steps/NormalizationStep.ts
  services/bot-client/src/commands/character/api.ts
  services/bot-client/src/commands/character/browse.ts
  services/bot-client/src/commands/character/browseHelpers.ts
  services/bot-client/src/commands/character/config.test.ts
  services/bot-client/src/commands/character/config.ts
  services/bot-client/src/commands/character/dashboardActions.ts
  services/bot-client/src/commands/character/dashboardButtons.ts
  services/bot-client/src/commands/character/dashboardDeleteHandlers.ts
  services/bot-client/src/commands/character/export.ts
  services/bot-client/src/commands/character/sectionContext.ts
  services/bot-client/src/commands/character/sections.test.ts
  services/bot-client/src/commands/character/truncationWarning.ts
  services/bot-client/src/commands/character/view.test.ts
  services/bot-client/src/commands/character/view.ts
  services/bot-client/src/commands/character/viewTypes.ts
  services/bot-client/src/commands/deny/browse.ts
  services/bot-client/src/commands/deny/view.ts
Due: ai-worker, bot-client, integration

docs(repo): promote tts engine upgrade to next epic; demote cpd to future theme
  BACKLOG.md
Due: none

docs(repo): backlog the codebase-wide Pino { error } → { err: error } sweep
  BACKLOG.md
Due: none

chore(repo): bump version to 3.0.0-beta.103
  package.json
  packages/common-types/package.json
  packages/embeddings/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  tests/package.json
Due: ai-worker, api-gateway, bot-client, common-types, integration

docs(repo): backlog remaining adminFetch SSRF sites (PR #859 r2 review)
  BACKLOG.md
Due: none

chore(repo): pino hygiene follow-ups — userId interpolation + empty-{} sweep + narrow eslint rule
  BACKLOG.md
  eslint.config.js
  packages/common-types/src/services/personality/PersonalityLoader.ts
  packages/common-types/src/utils/redis.ts
  packages/embeddings/src/LocalEmbeddingService.ts
  services/ai-worker/src/index.ts
  services/ai-worker/src/jobs/PendingMemoryProcessor.ts
  services/ai-worker/src/services/MemoryPersistenceService.ts
  services/ai-worker/src/services/MemoryRetriever.ts
  services/ai-worker/src/utils/crossTurnDetection.ts
  services/api-gateway/src/index.ts
  services/api-gateway/src/routes/user/shapes/index.ts
  services/api-gateway/src/services/EmbeddingService.ts
  services/api-gateway/src/utils/deduplicationCache.ts
  services/bot-client/src/commands/admin/presence.ts
  services/bot-client/src/commands/help/index.ts
  services/bot-client/src/handlers/CommandHandler.ts
  services/bot-client/src/processors/DMSessionProcessor.ts
  services/bot-client/src/services/ConversationPersistence.ts
  services/bot-client/src/services/ReplyResolutionService.ts
  services/bot-client/src/services/VerificationCleanupScheduler.ts
  services/bot-client/src/services/VerificationCleanupService.ts
  services/bot-client/src/services/VoiceTranscriptionService.ts
  services/bot-client/src/startup.ts
  services/bot-client/src/utils/WebhookManager.ts
  services/bot-client/src/utils/dashboard/settings/SettingsDashboardHandler.ts
  services/bot-client/src/utils/deployCommands.ts
Due: ai-worker, api-gateway, bot-client, common-types, integration

docs(repo): move 10 inbox items to icebox (feature nice-to-haves + rare ux bugs)
  BACKLOG.md
Due: none

fix(bot-client): address PR #859 review — encode 14 more SSRF sites the first sweep missed
  services/bot-client/src/commands/channel/browse.ts
  services/bot-client/src/commands/character/api.ts
  services/bot-client/src/commands/character/import.ts
  services/bot-client/src/commands/memory/focus.ts
  services/bot-client/src/commands/memory/purge.ts
  services/bot-client/src/commands/memory/stats.ts
  services/bot-client/src/commands/persona/override/clear.ts
  services/bot-client/src/commands/persona/override/set.ts
  services/bot-client/src/commands/persona/view.ts
Due: bot-client, integration

refactor(ai-worker): pr #866 review — drop timeouterror re-export, freeze pino_levels
  eslint.config.js
  services/ai-worker/src/jobs/handlers/pipeline/steps/TTSStep.ts
  services/ai-worker/src/services/KeyValidationService.test.ts
  services/ai-worker/src/services/KeyValidationService.ts
  services/ai-worker/src/services/multimodal/AudioProcessor.test.ts
  services/ai-worker/src/services/multimodal/AudioProcessor.ts
  services/ai-worker/src/services/voice/ElevenLabsClient.test.ts
  services/ai-worker/src/services/voice/ElevenLabsClient.ts
  services/ai-worker/src/services/voice/VoiceEngineClient.test.ts
  services/ai-worker/src/services/voice/VoiceEngineClient.ts
  services/ai-worker/src/services/voice/VoiceRegistrationService.test.ts
  services/ai-worker/src/services/voice/voiceReferenceHelper.test.ts
  services/ai-worker/src/services/voice/voiceReferenceHelper.ts
  services/ai-worker/src/utils/retry.test.ts
  services/ai-worker/src/utils/retry.ts
Due: ai-worker, integration

docs(repo): session-end housekeeping for v3.0.0-beta.103 release
  BACKLOG.md
  CURRENT.md
Due: none

docs(repo): backlog readme codecov badge 0% vs website 92.73% mismatch
  BACKLOG.md
Due: none

docs(repo): remove speculative codecov badge backlog item
  BACKLOG.md
Due: none

docs(repo): backlog post-deploy dm subscription loss — structural fix identified
  BACKLOG.md
Due: none

docs(repo): refine dm-subscription-loss fix — add greedy lazy registration layer
  BACKLOG.md
Due: none

docs(repo): intake backlog items + refresh TTS leaderboard
  BACKLOG.md
Due: none

refactor(test-utils): extract createTestPGlite factory across 16 call sites
  BACKLOG.md
  packages/common-types/src/services/ConversationHistoryService.int.test.ts
  packages/common-types/src/services/ConversationRetentionService.int.test.ts
  packages/common-types/src/services/ConversationSyncService.int.test.ts
  packages/common-types/src/services/UserService.int.test.ts
  packages/common-types/src/services/personality/PersonalityService.int.test.ts
  packages/test-utils/package.json
  packages/test-utils/src/index.ts
  packages/test-utils/src/seed.int.test.ts
  packages/test-utils/src/setup-pglite.ts
  pnpm-lock.yaml
  services/ai-worker/src/jobs/AIJobProcessor.int.test.ts
  services/ai-worker/src/services/DuplicateDetectionFlow.int.test.ts
  services/ai-worker/src/services/LongTermMemoryService.int.test.ts
  services/ai-worker/src/services/PgvectorMemoryAdapter.int.test.ts
  services/api-gateway/src/routes/admin/AdminRoutes.int.test.ts
  services/api-gateway/src/routes/ai/AIRoutes.int.test.ts
  services/api-gateway/src/routes/user/llm-config.int.test.ts
  services/api-gateway/src/services/DatabaseSyncService.int.test.ts
  services/api-gateway/src/services/LlmConfigService.int.test.ts
  tests/e2e/database.e2e.test.ts
Due: integration

docs(repo): intake shapes.inc auth cookie migration proposal
  BACKLOG.md
  docs/proposals/backlog/shapes-inc-auth-cookie-migration.md
Due: none

docs(repo): intake shapes.inc fetcher hardening follow-ons
  BACKLOG.md
  docs/proposals/backlog/shapes-inc-fetcher-hardening.md
Due: none

feat(ai-worker): migrate shapes.inc session cookie from Auth0 to Better Auth
  packages/common-types/src/types/shapes-import.test.ts
  packages/common-types/src/types/shapes-import.ts
  services/ai-worker/src/jobs/ShapesExportJob.test.ts
  services/ai-worker/src/jobs/ShapesImportJob.test.ts
  services/ai-worker/src/services/shapes/ShapesDataFetcher.test.ts
  services/ai-worker/src/services/shapes/ShapesDataFetcher.ts
  services/ai-worker/src/services/shapes/shapesCookieParser.test.ts
  services/ai-worker/src/services/shapes/shapesCookieParser.ts
  services/api-gateway/src/routes/user/shapes/auth.test.ts
  services/api-gateway/src/routes/user/shapes/auth.ts
  services/api-gateway/src/routes/user/shapes/list.test.ts
  services/bot-client/src/commands/shapes/auth.test.ts
  services/bot-client/src/commands/shapes/auth.ts
  services/bot-client/src/commands/shapes/modal.test.ts
  services/bot-client/src/commands/shapes/modal.ts
Due: ai-worker, api-gateway, bot-client, common-types, integration

fix(ai-worker): address PR #869 review feedback
  packages/common-types/src/types/shapes-import.test.ts
  packages/common-types/src/types/shapes-import.ts
  services/ai-worker/src/jobs/ShapesExportJob.test.ts
  services/ai-worker/src/jobs/ShapesImportJob.test.ts
  services/ai-worker/src/services/shapes/ShapesDataFetcher.test.ts
  services/api-gateway/src/routes/user/shapes/list.test.ts
  services/bot-client/src/commands/shapes/auth.test.ts
  services/bot-client/src/commands/shapes/auth.ts
Due: bot-client, common-types, integration

docs(repo): queue gateway cookie-submit hardening; clear shipped items
  BACKLOG.md
Due: none

refactor(api-gateway): share token-shape check between bot-client and gateway
  packages/common-types/src/types/shapes-import.test.ts
  packages/common-types/src/types/shapes-import.ts
  services/api-gateway/src/routes/user/shapes/auth.test.ts
  services/api-gateway/src/routes/user/shapes/auth.ts
Due: api-gateway, common-types, integration

feat(api-gateway): add shapes.inc session preflight on cookie submit
  services/api-gateway/src/routes/user/shapes/auth.test.ts
  services/api-gateway/src/routes/user/shapes/auth.ts
  services/api-gateway/src/services/ShapesPreflight.test.ts
  services/api-gateway/src/services/ShapesPreflight.ts
Due: api-gateway, integration

fix(api-gateway): address PR #870 review feedback
  services/api-gateway/src/services/ShapesPreflight.test.ts
  services/api-gateway/src/services/ShapesPreflight.ts
Due: api-gateway, integration

fix(api-gateway): address PR #870 second-cycle review feedback
  packages/common-types/src/types/shapes-import.test.ts
  packages/common-types/src/types/shapes-import.ts
  services/api-gateway/src/routes/user/shapes/auth.test.ts
  services/api-gateway/src/routes/user/shapes/auth.ts
Due: api-gateway, common-types, integration
