Repository lbds137/tzurot: changes, and which Codecov flags are due for each by the changed paths.
All: ai-worker, api-gateway, bot-client, common-types, integration

fix(bot-client): catch 10062 timeout on showModal in handleSelectMenu
  services/bot-client/src/commands/character/dashboard.test.ts
  services/bot-client/src/commands/character/dashboard.ts
  services/bot-client/src/commands/character/truncationWarning.ts
  services/bot-client/src/commands/persona/dashboard.test.ts
  services/bot-client/src/commands/persona/dashboard.ts
  services/bot-client/src/commands/persona/truncationWarning.ts
  services/bot-client/src/utils/dashboard/showModalWithTimeoutCatch.test.ts
  services/bot-client/src/utils/dashboard/showModalWithTimeoutCatch.ts
Due: bot-client, integration

fix(bot-client): bump persona/character modal limits from 2000 to 4000
  services/bot-client/src/commands/character/config.ts
  services/bot-client/src/commands/persona/config.test.ts
  services/bot-client/src/commands/persona/config.ts
Due: bot-client, integration

fix(bot-client): replyError uses editReply when interaction is deferred-but-not-replied
  services/bot-client/src/commands/character/sectionContext.test.ts
  services/bot-client/src/commands/character/sectionContext.ts
  services/bot-client/src/commands/character/truncationWarning.test.ts
  services/bot-client/src/commands/persona/sectionContext.test.ts
  services/bot-client/src/commands/persona/sectionContext.ts
  services/bot-client/src/commands/persona/truncationWarning.test.ts
Due: bot-client, integration

docs(backlog): clear current-focus + file random-pick load-failure UX to deferred
  backlog/current-focus.md
  backlog/deferred.md
Due: none

feat(bot-client): /character chat random-bot mode (omit character to pick randomly)
  packages/common-types/src/generated/commandOptions.ts
  services/bot-client/src/commands/character/chat.test.ts
  services/bot-client/src/commands/character/chat.ts
  services/bot-client/src/commands/character/index.ts
  services/bot-client/src/commands/character/randomPick.test.ts
  services/bot-client/src/commands/character/randomPick.ts
  services/bot-client/src/handlers/__snapshots__/CommandHandler.int.test.ts.snap
Due: bot-client, common-types, integration

docs(backlog): refresh active-epic + current-focus + index for post-beta.116 state
  BACKLOG.md
  backlog/active-epic.md
  backlog/current-focus.md
Due: none

feat(bot-client): wire persona dashboard through truncation gate
  services/bot-client/src/commands/persona/dashboard.test.ts
  services/bot-client/src/commands/persona/dashboard.ts
  services/bot-client/src/utils/dashboard/genericSelectMenuHandler.ts
Due: bot-client, integration

docs(backlog): swap showModal-wrap entry for handleEditTruncatedButton test gap
  backlog/inbox.md
Due: none

docs(backlog): file handleEditTruncatedButton error-path 10062 exposure
  backlog/inbox.md
Due: none

docs(backlog): file three follow-ups from PR #984 reviewer findings
  backlog/inbox.md
Due: none

docs: align BACKLOG.md + deferred.md tagline with new Deferred semantics
  BACKLOG.md
  backlog/deferred.md
Due: none

docs(rules): clarify Deferred section's dual semantics
  .claude/rules/06-backlog.md
  .claude/rules/08-review-response.md
Due: none

docs(backlog): pull /character chat random into current focus
  backlog/current-focus.md
  backlog/quick-wins.md
Due: none

docs(backlog): clear persona data-loss production issue (PR #983 merged)
  backlog/production-issues.md
Due: none

fix(bot-client): wrap remaining showModal sites with timeout catch
  services/bot-client/src/commands/deny/detailEdit.ts
  services/bot-client/src/commands/memory/detailModals.ts
  services/bot-client/src/utils/dashboard/settings/SettingsDashboardHandler.ts
Due: bot-client, integration

docs(backlog): file hook tightening for auto-generated files
  backlog/inbox.md
Due: none

docs(backlog): file 3 additional showModal sites flagged in PR #987 review
  backlog/inbox.md
Due: none

docs(repo): post-release reset CURRENT.md for v3.0.0-beta.116
  CURRENT.md
Due: none

chore(tooling): allowlist persona truncationGate handler names
  packages/tooling/src/dev/check-duplicate-exports.ts
Due: integration

refactor(bot-client): extract truncationGate primitives to shared utils
  services/bot-client/src/commands/character/dashboard.ts
  services/bot-client/src/commands/character/truncationWarning.test.ts
  services/bot-client/src/commands/character/truncationWarning.ts
  services/bot-client/src/utils/dashboard/truncationGate/buttons.test.ts
  services/bot-client/src/utils/dashboard/truncationGate/buttons.ts
  services/bot-client/src/utils/dashboard/truncationGate/detection.test.ts
  services/bot-client/src/utils/dashboard/truncationGate/detection.ts
  services/bot-client/src/utils/dashboard/truncationGate/embeds.test.ts
  services/bot-client/src/utils/dashboard/truncationGate/embeds.ts
  services/bot-client/src/utils/dashboard/truncationGate/index.ts
  services/bot-client/src/utils/dashboard/types.ts
Due: bot-client, integration

chore(tooling): test/type hygiene bundle from PR #982 review
  backlog/inbox.md
  backlog/quick-wins.md
  packages/common-types/src/utils/deterministicUuid.ts
  packages/tooling/src/inspect/tts-configs.test.ts
Due: common-types, integration

chore: bump version to 3.0.0-beta.117
  package.json
  packages/common-types/package.json
  packages/embeddings/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  tests/package.json
Due: ai-worker, api-gateway, bot-client, common-types, integration

docs(backlog): refresh next-theme CPD count (119 → 169) post-Phase-1
  backlog/next-theme.md
Due: none

chore: add pre-commit scan for temporal markers in code comments
  .claude/rules/02-code-standards.md
  .husky/pre-commit
Due: none

docs(backlog): file personalityTone UI/API cap mismatch follow-up
  backlog/inbox.md
Due: none

docs(backlog): file post-#982 follow-ups (type-narrow + test-hygiene)
  backlog/inbox.md
Due: none

docs(backlog): file deny/detailEdit followUp-without-ack issue from PR #988 round 3
  backlog/inbox.md
Due: none

docs(backlog): file pre-commit hook for temporal-marker comment scanning
  backlog/quick-wins.md
Due: none

docs(backlog): prune resolved entries from inbox + quick-wins
  backlog/inbox.md
  backlog/quick-wins.md
Due: none

docs(backlog): file generateByokLlmConfigUuid type-narrow follow-up
  backlog/inbox.md
Due: none

docs(backlog): inbox triage — 29 -> 23 items
  backlog/deferred.md
  backlog/icebox.md
  backlog/inbox.md
Due: none

docs(backlog): triage inbox items + file persona data-loss production issue
  backlog/icebox.md
  backlog/inbox.md
  backlog/production-issues.md
  backlog/quick-wins.md
Due: none

docs(backlog): file Python coverage extension for temporal-marker hook
  backlog/inbox.md
Due: none

refactor(common-types,bot-client): extract SHORT_PARAGRAPH_MAX_LENGTH constant
  packages/common-types/src/constants/discord.ts
  packages/common-types/src/schemas/api/personality.test.ts
  packages/common-types/src/schemas/api/personality.ts
  services/bot-client/src/commands/character/config.test.ts
  services/bot-client/src/commands/character/config.ts
  services/bot-client/src/commands/character/sections.ts
Due: bot-client, common-types, integration

docs(backlog): reshape TTS Phase 3 to /voice consolidation + STT cutover
  CURRENT.md
  backlog/active-epic.md
  backlog/inbox.md
  docs/proposals/backlog/tts-phase-3-voice-consolidation-plan.md
Due: none

docs(backlog): aggressive inbox triage — 23 -> 9 items
  backlog/deferred.md
  backlog/inbox.md
Due: none

docs(backlog): triage trigger-gated items to deferred, add deny followUp + audit task to quick-wins
  backlog/deferred.md
  backlog/inbox.md
  backlog/quick-wins.md
Due: none

docs(backlog): delete Railway overlapSeconds entry — premise was wrong
  backlog/quick-wins.md
Due: none

chore(bot-client,common-types): bundle A — type-narrow LLM mirror + generic showModal 10062 catch
  packages/common-types/src/utils/deterministicUuid.test.ts
  packages/common-types/src/utils/deterministicUuid.ts
  services/bot-client/src/utils/dashboard/genericSelectMenuHandler.test.ts
  services/bot-client/src/utils/dashboard/genericSelectMenuHandler.ts
Due: bot-client, common-types, integration

docs(backlog): remove shipped quick-wins entries
  backlog/quick-wins.md
Due: none

Path conditions:
  ai-worker: any of: services/ai-worker/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  api-gateway: any of: services/api-gateway/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  bot-client: any of: services/bot-client/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  common-types: any of: packages/common-types/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  integration: any of: services/, packages/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
