Repository lbds137/tzurot: changes, and which Codecov flags are due for each by the changed paths.
All: ai-worker, api-gateway, bot-client, common-types, integration

docs(common-types): refresh glm-5.2 catalog comment — docs URL now resolves
  packages/common-types/src/constants/ai.ts
Due: common-types, integration

fix(common-types): collapse duplicate channel-history rows sharing a Discord id
  packages/common-types/src/utils/historyMerger.test.ts
  packages/common-types/src/utils/historyMerger.ts
Due: common-types, integration

fix(bot-client): persist weigh-in/chime-in responses to conversation history
  services/bot-client/src/handlers/MessageHandler.test.ts
  services/bot-client/src/handlers/MessageHandler.ts
Due: bot-client, integration

debug(bot-client): probe embed presence at user-message persist time
  services/bot-client/src/services/ConversationPersistence.ts
Due: bot-client, integration

debug(ai-worker): probe vision-auth key resolution (cross-provider 401)
  services/ai-worker/src/services/ModelFactory.test.ts
  services/ai-worker/src/services/ModelFactory.ts
  services/ai-worker/src/services/multimodal/VisionProcessor.test.ts
  services/ai-worker/src/services/multimodal/VisionProcessor.ts
Due: ai-worker, integration

fix(ai-worker): resolve cross-provider vision key in the RAG path
  services/ai-worker/src/jobs/AIJobProcessor.ts
  services/ai-worker/src/services/AttachmentProcessor.test.ts
  services/ai-worker/src/services/AttachmentProcessor.ts
  services/ai-worker/src/services/ConversationInputProcessor.test.ts
  services/ai-worker/src/services/ConversationInputProcessor.ts
  services/ai-worker/src/services/ConversationalRAGService.test.ts
  services/ai-worker/src/services/ConversationalRAGService.ts
  services/ai-worker/src/services/ConversationalRAGTypes.ts
  services/ai-worker/src/services/ReferencedMessageFormatter.ts
  services/ai-worker/src/services/multimodal/ragVisionAuth.test.ts
  services/ai-worker/src/services/multimodal/ragVisionAuth.ts
Due: ai-worker, integration

docs(backlog): file beta.133 config-consolidation deferrals (#1239/#1240)
  backlog/deferred.md
  backlog/quick-wins.md
Due: none

fix(api-gateway): resolve LLM model config once at job-chain build
  packages/common-types/src/types/jobs.test.ts
  packages/common-types/src/types/jobs.ts
  services/ai-worker/src/jobs/handlers/LLMGenerationHandler.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/ConfigStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/ConfigStep.ts
  services/api-gateway/src/index.ts
  services/api-gateway/src/routes/ai/generate.test.ts
  services/api-gateway/src/routes/ai/generate.ts
  services/api-gateway/src/routes/routeDeps.ts
  services/api-gateway/src/utils/jobChainOrchestrator.test.ts
  services/api-gateway/src/utils/jobChainOrchestrator.ts
Due: ai-worker, api-gateway, common-types, integration

feat(ai-worker): persist reference-image descriptions durably
  eslint.config.js
  packages/common-types/src/services/ConversationHistoryService.test.ts
  packages/common-types/src/services/ConversationHistoryService.ts
  packages/common-types/src/services/referenceImageDescriptions.test.ts
  packages/common-types/src/services/referenceImageDescriptions.ts
  packages/common-types/src/types/schemas/message.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/DependencyStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/DependencyStep.ts
  services/ai-worker/src/services/context/visionDescriptionWriter.test.ts
  services/ai-worker/src/services/context/visionDescriptionWriter.ts
Due: ai-worker, common-types, integration

docs(backlog): defer partial-map fragility in writeReferenceImageDescriptions
  backlog/deferred.md
Due: none

docs(backlog): file dead-URL image retry-storm (beta.133 dev finding)
  backlog/inbox.md
Due: none

fix(common-types): preserve attachment markers in deduped reference stubs
  packages/common-types/src/utils/referenceEnrichment.test.ts
  packages/common-types/src/utils/referenceEnrichment.ts
  services/ai-worker/src/services/context/referenceEnricher.test.ts
Due: common-types, integration

debug: remove beta.133 context-assembly probes
  packages/common-types/src/utils/historyMerger.test.ts
  packages/common-types/src/utils/historyMerger.ts
  services/ai-worker/src/services/ModelFactory.test.ts
  services/ai-worker/src/services/ModelFactory.ts
  services/ai-worker/src/services/multimodal/VisionProcessor.test.ts
  services/ai-worker/src/services/multimodal/VisionProcessor.ts
  services/bot-client/src/services/ConversationPersistence.ts
Due: ai-worker, bot-client, common-types, integration

docs(backlog): file beta.133 close-out follow-ups
  backlog/deferred.md
  backlog/inbox.md
  backlog/quick-wins.md
Due: none

chore: bump version to 3.0.0-beta.133
  package.json
  packages/clients/package.json
  packages/common-types/package.json
  packages/embeddings/package.json
  packages/test-factories/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  tests/package.json
Due: ai-worker, api-gateway, bot-client, common-types, integration

docs(backlog): defer relay-echo personaId precision (PR #1236 review obs 2)
  backlog/deferred.md
Due: none

fix(ai-worker): derive vision provider from resolved model (cross-provider misroute)
  services/ai-worker/src/services/multimodal/VisionProcessor.test.ts
  services/ai-worker/src/services/multimodal/VisionProcessor.ts
Due: ai-worker, integration

feat(bot-client): surface forwarded-message origin channel in context
  services/bot-client/src/handlers/references/SnapshotFormatter.test.ts
  services/bot-client/src/handlers/references/SnapshotFormatter.ts
Due: bot-client, integration

test(repo): lint test files — ban real-timer delays, recognize assert helpers
  backlog/inbox.md
  eslint.config.js
  package.json
  packages/clients/src/routes/types.test.ts
  packages/common-types/src/schemas/api/internal.test.ts
  packages/common-types/src/services/UserService.test.ts
  packages/tooling/src/codegen/routes.test.ts
  pnpm-lock.yaml
  services/ai-worker/src/jobs/handlers/pipeline/steps/generationStepValidation.test.ts
  services/ai-worker/src/services/AttachmentProcessor.test.ts
  services/ai-worker/src/services/DiagnosticCollector.test.ts
  services/ai-worker/src/services/LLMInvoker.test.ts
  services/ai-worker/src/services/RAGUtils.test.ts
  services/ai-worker/src/services/ReferencedMessageFormatter.test.ts
  services/ai-worker/src/services/StopSequenceTracker.test.ts
  services/ai-worker/src/services/UserReferenceResolver.test.ts
  services/ai-worker/src/services/voice/providers/ElevenLabsTtsProvider.test.ts
  services/ai-worker/src/services/voice/providers/MistralTtsProvider.test.ts
  services/ai-worker/src/services/voice/providers/SelfHostedTtsProvider.test.ts
  services/api-gateway/src/routes/admin/invalidateCache.test.ts
  services/api-gateway/src/routes/user/conversationLookup.test.ts
  services/api-gateway/src/routes/user/llm-config.int.test.ts
  services/api-gateway/src/routes/user/memoryBatch.test.ts
  services/api-gateway/src/routes/user/persona/crud.test.ts
  services/api-gateway/src/utils/zodHelpers.test.ts
  services/bot-client/src/commands/memory/index.test.ts
  services/bot-client/src/commands/settings/index.test.ts
  services/bot-client/src/services/DenylistCache.test.ts
  services/bot-client/src/services/MultiTagCoordinator.test.ts
  services/bot-client/src/services/VoiceTranscriptionService.test.ts
  services/bot-client/src/services/multiTagCoordinatorHelpers.test.ts
  services/bot-client/src/services/multiTagDeliveryFlow.test.ts
  services/bot-client/src/utils/WebhookManager.test.ts
  services/bot-client/src/utils/dashboard/ModalFactory.test.ts
  services/bot-client/src/utils/dashboard/settings/SettingsModalFactory.test.ts
  services/bot-client/src/utils/dashboard/types.test.ts
  services/bot-client/src/utils/pendingVerificationMessages.test.ts
Due: none

fix(bot-client): normalize our-authored messages in extended context (Bug A + Bug B)
  packages/common-types/src/constants/discord.ts
  packages/common-types/src/index.ts
  packages/common-types/src/services/conversationSyncDiff.ts
  packages/common-types/src/utils/discord.test.ts
  packages/common-types/src/utils/discord.ts
  services/bot-client/src/services/DiscordChannelFetcher.test.ts
  services/bot-client/src/services/DiscordChannelFetcher.ts
  services/bot-client/src/services/MessageContextBuilder.test.ts
  services/bot-client/src/services/MessageContextBuilder.ts
  services/bot-client/src/services/channelFetcher/types.ts
  services/bot-client/src/services/contextBuilder/blockDeniedChecker.test.ts
  services/bot-client/src/services/contextBuilder/blockDeniedChecker.ts
Due: bot-client, common-types, integration

docs(backlog): file 3 context-assembly bugs from beta.133 dev smoke
  backlog/production-issues.md
Due: none

feat(bot-client): convert preset/tts override list to interactive browse
  services/bot-client/command-manifest.json
  services/bot-client/src/commands/settings/index.test.ts
  services/bot-client/src/commands/settings/index.ts
  services/bot-client/src/commands/settings/preset/browse.test.ts
  services/bot-client/src/commands/settings/preset/browse.ts
  services/bot-client/src/commands/settings/preset/guestModeValidation.ts
  services/bot-client/src/commands/settings/preset/handlers.test.ts
  services/bot-client/src/commands/settings/preset/list.test.ts
  services/bot-client/src/commands/settings/preset/list.ts
  services/bot-client/src/commands/voice/index.test.ts
  services/bot-client/src/commands/voice/index.ts
  services/bot-client/src/commands/voice/tts/browse.test.ts
  services/bot-client/src/commands/voice/tts/browse.ts
  services/bot-client/src/commands/voice/tts/list.test.ts
  services/bot-client/src/commands/voice/tts/list.ts
  services/bot-client/src/commands/voice/tts/subcommandBuilder.test.ts
  services/bot-client/src/commands/voice/tts/subcommandBuilder.ts
  services/bot-client/src/handlers/__snapshots__/CommandHandler.int.test.ts.snap
  services/bot-client/src/utils/overrideBrowse.test.ts
  services/bot-client/src/utils/overrideBrowse.ts
Due: bot-client, integration

test(bot-client): cover /help subcommand-group, overflow, and no-params branches
  services/bot-client/src/commands/help/index.test.ts
Due: none

docs: track #1225 (test-lint enablement + conversation-history ordering fix) in unreleased
  CURRENT.md
Due: none

docs(backlog): close out #1230 (/character chat split)
  CURRENT.md
  backlog/inbox.md
Due: none

fix(bot-client): crawl Discord links inside forwarded message snapshots
  services/bot-client/src/handlers/references/strategies/LinkReferenceStrategy.test.ts
  services/bot-client/src/handlers/references/strategies/LinkReferenceStrategy.ts
  services/bot-client/src/utils/forwardedMessageUtils.ts
Due: bot-client, integration

docs(backlog): icebox — structural guard for eslint block-ordering contract (PR #1226 review)
  backlog/icebox.md
Due: none

docs(backlog): refresh stale freshness markers (beta.132, swept quick-wins)
  BACKLOG.md
  backlog/current-focus.md
Due: none

Path conditions:
  ai-worker: any of: services/ai-worker/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  api-gateway: any of: services/api-gateway/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  bot-client: any of: services/bot-client/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  common-types: any of: packages/common-types/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  integration: any of: services/, packages/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
