Repository lbds137/tzurot: changes, and which Codecov flags are due for each by the changed paths.
All: ai-worker, api-gateway, bot-client, common-types, integration

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 2%
        informational: false
    patch:
      default:
        target: 80%
        threshold: 5%
        informational: false

comment:
  layout: 'reach,diff,flags,tree,files'
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flag_management:
  default_rules:
    carryforward: true

flags:
  ai-worker:
    paths:
      - services/ai-worker/
  api-gateway:
    paths:
      - services/api-gateway/
  bot-client:
    paths:
      - services/bot-client/
  common-types:
    paths:
      - packages/common-types/
  # Integration tests cover all services
  integration:
    paths:
      - services/
      - packages/

ignore:
  - '**/*.test.ts'
  - '**/*.spec.ts'
  - '**/dist/**'
  - '**/node_modules/**'
  - 'scripts/**'
  - 'tzurot-legacy/**'

test(common-types): pin override-key presence on copy-loop source types
  packages/common-types/src/schemas/llmAdvancedParams.test.ts
Due: none

perf(config-resolver): negative-cache the LLM admin-default misses (task-37)
  packages/config-resolver/src/LlmConfigResolver.test.ts
Due: none

refactor(api-gateway): shared override-summary builder + concurrent enrich (task-42)
  services/api-gateway/src/routes/user/model-override.ts
  services/api-gateway/src/routes/user/modelOverrideShared.test.ts
  services/api-gateway/src/routes/user/modelOverrideShared.ts
Due: api-gateway, integration

docs(backlog): archive task-28 (premise gone), re-ground task-188
  tracker/archive/tasks/task-28 - LlmConfigServicets-sits-at-the-max-lines-ceiling.md
  tracker/tasks/task-188 - Wire-the-two-write-only-default-pointers-into-the-resolver-cascade.md
Due: none

refactor(common-types): one shared LLM override-key copy loop (task-12)
  packages/common-types/src/schemas/llmAdvancedParams.test.ts
  packages/common-types/src/schemas/llmAdvancedParams.ts
  packages/config-resolver/src/LlmConfigResolver.ts
  services/ai-worker/src/services/quotaFallback.ts
  services/api-gateway/src/utils/stampResolvedConfig.ts
Due: ai-worker, api-gateway, common-types, integration

docs(backlog): close the config drain batch (#1863) — three tasks done
  CURRENT.md
  tracker/docs/doc-7 - Theme-Follow-Up-Pool-Drain.md
  tracker/tasks/task-12 - three-copies-of-the-apply-LLMCONFIGOVERRIDEKEYS-pattern-….md
  tracker/tasks/task-37 - Backport-a-negative-cache-to-LlmConfigResolvergetFreeDefaultConfig-for-parity-wi.md
  tracker/tasks/task-42 - handleListModelOverrides-supportsVision-enrichment-sequential-await-not-Promisea.md
Due: none

refactor(tooling): schema-audit review-round batch (tasks 114-118)
  packages/tooling/src/dev/schema-audit-reads.test.ts
  packages/tooling/src/dev/schema-audit-reads.ts
  packages/tooling/src/dev/schema-audit-report.ts
  packages/tooling/src/dev/schema-audit-suppression.test.ts
  packages/tooling/src/dev/schema-audit-suppression.ts
  packages/tooling/src/dev/schema-audit-test-helpers.test.ts
  packages/tooling/src/dev/schema-audit-test-helpers.ts
  packages/tooling/src/dev/schema-audit-writes.test.ts
  packages/tooling/src/dev/schema-audit-writes.ts
  packages/tooling/src/dev/schema-audit.test.ts
  packages/tooling/src/dev/schema-audit.ts
Due: integration

docs(backlog): close the schema-audit drain batch (#1864) — five tasks done
  CURRENT.md
  tracker/docs/doc-7 - Theme-Follow-Up-Pool-Drain.md
  tracker/tasks/task-114 - Share-a-single-ts-morph-Project-across-globSourceFiles-classifyReads-analyzeWrit.md
  tracker/tasks/task-115 - Harden-globSourceFiles-test-exclusion-against-custom-non-ts-globs.md
  tracker/tasks/task-116 - Index-classifyReads-field-lookup-by-name-eliminate-inner-scan.md
  tracker/tasks/task-117 - Index-printFindingBlock-readswrites-lookup-eliminate-linear-find.md
  tracker/tasks/task-118 - Validate-auditconfig-reviewedAt-as-ISO-date.md
Due: none

chore: bump version to 3.0.0-beta.186
  package.json
  packages/cache-invalidation/package.json
  packages/clients/package.json
  packages/common-types/package.json
  packages/config-resolver/package.json
  packages/conversation-history/package.json
  packages/embeddings/package.json
  packages/identity/package.json
  packages/test-factories/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  services/website/package.json
  tests/package.json
Due: ai-worker, api-gateway, bot-client, common-types, integration

docs: smoke item 1 PASS — reset flow runtime-confirmed in prod logs
  CURRENT.md
Due: none

fix(clients): treat a schema-less 204 as success in the transport (task-171)
  packages/clients/src/clients/transport.test.ts
  packages/clients/src/clients/transport.ts
Due: integration

debug(bot-client): remove db-sync milestone logs + DM-detection remnant
  services/bot-client/src/commands/admin/db-sync.ts
  services/bot-client/src/utils/discordContext.ts
Due: bot-client, integration

test(bot-client): pin ordering-queue drain on all-terminal adoption (task-97)
  services/bot-client/src/services/MultiTagCoordinator.test.ts
Due: none

docs: reset CURRENT.md for v3.0.0-beta.185 (unreleased cleared)
  CURRENT.md
Due: none

refactor(common-types): make fake-optional columns required (two flagged by schema-audit)
  packages/common-types/src/schemas/api/diagnostic.test.ts
  packages/common-types/src/schemas/api/diagnostic.ts
  packages/test-utils/schema/pglite-schema.sql
  prisma/migrations/20260729160733_make_diag_userid_and_download_token_required/migration.sql
  prisma/schema.prisma
  services/api-gateway/src/routes/admin/diagnostic.test.ts
  services/api-gateway/src/routes/admin/diagnostic.ts
  services/api-gateway/src/routes/user/account/export.test.ts
  services/api-gateway/src/routes/user/account/export.ts
  services/api-gateway/src/routes/user/shapes/export.test.ts
  services/api-gateway/src/routes/user/shapes/export.ts
  services/api-gateway/src/services/AccountDeletionService.component.test.ts
Due: api-gateway, common-types, integration

docs(backlog): mark TASK-295/329/339 done — shipped in #1858
  tracker/tasks/task-295 - releasepublish-immediately-after-the-release-merge-races-the-prod-deploy-window-.md
  tracker/tasks/task-329 - review-response-RIDERS-get-less-scrutiny-than-planned-work-and-it-shows-in-the-f.md
  tracker/tasks/task-339 - Bulk-migration-sweeps-keep-missing-variant-token-forms-—-extend-the-presence-then-test-rule.md
Due: none

debug(clients): remove db-sync silent-hang transport probe
  packages/clients/src/clients/transport.test.ts
  packages/clients/src/clients/transport.ts
Due: integration

fix(bot-client): short-circuit release-DM batch on bot-level failure (task-319)
  services/bot-client/src/services/releaseDm/setupReleaseDmWorker.test.ts
  services/bot-client/src/services/releaseDm/setupReleaseDmWorker.ts
Due: bot-client, integration

feat(tooling): dev:stale-debug — blame-based audit for forgotten scaffolding
  .claude/rules/05-tooling.md
  .github/workflows/weekly-audit.yml
  docs/reference/audit-enforcement.md
  packages/tooling/src/audits/audit-tool-registry.ts
  packages/tooling/src/audits/canary.test.ts
  packages/tooling/src/audits/check-claude-content-refs.test.ts
  packages/tooling/src/audits/health.ts
  packages/tooling/src/commands/dev.ts
  packages/tooling/src/dev/stale-debug-audit.WHY.md
  packages/tooling/src/dev/stale-debug-audit.test.ts
  packages/tooling/src/dev/stale-debug-audit.ts
  packages/tooling/test-fixtures/audit-canaries/dev-stale-debug/stale-probe-content.txt
Due: integration

fix(tooling): resolve QUEUE_NAME from Railway vars in queue ops (task-212)
  packages/tooling/src/commands/commands.test.ts
  packages/tooling/src/commands/inspect.ts
  packages/tooling/src/deployment/maintenance.test.ts
  packages/tooling/src/deployment/maintenance.ts
  packages/tooling/src/inspect/bullmqConnection.test.ts
  packages/tooling/src/inspect/bullmqConnection.ts
  packages/tooling/src/inspect/dlq.ts
  packages/tooling/src/inspect/queue.ts
Due: integration

docs(backlog): close out TASK-303/208; triage 72/207; log unreleased PRs
  CURRENT.md
  tracker/tasks/task-207 - Preset-model-field-autocomplete-from-OpenRouterModelCache-instead-of-freeform-te.md
  tracker/tasks/task-208 - Shapes-import-verify-multi-user-shared-memory-splitting-is-handled-by-the-pipeli.md
  tracker/tasks/task-303 - two-fake-optional-columns-the-audit-flags-as-always-passed-no-default….md
  tracker/tasks/task-72 - pnpmaction-setup-v5v6-upgrade.md
Due: none

refactor(common-types): retire the legacy job-context tolerance (task-219)
  packages/common-types/src/types/jobs.test.ts
  packages/common-types/src/types/jobs.ts
  packages/common-types/src/types/schemas/personality.ts
  packages/common-types/src/types/test/fixtures.ts
  packages/test-utils/fixtures/contracts/bullmq-job-chain/audio-and-image.json
  packages/test-utils/fixtures/contracts/bullmq-job-chain/text-only.json
  packages/test-utils/src/jobContextArbitraries.test.ts
  packages/test-utils/src/jobContextArbitraries.ts
  services/ai-worker/src/jobs/AIJobProcessor.component.test.ts
  services/ai-worker/src/jobs/AIJobProcessor.test.ts
  services/ai-worker/src/jobs/handlers/LLMGenerationHandler.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/BullMQJobChainPipeline.consumer.contract.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/AuthStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/ConfigStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/ContextStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/ContextStep.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/DependencyStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/GenerationStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/NormalizationStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/ValidationStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/conversationContextBuilder.test.ts
  services/api-gateway/src/routes/ai/generate.test.ts
  services/api-gateway/src/routes/ai/generate.ts
  services/api-gateway/src/routes/conformance/fixtures/internal.ts
  services/api-gateway/src/utils/BullMQJobChainContract.producer.test.ts
  services/api-gateway/src/utils/jobChainOrchestrator.test.ts
  services/api-gateway/src/utils/validatedQueue.test.ts
  tests/e2e/contracts/BullMQJobChain.contract.test.ts
Due: ai-worker, api-gateway, common-types, integration

docs(backlog): close task-143 (#1861), file task-354, log unreleased PRs
  CURRENT.md
  tracker/tasks/task-143 - Time-based-audit-for-stale-debug-commits-left-on-develop.md
  tracker/tasks/task-354 - dev-stale-debug-—-pin-diff-tree-against-ambient-git-config-no-renames-root.md
Due: none

docs: rider checklist, variant-token sweep rule, publish-race note
  .claude/rules/10-working-posture.md
  .claude/skills/tzurot-git-workflow/SKILL.md
  .claude/skills/tzurot-review-response/SKILL.md
Due: none

fix(common-types): bound visionTierParamsSchema numeric fields (task-10)
  packages/common-types/src/types/schemas/personality.test.ts
  packages/common-types/src/types/schemas/personality.ts
Due: common-types, integration

docs(backlog): close the jobs/queue drain batch (#1862) — six tasks done
  CURRENT.md
  tracker/docs/doc-7 - Theme-Follow-Up-Pool-Drain.md
  tracker/tasks/task-10 - visionTierParamsSchema-bounds-validation-convention-alignment-The-schema-crosses.md
  tracker/tasks/task-171 - readValidatedBody-treats-a-204-No-Content-as-a-kind-schema-failure.md
  tracker/tasks/task-212 - ops-queue-tooling-hardcodes-ai-requests-ignoring-the-QUEUENAME-env-seam.md
  tracker/tasks/task-219 - Retire-the-BullMQ-context-schemas-legacy-tolerance-once-safe.md
  tracker/tasks/task-319 - the-release-DM-send-loop-createReleaseDmProcessor-setupReleaseDmWorkerts-has-no….md
  tracker/tasks/task-97 - adoptRehydratedEntry-all-terminal-path-may-leak-ordering-service-state.md
Due: none

docs: reset CURRENT.md for v3.0.0-beta.186; close the db-sync silent-hang issue
  CURRENT.md
  backlog/now.md
Due: none

refactor(api-gateway): fast-pool type honesty + symmetric read labeling (tasks 38-40)
  packages/conversation-history/src/ConversationHistoryService.ts
  packages/conversation-history/src/ConversationMessageMapper.ts
  packages/conversation-history/src/index.ts
  packages/conversation-history/src/referenceImageDescriptions.ts
  services/api-gateway/src/index.ts
  services/api-gateway/src/routes/internal/conversationAssistantMessage.test.ts
  services/api-gateway/src/routes/internal/conversationAssistantMessage.ts
  services/api-gateway/src/routes/internal/conversationUserMessage.test.ts
  services/api-gateway/src/routes/internal/conversationUserMessage.ts
  services/api-gateway/src/routes/routeDeps.ts
  services/api-gateway/src/utils/dbTimeout.test.ts
  services/api-gateway/src/utils/dbTimeout.ts
Due: api-gateway, integration

docs(common-types): pooler-strips-options boot-fail caveat (task-175)
  docs/reference/deployment/RAILWAY_OPERATIONS.md
  packages/common-types/src/services/poolConfig.ts
Due: common-types, integration
