Repository lbds137/tzurot: changes, and which Codecov flags are due for each by the changed paths.
All: ai-worker, api-gateway, bot-client, common-types, integration

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 2%
        informational: false
    patch:
      default:
        target: 80%
        threshold: 5%
        informational: false

comment:
  layout: 'reach,diff,flags,tree,files'
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flag_management:
  default_rules:
    carryforward: true

flags:
  ai-worker:
    paths:
      - services/ai-worker/
  api-gateway:
    paths:
      - services/api-gateway/
  bot-client:
    paths:
      - services/bot-client/
  common-types:
    paths:
      - packages/common-types/
  # Integration tests cover all services
  integration:
    paths:
      - services/
      - packages/

ignore:
  - '**/*.test.ts'
  - '**/*.spec.ts'
  - '**/dist/**'
  - '**/node_modules/**'
  - 'scripts/**'
  - 'tzurot-legacy/**'

docs: realMessages prod cache reuse verified — ratio 0.57 on turn 2
  CURRENT.md
Due: none

docs: resume pointer — beta.207 backlog survey next
  CURRENT.md
Due: none

docs(backlog): close TASK-708 on its smoke evidence + true up the drain list
  CURRENT.md
  tracker/tasks/task-708 - Forwarded-content-of-our-own-messages-keeps-the-model-footer-in-the-prompt.md
Due: none

docs(backlog): beta.207 scope settled — draft + all four survey additions
  backlog/now.md
  tracker/docs/doc-82 - Idea-Slash-chat-turns-mirror-raw-tagging-in-activated-channels.md
Due: none

docs(backlog): task-685 prod re-measure done — S1 cut eliminated, 651+685 closed
  backlog/now.md
  tracker/tasks/task-651 - S1-participants-churn-is-now-the-dominant-prompt-cache-miss-ahead-of-chat_log.md
  tracker/tasks/task-685 - Re-measure-S1-prefix-divergence-after-the-guild-info-persistence-deploy.md
Due: none

docs(backlog): file task-743 — gateway PersonaResolver has no invalidation subscription
  tracker/tasks/task-743 - Gateway-PersonaResolver-instances-never-hear-persona-invalidation-no-subscription-exists.md
Due: none

docs(backlog): file task-744 — consolidate fail-open broadcast helpers
  tracker/tasks/task-744 - Consolidate-the-route-local-fail-open-invalidation-broadcast-helpers-into-one-shared-helper.md
Due: none

docs(backlog): task-744 members — the broadcast shape count grew in review
  tracker/tasks/task-744 - Consolidate-the-route-local-fail-open-invalidation-broadcast-helpers-into-one-shared-helper.md
Due: none

fix(api-gateway): writer-owns-invalidation hygiene batch (TASK-740/741/742)
  packages/cache-invalidation/src/ChannelActivationCacheInvalidationService.ts
  packages/cache-invalidation/src/PersonaCacheInvalidationService.ts
  packages/identity/src/index.ts
  packages/identity/src/resolvers/PersonaResolver.test.ts
  packages/identity/src/resolvers/PersonaResolver.ts
  packages/identity/src/resolvers/index.ts
  services/ai-worker/src/cacheInvalidation.test.ts
  services/ai-worker/src/cacheInvalidation.ts
  services/ai-worker/src/jobs/handlers/pipeline/contextStepFactory.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/contextStepFactory.ts
  services/ai-worker/src/services/MemoryRetriever.test.ts
  services/ai-worker/src/services/MemoryRetriever.ts
  services/api-gateway/src/bootstrap/invalidationServices.test.ts
  services/api-gateway/src/bootstrap/invalidationServices.ts
  services/api-gateway/src/index.ts
  services/api-gateway/src/routes/admin/dbSync.test.ts
  services/api-gateway/src/routes/admin/dbSync.ts
  services/api-gateway/src/routes/routeDeps.ts
  services/api-gateway/src/routes/user/account/delete.test.ts
  services/api-gateway/src/routes/user/channel/activate.test.ts
  services/api-gateway/src/routes/user/channel/activate.ts
  services/api-gateway/src/routes/user/channel/deactivate.test.ts
  services/api-gateway/src/routes/user/channel/deactivate.ts
  services/api-gateway/src/routes/user/persona/crud.test.ts
  services/api-gateway/src/routes/user/persona/crud.ts
  services/api-gateway/src/routes/user/persona/default.test.ts
  services/api-gateway/src/routes/user/persona/default.ts
  services/api-gateway/src/routes/user/persona/override.test.ts
  services/api-gateway/src/routes/user/persona/override.ts
  services/api-gateway/src/services/AccountEraserService.test.ts
  services/api-gateway/src/services/AccountEraserService.ts
  services/bot-client/src/commands/channel/activate.test.ts
  services/bot-client/src/commands/channel/activate.ts
  services/bot-client/src/commands/channel/deactivate.test.ts
  services/bot-client/src/commands/channel/deactivate.ts
  services/bot-client/src/index.ts
  services/bot-client/src/services/serviceRegistry.test.ts
  services/bot-client/src/services/serviceRegistry.ts
Due: ai-worker, api-gateway, bot-client, integration

docs(backlog): file task-745 — flag-on channel confusion, payload-verified
  tracker/tasks/task-745 - Flag-on-real-messages-current-channel-signal-loses-to-nine-wrong-channel-location-blocks-and-present-tense-memory-location-claims.md
Due: none

docs(backlog): hygiene batch shipped #2192 — 740/741/742 Done, plan updated
  backlog/now.md
  tracker/tasks/task-740 - Persona-cache-invalidation-channel-has-no-publisher-and-fragmented-resolver-instances.md
  tracker/tasks/task-741 - Channel-activation-invalidation-is-published-by-the-caller-not-the-writer.md
  tracker/tasks/task-742 - Admin-db-sync-bulk-writes-users.default_persona_id-with-no-cache-invalidation.md
Due: none

docs(backlog): task-745 confirmed into beta.207 — all three fix shapes
  backlog/now.md
Due: none

docs(backlog): task-745 class sweep — one scope note, rest clean
  tracker/tasks/task-745 - Flag-on-real-messages-current-channel-signal-loses-to-nine-wrong-channel-location-blocks-and-present-tense-memory-location-claims.md
Due: none

docs(backlog): file task-746 — third git-commit-detection copy needs the agreement guard
  tracker/tasks/task-746 - Fold-board-commit-branch-gate-git-commit-detection-into-the-pattern-agreement-guard.md
Due: none

chore(repo): operationalize the 2026-08-23 mining + retrospective findings
  .claude/hooks/board-commit-branch-gate.probe.sh
  .claude/hooks/board-commit-branch-gate.sh
  .claude/hooks/pr-merge-review-check.sh
  .claude/hooks/tracker-dirty-push-gate.sh
  .claude/rules/02-code-standards.md
  .claude/rules/03-database.md
  .claude/rules/10-working-posture.md
  .claude/settings.json
  .claude/skills/tzurot-orchestration/SKILL.md
  .claude/skills/tzurot-review-response/SKILL.md
  .claude/skills/tzurot-testing/SKILL.md
  docs/reference/STATIC_ANALYSIS.md
  packages/tooling/src/dev/check-hook-probes-registry.ts
Due: integration

docs(backlog): file task-747 — vision tier-3 TypeError + content-refusal misclassification
  tracker/tasks/task-747 - Vision-fallback-tier-3-crashes-on-a-TypeError-and-content-filter-refusals-are-treated-as-transient.md
Due: none

docs(backlog): task-746 members — the #2193 round-7 residuals fold in
  tracker/tasks/task-746 - Fold-board-commit-branch-gate-git-commit-detection-into-the-pattern-agreement-guard.md
Due: none

docs: session close-out — #2192+#2193 shipped, beta.207 build queue staged
  CURRENT.md
  backlog/now.md
  tracker/tasks/task-732 - Orchestration-retrospective-at-the-beta.206-cut-mine-dispatch-report-pairs-subagent-transcripts.md
Due: none

docs: record the Qwen vision refusal sweep answer
  CURRENT.md
Due: none

docs(backlog): task-747 log-sweep addendum — refusals must advance, crash class pinned
  tracker/tasks/task-747 - Vision-fallback-tier-3-crashes-on-a-TypeError-and-content-filter-refusals-are-treated-as-transient.md
Due: none

docs(backlog): file TASK-748 — key-aware vision fallback tier order
  tracker/tasks/task-748 - Vision-fallback-order-free-route-tiers-should-sink-below-paid-tiers-for-BYOK-users.md
Due: none

docs(backlog): task-748 confirmed into beta.207
  backlog/now.md
Due: none

fix(ai-worker): anchor the model to the current channel under real-messages mode
  packages/common-types/src/utils/environmentFormatter.test.ts
  packages/common-types/src/utils/environmentFormatter.ts
  packages/tooling/src/dev/check-prompt-tags.ts
  services/ai-worker/src/jobs/utils/conversationUtils.test.ts
  services/ai-worker/src/jobs/utils/conversationUtils.ts
  services/ai-worker/src/services/PromptBuilder.test.ts
  services/ai-worker/src/services/PromptBuilder.ts
  services/ai-worker/src/services/__snapshots__/PromptBuilder.test.ts.snap
  services/ai-worker/src/services/context/ContextWindowManager.test.ts
  services/ai-worker/src/services/context/CrossChannelSerializer.test.ts
  services/ai-worker/src/services/context/CrossChannelSerializer.ts
  services/ai-worker/src/services/prompt/EnvironmentFormatter.test.ts
  services/ai-worker/src/services/prompt/EnvironmentFormatter.ts
  services/ai-worker/src/services/prompt/MemoryFormatter.test.ts
  services/ai-worker/src/services/prompt/MemoryFormatter.ts
Due: ai-worker, common-types, integration

docs(backlog): task-745 done (#2194 merged); file task-749 adapter consolidation
  tracker/tasks/task-745 - Flag-on-real-messages-current-channel-signal-loses-to-nine-wrong-channel-location-blocks-and-present-tense-memory-location-claims.md
  tracker/tasks/task-749 - Consolidate-the-invoke-to-generate-test-mock-adapter-into-a-shared-test-helper.md
Due: none

fix(ai-worker): classify provider content refusals and guard zero-choices model responses
  packages/common-types/src/constants/error.test.ts
  packages/common-types/src/constants/error.ts
  services/ai-worker/src/services/LLMInvoker.test.ts
  services/ai-worker/src/services/LLMInvoker.ts
  services/ai-worker/src/services/MultimodalProcessor.test.ts
  services/ai-worker/src/services/multimodal/VisionProcessor.test.ts
  services/ai-worker/src/services/multimodal/VisionProcessor.ts
  services/ai-worker/src/services/multimodal/describeImageWithFallback.integration.test.ts
  services/ai-worker/src/services/multimodal/visionFallbackChain.test.ts
  services/ai-worker/src/services/quotaFallback.ts
  services/ai-worker/src/services/systemModel/systemModelCall.test.ts
  services/ai-worker/src/services/systemModel/systemModelCall.ts
  services/ai-worker/src/utils/apiErrorParser.test.ts
  services/ai-worker/src/utils/apiErrorParser.ts
  services/ai-worker/src/utils/errorHandling.ts
  services/ai-worker/src/utils/invokeModelGuarded.test.ts
  services/ai-worker/src/utils/invokeModelGuarded.ts
  services/ai-worker/src/utils/retry.ts
Due: ai-worker, common-types, integration

docs(backlog): task-747 done (#2195 merged) — both prod-bug units shipped
  backlog/now.md
  tracker/tasks/task-747 - Vision-fallback-tier-3-crashes-on-a-TypeError-and-content-filter-refusals-are-treated-as-transient.md
Due: none

docs: resume pointer — 745+747 shipped, task-748 next
  CURRENT.md
Due: none

feat(ai-worker): sink free-route vision fallbacks below paid tiers for BYOK users
  services/ai-worker/src/services/multimodal/describeImageWithFallback.test.ts
  services/ai-worker/src/services/multimodal/describeImageWithFallback.ts
  services/ai-worker/src/services/multimodal/visionFallbackChain.test.ts
Due: ai-worker, integration

docs(backlog): task-748 shipped (#2196) — resume pointer to the remaining beta.207 train
  CURRENT.md
  backlog/now.md
  tracker/tasks/task-748 - Vision-fallback-order-free-route-tiers-should-sink-below-paid-tiers-for-BYOK-users.md
Due: none

docs(backlog): file task-750 — add xhigh thinking level (z.ai effort-probe outcome)
  tracker/tasks/task-750 - Widen-ThinkingLevel-to-the-z.ai-seven-level-effort-vocabulary.md
Due: none

docs(backlog): task-750 confirmed into the beta.207 train (owner, 2026-08-23)
  CURRENT.md
  backlog/now.md
Due: none

feat(bot-client): neutralize fence breaks in the reasoning text view
  services/bot-client/src/commands/inspect/views.test.ts
  services/bot-client/src/commands/inspect/views.ts
Due: bot-client, integration

feat(common-types): add the xhigh thinking level
  docs/reference/REASONING_MODEL_FORMATS.md
  packages/common-types/src/constants/ai.ts
  packages/common-types/src/schemas/api/llm-config.test.ts
  packages/common-types/src/schemas/llmAdvancedParams.test.ts
  packages/common-types/src/schemas/llmAdvancedParams.ts
  services/ai-worker/src/services/ModelFactory.test.ts
  services/ai-worker/src/services/modelFactory/thinkingTranslation.test.ts
  services/api-gateway/src/utils/thinkingValidation.test.ts
  services/bot-client/src/commands/preset/config.test.ts
  services/bot-client/src/commands/preset/import.test.ts
  services/bot-client/src/commands/preset/presetSections.ts
  services/bot-client/src/commands/preset/presetValidation.ts
Due: bot-client, common-types, integration
