Repository lbds137/tzurot: changes, and which Codecov flags are due for each by the changed paths.
All: ai-worker, api-gateway, bot-client, common-types, integration

feat(ai-worker): extraction cost knobs + usage visibility
  .env.example
  packages/common-types/src/config/config.ts
  services/ai-worker/src/jobs/factExtractionSetup.ts
  services/ai-worker/src/services/ModelFactory.test.ts
  services/ai-worker/src/services/ModelFactory.ts
  services/ai-worker/src/services/eval/memoryExtraction.eval.test.ts
  services/ai-worker/src/services/extraction/ExtractionBudget.test.ts
  services/ai-worker/src/services/extraction/ExtractionBudget.ts
  services/ai-worker/src/services/extraction/FactExtractionService.component.test.ts
  services/ai-worker/src/services/extraction/FactExtractionService.test.ts
  services/ai-worker/src/services/extraction/FactExtractionService.ts
  services/ai-worker/src/services/modelFactory/types.ts
Due: ai-worker, common-types, integration

docs(repo): current.md — beta.155 shipped, trim stale boulder-wall + duplicate goal
  CURRENT.md
Due: none

docs(backlog): file release:* wiring-test + ops-cli-ref follow-ups (PR #1563 review)
  backlog/cold/follow-ups.md
Due: none

feat(ai-worker): retrieve extracted facts into the prompt (memory phase 2, slice 4a)
  packages/common-types/src/config/config.ts
  packages/common-types/src/utils/promptSanitizer.ts
  services/ai-worker/src/services/ContentBudgetManager.test.ts
  services/ai-worker/src/services/ContentBudgetManager.ts
  services/ai-worker/src/services/ConversationalRAGService.test.ts
  services/ai-worker/src/services/ConversationalRAGService.ts
  services/ai-worker/src/services/ConversationalRAGTypes.ts
  services/ai-worker/src/services/FactRetriever.test.ts
  services/ai-worker/src/services/FactRetriever.ts
  services/ai-worker/src/services/MemoryRetriever.test.ts
  services/ai-worker/src/services/MemoryRetriever.ts
  services/ai-worker/src/services/PgvectorMemoryAdapter.ts
  services/ai-worker/src/services/PromptBuilder.test.ts
  services/ai-worker/src/services/PromptBuilder.ts
  services/ai-worker/src/services/diagnostics/DiagnosticRecorders.test.ts
  services/ai-worker/src/services/extraction/FactStore.ts
  services/ai-worker/src/services/factRetrievalHelper.test.ts
  services/ai-worker/src/services/factRetrievalHelper.ts
  services/ai-worker/src/services/prompt/MemoryFormatter.test.ts
  services/ai-worker/src/services/prompt/MemoryFormatter.ts
Due: ai-worker, common-types, integration

docs: correction backend merged (#1567); extraction-cost quick win; shapes.inc research
  backlog/cold/epic-log.md
  backlog/now.md
  docs/research/shapes-inc-2026-state.md
Due: none

docs(backlog): prod issue — credit-exhaustion cache blocks fallback + top-ups
  backlog/now.md
Due: none

feat(tooling): release:publish — version-type-aware tag + GitHub Release
  .claude/skills/tzurot-git-workflow/SKILL.md
  backlog/cold/follow-ups.md
  packages/tooling/src/audits/check-claude-content-refs.test.ts
  packages/tooling/src/commands/release.ts
  packages/tooling/src/release/publish.test.ts
  packages/tooling/src/release/publish.ts
Due: integration

docs(backlog): track PR #1564 round-4 nits (N-comment + redundant resolveSystemKey)
  backlog/cold/follow-ups.md
Due: none

fix(ai-worker): quota-fallback cache identity follows key provenance, not presence
  services/ai-worker/src/services/ConversationalRAGService.test.ts
  services/ai-worker/src/services/ConversationalRAGService.ts
  services/ai-worker/src/services/ConversationalRAGTypes.ts
  services/ai-worker/src/services/CreditExhaustionCache.test.ts
  services/ai-worker/src/services/CreditExhaustionCache.ts
  services/ai-worker/src/services/RateLimitCache.test.ts
  services/ai-worker/src/services/RateLimitCache.ts
Due: ai-worker, integration

feat(api-gateway): memory-fact correction backend
  backlog/cold/follow-ups.md
  backlog/cold/ideas.md
  packages/clients/src/clients/_generated/user-client.ts
  packages/clients/src/routes/user/facts.test.ts
  packages/clients/src/routes/user/facts.ts
  packages/clients/src/routes/user/index.test.ts
  packages/clients/src/routes/user/index.ts
  packages/common-types/src/schemas/api/fact.test.ts
  packages/common-types/src/schemas/api/fact.ts
  packages/common-types/src/schemas/api/index.ts
  packages/tooling/coverage-topology.json
  packages/tooling/src/codegen/handler-paths.ts
  prisma/schema.prisma
  services/ai-worker/src/services/FactRetriever.test.ts
  services/ai-worker/src/services/eval/memoryExtraction.eval.test.ts
  services/ai-worker/src/services/extraction/FactExtractionService.test.ts
  services/ai-worker/src/services/extraction/FactExtractionService.ts
  services/ai-worker/src/services/extraction/FactStore.component.test.ts
  services/ai-worker/src/services/extraction/FactStore.test.ts
  services/ai-worker/src/services/extraction/FactStore.ts
  services/ai-worker/src/services/extraction/extractionPrompt.test.ts
  services/ai-worker/src/services/factRetrievalHelper.test.ts
  services/api-gateway/src/routes/_generated/mounts.ts
  services/api-gateway/src/routes/conformance/fixtures/registry.ts
  services/api-gateway/src/routes/conformance/fixtures/userFacts.ts
  services/api-gateway/src/routes/user/memoryFacts.component.test.ts
  services/api-gateway/src/routes/user/memoryFacts.test.ts
  services/api-gateway/src/routes/user/memoryFacts.ts
  services/api-gateway/src/services/sync/config/syncTables.ts
Due: ai-worker, api-gateway, common-types, integration

feat(ai-worker): fair-share quota for the shared free OpenRouter key
  backlog/cold/follow-ups.md
  packages/common-types/src/config/config.ts
  packages/common-types/src/constants/error.ts
  packages/common-types/src/constants/redis-keys.ts
  services/ai-worker/src/jobs/AIJobProcessor.component.test.ts
  services/ai-worker/src/jobs/handlers/LLMGenerationHandler.test.ts
  services/ai-worker/src/jobs/handlers/LLMGenerationHandler.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/GenerationStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/GenerationStep.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/generationStepValidation.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/generationStepValidation.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/quotaFallbackRunner.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/quotaFallbackRunner.ts
  services/ai-worker/src/redis.ts
  services/ai-worker/src/services/FreeTierRequestQuota.test.ts
  services/ai-worker/src/services/FreeTierRequestQuota.ts
  services/ai-worker/src/utils/apiErrorParser.test.ts
  services/ai-worker/src/utils/apiErrorParser.ts
Due: ai-worker, common-types, integration

feat(bot-client): /memory facts browse + correct/forget/lock UI
  docs/commands.md
  packages/common-types/src/generated/commandOptions.ts
  services/bot-client/command-manifest.json
  services/bot-client/src/commands/memory/factsApi.test.ts
  services/bot-client/src/commands/memory/factsApi.ts
  services/bot-client/src/commands/memory/factsBrowse.test.ts
  services/bot-client/src/commands/memory/factsBrowse.ts
  services/bot-client/src/commands/memory/factsDetail.test.ts
  services/bot-client/src/commands/memory/factsDetail.ts
  services/bot-client/src/commands/memory/index.ts
  services/bot-client/src/commands/memory/interactionHandlers.test.ts
  services/bot-client/src/commands/memory/interactionHandlers.ts
  services/bot-client/src/handlers/__snapshots__/CommandHandler.component.test.ts.snap
Due: bot-client, common-types, integration

docs(backlog): cost knobs shipped (#1569); z.ai eval follow-up carries review scope
  backlog/cold/epic-log.md
  backlog/now.md
Due: none

docs(backlog): memory phase 2 sliced into arc; slice 4a in review (#1565)
  backlog/active-epic.md
  backlog/cold/epic-log.md
Due: none

docs(backlog): track PR #1565 nit — memory-retrieval diagnostic absorbs fact latency
  backlog/cold/follow-ups.md
Due: none

docs(backlog): correction slice complete (#1567 + #1568); router-pattern follow-up
  backlog/active-epic.md
  backlog/cold/epic-log.md
  backlog/cold/follow-ups.md
Due: none

docs(backlog): quality slice merged (#1566); gate-bar → owner; double-embed follow-up
  backlog/active-epic.md
  backlog/cold/epic-log.md
  backlog/cold/follow-ups.md
Due: none

docs(backlog): slice 4a merged (#1565); quality-slice ride-alongs from review
  backlog/active-epic.md
  backlog/cold/epic-log.md
Due: none

docs: beta.156 shipped; release-skill fetch-tags follow-up
  CURRENT.md
  backlog/cold/follow-ups.md
Due: none

docs(backlog): extraction engine sweep done, GLM-5.2 selected, dev burn-in live
  backlog/now.md
Due: none

docs(backlog): fact backfill design item (owner supersedes no-backfill posture)
  backlog/cold/ideas.md
Due: none

docs(backlog): owner gates — backfill behind z.ai key; extraction delays not downgrades
  backlog/cold/ideas.md
  backlog/now.md
Due: none

feat(ai-worker): extraction rides the z.ai system key with delay-not-downgrade
  .env.example
  packages/common-types/src/config/config.test.ts
  packages/common-types/src/config/config.ts
  services/ai-worker/src/jobs/factExtractionSetup.test.ts
  services/ai-worker/src/jobs/factExtractionSetup.ts
  services/ai-worker/src/services/extraction/ExtractionBudget.test.ts
  services/ai-worker/src/services/extraction/ExtractionBudget.ts
  services/ai-worker/src/services/extraction/FactExtractionService.component.test.ts
  services/ai-worker/src/services/extraction/FactExtractionService.provider.test.ts
  services/ai-worker/src/services/extraction/FactExtractionService.test.ts
  services/ai-worker/src/services/extraction/FactExtractionService.ts
Due: ai-worker, common-types, integration

docs(backlog): sweep trackers for shipped #1572 + distill z.ai quota research
  CURRENT.md
  backlog/now.md
  docs/proposals/backlog/free-tier-zai-piggyback.md
Due: none

docs(backlog): z.ai confirmation eval results + ops run enhancement filed
  backlog/cold/follow-ups.md
  backlog/cold/ideas.md
Due: none

docs(backlog): file db-sync tombstones design + output-UX win; extraction live on plan
  backlog/cold/ideas.md
  backlog/now.md
Due: none

feat(api-gateway): sync memory_facts — deferred self-FK + generalized vector tables
  packages/test-utils/schema/pglite-schema.sql
  prisma/drift-ignore.json
  prisma/migrations/20260710183055_make_memory_facts_supersession_fk_deferrable/migration.sql
  services/ai-worker/src/services/eval/extraction-goldens.json
  services/api-gateway/src/services/DatabaseSyncService.component.test.ts
  services/api-gateway/src/services/DatabaseSyncService.test.ts
  services/api-gateway/src/services/DatabaseSyncService.ts
  services/api-gateway/src/services/sync/SyncUpsertBuilder.test.ts
  services/api-gateway/src/services/sync/SyncUpsertBuilder.ts
  services/api-gateway/src/services/sync/config/syncTables.ts
  services/api-gateway/src/services/sync/utils/syncValidation.component.test.ts
  services/api-gateway/src/services/sync/utils/syncValidation.ts
Due: ai-worker, api-gateway, integration

docs(backlog): strike the memory_facts db-sync follow-up (shipped in this PR)
  backlog/cold/follow-ups.md
Due: none

docs(repo): beta.157 chain — steps 1-2 done (#1572 live on dev, #1573 merged)
  CURRENT.md
Due: none

docs(backlog): file BYOK-first extraction billing + admin-settings runtime config
  backlog/cold/ideas.md
Due: none

docs(backlog): capture owner soapbox — failure taxonomy, docs/discoverability theme
  backlog/cold/follow-ups.md
  backlog/cold/ideas.md
  backlog/cold/queue.md
  backlog/cold/themes/first-use-onboarding-dm.md
  backlog/cold/themes/user-docs-and-discoverability.md
  backlog/cold/themes/user-feedback-solicitation-revive-v2-release-notes-delivery.md
Due: none

feat(tooling): memory:backfill-facts — fact extraction over historical memories
  docs/reference/tooling/OPS_CLI_REFERENCE.md
  packages/common-types/src/types/jobs.test.ts
  packages/common-types/src/types/jobs.ts
  packages/tooling/src/commands/memory.ts
  packages/tooling/src/memory/backfill-facts.test.ts
  packages/tooling/src/memory/backfill-facts.ts
  services/ai-worker/src/services/extraction/FactExtractionService.test.ts
  services/ai-worker/src/services/extraction/FactExtractionService.ts
Due: ai-worker, common-types, integration

docs(backlog): backfill command shipped (#1574) — entry tracks the run now
  backlog/cold/ideas.md
Due: none

docs(repo): beta.157 step 3 shipped — full dev backfill run in flight
  CURRENT.md
Due: none

docs(backlog): file stale shadow-mode boot-log wording
  backlog/cold/follow-ups.md
Due: none

docs(rules): operationalize 2026-07-10 review-cycle lessons per structural directive
  .claude/rules/02-code-standards.md
  .claude/rules/04-discord.md
  .claude/rules/10-working-posture.md
  backlog/cold/follow-ups.md
Due: none

Path conditions:
  ai-worker: any of: services/ai-worker/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  api-gateway: any of: services/api-gateway/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  bot-client: any of: services/bot-client/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  common-types: any of: packages/common-types/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  integration: any of: services/, packages/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
