Repository lbds137/tzurot: changes, and which Codecov flags are due for each by the changed paths.
All: ai-worker, api-gateway, bot-client, common-types, integration

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 2%
        informational: false
    patch:
      default:
        target: 80%
        threshold: 5%
        informational: false

comment:
  layout: 'reach,diff,flags,tree,files'
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flag_management:
  default_rules:
    carryforward: true

flags:
  ai-worker:
    paths:
      - services/ai-worker/
  api-gateway:
    paths:
      - services/api-gateway/
  bot-client:
    paths:
      - services/bot-client/
  common-types:
    paths:
      - packages/common-types/
  # Integration tests cover all services
  integration:
    paths:
      - services/
      - packages/

ignore:
  - '**/*.test.ts'
  - '**/*.spec.ts'
  - '**/dist/**'
  - '**/node_modules/**'
  - 'scripts/**'
  - 'tzurot-legacy/**'

docs(rules): pr monitoring names both head-drift causes and the gate refusal
  .claude/hooks/pr-monitor-reminder.sh
  .claude/rules/05-tooling.md
  .github/baselines/lines-baseline.json
  packages/tooling/src/gh/ci-gate.ts
Due: integration

docs(backlog): close TASK-859 (shipped #2301), record the doc-86 research pass
  CURRENT.md
  backlog/now.md
  tracker/tasks/task-859 - 05-tooling-PR-Monitoring-prose-is-stale-since-ci-gate-rejects-a-non-head-sha-add-the-cwd-worktree-cause.md
Due: none

docs(backlog): record the two item-4 shapes (owner digest convention, creation-time claim scan)
  backlog/now.md
Due: none

docs(docs): readme copy sweep — node line, missing commands, planned section; file TASK-868
  README.md
  tracker/tasks/task-868 - README-drift-guard-mechanically-derivable-README-claims-gated-and-a-release-cut-README-step.md
Due: none

docs(backlog): slate TASK-868 as beta.214 item 9
  backlog/now.md
Due: none

docs(backlog): task-868 command check is strict, no allowlist (owner call)
  tracker/tasks/task-868 - README-drift-guard-mechanically-derivable-README-claims-gated-and-a-release-cut-README-step.md
Due: none

feat(tooling): owner-decision queue — filing convention, lint gate, digest section, backfill
  .claude/rules/05-tooling.md
  .claude/rules/06-backlog.md
  .github/baselines/lines-baseline.json
  docs/reference/tooling/OPS_CLI_REFERENCE.md
  packages/tooling/src/dev/backlogDigest.test.ts
  packages/tooling/src/dev/backlogDigest.ts
  packages/tooling/src/dev/backlogLint.test.ts
  packages/tooling/src/dev/backlogLint.ts
  packages/tooling/src/dev/backlogOwnerQueue.test.ts
  packages/tooling/src/dev/backlogOwnerQueue.ts
  tracker/tasks/task-104 - Trim-7-over-cap-voice-references.md
  tracker/tasks/task-133 - Re-verify-shapes-import-shapes-export-end-to-end-after-beta126.md
  tracker/tasks/task-286 - Notification-eligibility-refinements-beyond-the-deliberate-use-gate-a-activity-r.md
  tracker/tasks/task-63 - Make-the-vision-system-fallback-daily-cap-a-runtime-admin-settings-knob.md
  tracker/tasks/task-751 - Permanently-dead-stored-history-images-re-attempt-vision-hourly-forever.md
  tracker/tasks/task-803 - Alert-embed-polish-from-the-2245-review-tail-—-displayName-vs-name-plus-three-nits.md
  tracker/tasks/task-822 - Retry-ladder-worst-case-makes-a-user-wait-~10-minutes-before-the-fallback-reply-lands.md
  tracker/tasks/task-835 - Deny-edit-modal-can-set-a-server-type-entry-to-a-narrower-scope.md
  tracker/tasks/task-91 - Mistral-slot-quota-empirical-verification.md
Due: integration

feat(hooks): pr-body claim scan as rule 2 of pr-body-ref-gate, regex shared with the merge gate
  .claude/hooks/lib/claim-shapes.sh
  .claude/hooks/pr-body-ref-gate.probe.sh
  .claude/hooks/pr-body-ref-gate.sh
  .claude/hooks/pr-merge-review-check.sh
  .claude/skills/tzurot-git-workflow/SKILL.md
Due: none

docs(backlog): file task-869, the round-6 parser edges of the pr-body claim scan
  tracker/tasks/task-869 - pr-body-ref-gate-KNOWN-GAPS-three-undocumented-parser-edges-from-the-round-6-review.md
Due: none

docs(backlog): close beta.214 item 4 (shipped #2302 + #2303), session ledger
  CURRENT.md
  backlog/now.md
Due: none

docs(rules): cut 05-tooling ops CLI tables to a pointer at OPS_CLI_REFERENCE.md
  .claude/rules/02-code-standards.md
  .claude/rules/05-tooling.md
  .github/baselines/lines-baseline.json
  docs/reference/operations/ENCRYPTION_KEY_ROTATION.md
  docs/reference/tooling/OPS_CLI_REFERENCE.md
  packages/tooling/src/dev/backlogLint.ts
  tracker/docs/doc-69 - doc-64-Phase-0-portability-inventory-rules-hooks-skills-ops-root-surfaces.md
Due: integration

docs(backlog): close beta.214 item 5 (TASK-865 shipped #2304)
  CURRENT.md
  backlog/now.md
  tracker/tasks/task-865 - 05-tooling-cut-the-Ops-CLI-command-tables-to-a-pointer-at-OPS_CLI_REFERENCE.md-plus-decision-point-triggers.md
Due: none

fix(ai-worker): retarget provider content refusals on the text path; neutral user copy
  packages/common-types/src/constants/discord.test.ts
  packages/common-types/src/constants/discord.ts
  packages/common-types/src/constants/error.test.ts
  packages/common-types/src/constants/error.ts
  services/ai-worker/src/services/quotaFallback.test.ts
  services/ai-worker/src/services/quotaFallback.ts
  services/ai-worker/src/utils/apiErrorParser.test.ts
Due: ai-worker, common-types, integration

docs(backlog): close beta.214 item 7 (TASK-845 shipped #2305); item 6 open as #2306
  CURRENT.md
  backlog/now.md
  tracker/tasks/task-845 - PROVIDER_CONTENT_REFUSED-user-message-assumes-an-image-but-the-category-now-reaches-text-only-turns.md
Due: none

feat(tooling): lines:check gains a skills surface over .claude/skills/*/SKILL.md
  .claude/rules/05-tooling.md
  .claude/skills/tzurot-doc-audit/SKILL.md
  .github/baselines/lines-baseline.json
  docs/reference/tooling/OPS_CLI_REFERENCE.md
  packages/tooling/src/audits/canary.test.ts
  packages/tooling/src/audits/health-extras.test.ts
  packages/tooling/src/audits/lines-check.WHY.md
  packages/tooling/src/audits/lines-check.test.ts
  packages/tooling/src/audits/lines-surfaces.test.ts
  packages/tooling/src/audits/lines-surfaces.ts
  packages/tooling/src/commands/guard.ts
  packages/tooling/test-fixtures/audit-canaries/lines-check/.claude/skills/canary-skill/SKILL.md
  packages/tooling/test-fixtures/audit-canaries/lines-check/README.md
Due: integration

docs(backlog): close beta.214 item 6 (TASK-866 shipped #2306); items 8 and 9 in flight
  CURRENT.md
  backlog/now.md
  tracker/tasks/task-866 - lines-check-add-a-skills-surface-so-skill-body-bytes-are-measured-and-ratcheted.md
Due: none

fix(bot-client): channel settings dashboard resolves channel-scoped state, never the viewer's tiers
  packages/clients/src/clients/_generated/user-client.ts
  packages/clients/src/clients/generated-encoding.test.ts
  packages/clients/src/routes/user/config-overrides.ts
  packages/config-resolver/src/ConfigCascadeResolver.test.ts
  packages/tooling/coverage-topology.json
  packages/tooling/src/codegen/handler-paths.ts
  services/api-gateway/src/routes/_generated/mounts.ts
  services/api-gateway/src/routes/conformance/fixtures/userConfigOverrides.ts
  services/api-gateway/src/routes/user/config-overrides.test.ts
  services/api-gateway/src/routes/user/config-overrides.ts
  services/api-gateway/src/utils/configOverrideHelpers.ts
  services/bot-client/src/commands/channel/settings.test.ts
  services/bot-client/src/commands/channel/settings.ts
  services/bot-client/src/utils/dashboard/settings/index.ts
Due: api-gateway, bot-client, integration

docs(backlog): file TASK-870 on gateway-side channel authorization for cascade resolves
  tracker/tasks/task-870 - Gateway-config-cascade-resolve-endpoints-have-no-server-side-channel-membership-check.md
Due: none

docs(backlog): close beta.214 item 8 (TASK-844 shipped #2307); item 9 in review
  CURRENT.md
  backlog/now.md
  tracker/tasks/task-844 - Channel-dashboard-Current-Value-shows-the-viewing-moderator-personal-override-not-channel-scoped-state.md
Due: none

docs(backlog): file TASK-871 on VisionProcessor.ts at the max-lines ceiling
  tracker/tasks/task-871 - VisionProcessor.ts-sits-at-the-max-lines-ceiling-400-counted-extract-before-the-next-change-lands-there.md
Due: none

docs(backlog): owner-queue review — 822 measures first, 835 ready, 751 + 870 archived
  tracker/archive/tasks/task-751 - Permanently-dead-stored-history-images-re-attempt-vision-hourly-forever.md
  tracker/archive/tasks/task-870 - Gateway-config-cascade-resolve-endpoints-have-no-server-side-channel-membership-check.md
  tracker/tasks/task-104 - Trim-7-over-cap-voice-references.md
  tracker/tasks/task-133 - Re-verify-shapes-import-shapes-export-end-to-end-after-beta126.md
  tracker/tasks/task-286 - Notification-eligibility-refinements-beyond-the-deliberate-use-gate-a-activity-r.md
  tracker/tasks/task-63 - Make-the-vision-system-fallback-daily-cap-a-runtime-admin-settings-knob.md
  tracker/tasks/task-822 - Retry-ladder-worst-case-makes-a-user-wait-~10-minutes-before-the-fallback-reply-lands.md
  tracker/tasks/task-835 - Deny-edit-modal-can-set-a-server-type-entry-to-a-narrower-scope.md
  tracker/tasks/task-91 - Mistral-slot-quota-empirical-verification.md
Due: none

feat(tooling): guard:readme gates the README's derivable claims; release cut re-reads the prose
  .claude/skills/tzurot-doc-audit/SKILL.md
  .claude/skills/tzurot-git-workflow/SKILL.md
  .github/workflows/ci.yml
  docs/reference/tooling/OPS_CLI_REFERENCE.md
  package.json
  packages/tooling/package.json
  packages/tooling/src/audits/check-claude-content-refs.test.ts
  packages/tooling/src/commands/guard.ts
  packages/tooling/src/dev/check-readme-classes.test.ts
  packages/tooling/src/dev/check-readme-classes.ts
  packages/tooling/src/dev/check-readme.test.ts
  packages/tooling/src/dev/check-readme.ts
  packages/tooling/src/memory/goldens-anonymize.ts
  packages/tooling/src/turbo-inputs-coverage.test.ts
  packages/tooling/src/utils/regex.test.ts
  packages/tooling/src/utils/regex.ts
  packages/tooling/turbo.json
  pnpm-lock.yaml
Due: integration

docs(backlog): file TASK-872, guard:readme round-5 residue (fence classifier, sub-bullet capture)
  tracker/tasks/task-872 - guard-readme-residue-shared-fence-classifier-slash-free-SUB_BULLET-capture-firstInteger-comment-precision.md
Due: none

docs(backlog): close beta.214 item 9 (TASK-868 shipped #2308); item 10 in review
  CURRENT.md
  backlog/now.md
  tracker/tasks/task-868 - README-drift-guard-mechanically-derivable-README-claims-gated-and-a-release-cut-README-step.md
Due: none

feat(ai-worker): inspect log names the vision model that produced each attachment description
  packages/common-types/src/schemas/api/diagnostic.test.ts
  packages/common-types/src/types/diagnostic.ts
  services/ai-worker/src/jobs/ImageDescriptionJob.test.ts
  services/ai-worker/src/jobs/ImageDescriptionJob.ts
  services/ai-worker/src/services/ConversationalRAGService.test.ts
  services/ai-worker/src/services/DiagnosticCollector.test.ts
  services/ai-worker/src/services/DiagnosticCollector.ts
  services/ai-worker/src/services/MultimodalProcessor.test.ts
  services/ai-worker/src/services/MultimodalProcessor.ts
  services/ai-worker/src/services/VisionDescriptionCache.test.ts
  services/ai-worker/src/services/VisionDescriptionCache.ts
  services/ai-worker/src/services/liveDedupSubtractionSeam.test.ts
  services/ai-worker/src/services/multimodal/VisionProcessor.test.ts
  services/ai-worker/src/services/multimodal/VisionProcessor.ts
  services/ai-worker/src/services/multimodal/describeImageWithFallback.integration.test.ts
  services/ai-worker/src/services/multimodal/describeImageWithFallback.test.ts
  services/ai-worker/src/services/multimodal/describeImageWithFallback.ts
  services/ai-worker/src/services/multimodal/visionDescriptionValidity.ts
  services/ai-worker/src/services/multimodal/visionFallbackChain.test.ts
  services/ai-worker/src/services/multimodal/visionSingleFlight.test.ts
  services/ai-worker/src/services/multimodal/visionSingleFlight.ts
  services/bot-client/src/commands/inspect/attachmentEntry.test.ts
  services/bot-client/src/commands/inspect/attachmentEntry.ts
  services/bot-client/src/commands/inspect/extendedViews.test.ts
  services/bot-client/src/commands/inspect/extendedViews.ts
Due: ai-worker, bot-client, common-types, integration

docs(backlog): close beta.214 item 10 (TASK-864 shipped #2309); economy pass in flight
  CURRENT.md
  backlog/now.md
  tracker/tasks/task-864 - inspect-log-records-the-text-model-but-not-which-vision-model-produced-each-attachment-description.md
Due: none

docs(skills): economy pass over the three largest skills; skills baseline ratcheted down
  .claude/skills/tzurot-git-workflow/SKILL.md
  .claude/skills/tzurot-orchestration/SKILL.md
  .claude/skills/tzurot-review-response/SKILL.md
  .github/baselines/lines-baseline.json
Due: none

docs(backlog): close beta.214 item 6 (TASK-867 shipped #2310); slate complete, item 3 marked #2297
  CURRENT.md
  backlog/now.md
  tracker/tasks/task-867 - Skills-economy-pass-apply-the-four-question-cut-test-to-the-largest-skill-bodies.md
Due: none

docs(docs): beta.214 smoke checklist in CURRENT.md ahead of the cut proposal
  CURRENT.md
Due: none

chore: bump version to 3.0.0-beta.214
  package.json
  packages/cache-invalidation/package.json
  packages/clients/package.json
  packages/common-types/package.json
  packages/config-resolver/package.json
  packages/conversation-history/package.json
  packages/embeddings/package.json
  packages/identity/package.json
  packages/test-factories/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  services/website/package.json
  tests/package.json
Due: ai-worker, api-gateway, bot-client, common-types, integration
