Repository lbds137/tzurot: changes, and which Codecov flags are due for each by the changed paths.
All: ai-worker, api-gateway, bot-client, common-types, integration

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 2%
        informational: false
    patch:
      default:
        target: 80%
        threshold: 5%
        informational: false

comment:
  layout: 'reach,diff,flags,tree,files'
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flag_management:
  default_rules:
    carryforward: true

flags:
  ai-worker:
    paths:
      - services/ai-worker/
  api-gateway:
    paths:
      - services/api-gateway/
  bot-client:
    paths:
      - services/bot-client/
  common-types:
    paths:
      - packages/common-types/
  # Integration tests cover all services
  integration:
    paths:
      - services/
      - packages/

ignore:
  - '**/*.test.ts'
  - '**/*.spec.ts'
  - '**/dist/**'
  - '**/node_modules/**'
  - 'scripts/**'
  - 'tzurot-legacy/**'

docs(backlog): file /voice voices browse UX overhaul (rename + select menu)
  backlog/inbox.md
Due: none

fix(ai-worker): stt attribution reflects actual provider, not requested
  services/ai-worker/src/jobs/AudioTranscriptionJob.test.ts
  services/ai-worker/src/jobs/AudioTranscriptionJob.ts
  services/ai-worker/src/services/AttachmentProcessor.test.ts
  services/ai-worker/src/services/AttachmentProcessor.ts
  services/ai-worker/src/services/MultimodalProcessor.test.ts
  services/ai-worker/src/services/MultimodalProcessor.ts
  services/ai-worker/src/services/ReferencedMessageFormatter.test.ts
  services/ai-worker/src/services/multimodal/AudioProcessor.test.ts
  services/ai-worker/src/services/multimodal/AudioProcessor.ts
Due: ai-worker, integration

docs(backlog): clear cross-channel maxAge bug (resolved by PR #1011)
  backlog/production-issues.md
Due: none

docs(backlog): intake + cross-channel maxAge bug as production issue
  backlog/inbox.md
  backlog/production-issues.md
Due: none

docs: post-Mistral-STT fix arc (PRs #1014 + #1015) sync
  CURRENT.md
  backlog/inbox.md
Due: none

feat: polish sweep for STT cutover (DB CHECK, cache invalidation, in-band routing)
  backlog/icebox.md
  packages/test-utils/schema/pglite-schema.sql
  prisma/migrations/20260510202611_add_stt_provider_check_constraint/migration.sql
  services/ai-worker/src/cacheInvalidation.test.ts
  services/ai-worker/src/cacheInvalidation.ts
  services/ai-worker/src/index.ts
  services/ai-worker/src/jobs/AIJobProcessor.ts
  services/ai-worker/src/jobs/handlers/LLMGenerationHandler.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/AuthStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/AuthStep.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/DependencyStep.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/GenerationStep.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/autoPromotionFallback.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/autoPromotionFallback.ts
  services/ai-worker/src/jobs/handlers/pipeline/types.ts
  services/ai-worker/src/services/AttachmentProcessor.ts
  services/ai-worker/src/services/ConversationInputProcessor.ts
  services/ai-worker/src/services/ConversationalRAGService.ts
  services/ai-worker/src/services/ConversationalRAGTypes.ts
  services/ai-worker/src/services/MultimodalProcessor.ts
  services/ai-worker/src/services/ReferencedMessageFormatter.ts
Due: ai-worker, integration

docs: post-#1017 sync (15 unreleased PRs, sweep complete, beta.120 ready)
  CURRENT.md
Due: none

fix(ai-worker): logAllocation surfaces 0 cross-channel msgs when enabled
  services/ai-worker/src/services/ContentBudgetManager.ts
Due: ai-worker, integration

docs: post-#1021 sync (17 unreleased PRs, beta.120 ready)
  CURRENT.md
Due: none

docs: post-PR-1005 session sweep — Phase 3 complete, beta.120 release queued
  CURRENT.md
  backlog/active-epic.md
  backlog/current-focus.md
Due: none

chore: tts/stt inbox sweep (round-6/7 polish + test hardening + slash-job notice gap)
  backlog/inbox.md
  packages/common-types/src/types/schemas/generation.test.ts
  packages/common-types/src/types/schemas/generation.ts
  services/ai-worker/src/jobs/handlers/LLMGenerationHandler.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/GenerationStep.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/TTSStep.ts
  services/ai-worker/src/jobs/handlers/pipeline/types.ts
  services/ai-worker/src/services/DiagnosticCollector.ts
  services/ai-worker/src/services/voice/MistralSttClient.test.ts
  services/bot-client/src/commands/character/chat.ts
  services/bot-client/src/handlers/MessageHandler.test.ts
  services/bot-client/src/handlers/MessageHandler.ts
  services/bot-client/src/services/JobTracker.ts
Due: ai-worker, bot-client, common-types, integration

feat(bot-client): consolidate /settings tts + /settings voices into /voice (TTS Phase 3 PR 1)
  .gitignore
  backlog/inbox.md
  backlog/quick-wins.md
  packages/common-types/src/generated/commandOptions.ts
  services/bot-client/src/commands/settings/index.test.ts
  services/bot-client/src/commands/settings/index.ts
  services/bot-client/src/commands/settings/tts/subcommandBuilder.test.ts
  services/bot-client/src/commands/voice/index.test.ts
  services/bot-client/src/commands/voice/index.ts
  services/bot-client/src/commands/voice/redirectToVoiceCommand.test.ts
  services/bot-client/src/commands/voice/redirectToVoiceCommand.ts
  services/bot-client/src/commands/voice/tts/autocomplete.test.ts
  services/bot-client/src/commands/voice/tts/autocomplete.ts
  services/bot-client/src/commands/voice/tts/browse.test.ts
  services/bot-client/src/commands/voice/tts/browse.ts
  services/bot-client/src/commands/voice/tts/clear-default.test.ts
  services/bot-client/src/commands/voice/tts/clear-default.ts
  services/bot-client/src/commands/voice/tts/clear.test.ts
  services/bot-client/src/commands/voice/tts/clear.ts
  services/bot-client/src/commands/voice/tts/guestModeValidation.test.ts
  services/bot-client/src/commands/voice/tts/guestModeValidation.ts
  services/bot-client/src/commands/voice/tts/set-default.test.ts
  services/bot-client/src/commands/voice/tts/set-default.ts
  services/bot-client/src/commands/voice/tts/set.test.ts
  services/bot-client/src/commands/voice/tts/set.ts
  services/bot-client/src/commands/voice/tts/subcommandBuilder.test.ts
  services/bot-client/src/commands/voice/tts/subcommandBuilder.ts
  services/bot-client/src/commands/voice/voices/browse.test.ts
  services/bot-client/src/commands/voice/voices/browse.ts
  services/bot-client/src/commands/voice/voices/clear.test.ts
  services/bot-client/src/commands/voice/voices/clear.ts
  services/bot-client/src/commands/voice/voices/delete.test.ts
  services/bot-client/src/commands/voice/voices/delete.ts
  services/bot-client/src/commands/voice/voices/subcommandBuilder.test.ts
  services/bot-client/src/commands/voice/voices/subcommandBuilder.ts
  services/bot-client/src/commands/voice/voices/types.ts
  services/bot-client/src/commands/voice/voices/voiceCache.test.ts
  services/bot-client/src/commands/voice/voices/voiceCache.ts
  services/bot-client/src/handlers/CommandHandler.int.test.ts
  services/bot-client/src/handlers/__snapshots__/CommandHandler.int.test.ts.snap
Due: bot-client, common-types, integration

docs: note second dependabot bump (dev-deps, 15 updates) in CURRENT.md
  CURRENT.md
Due: none

docs: clear stale entries post-v3.0.0-beta.119, queue TTS Phase 3 PR 1
  CURRENT.md
  backlog/current-focus.md
  backlog/production-issues.md
Due: none

feat(bot-client): plain-language /voice surface + transcript provider attribution
  packages/common-types/src/types/api-types.ts
  packages/common-types/src/types/jobs.ts
  services/ai-worker/src/jobs/AudioTranscriptionJob.test.ts
  services/ai-worker/src/jobs/AudioTranscriptionJob.ts
  services/bot-client/src/commands/voice/provider/clear.ts
  services/bot-client/src/commands/voice/provider/set.ts
  services/bot-client/src/commands/voice/provider/subcommandBuilder.ts
  services/bot-client/src/commands/voice/stt/browse.ts
  services/bot-client/src/commands/voice/stt/clear-default.ts
  services/bot-client/src/commands/voice/stt/clear.ts
  services/bot-client/src/commands/voice/stt/set-default.ts
  services/bot-client/src/commands/voice/stt/set.ts
  services/bot-client/src/commands/voice/stt/subcommandBuilder.ts
  services/bot-client/src/commands/voice/tts/set.test.ts
  services/bot-client/src/commands/voice/tts/set.ts
  services/bot-client/src/commands/voice/view.ts
  services/bot-client/src/handlers/__snapshots__/CommandHandler.int.test.ts.snap
  services/bot-client/src/services/VoiceTranscriptionService.test.ts
  services/bot-client/src/services/VoiceTranscriptionService.ts
  services/bot-client/src/types.ts
  services/bot-client/src/utils/GatewayClient.test.ts
  services/bot-client/src/utils/GatewayClient.ts
Due: ai-worker, bot-client, common-types, integration

fix: cross-channel history honors maxAge/contextEpoch + gets own budget
  packages/common-types/src/services/ConversationHistoryService.test.ts
  packages/common-types/src/services/ConversationHistoryService.ts
  packages/common-types/src/services/historyCutoff.test.ts
  packages/common-types/src/services/historyCutoff.ts
  services/bot-client/src/services/CrossChannelHistoryFetcher.test.ts
  services/bot-client/src/services/CrossChannelHistoryFetcher.ts
  services/bot-client/src/services/MessageContextBuilder.test.ts
  services/bot-client/src/services/MessageContextBuilder.ts
Due: bot-client, common-types, integration

docs: post-PR-1010 inbox cleanup + CURRENT.md sync
  CURRENT.md
  backlog/inbox.md
Due: none

chore(bot-client): pre-beta.120 sweep — remove deprecation stubs + UX polish
  packages/common-types/src/schemas/api/voice-resolution.test.ts
  packages/common-types/src/schemas/api/voice-resolution.ts
  services/api-gateway/src/routes/user/voice-resolution.ts
  services/bot-client/src/commands/character/overrides.test.ts
  services/bot-client/src/commands/character/overrides.ts
  services/bot-client/src/commands/deny/index.ts
  services/bot-client/src/commands/persona/override/clear.test.ts
  services/bot-client/src/commands/persona/override/set.test.ts
  services/bot-client/src/commands/persona/override/set.ts
  services/bot-client/src/commands/settings/defaults/edit.ts
  services/bot-client/src/commands/settings/index.test.ts
  services/bot-client/src/commands/settings/index.ts
  services/bot-client/src/commands/settings/preset/clear-default.ts
  services/bot-client/src/commands/settings/preset/guestModeValidation.ts
  services/bot-client/src/commands/settings/preset/handlers.test.ts
  services/bot-client/src/commands/settings/preset/list.test.ts
  services/bot-client/src/commands/settings/preset/list.ts
  services/bot-client/src/commands/settings/preset/set.ts
  services/bot-client/src/commands/voice/index.test.ts
  services/bot-client/src/commands/voice/index.ts
  services/bot-client/src/commands/voice/redirectToVoiceCommand.test.ts
  services/bot-client/src/commands/voice/redirectToVoiceCommand.ts
  services/bot-client/src/commands/voice/stt/set.ts
  services/bot-client/src/commands/voice/stt/subcommandBuilder.test.ts
  services/bot-client/src/commands/voice/stt/subcommandBuilder.ts
  services/bot-client/src/commands/voice/tts/clear-default.ts
  services/bot-client/src/commands/voice/tts/clear.test.ts
  services/bot-client/src/commands/voice/tts/clear.ts
  services/bot-client/src/commands/voice/tts/list.test.ts
  services/bot-client/src/commands/voice/tts/list.ts
  services/bot-client/src/commands/voice/tts/set.test.ts
  services/bot-client/src/commands/voice/tts/subcommandBuilder.test.ts
  services/bot-client/src/commands/voice/tts/subcommandBuilder.ts
  services/bot-client/src/commands/voice/view.test.ts
  services/bot-client/src/commands/voice/view.ts
  services/bot-client/src/handlers/CommandHandler.int.test.ts
  services/bot-client/src/handlers/__snapshots__/CommandHandler.int.test.ts.snap
Due: api-gateway, bot-client, common-types, integration

docs: post-PR-1007 inbox cleanup + CURRENT.md sync
  CURRENT.md
  backlog/inbox.md
Due: none

fix(ai-worker): mistral STT model id was always invalid
  services/ai-worker/src/services/voice/MistralSttClient.test.ts
  services/ai-worker/src/services/voice/MistralSttClient.ts
Due: ai-worker, integration

docs(backlog): file generate() Railway-deploy exposure follow-up from PR #1009
  backlog/inbox.md
Due: none

docs: post-release for v3.0.0-beta.120
  CURRENT.md
  backlog/inbox.md
Due: none

docs: redact hosted deployment URL from public docs
  .claude/skills/tzurot-deployment/SKILL.md
  README.md
  docs/reference/deployment/RAILWAY_OPERATIONS.md
  docs/reference/testing/BYOK_MANUAL_TESTING.md
Due: none

docs(backlog): file 3 api-gateway security-hardening items
  backlog/inbox.md
Due: none

docs(backlog): cluster TTS/STT items + add Mistral-quality eval
  backlog/inbox.md
Due: none

docs: clear stale post-beta.120 tracker entries
  backlog/current-focus.md
  backlog/inbox.md
Due: none

docs(backlog): drain inbox 33 → 0 (triage pass)
  backlog/deferred.md
  backlog/future-themes.md
  backlog/icebox.md
  backlog/inbox.md
  backlog/quick-wins.md
Due: none

docs: refresh CURRENT.md after inbox-drain triage pass
  CURRENT.md
Due: none

chore: post-beta.120 quick-wins warmup
  packages/common-types/src/types/sttProvider.ts
  prisma/migrations/20260510202611_add_stt_provider_check_constraint/migration.sql
  services/bot-client/src/commands/voice/index.test.ts
  services/bot-client/src/commands/voice/index.ts
  services/bot-client/src/commands/voice/voices/browse.test.ts
  services/bot-client/src/commands/voice/voices/browse.ts
  services/bot-client/src/handlers/CommandHandler.int.test.ts
  services/bot-client/src/utils/GatewayClient.ts
Due: bot-client, common-types, integration

docs(backlog): file GatewayClient.transcribe tail-call logger.warn
  backlog/quick-wins.md
Due: none

chore: stt polish — SttDispatch alias + resolver fallback
  backlog/icebox.md
  backlog/quick-wins.md
  packages/common-types/src/types/sttProvider.ts
  services/ai-worker/src/jobs/AudioTranscriptionJob.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/AuthStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/AuthStep.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/DependencyStep.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/GenerationStep.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/autoPromotionFallback.ts
  services/ai-worker/src/jobs/handlers/pipeline/types.ts
  services/ai-worker/src/services/AttachmentProcessor.ts
  services/ai-worker/src/services/ConversationInputProcessor.ts
  services/ai-worker/src/services/ConversationalRAGTypes.ts
  services/ai-worker/src/services/MultimodalProcessor.ts
  services/ai-worker/src/services/ReferencedMessageFormatter.ts
  services/ai-worker/src/services/multimodal/AudioProcessor.ts
Due: ai-worker, common-types, integration

chore: quick wins batch 3 — historyCutoff semantic, hook polish, JobTracker signature
  .husky/pre-commit
  backlog/quick-wins.md
  packages/common-types/src/services/historyCutoff.ts
  services/bot-client/src/commands/character/chat.test.ts
  services/bot-client/src/commands/character/chat.ts
  services/bot-client/src/services/JobTracker.test.ts
  services/bot-client/src/services/JobTracker.ts
  services/bot-client/src/services/PersonalityMessageHandler.test.ts
  services/bot-client/src/services/PersonalityMessageHandler.ts
Due: bot-client, common-types, integration

chore: quick wins batch 4 — transcribe final-attempt warn log
  backlog/quick-wins.md
  services/bot-client/src/utils/GatewayClient.ts
Due: bot-client, integration
