Repository lbds137/tzurot: changes, and which Codecov flags are due for each by the changed paths.
All: ai-worker, api-gateway, bot-client, common-types, integration

fix: resolve pino logger undefined error in RetryDecisionHelper
  services/ai-worker/src/jobs/handlers/pipeline/steps/RetryDecisionHelper.ts
Due: ai-worker, integration

docs: update BACKLOG with consolidated plan and completed items
  BACKLOG.md
Due: none

chore: bump version to 3.0.0-beta.66
  CURRENT.md
  package.json
  packages/common-types/package.json
  packages/embeddings/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/data/import-personality/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  tests/package.json
Due: ai-worker, api-gateway, bot-client, common-types, integration

fix(api-gateway): propagate singleton flags during db-sync resolution
  CURRENT.md
  services/api-gateway/src/services/DatabaseSyncService.test.ts
  services/api-gateway/src/services/DatabaseSyncService.ts
  services/api-gateway/src/services/sync/utils/llmConfigSingletons.test.ts
  services/api-gateway/src/services/sync/utils/llmConfigSingletons.ts
Due: api-gateway, integration

test: add pino binding integration test for RetryDecisionHelper
  services/ai-worker/src/jobs/handlers/pipeline/steps/RetryDecisionHelper.int.test.ts
Due: none

chore: consolidate dependency updates from PRs #567-572
  package.json
  pnpm-lock.yaml
Due: none

test: add unit tests for Phase 1 extracted modules
  BACKLOG.md
  services/ai-worker/src/services/ConversationInputProcessor.test.ts
  services/ai-worker/src/services/MemoryPersistenceService.test.ts
  services/ai-worker/src/services/ResponsePostProcessor.test.ts
  services/bot-client/src/services/channelFetcher/HistoryMerger.test.ts
  services/bot-client/src/services/channelFetcher/ParticipantContextCollector.test.ts
  services/bot-client/src/services/channelFetcher/messageTypeFilters.test.ts
  services/bot-client/src/services/contextBuilder/GuildMemberResolver.test.ts
  services/bot-client/src/services/contextBuilder/UserContextResolver.test.ts
Due: none

docs: update CURRENT.md with accurate Phase 2 status
  CURRENT.md
Due: none

docs: update CURRENT.md and BACKLOG.md for Phase 1 completion
  BACKLOG.md
  CURRENT.md
Due: none

fix: resolve TypeScript errors in new test files
  services/bot-client/src/services/channelFetcher/HistoryMerger.test.ts
  services/bot-client/src/services/channelFetcher/ParticipantContextCollector.test.ts
  services/bot-client/src/services/channelFetcher/messageTypeFilters.test.ts
  services/bot-client/src/services/contextBuilder/UserContextResolver.test.ts
Due: none

refactor: extract ConversationalRAGService into modular components
  services/ai-worker/src/services/ConversationInputProcessor.ts
  services/ai-worker/src/services/ConversationalRAGService.ts
  services/ai-worker/src/services/MemoryPersistenceService.ts
  services/ai-worker/src/services/ResponsePostProcessor.ts
Due: ai-worker, integration

fix: resolve TypeScript errors in ai-worker test files
  services/ai-worker/src/services/ConversationInputProcessor.test.ts
  services/ai-worker/src/services/MemoryPersistenceService.test.ts
Due: none

docs: update CURRENT.md and BACKLOG.md
  BACKLOG.md
  CURRENT.md
Due: none

refactor: extract conversationUtils.ts into modular files
  services/ai-worker/src/jobs/utils/conversationLengthEstimator.ts
  services/ai-worker/src/jobs/utils/conversationTypes.ts
  services/ai-worker/src/jobs/utils/conversationUtils.ts
  services/ai-worker/src/jobs/utils/index.ts
  services/ai-worker/src/jobs/utils/langchainConverter.ts
  services/ai-worker/src/jobs/utils/participantUtils.ts
  services/ai-worker/src/jobs/utils/xmlMetadataFormatters.ts
Due: ai-worker, integration

refactor: extract DiscordChannelFetcher and MessageContextBuilder into modular files
  services/bot-client/src/services/DiscordChannelFetcher.ts
  services/bot-client/src/services/MessageContextBuilder.ts
  services/bot-client/src/services/channelFetcher/HistoryMerger.ts
  services/bot-client/src/services/channelFetcher/ParticipantContextCollector.ts
  services/bot-client/src/services/channelFetcher/ReactionProcessor.ts
  services/bot-client/src/services/channelFetcher/SyncValidator.ts
  services/bot-client/src/services/channelFetcher/index.ts
  services/bot-client/src/services/channelFetcher/messageTypeFilters.ts
  services/bot-client/src/services/channelFetcher/types.ts
  services/bot-client/src/services/contextBuilder/ExtendedContextPersonaResolver.ts
  services/bot-client/src/services/contextBuilder/GuildMemberResolver.ts
  services/bot-client/src/services/contextBuilder/UserContextResolver.ts
  services/bot-client/src/services/contextBuilder/index.ts
Due: bot-client, integration

refactor(common-types): add LLM_CONFIG_FIELDS metadata as single source of truth
  packages/common-types/src/schemas/llmAdvancedParams.ts
  packages/common-types/src/schemas/llmConfigFields.test.ts
  packages/common-types/src/schemas/llmConfigFields.ts
Due: common-types, integration

refactor(ai-worker): use ConvertedReasoningConfig from common-types
  services/ai-worker/src/services/DiagnosticCollector.ts
Due: ai-worker, integration

refactor(bot-client): always use getChannelHistory for DB history
  packages/common-types/src/services/ConversationHistoryService.ts
  services/bot-client/src/services/MessageContextBuilder.test.ts
  services/bot-client/src/services/MessageContextBuilder.ts
Due: bot-client, common-types, integration

docs: update CURRENT.md with Phase 2 PR status
  CURRENT.md
Due: none

docs: update BACKLOG.md with Phase 2 progress
  BACKLOG.md
Due: none

refactor: consolidate context settings into LlmConfig (Phase 2)
  docs/reference/standards/DATABASE_COLUMN_GUIDELINES.md
  docs/reference/standards/TRI_STATE_PATTERN.md
  packages/common-types/src/schemas/llmAdvancedParams.test.ts
  packages/common-types/src/schemas/llmAdvancedParams.ts
  packages/common-types/src/services/ConversationHistoryService.ts
  packages/common-types/src/services/LlmConfigMapper.test.ts
  packages/common-types/src/services/LlmConfigMapper.ts
  packages/common-types/src/services/personality/PersonalityDefaults.test.ts
  packages/common-types/src/services/personality/PersonalityDefaults.ts
  packages/common-types/src/services/personality/PersonalityValidator.ts
  packages/common-types/src/services/resolvers/ExtendedContextSettingsResolver.test.ts
  packages/common-types/src/services/resolvers/ExtendedContextSettingsResolver.ts
  packages/common-types/src/services/resolvers/index.ts
  packages/common-types/src/types/schemas.ts
  packages/test-utils/schema/pglite-schema.sql
  prisma/migrations/20260204012717_add_context_settings_to_llm_config/migration.sql
  prisma/schema.prisma
  services/ai-worker/src/services/LlmConfigResolver.ts
  services/bot-client/src/commands/character/chat.test.ts
  services/bot-client/src/commands/character/chat.ts
  services/bot-client/src/index.ts
  services/bot-client/src/services/ExtendedContextResolver.test.ts
  services/bot-client/src/services/ExtendedContextResolver.ts
  services/bot-client/src/services/MessageContextBuilder.test.ts
  services/bot-client/src/services/MessageContextBuilder.ts
  services/bot-client/src/services/PersonalityMessageHandler.test.ts
  services/bot-client/src/services/PersonalityMessageHandler.ts
  services/bot-client/src/services/serviceRegistry.test.ts
  services/bot-client/src/services/serviceRegistry.ts
  services/bot-client/src/utils/triStateHelpers.ts
Due: ai-worker, bot-client, common-types, integration

fix: forwarded message detection and add config resolution integration test
  services/api-gateway/src/routes/user/llm-config.int.test.ts
  services/bot-client/src/services/PersonalityMessageHandler.test.ts
  services/bot-client/src/services/PersonalityMessageHandler.ts
  services/bot-client/src/utils/forwardedMessageUtils.test.ts
  services/bot-client/src/utils/forwardedMessageUtils.ts
  services/bot-client/src/utils/triStateHelpers.test.ts
Due: bot-client, integration

refactor: move LlmConfigResolver to common-types and update imports
  .claude/settings.json
  .claude/skills/tzurot-architecture/SKILL.md
  .claude/skills/tzurot-async-flow/SKILL.md
  .claude/skills/tzurot-caching/SKILL.md
  .claude/skills/tzurot-code-quality/SKILL.md
  .claude/skills/tzurot-council-mcp/SKILL.md
  .claude/skills/tzurot-db-vector/SKILL.md
  .claude/skills/tzurot-deployment/SKILL.md
  .claude/skills/tzurot-docs/SKILL.md
  .claude/skills/tzurot-git-workflow/SKILL.md
  .claude/skills/tzurot-observability/SKILL.md
  .claude/skills/tzurot-security/SKILL.md
  .claude/skills/tzurot-skills-guide/SKILL.md
  .claude/skills/tzurot-slash-command-ux/SKILL.md
  .claude/skills/tzurot-testing/SKILL.md
  .claude/skills/tzurot-tooling/SKILL.md
  .claude/skills/tzurot-types/SKILL.md
  CLAUDE.md
  packages/common-types/src/index.ts
  packages/common-types/src/schemas/api/adminSettings.ts
  packages/common-types/src/services/LlmConfigResolver.test.ts
  packages/common-types/src/services/LlmConfigResolver.ts
  services/ai-worker/src/index.ts
  services/ai-worker/src/jobs/AIJobProcessor.ts
  services/ai-worker/src/jobs/handlers/LLMGenerationHandler.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/AuthStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/AuthStep.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/ConfigStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/ConfigStep.ts
  services/api-gateway/src/routes/user/llm-config.ts
  services/bot-client/src/services/MessageContextBuilder.test.ts
Due: ai-worker, api-gateway, common-types, integration

chore: add Claude Code hooks and rules configuration
  .claude/hooks/skill-eval.sh
  .claude/rules/00-skill-routing.md
  .claude/rules/01-invariants.md
Due: none

fix: add context settings to LlmConfig API endpoints
  packages/common-types/src/constants/message.ts
  services/api-gateway/src/routes/user/llm-config.ts
Due: api-gateway, common-types, integration

docs: clarify skipped index in migration comment
  prisma/migrations/20260204012717_add_context_settings_to_llm_config/migration.sql
Due: none

fix: add validation bounds for context settings in create handler
  services/api-gateway/src/routes/user/llm-config.ts
Due: api-gateway, integration

refactor: remove MAX_HISTORY_FETCH constant, use DEFAULT_MAX_MESSAGES (50)
  packages/common-types/src/constants/message.ts
  services/bot-client/src/commands/character/chat.ts
  services/bot-client/src/services/MessageContextBuilder.test.ts
  services/bot-client/src/services/MessageContextBuilder.ts
  services/bot-client/src/services/PersonalityMessageHandler.ts
Due: bot-client, common-types, integration

fix: add defense-in-depth hard cap for maxMessages in MessageContextBuilder
  services/bot-client/src/services/MessageContextBuilder.ts
Due: bot-client, integration

refactor: unify validation with Zod schemas for llm-config routes
  packages/common-types/src/constants/message.ts
  services/api-gateway/src/routes/user/llm-config.ts
Due: api-gateway, common-types, integration

fix: add hardcoded fallbacks for context settings
  packages/common-types/src/services/personality/PersonalityDefaults.test.ts
  packages/common-types/src/services/personality/PersonalityDefaults.ts
  services/bot-client/src/services/PersonalityMessageHandler.ts
Due: bot-client, common-types, integration

chore: remove disable-model-invocation from skills, improve error message
  .claude/skills/tzurot-architecture/SKILL.md
  .claude/skills/tzurot-async-flow/SKILL.md
  .claude/skills/tzurot-caching/SKILL.md
  .claude/skills/tzurot-code-quality/SKILL.md
  .claude/skills/tzurot-council-mcp/SKILL.md
  .claude/skills/tzurot-db-vector/SKILL.md
  .claude/skills/tzurot-deployment/SKILL.md
  .claude/skills/tzurot-docs/SKILL.md
  .claude/skills/tzurot-git-workflow/SKILL.md
  .claude/skills/tzurot-observability/SKILL.md
  .claude/skills/tzurot-security/SKILL.md
  .claude/skills/tzurot-skills-guide/SKILL.md
  .claude/skills/tzurot-slash-command-ux/SKILL.md
  .claude/skills/tzurot-testing/SKILL.md
  .claude/skills/tzurot-tooling/SKILL.md
  .claude/skills/tzurot-types/SKILL.md
  services/api-gateway/src/routes/user/llm-config.ts
Due: api-gateway, integration

test: add cascade priority test for PersonalityDefaults
  packages/common-types/src/services/personality/PersonalityDefaults.test.ts
Due: none

Path conditions:
  ai-worker: any of: services/ai-worker/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  api-gateway: any of: services/api-gateway/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  bot-client: any of: services/bot-client/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  common-types: any of: packages/common-types/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  integration: any of: services/, packages/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
