Repository lbds137/tzurot: changes, and which Codecov flags are due for each by the changed paths.
All: ai-worker, api-gateway, bot-client, common-types, integration

docs(backlog): file TASK-709 — forward-origin priming lacks in-flight dedup
  tracker/tasks/task-709 - Forwarded-origin-priming-has-no-in-flight-dedup-only-a-completed-result-cache.md
Due: none

fix(bot-client): attribute forwards seen only through extended context
  .claude/rules/03-database.md
  docs/reference/architecture/durability-tiers.md
  packages/common-types/src/utils/historyMerger.test.ts
  packages/common-types/src/utils/historyMerger.ts
  services/bot-client/src/index.ts
  services/bot-client/src/services/ConversationPersistence.ts
  services/bot-client/src/services/DiscordChannelFetcher.test.ts
  services/bot-client/src/services/DiscordChannelFetcher.ts
  services/bot-client/src/services/MessageContextBuilder.test.ts
  services/bot-client/src/services/MessageContextBuilder.ts
  services/bot-client/src/services/channelFetcher/forwardOriginPrePass.test.ts
  services/bot-client/src/services/channelFetcher/forwardOriginPrePass.ts
  services/bot-client/src/services/channelFetcher/messageMetadataBuilder.test.ts
  services/bot-client/src/services/channelFetcher/messageMetadataBuilder.ts
  services/bot-client/src/services/channelFetcher/types.ts
  services/bot-client/src/utils/forwardedMessageUtils.test.ts
  services/bot-client/src/utils/forwardedMessageUtils.ts
  services/bot-client/src/utils/forwardedOriginCache.test.ts
  services/bot-client/src/utils/forwardedOriginCache.ts
Due: bot-client, common-types, integration

docs: close out TASK-706's PR and queue its smoke
  CURRENT.md
  tracker/tasks/task-706 - Forward-attribution-never-fires-for-non-trigger-forwards-seen-via-extended-context.md
Due: none

docs(backlog): task-598 hit 9 — hypotheses B and C compose
  tracker/tasks/task-598 - Pre-push-should-rebuild-tooling-dist-when-eslint-plugin-entry-is-missing-in-a-worktree.md
Due: none

docs(backlog): task-708 class is six sites, one of them the current turn
  tracker/tasks/task-708 - Forwarded-content-of-our-own-messages-keeps-the-model-footer-in-the-prompt.md
Due: none

docs(backlog): task-708 splits by normalizer half, not by code path
  tracker/tasks/task-708 - Forwarded-content-of-our-own-messages-keeps-the-model-footer-in-the-prompt.md
Due: none

docs(backlog): file task-710 — consolidate the private-thread gate
  tracker/tasks/task-710 - Extract-the-private-thread-membership-gate-shared-by-the-two-viewer-access-checks.md
Due: none

docs(backlog): file task-711 — autosquash leaves the base message unchecked
  tracker/tasks/task-711 - Autosquash-leaves-the-base-commit-message-unreviewed-against-the-diff-it-now-describes.md
Due: none

docs(backlog): file task-712 — two forward-origin gates disagree
  tracker/tasks/task-712 - Two-forward-origin-channel-name-paths-use-different-visibility-gates.md
Due: none

feat(bot-client): render the origin channel on forwarded quotes
  packages/common-types/src/types/schemas/message.test.ts
  packages/common-types/src/types/schemas/message.ts
  services/ai-worker/src/jobs/utils/conversationUtils.test.ts
  services/ai-worker/src/jobs/utils/conversationUtils.ts
  services/ai-worker/src/services/prompt/QuoteFormatter.test.ts
  services/ai-worker/src/services/prompt/QuoteFormatter.ts
  services/bot-client/src/utils/forwardedMessageUtils.test.ts
  services/bot-client/src/utils/forwardedMessageUtils.ts
  services/bot-client/src/utils/forwardedOriginCache.ts
Due: ai-worker, bot-client, common-types, integration

docs: close out PR 2167 and queue its smoke
  CURRENT.md
  tracker/tasks/task-668 - Forwarded-quotes-carry-no-origin-channel-though-the-resolver-already-fetched-it.md
  tracker/tasks/task-710 - Extract-the-private-thread-membership-gate-shared-by-the-two-viewer-access-checks.md
Due: none

docs: record beta.206 follow-up scoping and the open owner decision
  CURRENT.md
Due: none

docs: task-712 approved into beta.206 — port the gate
  CURRENT.md
  tracker/tasks/task-712 - Two-forward-origin-channel-name-paths-use-different-visibility-gates.md
Due: none

docs(backlog): measure the task-712 async ripple — build the full gate
  tracker/tasks/task-712 - Two-forward-origin-channel-name-paths-use-different-visibility-gates.md
Due: none

docs(backlog): task-708 pr1 shipped; pr2's authorship gate is insufficient
  tracker/tasks/task-708 - Forwarded-content-of-our-own-messages-keeps-the-model-footer-in-the-prompt.md
Due: none

docs(backlog): own the message-content-in-logs class as one pass (doc-80)
  tracker/docs/doc-80 - Idea-Message-content-in-logs-sweep-—-one-pass-across-every-service.md
  tracker/tasks/task-422 - CrossTurnDetection-logs-message-content-on-every-PASSED-check.md
  tracker/tasks/task-533 - Persona-bio-text-is-logged-as-contentPreview-at-debug-level.md
  tracker/tasks/task-593 - Message-and-LLM-response-content-is-logged-as-previews-across-~12-ai-worker-sites.md
  tracker/tasks/task-594 - NODE_ENV-schema-default-is-development-so-a-PII-gated-dev-only-log-path-fails-OPEN.md
Due: none

refactor(bot-client): remove extractAllForwardedContent dead surface
  services/bot-client/src/utils/forwardedMessageUtils.test.ts
  services/bot-client/src/utils/forwardedMessageUtils.ts
Due: bot-client, integration

fix(bot-client): strip our own -# footers from forwarded content
  packages/common-types/src/constants/discord.ts
  packages/common-types/src/utils/discord.ts
  services/bot-client/src/handlers/references/MessageFormatter.test.ts
  services/bot-client/src/handlers/references/MessageFormatter.ts
  services/bot-client/src/handlers/references/SnapshotFormatter.test.ts
  services/bot-client/src/handlers/references/SnapshotFormatter.ts
  services/bot-client/src/handlers/references/strategies/LinkReferenceStrategy.ts
  services/bot-client/src/processors/DMSessionProcessor.test.ts
  services/bot-client/src/processors/DMSessionProcessor.ts
  services/bot-client/src/processors/PersonalityTriggerProcessor.test.ts
  services/bot-client/src/processors/PersonalityTriggerProcessor.ts
  services/bot-client/src/services/contextBuilder/RawEnvelopeBuilder.test.ts
  services/bot-client/src/services/contextBuilder/RawEnvelopeBuilder.ts
  services/bot-client/src/utils/MessageContentBuilder.test.ts
  services/bot-client/src/utils/MessageContentBuilder.ts
  services/bot-client/src/utils/forwardedMessageUtils.test.ts
  services/bot-client/src/utils/forwardedMessageUtils.ts
Due: bot-client, common-types, integration

docs(bot-client): correct two claims in the forwarded-content docstrings
  services/bot-client/src/utils/forwardedMessageUtils.ts
Due: bot-client, integration

docs(backlog): task-711 second instance — cardinals, not absolutes
  tracker/tasks/task-711 - Autosquash-leaves-the-base-commit-message-unreviewed-against-the-diff-it-now-describes.md
Due: none

docs(common-types): complete the BOT_FOOTER_PATTERNS consumer list
  packages/common-types/src/constants/discord.ts
Due: common-types, integration

docs(backlog): file task-713 — reply-quote path leaks the same footer
  tracker/tasks/task-713 - Reply-quote-path-leaks-our-own-footer-same-class-as-TASK-708-but-a-different-trigger.md
Due: none

test(bot-client): pin that extractForwardedContent stays byte-faithful
  services/bot-client/src/utils/forwardedMessageUtils.test.ts
  services/bot-client/src/utils/forwardedMessageUtils.ts
Due: bot-client, integration

docs(backlog): task-708's class enumeration is seven members, not six
  tracker/tasks/task-708 - Forwarded-content-of-our-own-messages-keeps-the-model-footer-in-the-prompt.md
Due: none

docs: close out task-708 pr1 (#2168), queue its smoke, repoint next unit
  CURRENT.md
  tracker/tasks/task-708 - Forwarded-content-of-our-own-messages-keeps-the-model-footer-in-the-prompt.md
Due: none

docs(backlog): task-671 second instance — a different failure mode
  tracker/tasks/task-671 - Superseding-a-fact-leaves-the-episodes-that-produced-it-fully-retrievable.md
Due: none

docs(backlog): doc-8 — re-entry is not a resume, and backfill is re-open
  tracker/docs/doc-8 - Theme-Memory-System-Overhaul-—-PARKED-MID-EPIC-2026-07-17.md
Due: none

refactor(bot-client): extract the private-thread membership gate
  services/bot-client/src/handlers/references/LinkExtractor.ts
  services/bot-client/src/utils/forwardedMessageUtils.ts
  services/bot-client/src/utils/threadAccess.test.ts
  services/bot-client/src/utils/threadAccess.ts
Due: bot-client, integration

docs(bot-client): split the thread-fetch claim into probed and unprobed
  services/bot-client/src/utils/threadAccess.ts
Due: bot-client, integration

docs: close task-710 (#2169), repoint next unit at task-712
  CURRENT.md
  tracker/tasks/task-710 - Extract-the-private-thread-membership-gate-shared-by-the-two-viewer-access-checks.md
Due: none

docs(backlog): pin the task-43 type-level check and draft its probe
  tracker/tasks/task-43 - Forwarded-snapshot-id-user-mentions-unresolved-rawMentionedUsers-….md
Due: none

docs(backlog): split the embed URL divergence out of task-667 as task-714
  tracker/tasks/task-667 - Embed-image-descriptions-render-detached-from-the-embed-they-came-from.md
  tracker/tasks/task-714 - Embed-XML-emits-the-original-image-URL-while-the-vision-path-fetches-the-proxy-URL.md
Due: none

Path conditions:
  ai-worker: any of: services/ai-worker/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  api-gateway: any of: services/api-gateway/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  bot-client: any of: services/bot-client/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  common-types: any of: packages/common-types/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  integration: any of: services/, packages/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
