Repository lbds137/tzurot: changes, and which Codecov flags are due for each by the changed paths.
All: ai-worker, api-gateway, bot-client, common-types, integration

docs(backlog): close TASK-991 on the merged foreign-persona archive fix
  tracker/tasks/task-991 - Cross-persona-memory-notes-render-under-the-first-person-archive-framing.md
Due: none

fix(ai-worker): render reference and quote timestamps in the user's zone
  services/ai-worker/src/jobs/utils/conversationUtils.test.ts
  services/ai-worker/src/jobs/utils/conversationUtils.ts
  services/ai-worker/src/jobs/utils/xmlMetadataFormatters.ts
  services/ai-worker/src/services/ConversationInputProcessor.test.ts
  services/ai-worker/src/services/ConversationInputProcessor.ts
  services/ai-worker/src/services/ReferencedMessageFormatter.test.ts
  services/ai-worker/src/services/ReferencedMessageFormatter.ts
  services/ai-worker/src/services/prompt/storedReference.test.ts
  services/ai-worker/src/services/prompt/storedReference.ts
Due: ai-worker, integration

docs(backlog): file TASK-981 for undetectable verifier-redeploy state in staged rotation
  tracker/tasks/task-981 - Staged-rotation-cannot-tell-whether-the-verifier-actually-redeployed-so-an-interrupted-stage-1-reads-as-a-normal-open-window.md
Due: none

docs(backlog): record the dependabot merges and sweep the max-params premise
  backlog/now.md
Due: none

docs(backlog): correct the fallback-footer premise on owner report
  tracker/tasks/task-988 - Footer-stopped-signalling-a-fallback-when-it-lands-on-the-same-model-id.md
  tracker/tasks/task-989 - Fallback-events-reach-the-Discord-log-channel-only-some-of-the-time.md
Due: none

docs: no manual secret rotation — TASK-963 leads the Opus lane and its first prod run rotates
  CURRENT.md
  backlog/now.md
  tracker/tasks/task-963 - Rotate-service-secrets-end-to-end-from-the-CLI-generate-locally-write-to-Railway-never-print-the-value.md
Due: none

docs(backlog): file TASK-980 for the undetectable service-level variable override
  tracker/tasks/task-980 - secrets-rotate-env-cannot-see-a-service-level-override-of-the-rotated-name-and-reports-it-as-rotated.md
Due: none

chore(skills): refit session mining to two lenses — owner friction plus the agent-side record
  .claude/skills/README.md
  .claude/skills/tzurot-session-mining/SKILL.md
  .claude/skills/tzurot-usage-audit/SKILL.md
Due: none

docs(backlog): stamp session-mining and close TASK-977 on the merged guard
  backlog/cadence-ledger.json
  tracker/tasks/task-977 - A-pgrep-f-pattern-in-a-WAIT-or-GUARD-condition-matches-the-shell-evaluating-it.md
Due: none

docs(backlog): record the railway schema probe answering TASK-963's redeploy question
  tracker/tasks/task-963 - Rotate-service-secrets-end-to-end-from-the-CLI-generate-locally-write-to-Railway-never-print-the-value.md
Due: none

docs(backlog): refresh the beta.225 resume point and honest ledger
  CURRENT.md
Due: none

fix(tooling): write _PREVIOUS where the verifier can actually read it
  packages/tooling/src/secrets/rotate-env-stage-output.test.ts
  packages/tooling/src/secrets/rotate-env-stage-output.ts
  packages/tooling/src/secrets/rotate-env-stages.test.ts
  packages/tooling/src/secrets/rotate-env-stages.ts
  packages/tooling/src/secrets/rotate-env-window.test.ts
  packages/tooling/src/secrets/rotate-env-window.ts
Due: integration

chore(backlog): file the two fallback-visibility defects seen in production
  tracker/tasks/task-988 - Footer-stopped-signalling-a-fallback-when-it-lands-on-the-same-model-id.md
  tracker/tasks/task-989 - Fallback-events-reach-the-Discord-log-channel-only-some-of-the-time.md
Due: none

fix(ai-worker): attribute shared-LTM facts to their authoring personality
  docs/intent/memory-archive/memory-archive-specs.md
  services/ai-worker/src/services/ContentBudgetManager.test.ts
  services/ai-worker/src/services/ContentBudgetManager.ts
  services/ai-worker/src/services/ConversationalRAGTypes.ts
  services/ai-worker/src/services/FactRetriever.test.ts
  services/ai-worker/src/services/PromptBuilder.test.ts
  services/ai-worker/src/services/PromptBuilder.ts
  services/ai-worker/src/services/eval/legacyPromptAssembly.ts
  services/ai-worker/src/services/extraction/FactExtractionService.test.ts
  services/ai-worker/src/services/extraction/FactStore.component.test.ts
  services/ai-worker/src/services/extraction/FactStore.ts
  services/ai-worker/src/services/factBudget.test.ts
  services/ai-worker/src/services/factRetrievalHelper.test.ts
  services/ai-worker/src/services/factRetrievalHelper.ts
  services/ai-worker/src/services/prompt/MemoryFormatter.test.ts
  services/ai-worker/src/services/prompt/MemoryFormatter.ts
Due: ai-worker, integration

docs(backlog): file TASK-991 — foreign-persona archive notes render as the personality's own
  tracker/tasks/task-991 - Cross-persona-memory-notes-render-under-the-first-person-archive-framing.md
Due: none

docs: beta.224 cut — the beta.225 plan on the board and the CURRENT.md handoff for the Opus switch
  CURRENT.md
  backlog/now.md
Due: none

docs(backlog): close TASK-985 and the whole timezone cluster
  backlog/now.md
  tracker/tasks/task-985 - Timezone-picker-the-offset-labels-are-DST-blind-and-a-utc-query-matches-every-option.md
Due: none

chore(backlog): file the mnemos link for a memory-overhaul evaluation
  tracker/tasks/task-986 - Evaluate-mnemos-as-input-to-the-memory-overhaul.md
Due: none

fix(api-gateway): purge stops writing the persona-global context epoch
  docs/guides/getting-started.md
  services/api-gateway/src/routes/user/history.test.ts
  services/api-gateway/src/routes/user/history.ts
  services/bot-client/command-manifest.json
  services/bot-client/src/commands/history/clear.test.ts
  services/bot-client/src/commands/history/clear.ts
  services/bot-client/src/commands/history/index.ts
  services/bot-client/src/handlers/__snapshots__/CommandHandler.component.test.ts.snap
Due: api-gateway, bot-client, integration

docs(backlog): record the owner-approved claude-workflow main-cut and dependabot sequence
  backlog/now.md
Due: none

docs(backlog): record the railway api probe answering TASK-963 and correcting TASK-62
  tracker/tasks/task-62 - Railway-ops-tooling.md
  tracker/tasks/task-963 - Rotate-service-secrets-end-to-end-from-the-CLI-generate-locally-write-to-Railway-never-print-the-value.md
Due: none

docs(backlog): schedule the timezone fix into beta.225 and record PR 2427
  backlog/now.md
Due: none

docs(backlog): record the dev rotation result and TASK-982 as a cut blocker
  backlog/now.md
Due: none

fix(tooling): scope railway api tokens per env and fix the graphql auth header
  .claude/skills/tzurot-deployment/SKILL.md
  .env.example
  docs/reference/RAILWAY_CLI_REFERENCE.md
  docs/reference/deployment/RAILWAY_OPERATIONS.md
  packages/tooling/src/deployment/railway-api.test.ts
  packages/tooling/src/deployment/railway-api.ts
  packages/tooling/src/deployment/var-delete.test.ts
  packages/tooling/src/deployment/var-delete.ts
  packages/tooling/src/deployment/var-delete.wiring.test.ts
Due: integration

docs(backlog): correct TASK-976 to a three-stage rotation and name the value read
  tracker/tasks/task-976 - Dual-secret-acceptance-for-INTERNAL_SERVICE_SECRET-api-gateway-accepts-current-or-previous-so-rotation-has-no-401-window.md
Due: none

docs(backlog): file TASK-982 for the staged rotation inheritance defect
  tracker/tasks/task-982 - Staged-rotation-writes-_PREVIOUS-where-the-verifier-cannot-inherit-it-so-stage-1-opens-the-full-401-window.md
Due: none

feat(tooling): add secrets:rotate-env for shared railway secret rotation
  .claude/rules/05-tooling.md
  .claude/skills/tzurot-deployment/SKILL.md
  docs/reference/tooling/OPS_CLI_REFERENCE.md
  packages/tooling/src/audits/check-claude-content-refs.test.ts
  packages/tooling/src/commands/secrets.test.ts
  packages/tooling/src/commands/secrets.ts
  packages/tooling/src/deployment/railway-api.test.ts
  packages/tooling/src/deployment/railway-api.ts
  packages/tooling/src/deployment/railway-status.test.ts
  packages/tooling/src/deployment/railway-status.ts
  packages/tooling/src/secrets/rotate-env-secret.test.ts
  packages/tooling/src/secrets/rotate-env-secret.ts
Due: integration

docs(backlog): record the completed dev rotation on TASK-982
  tracker/tasks/task-982 - Staged-rotation-writes-_PREVIOUS-where-the-verifier-cannot-inherit-it-so-stage-1-opens-the-full-401-window.md
Due: none

docs(backlog): file TASK-992 and correct TASK-991's facts-block claim
  tracker/tasks/task-991 - Cross-persona-memory-notes-render-under-the-first-person-archive-framing.md
  tracker/tasks/task-992 - Shared-LTM-facts-from-other-personalities-render-as-the-responding-personality.md
Due: none

docs(backlog): correct the dead railway token names on TASK-62 and file TASK-975
  tracker/tasks/task-62 - Railway-ops-tooling.md
  tracker/tasks/task-975 - Tooling-has-three-named-types-plus-nine-inline-copies-of-the-same-dev-prod-union.md
Due: none

docs(backlog): record the TASK-951 reader sweep and its two judgment calls
  tracker/tasks/task-951 - Guard-.env.example-key-set-must-match-.env-values-blank-with-a-one-time-drift-sweep.md
Due: none

docs(backlog): close TASK-992 and TASK-974, sweep the archive design doc for #2439/#2440
  backlog/now.md
  docs/intent/memory-archive/memory-archive-design.md
  tracker/tasks/task-974 - retrieveFactsForPrompt-declares-FactForPrompt-but-returns-SimilarFact-so-extra-fields-ride-structurally.md
  tracker/tasks/task-992 - Shared-LTM-facts-from-other-personalities-render-as-the-responding-personality.md
Due: none

fix(ai-worker): reserve prompt fact slots for locked, corrected, and address facts
  services/ai-worker/src/services/FactRetriever.test.ts
  services/ai-worker/src/services/FactRetriever.ts
  services/ai-worker/src/services/extraction/FactStore.component.test.ts
  services/ai-worker/src/services/extraction/FactStore.ts
  services/ai-worker/src/services/factRetrievalHelper.test.ts
  services/ai-worker/src/services/factRetrievalHelper.ts
Due: ai-worker, integration

docs(backlog): correct the TASK-951 reader sweep before its build
  tracker/tasks/task-951 - Guard-.env.example-key-set-must-match-.env-values-blank-with-a-one-time-drift-sweep.md
Due: none

docs(backlog): close TASK-966, #2420 merged into the beta.225 range
  backlog/now.md
  tracker/tasks/task-966 - A-channel-scoped-history-purge-writes-a-persona-global-context-epoch-silently-emptying-cross-channel-history-everywhere.md
Due: none

docs(backlog): file TASK-976 dual-secret acceptance and schedule it in beta.225
  backlog/now.md
  tracker/tasks/task-963 - Rotate-service-secrets-end-to-end-from-the-CLI-generate-locally-write-to-Railway-never-print-the-value.md
  tracker/tasks/task-976 - Dual-secret-acceptance-for-INTERNAL_SERVICE_SECRET-api-gateway-accepts-current-or-previous-so-rotation-has-no-401-window.md
Due: none

docs: the redaction watch pulls prod logs to a file and greps, never prints raw lines
  CURRENT.md
Due: none

docs(backlog): file TASK-979 for the unbounded deferred-refs hook output
  tracker/tasks/task-979 - dev-deferred-refs-prints-~15-lines-per-touched-file-burying-the-commit-and-push-result.md
Due: none

chore: operationalize the 2026-09-16 mining run — two hooks, six rule sentences, tooling typecheck
  .claude/hooks/board-commit-branch-gate.probe.sh
  .claude/hooks/board-commit-branch-gate.sh
  .claude/hooks/develop-code-commit-guard.probe.sh
  .claude/hooks/develop-code-commit-guard.sh
  .claude/hooks/eslint-on-edit.sh
  .claude/hooks/self-matching-pattern-guard.probe.sh
  .claude/hooks/self-matching-pattern-guard.sh
  .claude/rules/00-critical.md
  .claude/rules/05-tooling.md
  .claude/rules/06-backlog.md
  .claude/settings.json
  packages/tooling/package.json
  packages/tooling/src/dev/check-hook-probes-registry.ts
  packages/tooling/src/dev/check-hook-probes.test.ts
  packages/tooling/src/dev/check-hook-probes.ts
  packages/tooling/src/dev/check-hook-wiring.test.ts
  packages/tooling/src/dev/check-hook-wiring.ts
  packages/tooling/tsconfig.spec.json
  tracker/docs/doc-69 - doc-64-Phase-0-portability-inventory-rules-hooks-skills-ops-root-surfaces.md
  tracker/docs/doc-91 - Idea-Hook-noise-and-latency-tuning-knobs.md
  tracker/tasks/task-458 - PostToolUse-hook-output-may-never-reach-the-agent-so-several-documented-enforcement-hooks-are-inert.md
  tracker/tasks/task-647 - Ban-regex-XML-HTML-tag-stripping-at-lint-time-not-just-in-a-rule.md
  tracker/tasks/task-977 - A-pgrep-f-pattern-in-a-WAIT-or-GUARD-condition-matches-the-shell-evaluating-it.md
  tracker/tasks/task-984 - packages-tooling-declares-no-typecheck-script-so-pnpm-typecheck-silently-skips-the-whole-package.md
Due: integration

docs(backlog): file TASK-973, no EARS spec entry for reserved-fact behavior
  tracker/tasks/task-973 - Reserved-fact-slot-behavior-has-no-EARS-spec-entry-in-the-memory-archive-intent-specs.md
Due: none

Path conditions:
  ai-worker: any of: services/ai-worker/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  api-gateway: any of: services/api-gateway/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  bot-client: any of: services/bot-client/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  common-types: any of: packages/common-types/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  integration: any of: services/, packages/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
