Repository lbds137/tzurot: changes, and which Codecov flags are due for each by the changed paths.
All: ai-worker, api-gateway, bot-client, common-types, integration

fix(tooling): premigrate exempts destructive DDL on same-file-created tables
  packages/tooling/src/release/premigrate.test.ts
  packages/tooling/src/release/premigrate.ts
Due: integration

feat(bot-client): definition-visibility toggle + private-card rendering
  services/bot-client/src/commands/character/api.test.ts
  services/bot-client/src/commands/character/api.ts
  services/bot-client/src/commands/character/browse.test.ts
  services/bot-client/src/commands/character/browse.ts
  services/bot-client/src/commands/character/characterTypes.ts
  services/bot-client/src/commands/character/config.test.ts
  services/bot-client/src/commands/character/config.ts
  services/bot-client/src/commands/character/create.test.ts
  services/bot-client/src/commands/character/dashboard.test.ts
  services/bot-client/src/commands/character/dashboardActions.test.ts
  services/bot-client/src/commands/character/dashboardActions.ts
  services/bot-client/src/commands/character/sections.test.ts
  services/bot-client/src/commands/character/view.test.ts
  services/bot-client/src/commands/character/view.ts
Due: bot-client, integration

docs(docs): beta.153 shipped — release reset + persona-doc follow-up
  CURRENT.md
  backlog/cold/follow-ups.md
Due: none

docs(common-types): update escapeXmlContent examples to current tags
  packages/common-types/src/utils/promptSanitizer.ts
Due: common-types, integration

fix(api-gateway): admin create route stores + auto-enables voice reference
  services/api-gateway/src/routes/admin/createPersonality.test.ts
  services/api-gateway/src/routes/admin/createPersonality.ts
Due: api-gateway, integration

fix(tooling): guard:prompt-tags scans unconditionally + pins EmbedParser escaping
  packages/common-types/src/utils/promptSanitizer.ts
  packages/tooling/src/dev/check-prompt-tags.test.ts
  packages/tooling/src/dev/check-prompt-tags.ts
  services/bot-client/src/utils/EmbedParser.test.ts
Due: common-types, integration

feat(bot-client): definitionPublic import/export round-trip + customFields export fix
  backlog/cold/follow-ups.md
  packages/common-types/src/schemas/api/personality.test.ts
  packages/common-types/src/schemas/api/personality.ts
  packages/test-factories/src/personality.ts
  services/api-gateway/src/routes/user/personality/formatters.ts
  services/bot-client/src/commands/character/export.test.ts
  services/bot-client/src/commands/character/export.ts
  services/bot-client/src/commands/character/import.test.ts
  services/bot-client/src/commands/character/import.ts
Due: api-gateway, bot-client, common-types, integration

docs(docs): definition-privacy epic Part 1 shipped — board sweep + follow-ups
  CURRENT.md
  backlog/cold/follow-ups.md
  backlog/cold/ideas.md
Due: none

docs(backlog): mark definition-privacy epic active (PR1 #1546 up, Part 2 deferred)
  backlog/cold/ideas.md
Due: none

docs(docs): beta.154 shipped — release reset, next goal UX boulder Phase 1
  CURRENT.md
  backlog/cold/follow-ups.md
Due: none

docs(backlog): file per-participant timezone awareness (owner question, grounded)
  backlog/cold/ideas.md
Due: none

feat(bot-client): ux/catalog message layer — catalog, classifier, renderer, ratchet
  .dependency-cruiser.cjs
  .github/baselines/ux-literals-baseline.json
  .github/workflows/ci.yml
  package.json
  packages/clients/src/clients/resultHelpers.ts
  packages/tooling/src/audits/audit-tool-registry.ts
  packages/tooling/src/audits/canary.test.ts
  packages/tooling/src/audits/ux-literals-check.WHY.md
  packages/tooling/src/audits/ux-literals-check.test.ts
  packages/tooling/src/audits/ux-literals-check.ts
  packages/tooling/src/commands/guard.ts
  packages/tooling/test-fixtures/audit-canaries/ux-literals/README.md
  packages/tooling/test-fixtures/audit-canaries/ux-literals/services/bot-client/src/commands/fake/violations.ts
  services/bot-client/src/handlers/CommandHandler.test.ts
  services/bot-client/src/handlers/CommandHandler.ts
  services/bot-client/src/utils/dashboard/saveError.test.ts
  services/bot-client/src/utils/dashboard/saveError.ts
  services/bot-client/src/ux/catalog/catalog.test.ts
  services/bot-client/src/ux/catalog/catalog.ts
  services/bot-client/src/ux/catalog/classify.test.ts
  services/bot-client/src/ux/catalog/classify.ts
  services/bot-client/src/ux/catalog/types.ts
  services/bot-client/src/ux/render/render.test.ts
  services/bot-client/src/ux/render/render.ts
  services/bot-client/src/ux/render/reply.test.ts
  services/bot-client/src/ux/render/reply.ts
Due: bot-client, integration

docs(backlog): mark ux theme phase 1 in progress with five-pr train map
  backlog/cold/ideas.md
  backlog/cold/themes/platform-portable-ux-layer.md
Due: none

refactor(bot-client): migrate messaging substrate onto ux/catalog
  .github/baselines/ux-literals-baseline.json
  services/bot-client/src/commands/character/api.ts
  services/bot-client/src/commands/character/dashboard.test.ts
  services/bot-client/src/commands/memory/batchDelete.test.ts
  services/bot-client/src/commands/persona/api.test.ts
  services/bot-client/src/commands/persona/api.ts
  services/bot-client/src/commands/persona/dashboard.test.ts
  services/bot-client/src/commands/persona/dashboard.ts
  services/bot-client/src/commands/preset/api.test.ts
  services/bot-client/src/commands/preset/api.ts
  services/bot-client/src/commands/preset/create.test.ts
  services/bot-client/src/commands/preset/create.ts
  services/bot-client/src/commands/preset/dashboard.test.ts
  services/bot-client/src/commands/preset/dashboardButtons.ts
  services/bot-client/src/services/PersonalityMessageHandler.test.ts
  services/bot-client/src/services/PersonalityMessageHandler.ts
  services/bot-client/src/utils/commandHelpers.test.ts
  services/bot-client/src/utils/commandHelpers.ts
  services/bot-client/src/utils/dashboard/messages.ts
  services/bot-client/src/utils/dashboard/replyError.ts
  services/bot-client/src/utils/dashboard/saveError.test.ts
  services/bot-client/src/utils/dashboard/saveError.ts
  services/bot-client/src/ux/catalog/catalog.test.ts
  services/bot-client/src/ux/catalog/catalog.ts
  services/bot-client/src/ux/catalog/classify.test.ts
  services/bot-client/src/ux/catalog/classify.ts
  services/bot-client/src/ux/render/render.test.ts
  services/bot-client/src/ux/render/reply.ts
Due: bot-client, integration

docs(backlog): file first-fallback footer breadcrumb gap (prod, diagnosed)
  backlog/now.md
Due: none

refactor(bot-client): convert Shape-B wrappers to honest-absence contracts
  backlog/cold/follow-ups.md
  services/bot-client/src/commands/admin/settings.test.ts
  services/bot-client/src/commands/admin/settings.ts
  services/bot-client/src/commands/character/api.ts
  services/bot-client/src/commands/character/view.ts
  services/bot-client/src/commands/memory/detail.test.ts
  services/bot-client/src/commands/memory/detail.ts
  services/bot-client/src/commands/memory/detailApi.test.ts
  services/bot-client/src/commands/memory/detailApi.ts
  services/bot-client/src/commands/memory/detailModals.test.ts
  services/bot-client/src/commands/memory/detailModals.ts
  services/bot-client/src/ux/catalog/classify.test.ts
  services/bot-client/src/ux/catalog/classify.ts
  services/bot-client/src/ux/render/reply.test.ts
  services/bot-client/src/ux/render/reply.ts
Due: bot-client, integration

fix(ai-worker): announce the FIRST z.ai fallback in the response footer
  services/ai-worker/src/jobs/handlers/pipeline/steps/GenerationStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/GenerationStep.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/autoPromotionFallback.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/autoPromotionFallback.ts
Due: ai-worker, integration

docs(backlog): remove shipped footer-breadcrumb entry (#1553)
  backlog/now.md
Due: none

docs(repo): update current.md with ux phase 1 train status
  CURRENT.md
Due: none

refactor(bot-client): sweep character avatar/voice/view/dashboard onto catalog
  services/bot-client/src/commands/character/avatar.test.ts
  services/bot-client/src/commands/character/avatar.ts
  services/bot-client/src/commands/character/characterDashboardShared.ts
  services/bot-client/src/commands/character/view.test.ts
  services/bot-client/src/commands/character/view.ts
  services/bot-client/src/commands/character/voice.test.ts
  services/bot-client/src/commands/character/voice.ts
Due: bot-client, integration

refactor(bot-client): sweep character create/export/import onto catalog
  .github/baselines/ux-literals-baseline.json
  services/bot-client/src/commands/character/avatar.test.ts
  services/bot-client/src/commands/character/avatar.ts
  services/bot-client/src/commands/character/characterDashboardShared.test.ts
  services/bot-client/src/commands/character/characterDashboardShared.ts
  services/bot-client/src/commands/character/create.test.ts
  services/bot-client/src/commands/character/create.ts
  services/bot-client/src/commands/character/export.test.ts
  services/bot-client/src/commands/character/export.ts
  services/bot-client/src/commands/character/import.test.ts
  services/bot-client/src/commands/character/import.ts
  services/bot-client/src/commands/character/overrides.test.ts
  services/bot-client/src/commands/character/settings.test.ts
  services/bot-client/src/commands/character/view.ts
  services/bot-client/src/commands/character/voice.test.ts
  services/bot-client/src/commands/character/voice.ts
Due: bot-client, integration

docs(backlog): d1 merged — theme table, follow-up riders, handoff state
  CURRENT.md
  backlog/cold/follow-ups.md
  backlog/cold/themes/platform-portable-ux-layer.md
Due: none

docs(backlog): d2 merged — theme table + handoff state
  CURRENT.md
  backlog/cold/themes/platform-portable-ux-layer.md
Due: none

docs(backlog): file 429-storm-masked-as-timeout prod issue (diagnosed)
  backlog/now.md
Due: none

fix(ai-worker): stop free-pool 429 storms masking as timeout past the quota retarget
  services/ai-worker/src/services/LLMInvoker.test.ts
  services/ai-worker/src/services/LLMInvoker.ts
  services/ai-worker/src/services/ModelFactory.test.ts
  services/ai-worker/src/services/ModelFactory.ts
  services/ai-worker/src/utils/retry.test.ts
  services/ai-worker/src/utils/retry.ts
Due: ai-worker, integration

docs(backlog): 429-storm fix shipped (#1556) — remove entry, file metrics watch
  backlog/cold/follow-ups.md
  backlog/now.md
Due: none

refactor(bot-client): sweep memory family onto ux/catalog (UX P1 PR-D3a)
  .github/baselines/ux-literals-baseline.json
  backlog/cold/follow-ups.md
  services/bot-client/src/commands/memory/batchDelete.test.ts
  services/bot-client/src/commands/memory/batchDelete.ts
  services/bot-client/src/commands/memory/browse.test.ts
  services/bot-client/src/commands/memory/browse.ts
  services/bot-client/src/commands/memory/focus.test.ts
  services/bot-client/src/commands/memory/focus.ts
  services/bot-client/src/commands/memory/incognito.test.ts
  services/bot-client/src/commands/memory/incognito.ts
  services/bot-client/src/commands/memory/interactionHandlers.ts
  services/bot-client/src/commands/memory/purge.test.ts
  services/bot-client/src/commands/memory/purge.ts
  services/bot-client/src/commands/memory/resolveHelpers.test.ts
  services/bot-client/src/commands/memory/resolveHelpers.ts
  services/bot-client/src/commands/memory/search.test.ts
  services/bot-client/src/commands/memory/search.ts
  services/bot-client/src/commands/memory/stats.test.ts
  services/bot-client/src/commands/memory/stats.ts
Due: bot-client, integration

docs(backlog): d3a merged — theme table, purge-handshake follow-up, handoff
  CURRENT.md
  backlog/cold/follow-ups.md
  backlog/cold/themes/platform-portable-ux-layer.md
Due: none

refactor(bot-client): sweep settings family onto ux/catalog (UX P1 PR-D3b)
  .github/baselines/ux-literals-baseline.json
  services/bot-client/src/commands/settings/apikey/modal.test.ts
  services/bot-client/src/commands/settings/apikey/modal.ts
  services/bot-client/src/commands/settings/apikey/remove.test.ts
  services/bot-client/src/commands/settings/apikey/remove.ts
  services/bot-client/src/commands/settings/defaults/edit.test.ts
  services/bot-client/src/commands/settings/defaults/edit.ts
  services/bot-client/src/commands/settings/index.ts
  services/bot-client/src/ux/catalog/catalog.ts
Due: bot-client, integration

Path conditions:
  ai-worker: any of: services/ai-worker/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  api-gateway: any of: services/api-gateway/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  bot-client: any of: services/bot-client/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  common-types: any of: packages/common-types/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  integration: any of: services/, packages/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
