Repository lbds137/tzurot: changes, and which Codecov flags are due for each by the changed paths.
All: ai-worker, api-gateway, bot-client, common-types, integration

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 2%
        informational: false
    patch:
      default:
        target: 80%
        threshold: 5%
        informational: false

comment:
  layout: 'reach,diff,flags,tree,files'
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flag_management:
  default_rules:
    carryforward: true

flags:
  ai-worker:
    paths:
      - services/ai-worker/
  api-gateway:
    paths:
      - services/api-gateway/
  bot-client:
    paths:
      - services/bot-client/
  common-types:
    paths:
      - packages/common-types/
  # Integration tests cover all services
  integration:
    paths:
      - services/
      - packages/

ignore:
  - '**/*.test.ts'
  - '**/*.spec.ts'
  - '**/dist/**'
  - '**/node_modules/**'
  - 'scripts/**'
  - 'tzurot-legacy/**'

refactor(bot-client): discriminated ParsedBrowseCustomId for includeSort:false
  BACKLOG.md
  services/bot-client/src/utils/browse/browse.test.ts
  services/bot-client/src/utils/browse/customIdFactory.ts
  services/bot-client/src/utils/browse/types.ts
Due: bot-client, integration

refactor(bot-client): migrate persona/browse + fix duplicate-ID test factory bug
  packages/common-types/src/factories/persona.ts
  packages/common-types/src/factories/personality.ts
  services/bot-client/src/commands/persona/browse.ts
Due: bot-client, common-types, integration

test(bot-client): fix typecheck:spec errors in new dashboard tests
  services/bot-client/src/utils/dashboard/genericSelectMenuHandler.test.ts
  services/bot-client/src/utils/dashboard/settings/settingsUpdateFactory.test.ts
Due: none

refactor(bot-client): address third PR review round
  services/bot-client/src/commands/deny/browse.ts
  services/bot-client/src/utils/browse/browse.test.ts
  services/bot-client/src/utils/browse/footer.test.ts
  services/bot-client/src/utils/browse/footer.ts
Due: bot-client, integration

test(bot-client): protect SESSION_INDEPENDENT_ACTIONS invariant at router layer
  services/bot-client/src/commands/memory/detailActionRouter.test.ts
Due: none

refactor(bot-client): address second PR review round
  services/bot-client/src/commands/shapes/browse.ts
  services/bot-client/src/utils/browse/browse.test.ts
  services/bot-client/src/utils/browse/footer.ts
Due: bot-client, integration

chore: knip cleanup — remove dead exports, stale deps, and config cruft
  knip.json
  package.json
  packages/tooling/src/utils/env-runner.ts
  pnpm-lock.yaml
  services/ai-worker/src/services/PgvectorMemoryAdapter.ts
  services/ai-worker/src/services/RAGUtils.ts
  services/ai-worker/src/services/prompt/QuoteFormatter.ts
  services/api-gateway/src/routes/user/personality/helpers.ts
  services/bot-client/src/utils/dashboard/settings/index.ts
  services/bot-client/src/utils/dashboard/settings/settingsConfig.ts
Due: ai-worker, api-gateway, bot-client, integration

refactor(bot-client): delete dead ListContext + extract empty-page fallback
  services/bot-client/src/commands/memory/browse.test.ts
  services/bot-client/src/commands/memory/browse.ts
  services/bot-client/src/commands/memory/browseSession.test.ts
  services/bot-client/src/commands/memory/browseSession.ts
  services/bot-client/src/commands/memory/detail.test.ts
  services/bot-client/src/commands/memory/detail.ts
  services/bot-client/src/commands/memory/detailApi.ts
  services/bot-client/src/commands/memory/interactionHandlers.test.ts
  services/bot-client/src/commands/memory/interactionHandlers.ts
  services/bot-client/src/commands/memory/search.test.ts
  services/bot-client/src/commands/memory/search.ts
Due: bot-client, integration

refactor(bot-client): migrate admin/servers to shared customId factory
  services/bot-client/src/commands/admin/index.ts
  services/bot-client/src/commands/admin/servers.test.ts
  services/bot-client/src/commands/admin/servers.ts
  services/bot-client/src/utils/browse/browse.test.ts
  services/bot-client/src/utils/browse/customIdFactory.ts
  services/bot-client/src/utils/browse/types.ts
Due: bot-client, integration

test(bot-client): protect SESSION_INDEPENDENT_ACTIONS invariant by name
  .claude/rules/04-discord.md
  services/bot-client/src/commands/memory/interactionHandlers.test.ts
Due: none

fix(tooling): increase ts-morph test timeout for slow CI runners (15s→30s)
  packages/tooling/src/xray/file-parser.test.ts
Due: none

feat(bot-client): extract buildBrowseSelectMenu factory + migrate shapes
  services/bot-client/src/commands/shapes/browse.ts
  services/bot-client/src/utils/browse/index.ts
  services/bot-client/src/utils/browse/selectMenuBuilder.test.ts
  services/bot-client/src/utils/browse/selectMenuBuilder.ts
Due: bot-client, integration

refactor(bot-client): extract settings update handler factory
  services/bot-client/src/commands/character/overrides.ts
  services/bot-client/src/commands/character/settings.ts
  services/bot-client/src/utils/dashboard/settings/index.ts
  services/bot-client/src/utils/dashboard/settings/settingsUpdateFactory.test.ts
  services/bot-client/src/utils/dashboard/settings/settingsUpdateFactory.ts
Due: bot-client, integration

fix(api-gateway): address PR #769 review — context logging + dead code
  services/api-gateway/src/routes/user/channel/configOverrides.ts
  services/api-gateway/src/routes/user/config-overrides.ts
  services/api-gateway/src/routes/user/memoryHelpers.ts
  services/api-gateway/src/routes/user/model-override.ts
  services/api-gateway/src/routes/user/personality-config-overrides.ts
  services/api-gateway/src/utils/configOverrideHelpers.test.ts
  services/api-gateway/src/utils/configOverrideHelpers.ts
Due: api-gateway, integration

test(bot-client): add select menu routing tests for admin/index
  services/bot-client/src/commands/admin/index.test.ts
Due: none

fix(bot-client): preserve preferTextSearch across pagination
  services/bot-client/src/commands/memory/browse.ts
  services/bot-client/src/commands/memory/browseSession.ts
  services/bot-client/src/commands/memory/interactionHandlers.ts
  services/bot-client/src/commands/memory/search.test.ts
  services/bot-client/src/commands/memory/search.ts
Due: bot-client, integration

refactor(bot-client): migrate character + inspect footers (API stress test)
  services/bot-client/src/commands/character/browse.ts
  services/bot-client/src/commands/inspect/browse.ts
Due: bot-client, integration

refactor(bot-client): extract createSettingsCommandHandlers factory
  services/bot-client/src/commands/channel/settings.ts
  services/bot-client/src/commands/character/overrides.ts
  services/bot-client/src/commands/character/settings.ts
  services/bot-client/src/utils/dashboard/settings/createSettingsCommandHandlers.test.ts
  services/bot-client/src/utils/dashboard/settings/createSettingsCommandHandlers.ts
  services/bot-client/src/utils/dashboard/settings/index.ts
Due: bot-client, integration

docs: add out-of-scope tracking rule + character cap bug investigation
  .claude/rules/06-backlog.md
  BACKLOG.md
  scripts/src/db/survey-character-field-lengths.ts
Due: none

docs(repo): fill in DB survey results for character cap bug
  BACKLOG.md
Due: none

test(bot-client): add null-parse tests for select/modal factory handlers
  services/bot-client/src/utils/dashboard/settings/createSettingsCommandHandlers.test.ts
Due: none

refactor(api-gateway): extract shared user-resolution and LLM config validation helpers
  services/api-gateway/src/routes/admin/llm-config.ts
  services/api-gateway/src/routes/user/config-overrides.ts
  services/api-gateway/src/routes/user/llm-config.ts
  services/api-gateway/src/routes/user/model-override.ts
  services/api-gateway/src/routes/user/personality-config-overrides.ts
  services/api-gateway/src/routes/user/shapes/auth.ts
  services/api-gateway/src/routes/user/shapes/export.ts
  services/api-gateway/src/routes/user/shapes/import.ts
  services/api-gateway/src/routes/user/timezone.ts
  services/api-gateway/src/routes/wallet/setKey.ts
  services/api-gateway/src/utils/configOverrideHelpers.test.ts
  services/api-gateway/src/utils/configOverrideHelpers.ts
  services/api-gateway/src/utils/llmConfigValidation.test.ts
  services/api-gateway/src/utils/llmConfigValidation.ts
Due: api-gateway, integration

test(bot-client): address PR #778 review round 3 feedback
  BACKLOG.md
  scripts/src/db/survey-character-field-lengths.ts
  services/bot-client/src/utils/dashboard/settings/createSettingsCommandHandlers.test.ts
Due: none

test(api-gateway): add bot-user + model-validation null-path coverage for PR #779
  services/api-gateway/src/routes/admin/llm-config.test.ts
  services/api-gateway/src/routes/user/config-overrides.test.ts
  services/api-gateway/src/routes/user/llm-config.test.ts
  services/api-gateway/src/routes/user/model-override.test.ts
  services/api-gateway/src/routes/user/personality-config-overrides.test.ts
  services/api-gateway/src/routes/user/shapes/auth.test.ts
  services/api-gateway/src/routes/user/shapes/export.test.ts
  services/api-gateway/src/routes/user/shapes/import.test.ts
  services/api-gateway/src/routes/user/timezone.test.ts
  services/api-gateway/src/routes/wallet/setKey.test.ts
  services/api-gateway/src/utils/llmConfigValidation.test.ts
Due: none

docs(api-gateway): address PR #779 review round 2 — mock contract + JSDoc + nsfw rationale
  services/api-gateway/src/routes/user/llm-config.test.ts
  services/api-gateway/src/routes/user/nsfw.ts
  services/api-gateway/src/utils/llmConfigValidation.ts
Due: api-gateway, integration

docs(api-gateway): fix ValidateLlmConfigModelFieldsOptions JSDoc inaccuracy
  services/api-gateway/src/utils/llmConfigValidation.ts
Due: api-gateway, integration

docs: session 1 wrap-up — backlog additions + CURRENT update
  BACKLOG.md
  CURRENT.md
Due: none

docs(repo): address PR #780 review + add PR #779 non-blocking backlog item
  BACKLOG.md
Due: none

docs(repo): address PR #780 review round 3 + capture PR #779 round 4 concern
  BACKLOG.md
Due: none

docs(repo): fix channel rename Start block — wrong index file + missing test file
  BACKLOG.md
Due: none

docs(repo): retag configId item as [FIX] per PR #780 round 5 review
  BACKLOG.md
Due: none
