Repository lbds137/tzurot: changes, and which Codecov flags are due for each by the changed paths.
All: ai-worker, api-gateway, bot-client, common-types, integration

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 2%
        informational: false
    patch:
      default:
        target: 80%
        threshold: 5%
        informational: false

comment:
  layout: 'reach,diff,flags,tree,files'
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flag_management:
  default_rules:
    carryforward: true

flags:
  ai-worker:
    paths:
      - services/ai-worker/
  api-gateway:
    paths:
      - services/api-gateway/
  bot-client:
    paths:
      - services/bot-client/
  common-types:
    paths:
      - packages/common-types/
  # Integration tests cover all services
  integration:
    paths:
      - services/
      - packages/

ignore:
  - '**/*.test.ts'
  - '**/*.spec.ts'
  - '**/dist/**'
  - '**/node_modules/**'
  - 'scripts/**'
  - 'tzurot-legacy/**'

fix(ai-worker): don't surface the bot's own TTS audio in reply-target references
  packages/common-types/src/utils/referenceEnrichment.test.ts
  packages/common-types/src/utils/referenceEnrichment.ts
  services/ai-worker/src/services/context/referenceEnricher.test.ts
  services/ai-worker/src/services/context/referenceEnricher.ts
Due: ai-worker, common-types, integration

docs: record #1312 (bot TTS audio in refs) + Cluster B A/B shipped
  CURRENT.md
Due: none

refactor(common-types): remove the vestigial conversationHistory wire field
  packages/common-types/src/types/jobs.test.ts
  packages/common-types/src/types/jobs.ts
  packages/common-types/src/types/schemas/personality.ts
  packages/common-types/src/types/test/fixtures.ts
  services/ai-worker/src/jobs/handlers/LLMGenerationHandler.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/NormalizationStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/NormalizationStep.ts
  services/bot-client/src/services/MessageContextBuilder.test.ts
  services/bot-client/src/services/character/PersonalityChatManager.ts
  services/bot-client/src/types.ts
  services/bot-client/src/utils/gatewayServiceCalls.test.ts
  services/bot-client/src/utils/gatewayServiceCalls.ts
Due: ai-worker, bot-client, common-types, integration

docs(backlog): close out Batch C (#1313) — conversationHistory wire field removed
  CURRENT.md
  backlog/cold/epic-log.md
  backlog/cold/follow-ups.md
Due: none

feat(ai-worker): re-resolve aged-out extended-context voice transcripts
  packages/common-types/src/types/schemas/rawEnvelope.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/ContextStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/ContextStep.ts
  services/ai-worker/src/services/context/ContextAssembler.test.ts
  services/ai-worker/src/services/context/ContextAssembler.ts
  services/bot-client/src/services/DiscordChannelFetcher.test.ts
  services/bot-client/src/services/DiscordChannelFetcher.ts
  services/bot-client/src/services/channelFetcher/extendedContextAttachmentCollector.test.ts
  services/bot-client/src/services/channelFetcher/extendedContextAttachmentCollector.ts
  services/bot-client/src/services/channelFetcher/types.ts
  services/bot-client/src/services/contextBuilder/RawEnvelopeBuilder.ts
Due: ai-worker, bot-client, common-types, integration

docs(backlog): mark B6-#11 (extended-context voice re-derive) shipped via #1314
  CURRENT.md
  backlog/cold/epic-log.md
  backlog/cold/follow-ups.md
Due: none

fix(common-types): stable Discord attachment cache key for voice transcripts
  packages/common-types/src/constants/timing.ts
  packages/common-types/src/index.ts
  packages/common-types/src/services/VoiceTranscriptCache.test.ts
  packages/common-types/src/services/VoiceTranscriptCache.ts
  packages/common-types/src/utils/attachmentCacheKey.test.ts
  packages/common-types/src/utils/attachmentCacheKey.ts
  services/ai-worker/src/services/VisionDescriptionCache.ts
  services/bot-client/src/services/VoiceTranscriptionService.ts
Due: ai-worker, bot-client, common-types, integration

refactor(identity): bound resolver + capability caches via TTLCache
  packages/identity/src/identityProvisioning.int.test.ts
  packages/identity/src/resolvers/BaseConfigResolver.ts
  packages/identity/src/resolvers/PersonaResolver.test.ts
  packages/identity/src/resolvers/PersonaResolver.ts
  services/ai-worker/src/services/ModelCapabilityChecker.ts
Due: ai-worker, integration

ci: sync Claude review workflows to main (unblock PR claude-review)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

docs(skills): newest release is latest, not prerelease
  .claude/skills/tzurot-git-workflow/SKILL.md
Due: none

docs(backlog): correct 2.5d state — context-assembly cutover shipped, Prisma eviction remains
  backlog/active-epic.md
  backlog/now.md
Due: none

chore(deps): bump undici override to ^6.27.0 (clears 4 CVEs)
  package.json
  pnpm-lock.yaml
Due: none

docs: reset CURRENT.md for beta.135 + file post-release follow-ups
  CURRENT.md
  backlog/cold/follow-ups.md
Due: none

docs(backlog): drop CONTEXT_* env-var cleanup — done in both envs
  CURRENT.md
  backlog/cold/follow-ups.md
Due: none

refactor(bot-client): evict the voice-transcript DB read (2.5d Phase 3b)
  backlog/cold/follow-ups.md
  services/bot-client/src/handlers/MessageReferenceExtractor.test.ts
  services/bot-client/src/handlers/MessageReferenceExtractor.ts
  services/bot-client/src/handlers/references/TranscriptRetriever.test.ts
  services/bot-client/src/handlers/references/TranscriptRetriever.ts
  services/bot-client/src/services/MessageContextBuilder.ts
  services/bot-client/src/services/contextBuilder/ReferenceExtractor.test.ts
  services/bot-client/src/services/contextBuilder/ReferenceExtractor.ts
Due: bot-client, integration

docs(backlog): track PR #1283 cosmetic review nits for the pilot-audit sweep
  backlog/cold/follow-ups.md
Due: none

feat(api-gateway): add POST /internal/v1/routing-context endpoint
  packages/clients/src/clients/_generated/service-client.ts
  packages/clients/src/routes/internal.ts
  packages/common-types/src/index.ts
  packages/common-types/src/schemas/api/internal.test.ts
  packages/common-types/src/schemas/api/internal.ts
  packages/common-types/src/services/RoutingContextResolver.test.ts
  packages/common-types/src/services/RoutingContextResolver.ts
  packages/tooling/src/codegen/handler-paths.ts
  services/api-gateway/src/routes/_generated/mounts.ts
  services/api-gateway/src/routes/conformance/fixtures/internal.ts
  services/api-gateway/src/routes/internal/routingContextCreate.test.ts
  services/api-gateway/src/routes/internal/routingContextCreate.ts
Due: api-gateway, common-types, integration

refactor(bot-client): delete vestigial ReferenceEnrichmentService (2.5d Phase 3a)
  services/bot-client/src/composition.ts
  services/bot-client/src/index.ts
  services/bot-client/src/services/DiscordChannelFetcher.ts
  services/bot-client/src/services/MessageContextBuilder.ts
  services/bot-client/src/services/ReferenceEnrichmentService.test.ts
  services/bot-client/src/services/ReferenceEnrichmentService.ts
  services/bot-client/src/services/channelFetcher/types.ts
  services/bot-client/src/services/character/PersonalityChatManager.test.ts
  services/bot-client/src/services/character/PersonalityChatManager.ts
  services/bot-client/src/services/contextBuilder/UserContextResolver.test.ts
Due: bot-client, integration

fix(bot-client): weigh-in just reads the room — no empty-history gate (2.5d Phase 3b)
  backlog/cold/follow-ups.md
  services/bot-client/src/commands/character/chat.test.ts
  services/bot-client/src/commands/character/chat.ts
  services/bot-client/src/services/MessageContextBuilder.test.ts
  services/bot-client/src/services/MessageContextBuilder.ts
Due: bot-client, integration

feat(tooling): single-source test-tier taxonomy + enforcement seeds
  .claude/rules/02-code-standards.md
  .claude/skills/tzurot-testing/SKILL.md
  .github/workflows/ci.yml
  backlog/cold/follow-ups.md
  docs/reference/guides/TESTING.md
  package.json
  packages/tooling/src/audits/check-claude-content-refs.test.ts
  packages/tooling/src/commands/guard.ts
  packages/tooling/src/commands/test.ts
  packages/tooling/src/dev/check-test-taxonomy.test.ts
  packages/tooling/src/dev/check-test-taxonomy.ts
  packages/tooling/src/test/test-tiers.test.ts
  packages/tooling/src/test/test-tiers.ts
  packages/tooling/src/test/tier-report.test.ts
  packages/tooling/src/test/tier-report.ts
Due: integration

feat(bot-client): resolve the author via routing-context endpoint (2.5d Phase 2)
  packages/common-types/src/schemas/api/internal.test.ts
  packages/common-types/src/schemas/api/internal.ts
  services/api-gateway/src/routes/internal/routingContextCreate.test.ts
  services/bot-client/src/index.ts
  services/bot-client/src/services/MessageContextBuilder.test.ts
  services/bot-client/src/services/MessageContextBuilder.ts
  services/bot-client/src/services/contextBuilder/UserContextResolver.test.ts
  services/bot-client/src/services/contextBuilder/UserContextResolver.ts
Due: bot-client, common-types, integration

docs(backlog): cite Clemson/Fowler only for the test-pyramid taxonomy
  backlog/cold/themes/test-pyramid-coverage-audit.md
Due: none

docs(backlog): add enforcement design to the test-pyramid theme
  backlog/cold/themes/test-pyramid-coverage-audit.md
Due: none

refactor(bot-client): move cross-channel history to the worker (2.5d Phase 3b)
  services/bot-client/src/services/CrossChannelHistoryFetcher.test.ts
  services/bot-client/src/services/CrossChannelHistoryFetcher.ts
  services/bot-client/src/services/MessageContextBuilder.test.ts
  services/bot-client/src/services/MessageContextBuilder.ts
Due: bot-client, integration

docs(backlog): file Test-Pyramid Taxonomy + Methodical Coverage Audit theme
  backlog/cold/queue.md
  backlog/cold/themes/test-pyramid-coverage-audit.md
Due: none

docs(backlog): file routing-context schema-tightening for 2.5d Phase 2
  backlog/cold/follow-ups.md
Due: none

docs(backlog): drop routing-context schema fold-ins — shipped in #1279 (Phase 2)
  backlog/cold/follow-ups.md
Due: none

refactor(bot-client): remove dead ContextBuildResult.referencedMessages field
  backlog/cold/follow-ups.md
  services/bot-client/src/services/MessageContextBuilder.test.ts
  services/bot-client/src/services/MessageContextBuilder.ts
Due: bot-client, integration

docs(backlog): track dead ContextBuildResult.referencedMessages field for 3b
  backlog/cold/follow-ups.md
Due: none

docs(backlog): sequence a 2.5d-scoped pilot audit into the test-pyramid theme
  backlog/cold/themes/test-pyramid-coverage-audit.md
Due: none

docs(backlog): mark test-pyramid Phase 1 done (PR #1284 merged)
  backlog/cold/themes/test-pyramid-coverage-audit.md
Due: none

docs(backlog): file double routing-context round-trip follow-up (PR #1289)
  backlog/cold/follow-ups.md
Due: none

docs(backlog): drop shipped getChannelHistory-eviction follow-up (PR #1286)
  backlog/cold/follow-ups.md
Due: none

refactor(bot-client): strip vestigial user-mention Prisma resolution
  services/bot-client/src/index.ts
  services/bot-client/src/services/MentionResolver.test.ts
  services/bot-client/src/services/MentionResolver.ts
  services/bot-client/src/services/MentionResolverTypes.ts
  services/bot-client/src/services/MessageContextBuilder.test.ts
  services/bot-client/src/services/MessageContextBuilder.ts
  services/bot-client/src/services/contextBuilder/ReferenceExtractor.test.ts
  services/bot-client/src/services/contextBuilder/ReferenceExtractor.ts
Due: bot-client, integration

docs(backlog): mark Phase 2.5 (bot-client Prisma eviction) complete; PR-2p unblocked
  backlog/active-epic.md
Due: none
