Repository lbds137/tzurot: changes, and which Codecov flags are due for each by the changed paths.
All: ai-worker, api-gateway, bot-client, common-types, integration

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 2%
        informational: false
    patch:
      default:
        target: 80%
        threshold: 5%
        informational: false

comment:
  layout: 'reach,diff,flags,tree,files'
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flag_management:
  default_rules:
    carryforward: true

flags:
  ai-worker:
    paths:
      - services/ai-worker/
  api-gateway:
    paths:
      - services/api-gateway/
  bot-client:
    paths:
      - services/bot-client/
  common-types:
    paths:
      - packages/common-types/
  # Integration tests cover all services
  integration:
    paths:
      - services/
      - packages/

ignore:
  - '**/*.test.ts'
  - '**/*.spec.ts'
  - '**/dist/**'
  - '**/node_modules/**'
  - 'scripts/**'
  - 'tzurot-legacy/**'

refactor(bot-client): extract settings update handler factory
  services/bot-client/src/commands/character/overrides.ts
  services/bot-client/src/commands/character/settings.ts
  services/bot-client/src/utils/dashboard/settings/index.ts
  services/bot-client/src/utils/dashboard/settings/settingsUpdateFactory.test.ts
  services/bot-client/src/utils/dashboard/settings/settingsUpdateFactory.ts
Due: bot-client, integration

test(bot-client): fix typecheck:spec errors in new dashboard tests
  services/bot-client/src/utils/dashboard/genericSelectMenuHandler.test.ts
  services/bot-client/src/utils/dashboard/settings/settingsUpdateFactory.test.ts
Due: none

refactor(bot-client): migrate memory browse/search to router pattern
  services/bot-client/src/commands/memory/browse.test.ts
  services/bot-client/src/commands/memory/browse.ts
  services/bot-client/src/commands/memory/browseSession.test.ts
  services/bot-client/src/commands/memory/browseSession.ts
  services/bot-client/src/commands/memory/index.test.ts
  services/bot-client/src/commands/memory/index.ts
  services/bot-client/src/commands/memory/interactionHandlers.test.ts
  services/bot-client/src/commands/memory/interactionHandlers.ts
  services/bot-client/src/commands/memory/search.test.ts
  services/bot-client/src/commands/memory/search.ts
  services/bot-client/src/commands/memory/searchDetailActions.test.ts
  services/bot-client/src/commands/memory/searchDetailActions.ts
  services/bot-client/src/utils/activeCollectorRegistry.test.ts
  services/bot-client/src/utils/activeCollectorRegistry.ts
  services/bot-client/src/utils/paginationBuilder.test.ts
  services/bot-client/src/utils/paginationBuilder.ts
Due: bot-client, integration

fix(bot-client): address PR #771 review comments
  services/bot-client/src/commands/memory/browse.test.ts
  services/bot-client/src/commands/memory/browse.ts
  services/bot-client/src/commands/memory/search.test.ts
  services/bot-client/src/commands/memory/search.ts
Due: bot-client, integration

fix(bot-client): address PR #771 review round 2
  services/bot-client/src/commands/memory/browseSession.ts
  services/bot-client/src/commands/memory/interactionHandlers.test.ts
  services/bot-client/src/commands/memory/interactionHandlers.ts
Due: bot-client, integration

fix(bot-client): handleModal must acknowledge all interaction paths
  services/bot-client/src/commands/memory/browse.test.ts
  services/bot-client/src/commands/memory/interactionHandlers.test.ts
  services/bot-client/src/commands/memory/interactionHandlers.ts
  services/bot-client/src/commands/memory/search.test.ts
Due: bot-client, integration

refactor(bot-client): tighten MemoryListSession with discriminated union
  services/bot-client/src/commands/memory/browse.test.ts
  services/bot-client/src/commands/memory/browse.ts
  services/bot-client/src/commands/memory/browseSession.test.ts
  services/bot-client/src/commands/memory/browseSession.ts
  services/bot-client/src/commands/memory/search.test.ts
  services/bot-client/src/commands/memory/search.ts
Due: bot-client, integration

fix(bot-client): preserve preferTextSearch across pagination
  services/bot-client/src/commands/memory/browse.ts
  services/bot-client/src/commands/memory/browseSession.ts
  services/bot-client/src/commands/memory/interactionHandlers.ts
  services/bot-client/src/commands/memory/search.test.ts
  services/bot-client/src/commands/memory/search.ts
Due: bot-client, integration

fix(bot-client): wire up /memory search limit option
  services/bot-client/src/commands/memory/browseSession.test.ts
  services/bot-client/src/commands/memory/browseSession.ts
  services/bot-client/src/commands/memory/interactionHandlers.test.ts
  services/bot-client/src/commands/memory/interactionHandlers.ts
  services/bot-client/src/commands/memory/search.test.ts
  services/bot-client/src/commands/memory/search.ts
Due: bot-client, integration

docs(bot-client): document implicit contracts in memory browse/search
  services/bot-client/src/commands/memory/browse.ts
  services/bot-client/src/commands/memory/search.ts
Due: bot-client, integration

fix(bot-client): defer pagination interactions before session lookup
  services/bot-client/src/commands/memory/browse.test.ts
  services/bot-client/src/commands/memory/browse.ts
  services/bot-client/src/commands/memory/interactionHandlers.ts
  services/bot-client/src/commands/memory/search.test.ts
  services/bot-client/src/commands/memory/search.ts
Due: bot-client, integration

docs(bot-client): close contract gaps + formalize ack-first rule
  .claude/rules/04-discord.md
  services/bot-client/src/commands/memory/browse.ts
  services/bot-client/src/commands/memory/detailActionRouter.ts
  services/bot-client/src/commands/memory/search.ts
Due: bot-client, integration

refactor(bot-client): delete dead ListContext + extract empty-page fallback
  services/bot-client/src/commands/memory/browse.test.ts
  services/bot-client/src/commands/memory/browse.ts
  services/bot-client/src/commands/memory/browseSession.test.ts
  services/bot-client/src/commands/memory/browseSession.ts
  services/bot-client/src/commands/memory/detail.test.ts
  services/bot-client/src/commands/memory/detail.ts
  services/bot-client/src/commands/memory/detailApi.ts
  services/bot-client/src/commands/memory/interactionHandlers.test.ts
  services/bot-client/src/commands/memory/interactionHandlers.ts
  services/bot-client/src/commands/memory/search.test.ts
  services/bot-client/src/commands/memory/search.ts
Due: bot-client, integration

fix(bot-client): ack-first in handleButton session-dependent path
  .claude/rules/04-discord.md
  services/bot-client/src/commands/memory/detail.test.ts
  services/bot-client/src/commands/memory/detail.ts
  services/bot-client/src/commands/memory/detailActionRouter.test.ts
  services/bot-client/src/commands/memory/detailActionRouter.ts
  services/bot-client/src/commands/memory/interactionHandlers.test.ts
  services/bot-client/src/commands/memory/interactionHandlers.ts
Due: bot-client, integration

test(bot-client): protect SESSION_INDEPENDENT_ACTIONS invariant by name
  .claude/rules/04-discord.md
  services/bot-client/src/commands/memory/interactionHandlers.test.ts
Due: none

refactor(bot-client): narrow pagination guards + cleanup from PR #771 round 13
  .claude/rules/04-discord.md
  services/bot-client/src/commands/memory/browse.test.ts
  services/bot-client/src/commands/memory/browse.ts
  services/bot-client/src/commands/memory/resolveHelpers.ts
  services/bot-client/src/commands/memory/search.test.ts
  services/bot-client/src/commands/memory/search.ts
Due: bot-client, integration

test(bot-client): protect SESSION_INDEPENDENT_ACTIONS invariant at router layer
  services/bot-client/src/commands/memory/detailActionRouter.test.ts
Due: none

docs: add preset UX bugs to backlog inbox
  BACKLOG.md
Due: none

feat(bot-client): extract buildBrowseSelectMenu factory + migrate shapes
  services/bot-client/src/commands/shapes/browse.ts
  services/bot-client/src/utils/browse/index.ts
  services/bot-client/src/utils/browse/selectMenuBuilder.test.ts
  services/bot-client/src/utils/browse/selectMenuBuilder.ts
Due: bot-client, integration

refactor(bot-client): migrate inspect/browse to shared select menu factory
  services/bot-client/src/commands/inspect/browse.ts
Due: bot-client, integration

refactor(bot-client): migrate admin/servers to shared select menu factory
  services/bot-client/src/commands/admin/servers.ts
Due: bot-client, integration

refactor(bot-client): migrate deny/browse to shared select menu factory
  services/bot-client/src/commands/deny/browse.test.ts
  services/bot-client/src/commands/deny/browse.ts
Due: bot-client, integration

refactor(bot-client): subsume buildMemorySelectMenu into shared factory
  services/bot-client/src/commands/memory/browse.test.ts
  services/bot-client/src/commands/memory/browse.ts
  services/bot-client/src/commands/memory/detail.test.ts
  services/bot-client/src/commands/memory/detail.ts
  services/bot-client/src/commands/memory/search.test.ts
  services/bot-client/src/commands/memory/search.ts
Due: bot-client, integration

refactor(bot-client): migrate persona/browse + fix duplicate-ID test factory bug
  packages/common-types/src/factories/persona.ts
  packages/common-types/src/factories/personality.ts
  services/bot-client/src/commands/persona/browse.ts
Due: bot-client, common-types, integration

refactor(bot-client): migrate preset/browse to shared select menu factory
  services/bot-client/src/commands/preset/browse.ts
Due: bot-client, integration
