Repository lbds137/tzurot: changes, and which Codecov flags are due for each by the changed paths.
All: ai-worker, api-gateway, bot-client, common-types, integration

docs(backlog): log prod voice-output-dropped issue (Mistral guardrail + cold-start vs TTS timeout)
  backlog/now.md
Due: none

docs(backlog): file OpenRouterModelCache in-flight-dedup follow-up (P3-S1 review)
  backlog/cold/follow-ups.md
Due: none

docs(backlog): clear resolved prod issues (forward #1391, TTS #1389)
  backlog/now.md
Due: none

docs(backlog): mark S2d shipped (#1381), epic Phase 2 user-facing complete
  CURRENT.md
  backlog/active-epic.md
  backlog/cold/follow-ups.md
Due: none

docs(backlog): file 2 S2e-review follow-ups (browse pagination feedback + two-kind all-or-nothing)
  backlog/cold/follow-ups.md
Due: none

docs(backlog): owner global-config autocomplete 60s cache staleness (dev smoke)
  backlog/cold/follow-ups.md
Due: none

docs(backlog): track S4a caching follow-up (cache adminSettings pointer read)
  backlog/cold/follow-ups.md
Due: none

docs(backlog): refine z.ai promotion bug (trigger-mode divergence) + note gateway-hang recurrence
  backlog/now.md
Due: none

docs(repo): mark beta.142 release in progress (paused for dev smoke)
  CURRENT.md
Due: none

docs(backlog): mark S1b shipped (#1377), move route-threading to S2
  CURRENT.md
  backlog/active-epic.md
  backlog/cold/follow-ups.md
  backlog/cold/themes/model-configuration-overhaul.md
Due: none

docs(backlog): file prod bug — z.ai key not honored on global/admin default (routes via OpenRouter)
  backlog/now.md
Due: none

docs(backlog): confirm STT repetition is Voxtral output; add vision cache follow-up
  backlog/cold/follow-ups.md
Due: none

docs(backlog): drop scratchpad/* log references (files removed)
  backlog/cold/follow-ups.md
  backlog/now.md
Due: none

feat(bot-client): vision-aware preset browse + close out the epic (S2e)
  packages/clients/src/clients/_generated/user-client.ts
  packages/clients/src/routes/user/configs.ts
  packages/common-types/src/constants/ai.ts
  packages/common-types/src/constants/index.ts
  packages/common-types/src/utils/autocompleteFormat.ts
  services/bot-client/command-manifest.json
  services/bot-client/src/commands/preset/autocomplete.ts
  services/bot-client/src/commands/preset/browse.test.ts
  services/bot-client/src/commands/preset/browse.ts
  services/bot-client/src/commands/preset/create.ts
  services/bot-client/src/commands/preset/global/free-default.ts
  services/bot-client/src/commands/preset/global/set-default.ts
  services/bot-client/src/commands/preset/index.ts
  services/bot-client/src/commands/settings/index.ts
  services/bot-client/src/commands/settings/preset/autocomplete.ts
  services/bot-client/src/commands/settings/preset/browse.test.ts
  services/bot-client/src/commands/settings/preset/browse.ts
  services/bot-client/src/commands/settings/preset/clear-default.ts
  services/bot-client/src/commands/settings/preset/clear.ts
  services/bot-client/src/commands/voice/tts/browse.ts
  services/bot-client/src/handlers/__snapshots__/CommandHandler.component.test.ts.snap
  services/bot-client/src/utils/overrideBrowse.test.ts
  services/bot-client/src/utils/overrideBrowse.ts
Due: bot-client, common-types, integration

docs(backlog): file pre-existing temporal-marker scrub for llm-config files (P3-S1 review)
  backlog/cold/follow-ups.md
Due: none

docs(backlog): mark S2c shipped (#1380), add S2d clear-commands slice
  CURRENT.md
  backlog/active-epic.md
  backlog/cold/follow-ups.md
Due: none

docs(backlog): track S4b-2b global-autocomplete follow-up; drop stale dedup item
  backlog/cold/follow-ups.md
Due: none

feat(bot-client): preset browse 👁 from model capability, not config kind
  services/bot-client/src/commands/preset/browse.test.ts
  services/bot-client/src/commands/preset/browse.ts
  services/bot-client/src/commands/preset/browseFilter.test.ts
  services/bot-client/src/commands/preset/browseFilter.ts
Due: bot-client, integration

docs: post-release reset for v3.0.0-beta.141
  CURRENT.md
  backlog/active-epic.md
  backlog/cold/follow-ups.md
Due: none

fix(api-gateway): beta.142 release-review fixes (kind-scoped edit collision + verified-kind validation)
  services/api-gateway/src/routes/admin/llm-config.test.ts
  services/api-gateway/src/routes/admin/llm-config.ts
  services/api-gateway/src/services/LlmConfigService.test.ts
  services/api-gateway/src/services/LlmConfigService.ts
  services/api-gateway/src/utils/llmConfigValidation.ts
Due: api-gateway, integration

docs(backlog): file AUTO_DEPLOY_COMMANDS retire-the-boolean follow-up
  backlog/cold/follow-ups.md
Due: none

fix(api-gateway): derive list default flags + ordering from AdminSettings pointers
  backlog/cold/follow-ups.md
  services/api-gateway/src/routes/admin/configResponseContract.test.ts
  services/api-gateway/src/routes/user/llm-config.test.ts
  services/api-gateway/src/services/LlmConfigService.test.ts
  services/api-gateway/src/services/LlmConfigService.ts
  services/api-gateway/src/services/llmConfigListHelpers.test.ts
  services/api-gateway/src/services/llmConfigListHelpers.ts
Due: api-gateway, integration

fix(bot-client): adapt avatarUtils to sharp 0.35.2 export= type shape
  services/bot-client/src/commands/character/avatarUtils.ts
Due: bot-client, integration

docs(backlog): file STT cross-boundary word-repetition follow-up
  backlog/cold/follow-ups.md
Due: none

docs(backlog): log prod forwarded-message content-loss issue (forward → 'Hello' placeholder)
  backlog/now.md
Due: none

fix(api-gateway): clear-default fallback reads the free-default pointer, not stale isFreeDefault
  backlog/cold/follow-ups.md
  services/api-gateway/src/routes/admin/llm-config.ts
  services/api-gateway/src/routes/user/model-override.test.ts
  services/api-gateway/src/routes/user/model-override.ts
Due: api-gateway, integration

fix(bot-client): forwarded message text reaches the worker
  backlog/cold/follow-ups.md
  packages/common-types/src/types/schemas/rawEnvelope.ts
  services/bot-client/src/services/contextBuilder/RawEnvelopeBuilder.test.ts
  services/bot-client/src/services/contextBuilder/RawEnvelopeBuilder.ts
Due: bot-client, common-types, integration

docs(backlog): file .claude/commands legacy-review chore to cold/ideas
  backlog/cold/ideas.md
Due: none

docs(backlog): in-character error delivery directive + gateway-hang recurrence
  backlog/cold/ideas.md
  backlog/now.md
Due: none

docs(backlog): file TTS cold-start/synthesis timeout-decouple follow-up
  backlog/cold/follow-ups.md
Due: none

docs(backlog): record P3-S3 shipped (#1388), S4 next
  backlog/active-epic.md
  backlog/now.md
Due: none

docs(backlog): file P3-S3 review follow-ups (unread pointers, delete-guard hardening)
  backlog/cold/follow-ups.md
Due: none

fix(bot-client): no-slot clear wipes both slots; shorten owner autocomplete cache TTL
  backlog/cold/follow-ups.md
  packages/clients/src/routes/user/configs.ts
  services/api-gateway/src/routes/user/model-override.test.ts
  services/api-gateway/src/routes/user/model-override.ts
  services/bot-client/src/commands/preset/autocomplete.ts
  services/bot-client/src/commands/settings/preset/clear-default.test.ts
  services/bot-client/src/commands/settings/preset/clear-default.ts
  services/bot-client/src/commands/settings/preset/clear.test.ts
  services/bot-client/src/commands/settings/preset/clear.ts
  services/bot-client/src/commands/settings/preset/handlers.test.ts
Due: api-gateway, bot-client, integration

feat(api-gateway): validate vision-config model capability (S1b)
  packages/common-types/src/constants/ai.test.ts
  packages/common-types/src/constants/ai.ts
  packages/common-types/src/constants/index.ts
  packages/common-types/src/types/ai.ts
  services/api-gateway/src/routes/admin/llm-config.ts
  services/api-gateway/src/routes/user/llm-config.ts
  services/api-gateway/src/services/ModelCapabilityService.test.ts
  services/api-gateway/src/services/ModelCapabilityService.ts
  services/api-gateway/src/utils/configRouteHelpers.test.ts
  services/api-gateway/src/utils/configRouteHelpers.ts
  services/api-gateway/src/utils/llmConfigValidation.test.ts
  services/api-gateway/src/utils/llmConfigValidation.ts
Due: api-gateway, common-types, integration

feat(common-types): single-call vision-aware preset browse + orthogonal kind filter
  packages/common-types/src/generated/commandOptions.ts
  packages/common-types/src/schemas/api/llm-config.test.ts
  packages/common-types/src/schemas/api/llm-config.ts
  packages/common-types/src/schemas/api/model-override.test.ts
  packages/common-types/src/schemas/api/model-override.ts
  packages/test-factories/src/llm-config.ts
  packages/test-factories/src/model-override.ts
  services/api-gateway/src/routes/user/llm-config.ts
  services/api-gateway/src/routes/user/model-override.test.ts
  services/api-gateway/src/routes/user/model-override.ts
  services/api-gateway/src/services/LlmConfigService.component.test.ts
  services/api-gateway/src/services/LlmConfigService.test.ts
  services/api-gateway/src/services/LlmConfigService.ts
  services/api-gateway/src/utils/configRouteHelpers.test.ts
  services/api-gateway/src/utils/configRouteHelpers.ts
  services/bot-client/command-manifest.json
  services/bot-client/src/commands/preset/browse.test.ts
  services/bot-client/src/commands/preset/browse.ts
  services/bot-client/src/commands/preset/browseFilter.test.ts
  services/bot-client/src/commands/preset/browseFilter.ts
  services/bot-client/src/commands/preset/index.ts
  services/bot-client/src/commands/settings/preset/browse.test.ts
  services/bot-client/src/commands/settings/preset/browse.ts
  services/bot-client/src/handlers/__snapshots__/CommandHandler.component.test.ts.snap
  services/bot-client/src/utils/overrideBrowse.ts
Due: api-gateway, bot-client, common-types, integration

fix(ai-worker): raise TTS budget to 300s so a cold-start fallback isn't cut off
  services/ai-worker/src/jobs/handlers/pipeline/steps/TTSStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/TTSStep.ts
Due: ai-worker, integration

docs(backlog): drop the invalid noGlobalDefaultCache TTL follow-up
  backlog/cold/follow-ups.md
Due: none

feat(bot-client): expose vision config management via /preset + /settings
  packages/clients/src/clients/_generated/owner-client.ts
  packages/clients/src/clients/_generated/user-client.ts
  packages/clients/src/routes/admin.ts
  packages/clients/src/routes/user/configs.ts
  packages/common-types/src/generated/commandOptions.ts
  services/bot-client/command-manifest.json
  services/bot-client/src/commands/preset/api.ts
  services/bot-client/src/commands/preset/autocomplete.test.ts
  services/bot-client/src/commands/preset/autocomplete.ts
  services/bot-client/src/commands/preset/create.test.ts
  services/bot-client/src/commands/preset/create.ts
  services/bot-client/src/commands/preset/global/free-default.test.ts
  services/bot-client/src/commands/preset/global/free-default.ts
  services/bot-client/src/commands/preset/global/set-default.test.ts
  services/bot-client/src/commands/preset/global/set-default.ts
  services/bot-client/src/commands/preset/index.ts
  services/bot-client/src/commands/settings/index.ts
  services/bot-client/src/commands/settings/preset/autocomplete.test.ts
  services/bot-client/src/commands/settings/preset/autocomplete.ts
  services/bot-client/src/commands/settings/preset/set-default.ts
  services/bot-client/src/commands/settings/preset/set.ts
  services/bot-client/src/handlers/__snapshots__/CommandHandler.component.test.ts.snap
Due: bot-client, common-types, integration

feat(api-gateway): vision-aware user override writes (S2b)
  services/api-gateway/src/routes/user/model-override.test.ts
  services/api-gateway/src/routes/user/model-override.ts
Due: api-gateway, integration

feat(common-types): surface model supportsVision in the LLM-config list contract
  packages/common-types/src/schemas/api/llm-config.test.ts
  packages/common-types/src/schemas/api/llm-config.ts
  packages/test-factories/src/llm-config.ts
  services/api-gateway/src/routes/admin/llm-config.test.ts
  services/api-gateway/src/routes/admin/llm-config.ts
  services/api-gateway/src/routes/user/llm-config.test.ts
  services/api-gateway/src/routes/user/llm-config.ts
  services/api-gateway/src/services/ModelCapabilityService.test.ts
  services/api-gateway/src/services/ModelCapabilityService.ts
Due: api-gateway, common-types, integration

Path conditions:
  ai-worker: any of: services/ai-worker/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  api-gateway: any of: services/api-gateway/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  bot-client: any of: services/bot-client/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  common-types: any of: packages/common-types/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  integration: any of: services/, packages/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
