Repository lbds137/tzurot: changes, and which Codecov flags are due for each by the changed paths.
All: ai-worker, api-gateway, bot-client, common-types, integration

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 2%
        informational: false
    patch:
      default:
        target: 80%
        threshold: 5%
        informational: false

comment:
  layout: 'reach,diff,flags,tree,files'
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flag_management:
  default_rules:
    carryforward: true

flags:
  ai-worker:
    paths:
      - services/ai-worker/
  api-gateway:
    paths:
      - services/api-gateway/
  bot-client:
    paths:
      - services/bot-client/
  common-types:
    paths:
      - packages/common-types/
  # Integration tests cover all services
  integration:
    paths:
      - services/
      - packages/

ignore:
  - '**/*.test.ts'
  - '**/*.spec.ts'
  - '**/dist/**'
  - '**/node_modules/**'
  - 'scripts/**'
  - 'tzurot-legacy/**'

docs(backlog): task-1024 — discord.js already types the Components-V2 tree
  tracker/tasks/task-1024 - EmbedParser-renders-nothing-for-an-embed-carrying-only-url-provider-video-type.md
Due: none

docs(backlog): task-1025 — the persisted twin of the forgery pr #2456 fixed
  tracker/tasks/task-1025 - bot-client-attachment-placeholders-can-forge-a-provenance-header-and-it-persists.md
Due: none

fix(ai-worker): give the trigger message's attachments their provenance headers
  services/ai-worker/src/services/PromptBuilder.test.ts
  services/ai-worker/src/services/PromptBuilder.ts
  services/ai-worker/src/services/RAGUtils.test.ts
  services/ai-worker/src/services/RAGUtils.ts
  services/ai-worker/src/services/__snapshots__/PromptBuilder.test.ts.snap
  services/ai-worker/src/services/prompt/TokenCounters.test.ts
  services/ai-worker/src/services/prompt/TokenCounters.ts
Due: ai-worker, integration

docs(backlog): close task-804 — pr #2456 merged
  tracker/tasks/task-804 - Image-descriptions-are-attributed-to-the-speaker-—-no-provenance-framing-on-any-render-path.md
Due: none

chore(deps): widen the adm-zip override to 0.6.1
  package.json
  pnpm-lock.yaml
Due: none

docs(backlog): session note for the prod bug pair, and task-947's spent fix shape
  CURRENT.md
  tracker/tasks/task-947 - adm-zip-advisory-GHSA-vwc7-r8mq-g2x9-has-no-published-fix-the-existing-override-cannot-reach-one.md
Due: none

docs(backlog): task-1024 grounding — the wrapper sites split on live vs stored
  tracker/tasks/task-1024 - EmbedParser-renders-nothing-for-an-embed-carrying-only-url-provider-video-type.md
Due: none

docs(backlog): task-1027 — the look-alike bracket vector, as an owner call
  tracker/tasks/task-1027 - Provenance-header-sanitizers-strip-only-ASCII-brackets-not-look-alikes.md
Due: none

fix(bot-client): sanitize the persisted provenance header, hoist its helpers
  packages/common-types/src/utils/attachmentProvenance.test.ts
  packages/common-types/src/utils/attachmentProvenance.ts
  services/ai-worker/src/jobs/utils/conversationTypes.ts
  services/ai-worker/src/services/AttachmentProcessor.ts
  services/ai-worker/src/services/RAGUtils.test.ts
  services/ai-worker/src/services/RAGUtils.ts
  services/ai-worker/src/services/ReferencedMessageFormatter.ts
  services/ai-worker/src/services/prompt/QuoteFormatter.test.ts
  services/ai-worker/src/services/prompt/QuoteFormatter.ts
  services/bot-client/src/utils/attachmentPlaceholders.test.ts
  services/bot-client/src/utils/attachmentPlaceholders.ts
  tracker/tasks/task-1026 - Provenance-header-consumers-still-hand-spell-the-label-vocabulary.md
Due: ai-worker, bot-client, common-types, integration

docs(backlog): close out the prod-bug pair — 1025 done, 841 partial, board synced
  CURRENT.md
  backlog/now.md
  tracker/tasks/task-1025 - bot-client-attachment-placeholders-can-forge-a-provenance-header-and-it-persists.md
  tracker/tasks/task-1027 - Provenance-header-sanitizers-strip-only-ASCII-brackets-not-look-alikes.md
  tracker/tasks/task-841 - Hoist-the-image-provenance-label-mapping-into-common-types-so-the-two-services-cannot-drift.md
Due: none

docs(backlog): task-1029 — spec canaries miss the claim the unit exists for
  tracker/tasks/task-1029 - Dispatch-specs-under-cover-the-unit-PURPOSE-claim-canary-it-first-by-name.md
Due: none

fix(bot-client): mark an embed that rendered no content, and log its shape
  services/bot-client/src/handlers/references/SnapshotFormatter.test.ts
  services/bot-client/src/handlers/references/SnapshotFormatter.ts
  services/bot-client/src/utils/EmbedParser.test.ts
  services/bot-client/src/utils/EmbedParser.ts
  services/bot-client/src/utils/MessageContentBuilder.test.ts
  services/bot-client/src/utils/MessageContentBuilder.ts
  services/bot-client/src/utils/embedShapeDiagnostics.test.ts
  services/bot-client/src/utils/embedShapeDiagnostics.ts
  tracker/tasks/task-1028 - Trim-the-embed-no-content-diagnostic-once-a-Components-V2-capture-lands.md
Due: bot-client, integration

docs(backlog): task-1029 first trial — the purpose canary measures, not just verifies
  tracker/tasks/task-1029 - Dispatch-specs-under-cover-the-unit-PURPOSE-claim-canary-it-first-by-name.md
Due: none

docs(backlog): close out #2459 — task-1024 partial, board and session note synced
  CURRENT.md
  backlog/now.md
  tracker/tasks/task-1024 - EmbedParser-renders-nothing-for-an-embed-carrying-only-url-provider-video-type.md
Due: none

docs(backlog): owner ruled cut beta.227 now — board, session note, task-1024 scope note
  CURRENT.md
  backlog/now.md
  tracker/tasks/task-1024 - EmbedParser-renders-nothing-for-an-embed-carrying-only-url-provider-video-type.md
Due: none

chore: bump version to 3.0.0-beta.227
  package.json
  packages/cache-invalidation/package.json
  packages/clients/package.json
  packages/common-types/package.json
  packages/config-resolver/package.json
  packages/conversation-history/package.json
  packages/embeddings/package.json
  packages/identity/package.json
  packages/test-factories/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  services/website/package.json
  tests/package.json
Due: ai-worker, api-gateway, bot-client, common-types, integration

docs(backlog): file the inert no-unpushed-remotes check in worktree:transfer
  tracker/tasks/task-1019 - worktree-transfer-no-unpushed-remotes-check-runs-git-log-not-remotes-with-no-positive-revision-so-it-never-fires.md
Due: none

feat(ai-worker): sweep stale recent-days digests daily and export them under the persona
  docs/legal/PRIVACY_POLICY.md
  packages/common-types/src/constants/recentDaysDigest.ts
  services/ai-worker/src/index.ts
  services/ai-worker/src/jobs/AccountExportAssembler.component.test.ts
  services/ai-worker/src/jobs/AccountExportAssembler.test.ts
  services/ai-worker/src/jobs/AccountExportAssembler.ts
  services/ai-worker/src/jobs/AccountExportFiles.test.ts
  services/ai-worker/src/jobs/AccountExportFiles.ts
  services/ai-worker/src/jobs/AccountExportJob.test.ts
  services/ai-worker/src/jobs/AccountExportMarkdown.test.ts
  services/ai-worker/src/jobs/AccountExportMarkdown.ts
  services/ai-worker/src/jobs/scheduledJobSchedule.test.ts
  services/ai-worker/src/jobs/scheduledJobSchedule.ts
  services/ai-worker/src/services/recentDaysDigest/recentDaysDigestRetention.component.test.ts
  services/ai-worker/src/services/recentDaysDigest/recentDaysDigestRetention.test.ts
  services/ai-worker/src/services/recentDaysDigest/recentDaysDigestRetention.ts
Due: ai-worker, common-types, integration

docs(backlog): close TASK-1013/1014 — #2451 merged; beta.227 cut criterion met
  backlog/now.md
  tracker/tasks/task-1013 - Recent-days-digest-a-stale-row-is-never-swept-so-unused-digest-text-outlives-its-7-day-window.md
  tracker/tasks/task-1014 - Recent-days-digest-the-account-data-export-omits-`persona_personality_digests`.md
Due: none

docs(backlog): file task-1022 — byok decrypt failures keep the old defect shape
  tracker/tasks/task-1022 - BYOK-key-decrypt-failures-still-surface-as-500s-or-a-silent-provider-skip.md
Due: none

docs(backlog): task-968 mechanism found — formatters.log, not pino-http
  tracker/tasks/task-968 - Gateway-request-log-lines-record-statusCode-null-—-the-HTTP-status-never-reaches-the-log.md
Due: none

docs(backlog): file task-1021 — empty chunk under lineAware with an empty header
  tracker/tasks/task-1021 - sendChunkedReply-can-send-an-empty-message-under-lineAware-with-an-empty-header.md
Due: none

fix(bot-client): chunk the db-sync report by lines so its bullets survive
  packages/common-types/src/utils/discord.ts
  services/bot-client/src/commands/admin/db-sync.test.ts
  services/bot-client/src/commands/admin/db-sync.ts
  services/bot-client/src/utils/chunkedReply.test.ts
  services/bot-client/src/utils/chunkedReply.ts
Due: bot-client, common-types, integration

docs(backlog): task-856 — the dashboard cleanup was housekeeping, not the unblock
  tracker/tasks/task-856 - Verify-whether-.gitguardian.yaml-ignored_paths-apply-to-the-GitHub-App-check-at-all.md
Due: none

docs(backlog): task-1021 — the empty-message filter must be general
  tracker/tasks/task-1021 - sendChunkedReply-can-send-an-empty-message-under-lineAware-with-an-empty-header.md
Due: none

docs(backlog): file the untested scheduled-job dispatch chain in ai-worker
  tracker/tasks/task-1017 - ai-worker-scheduled-job-dispatch-chain-has-no-test-for-any-branch.md
Due: none

fix(api-gateway): answer 401 re-authenticate on an undecryptable shapes cookie
  docs/reference/features/shapes-import.md
  packages/common-types/src/types/shapes-import.ts
  packages/common-types/src/utils/encryption.test.ts
  packages/common-types/src/utils/encryption.ts
  services/ai-worker/src/jobs/shapesCredentials.test.ts
  services/ai-worker/src/jobs/shapesCredentials.ts
  services/api-gateway/src/routes/user/shapes/list.test.ts
  services/api-gateway/src/routes/user/shapes/list.ts
Due: ai-worker, api-gateway, common-types, integration

docs: the first prod recent-days trace — 2.04 excl/1k, 1,185 tokens, 17 s, digest rendered
  CURRENT.md
  docs/proposals/backlog/recent-days-digest.md
Due: none
