Repository lbds137/tzurot: changes, and which Codecov flags are due for each by the changed paths.
All: ai-worker, api-gateway, bot-client, common-types, integration

fix(ai-worker): remove sender UUIDs from memory markdown export
  BACKLOG.md
  services/ai-worker/src/jobs/ShapesExportFormatters.test.ts
  services/ai-worker/src/jobs/ShapesExportFormatters.ts
Due: ai-worker, integration

docs(repo): add configurable export sections to backlog
  BACKLOG.md
Due: none

fix(repo): address release PR review feedback (round 3)
  packages/common-types/src/services/BaseCacheInvalidationService.ts
  services/ai-worker/src/jobs/shapesCredentials.ts
Due: ai-worker, common-types, integration

refactor(api-gateway): extract setupDefaultLlmConfig helper
  services/api-gateway/src/routes/admin/createPersonality.ts
  services/api-gateway/src/routes/user/personality/create.ts
  services/api-gateway/src/utils/personalityHelpers.test.ts
  services/api-gateway/src/utils/personalityHelpers.ts
Due: api-gateway, integration

fix(common-types): address PR review feedback on name conflict resolution
  packages/common-types/src/services/personality/PersonalityDefaults.test.ts
  packages/common-types/src/services/personality/PersonalityLoader.test.ts
  packages/common-types/src/services/personality/PersonalityLoader.ts
  packages/common-types/src/services/personality/PersonalityValidator.ts
Due: common-types, integration

refactor(api-gateway): extract shared memory route helpers
  services/api-gateway/src/routes/user/memory.ts
  services/api-gateway/src/routes/user/memoryBatch.test.ts
  services/api-gateway/src/routes/user/memoryBatch.ts
  services/api-gateway/src/routes/user/memoryHelpers.test.ts
  services/api-gateway/src/routes/user/memoryHelpers.ts
  services/api-gateway/src/routes/user/memoryIncognito.ts
  services/api-gateway/src/routes/user/memoryList.test.ts
  services/api-gateway/src/routes/user/memoryList.ts
  services/api-gateway/src/routes/user/memorySearch.ts
  services/api-gateway/src/routes/user/memorySingle.test.ts
  services/api-gateway/src/routes/user/memorySingle.ts
Due: api-gateway, integration

refactor(api-gateway): consolidate personality SELECT and response formatting
  services/api-gateway/src/routes/user/personality/formatters.ts
  services/api-gateway/src/routes/user/personality/get.ts
  services/api-gateway/src/routes/user/personality/update.ts
Due: api-gateway, integration

docs(repo): update CURRENT.md and BACKLOG.md for CPD Phase 3 completion
  BACKLOG.md
  CURRENT.md
Due: none

docs(repo): triage backlog and prioritize tech debt
  BACKLOG.md
Due: none

refactor(bot-client): extract shared import validation helpers
  services/bot-client/src/commands/character/import.ts
  services/bot-client/src/commands/preset/import.ts
  services/bot-client/src/utils/importValidation.test.ts
  services/bot-client/src/utils/importValidation.ts
Due: bot-client, integration

refactor(common-types): extract factory DeepPartial/deepMerge to shared utility
  packages/common-types/src/factories/factoryUtils.test.ts
  packages/common-types/src/factories/factoryUtils.ts
  packages/common-types/src/factories/index.ts
  packages/common-types/src/factories/llm-config.ts
  packages/common-types/src/factories/model-override.ts
  packages/common-types/src/factories/persona.ts
  packages/common-types/src/factories/timezone.ts
  packages/common-types/src/factories/wallet.ts
Due: common-types, integration

fix(deps): override undici and qs to patch security vulnerabilities
  package.json
  pnpm-lock.yaml
Due: none

fix(api-gateway): address PR review feedback
  services/api-gateway/src/routes/user/memoryHelpers.test.ts
  services/api-gateway/src/routes/user/personality/helpers.test.ts
  services/api-gateway/src/routes/user/personality/helpers.ts
Due: api-gateway, integration

refactor(bot-client): extract requireDeferredSession helper
  services/bot-client/src/commands/persona/dashboard.test.ts
  services/bot-client/src/commands/persona/dashboard.ts
  services/bot-client/src/commands/preset/dashboard.test.ts
  services/bot-client/src/commands/preset/dashboardButtons.test.ts
  services/bot-client/src/commands/preset/dashboardButtons.ts
  services/bot-client/src/utils/dashboard/index.ts
  services/bot-client/src/utils/dashboard/sessionHelpers.test.ts
  services/bot-client/src/utils/dashboard/sessionHelpers.ts
Due: bot-client, integration

refactor(bot-client): extract chunked reply utility
  services/bot-client/src/commands/character/view.ts
  services/bot-client/src/commands/persona/view.ts
  services/bot-client/src/utils/chunkedReply.test.ts
  services/bot-client/src/utils/chunkedReply.ts
Due: bot-client, integration

refactor(api-gateway): extract internal helpers in model-override and persona routes
  services/api-gateway/src/routes/user/model-override.ts
  services/api-gateway/src/routes/user/persona/crud.ts
  services/api-gateway/src/routes/user/persona/override.ts
Due: api-gateway, integration

chore: bump version to 3.0.0-beta.81
  package.json
  packages/common-types/package.json
  packages/embeddings/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  tests/package.json
Due: ai-worker, api-gateway, bot-client, common-types, integration

fix(common-types): clarify botAdminUuid caching states and simplify types
  packages/common-types/src/services/personality/PersonalityLoader.ts
Due: common-types, integration

fix(bot-client): add missing afterEach(vi.restoreAllMocks) to new test files
  services/bot-client/src/commands/memory/resolveHelpers.test.ts
  services/bot-client/src/utils/chunkedReply.test.ts
Due: none

refactor(api-gateway): extract avatar processing utility
  services/api-gateway/src/routes/admin/createPersonality.ts
  services/api-gateway/src/routes/admin/updatePersonality.ts
  services/api-gateway/src/routes/user/personality/create.ts
  services/api-gateway/src/routes/user/personality/update.ts
  services/api-gateway/src/utils/avatarProcessor.test.ts
  services/api-gateway/src/utils/avatarProcessor.ts
Due: api-gateway, integration

fix(api-gateway): remove re-export wrappers, import getOrCreateInternalUser directly
  services/api-gateway/src/routes/user/channel/activate.ts
  services/api-gateway/src/routes/user/persona/crud.ts
  services/api-gateway/src/routes/user/persona/default.ts
  services/api-gateway/src/routes/user/persona/helpers.test.ts
  services/api-gateway/src/routes/user/persona/helpers.ts
  services/api-gateway/src/routes/user/persona/override.ts
  services/api-gateway/src/routes/user/persona/settings.ts
  services/api-gateway/src/routes/user/personality/create.ts
  services/api-gateway/src/routes/user/personality/helpers.ts
  services/api-gateway/src/routes/user/userHelpers.test.ts
  services/api-gateway/src/routes/user/userHelpers.ts
Due: api-gateway, integration

fix(repo): address PR review feedback (round 4)
  .claude/rules/00-critical.md
  .claude/rules/02-code-standards.md
  BACKLOG.md
  packages/common-types/src/structure.test.ts
  services/api-gateway/src/routes/user/personality/helpers.ts
  services/api-gateway/src/routes/user/personality/visibility.ts
Due: api-gateway, integration

fix(common-types): resolve personality name conflicts by priority scoring
  packages/common-types/src/services/personality/PersonalityLoader.test.ts
  packages/common-types/src/services/personality/PersonalityLoader.ts
Due: common-types, integration

fix(repo): address PR review feedback
  packages/common-types/src/utils/redis.test.ts
  packages/common-types/src/utils/redis.ts
  services/ai-worker/src/redis.ts
  services/api-gateway/src/test/shared-route-test-utils.ts
  services/bot-client/src/redis.ts
Due: ai-worker, api-gateway, bot-client, common-types, integration

test(api-gateway): add tests for personality response formatters
  services/api-gateway/src/routes/user/personality/formatters.test.ts
Due: none

refactor(bot-client): extract memory command personality resolution helpers
  services/bot-client/src/commands/memory/browse.ts
  services/bot-client/src/commands/memory/focus.ts
  services/bot-client/src/commands/memory/purge.ts
  services/bot-client/src/commands/memory/resolveHelpers.test.ts
  services/bot-client/src/commands/memory/resolveHelpers.ts
  services/bot-client/src/commands/memory/search.ts
  services/bot-client/src/commands/memory/stats.ts
Due: bot-client, integration

fix(api-gateway): fix double-not-found error messages across all routes
  packages/tooling/src/dev/check-duplicate-exports.ts
  services/api-gateway/src/routes/admin/llm-config.ts
  services/api-gateway/src/routes/user/llm-config.ts
  services/api-gateway/src/routes/user/memoryBatch.test.ts
  services/api-gateway/src/routes/user/memoryBatch.ts
  services/api-gateway/src/routes/user/memoryIncognito.ts
  services/api-gateway/src/routes/user/memorySingle.ts
  services/api-gateway/src/routes/user/model-override.ts
  services/api-gateway/src/routes/user/personality/get.ts
Due: api-gateway, integration

feat(ai-worker): format memories as numbered headings in Markdown export
  services/ai-worker/src/jobs/ShapesExportFormatters.test.ts
  services/ai-worker/src/jobs/ShapesExportFormatters.ts
Due: ai-worker, integration

fix(repo): address follow-up PR review feedback
  services/ai-worker/src/jobs/shapesCredentials.test.ts
  services/bot-client/src/commands/inspect/browse.ts
Due: bot-client, integration

fix(bot-client): use snapshot content for deduped forwarded message stubs
  services/bot-client/src/handlers/references/ReferenceFormatter.test.ts
  services/bot-client/src/handlers/references/ReferenceFormatter.ts
Due: bot-client, integration

fix(repo): address follow-up PR review feedback
  packages/tooling/src/dev/check-duplicate-exports.ts
  services/api-gateway/src/routes/user/memory.ts
  services/api-gateway/src/routes/user/memoryHelpers.test.ts
Due: api-gateway, integration

refactor(bot-client): extract CommandHandler error reply helper
  services/bot-client/src/handlers/CommandHandler.ts
Due: bot-client, integration

fix(repo): address release PR review feedback
  services/ai-worker/src/jobs/ShapesExportFormatters.ts
  services/api-gateway/src/routes/user/memorySearch.ts
Due: ai-worker, api-gateway, integration

docs(repo): update CURRENT.md and BACKLOG.md after v3.0.0-beta.80 release
  BACKLOG.md
  CURRENT.md
Due: none

fix(repo): address PR review feedback (round 1)
  packages/tooling/src/dev/find-dead-files.test.ts
  packages/tooling/src/dev/find-dead-files.ts
  services/api-gateway/src/routes/user/persona/settings.ts
  services/bot-client/src/commands/persona/index.ts
  services/bot-client/src/utils/dashboard/index.ts
Due: api-gateway, bot-client, integration

fix(api-gateway): enforce resolvePersonalityForEdit select contract at type level
  packages/tooling/src/dev/check-duplicate-exports.ts
  services/api-gateway/src/routes/user/personality/helpers.ts
Due: api-gateway, integration

refactor(api-gateway): consolidate getOrCreateInternalUser into shared module
  services/api-gateway/src/routes/user/persona/helpers.ts
  services/api-gateway/src/routes/user/personality/helpers.test.ts
  services/api-gateway/src/routes/user/personality/helpers.ts
  services/api-gateway/src/routes/user/userHelpers.test.ts
  services/api-gateway/src/routes/user/userHelpers.ts
Due: api-gateway, integration

refactor(repo): address PR review feedback
  packages/common-types/src/factories/factoryUtils.ts
  packages/common-types/src/utils/dateFormatting.ts
  services/ai-worker/src/jobs/shapesCredentials.test.ts
  services/bot-client/src/commands/inspect/browse.ts
Due: bot-client, common-types, integration

fix(bot-client): add missing type parameters to fetchOrCreateSession calls
  services/bot-client/src/commands/persona/dashboard.ts
  services/bot-client/src/commands/preset/dashboard.ts
Due: bot-client, integration

Path conditions:
  ai-worker: any of: services/ai-worker/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  api-gateway: any of: services/api-gateway/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  bot-client: any of: services/bot-client/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  common-types: any of: packages/common-types/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  integration: any of: services/, packages/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
