Repository lbds137/tzurot: changes, and which Codecov flags are due for each by the changed paths.
All: ai-worker, api-gateway, bot-client, common-types, integration

fix(ai-worker): five small items whose only trigger was "next time we touch this"
  services/ai-worker/src/jobs/handlers/pipeline/steps/GenerationStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/autoPromotionFallback.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/generationFailureResult.test.ts
  services/ai-worker/src/jobs/utils/participantUtils.ts
  services/ai-worker/src/services/MultimodalProcessor.ts
  services/ai-worker/src/services/context/ContextAssembler.component.test.ts
  services/ai-worker/src/services/eval/factPoolScoring.test.ts
  services/ai-worker/src/services/eval/factPoolScoring.ts
  services/ai-worker/src/services/eval/factPooling.eval.test.ts
  services/ai-worker/src/services/eval/poolingArms.ts
  services/ai-worker/src/services/eval/qrelsReconciliation.ts
  services/ai-worker/src/services/prompt/referenceRole.ts
Due: ai-worker, integration

docs(backlog): mark the five #1983 do-now items Done
  tracker/tasks/task-13 - estimator-disambiguation-drift-self-variant-comment-direction-1599-round-4-nits-.md
  tracker/tasks/task-179 - Pre-assert-the-cross-channel-group-before-checking-its-env-name-test-diagnostic-.md
  tracker/tasks/task-266 - withPolicyArms-0-fallback-poisons-partially-ranking-arms.md
  tracker/tasks/task-29 - Comment-withParallelRetry-is-a-no-op-on-the-vision-fallback-path.md
  tracker/tasks/task-33 - Align-resulterrors-compose-base-with-errorInfotechnicalMessage-RetryError-wrappe.md
Due: none

fix(bot-client): five more items whose only trigger was "next time we touch this"
  services/bot-client/src/commands/character/avatar.ts
  services/bot-client/src/commands/character/view.test.ts
  services/bot-client/src/commands/character/voice.ts
  services/bot-client/src/commands/memory/detail.test.ts
  services/bot-client/src/commands/persona/view.test.ts
  services/bot-client/src/commands/preset/create.test.ts
  services/bot-client/src/services/HttpPersonalityLoader.test.ts
  services/bot-client/src/services/MultiTagPersistence.test.ts
  services/bot-client/src/services/MultiTagPersistence.ts
  services/bot-client/src/services/VoiceTranscriptionService.test.ts
  services/bot-client/src/services/VoiceTranscriptionService.ts
  services/bot-client/src/utils/gatewayServiceCalls.test.ts
  services/bot-client/src/utils/gatewayWriteHelpers.test.ts
Due: bot-client, integration

docs(backlog): close the five #1984 items, file TASK-443, reclassify TASK-272
  tracker/tasks/task-121 - Migrate-the-3-remaining-local-err-arrow-builders-to-makeErr.md
  tracker/tasks/task-128 - Zod-safeParse-on-SyntheticTimeoutContext-read-back-in-getSyntheticTimeout.md
  tracker/tasks/task-152 - Standardize-replyError-test-mocks-to-state-flipping-deferReply.md
  tracker/tasks/task-156 - VoiceTranscriptionServicehasVoiceAttachment-keeps-a-parallel-forwarded-snapshot….md
  tracker/tasks/task-229 - character-command-option-access-idiom-drift-avatarts-raw-vs-importts-typed-acces.md
  tracker/tasks/task-272 - Allowlist-path-perf-polish-1650-r3-nit-item-2-of-2.md
  tracker/tasks/task-443 - Collapse-hasVoiceAttachment-onto-forwardedMessageUtils.hasVoiceAttachments.md
Due: none

docs: record the triage pass and the four PRs in the handoff surface
  CURRENT.md
Due: none

fix(tooling): four items whose only trigger was "next time we touch this"
  .husky/pre-commit
  packages/config-resolver/src/VisionConfigResolver.test.ts
  packages/test-utils/schema/pglite-schema.sql
  packages/tooling/src/commands/cache.test.ts
  packages/tooling/src/commands/cache.ts
  packages/tooling/src/commands/deploy.test.ts
  packages/tooling/src/commands/deploy.ts
  packages/tooling/src/commands/dev.test.ts
  packages/tooling/src/commands/dev.ts
  packages/tooling/src/commands/gh.test.ts
  packages/tooling/src/commands/gh.ts
  packages/tooling/src/commands/memory.ts
  packages/tooling/src/commands/prompt.test.ts
  packages/tooling/src/commands/prompt.ts
  packages/tooling/src/commands/secrets.test.ts
  packages/tooling/src/commands/secrets.ts
  packages/tooling/src/secrets/rotation.test.ts
  packages/tooling/src/test/generate-schema.test.ts
  packages/tooling/src/test/generate-schema.ts
  packages/tooling/src/utils/cli-args.test.ts
  packages/tooling/src/utils/cli-args.ts
  services/ai-worker/src/services/prompt/referenceRole.test.ts
  services/api-gateway/src/utils/stampResolvedConfig.test.ts
Due: integration

docs(backlog): close the four #1985 items, rule out TASK-225, file TASK-444
  tracker/archive/tasks/task-225 - Extract-AtomicDailyCounter-from-ExtractionBudget-VisionFallbackQuota.md
  tracker/tasks/task-11 - pre-commit-temporal-marker-regex-misses-hyphenated-round-refs-two-shipped-archae.md
  tracker/tasks/task-19 - generate-schemats-harvester-comment-stripping-is-a-blind-whole-file-regex-fine-f.md
  tracker/tasks/task-196 - Harvester-dedup-keys-on-bare-constraintindex-name-not-table-name.md
  tracker/tasks/task-22 - tooling-CLI-commands-coerce-numeric-flags-with-bare-Numberoptionsx-deployts-and….md
  tracker/tasks/task-302 - the-claudehooksprobesh-exit-code-harnesses-cwd-drift-promise-ledger….md
  tracker/tasks/task-444 - Unify-ops-CLI-numeric-flag-error-reporting-a-throw-becomes-an-unhandled-rejection.md
Due: none

docs: record batch 3 (#1985) and the remaining do-now grouping
  CURRENT.md
Due: none

refactor(api-gateway): four small do-now items across gateway and common-types
  docs/reference/architecture/durability-tiers.md
  packages/common-types/src/constants/queue.ts
  packages/common-types/src/types/schemas/message.ts
  packages/conversation-history/src/ConversationHistoryService.test.ts
  packages/conversation-history/src/ConversationMessageMapper.test.ts
  packages/tooling/src/memory/mine-attachment-goldens.ts
  services/api-gateway/src/middleware/maintenance.ts
  services/api-gateway/src/routes/conformance/fixtures/userMemory.ts
  services/api-gateway/src/routes/user/account/delete.test.ts
  services/api-gateway/src/routes/user/account/delete.ts
  services/api-gateway/src/routes/user/memoryBatch.test.ts
  services/api-gateway/src/routes/user/memoryBatch.ts
  services/api-gateway/src/services/ActionTokenService.test.ts
  services/api-gateway/src/services/ActionTokenService.ts
  services/bot-client/src/utils/discordCdnGuard.test.ts
  services/bot-client/src/utils/discordCdnGuard.ts
Due: api-gateway, bot-client, common-types, integration

docs(backlog): close the four #1986 items
  tracker/tasks/task-279 - Rename-MemoryActionTokenService-ActionTokenService.md
  tracker/tasks/task-348 - Gateway-maintenance-503-JSON-hardcodes-the-Tzurot-brand.md
  tracker/tasks/task-400 - messageMetadata.attachmentDescriptions-is-schema-only-—-no-producer-no-reader.md
  tracker/tasks/task-75 - discordCdnGuard-non-https-failure-reason-variant.md
Due: none

docs: three deferred doc/skill gotchas
  .claude/rules/04-discord.md
  .claude/skills/tzurot-deployment/SKILL.md
Due: none

docs: record batches 4 and 5; the do-now sweep is closed
  CURRENT.md
  tracker/tasks/task-214 - Maintenance-mode-runbook-Redis-down-during-window-fail-open-gap.md
  tracker/tasks/task-264 - Deployment-skill-railway-redeploy-acts-on-the-LINKED-environment.md
  tracker/tasks/task-59 - Enforce-round-trip-contract-registration-for-new-fetch-edit-PUT-dashboards.md
Due: none

docs(backlog): file TASK-445 — three orphaned ruleset JSON variants
  tracker/tasks/task-445 - Decide-the-disposition-of-three-orphaned-.github-rulesets-JSON-variants.md
Due: none

docs(ci): record the real branch protection; move develop to a ruleset
  .github/rulesets/README.md
  .github/rulesets/branch-protection-no-bypass.json
  .github/rulesets/branch-protection-no-checks.json
  .github/rulesets/develop-protection.json
  .github/rulesets/solo-developer-minimal.json
  .github/workflows/ci.yml
Due: none

docs(backlog): close TASK-198, TASK-262, TASK-445 (#1988)
  tracker/tasks/task-198 - Decide-whether-CI-jobs-beyond-unit-testslint-become-required-status-checks.md
  tracker/tasks/task-262 - Add-docker-build-smoke-ok-to-the-develop-rulesets-required-contexts.md
  tracker/tasks/task-445 - Decide-the-disposition-of-three-orphaned-.github-rulesets-JSON-variants.md
Due: none

docs: record #1988 (branch protection) and park #1989 on the Actions incident
  CURRENT.md
Due: none

docs(backlog): file TASK-446 — workflow_dispatch escape hatch for ci.yml
  tracker/tasks/task-446 - Add-workflow_dispatch-to-ci.yml-so-CI-can-be-triggered-without-a-webhook.md
Due: none

docs: record the push queue blocked on the GitHub Actions outage
  CURRENT.md
Due: none

docs(backlog): history trimming is dormant in prod — measured, don't build hysteresis
  backlog/active-epic.md
  docs/proposals/backlog/prompt-assembly-architecture.md
  tracker/tasks/task-447 - Watch-historyMessagesDropped-0-in-prod-means-history-trimming-has-begun.md
  tracker/tasks/task-448 - chat_log-role-legend-ships-in-every-prompt-charged-to-no-budget.md
  tracker/tasks/task-449 - Context-window-silently-unclamps-when-the-model-capability-cache-misses.md
  tracker/tasks/task-450 - Record-systemPromptBaseTokens-in-the-diagnostic-payload-—-budget-inputs-are-not-recoverable-once-trimming-starts.md
Due: none

docs: one CI monitor per PR — stop the prior one before re-arming
  .claude/hooks/pr-monitor-reminder.sh
  .claude/rules/05-tooling.md
  .claude/skills/tzurot-git-workflow/SKILL.md
  CLAUDE.md
  tracker/tasks/task-302 - the-claudehooksprobesh-exit-code-harnesses-cwd-drift-promise-ledger….md
Due: none

docs(rules): head_sha index lags; a zero-step job never got a runner
  .claude/rules/05-tooling.md
Due: none

docs(rules): gate the CI monitor on run completion, not a fixed sleep
  .claude/hooks/pr-monitor-reminder.sh
  .claude/rules/05-tooling.md
  .claude/skills/tzurot-git-workflow/SKILL.md
  tracker/tasks/task-451 - The-canonical-CI-monitor-command-is-hand-synced-across-three-surfaces.md
Due: none

refactor(tooling): render ops CLI usage errors as one line, not a stack trace
  packages/tooling/src/cli.ts
  packages/tooling/src/commands/cache.ts
  packages/tooling/src/commands/deploy.ts
  packages/tooling/src/commands/gh.test.ts
  packages/tooling/src/commands/gh.ts
  packages/tooling/src/commands/memory.ts
  packages/tooling/src/commands/prompt.ts
  packages/tooling/src/commands/release.ts
  packages/tooling/src/commands/secrets.ts
  packages/tooling/src/memory/backfill-cli-helpers.test.ts
  packages/tooling/src/memory/backfill-cli-helpers.ts
  packages/tooling/src/utils/cli-args.test.ts
  packages/tooling/src/utils/cli-args.ts
  packages/tooling/src/utils/env-runner.ts
  packages/tooling/src/utils/errors.test.ts
  packages/tooling/src/utils/errors.ts
Due: integration

docs(backlog): file TASK-452 — harden the CI-monitor run-gate
  tracker/tasks/task-452 - Harden-the-CI-monitor-run-gate-named-workflow-assumption-silent-gh-api-failure-startup_failure-wait.md
Due: none

docs(backlog): file TASK-453 — tracker ids collide across concurrent branches
  tracker/tasks/task-453 - Tracker-task-ids-are-allocated-from-the-working-tree-so-concurrent-branches-collide-silently.md
Due: none

docs(backlog): file TASK-454 — unknown ops subcommand exits 0 silently
  tracker/tasks/task-454 - An-unknown-ops-subcommand-exits-0-silently-instead-of-erroring.md
Due: none

docs: close out the push queue — #1989 and #1990 merged, TASK-444 done
  CURRENT.md
  tracker/tasks/task-444 - Unify-ops-CLI-numeric-flag-error-reporting-a-throw-becomes-an-unhandled-rejection.md
Due: none

docs(backlog): file TASK-455 — session mining is blind to agent-side misses
  tracker/tasks/task-455 - Session-mining-only-sees-user-turns-so-agent-side-misses-the-owner-never-noticed-are-invisible.md
Due: none

chore(ci): guard the CI-monitor command against cross-surface drift
  .claude/rules/05-tooling.md
  .claude/skills/tzurot-git-workflow/SKILL.md
  .github/workflows/ci.yml
  docs/reference/tooling/OPS_CLI_REFERENCE.md
  package.json
  packages/tooling/src/audits/check-claude-content-refs.test.ts
  packages/tooling/src/commands/guard.ts
  packages/tooling/src/dev/check-monitor-command.test.ts
  packages/tooling/src/dev/check-monitor-command.ts
Due: integration

Path conditions:
  ai-worker: any of: services/ai-worker/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  api-gateway: any of: services/api-gateway/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  bot-client: any of: services/bot-client/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  common-types: any of: packages/common-types/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  integration: any of: services/, packages/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
