Repository lbds137/tzurot: changes, and which Codecov flags are due for each by the changed paths.
All: ai-worker, api-gateway, bot-client, common-types, integration

test(api-gateway): complete LlmConfig fixture cleanup post #1077
  backlog/deferred.md
  services/api-gateway/src/routes/admin/llm-config.test.ts
  services/api-gateway/src/routes/user/llm-config.test.ts
  services/api-gateway/src/services/LlmConfigService.test.ts
  services/api-gateway/src/services/LlmConfigService.ts
Due: api-gateway, integration

chore: bump version to 3.0.0-beta.125
  package.json
  packages/common-types/package.json
  packages/embeddings/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  tests/package.json
Due: ai-worker, api-gateway, bot-client, common-types, integration

fix: pre-release fixes for v3.0.0-beta.125 review findings
  services/api-gateway/src/routes/admin/llm-config.test.ts
  services/api-gateway/src/routes/admin/llm-config.ts
  services/bot-client/src/utils/GatewayClient.ts
Due: api-gateway, bot-client, integration

fix(api-gateway): unify admin auth header — X-User-Id only
  services/api-gateway/src/routes/admin/createPersonality.ts
  services/api-gateway/src/routes/admin/settings.test.ts
  services/api-gateway/src/routes/admin/settings.ts
  services/api-gateway/src/services/AuthMiddleware.test.ts
  services/api-gateway/src/services/AuthMiddleware.ts
  services/api-gateway/src/utils/configRouteHelpers.ts
Due: api-gateway, integration

docs(backlog): file quick-win for admin body→header auth migration
  backlog/quick-wins.md
Due: none

docs(tooling): schema-audit milestone-3 — upstream complement + user docs
  .claude/rules/03-database.md
  .github/pull_request_template.md
  docs/reference/tooling/schema-audit.md
Due: none

docs(backlog): move tts-config extractHandler item from inbox to deferred
  backlog/deferred.md
  backlog/inbox.md
Due: none

feat(tooling): scaffold pnpm ops dev:schema-audit (milestone-1)
  docs/proposals/backlog/schema-audit-tool-design.md
  packages/tooling/src/commands/dev.ts
  packages/tooling/src/dev/schema-audit.test.ts
  packages/tooling/src/dev/schema-audit.ts
Due: integration

docs: inbox cleared after PR #1073 shipped
  CURRENT.md
Due: none

docs(backlog): clear shipped audit findings + add RouterLayer extraction to follow-up
  backlog/inbox.md
Due: none

fix(bot-client): close 3 inbox items surfaced by release v3.0.0-beta.124 review
  backlog/inbox.md
  packages/common-types/src/constants/timing.ts
  services/bot-client/src/commands/admin/metrics.test.ts
  services/bot-client/src/commands/admin/metrics.ts
  services/bot-client/src/startup.test.ts
  services/bot-client/src/startup.ts
  services/bot-client/src/utils/GatewayClient.ts
  services/bot-client/src/utils/adminApiClient.ts
Due: bot-client, common-types, integration

docs(backlog): file Schema Audit findings (thin results post-Phase-5b)
  backlog/deferred.md
  backlog/future-themes.md
Due: none

fix(tooling): apply user-approved trio + PR #1076 round-2 review
  audit.config.ts
  backlog/deferred.md
  docs/reference/tooling/schema-audit.md
  eslint.config.js
  knip.json
  packages/tooling/src/dev/find-dead-files.test.ts
  packages/tooling/src/dev/find-dead-files.ts
  packages/tooling/src/dev/schema-audit-findings.ts
  packages/tooling/src/dev/schema-audit-parser.test.ts
  packages/tooling/src/dev/schema-audit-parser.ts
  packages/tooling/src/dev/schema-audit-reads.test.ts
  packages/tooling/src/dev/schema-audit-reads.ts
  packages/tooling/src/dev/schema-audit-report.ts
  packages/tooling/src/dev/schema-audit-suppression.test.ts
  packages/tooling/src/dev/schema-audit-suppression.ts
  packages/tooling/src/dev/schema-audit-test-helpers.test.ts
  packages/tooling/src/dev/schema-audit-test-helpers.ts
  packages/tooling/src/dev/schema-audit-writes.test.ts
  packages/tooling/src/dev/schema-audit-writes.ts
  packages/tooling/src/dev/schema-audit.test.ts
  packages/tooling/src/dev/schema-audit.ts
  prisma/schema.prisma
Due: integration

docs(backlog): clear PR #1074 follow-ups shipped in PR #1075
  backlog/inbox.md
Due: none

docs: post-release update — v3.0.0-beta.124 shipped
  CURRENT.md
Due: none

fix: address security-audit findings (4 items)
  services/ai-worker/src/jobs/PendingMemoryProcessor.test.ts
  services/ai-worker/src/jobs/PendingMemoryProcessor.ts
  services/ai-worker/src/services/UserReferenceResolver.ts
  services/api-gateway/src/routes/admin/denylist.test.ts
  services/api-gateway/src/routes/admin/denylist.ts
  services/api-gateway/src/routes/admin/diagnostic.test.ts
  services/api-gateway/src/routes/admin/diagnostic.ts
  services/api-gateway/src/routes/admin/llm-config.ts
  services/api-gateway/src/routes/admin/stopSequences.test.ts
  services/api-gateway/src/routes/admin/stopSequences.ts
  services/api-gateway/src/routes/admin/tts-config.test.ts
  services/api-gateway/src/routes/admin/tts-config.ts
  services/api-gateway/src/routes/admin/usage.test.ts
  services/api-gateway/src/routes/admin/usage.ts
  services/api-gateway/src/routes/wallet/listKeys.test.ts
  services/api-gateway/src/routes/wallet/listKeys.ts
Due: ai-worker, api-gateway, integration

docs(backlog): track tts-config.test.ts extractHandler migration
  backlog/inbox.md
Due: none

docs(backlog): file security-audit discovery findings (4 items)
  CURRENT.md
  backlog/inbox.md
Due: none

feat(tooling): schema-audit milestone-2 — Recipes Secondary/Tertiary + suppression
  packages/tooling/src/commands/dev.ts
  packages/tooling/src/dev/schema-audit-findings.ts
  packages/tooling/src/dev/schema-audit-parser.ts
  packages/tooling/src/dev/schema-audit-reads.ts
  packages/tooling/src/dev/schema-audit-report.ts
  packages/tooling/src/dev/schema-audit-suppression.ts
  packages/tooling/src/dev/schema-audit-writes.ts
  packages/tooling/src/dev/schema-audit.test.ts
  packages/tooling/src/dev/schema-audit.ts
Due: integration

feat(api-gateway): tighten LlmConfig memory defaults to NOT NULL
  audit.config.ts
  backlog/deferred.md
  docs/reference/tooling/schema-audit.md
  packages/common-types/src/schemas/api/llm-config.test.ts
  packages/common-types/src/schemas/api/llm-config.ts
  packages/test-utils/schema/pglite-schema.sql
  prisma/migrations/20260522000247_tighten_llm_config_memory_defaults/migration.sql
  prisma/schema.prisma
  services/api-gateway/src/routes/admin/llm-config.test.ts
  services/api-gateway/src/routes/user/llm-config.test.ts
  services/api-gateway/src/services/LlmConfigService.test.ts
  services/api-gateway/src/services/LlmConfigService.ts
Due: api-gateway, common-types, integration

docs(backlog): refresh CURRENT.md after PR #1076
  CURRENT.md
Due: none

fix(tooling): schema-audit — address PR #1076 round-1 review
  docs/proposals/backlog/schema-audit-tool-design.md
  docs/reference/tooling/schema-audit.md
  packages/tooling/src/dev/schema-audit-findings.test.ts
  packages/tooling/src/dev/schema-audit-parser.test.ts
  packages/tooling/src/dev/schema-audit-parser.ts
  packages/tooling/src/dev/schema-audit-reads.test.ts
  packages/tooling/src/dev/schema-audit-report.test.ts
  packages/tooling/src/dev/schema-audit-suppression.test.ts
  packages/tooling/src/dev/schema-audit-writes.test.ts
  packages/tooling/src/dev/schema-audit.test.ts
  packages/tooling/src/dev/schema-audit.ts
Due: integration

docs: refresh current-focus TTS candidate to reflect May 13 sweep
  backlog/current-focus.md
Due: none

fix(api-gateway): close PR #1074 follow-ups (admin auth coverage)
  services/api-gateway/src/routes/admin/denylist.test.ts
  services/api-gateway/src/routes/admin/diagnostic.test.ts
  services/api-gateway/src/routes/admin/llm-config.test.ts
  services/api-gateway/src/routes/admin/settings.test.ts
  services/api-gateway/src/routes/admin/settings.ts
  services/api-gateway/src/routes/admin/stopSequences.test.ts
  services/api-gateway/src/routes/admin/tts-config.test.ts
  services/api-gateway/src/routes/admin/usage.test.ts
  services/api-gateway/src/test/expressRouterUtils.test.ts
  services/api-gateway/src/test/expressRouterUtils.ts
Due: api-gateway, integration

fix(tooling): schema-audit — classifier recognises \`?? null\` / \`|| null\` patterns
  packages/tooling/src/dev/schema-audit-writes.ts
Due: integration

docs(backlog): file 2 follow-ups surfaced during PR #1074 round-4 review
  backlog/inbox.md
Due: none

docs: clear rehydration-chain deferred entries shipped in PR #1070
  CURRENT.md
  backlog/deferred.md
Due: none

docs: post-release update — v3.0.0-beta.125 shipped
  CURRENT.md
Due: none

docs: file periodic-audit-enforcement proposal (4-model council synthesis)
  docs/proposals/backlog/periodic-audit-enforcement.md
Due: none

docs(backlog): link periodic-audit-enforcement proposal from future-themes
  backlog/future-themes.md
Due: none

docs(backlog): triage proposal orphans + add structural orphan-check
  backlog/future-themes.md
  backlog/icebox.md
  docs/proposals/backlog/periodic-audit-enforcement.md
  docs/proposals/backlog/tts-phase-3-voice-consolidation-plan.md
Due: none

Path conditions:
  ai-worker: any of: services/ai-worker/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  api-gateway: any of: services/api-gateway/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  bot-client: any of: services/bot-client/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  common-types: any of: packages/common-types/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  integration: any of: services/, packages/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
