Repository lbds137/tzurot: changes, and which Codecov flags are due for each by the changed paths.
All: ai-worker, api-gateway, bot-client, common-types, integration

fix(bot-client): standardize shapes interaction routing through CommandHandler
  .claude/rules/04-discord.md
  services/bot-client/src/commands/shapes/auth.test.ts
  services/bot-client/src/commands/shapes/auth.ts
  services/bot-client/src/commands/shapes/import.test.ts
  services/bot-client/src/commands/shapes/import.ts
  services/bot-client/src/commands/shapes/index.ts
  services/bot-client/src/commands/shapes/interactionHandlers.test.ts
  services/bot-client/src/commands/shapes/interactionHandlers.ts
  services/bot-client/src/commands/shapes/list.test.ts
  services/bot-client/src/commands/shapes/list.ts
  services/bot-client/src/handlers/CommandHandler.int.test.ts
  services/bot-client/src/handlers/__snapshots__/CommandHandler.int.test.ts.snap
  services/bot-client/src/utils/customIds.ts
Due: bot-client, integration

feat(repo): avatar download, progress tracking, memory_only UI, markdown export
  services/ai-worker/src/jobs/ShapesImportJob.ts
  services/api-gateway/src/routes/user/shapes/import.ts
  services/bot-client/src/commands/shapes/export.ts
  services/bot-client/src/commands/shapes/import.ts
  services/bot-client/src/commands/shapes/index.ts
  services/bot-client/src/commands/shapes/status.ts
Due: ai-worker, api-gateway, bot-client, integration

fix(bot-client): add auth instructions, fix export timeout and markdown spacing
  services/bot-client/src/commands/shapes/auth.test.ts
  services/bot-client/src/commands/shapes/auth.ts
  services/bot-client/src/commands/shapes/export.ts
Due: bot-client, integration

fix(api-gateway): add import_jobs and user_credentials to db-sync exclusions
  services/api-gateway/src/services/sync/config/syncTables.ts
Due: api-gateway, integration

fix(ai-worker): create PersonalityOwner entry during shapes import
  services/ai-worker/src/jobs/ShapesImportHelpers.test.ts
  services/ai-worker/src/jobs/ShapesImportHelpers.ts
  services/ai-worker/src/jobs/ShapesImportJob.test.ts
Due: ai-worker, integration

refactor(embeddings): consolidate embedding model name to single source of truth
  packages/embeddings/src/constants.ts
  packages/embeddings/src/embeddingWorker.test.ts
  packages/embeddings/src/embeddingWorker.ts
Due: integration

fix(api-gateway): prevent SSRF in shapes.inc export URL interpolation
  .claude/rules/00-critical.md
  services/api-gateway/src/routes/user/shapes/export.ts
Due: api-gateway, integration

fix(repo): add unique constraint on export_jobs for parity with import_jobs
  packages/test-utils/schema/pglite-schema.sql
  prisma/migrations/20260217002525_add_export_jobs_unique_constraint/migration.sql
  prisma/schema.prisma
Due: integration

fix(repo): address second round of PR review feedback
  packages/common-types/src/types/shapes-import.ts
  services/ai-worker/src/jobs/ShapesExportFormatters.test.ts
  services/ai-worker/src/jobs/ShapesExportFormatters.ts
  services/ai-worker/src/jobs/ShapesExportJob.test.ts
  services/ai-worker/src/jobs/ShapesExportJob.ts
  services/api-gateway/src/routes/public/exports.test.ts
  services/api-gateway/src/routes/public/exports.ts
Due: ai-worker, api-gateway, common-types, integration

chore(repo): add schema-type unification to backlog
  BACKLOG.md
Due: none

feat(repo): shapes.inc character import — full pipeline
  packages/common-types/src/constants/queue.ts
  packages/common-types/src/index.ts
  packages/common-types/src/types/shapes-import.ts
  packages/common-types/src/utils/deterministicUuid.ts
  packages/test-utils/schema/pglite-schema.sql
  prisma/migrations/20260216184946_add_shapes_import_tables/migration.sql
  prisma/schema.prisma
  services/ai-worker/src/index.ts
  services/ai-worker/src/jobs/AIJobProcessor.int.test.ts
  services/ai-worker/src/jobs/AIJobProcessor.test.ts
  services/ai-worker/src/jobs/AIJobProcessor.ts
  services/ai-worker/src/jobs/ShapesImportJob.test.ts
  services/ai-worker/src/jobs/ShapesImportJob.ts
  services/ai-worker/src/services/shapes/ShapesDataFetcher.test.ts
  services/ai-worker/src/services/shapes/ShapesDataFetcher.ts
  services/ai-worker/src/services/shapes/ShapesPersonalityMapper.test.ts
  services/ai-worker/src/services/shapes/ShapesPersonalityMapper.ts
  services/api-gateway/src/routes/user/index.ts
  services/api-gateway/src/routes/user/shapes/auth.test.ts
  services/api-gateway/src/routes/user/shapes/auth.ts
  services/api-gateway/src/routes/user/shapes/import.test.ts
  services/api-gateway/src/routes/user/shapes/import.ts
  services/api-gateway/src/routes/user/shapes/index.ts
  services/api-gateway/src/utils/validatedQueue.ts
  services/bot-client/src/commands/shapes/auth.test.ts
  services/bot-client/src/commands/shapes/auth.ts
  services/bot-client/src/commands/shapes/import.test.ts
  services/bot-client/src/commands/shapes/import.ts
  services/bot-client/src/commands/shapes/index.ts
  services/bot-client/src/commands/shapes/logout.test.ts
  services/bot-client/src/commands/shapes/logout.ts
  services/bot-client/src/commands/shapes/modal.test.ts
  services/bot-client/src/commands/shapes/modal.ts
  services/bot-client/src/commands/shapes/status.test.ts
  services/bot-client/src/commands/shapes/status.ts
  services/bot-client/src/handlers/__snapshots__/CommandHandler.int.test.ts.snap
  services/bot-client/src/utils/customIds.ts
Due: ai-worker, api-gateway, bot-client, common-types, integration

docs(repo): shapes.inc import plan, doc cleanup, and backlog updates
  BACKLOG.md
  CURRENT.md
  docs/proposals/active/V2_FEATURE_TRACKING.md
  docs/proposals/active/shapes-inc-import-plan.md
  docs/proposals/backlog/SHAPES_INC_SLASH_COMMAND_DESIGN.md
  docs/proposals/backlog/config-cascade-design.md
  docs/proposals/backlog/ltm-context-separation.md
  docs/proposals/backlog/timeout-architecture-refactor.md
  docs/proposals/backlog/whisper-transcript-cleanup.md
Due: none

docs(repo): update shapes.inc import plan with API research findings
  BACKLOG.md
  CURRENT.md
  docs/proposals/active/shapes-inc-import-plan.md
Due: none

fix(api-gateway): address SSRF, Content-Disposition, and download safety fixes
  services/api-gateway/src/routes/public/exports.test.ts
  services/api-gateway/src/routes/public/exports.ts
  services/api-gateway/src/routes/user/shapes/export.ts
  services/api-gateway/src/routes/user/shapes/index.ts
Due: api-gateway, integration

fix(repo): support single appSession cookie in shapes auth
  services/api-gateway/src/routes/user/shapes/auth.test.ts
  services/api-gateway/src/routes/user/shapes/auth.ts
  services/bot-client/src/commands/shapes/auth.test.ts
  services/bot-client/src/commands/shapes/auth.ts
  services/bot-client/src/commands/shapes/modal.test.ts
  services/bot-client/src/commands/shapes/modal.ts
Due: api-gateway, bot-client, integration

fix(bot-client): address PR #654 review feedback
  services/bot-client/src/commands/shapes/import.test.ts
  services/bot-client/src/commands/shapes/interactionHandlers.test.ts
  services/bot-client/src/commands/shapes/interactionHandlers.ts
  services/bot-client/src/utils/customIds.ts
Due: bot-client, integration

fix(repo): add embeddingWorker.ts as knip entry point
  knip.json
Due: none

fix(repo): address third round of PR review feedback
  services/api-gateway/src/routes/public/exports.test.ts
  services/api-gateway/src/routes/user/shapes/export.ts
  services/bot-client/src/commands/shapes/auth.test.ts
  services/bot-client/src/commands/shapes/auth.ts
  services/bot-client/src/commands/shapes/status.test.ts
  services/bot-client/src/commands/shapes/status.ts
Due: api-gateway, bot-client, integration

feat(common-types): add Zod schemas and contract tests for shapes import jobs
  packages/common-types/src/types/jobs.test.ts
  packages/common-types/src/types/shapes-import.ts
  services/api-gateway/src/utils/validatedQueue.ts
Due: api-gateway, common-types, integration

fix(api-gateway): add format to export_jobs unique constraint
  packages/test-utils/schema/pglite-schema.sql
  prisma/migrations/20260217080602_add_format_to_export_jobs_unique/migration.sql
  prisma/schema.prisma
Due: integration

fix(embeddings): restore deleted embedding worker and model constant
  packages/embeddings/src/constants.ts
  packages/embeddings/src/embeddingWorker.ts
Due: integration

fix(api-gateway): handle variable memory response format from shapes.inc
  services/api-gateway/src/routes/user/shapes/export.test.ts
  services/api-gateway/src/routes/user/shapes/export.ts
Due: api-gateway, integration

fix(repo): address PR review feedback for async shapes export
  packages/common-types/src/types/jobs.test.ts
  packages/common-types/src/types/shapes-import.ts
  services/ai-worker/src/jobs/ShapesExportJob.test.ts
  services/ai-worker/src/jobs/ShapesExportJob.ts
  services/ai-worker/src/jobs/cleanupExpiredExports.test.ts
  services/api-gateway/src/routes/public/exports.test.ts
  services/api-gateway/src/routes/public/exports.ts
  services/api-gateway/src/routes/user/shapes/export.test.ts
  services/api-gateway/src/routes/user/shapes/export.ts
Due: ai-worker, api-gateway, common-types, integration

fix(embeddings): add as const to model name, document fake timer omission
  packages/embeddings/src/constants.ts
  packages/embeddings/src/embeddingWorker.test.ts
Due: integration

fix(bot-client): store slug in embed footer, fix list-next page, rename handler
  services/bot-client/src/commands/shapes/import.test.ts
  services/bot-client/src/commands/shapes/import.ts
  services/bot-client/src/commands/shapes/interactionHandlers.test.ts
  services/bot-client/src/commands/shapes/interactionHandlers.ts
  services/bot-client/src/utils/customIds.ts
Due: bot-client, integration

fix(api-gateway): use correct field names for shapes.inc memory API response
  services/api-gateway/src/routes/user/shapes/export.test.ts
  services/api-gateway/src/routes/user/shapes/export.ts
Due: api-gateway, integration

fix(bot-client): address PR review — list-next page bug, rename, length note
  services/bot-client/src/commands/shapes/interactionHandlers.test.ts
  services/bot-client/src/commands/shapes/interactionHandlers.ts
  services/bot-client/src/utils/customIds.ts
Due: bot-client, integration

fix(ai-worker): address PR review — birthday validation, dedup warning, batch size
  services/ai-worker/src/jobs/ShapesImportJob.ts
  services/ai-worker/src/jobs/cleanupStuckImportJobs.ts
  services/ai-worker/src/services/shapes/ShapesPersonalityMapper.test.ts
  services/ai-worker/src/services/shapes/ShapesPersonalityMapper.ts
Due: ai-worker, integration

docs(ai-worker): add JSDoc note on Feb 29 leap year tradeoff
  services/ai-worker/src/services/shapes/ShapesPersonalityMapper.ts
Due: ai-worker, integration

fix(ai-worker): address verified gaps in shapes.inc import pipeline
  BACKLOG.md
  CURRENT.md
  services/ai-worker/src/index.ts
  services/ai-worker/src/jobs/ShapesImportHelpers.test.ts
  services/ai-worker/src/jobs/ShapesImportHelpers.ts
  services/ai-worker/src/jobs/ShapesImportJob.test.ts
  services/ai-worker/src/jobs/ShapesImportJob.ts
  services/ai-worker/src/jobs/cleanupStuckImportJobs.test.ts
  services/ai-worker/src/jobs/cleanupStuckImportJobs.ts
  services/ai-worker/src/services/shapes/ShapesPersonalityMapper.test.ts
  services/ai-worker/src/services/shapes/ShapesPersonalityMapper.ts
Due: ai-worker, integration

chore(repo): remove legacy import scripts and completed proposal
  BACKLOG.md
  CURRENT.md
  docs/proposals/active/shapes-inc-import-plan.md
  package.json
  packages/tooling/README.md
  packages/tooling/src/cli.test.ts
  packages/tooling/src/cli.ts
  packages/tooling/src/commands/commands.test.ts
  packages/tooling/src/commands/data.ts
  packages/tooling/src/data/backup.ts
  packages/tooling/src/data/bulk-import.ts
  packages/tooling/src/data/data.test.ts
  packages/tooling/src/data/import-personality.ts
  packages/tooling/src/index.test.ts
  packages/tooling/src/index.ts
  scripts/data/backup-personalities-data.js
  scripts/data/import-personality/AvatarDownloader.ts
  scripts/data/import-personality/MemoryImporter.ts
  scripts/data/import-personality/PROGRESS.md
  scripts/data/import-personality/PersonalityMapper.ts
  scripts/data/import-personality/README.md
  scripts/data/import-personality/SESSION_SUMMARY.md
  scripts/data/import-personality/UUIDMapper.ts
  scripts/data/import-personality/analyze-lilith-migration.ts
  scripts/data/import-personality/bulk-import.ts
  scripts/data/import-personality/cleanup-migrated-memories.ts
  scripts/data/import-personality/completed-personalities.txt
  scripts/data/import-personality/fix-misclassified-legacy.ts
  scripts/data/import-personality/fix-userid-collections.ts
  scripts/data/import-personality/get-completed-personalities.sh
  scripts/data/import-personality/import-personality.ts
  scripts/data/import-personality/migrate-legacy-persona.ts
  scripts/data/import-personality/migrate-orphaned-memories.ts
  scripts/data/import-personality/package.json
  scripts/data/import-personality/test-custom-fields.ts
  scripts/data/import-personality/test-mapper.ts
  scripts/data/import-personality/tsconfig.json
  scripts/data/import-personality/types.ts
Due: integration

fix(repo): address PR review — cookie persistence, memory dedup, timeout clarity
  services/ai-worker/src/jobs/ShapesImportJob.test.ts
  services/ai-worker/src/jobs/ShapesImportJob.ts
  services/api-gateway/src/routes/user/shapes/export.ts
Due: ai-worker, api-gateway, integration

fix(ai-worker): prioritize recent memories in dedup, promote cleanup log level
  services/ai-worker/src/index.ts
  services/ai-worker/src/jobs/ShapesImportJob.ts
Due: ai-worker, integration

fix(repo): fold unique constraint into original export_jobs migration
  prisma/migrations/20260217002525_add_export_jobs_unique_constraint/migration.sql
  prisma/migrations/20260217035551_add_export_jobs/migration.sql
Due: none

fix(bot-client): address final PR #654 review feedback
  services/bot-client/src/commands/shapes/import.ts
  services/bot-client/src/commands/shapes/interactionHandlers.test.ts
  services/bot-client/src/commands/shapes/interactionHandlers.ts
  services/bot-client/src/utils/customIds.ts
Due: bot-client, integration

docs(repo): update CURRENT.md for beta.76 session end
  CURRENT.md
Due: none

fix(repo): shapes.inc export/import post-rollout fixes
  .claude/rules/03-database.md
  .claude/rules/05-tooling.md
  BACKLOG.md
  packages/common-types/src/types/shapes-import.ts
  services/ai-worker/src/index.ts
  services/ai-worker/src/jobs/ShapesExportFormatters.ts
  services/ai-worker/src/jobs/ShapesExportJob.test.ts
  services/ai-worker/src/jobs/ShapesExportJob.ts
  services/ai-worker/src/jobs/ShapesImportJob.test.ts
  services/ai-worker/src/jobs/ShapesImportJob.ts
  services/ai-worker/src/jobs/cleanupStuckExportJobs.test.ts
  services/ai-worker/src/jobs/cleanupStuckExportJobs.ts
  services/ai-worker/src/services/shapes/ShapesDataFetcher.test.ts
  services/ai-worker/src/services/shapes/ShapesDataFetcher.ts
  services/api-gateway/src/routes/user/shapes/export.ts
  services/api-gateway/src/routes/user/shapes/import.test.ts
  services/api-gateway/src/routes/user/shapes/import.ts
  services/bot-client/src/commands/shapes/export.ts
  services/bot-client/src/commands/shapes/import.ts
  services/bot-client/src/commands/shapes/interactionHandlers.ts
Due: ai-worker, api-gateway, bot-client, common-types, integration

fix(repo): address PR #658 review feedback
  services/ai-worker/src/jobs/ShapesExportFormatters.ts
  services/ai-worker/src/jobs/cleanupStuckExportJobs.ts
  services/ai-worker/src/jobs/cleanupStuckImportJobs.ts
  services/ai-worker/src/jobs/cleanupStuckJobs.test.ts
  services/ai-worker/src/jobs/cleanupStuckJobs.ts
  services/api-gateway/src/routes/user/shapes/export.ts
  services/bot-client/src/commands/shapes/export.ts
  services/bot-client/src/commands/shapes/import.ts
  services/bot-client/src/commands/shapes/interactionHandlers.ts
  services/bot-client/src/utils/errorSanitization.test.ts
  services/bot-client/src/utils/errorSanitization.ts
Due: ai-worker, api-gateway, bot-client, integration

fix(repo): address second round of PR #658 review feedback
  services/ai-worker/src/jobs/ShapesImportJob.ts
  services/ai-worker/src/jobs/ShapesImportMemories.test.ts
  services/ai-worker/src/jobs/ShapesImportMemories.ts
  services/api-gateway/src/routes/user/shapes/export.ts
  services/api-gateway/src/routes/user/shapes/import.test.ts
  services/api-gateway/src/routes/user/shapes/import.ts
  services/bot-client/src/utils/errorSanitization.test.ts
  services/bot-client/src/utils/errorSanitization.ts
Due: ai-worker, api-gateway, bot-client, integration

Path conditions:
  ai-worker: any of: services/ai-worker/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  api-gateway: any of: services/api-gateway/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  bot-client: any of: services/bot-client/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  common-types: any of: packages/common-types/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
  integration: any of: services/, packages/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, scripts/**, tzurot-legacy/**
