Repository lbds137/tzurot: changes, and which Codecov flags are due for each by the changed paths.
All: ai-worker, api-gateway, bot-client, common-types, integration

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 2%
        informational: false
    patch:
      default:
        target: 80%
        threshold: 5%
        informational: false

comment:
  layout: 'reach,diff,flags,tree,files'
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flag_management:
  default_rules:
    carryforward: true

flags:
  ai-worker:
    paths:
      - services/ai-worker/
  api-gateway:
    paths:
      - services/api-gateway/
  bot-client:
    paths:
      - services/bot-client/
  common-types:
    paths:
      - packages/common-types/
  # Integration tests cover all services
  integration:
    paths:
      - services/
      - packages/

ignore:
  - '**/*.test.ts'
  - '**/*.spec.ts'
  - '**/dist/**'
  - '**/node_modules/**'
  - 'scripts/**'
  - 'tzurot-legacy/**'

refactor(api-gateway): add isPublic field and cache invalidation to admin personality routes
  packages/common-types/src/schemas/api/personality.ts
  packages/common-types/src/types/personality.schema.test.ts
  services/api-gateway/src/routes/admin/createPersonality.ts
  services/api-gateway/src/routes/admin/index.ts
  services/api-gateway/src/routes/admin/updatePersonality.ts
Due: api-gateway, common-types, integration

fix(api-gateway): use PersonalityUncheckedCreateInput for direct FK pattern
  services/api-gateway/src/routes/admin/createPersonality.ts
Due: api-gateway, integration

fix: add source typecheck to quality script
  package.json
Due: none

fix(api-gateway): address PR #582 review feedback
  services/api-gateway/src/routes/admin/createPersonality.test.ts
  services/api-gateway/src/routes/admin/createPersonality.ts
  services/api-gateway/src/routes/admin/updatePersonality.test.ts
  services/api-gateway/src/routes/admin/updatePersonality.ts
Due: api-gateway, integration

chore: update backlog - fix phase labels, remove FK constraint item
  BACKLOG.md
Due: none

refactor(api-gateway): wire LlmConfigService into admin and user routes
  services/api-gateway/src/routes/admin/llm-config.test.ts
  services/api-gateway/src/routes/admin/llm-config.ts
  services/api-gateway/src/routes/user/llm-config.test.ts
  services/api-gateway/src/routes/user/llm-config.ts
Due: api-gateway, integration

fix(api-gateway): address PR #583 review feedback
  BACKLOG.md
  packages/common-types/src/schemas/api/personality.ts
  services/api-gateway/src/routes/admin/updatePersonality.test.ts
  services/api-gateway/src/routes/admin/updatePersonality.ts
Due: api-gateway, common-types, integration

fix(api-gateway): address PR #583 review feedback
  .github/workflows/ci.yml
  packages/common-types/src/schemas/api/personality.ts
  packages/common-types/src/types/personality.schema.test.ts
  services/api-gateway/src/routes/admin/createPersonality.ts
  services/api-gateway/src/routes/admin/updatePersonality.ts
Due: api-gateway, common-types, integration

refactor(api-gateway): use shared SELECT constants in user personality routes
  services/api-gateway/src/routes/user/personality/get.ts
  services/api-gateway/src/routes/user/personality/list.ts
Due: api-gateway, integration

chore: bump version to 3.0.0-beta.67
  package.json
Due: none

fix(api-gateway): address PR #584 review feedback
  packages/common-types/src/schemas/api/llm-config.ts
  services/api-gateway/src/routes/user/llm-config.test.ts
Due: common-types, integration

fix: add isForwarded to apiConversationMessageSchema
  packages/common-types/src/types/schemas.ts
Due: common-types, integration

fix: add validation bounds for context settings in create handler
  services/api-gateway/src/routes/user/llm-config.ts
Due: api-gateway, integration

fix: add hardcoded fallbacks for context settings
  packages/common-types/src/services/personality/PersonalityDefaults.test.ts
  packages/common-types/src/services/personality/PersonalityDefaults.ts
  services/bot-client/src/services/PersonalityMessageHandler.ts
Due: bot-client, common-types, integration

refactor: move LlmConfigResolver to common-types and update imports
  .claude/settings.json
  .claude/skills/tzurot-architecture/SKILL.md
  .claude/skills/tzurot-async-flow/SKILL.md
  .claude/skills/tzurot-caching/SKILL.md
  .claude/skills/tzurot-code-quality/SKILL.md
  .claude/skills/tzurot-council-mcp/SKILL.md
  .claude/skills/tzurot-db-vector/SKILL.md
  .claude/skills/tzurot-deployment/SKILL.md
  .claude/skills/tzurot-docs/SKILL.md
  .claude/skills/tzurot-git-workflow/SKILL.md
  .claude/skills/tzurot-observability/SKILL.md
  .claude/skills/tzurot-security/SKILL.md
  .claude/skills/tzurot-skills-guide/SKILL.md
  .claude/skills/tzurot-slash-command-ux/SKILL.md
  .claude/skills/tzurot-testing/SKILL.md
  .claude/skills/tzurot-tooling/SKILL.md
  .claude/skills/tzurot-types/SKILL.md
  CLAUDE.md
  packages/common-types/src/index.ts
  packages/common-types/src/schemas/api/adminSettings.ts
  packages/common-types/src/services/LlmConfigResolver.test.ts
  packages/common-types/src/services/LlmConfigResolver.ts
  services/ai-worker/src/index.ts
  services/ai-worker/src/jobs/AIJobProcessor.ts
  services/ai-worker/src/jobs/handlers/LLMGenerationHandler.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/AuthStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/AuthStep.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/ConfigStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/ConfigStep.ts
  services/api-gateway/src/routes/user/llm-config.ts
  services/bot-client/src/services/MessageContextBuilder.test.ts
Due: ai-worker, api-gateway, common-types, integration

test: add cascade priority test for PersonalityDefaults
  packages/common-types/src/services/personality/PersonalityDefaults.test.ts
Due: none

refactor(api-gateway): centralize LLM config schemas to prevent feature drift
  packages/common-types/src/schemas/api/llm-config.ts
  services/api-gateway/src/routes/admin/llm-config.test.ts
  services/api-gateway/src/routes/admin/llm-config.ts
  services/api-gateway/src/routes/user/llm-config.test.ts
  services/api-gateway/src/routes/user/llm-config.ts
  services/api-gateway/src/services/LlmConfigService.test.ts
  services/api-gateway/src/services/LlmConfigService.ts
Due: api-gateway, common-types, integration

docs: update CURRENT.md with Phase 2 PR status
  CURRENT.md
Due: none

fix: forwarded message detection and add config resolution integration test
  services/api-gateway/src/routes/user/llm-config.int.test.ts
  services/bot-client/src/services/PersonalityMessageHandler.test.ts
  services/bot-client/src/services/PersonalityMessageHandler.ts
  services/bot-client/src/utils/forwardedMessageUtils.test.ts
  services/bot-client/src/utils/forwardedMessageUtils.ts
  services/bot-client/src/utils/triStateHelpers.test.ts
Due: bot-client, integration

chore: remove disable-model-invocation from skills, improve error message
  .claude/skills/tzurot-architecture/SKILL.md
  .claude/skills/tzurot-async-flow/SKILL.md
  .claude/skills/tzurot-caching/SKILL.md
  .claude/skills/tzurot-code-quality/SKILL.md
  .claude/skills/tzurot-council-mcp/SKILL.md
  .claude/skills/tzurot-db-vector/SKILL.md
  .claude/skills/tzurot-deployment/SKILL.md
  .claude/skills/tzurot-docs/SKILL.md
  .claude/skills/tzurot-git-workflow/SKILL.md
  .claude/skills/tzurot-observability/SKILL.md
  .claude/skills/tzurot-security/SKILL.md
  .claude/skills/tzurot-skills-guide/SKILL.md
  .claude/skills/tzurot-slash-command-ux/SKILL.md
  .claude/skills/tzurot-testing/SKILL.md
  .claude/skills/tzurot-tooling/SKILL.md
  .claude/skills/tzurot-types/SKILL.md
  services/api-gateway/src/routes/user/llm-config.ts
Due: api-gateway, integration

refactor: remove MAX_HISTORY_FETCH constant, use DEFAULT_MAX_MESSAGES (50)
  packages/common-types/src/constants/message.ts
  services/bot-client/src/commands/character/chat.ts
  services/bot-client/src/services/MessageContextBuilder.test.ts
  services/bot-client/src/services/MessageContextBuilder.ts
  services/bot-client/src/services/PersonalityMessageHandler.ts
Due: bot-client, common-types, integration

fix(api-gateway): add context settings to admin llm-config endpoint
  services/api-gateway/src/routes/admin/llm-config.test.ts
  services/api-gateway/src/routes/admin/llm-config.ts
  services/bot-client/src/commands/preset/config.test.ts
Due: api-gateway, integration

refactor: extract magic numbers and add Discord persona utilities
  packages/common-types/src/constants/discord.test.ts
  packages/common-types/src/constants/discord.ts
  packages/common-types/src/constants/index.ts
  packages/common-types/src/services/resolvers/PersonaResolver.ts
  services/bot-client/src/commands/preset/presetSections.ts
Due: bot-client, common-types, integration

test(common-types): add schema drift regression tests for reactions
  packages/common-types/src/types/schemas.test.ts
Due: none

test: add schema drift regression tests for apiConversationMessageSchema
  BACKLOG.md
  packages/common-types/src/types/schemas.test.ts
Due: none

fix(api-gateway): add contract and integration tests for new schemas
  packages/common-types/src/schemas/api/llm-config.ts
  packages/common-types/src/types/llm-config.schema.test.ts
  services/api-gateway/src/services/LlmConfigService.int.test.ts
Due: common-types, integration

fix(api-gateway): address PR #582 review feedback
  .claude/rules/00-critical.md
  BACKLOG.md
  services/api-gateway/src/routes/admin/llm-config.ts
  services/api-gateway/src/routes/user/llm-config.ts
Due: api-gateway, integration
