Repository lbds137/tzurot: changes, and which Codecov flags are due for each by the changed paths.
All: ai-worker, api-gateway, bot-client, common-types, integration

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 2%
        informational: false
    patch:
      default:
        target: 80%
        threshold: 5%
        informational: false

comment:
  layout: 'reach,diff,flags,tree,files'
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flag_management:
  default_rules:
    carryforward: true

flags:
  ai-worker:
    paths:
      - services/ai-worker/
  api-gateway:
    paths:
      - services/api-gateway/
  bot-client:
    paths:
      - services/bot-client/
  common-types:
    paths:
      - packages/common-types/
  # Integration tests cover all services
  integration:
    paths:
      - services/
      - packages/

ignore:
  - '**/*.test.ts'
  - '**/*.spec.ts'
  - '**/dist/**'
  - '**/node_modules/**'
  - 'scripts/**'
  - 'tzurot-legacy/**'

docs(backlog): file trim-hysteresis as a Phase-2 design input
  backlog/active-epic.md
Due: none

docs(backlog): file two prod /inspect findings — reference duplication, query truncation
  tracker/tasks/task-392 - contextual_references-is-rendered-twice-per-request-—-system-prompt-AND-user-message.md
  tracker/tasks/task-393 - Memory-search-embeds-only-24-of-its-query-—-bge-small-caps-at-512-tokens-references-never-reach-it.md
Due: none

feat(ai-worker,bot-client): ship the three parked observability one-liners
  packages/clients/src/routes/manifest.test.ts
  services/ai-worker/src/services/prompt/referenceRole.test.ts
  services/ai-worker/src/services/prompt/referenceRole.ts
  services/bot-client/src/utils/autocomplete/autocompleteCache.test.ts
  services/bot-client/src/utils/autocomplete/autocompleteCache.ts
Due: ai-worker, bot-client, integration

docs(backlog): mark TASK-359 Done
  tracker/tasks/task-359 - Stickers-in-referenced-quoted-messages-are-not-vision-described.md
Due: none

fix(common-types): model backtick runs so double-backtick spans read as code
  packages/common-types/src/utils/codeSpanDetection.test.ts
  packages/common-types/src/utils/codeSpanDetection.ts
  services/ai-worker/src/utils/responseArtifacts.test.ts
  services/ai-worker/src/utils/responseArtifacts.ts
  services/ai-worker/src/utils/thinkingExtraction.test.ts
  services/ai-worker/src/utils/thinkingExtraction.ts
Due: ai-worker, common-types, integration

feat(ai-worker): surface provider cache telemetry in diagnostics + /inspect
  packages/common-types/src/types/diagnostic.ts
  services/ai-worker/src/services/ConversationalRAGService.ts
  services/ai-worker/src/services/DiagnosticCollector.test.ts
  services/ai-worker/src/services/DiagnosticCollector.ts
  services/ai-worker/src/services/LLMInvoker.test.ts
  services/ai-worker/src/services/LLMInvoker.ts
  services/ai-worker/src/services/diagnostics/DiagnosticRecorders.test.ts
  services/ai-worker/src/services/diagnostics/DiagnosticRecorders.ts
  services/ai-worker/src/services/diagnostics/DiagnosticTypes.ts
  services/ai-worker/src/services/modelFactory/extractOpenRouterReasoning.test.ts
  services/ai-worker/src/services/modelFactory/extractOpenRouterReasoning.ts
  services/bot-client/src/commands/inspect/embed.test.ts
  services/bot-client/src/commands/inspect/embed.ts
Due: ai-worker, bot-client, common-types, integration

feat(tooling): cache:prefix-diff — the provider-cache miss debugger
  packages/tooling/src/cache/prefix-diff.test.ts
  packages/tooling/src/cache/prefix-diff.ts
  packages/tooling/src/commands/cache.ts
  packages/tooling/src/inspect/tts-configs.test.ts
  packages/tooling/src/inspect/tts-configs.ts
  packages/tooling/src/utils/cli-args.test.ts
  packages/tooling/src/utils/cli-args.ts
  packages/tooling/src/utils/env-runner.test.ts
  packages/tooling/src/utils/env-runner.ts
Due: integration

chore: bump version to 3.0.0-beta.190
  package.json
  packages/cache-invalidation/package.json
  packages/clients/package.json
  packages/common-types/package.json
  packages/config-resolver/package.json
  packages/conversation-history/package.json
  packages/embeddings/package.json
  packages/identity/package.json
  packages/test-factories/package.json
  packages/test-utils/package.json
  packages/tooling/package.json
  scripts/package.json
  services/ai-worker/package.json
  services/api-gateway/package.json
  services/bot-client/package.json
  services/website/package.json
  tests/package.json
Due: ai-worker, api-gateway, bot-client, common-types, integration

docs: record #1900 + the task-393 resume point (allocation A/B arms)
  CURRENT.md
Due: none

feat(ai-worker): cap attachment text in memory-search query at half the embed window
  services/ai-worker/src/services/eval/allocationArms.test.ts
  services/ai-worker/src/services/eval/allocationArms.ts
  services/ai-worker/src/services/prompt/SearchQueryBuilder.test.ts
  services/ai-worker/src/services/prompt/SearchQueryBuilder.ts
  services/ai-worker/src/services/prompt/searchQueryBudget.test.ts
  services/ai-worker/src/services/prompt/searchQueryBudget.ts
Due: ai-worker, integration

feat(tooling): mine attachment-bearing goldens for the search-query allocation A/B
  packages/tooling/src/commands/memory.ts
  packages/tooling/src/memory/mine-attachment-goldens.test.ts
  packages/tooling/src/memory/mine-attachment-goldens.ts
  packages/tooling/src/memory/mine-conversation-goldens.ts
Due: integration

feat(ai-worker): absolute-only timestamps in chat_log entries
  packages/common-types/src/utils/dateFormatting.test.ts
  packages/common-types/src/utils/dateFormatting.ts
  services/ai-worker/src/jobs/utils/conversationUtils.test.ts
  services/ai-worker/src/jobs/utils/conversationUtils.ts
  services/ai-worker/src/services/prompt/QuoteFormatter.ts
Due: ai-worker, common-types, integration

refactor(ai-worker): extract shared oldestHistoryMs eval helper (task-263)
  services/ai-worker/src/services/eval/attachmentAllocationPooling.eval.test.ts
  services/ai-worker/src/services/eval/factPooling.eval.test.ts
  services/ai-worker/src/services/eval/foldAwarePooling.eval.test.ts
  services/ai-worker/src/services/eval/poolingArms.test.ts
  services/ai-worker/src/services/eval/poolingArms.ts
Due: ai-worker, integration

docs(backlog): close 377/388, record 375's evidence and 373's permanent gap
  tracker/tasks/task-373 - Audit-content-that-QUOTES-our-control-syntax-—-every-parse-site-not-just-thinking-tags.md
  tracker/tasks/task-375 - Does-CHIMERA_ARTIFACT_PATTERN-still-earn-its-keep-now-that-tng-r1t-chimera-is-gone.md
  tracker/tasks/task-377 - isInsideCodeSpan-does-not-model-Markdown-double-backtick-spans.md
  tracker/tasks/task-388 - Extract-the-code-markup-gated-replace-so-thinkingExtraction-stops-indexing-offsets-positionally.md
  tracker/tasks/task-391 - glm-4.5-air-can-produce-empty-visible-content-and-force-a-full-generation-retry.md
Due: none

docs(rules): the producer is authoritative on what a field holds
  .claude/rules/00-critical.md
Due: none

docs(backlog): correct TASK-385's seam-test acceptance before building it
  tracker/tasks/task-385 - Resolve-extended-context-images-at-the-pipeline-front-door-kill-the-absence-as-protocol-seam.md
Due: none

refactor(ai-worker): typed prompt sections (behavior-preserving)
  packages/common-types/src/types/diagnostic.ts
  services/ai-worker/src/services/ContentBudgetManager.test.ts
  services/ai-worker/src/services/ContentBudgetManager.ts
  services/ai-worker/src/services/ConversationalRAGService.test.ts
  services/ai-worker/src/services/ConversationalRAGService.ts
  services/ai-worker/src/services/ConversationalRAGTypes.ts
  services/ai-worker/src/services/DiagnosticCollector.test.ts
  services/ai-worker/src/services/DiagnosticCollector.ts
  services/ai-worker/src/services/PromptBuilder.test.ts
  services/ai-worker/src/services/PromptBuilder.ts
  services/ai-worker/src/services/diagnostics/DiagnosticRecorders.test.ts
  services/ai-worker/src/services/diagnostics/DiagnosticRecorders.ts
  services/ai-worker/src/services/prompt/MemoryFormatter.ts
  services/ai-worker/src/services/prompt/ParticipantFormatter.ts
  services/ai-worker/src/services/prompt/sections.test.ts
  services/ai-worker/src/services/prompt/sections.ts
  services/ai-worker/src/test/mocks/PromptBuilder.mock.ts
Due: ai-worker, common-types, integration

docs(backlog): close TASK-385 — front-door resolution shipped in #1894
  tracker/tasks/task-385 - Resolve-extended-context-images-at-the-pipeline-front-door-kill-the-absence-as-protocol-seam.md
Due: none

fix(ai-worker): remove the second reference dedup the enricher subsumes
  services/ai-worker/src/services/ConversationInputProcessor.test.ts
  services/ai-worker/src/services/ConversationInputProcessor.ts
  services/ai-worker/src/services/ConversationalRAGService.ts
  services/ai-worker/src/services/ResponsePostProcessor.test.ts
  services/ai-worker/src/services/ResponsePostProcessor.ts
Due: ai-worker, integration

docs(backlog): record batches 8-10, freshness-check TASK-77 (trigger not fired)
  CURRENT.md
  tracker/tasks/task-77 - PipelineStepstatus-error-reachable-via-per-step-trycatch.md
Due: none

feat(ai-worker): restructure the prompt into S0/S1/V tiers (cacheable prefix)
  packages/common-types/src/types/diagnostic.ts
  services/ai-worker/src/services/ContentBudgetManager.test.ts
  services/ai-worker/src/services/ContentBudgetManager.ts
  services/ai-worker/src/services/ConversationalRAGService.test.ts
  services/ai-worker/src/services/ConversationalRAGService.ts
  services/ai-worker/src/services/ConversationalRAGTypes.ts
  services/ai-worker/src/services/DiagnosticCollector.ts
  services/ai-worker/src/services/PromptBuilder.test.ts
  services/ai-worker/src/services/PromptBuilder.ts
  services/ai-worker/src/services/__snapshots__/PromptBuilder.test.ts.snap
  services/ai-worker/src/services/diagnostics/DiagnosticRecorders.test.ts
  services/ai-worker/src/services/diagnostics/DiagnosticRecorders.ts
  services/ai-worker/src/services/diagnostics/DiagnosticTypes.ts
  services/ai-worker/src/services/diagnostics/messageConversion.test.ts
  services/ai-worker/src/services/diagnostics/messageConversion.ts
  services/ai-worker/src/services/prompt/HardcodedConstraints.test.ts
  services/ai-worker/src/services/prompt/HardcodedConstraints.ts
  services/ai-worker/src/services/prompt/MemoryFormatter.test.ts
  services/ai-worker/src/services/prompt/MemoryFormatter.ts
  services/ai-worker/src/services/prompt/ParticipantFormatter.ts
  services/ai-worker/src/services/prompt/PromptLogger.ts
  services/ai-worker/src/services/prompt/sections.test.ts
  services/ai-worker/src/services/prompt/sections.ts
  services/ai-worker/src/test/mocks/PromptBuilder.mock.ts
  services/ai-worker/src/utils/responseArtifacts.test.ts
  services/ai-worker/src/utils/responseArtifacts.ts
  services/bot-client/src/commands/inspect/views.test.ts
  services/bot-client/src/commands/inspect/views.ts
  tracker/tasks/task-401 - cache-prefix-diff-follow-ups-limit-ceiling-Cache-Commands-doc-section.md
Due: ai-worker, bot-client, common-types, integration

docs(backlog): measure the prompt-cache prefix — Phase 0 buys ~0, and 2 depends on 1
  tracker/docs/doc-17 - Theme-Provider-Prompt-Caching-cost-reduction-epic.md
  tracker/tasks/task-392 - contextual_references-is-rendered-twice-per-request-—-system-prompt-AND-user-message.md
Due: none

docs(backlog): file TASK-399 — tzurot-docs session-start checklist drift
  tracker/tasks/task-399 - tzurot-docs-Session-Start-Procedure-has-drifted-from-06-backlog-§-Starting-a-Session.md
Due: none

docs(backlog): close the task-393 goldens gap via #1900; file task-400 dead schema field
  tracker/tasks/task-393 - Memory-search-embeds-only-24-of-its-query-—-bge-small-caps-at-512-tokens-references-never-reach-it.md
  tracker/tasks/task-400 - messageMetadata.attachmentDescriptions-is-schema-only-—-no-producer-no-reader.md
Due: none

docs(backlog): close TASK-395, correct TASK-164's residual-exposure premise
  tracker/tasks/task-164 - deriveRefRole-name-match-fallback-can-promote-a-name-colliding-human-to-assistan.md
  tracker/tasks/task-395 - Three-approved-observability-one-liners-from-beta.189-that-never-shipped.md
Due: none

docs(backlog): close TASK-383 — serial-dispatch hypothesis disproven by prod data
  tracker/tasks/task-383 - Reference-vision-jobs-may-run-serially-—-4-images-cost-47.8s.md
Due: none

docs(backlog): mark TASK-382 Done
  tracker/tasks/task-382 - filterDuplicateReferences-re-runs-a-dedup-the-enricher-already-did-on-mismatched-key-spaces.md
Due: none

docs(backlog): close task-393 — attachment search budget shipped in #1902
  CURRENT.md
  tracker/tasks/task-393 - Memory-search-embeds-only-24-of-its-query-—-bge-small-caps-at-512-tokens-references-never-reach-it.md
Due: none

docs: reset CURRENT.md for beta.189 — release procedure step 9
  CURRENT.md
Due: none

fix(embeddings): make silent input-window truncation observable
  packages/embeddings/src/LocalEmbeddingService.test.ts
  packages/embeddings/src/LocalEmbeddingService.ts
  packages/embeddings/src/constants.ts
  packages/embeddings/src/embeddingWorker.test.ts
  packages/embeddings/src/embeddingWorker.ts
  packages/embeddings/src/index.ts
  packages/embeddings/src/inputWindow.test.ts
  packages/embeddings/src/inputWindow.ts
  packages/embeddings/src/types.ts
  services/ai-worker/src/services/prompt/SearchQueryBuilder.test.ts
  services/ai-worker/src/services/prompt/SearchQueryBuilder.ts
  tracker/tasks/task-394 - A-future-transformers.js-upgrade-could-silently-stop-the-embedding-overflow-warn.md
Due: ai-worker, integration

feat(ai-worker): attachment-allocation A/B eval — pooling, scoring, shared arm runners
  package.json
  services/ai-worker/src/services/eval/allocationArms.test.ts
  services/ai-worker/src/services/eval/allocationArms.ts
  services/ai-worker/src/services/eval/attachmentAllocationPooling.eval.test.ts
  services/ai-worker/src/services/eval/attachmentAllocationScoring.eval.test.ts
  services/ai-worker/src/services/eval/poolingArms.test.ts
  services/ai-worker/src/services/eval/poolingArms.ts
  services/ai-worker/src/services/eval/qrelsReconciliation.ts
Due: ai-worker, integration

feat(bot-client): describe stickers on referenced and forwarded messages
  packages/common-types/src/services/stickerVisionGate.test.ts
  packages/common-types/src/services/stickerVisionGate.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/DownloadAttachmentsStep.ts
  services/ai-worker/src/services/AttachmentProcessor.test.ts
  services/ai-worker/src/services/AttachmentProcessor.ts
  services/api-gateway/src/index.ts
  services/api-gateway/src/utils/jobChainOrchestrator.test.ts
  services/api-gateway/src/utils/jobChainOrchestrator.ts
  services/bot-client/src/handlers/references/MessageFormatter.test.ts
  services/bot-client/src/handlers/references/MessageFormatter.ts
  services/bot-client/src/handlers/references/SnapshotFormatter.test.ts
  services/bot-client/src/handlers/references/SnapshotFormatter.ts
  services/bot-client/src/utils/forwardedMessageUtils.test.ts
  services/bot-client/src/utils/forwardedMessageUtils.ts
  services/bot-client/src/utils/stickerAttachments.test.ts
  services/bot-client/src/utils/stickerAttachments.ts
  tracker/tasks/task-364 - Deduped-references-drop-image-descriptions-—-vision-spend-is-computed-then-discarded.md
  tracker/tasks/task-397 - Forwarded-non-rasterizable-stickers-are-invisible-SnapshotFormatter-never-renders-the-name-line.md
  tracker/tasks/task-398 - Heal-on-read-re-describes-history-stickers-with-no-stickerVisionEnabled-gate.md
Due: ai-worker, api-gateway, bot-client, common-types, integration

docs(backlog): split TASK-393 — measurement shipped, allocation blocked on goldens
  tracker/tasks/task-393 - Memory-search-embeds-only-24-of-its-query-—-bge-small-caps-at-512-tokens-references-never-reach-it.md
Due: none

refactor(ai-worker): resolve extended-context images at the pipeline front door
  services/ai-worker/src/jobs/handlers/LLMGenerationHandler.ts
  services/ai-worker/src/jobs/handlers/pipeline/index.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/DependencyStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/DependencyStep.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/DownloadAttachmentsStep.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/ExtendedContextResolutionStep.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/ExtendedContextResolutionStep.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/extendedContextVisionSeam.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/types.ts
  tracker/tasks/task-396 - Watch-extended-context-images-now-hit-the-queue-age-gate-and-could-hard-fail-where-they-previously-succeeded.md
Due: ai-worker, integration

refactor(ai-worker): delete anti-cache measures and dead o-series transform
  packages/tooling/src/dev/check-prompt-tags.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/RetryDecisionHelper.test.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/RetryDecisionHelper.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/duplicateRetry.ts
  services/ai-worker/src/services/ContentBudgetManager.ts
  services/ai-worker/src/services/ConversationalRAGService.ts
  services/ai-worker/src/services/ConversationalRAGTypes.ts
  services/ai-worker/src/services/LLMInvoker.test.ts
  services/ai-worker/src/services/LLMInvoker.ts
  services/ai-worker/src/services/PromptBuilder.test.ts
  services/ai-worker/src/services/PromptBuilder.ts
  services/ai-worker/src/services/__snapshots__/PromptBuilder.test.ts.snap
  services/ai-worker/src/utils/duplicateDetection.test.ts
  services/ai-worker/src/utils/duplicateDetection.ts
  services/ai-worker/src/utils/reasoningModelUtils.test.ts
  services/ai-worker/src/utils/reasoningModelUtils.ts
Due: ai-worker, integration

docs(backlog): file the three approved one-liners as TASK-395 before they rot
  CURRENT.md
  tracker/tasks/task-395 - Three-approved-observability-one-liners-from-beta.189-that-never-shipped.md
Due: none

docs: reset CURRENT.md for beta.190 — release procedure step 9
  CURRENT.md
  tracker/tasks/task-402 - Retention-nag-embed-show-username-alongside-the-user-ID.md
  tracker/tasks/task-403 - inspect-dedicated-Cache-view-in-More-diagnostic-views.md
Due: none

docs: record the first rolling-cohort retention run (10 purged, 3 warned)
  CURRENT.md
Due: none

docs: retention run close-out — all 3 warned users bounced, purged on owner call
  CURRENT.md
Due: none

docs(backlog): file TASK-404 — ops logs --since silently filters everything out
  tracker/tasks/task-404 - ops-logs-since-returns-zero-rows-for-lines-that-exist-in-window.md
Due: none
