Repository lbds137/tzurot: changes, and which Codecov flags are due for each by the changed paths.
All: ai-worker, api-gateway, bot-client, common-types, integration

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 2%
        informational: false
    patch:
      default:
        target: 80%
        threshold: 5%
        informational: false

comment:
  layout: 'reach,diff,flags,tree,files'
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flag_management:
  default_rules:
    carryforward: true

flags:
  ai-worker:
    paths:
      - services/ai-worker/
  api-gateway:
    paths:
      - services/api-gateway/
  bot-client:
    paths:
      - services/bot-client/
  common-types:
    paths:
      - packages/common-types/
  # Integration tests cover all services
  integration:
    paths:
      - services/
      - packages/

ignore:
  - '**/*.test.ts'
  - '**/*.spec.ts'
  - '**/dist/**'
  - '**/node_modules/**'
  - 'scripts/**'
  - 'tzurot-legacy/**'

feat(tooling): add --suppressions flag to xray for tech debt auditing
  .claude/skills/tzurot-arch-audit/SKILL.md
  packages/tooling/src/commands/xray.ts
  packages/tooling/src/xray/analyzer.test.ts
  packages/tooling/src/xray/analyzer.ts
  packages/tooling/src/xray/formatters/suppressions.test.ts
  packages/tooling/src/xray/formatters/suppressions.ts
  packages/tooling/src/xray/types.ts
Due: integration

feat(tooling): add `pnpm ops xray` TypeScript AST analysis tool
  packages/tooling/package.json
  packages/tooling/src/cli.ts
  packages/tooling/src/commands/xray.ts
  packages/tooling/src/xray/analyzer.test.ts
  packages/tooling/src/xray/analyzer.ts
  packages/tooling/src/xray/file-discovery.test.ts
  packages/tooling/src/xray/file-discovery.ts
  packages/tooling/src/xray/file-parser.test.ts
  packages/tooling/src/xray/file-parser.ts
  packages/tooling/src/xray/formatters/json.ts
  packages/tooling/src/xray/formatters/markdown.ts
  packages/tooling/src/xray/formatters/terminal.ts
  packages/tooling/src/xray/types.ts
  pnpm-lock.yaml
Due: integration

refactor(ai-worker): extract OpenRouterFetch and CacheKeyBuilder from ModelFactory
  services/ai-worker/src/services/ModelFactory.ts
  services/ai-worker/src/services/modelFactory/CacheKeyBuilder.ts
  services/ai-worker/src/services/modelFactory/OpenRouterFetch.ts
  services/ai-worker/src/services/modelFactory/index.ts
Due: ai-worker, integration

fix(api-gateway): use Zod error extraction in persona settings route
  services/api-gateway/src/routes/user/persona/settings.ts
Due: api-gateway, integration

refactor(common-types): colocate schema tests and fix enforcement gaps
  packages/common-types/src/structure.test.ts
  packages/tooling/src/test/audit-unified.ts
Due: integration

fix(bot-client): remove trailing whitespace in redis.ts
  services/bot-client/src/redis.ts
Due: bot-client, integration

refactor: split oversized PromptBuilder.ts and DatabaseSyncService.ts
  services/ai-worker/src/services/PromptBuilder.ts
  services/ai-worker/src/services/prompt/PromptLogger.ts
  services/ai-worker/src/services/prompt/SearchQueryBuilder.ts
  services/api-gateway/src/routes/user/personality/delete.ts
  services/api-gateway/src/routes/user/personality/helpers.ts
  services/api-gateway/src/routes/user/personality/update.ts
  services/api-gateway/src/routes/user/personality/visibility.ts
  services/api-gateway/src/services/DatabaseSyncService.ts
  services/api-gateway/src/services/sync/SyncUpsertBuilder.ts
Due: ai-worker, api-gateway, integration

refactor(api-gateway): remove last req.body cast in generate.ts debug logging
  services/api-gateway/src/routes/ai/generate.ts
Due: api-gateway, integration

refactor(api-gateway): standardize sendZodError in channel and generate routes
  services/api-gateway/src/routes/ai/generate.ts
  services/api-gateway/src/routes/user/channel/activate.ts
  services/api-gateway/src/routes/user/channel/deactivate.ts
  services/api-gateway/src/routes/user/channel/updateGuild.ts
Due: api-gateway, integration

refactor(bot-client): split 6 files exceeding 400-line max-lines limit
  packages/common-types/src/structure.test.ts
  services/bot-client/src/commands/character/chat.ts
  services/bot-client/src/commands/character/chatResponseSender.ts
  services/bot-client/src/commands/character/dashboard.ts
  services/bot-client/src/commands/character/dashboardDeleteHandlers.ts
  services/bot-client/src/commands/memory/search.ts
  services/bot-client/src/commands/memory/searchDetailActions.ts
  services/bot-client/src/services/DiscordChannelFetcher.ts
  services/bot-client/src/services/MessageContextBuilder.ts
  services/bot-client/src/services/channelFetcher/SyncExecutor.ts
  services/bot-client/src/services/contextBuilder/ReferenceExtractor.ts
  services/bot-client/src/utils/dashboard/settings/SettingsDashboardHandler.ts
  services/bot-client/src/utils/dashboard/settings/SettingsSessionStorage.ts
Due: bot-client, integration

docs: update session docs for architectural tooling completion
  BACKLOG.md
  CURRENT.md
Due: none

feat(tooling): integrate dependency-cruiser, knip, and doc-audit skill
  .claude/hooks/skill-eval.sh
  .claude/rules/05-tooling.md
  .claude/skills/tzurot-doc-audit/SKILL.md
  .dependency-cruiser-baseline.json
  .dependency-cruiser.cjs
  .github/workflows/ci.yml
  .husky/pre-push
  docs/reference/STATIC_ANALYSIS.md
  knip.json
  package.json
  packages/tooling/src/xray/analyzer.ts
  pnpm-lock.yaml
Due: integration

chore: configure knip false positives for phase 2
  knip.json
Due: none

fix(tooling): add spawn error logging and Prisma version comment
  packages/tooling/src/db/create-safe-migration.ts
Due: integration

docs: mark extendedContext column cleanup complete in BACKLOG.md
  BACKLOG.md
Due: none

chore: remove dead exports and clean up knip findings
  knip.json
  packages/common-types/src/types/schemas/generation.ts
  services/ai-worker/src/services/diagnostics/DiagnosticRecorders.ts
  services/bot-client/src/commands/character/browse.ts
  services/bot-client/src/commands/character/dashboardButtons.ts
  services/bot-client/src/commands/character/edit.ts
  services/bot-client/src/commands/persona/dashboard.ts
  services/bot-client/src/services/contextBuilder/ReferenceExtractor.ts
Due: ai-worker, bot-client, common-types, integration

docs: full documentation audit — fix drift, delete stale, write postmortems
  .claude/rules/02-code-standards.md
  .claude/rules/03-database.md
  .claude/rules/04-discord.md
  .claude/skills/tzurot-doc-audit/SKILL.md
  README.md
  docs/README.md
  docs/incidents/PROJECT_POSTMORTEMS.md
  docs/migration/COMMAND_MIGRATION_BETA9.md
  docs/migration/PERSONA_MIGRATION_GUIDE.md
  docs/migration/SHAPES_INC_IMPORT_PLAN.md
  docs/migration/SHAPES_INC_MIGRATION_REFERENCE.md
  docs/proposals/backlog/DURATION_UTILITY.md
  docs/proposals/backlog/GIT_HOOK_IMPROVEMENTS.md
  docs/proposals/backlog/MEMORY_MANAGEMENT_COMMANDS.md
  docs/proposals/backlog/message-reference-extractor-refactor-plan.md
  docs/reference/STATIC_ANALYSIS.md
  docs/reference/tooling/OPS_CLI_REFERENCE.md
Due: none

test(common-types): add tests for createIORedisClient factory
  packages/common-types/src/utils/redis.test.ts
  packages/common-types/src/utils/redis.ts
Due: common-types, integration

feat(tooling): add --summary flag, CI timeout fix, and xray documentation
  .claude/rules/05-tooling.md
  docs/reference/tooling/OPS_CLI_REFERENCE.md
  packages/tooling/README.md
  packages/tooling/src/commands/xray.ts
  packages/tooling/src/xray/analyzer.test.ts
  packages/tooling/src/xray/analyzer.ts
  packages/tooling/src/xray/file-parser.test.ts
  packages/tooling/src/xray/formatters/markdown.ts
  packages/tooling/src/xray/formatters/terminal.ts
  packages/tooling/src/xray/types.ts
Due: integration

refactor(ai-worker): extract diagnostic recorders from ConversationalRAGService
  services/ai-worker/src/services/ConversationalRAGService.ts
  services/ai-worker/src/services/diagnostics/DiagnosticRecorders.ts
Due: ai-worker, integration

docs: add Architecture Health epic, absorb redundant backlog items
  BACKLOG.md
Due: none

docs: remove completed suppression audit follow-ups from backlog
  BACKLOG.md
Due: none

fix(ai-worker,common-types,bot-client): improve forwarded message handling and link resolution
  packages/common-types/src/services/ConversationMessageMapper.test.ts
  packages/common-types/src/services/ConversationMessageMapper.ts
  packages/common-types/src/types/schemas.ts
  services/ai-worker/src/services/PromptBuilder.test.ts
  services/ai-worker/src/services/RAGUtils.test.ts
  services/ai-worker/src/services/RAGUtils.ts
  services/ai-worker/src/services/multimodal/VisionProcessor.ts
  services/bot-client/src/services/ConversationPersistence.test.ts
  services/bot-client/src/services/ConversationPersistence.ts
  services/bot-client/src/services/DiscordChannelFetcher.ts
  services/bot-client/src/services/channelFetcher/HistoryMerger.ts
  services/bot-client/src/utils/HistoryLinkResolver.test.ts
  services/bot-client/src/utils/HistoryLinkResolver.ts
Due: ai-worker, bot-client, common-types, integration

docs: add architecture audit skill, connect rule to enforcement
  .claude/rules/01-architecture.md
  .claude/skills/README.md
  .claude/skills/tzurot-arch-audit/SKILL.md
Due: none

refactor(common-types): split schemas.ts into domain-specific modules
  packages/common-types/src/constants/error.ts
  packages/common-types/src/index.ts
  packages/common-types/src/services/ConversationHistoryService.ts
  packages/common-types/src/services/ConversationMessageMapper.ts
  packages/common-types/src/services/LlmConfigResolver.test.ts
  packages/common-types/src/services/LlmConfigResolver.ts
  packages/common-types/src/services/personality/PersonalityDefaults.ts
  packages/common-types/src/services/personality/PersonalityService.ts
  packages/common-types/src/types/api-types.ts
  packages/common-types/src/types/jobs.ts
  packages/common-types/src/types/schemas.test.ts
  packages/common-types/src/types/schemas.ts
  packages/common-types/src/types/schemas/discord.ts
  packages/common-types/src/types/schemas/generation.ts
  packages/common-types/src/types/schemas/historyApi.ts
  packages/common-types/src/types/schemas/index.ts
  packages/common-types/src/types/schemas/message.ts
  packages/common-types/src/types/schemas/personality.ts
  packages/common-types/src/utils/environmentFormatter.test.ts
  packages/common-types/src/utils/environmentFormatter.ts
Due: common-types, integration

refactor: delete unused files and enum members
  docs/reference/standards/FOLDER_STRUCTURE.md
  services/bot-client/src/handlers/references/types.ts
  services/bot-client/src/services/ConversationPersistence.test.ts
  services/bot-client/src/test/types.ts
  services/bot-client/src/utils/referenceFormatter.ts
Due: bot-client, integration

feat(common-types, api-gateway): consolidate persona and model-override Zod schemas
  packages/common-types/src/schemas/api/adminSettings.test.ts
  packages/common-types/src/schemas/api/llm-config.test.ts
  packages/common-types/src/schemas/api/model-override.test.ts
  packages/common-types/src/schemas/api/model-override.ts
  packages/common-types/src/schemas/api/persona.test.ts
  packages/common-types/src/schemas/api/persona.ts
  packages/common-types/src/schemas/api/personality.test.ts
  packages/common-types/src/schemas/api/timezone.test.ts
  packages/common-types/src/schemas/api/wallet.test.ts
  packages/common-types/src/types/api-types.test.ts
  packages/common-types/src/types/channel.schema.test.ts
  packages/common-types/src/types/jobs.test.ts
  packages/common-types/src/types/schemas/historyApi.test.ts
  services/api-gateway/src/routes/user/model-override.ts
  services/api-gateway/src/routes/user/persona/crud.ts
  services/api-gateway/src/routes/user/persona/override.ts
  services/api-gateway/src/routes/user/persona/settings.ts
  services/api-gateway/src/routes/user/persona/types.ts
Due: api-gateway, common-types, integration

refactor(ai-worker): extract duplicate detection diagnostics from GenerationStep
  services/ai-worker/src/jobs/handlers/pipeline/steps/GenerationStep.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/duplicateDetectionDiagnostics.ts
  services/ai-worker/src/services/diagnostics/DiagnosticRecorders.ts
Due: ai-worker, integration

refactor(ai-worker): remove unused exports and types
  services/ai-worker/src/jobs/AIJobProcessor.ts
  services/ai-worker/src/jobs/CleanupDiagnosticLogs.ts
  services/ai-worker/src/jobs/handlers/pipeline/steps/RetryDecisionHelper.ts
  services/ai-worker/src/jobs/utils/conversationUtils.ts
  services/ai-worker/src/jobs/utils/participantUtils.ts
  services/ai-worker/src/jobs/utils/xmlMetadataFormatters.ts
  services/ai-worker/src/redis.ts
  services/ai-worker/src/services/ConversationalRAGService.ts
  services/ai-worker/src/services/DiagnosticCollector.ts
  services/ai-worker/src/services/KeyValidationService.ts
  services/ai-worker/src/services/LLMInvoker.ts
  services/ai-worker/src/services/MemoryRetriever.ts
  services/ai-worker/src/services/ModelFactory.ts
  services/ai-worker/src/services/PgvectorMemoryAdapter.ts
  services/ai-worker/src/services/PromptBuilder.ts
  services/ai-worker/src/services/ResponsePostProcessor.ts
  services/ai-worker/src/services/UserReferenceResolver.ts
  services/ai-worker/src/services/prompt/PersonalityFieldsFormatter.ts
  services/ai-worker/src/services/resolvers/index.ts
  services/ai-worker/src/test/mocks/ContextWindowManager.mock.ts
  services/ai-worker/src/test/mocks/LLMInvoker.mock.ts
  services/ai-worker/src/test/mocks/LongTermMemoryService.mock.ts
  services/ai-worker/src/test/mocks/MemoryRetriever.mock.ts
  services/ai-worker/src/test/mocks/PromptBuilder.mock.ts
  services/ai-worker/src/test/mocks/ReferencedMessageFormatter.mock.ts
  services/ai-worker/src/test/mocks/UserReferenceResolver.mock.ts
  services/ai-worker/src/test/mocks/fixtures/context.ts
  services/ai-worker/src/test/mocks/fixtures/personality.ts
  services/ai-worker/src/test/mocks/index.ts
  services/ai-worker/src/test/mocks/utils.mock.ts
  services/ai-worker/src/utils/crossTurnDetection.ts
  services/ai-worker/src/utils/duplicateDetection.ts
  services/ai-worker/src/utils/duplicateDetectionTypes.ts
  services/ai-worker/src/utils/errorHandling.ts
  services/ai-worker/src/utils/reasoningModelUtils.ts
  services/ai-worker/src/utils/retry.ts
  services/ai-worker/src/utils/thinkingExtraction.ts
Due: ai-worker, integration

refactor(repo): drop legacy extendedContext columns; fix non-interactive migrations
  .claude/rules/03-database.md
  .claude/rules/05-tooling.md
  .claude/skills/tzurot-db-vector/SKILL.md
  .husky/pre-commit
  packages/common-types/src/schemas/api/adminSettings.ts
  packages/test-utils/schema/pglite-schema.sql
  packages/tooling/src/db/create-safe-migration.test.ts
  packages/tooling/src/db/create-safe-migration.ts
  packages/tooling/src/db/run-migration.test.ts
  packages/tooling/src/db/run-migration.ts
  packages/tooling/src/utils/env-runner.test.ts
  packages/tooling/src/utils/env-runner.ts
  prisma/migrations/20260209002455_drop_legacy_extended_context_columns/migration.sql
  prisma/schema.prisma
Due: common-types, integration

test: add memoryList route tests, close coverage gaps in interactionHandlers
  packages/common-types/src/structure.test.ts
  services/api-gateway/src/routes/user/memoryList.test.ts
  services/bot-client/src/commands/memory/interactionHandlers.test.ts
Due: none

refactor: add colocated tests for extracted modules, narrow ESLint globs
  .claude/rules/02-code-standards.md
  eslint.config.js
  packages/common-types/src/structure.test.ts
  services/ai-worker/src/services/ModelFactory.test.ts
  services/ai-worker/src/services/diagnostics/DiagnosticRecorders.test.ts
  services/ai-worker/src/services/modelFactory/CacheKeyBuilder.test.ts
  services/ai-worker/src/services/modelFactory/OpenRouterFetch.test.ts
  services/bot-client/src/commands/character/chatResponseSender.test.ts
  services/bot-client/src/commands/character/dashboard.test.ts
  services/bot-client/src/commands/character/dashboardDeleteHandlers.test.ts
  services/bot-client/src/commands/memory/searchDetailActions.test.ts
  services/bot-client/src/services/channelFetcher/SyncExecutor.test.ts
  services/bot-client/src/services/contextBuilder/ReferenceExtractor.test.ts
  services/bot-client/src/utils/dashboard/settings/SettingsSessionStorage.test.ts
Due: none

refactor(ai-worker): extract patterns and batch resolvers from UserReferenceResolver
  services/ai-worker/src/services/UserReferenceResolver.ts
  services/ai-worker/src/services/reference/BatchResolvers.ts
  services/ai-worker/src/services/reference/UserReferencePatterns.ts
Due: ai-worker, integration

test(api-gateway): add colocated tests for expressRouterUtils
  services/api-gateway/src/test/expressRouterUtils.test.ts
Due: none

docs: update CURRENT.md and BACKLOG.md for code quality audit session
  BACKLOG.md
  CURRENT.md
Due: none

docs: update BACKLOG.md with Phase 3b completion
  BACKLOG.md
Due: none

docs: update BACKLOG.md and CURRENT.md for Phase 3+4 completion
  BACKLOG.md
  CURRENT.md
Due: none

test(api-gateway): update slug format test assertion for Zod validation
  services/api-gateway/src/routes/user/personality/update.test.ts
Due: none
