Repository lbds137/tzurot: changes, and which Codecov flags are due for each by the changed paths.
All: ai-worker, api-gateway, bot-client, common-types, integration

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 2%
        informational: false
    patch:
      default:
        target: 80%
        threshold: 5%
        informational: false

comment:
  layout: 'reach,diff,flags,tree,files'
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flag_management:
  default_rules:
    carryforward: true

flags:
  ai-worker:
    paths:
      - services/ai-worker/
  api-gateway:
    paths:
      - services/api-gateway/
  bot-client:
    paths:
      - services/bot-client/
  common-types:
    paths:
      - packages/common-types/
  # Integration tests cover all services
  integration:
    paths:
      - services/
      - packages/

ignore:
  - '**/*.test.ts'
  - '**/*.spec.ts'
  - '**/dist/**'
  - '**/node_modules/**'
  - 'scripts/**'
  - 'tzurot-legacy/**'

chore: tighten types + simplify spreads from PR #824 round 1 review
  services/api-gateway/src/types.ts
  services/bot-client/src/commands/preset/cloneName.test.ts
  services/bot-client/src/commands/preset/cloneName.ts
  services/bot-client/src/utils/userGatewayClient.ts
Due: api-gateway, bot-client, integration

fix(bot-client): pr #825 r9 — button order + eliminate double config build
  services/bot-client/src/commands/character/sectionContext.test.ts
  services/bot-client/src/commands/character/sectionContext.ts
  services/bot-client/src/commands/character/truncationWarning.test.ts
  services/bot-client/src/commands/character/truncationWarning.ts
Due: bot-client, integration

test(bot-client): cover new handleButton routing branches in dashboard.ts
  services/bot-client/src/commands/character/dashboard.test.ts
Due: none

fix(bot-client): pr #825 r6+r7 — source imports + guard tests for view_full/open_editor
  services/bot-client/src/commands/character/dashboard.test.ts
  services/bot-client/src/commands/character/sectionContext.test.ts
  services/bot-client/src/commands/character/sectionContext.ts
  services/bot-client/src/commands/character/truncationWarning.test.ts
  services/bot-client/src/commands/character/truncationWarning.ts
Due: bot-client, integration

fix(bot-client): address PR #825 R1 + R2 review items
  services/bot-client/src/commands/character/dashboard.ts
  services/bot-client/src/commands/character/sectionContext.test.ts
  services/bot-client/src/commands/character/sectionContext.ts
  services/bot-client/src/commands/character/truncationWarning.test.ts
  services/bot-client/src/commands/character/truncationWarning.ts
Due: bot-client, integration

docs(repo): backlog — remove db-sync blocker entry (fixed via ouroboros)
  BACKLOG.md
Due: none

chore(bot-client): drop redundant startTime param from scheduleOrphanSweep
  services/bot-client/src/services/JobTracker.ts
Due: bot-client, integration

feat(repo): make circular not-null fks deferrable for db-sync ouroboros pattern
  prisma/drift-ignore.json
  prisma/migrations/20260418010642_make_circular_fks_deferrable/migration.sql
Due: none

chore(repo): pr #828 review polish before release merge
  packages/common-types/src/schemas/api/llm-config.ts
  scripts/migrations/repair-llm-config-rfc-uuids.ts
  services/api-gateway/src/services/DatabaseSyncService.ts
Due: api-gateway, common-types, integration

docs(repo): reset CURRENT.md unreleased section + add beta.100 to releases
  CURRENT.md
Due: none

chore(repo): backlog hygiene — remove shipped items + refresh header
  BACKLOG.md
Due: none

chore(bot-client): hoist userId const in verifyNsfwUser
  services/bot-client/src/utils/nsfwVerification.ts
Due: bot-client, integration

chore(repo): allow Monitor tool in project permissions
  .claude/settings.json
Due: none

chore(api-gateway): replace time-bound comment in removeKey.test.ts
  services/api-gateway/src/routes/wallet/removeKey.test.ts
Due: none

refactor(api-gateway,common-types): address PR #830 R2 perf review
  packages/common-types/src/services/UserService.ts
  services/api-gateway/src/services/AuthMiddleware.ts
Due: api-gateway, common-types, integration

chore(repo): backlog update — Phase 5c PR A + PR B on develop, PR C scope expanded
  BACKLOG.md
Due: none

docs(repo): session end 2026-04-18 — Phase 5c PR A + PR B shipped to develop
  CURRENT.md
Due: none

feat(voice-engine,ai-worker): transcode TTS output to opus by default
  services/ai-worker/src/services/voice/VoiceEngineClient.test.ts
  services/ai-worker/src/services/voice/VoiceEngineClient.ts
  services/ai-worker/src/services/voice/ttsSynthesizer.test.ts
  services/ai-worker/src/services/voice/ttsSynthesizer.ts
  services/voice-engine/server.py
  services/voice-engine/tests/test_openai_compat.py
  services/voice-engine/tests/test_tts.py
Due: ai-worker, integration

feat(bot-client): attach over-size notice when voice exceeds discord limit
  services/bot-client/src/services/DiscordResponseSender.test.ts
  services/bot-client/src/services/DiscordResponseSender.ts
Due: bot-client, integration

chore(repo): backlog updates — TTS silent-drop root cause + follow-ups
  BACKLOG.md
Due: none

fix(voice-engine,ci): mock _encode_opus in openai-compat tests + add pytest to pre-push
  .husky/pre-push
  services/voice-engine/tests/test_openai_compat.py
Due: integration

fix(voice-engine): address pr #831 review — simplify except + add oserror test
  services/voice-engine/server.py
  services/voice-engine/tests/test_tts.py
Due: integration

chore(repo): backlog — 8 mb/mib terminology + ai-parrots-user-input
  BACKLOG.md
Due: none

chore(repo): backlog — near-duplicate consecutive replies slipped past crossturndetection
  BACKLOG.md
Due: none

feat(ai-worker): strip leading verbatim echo of user message from response
  services/ai-worker/src/services/ConversationalRAGService.ts
  services/ai-worker/src/services/ResponsePostProcessor.test.ts
  services/ai-worker/src/services/ResponsePostProcessor.ts
  services/ai-worker/src/utils/responseArtifacts.test.ts
  services/ai-worker/src/utils/responseArtifacts.ts
Due: ai-worker, integration

chore(repo): remove resolved ai-parrots-user-input inbox entry
  BACKLOG.md
Due: none

refactor(ai-worker): address pr #832 review — fold prefix-match into walker + fix duplicate test
  services/ai-worker/src/utils/responseArtifacts.test.ts
  services/ai-worker/src/utils/responseArtifacts.ts
Due: ai-worker, integration
