Repository lbds137/tzurot: changes, and which Codecov flags are due for each by the changed paths.
All: ai-worker, api-gateway, bot-client, common-types, integration

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 2%
        informational: false
    patch:
      default:
        target: 80%
        threshold: 5%
        informational: false

comment:
  layout: 'reach,diff,flags,tree,files'
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flag_management:
  default_rules:
    carryforward: true

flags:
  ai-worker:
    paths:
      - services/ai-worker/
  api-gateway:
    paths:
      - services/api-gateway/
  bot-client:
    paths:
      - services/bot-client/
  common-types:
    paths:
      - packages/common-types/
  # Integration tests cover all services
  integration:
    paths:
      - services/
      - packages/

ignore:
  - '**/*.test.ts'
  - '**/*.spec.ts'
  - '**/dist/**'
  - '**/node_modules/**'
  - 'scripts/**'
  - 'tzurot-legacy/**'

docs(repo): update CURRENT.md and BACKLOG.md after v3.0.0-beta.80 release
  BACKLOG.md
  CURRENT.md
Due: none

feat(ai-worker): format memories as numbered headings in Markdown export
  services/ai-worker/src/jobs/ShapesExportFormatters.test.ts
  services/ai-worker/src/jobs/ShapesExportFormatters.ts
Due: ai-worker, integration

fix(ai-worker): generalize trailing XML closing tag stripping
  services/ai-worker/src/utils/responseArtifacts.test.ts
  services/ai-worker/src/utils/responseArtifacts.ts
Due: ai-worker, integration

fix(bot-client): use snapshot content for deduped forwarded message stubs
  services/bot-client/src/handlers/references/ReferenceFormatter.test.ts
  services/bot-client/src/handlers/references/ReferenceFormatter.ts
Due: bot-client, integration

docs(repo): triage backlog and prioritize tech debt
  BACKLOG.md
Due: none

refactor(common-types): extract factory DeepPartial/deepMerge to shared utility
  packages/common-types/src/factories/factoryUtils.test.ts
  packages/common-types/src/factories/factoryUtils.ts
  packages/common-types/src/factories/index.ts
  packages/common-types/src/factories/llm-config.ts
  packages/common-types/src/factories/model-override.ts
  packages/common-types/src/factories/persona.ts
  packages/common-types/src/factories/timezone.ts
  packages/common-types/src/factories/wallet.ts
Due: common-types, integration

refactor(common-types): reduce dateFormatting internal self-clones
  packages/common-types/src/utils/dateFormatting.ts
Due: common-types, integration

refactor(bot-client,ai-worker): consolidate date formatting to common-types utilities
  packages/common-types/src/utils/dateFormatting.test.ts
  packages/common-types/src/utils/dateFormatting.ts
  services/ai-worker/src/jobs/ShapesExportFormatters.ts
  services/ai-worker/src/services/prompt/ParticipantFormatter.ts
  services/bot-client/src/commands/channel/browse.ts
  services/bot-client/src/commands/character/config.ts
  services/bot-client/src/commands/character/view.ts
  services/bot-client/src/commands/deny/browse.ts
  services/bot-client/src/commands/deny/detailTypes.ts
  services/bot-client/src/commands/history/stats.ts
  services/bot-client/src/commands/inspect/browse.test.ts
  services/bot-client/src/commands/inspect/browse.ts
  services/bot-client/src/commands/memory/browse.ts
  services/bot-client/src/commands/memory/detail.ts
  services/bot-client/src/commands/memory/formatters.test.ts
  services/bot-client/src/commands/memory/formatters.ts
  services/bot-client/src/commands/memory/search.ts
  services/bot-client/src/commands/memory/stats.ts
  services/bot-client/src/commands/shapes/statusFormatters.ts
Due: ai-worker, bot-client, common-types, integration

refactor(ai-worker): extract Shapes credential helpers
  services/ai-worker/src/jobs/ShapesExportJob.ts
  services/ai-worker/src/jobs/ShapesImportJob.ts
  services/ai-worker/src/jobs/shapesCredentials.test.ts
  services/ai-worker/src/jobs/shapesCredentials.ts
Due: ai-worker, integration

refactor(api-gateway): extract avatar processing utility
  services/api-gateway/src/routes/admin/createPersonality.ts
  services/api-gateway/src/routes/admin/updatePersonality.ts
  services/api-gateway/src/routes/user/personality/create.ts
  services/api-gateway/src/routes/user/personality/update.ts
  services/api-gateway/src/utils/avatarProcessor.test.ts
  services/api-gateway/src/utils/avatarProcessor.ts
Due: api-gateway, integration

refactor(api-gateway): extract setupDefaultLlmConfig helper
  services/api-gateway/src/routes/admin/createPersonality.ts
  services/api-gateway/src/routes/user/personality/create.ts
  services/api-gateway/src/utils/personalityHelpers.test.ts
  services/api-gateway/src/utils/personalityHelpers.ts
Due: api-gateway, integration

fix(bot-client): add formatDateShort to deny test mocks
  services/bot-client/src/commands/deny/browse.test.ts
  services/bot-client/src/commands/deny/detailTypes.test.ts
Due: none

refactor(repo): address PR review feedback
  packages/common-types/src/factories/factoryUtils.ts
  packages/common-types/src/utils/dateFormatting.ts
  services/ai-worker/src/jobs/shapesCredentials.test.ts
  services/bot-client/src/commands/inspect/browse.ts
Due: bot-client, common-types, integration

fix(repo): address follow-up PR review feedback
  services/ai-worker/src/jobs/shapesCredentials.test.ts
  services/bot-client/src/commands/inspect/browse.ts
Due: bot-client, integration

fix(ai-worker): revert time extraction to ISO split in ShapesExportFormatters
  services/ai-worker/src/jobs/ShapesExportFormatters.ts
Due: ai-worker, integration

test(ai-worker): remove misleading initial mock values in shapesCredentials tests
  services/ai-worker/src/jobs/shapesCredentials.test.ts
Due: none

refactor(common-types): add createEventValidator factory to BaseCacheInvalidationService
  packages/common-types/src/services/BaseCacheInvalidationService.test.ts
  packages/common-types/src/services/BaseCacheInvalidationService.ts
Due: common-types, integration

refactor(common-types): migrate cache invalidation services to event validator factory
  packages/common-types/src/services/ChannelActivationCacheInvalidationService.ts
  packages/common-types/src/services/ConfigCascadeCacheInvalidationService.ts
  packages/common-types/src/services/LlmConfigCacheInvalidationService.ts
Due: common-types, integration

refactor(bot-client): extract memory command personality resolution helpers
  services/bot-client/src/commands/memory/browse.ts
  services/bot-client/src/commands/memory/focus.ts
  services/bot-client/src/commands/memory/purge.ts
  services/bot-client/src/commands/memory/resolveHelpers.test.ts
  services/bot-client/src/commands/memory/resolveHelpers.ts
  services/bot-client/src/commands/memory/search.ts
  services/bot-client/src/commands/memory/stats.ts
Due: bot-client, integration

refactor(api-gateway): consolidate personality SELECT and response formatting
  services/api-gateway/src/routes/user/personality/formatters.ts
  services/api-gateway/src/routes/user/personality/get.ts
  services/api-gateway/src/routes/user/personality/update.ts
Due: api-gateway, integration

refactor(bot-client): extract shared import validation helpers
  services/bot-client/src/commands/character/import.ts
  services/bot-client/src/commands/preset/import.ts
  services/bot-client/src/utils/importValidation.test.ts
  services/bot-client/src/utils/importValidation.ts
Due: bot-client, integration

refactor(bot-client): extract chunked reply utility
  services/bot-client/src/commands/character/view.ts
  services/bot-client/src/commands/persona/view.ts
  services/bot-client/src/utils/chunkedReply.test.ts
  services/bot-client/src/utils/chunkedReply.ts
Due: bot-client, integration

test(api-gateway): add tests for personality response formatters
  services/api-gateway/src/routes/user/personality/formatters.test.ts
Due: none

fix(bot-client): fix typecheck error in resolveHelpers test
  services/bot-client/src/commands/memory/resolveHelpers.test.ts
Due: none

fix(bot-client): add missing afterEach(vi.restoreAllMocks) to new test files
  services/bot-client/src/commands/memory/resolveHelpers.test.ts
  services/bot-client/src/utils/chunkedReply.test.ts
Due: none

fix(bot-client): move import statements to top of file in import commands
  services/bot-client/src/commands/character/import.ts
  services/bot-client/src/commands/preset/import.ts
Due: bot-client, integration

fix(repo): address follow-up PR review feedback (round 2)
  packages/common-types/src/services/BaseCacheInvalidationService.ts
  services/bot-client/src/commands/memory/resolveHelpers.test.ts
Due: common-types, integration
